.form-container{
  margin-left: 50px;
}

tr>td{
  padding-bottom: 5px;
}

.indent{
  padding-left: 10px;
}

.nested-table{
  margin-left: 40px;
  width: 345px;
}

.nested-table td{
  padding-right: 10px;
}

.small-input{
  width: 30px;
}

.weekly-checkbox{
  margin-right: 17px;
}

.message{
  font-size: smaller;
}

select{
  margin-right: 10px;
}

.saved-schedules td{
  min-width: 150px;
}

.remove-schedule {
  cursor: pointer;
}

.schedule-info p {
  margin-bottom: .25rem;
}

.schedule-name {
  color: #1872ae;
  cursor: pointer;
}

.schedule-name:hover {
  text-decoration: underline;
}

.form-control-feedback {
  display: inline-block;
  color: red;
}

.has-danger > input{
  border-color: red;
}

.bad-schedule {
  color: red;
  display: inline-block;
  margin-left: 20px;
}

.visibility-hidden
{
  visibility: hidden;
}
