/* You can add global styles to this file, and also import other style files */

.k-dropdown .k-dropdown-wrap {
  border-color: #cccccc;
  background-color: white;
}

.k-pager-numbers .k-state-selected {
  background-color: #1872ae !important;
}

.k-grid {
  background-color: white !important;
}

.k-select {
  background-color: white !important;
}

.form-check {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 0;
}

.popover-body {
  padding: 0;
}

.btn-primary {
  color: #fff;
  background-color: #1872ae;
  border-color: #1872ae;
}

.btn-primary:hover {
  color: #fff;
  background-color: #125581;
  border-color: #114f78;
}

.btn-primary.disabled, .btn-primary:disabled{
  background-color: #1872ae;
  border-color: #1872ae;
  cursor: not-allowed;
  opacity: .65;
}

.has-danger .form-control {
  border-color: #d9534f;
}

.btn-group .btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.page-content > .col-12{
  padding-left: 0;
  padding-right: 0;
}

.arrow {
  right: .25em !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #fff;
  border-color: #ccc;
}

.badge-info {
  background-color: #5bc0de;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.fa-times {
  vertical-align: middle !important;
}

.modal-header {
  background-color: inherit !important;
}

.badge-success {
  background-color: #5cb85c;
}

.column-scroll-container {
  padding: 0;
  height: 100%;
}

.column-scroll-container .column-scroll-inner {
  padding-left: 15px;
  padding-right: 15px;
}

.scroll-y {
  height: 100%;
  overflow-y: auto;
}

.card-block {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.viewNamesDropdownList {
  .k-input {
    background-color: #fff;
  }
}

.k-list-optionlabel.k-state-selected {
  color: #fff !important;
  background-color: #1872ae !important;
}

.back-btn {
  padding: 0.375rem 0.95rem;
  margin-right: 0.65rem;
}

pf-job-description-job-compare-page,
pf-job-description-version-compare {
  .page-header {
    background-color: rgb(255, 252, 229) !important;
    border-bottom: 1px solid #CCC !important;
    white-space: nowrap !important;
    height: 68px !important;
  }
}

.job-description-history-modal {
  .modal-dialog {
    max-width: 600px;
  }
}

.history-list-container{
  overflow-y: auto;
  padding: 9px 14px;
  min-height: 110px;
  max-height: 300px;
  width: 550px;
}

.history-popover {

  &.bs-popover-bottom{
    left: inherit !important;
    right: 12px !important;
    max-width: none !important;
  }

  &.bs-popover-bottom::before,
  &.bs-popover-bottom::after {
    left: 85% !important;
  }

  .arrow {
    left: 87% !important;
  }
}

.text-area-rte-container {

  .ui-editor-toolbar {
    display: none;
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: 1px solid #ccc !important;
  }
}

.k-list .k-item.k-state-selected {
  color: #fff;
  background-color: #1872ae;
}

.pf-inner-page-content {
  height: calc(100vh - 130px);
  overflow: hidden;
  padding: 10px 0;
}

.route-for-approval-modal .modal-content{
  width: 650px;
}

pf-workflow-config {
  .dropdown-item.active, .dropdown-item:active {
    background-color: #1872ae;
  }
}
