@import 'colors';
@import 'styles';

.attachment {
  flex: 0 0 auto;
  margin-right: 10px;
}

.container {
  color: $community-sub-text-color;
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
  width: calc(100% + 15px);
  min-width: 85px;
  padding: 7px 8px 5px 5px;
  line-height: 0.1rem;
  font-size: 85%;
}

.icon {
  float: left;
  margin-right: 0.5rem;

  &.word {
    color: $community-word-badge-color;
  }
  &.pdf {
    color: $community-pdf-badge-color;
  }
  &.excel {
    color: $community-excel-badge-color;
  }
  &.image {
    color: $community-image-badge-color;
  }
  &.file {
    color: $community-attachment-link-color;
  }
}

.attachment-info {
  float: left;
}

.remove-btn {
  cursor: pointer;
  align-self: center;
  float: right;
}

.remove-btn:hover {
  color: $community-post-button-hover;
}
