pf-employees-page {
  .gridActionTemplate {
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    height: 35.75px !important;
    border: none !important;

    .flex-fill {
      flex: none !important;
    }
    .p-1 {
      padding: 0 !important;
    }
    .justify-content-end {
      width: 100%;
    }
  }

  .k-grid {
    border: 1px solid #dee2e6;
  }
}
