/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #FFFFFF !important;
}

.page-content {
  padding: 0;
  background-color: #f7f7f9 !important;
}
