@import 'colors';

:host{
  flex: 0 0 50%;
}

.job-description-container{
  flex:1;
  overflow-y:auto;
}

%info-row-shared{
  display: flex;
  padding: .65rem .25rem;
  border-bottom: 1px solid $border-grey;

  .label{
    font-weight: bold;
    width: 25%;
  }
}

.info-row{
  @extend %info-row-shared;
  min-height: 40px;
}

.info-row-flex-column{
  @extend %info-row-shared;
  flex-direction: column;
  border-bottom: none;
}
