<div class="left-sidebar-dock">
  <span (click)="toggle()">
    <span class="open-sidebar-icon-container"
          [style.display]="isOpen ? 'none' : 'flex'">
      <fa-icon class="open-sidebar-icon" icon="chevron-double-right" size="lg"></fa-icon>
    </span>
  </span>
  <div [ngClass]="{'left-sidebar-open': isOpen, 'left-sidebar-close': !isOpen}">
    <div class="sidebar-width">
      <div class="close-sidebar-icon p-2 d-flex">
        <h5>Fields</h5>
        <span (click)="toggle()"
              [style.display]="isOpen ? 'flex' : 'none'">
          <fa-icon class="close-icon"  icon="chevron-double-left" size="lg"></fa-icon>
        </span>
      </div>
      <pf-left-sidebar-existing-fields></pf-left-sidebar-existing-fields>
    </div>
  </div>
</div>
