<pf-data-grid
  [pageViewId]="'12147D19-592A-44AF-9696-7F5347873D5E'"
  [showTitle]="false"
  [showColumnChooser] ="false"
  [showFilterChooser] ="false"
  [allowExport]="false"
  [contentNoPadding]="true"
  [columnTemplates]="colTemplates"
  [inboundFilters]="filters"
  [defaultSort]="defaultSort"
  [showActionBar]="true"
  [actionBarClassName]="'employee-grid-action-bar'"
  [headerClassName]="'employee-grid-header'">
</pf-data-grid>

<ng-template #employeeColumn let-dataRow="dataRow">
  <ng-container *ngIf="dataRow['CompanyEmployees_First_Name'] || dataRow['CompanyEmployees_Last_Name']; else noEmployeeName">
    {{dataRow['CompanyEmployees_First_Name']}} {{dataRow['CompanyEmployees_Last_Name']}}
    <small> <em class="text-muted">({{dataRow['CompanyEmployees_Employee_ID']}})</em></small>
  </ng-container>
  <ng-template #noEmployeeName>
    {{dataRow['CompanyEmployees_Employee_ID']}}
  </ng-template>
</ng-template>
