<pf-data-grid
  [pageViewId]="pageViewId"
  [showTitle]="false"
  [showColumnChooser] ="false"
  [showFilterChooser] ="false"
  [allowExport]="false"
  [contentNoPadding]="true"
  [columnTemplates]="colTemplates"
  [inboundFilters]="filters"
  [defaultSort]="defaultSort"
  [showActionBar]="true"
  [actionBarClassName]="'employee-grid-action-bar ml-0 mt-1'"
  [headerClassName]="'employee-grid-header'"
  [gridGlobalFiltersTemplates]="globalFilterTemplates"
  [noRecordsFound]="'There are no employees in this Job.'">
</pf-data-grid>

<ng-template #employeeColumn let-dataRow="dataRow">
  <ng-container *ngIf="dataRow['CompanyEmployees_First_Name'] || dataRow['CompanyEmployees_Last_Name']; else noEmployeeName">
    {{dataRow['CompanyEmployees_First_Name']}} {{dataRow['CompanyEmployees_Last_Name']}}
    <small> <em class="text-muted">({{dataRow['CompanyEmployees_Employee_ID']}})</em></small>
  </ng-container>
  <ng-template #noEmployeeName>
    {{dataRow['CompanyEmployees_Employee_ID']}}
  </ng-template>
</ng-template>

<ng-template #payMarketFilter>
  <kendo-dropdownlist
    style="width: 250px"
    [(ngModel)]="selectedPayMarket"
    [textField]="'Value'"
    [valueField]="'Id'"
    [defaultItem]="{Value:'All Pay Markets', Id: null}"
    [data]="filteredPayMarketOptions"
    (valueChange)="handlePayMarketFilterChanged($event)"
    [filterable]="true"
    (filterChange)="handleFilter($event)"
    [attr.data-qa-id]="'ddm-operator-'+payMarketField.SourceName"
    class="k-dropdown-white form-control"
  >
  </kendo-dropdownlist>
</ng-template>
