<div class="row">
  <!-- drop downs -->
  <select class="custom-select"
          [(ngModel)]="selectedMapping">
    <!--TODO: | async -->
    <option *ngFor="let mapping of this.savedMappings$"
            [value]="mapping.MappingId"
            [selected]="mapping.MappingId === -1">{{mapping.MappingName}}</option>
  </select>
</div>
<div class="row">
  <div id="column1container"
       class="col">
    <!-- entity info -->
    <h5 class="mb-0">Jobs</h5>
    <div class="text-info small py-2">download sample template</div>
    <div class="rounded p-2 template-background">
      <b>Note:</b> File must be in csv format and the file must begin with 'jobs'.
    </div>
  </div>
  <div id="column3container"
       class="col">

    <kendo-upload [autoUpload]="false"
                  [saveUrl]="uploadSaveUrl"
                  [removeUrl]="uploadRemoveUrl">
    </kendo-upload>


  </div>
</div>