<div class="row my-2 py-3 rounded"
     [style.background-color]="'white'"
     *ngFor="let entity of selectedEntities()">
  <div id="column1container"
       class="col">
    <h5>{{entity.DisplayText}}</h5>

    <div class="rounded px-3 py-4 template-background">
      <b>Note:</b> File must be in csv format and file name must begin with '{{entity.FileBeginsWith}}'.
    </div>
  </div>
  <div id="column3container"
       class="col">
    <div class="h-100 mx-2">
      <pf-file-upload #fileUpload
                      (onFileDropped)="entity.File = $event"
                      (onColumnNamesRetrieved)="entity.columnNames = $event"
                      (onFileRemoved)="entity.File = null"
                      (onLoadingFinished)="entity.isLoadingFinish = $event"
                      [selectedFile]="entity.File"
                      [validFileExtensions]="['.csv']"
                      [validFileStartsWith]="entity.FileBeginsWith"
                      [delimiter]="selectedDelimiter"
                      [QAInputId]="entity.FileBeginsWith"></pf-file-upload>
    </div>
  </div>
</div>

<div class="w-50">
  <div class="row ">
    <div class="form-group w-100 ">
      <label for="mappingSelector"><strong>Use a saved mapping or map fields manually in next step</strong></label>
      <select class="form-control"
              (ngModelChange)="mappingChange($event)"
              [ngModel]="selectedMapping"
              id="mappingSelector"
              [disabled]="HasAnyFiles()">
        <option *ngFor="let mapping of this.mappingOptions"
                [ngValue]="mapping">{{mapping.GroupName}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group w-100 ">
      <label for="delimSelector"><strong>Provide a delimiter type</strong></label>
      <input type="text"
             maxlength="1"
             id="delimSelector"
             name="delimSelector"
             class="form-control"
             [ngModel]="selectedDelimiter"
             (ngModelChange)="delimiterChange($event)"
             [disabled]="HasAnyFiles()">
    </div>
  </div>
</div>