<pf-async-container [loading]="loadingExchangeJobComparisons$ | async" [loadingError]="loadingExchangeJobComparisonsError$ | async"
  [hideReloadButton]="true">

  <kendo-grid class="no-wrap-ellipsis-values"
              height="100%"
              [ngClass]="(exchangeJobComparisonsGridData$ | async)?.total == 0 ? 'no-grid-data' : 'row-click-selects'"
              [data]="exchangeJobComparisonsGridData$ | async"
              [pageSize]="exchangeJobComparisonGridState?.take"
              [skip]="exchangeJobComparisonGridState?.skip"
              [sort]="exchangeJobComparisonGridState?.sort"
              [filter]="exchangeJobComparisonGridState?.filter"
              [pageable]="true"
              [sortable]="true"
              [selectable]="{
                mode: 'single'
              }"
              [kendoGridSelectBy]="'ExchangeJobToCompanyJobId'"
              [selectedKeys]="selectedKeys"
              (selectionChange)="onSelectionChange($event)"
              filterable="menu"
              (dataStateChange)="handleDataStateChange($event)">
    <kendo-grid-column field="CompanyJobCode" title="Company Job Code" width="15">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <span title="{{column.title}}">{{column.title}}</span>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-contains-operator></kendo-filter-contains-operator>
          <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span [attr.data-qa-id]="'row-' + rowIndex">{{dataItem.CompanyJobCode}}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="CompanyJobTitle" title="Company Job Title" width="25">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <span title="{{column.title}}">{{column.title}}</span>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-contains-operator></kendo-filter-contains-operator>
          <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ExchangeJobTitle" title="Exchange Job Title" width="25">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <span title="{{column.title}}">{{column.title}}</span>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-contains-operator></kendo-filter-contains-operator>
          <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ExchangeOrgs" title="Exchg Orgs" class="text-right" width="8">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <span title="{{column.title}}">{{column.title}}</span>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-numeric-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-gte-operator></kendo-filter-gte-operator>
          <kendo-filter-gt-operator></kendo-filter-gt-operator>
          <kendo-filter-lte-operator></kendo-filter-lte-operator>
          <kendo-filter-lt-operator></kendo-filter-lt-operator>
        </kendo-grid-numeric-filter-menu>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.ExchangeOrgs | number}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ExchangeIncs" title="Exchg Incs" class="text-right" width="8">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <span title="{{column.title}}">{{column.title}}</span>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-numeric-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-gte-operator></kendo-filter-gte-operator>
          <kendo-filter-gt-operator></kendo-filter-gt-operator>
          <kendo-filter-lte-operator></kendo-filter-lte-operator>
          <kendo-filter-lt-operator></kendo-filter-lt-operator>
        </kendo-grid-numeric-filter-menu>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.ExchangeIncs | number}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [field]="companyBaseAverageField" title="Company Base Avg" width="12" class="text-right" headerClass="text-right">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <span title="{{column.title}}">{{column.title}}</span>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-numeric-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-gte-operator></kendo-filter-gte-operator>
          <kendo-filter-gt-operator></kendo-filter-gt-operator>
          <kendo-filter-lte-operator></kendo-filter-lte-operator>
          <kendo-filter-lt-operator></kendo-filter-lt-operator>
        </kendo-grid-numeric-filter-menu>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem[companyBaseAverageField] != null ? (dataItem[companyBaseAverageField] | number: digitsInfo) : '- -'}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [field]="exchangeBaseAverageField" title="Exchange Base Avg" width="12" class="text-right" headerClass="text-right">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <span title="{{column.title}}">{{column.title}}</span>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-numeric-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-gte-operator></kendo-filter-gte-operator>
          <kendo-filter-gt-operator></kendo-filter-gt-operator>
          <kendo-filter-lte-operator></kendo-filter-lte-operator>
          <kendo-filter-lt-operator></kendo-filter-lt-operator>
        </kendo-grid-numeric-filter-menu>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem[exchangeBaseAverageField] != null ? (dataItem[exchangeBaseAverageField] | number: digitsInfo) : '- -'}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [field]="exchangeIndexField" title="Market Index" width="10" class="text-right" headerClass="text-right">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <span title="{{column.title}}">{{column.title}}</span>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-numeric-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-gte-operator></kendo-filter-gte-operator>
          <kendo-filter-gt-operator></kendo-filter-gt-operator>
          <kendo-filter-lte-operator></kendo-filter-lte-operator>
          <kendo-filter-lt-operator></kendo-filter-lt-operator>
        </kendo-grid-numeric-filter-menu>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <span *ngIf="dataItem[exchangeIndexField]" [ngClass]="getExchangeIndexFontColorClass(dataItem[exchangeIndexField])">
          {{getExchangeIndexValue(dataItem[exchangeIndexField])}}
        </span>
        <ng-container *ngIf="!dataItem.ExchangeIndex">
          - -
        </ng-container>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridNoRecordsTemplate *ngIf="(companyContext$ | async)?.GroupName == 'Peer Only'">
      <div class="text-center">
        To see a comparison of your company jobs to exchange jobs, you will need to upload a file containing your Company Job and Employee records.
        <br> Click <span class="pf-link-underline" (click)="openUploadOrgDataModal()">here</span> to load and transmit that data to Payfactors.
        <br> <br> If you have uploaded your data already, Payfactors is currently processing the organizational data files you had previously uploaded.
        <br> Check this grid at a later time.
      </div>
    </ng-template>
    <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
      <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
      <kendo-pager-next-buttons></kendo-pager-next-buttons>
      <kendo-pager-info [attr.data-qa-id]="'lbl-kendoPagerInfo'"></kendo-pager-info>
      <div class="footer-filter">
        <label for="country-dropdown">Market: </label>
        <kendo-dropdownlist
          id="country-dropdown"
          [attr.data-qa-id]="'ddm-country-dropdown'"
          (valueChange)="handleMarketFilterChanged($event)"
          [data]="marketFilterOptions"
          [textField]="'Value'"
          [valueField]="'Key'"
          [valuePrimitive]="true"
          [ngModel]="selectedMarket">

          <ng-template kendoDropDownListItemTemplate let-dataItem>
            <ng-container *ngTemplateOutlet="countryOptionTemplate; context: {dataItem: dataItem}"></ng-container>
          </ng-template>
          <ng-template kendoDropDownListValueTemplate let-dataItem>
            <ng-container *ngTemplateOutlet="countryOptionTemplate; context: {dataItem: dataItem}"></ng-container>
          </ng-template>

        </kendo-dropdownlist>
      </div>
      <div class="footer-filter">
        <label for="rates-dropdown">Rate: </label>
        <kendo-dropdownlist class="rates-dropdown"
                            id="rates-dropdown"
                            [attr.data-qa-id]="'ddm-rate'"
                            [data]="rates"
                            [textField]="'Name'"
                            [valueField]="'Value'"
                            [(ngModel)]="selectedRate"
                            (selectionChange)="handleRateSelectionChange($event)">
        </kendo-dropdownlist>
      </div>
      <div class="footer-filter">
        <pf-weighting-type-dropdown
          [selectedWeightingType]="selectedWeight"
          [includeLabel]="true"
          (weightingTypeChanged)="handleWeightingTypeChanged($event)">
        </pf-weighting-type-dropdown>
      </div>
    </ng-template>
  </kendo-grid>
</pf-async-container>
<ng-template #countryOptionTemplate let-dataItem="dataItem">
  <ng-container [ngSwitch]="dataItem?.Key">
              <span *ngSwitchCase="'ALL'">
                <fa-icon icon="globe-americas" class="mr-2" size="lg"></fa-icon> {{dataItem.Value}}
              </span>
    <span *ngSwitchCase="'USA'">
                <img src="assets/images/blank.gif" class="flag flag-us mr-2 mb-sm-1" /> {{dataItem.Value}}
              </span>
  </ng-container>
</ng-template>
