<div class="user-formula-card card">
  <div class="card-body">
    <div class="user-formula-container">
      <div class="d-flex justify-content-between">
        <div class="user-formula-display-name" title="{{field?.FormulaName}}">
          {{field?.FormulaName}}
        </div>
        <div class="formula-actions">
          <span class="editable-icon" title="Edit Formula" [attr.data-qa-id]="'edit-formula'"> <fa-icon icon="pencil" (click)="handleEditFormulaClick(field)"> </fa-icon> </span>
          <span class="delete-icon" title="Delete Formula" [attr.data-qa-id]="'delete-formula'"> <fa-icon icon="trash-alt" (click)="handleDeleteFormulaClick(field)"> </fa-icon> </span>
        </div>
      </div>
    </div>
  </div>
</div>
