@import 'structures-variables';

.job-range-model-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: $structures-font-size;
  padding: 28px;
  overflow-y: auto;
}

.main-container {
  -webkit-flex: 1 1 auto;
  overflow-y: hidden;
  height: 100%;
  display:flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-content: stretch;
  align-content: stretch;
  flex-flow: row nowrap
}

.modeling-data-container {
  justify-content: space-around;
}

.modeling-data-main {
  justify-content: space-around;
}

::ng-deep .modal-dialog {
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
}
