#users-search-results, #users-in-role {
  height: 280px;
}

.users-table-content {
  height: 235px;
}

.add-user-search{
  padding: 15px;
}

#add-users-to-role{
  width: 25%;
  padding-left: 15px;
}

.btn-container{
  float: right;
  margin-right: 30px;
  margin-bottom: 10px;
}

.btn-container .btn{
  margin-left: 10px;
}

.users-container{
  min-height:70vh;
}

.users-in-role-container {
  margin-top: 25px;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tr:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}

.table-fixed tbody td,
.table-fixed thead > tr > th {
  float: left;
}
