<div *ngIf="currentRole">
  <div class="users-container">
    <div class="users-not-in-role-container">
      <div class="row add-user-search">
        <h4>Add a User:</h4>
        <pf-input-debounce id="add-users-to-role"
                           (valueChanged)="updateSearchFilter($event)"
                           [delay]="400"
                           [(ngModel)]="searchTerm"
                           [ngModelOptions]="{standalone: true}"
                           [placeholderText]="'Search through First Name, Last Name and User ID'"
                           [automationClassName]="'au-tb-search-for-users'"
                           [focus]="false">
        </pf-input-debounce>
      </div>
      <div id="users-search-results">
        <table class="table au-table-users-search-results-table table-fixed">
          <thead>
          <tr class="au-table-header-row-users-search-results-table">
            <th class="col-2">First Name</th>
            <th class="col-2">Last Name</th>
            <th class="col-2">User ID</th>
            <th class="col-2">Email Address</th>
            <th class="col-2">Current Role</th>
            <th class="col-2">Add</th>
          </tr>
          </thead>
          <tr *ngFor="let user of usersNotInCurrentRole" class="au-tr-all-users-and-roles-table">
            <td class="au-td-users-search-results-first-name col-2">{{user.FirstName}}</td>
            <td class="au-td-users-search-results-last-name col-2">{{user.LastName}}</td>
            <td class="au-td-users-search-results-user-id col-2">{{user.UserId}}</td>
            <td class="au-td-users-search-results-email col-2">{{user.EmailAddress}}</td>
            <td class="au-td-users-search-results-current-role col-2">{{user.RoleName}}</td>
            <td class="au-td-users-search-results-add col-2">
              <button type="button" class="btn btn-secondary add-btn ml-4" (click)="addUserToRole(user)">
                <i class="fal fa-plus"></i>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="users-in-role-container">
      <div>
        <h3>Users Assigned to This Role</h3>
      </div>
      <div id="users-in-role">
        <table class="table au-table-users-in-role-table table-fixed">
          <thead>
          <tr class="au-table-header-row-users-in-role-table">
            <th class="col-2">First Name</th>
            <th class="col-2">Last Name</th>
            <th class="col-2">User ID</th>
            <th class="col-2">Email Address</th>
            <th class="col-2">Title</th>
            <th class="col-2">Last Login</th>
          </tr>
          </thead>
          <tr *ngFor="let user of usersInSelectedRole" class="au-tr-users-in-role-table">
            <td class="au-td-users-in-role-first-name col-2">{{user.FirstName}}</td>
            <td class="au-td-users-in-role-last-name col-2">{{user.LastName}}</td>
            <td class="au-td-users-in-role-user-id col-2">{{user.UserId}}</td>
            <td class="au-td-users-in-role-email col-2">{{user.EmailAddress}}</td>
            <td class="au-td-users-in-role-title col-2">{{user.Title}}</td>
            <td class="au-td-users-in-role-last-login col-2">{{user.LastLogin | date:'short'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="btn-container">
    <button class="btn btn-primary" (click)="saveChanges()">{{saveButtonText}}</button>
    <button class="btn btn-secondary" (click)="cancelChanges()" >Cancel</button>
  </div>
</div>
