<div class="row mb-2">
  <div class="col-1 text-right font-weight-bold">Username</div>
  <div class="col-4">
    <input (blur)="setUserName()"
           (ngModelChange)="username = $event"
           [ngModel]="SftpUser?.UserName"
           type="text">
    <span class="ml-2">
      <fa-icon *ngIf="(validatingUserName$ | async)" icon="spinner" size="sm" spin="true"></fa-icon>
      <fa-icon *ngIf="!(validatingUserName$ | async) && isUserNameValid !== null && isUserNameValid == true" icon="check"
               size="sm" class="success"></fa-icon>
      <fa-icon *ngIf="!(validatingUserName$ | async) && isUserNameValid !== null && isUserNameValid == false" icon="times"
               size="sm" class="error" ngbTooltip="This username is unavailable. Please try a different one"></fa-icon>
    </span>
  </div>
</div>

<div class="row mb-2">
  <div class="col-1 text-right font-weight-bold">Public Key</div>
  <div class="col-4">
    <input type="file" *ngIf="!SftpUser?.FileName || showFileUpload"
           (change)="handleFileInput($event)"
           [accept]="acceptedFileExtensions"
    >
    <div *ngIf="SftpUser?.FileName && !showFileUpload">
      <span class="mr-2">{{SftpUser.FileName}}</span>
      <fa-icon icon="pencil-alt" (click)="toggleFileUpload()" class="pf-secondary-color"></fa-icon>
    </div>
  </div>
</div>
