@import "colors";

.not-required{
  font-size: .8em;
  bottom: 0;
  right: 0
}

.pf-secondary-color {
  color: $pf-brand-secondary-color;
  cursor: pointer;
}

.success {
  color: green;
}

.error {
  color: red;
}

.public-key-auth-form-control {
  width: 250px;
  display: inline-block;
}
