<pf-data-grid
  [reorderable]="true"
  [pageViewId]="pageViewId"
  [title]="'Employees'"
  [selectionField]="'CompanyEmployee_ID'"
  [filterPanelTemplates]="filterTemplates"
  [noRecordsFound]="'No records available.'"
  [enableSelection]="true"
  [gridActionsTemplate]="gridActions"
  [defaultSort]="defaultSort"
  [saveSort]="true"
  [useColumnGroups]="false"
  [columnTemplates]="colTemplates"
  [actionBarConfig]="actionBarConfig"
  [fieldsExcludedFromExport]="fieldsExcludedFromExport"
  [gridConfig]="gridConfig"
  [gridRowActionsConfig]="gridRowActionsConfig">
</pf-data-grid>

<ng-template #gridRowActionsTemplate let-dataRow="dataRow">
  <div ngbDropdown container="body" #p="ngbDropdown"
       (openChange)="handleSelectedRowAction(dataRow['CompanyEmployees_CompanyEmployee_ID'], p)">
    <fa-icon ngbDropdownToggle
             icon="ellipsis-h"
             id="paymarket-actions-{{dataRow['CompanyEmployees_CompanyEmployee_ID']}}"
             class="gray-text">
    </fa-icon>
    <div ngbDropdownMenu aria-labelledby="employee-actions-{{dataRow['CompanyEmployees_CompanyEmployee_ID']}}">
      <button [pfSecuredResource]="permissions.EMPLOYEES_ADD_EDIT_DELETE" ngbDropdownItem (click)="handleEditClicked(true)">Edit</button>
      <button [pfSecuredResource]="[permissions.EMPLOYEES_ADD_EDIT_DELETE, permissions.NEW_PROJECT]" ngbDropdownItem (click)="handlePriceJobsClicked(true)">Create Project</button>
      <button [pfSecuredResource]="permissions.EMPLOYEES_ADD_EDIT_DELETE" ngbDropdownItem (click)="handleDeleteSingleEmployeeClicked()">Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #gridActions>
  <button
    type="button"
    class="btn btn-secondary pf-btn-borderless"
    [attr.data-qa-id]="'btn-clearSelection'"
    [disabled]="!selectedCompanyEmployeeIds || selectedCompanyEmployeeIds.length==0"
    (click)="handleClearSelectionClicked()">
    <fa-icon [icon]="['far', 'times']"></fa-icon>
    Clear Selections  <span *ngIf="selectedCompanyEmployeeIds?.length>0">({{selectedCompanyEmployeeIds.length}})</span>
  </button>
  <div
    class="vertical-separator my-2"
    [pfSecuredResource]="[permissions.EMPLOYEES_ADD_EDIT_DELETE, permissions.NEW_PROJECT]">
  </div>
  <button
    type="button"
    class="btn btn-secondary pf-btn-borderless"
    [pfSecuredResource]="permissions.NEW_PROJECT"
    [attr.data-qa-id]="'btn-priceJobs'"
    [disabled]="priceJobsDisabled"
    (click)="handlePriceJobsClicked()">
    <fa-icon [icon]="['far', 'calculator']"></fa-icon>
    Create Project
  </button>
  <button
    [attr.data-qa-id]="'btn-editEmployee'"
    type="button"
    [pfSecuredResource]="permissions.EMPLOYEES_ADD_EDIT_DELETE"
    [disabled]="selectedCompanyEmployeeIds?.length !== 1"
    (click)="handleEditClicked()"
    class="btn btn-secondary pf-btn-borderless">
    <fa-icon icon="edit"></fa-icon>
    Edit
  </button>
  <button
    [attr.data-qa-id]="'btn-deleteEmployee'"
    type="button"
    [pfSecuredResource]="permissions.EMPLOYEES_ADD_EDIT_DELETE"
    [disabled]="!selectedCompanyEmployeeIds || selectedCompanyEmployeeIds.length==0"
    (click)="showDeleteEmployeeModal.next(true)"
    class="btn btn-secondary pf-btn-borderless">
    <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
    Delete
  </button>
</ng-template>
<ng-template #gridGlobalActions>
  <button
    [pfSecuredResource]="permissions.EMPLOYEES_ADD_EDIT_DELETE"
    [attr.data-qa-id]="'btn-newEmployee'"
    type="button"
    (click)="addNewEmployee()"
    class="btn btn-primary">
    New Employee
  </button>
  <button type="button" title="Employee History"
          id="employee-history-btn"
          class="btn btn-secondary history-btn"
          (click)="showEmployeeHistoryModal.next(true)">
    <fa-icon icon="calendar-alt"></fa-icon>
  </button>
</ng-template>

<pf-employee-management></pf-employee-management>

<ng-template #pricingJobsMessage>
  <div class="pricing-jobs-message">
    <div class="space-out-children">
      <span *ngIf="pricingJobs && !(pricingJobsError$ | async)">Creating Project</span>
      <fa-icon [icon]="['fal', 'circle-notch']" spin="true"></fa-icon>
    </div>
    <div *ngIf="(pricingJobsError$ | async)" class="d-flex flex-column">
      <div class="d-flex flex-row justify-content-center space-out-children pb-3">
        <fa-icon class="text-danger" [icon]="['fal', 'exclamation-circle']"></fa-icon>
        <span>Error Creating Project</span>
      </div>
      <div>
        <button type="button" class="btn btn-secondary" (click)="handlePricingJobsMessageCloseClicked()">Close</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #salaryColumn let-dataRow="dataRow" let-fieldName="fieldName">
  {{dataRow[fieldName] | number: '1.0-0'}}
</ng-template>
<ng-template #rateBasedSalaryColumn let-dataRow="dataRow" let-fieldName="fieldName">
  {{dataRow[fieldName] | comp: dataRow['CompanyEmployees_HiddenRate'] : 'rounded'}}
</ng-template>

<ng-template #deleteSingleEmployeeMessage>Are you sure you want to delete the <b>1</b> selected employee?</ng-template>

<pf-modal-form
  [size]="'md'"
  [title]="'Delete Employees'"
  [primaryButtonText]="'Delete'"
  [primaryButtonClass]="'btn-danger'"
  [modalId]="'au-modal-employees-page-delete-employee'"
  [isOpen$]=" showDeleteEmployeeModal$"
  (onSubmit)="handleEmployeeDelete()"
  (onDismiss)="handleModalDismissed()">
  <ng-container basic-content>
    <p *ngIf="!deleteSingleEmployee; else deleteSingleEmployeeMessage">Are you sure you want to delete the <b>{{selectedCompanyEmployeeIds?.length}}</b> selected employee<span *ngIf="selectedCompanyEmployeeIds?.length > 1">s</span>?</p>
  </ng-container>

</pf-modal-form>
<pf-employee-history-date-picker
  [isOpen$]=" showEmployeeHistoryModal$"
  (cancelClick)="showEmployeeHistoryModal.next(false)"
  (applyClicked)="handleEmployeeHistoryDateChange($event)">
</pf-employee-history-date-picker>
