@import 'employees-page-styles';
@import 'common/common';

.header-bold, .page-content {
  color: white;
}

.pricing-jobs-message {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  padding: 1rem 0;
}

.badge-primary {
  font-size: 100%;
  background-color: $pf-brand-secondary-color;
}

.grid-actions-container {
  display: flex;
  flex-direction: row;

  .selected-employees-badge {
    padding: 6px 1px;
  }

  .btn {
    margin-left: 1rem;
    border: 0;

    &:focus {
      box-shadow: none;
    }

    fa-icon {
      margin-right: 0.5rem;
    }
  }

  .vertical-separator {
    margin: .5rem 0 0.5rem 1rem;
  }
}
