$primary-blue: #1872ae;
$white: #ffffff;

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.alert-container {
    height: 50px;
    padding-top: 5px;
    text-align: center;
}

.alert {
    width: 100%;
}

.modal-header {
    background: $white;
}

.btn-primary {
    background-color: $primary-blue;
    border-color: $primary-blue;
}
