<pf-page-with-title-bar>

  <ng-container page-title>Total Rewards</ng-container>

  <ng-container page-actions>
    <a class="pt-2 pr-2"
       id="recent-download"
       [attr.data-qa-id]="'lnk-recentDownloads'"
       target="_blank"
       href="/client/notifications">Recently Generated</a>
    <pf-input-debounce class="mr-2"
                       [value]="(statementsSearchTerm$| async)"
                       [disabled]="(focusedTab$ | async) !== 'Statements' ||
                                  (!(statementsTotal$ | async) && !(statementsSearchTerm$ | async))"
                       [placeholderText]="'Search...'"
                       [automationClassName]="'au-tb-search'"
                       (valueChanged)="onSearchTermChange($event)">
    </pf-input-debounce>
  </ng-container>

  <ng-container page-content>
    <div class="d-flex flex-column h-100">
      <div class="h-100">

        <ul ngbNav #nav="ngbNav" #tabs class="nav-tabs"
                    [destroyOnHide]="false"
                    [activeId]="(focusedTab$ | async)">

          <li [ngbNavItem]="'Statements'" id="Statements" title="Statements">
            <a ngbNavLink (click)="onTabChange('')">Statements</a>
            <ng-template ngbNavContent >
              <div class="h-100">
                <pf-statements-grid
                  [displayNoStatementsCreatedImage]="(focusedTab$ | async) !== 'Statements' ||
                                  (!(statementsTotal$ | async) && !(statementsSearchTerm$ | async))">
                </pf-statements-grid>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="'Templates'" id="Templates" title="Templates">
            <a ngbNavLink (click)="onTabChange('templates')">Templates</a>
            <ng-template ngbNavContent>
              <pf-total-rewards-template-card-selector [autoLoad]="false" (onSelectClick)="onTemplateSelected($event)">
              </pf-total-rewards-template-card-selector>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>

      </div>
    </div>

    <pf-modal-form
      [size]="'lg'"
      [isOpen$]="isDeleteStatementModalOpen$"
      [title]="'Delete Statement'"
      [primaryButtonClass]="'btn-danger'"
      [primaryButtonText]="'Delete'"
      [primaryButtonTextSubmitting]="'Deleting...'"
      [submitting]="deletingStatement$ | async"
      (onSubmit)="onConfirmDeleteStatement()"
      (onDismiss)="onCancelDeleteStatement()">
      <ng-container basic-content>
        <p>Are you sure you want to delete <strong>{{ (openActionMenuStatement$ | async)?.Name }}</strong>? This action is permanent and cannot be recovered.</p>
      </ng-container>
    </pf-modal-form>

    <pf-modal-form
      [size]="'lg'"
      [isOpen$]="isCopyStatementModalOpen$"
      [title]="'Copy Statement'"
      [primaryButtonClass]="'btn-primary'"
      [primaryButtonText]="'Copy'"
      [primaryButtonTextSubmitting]="'Copying...'"
      [submitting]="copyingStatement$ | async"
      (onSubmit)="onConfirmCopyStatement()"
      (onDismiss)="onCancelCopyStatement()">
      <ng-container basic-content>
        <p>You are about to create a copy of <strong>{{ (openActionMenuStatement$ | async)?.Name }}</strong>. Are you sure you want to continue?</p>
      </ng-container>
    </pf-modal-form>
  </ng-container>

</pf-page-with-title-bar>
