<pf-page-with-title-bar>

  <ng-container page-title>Total Rewards</ng-container>

  <ng-container page-actions>
    <a class="pt-2 pr-2"
       id="recent-download"
       [attr.data-qa-id]="'lnk-recentDownloads'"
       target="_blank"
       href="/client/notifications">Recently Generated</a>
    <pf-input-debounce class="mr-2"
                       [value]="(statementsSearchTerm$| async)"
                       [disabled]="(focusedTab$ | async) !== 'Statements' ||
                                  (!(statementsTotal$ | async) && !(statementsSearchTerm$ | async))"
                       [placeholderText]="'Search...'"
                       [automationClassName]="'au-tb-search'"
                       (valueChanged)="onSearchTermChange($event)">
    </pf-input-debounce>
  </ng-container>

  <ng-container page-content>
    <div class="d-flex flex-column h-100">
      <div class="h-100">

        <ngb-tabset #tabs
                    [destroyOnHide]="false"
                    (tabChange)="onTabChange()">

          <ngb-tab id="Statements" title="Statements">
            <ng-template ngbTabContent >
              <div class="h-100" *ngIf="(statementsTotal$ | async) > 0 || (statementsLoading$ | async) ||
                              (statementsLoadingError$ | async); else doNotShowGrid">
                <pf-statements-grid></pf-statements-grid>
              </div>
              <ng-template #doNotShowGrid>
                <pf-no-records-found-call-to-action 
                  [headerText]="'No Total Rewards Statements'"
                  [preLinkText]="'Create a'"
                  [linkText]="'new Total Rewards Statement'"
                  (callToActionClick)="onCreateNewClicked()">
                </pf-no-records-found-call-to-action>
              </ng-template>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="Templates" title="Templates">
            <ng-template ngbTabContent>
              <pf-total-rewards-template-card-selector [autoLoad]="true" (onSelectClick)="onTemplateSelected($event)">
              </pf-total-rewards-template-card-selector>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>
    </div>

    <pf-modal-form
      [size]="'lg'"
      [isOpen$]="isDeleteStatetementModalOpen$"
      [title]="'Delete Statement'"
      [primaryButtonClass]="'btn-danger'"
      [primaryButtonText]="'Delete'"
      [primaryButtonTextSubmitting]="'Deleting...'"
      [submitting]="deletingStatement$ | async"
      (onSubmit)="onConfirmDeleteStatement()"
      (onDismiss)="onCancelDeleteStatement()">
      <ng-container basic-content>
        <p>Are you sure you want to delete <strong>{{ (openActionMenuStatement$ | async)?.Name }}</strong>? This action is permanent and cannot be recovered.</p>
      </ng-container>
    </pf-modal-form>
  </ng-container>

</pf-page-with-title-bar>
