@import 'colors';
@import 'libs/styles/ngbootstrap-tabset-overrides';

:host ::ng-deep {
  @include pf-tabset;

  .modal-body {
    padding: 0;
    height: 100% !important;
  }

  .modal-dialog {
    width: 45%;
    height: auto !important;
  }

  .k-numeric-wrap .k-input {
    padding-right: 0.65rem;
  }
}

.rounding-group {
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  padding: 10px;
  border-color: #ECEFF3;
}

.info-icon {
  margin: 3px;
  margin-top: 5px;
}

.ie-fix {
  /*This just fixes alignment for IE, doesn't seem to affect the better browsers*/
  width: 1px !important;
}

