@import 'colors';
@import 'libs/styles/ngbootstrap-tabset-overrides';

:host ::ng-deep {
  @include pf-tabset;

  .modal-body {
    padding: 0;
  }

  .k-numeric-wrap .k-input {
    padding-right: 0.65rem;
  }
}

.rounding-group {
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  padding: 10px;
  border-color: #ECEFF3;
}
