<pf-modal-form
  [size]="'lg'"
  [title]="modalTitle"
  [subTitle]="modalSubTitle"
  [modalId]="'company-structures-model-setting-modal'"
  [primaryButtonText]="buttonPrimaryText"
  [primaryButtonTextSubmitting]="buttonPrimaryTextSubmitting"
  [submitting]="(savingModelSettingsAsyncObj$ | async)?.saving"
  [formGroup]="modelSettingsForm"
  [isOpen$]="modalOpen$"
  [alwaysEnabledSubmit]="true"
  [flipPrimarySecondaryBtns]="true"
  (onSubmit)="handleModalSubmit()"
  (onSubmitAttempt)="handleModalSubmitAttempt()"
  (onDismiss)="handleModalDismiss()">

  <ng-container form-content>
    <div class="pt-3" *ngIf="modalOpen$ | async">
      <ngb-tabset [destroyOnHide]="false" [activeId]="activeTab" (tabChange)="activeTab = $event.nextId">
        <ngb-tab [title]="modelTabTitle" id="modelTab" >
          <ng-template ngbTabContent>
            <div class="p-3 pr-5">
                <div class="form-group">
                  <label for="model-name">Model Name</label>
                  <input type="text"
                         class="form-control"
                         id="model-name"
                         formControlName="ModelName"
                         [ngClass]="{ 'is-invalid': (attemptedSubmit && !formControls.ModelName.valid) || modelNameExistsFailure }"
                         [maxlength]="50"
                         (input)="clearModelNameExistsFailure()"/>
                  <div class="invalid-feedback">
                    <div *ngIf="!formControls.ModelName.valid">Please provide a model name.</div>
                    <div *ngIf="modelNameExistsFailure">Model Name Exists</div>
                  </div>
                </div>
                <div class="form-group" *ngIf="(enableJobRangeTypes$ | async)">
                  <pf-range-distribution-setting
                    formControlName="RangeDistributionSetting"
                    [controlPointsAsyncObj]="controlPointsAsyncObj"
                    [metadata]="metadata"
                    [rangeGroupId]="rangeGroupId"
                    [attemptedSubmit]="attemptedSubmit">
                  </pf-range-distribution-setting>
                </div>
                <div class="form-group w-50" *ngIf="!(enableJobRangeTypes$ | async)">
                  <label for="midpoint">Midpoint based on</label>
                  <kendo-combobox id="midpoint" class="form-control"
                                  formControlName="ControlPoint"
                                  [ngClass]="{ 'is-invalid': attemptedSubmit && !formControls.ControlPoint.valid }"
                                  [loading]="controlPointsAsyncObj.loading"
                                  [data]="controlPoints"
                                  [textField]="'Display'"
                                  [valueField]="'FieldName'"
                                  [clearButton]="false"
                                  [valuePrimitive]="true"
                                  [allowCustom]="false"
                                  [placeholder]="'Select Midpoint'"
                                  [filterable]="true"
                                  (filterChange)="handleControlPointFilterChange($event)"
                                  (selectionChange)="handleControlPointSelectionChange()">
                  </kendo-combobox>
                  <div class="invalid-feedback">
                    Please select a midpoint.
                  </div>
                </div>
                <div class="form-row" *ngIf="!(enableJobRangeTypes$ | async)">
                  <div class="form-group col-6">
                    <label for="range-spread-min">Range Spread</label>
                    <div class="input-group">
                      <kendo-numerictextbox class="form-control ie-fix"
                                            id="range-spread-min"
                                            placeholder="Minimum"
                                            formControlName="SpreadMin"
                                            [ngClass]="{ 'is-invalid': attemptedSubmit && !formControls.SpreadMin.valid }"
                                            [format]="'n'"
                                            [spinners]="false"
                                            [decimals]="2"
                                            [max]="200"
                                            [min]="1"
                                            [autoCorrect]="true">
                      </kendo-numerictextbox>
                      <div class="input-group-append">
                        <span class="input-group-text">%</span>
                      </div>
                      <fa-icon placement="top" [ngbTooltip]="minSpreadTooltip" class="info-icon" icon="info-circle" aria-hidden="true"></fa-icon>
                      <div class="invalid-feedback">
                        Please provide a range spread minimum.
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6">
                    <label>&nbsp;</label>
                    <div class="input-group">
                      <kendo-numerictextbox  class="form-control ie-fix"
                                             placeholder="Maximum"
                                             formControlName="SpreadMax"
                                             [ngClass]="{ 'is-invalid': attemptedSubmit && !formControls.SpreadMax.valid }"
                                             [format]="'n'"
                                             [spinners]="false"
                                             [decimals]="2"
                                             [max]="200"
                                             [min]="1"
                                             [autoCorrect]="true">
                      </kendo-numerictextbox>
                      <div class="input-group-append">
                        <span class="input-group-text">%</span>
                      </div>
                      <fa-icon placement="top" [ngbTooltip]="maxSpreadTooltip" class="info-icon" icon="info-circle" aria-hidden="true"></fa-icon>
                      <div class="invalid-feedback">
                        Please provide a range spread maximum.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="rate">Rate</label>
                  <kendo-dropdownlist id="rate" class="form-control k-dropdown-white"
                                      formControlName="Rate"
                                      [data]="['Annual', 'Hourly']"
                                      [valuePrimitive]="true"
                                      (selectionChange)="handleRateSelectionChange($event)">
                  </kendo-dropdownlist>
                  <div class="invalid-feedback">
                    Please provide a rate.
                  </div>
                </div>
                <div class="form-group">
                  <label for="currency">Currency</label>
                  <kendo-combobox id="currency" class="form-control"
                                  formControlName="Currency"
                                  [ngClass]="{ 'is-invalid': attemptedSubmit && !formControls.Currency.valid }"
                                  [loading]="currenciesAsyncObj.loading"
                                  [data]="currencies"
                                  [textField]="'CurrencyDisplay'"
                                  [valueField]="'CurrencyCode'"
                                  [valuePrimitive]="true"
                                  [clearButton]="false"
                                  [allowCustom]="false"
                                  [filterable]="true"
                                  (filterChange)="handleCurrencyFilterChange($event)"
                                  (selectionChange)="handleCurrencySelectionChange()">
                  </kendo-combobox>
                  <div class="invalid-feedback">
                    Please provide a currency.
                  </div>
                </div>
            </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab title="Rounding" id="roundingTab">
          <ng-template ngbTabContent>
            <pf-range-rounding></pf-range-rounding>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </ng-container>

  <ng-container footer-left>
    <div *ngIf="(savingModelSettingsAsyncObj$ | async)?.savingError" class="invalid-feedback d-block">
      Error saving settings
    </div>
  </ng-container>
</pf-modal-form>
