<button *ngIf="chartDetail" (click)="onChartBackButtonClick()" class="btn chartDetailBackButton">
  <i class="fa fa-arrow-circle-left"></i>
</button>
<div>
  <kendo-chart (seriesClick)="onSeriesClick($event)" (legendItemClick)="onLegendClick($event)" [transitions]="true">
    <kendo-chart-area background="none" [height]="200" [margin]="0"></kendo-chart-area>
    <kendo-chart-series>
      <kendo-chart-series-item [highlight]="highlight"
                               type="donut" [data]="chartData"
                               categoryField="categoryName" field="categoryField">
        <kendo-chart-series-item-tooltip>
          <!--<ng-template let-category="category" let-value="value" let-data="test">-->
            <!--{{getTooltip(category) }}-->
          <!--</ng-template>-->
        </kendo-chart-series-item-tooltip>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend [padding]="0" [visible]="true" position="left" [labels]="labels"></kendo-chart-legend>
  </kendo-chart>
</div>
<span>{{ iconClass }}</span>
