<div *ngIf="jobSubmitted; else job_not_sumbitted">
    <p class="lead text-center pt-2">Your job has been posted!</p>
    <div class="text-center">
        <button type="button" class="btn btn-link" (click)="postAnotherJob()">Post another job</button> 
    </div>
</div>
<ng-template #job_not_sumbitted>
<div class="form-group required-indicator" [formGroup]="communityJobForm" > 
    <label for="positionTitle" class="control-label col-3 px-0">Position Title</label>
    <div class="input col-9 pt-2 pb-4 pr-0">
      <input #positionTitle
          type="text" 
          class="form-control" 
          formControlName="positionTitle" 
          [maxLength]="textMaxLength">  
    </div>
    <label for="location" class="control-label col-3 px-0">Location</label>
    <div class="input col-9 pb-4 pr-0">
      <input #location
          type="text" 
          class="form-control" 
          formControlName="location" 
          [maxLength]="textMaxLength">  
    </div>
    <label for="postingUrl" class="control-label col-3 px-0">Posting URL</label>
    <div class="input col-9 pb-4 pr-0">
      <input #postingUrl
          type="url"
          class="form-control"
          formControlName="postingUrl"
          placeholder="http://"
          pattern="https?://.+">
    </div>
</div>
</ng-template>