@import 'colors';
@import 'styles';

.control-label {
    text-align: right;
}

.input {
    display: inline-block;
}

.form-group.required-indicator .control-label:after {
    content:"*";
    color: $community-invalid-field-color;
  }

.form-group input:invalid {
    border-color: $community-invalid-field-color;
}

.input-body:focus {
  outline: none !important;
  border:1px solid $community-tab-active-color;
  box-shadow: 0 0 2px $community-tab-active-color;
}

:host ::ng-deep .form-control:focus{
  border:1px solid $community-tab-active-color;
  box-shadow: 0 0 2px $community-tab-active-color;
}

:host ::ng-deep div.text-danger {
  font-size: 85%;
}

.is-invalid-input {
    border: 1px solid $community-invalid-input-color;
    border-radius: 3px;
}

.is-invalid {
  background-image: none;
}

