<div *ngIf="jobSubmitted; else job_not_sumbitted">
    <p class="lead text-center pt-2">Your job has been posted!</p>
    <div class="text-center">
        <button type="button"
                data-qa-id="btn-postAnotherJob"
                class="btn btn-link"
                (click)="postAnotherJob()">Post another job</button>
    </div>
</div>
<ng-template #job_not_sumbitted>
<div class="form-group required-indicator" [formGroup]="communityJobForm" >
  <div class="row input-row">
    <label for="positionTitle" class="control-label col-3 p-0">Position Title</label>
    <div class="input col-9">
      <input
          [ngClass]="{ 'is-invalid': !positionTitle.valid && positionTitle.touched }"
          type="text"
          data-qa-id="txt-positionTitle"
          class="form-control"
          formControlName="positionTitle"
          [maxLength]="textMaxLength">
      <span *ngIf="!positionTitle.valid && positionTitle.touched" class="text-danger">Position is required</span>
    </div>
  </div>
  <div class="row input-row">
    <label for="location" class="control-label col-3 p-0">Locations</label>
    <div class="input col-9">
      <div  [ngClass]="{ 'is-invalid-input': !location.valid && location.touched }">
        <pf-location-search
          [parentForm]="communityJobForm" 
          [textMaxLength]="textMaxLength" 
          (suggestedLocationChanged)="onSuggestedLocationChange($event)">
        </pf-location-search>
      </div>
      <span *ngIf="!location.valid && location.touched" class="text-danger">Location is required</span>
    </div>
  </div>
  <div class="row posting-url-row">
    <label for="postingUrl" class="control-label col-3 p-0">Posting URL</label>
    <div class="input col-9">
      <input
        [ngClass]="{ 'is-invalid': !postingUrl.valid && postingUrl.touched }"
        type="url"
        data-qa-id="txt-positionUrl"
        class="form-control"
        formControlName="postingUrl"
        placeholder="http://"
        pattern="https?://.+">
      <span *ngIf="!postingUrl.valid && postingUrl.touched" class="text-danger">Valid url is required</span>
    </div>
  </div>
</div>
</ng-template>
