<div class="col-12 printClass trs-rich-text-control" [ngClass]="{'active': isFocused, 'invalid': isInvalid}">
  <h4 class="primary-control-heading">
    <pf-inline-string-editor
      [value]="controlData.Title.Override"
      [placeholder]="controlData.Title.Default"
      [maxCharacters]="35"
      (valueChange)="onTitleChanged($event)"
    ></pf-inline-string-editor>
  </h4>
  <div pfClickElsewhere (clickElsewhere)="onClickElsewhere()">
    <a (click)="onClickEditor()">
      <quill-editor
        #richText
        [(ngModel)]="htmlContent"
        [modules]="quillConfig"
        (onEditorCreated)="onEditorCreated($event)"
        (onContentChanged)="onContentChanged($event)"
        (onSelectionChanged)="onSelectionChanged($event)">
      </quill-editor>
    </a>
  </div>
</div>
