<div class="col-12 printClass trs-rich-text-control" [ngClass]="{'active': isFocused, 'invalid': isInvalid, 'edit-mode': (mode === statementModeEnum.Edit), 'preview-mode': (mode === statementModeEnum.Preview)}">
  <div class="d-flex">
    <h4 class="primary-control-heading mb-1 flex-grow-2">
      <pf-inline-string-editor
        [value]="controlData.Title.Override"
        [placeholder]="controlData.Title.Default"
        [maxCharacters]="35"
        [inEditMode]="mode === statementModeEnum.Edit"
        (valueChange)="onTitleChanged($event)"
      ></pf-inline-string-editor>
    </h4>
    <div kendoTooltip>
      <label 
        *ngIf="controlData?.DataFields?.length"
        class="info position-relative"
        [ngbTooltip]="'This is a rich text area. Use [ to find and insert existing employee or company fields into your text.'">
        <fa-icon [icon]="['fal', 'info-circle']" aria-hidden="true"></fa-icon>
      </label>
    </div>
  </div>
  <div>
    <a (click)="onClickEditor()">
      <quill-editor
        #richText
        [(ngModel)]="htmlContent"
        [modules]="quillConfig"
        [readOnly]="(mode !== statementModeEnum.Edit)"
        (onEditorCreated)="onEditorCreated($event)"
        (onContentChanged)="onContentChanged($event)"
        (onSelectionChanged)="onSelectionChanged($event)">
      </quill-editor>
    </a>
  </div>
</div>
