<pf-async-container [loading]="passwordSettingsLoading$ | async"
                    [loadingError]="passwordSettingsLoadingError$ | async"
                    [loadingErrorMessage]="'Error Loading Password Settings'">
  <form [formGroup]="passwordForm">
    <div class="row form-group">
      <div class="col-sm-6">
        Do not allow user to reuse last xx password(s)
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control input-body"
                 [class.is-invalid]="!checkValidity('passwordHistoryNumber')"
                 [class.has-clear-container]="!isClear('passwordHistoryNumber')"
                 formControlName="passwordHistoryNumber" />
          <span
            *ngIf="!isClear('passwordHistoryNumber')"
            (click)="clearField('passwordHistoryNumber')"
            class="clear-container-search">
            <fa-icon icon="times"></fa-icon>
          </span>
          <div class="invalid-feedback">
            Please enter a value between 1 and 1000.
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        Days before password expires
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control input-body"
                 [class.is-invalid]="!checkValidity('passwordExpirationDays')"
                 [class.has-clear-container]="!isClear('passwordExpirationDays')"
                 formControlName="passwordExpirationDays" />
          <span
            *ngIf="!isClear('passwordExpirationDays')"
            (click)="clearField('passwordExpirationDays')"
            class="clear-container-search"> <fa-icon icon="times"></fa-icon></span>
          <label *ngIf="isDirty('passwordExpirationDays')" class="general-feedback">
            Password(s) will expire in {{ this.passwordForm.get('passwordExpirationDays').value }} days unless the password is changed before its expiration.
          </label>
          <div class="invalid-feedback">
            Please enter a value between 1 and 1000.
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        Session Timeout Minutes
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control input-body"
                 [class.is-invalid]="!checkValidity('sessionTimeoutMinutes')"
                 [class.has-clear-container]="!isClear('sessionTimeoutMinutes')"
                 formControlName="sessionTimeoutMinutes" />
          <span
            *ngIf="!isClear('sessionTimeoutMinutes')"
            (click)="clearField('sessionTimeoutMinutes')"
            class="clear-container-search"> <fa-icon icon="times"></fa-icon></span>
          <div class="invalid-feedback">
            Please select a session timeout within the range of 5 - 360 minutes.
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" *ngIf="exportsSecurityFeatureFlag.value">
      <div class="col-sm-6">
        Remove formulas from Excel/CSV exports
        <fa-icon icon="exclamation-circle"  placement="right" ngbTooltip="Exported Excel and CSV data fields beginning with the following characters will have a space inserted to nullify formulas: '=', '-', '+', '@' ">
        </fa-icon>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <input type="checkbox" formControlName="exportsSecurity" />
        </div>
      </div>
    </div>
  </form>
</pf-async-container>

