@import '../styles';

:host ::ng-deep div.invalid-feedback {
  font-size: 85%;
}

:host ::ng-deep label.general-feedback {
  font-size: 85%;
}

.form-control::-ms-clear {
  display: none;
}

.has-clear-container {
  padding-right: 30px;
}

.clear-container-search {
  color: $primary-button !important;
  position: absolute;
  right: 0;
  height: 100%;
  text-align: right;
  padding-right: 10px;
  padding-top: 5px;
  z-index: 10;
}

