<ng-container *ngIf="(userDataView$ | async) as userDataViewAsync">
  <pf-async-container
    [loading]="userDataViewAsync.loading"
    [loadingError]="userDataViewAsync.loadingError"
    [loadingErrorMessage]="'Error loading this data view'"
    [hideReloadButton]="true">

    <pf-page-with-title-bar [returnUrl]="'/'">
      <ng-container page-title>{{userDataViewAsync?.obj?.Name}}</ng-container>
      <ng-container page-content>
        <div class="d-flex flex-row main-content">
          <pf-left-sidebar>
          </pf-left-sidebar>
        </div>
      </ng-container>
    </pf-page-with-title-bar>
  </pf-async-container>
</ng-container>
