@import 'colors';
@import 'data-insights-variables';

.main-content {
  padding-left: 0 !important;
  background-color: white;
  height: 93%;
}

.page {
  background-color: $grey;

  .header {
    height: 67px;
    padding: 0 2rem;
    width: 100%;
    background-color: #ffffff;

    .title {
      color: $header-color;
      font-size: 2.5rem;
      font-weight: 500;
    }
    }
  }

