@import 'colors';
@import 'data-insights-variables';
@import 'common/common-variables';

::ng-deep {
  .page-header {
    .d-flex{
      @extend %ellipsis-overflowing-text;
      h3 {
        @extend %ellipsis-overflowing-text;
      }
    }
  }
}
.center-content-scroll {
  overflow: hidden;
}

.main-content {
  padding-left: 0 !important;
  background-color: white;
  padding: 1rem;
  height: calc(100vh - 114px);
}

.page {
  background-color: $grey;

  .header {
    height: 67px;
    padding: 0 1rem;
    width: 100%;
    background-color: #ffffff;

    .title {
      color: $header-color;
      font-size: 2.5rem;
      font-weight: 500;
    }
    }
  }

