<pf-async-container [loading]="(tooltipLoading$ | async)">
  <div *ngIf="!(tooltipLoading$ | async) && !(tooltipError$ | async) && (tooltipContent$ | async)" [ngSwitch]="columnType">
    <ng-template [ngSwitchCase]="dataTypes.Jobs">
      <div class="jobs-tooltip-container p-2">
        <div class="tooltip-job-title" *ngFor="let job of (tooltipContent$ | async).Data">
          {{job}}
        </div>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="dataTypes.Shared">
      <div class="shared-tooltip-container">
        <div *ngFor="let user of (tooltipContent$ | async).Data; let idx = index;" class="row" [ngClass]="idx === (tooltipContent$ | async).Data.length - 1 ? '' : 'pb-2'">
          <div class="col-2 user-picture">
            <img [width]="40" [height]="40" [src]="avatarUrl + user.UserPicture" src-fallback="{{ avatarUrl + 'default_user.png' }}" alt="">
          </div>
          <div class="col-10 user-info-container">
            <div class="user-info">
              {{user.FirstName}} {{user.LastName}}{{user.Title ? ', ' + user.Title : ''}}
            </div>
            <div *ngIf="user.LastViewed">
              Last Viewed: {{user.LastViewed | TimeElapsedPipe}}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</pf-async-container>
