<div class="trs-calculation container py-2" [ngClass]="inEditMode ? 'edit-mode' : 'preview-mode'">
  <table class="table table-borderless table-sm mb-0 w-100">
    <colgroup>
      <col class="field-column">
      <col class="contribution-column">
      <col class="button-column">
    </colgroup>
    <thead>
      <tr class="trs-calculation-row w-100">
        <th class="text-left" scope="col">
          <pf-inline-string-editor
            [value]="controlData.Title.Override"
            [placeholder]="controlData.Title.Default"
            [maxCharacters]="30"
            [inEditMode]="inEditMode"
            (valueChange)="onControlTitleChange($event)"></pf-inline-string-editor>
        </th>
        <th class="text-right" scope="col">Contribution</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listItem of controlData.DataFields" class="trs-calculation-row w-100">
        <td *ngIf="displayFieldInTable(listItem)" class="text-left">
          <pf-inline-string-editor
            [value]="listItem.Name.Override"
            [placeholder]="listItem.Name.Default"
            [maxCharacters]="30"
            [inEditMode]="inEditMode"
            (valueChange)="onCompFieldNameChange(listItem, $event)"></pf-inline-string-editor>
        </td>
        <td *ngIf="displayFieldInTable(listItem)" class="contribution-field text-right" >{{getEmployerContributionValue(listItem.DatabaseField)}}</td>
        <td *ngIf="displayFieldInTable(listItem)">
          <button type="button" class="remove-btn btn btn-sm btn-outline-danger" (click)="removeField(listItem)">
            <fa-icon class="fa-sm" [icon]="'trash-alt'"></fa-icon>
          </button>
        </td>
      </tr>
      <tr class="trs-calculation-row w-100">
        <td class="text-left">
          <pf-inline-string-editor
            [value]="controlData.Summary.Override"
            [placeholder]="controlData.Summary.Default"
            [maxCharacters]="30"
            [inEditMode]="inEditMode"
            (valueChange)="onSummaryTitleChange($event)"></pf-inline-string-editor>
        </td>
        <td class="contribution-field text-right">{{getSummaryValue()}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <ng-container *ngIf="(removedFields?.length > 0) && inEditMode">
    <div ngbDropdown class="d-inline-block">
      <button ngbDropdownToggle class="btn btn-sm btn-outline-primary add-button" title="Add Field">
        <fa-icon class="fa-sm" [icon]="'plus'"></fa-icon>
      </button>
      <div ngbDropdownMenu class="w-auto">
        <div *ngFor="let removedField of removedFields;">
          <a ngbDropdownItem class="add-comp-field-item" (click)="addField($event)">{{removedField.Name.Default}}</a>
        </div>
      </div>
    </div>
  </ng-container>

</div>
