@import '_colors';
@import 'common/common-variables';

kendo-chart {
  height: 100%;
  width: 100%;
  z-index: 2;
}

.tile-container {
  height: 100%;
  width: 100%;

  .exchange-carousel {
    height: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.carousel-controls {
  width: 100%;
  align-items: center;
  padding: 0 1rem 0 1rem;

  &:hover {
    .control-left, .control-right {
      display: block;
    }
  }

  .control {
    color: $inactive-button-color;
    cursor: pointer;
    font-size: 8px;
    &:hover {
      color: $body-background-color;
    }
  }

  .control-left, .control-right {
    display: none;
    &:hover {
      color: $body-background-color;
    }
  }

  .indicators > .active {
    color: $body-background-color;
  }
}

:host ::ng-deep ngb-carousel {
  outline: none;
  height: 90%;
  padding: .5rem;
  width: 100%;

  .carousel-inner {
    height: 100%;
  }

  .carousel-item.active {
    width: 100%;
    height: 100%;
    margin-left: auto;
    position: absolute;
    margin-right: auto;
  }

  .carousel-control-prev, .carousel-control-next, .carousel-indicators {
    display: none;
  }
}

.exchange-metrics-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 0;

  .card {
    padding-top: 0;
    padding-bottom: 0;

    &.latest-companies {
      background: $pf-brand-secondary-color;
      width: 25%;
      z-index: 2;
    }
  }

  .chart-container {
    padding-top: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 45%;

    .chart-exchange-name {
      @extend %ellipsis-overflowing-text;
      z-index: 2;
    }
  }

  .exchange-metrics {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 22%;

    .card {
      background: lighten($pf-brand-secondary-color, 50%);
      color: black;
    }
  }
}

