<div class="d-flex h-100">
  <div class="filters-sidebar">
    <pf-search-filters
      [visible]="!(searchingFilter$ | async)">
    </pf-search-filters>

    <pf-single-filter
      *ngIf="searchingFilter$ | async">
    </pf-single-filter>
  </div>

  <div class="content">

    <div class="results-header">
      <pf-filter-pills
        [filters]="filters$ | async"
        (clearPill)="handleClearPill($event)"
        (clearPillGroup)="handleClearPillGroup($event)">
      </pf-filter-pills>

      <pf-search-actions
        (reset)="handleResetFilters()">
      </pf-search-actions>
    </div>

    <div class="results">
      <pf-search-results></pf-search-results>
    </div>
    <div class="jobs-to-price">
      <pf-jobs-to-price></pf-jobs-to-price>
    </div>

    <div class="actions-container">
      <div class="buttons">
        <button [disabled]="true" class="btn btn-sm legacy-primary-btn mr-3">
          Save
        </button>

        <button (click)="handleCancelClicked()" class="btn btn-sm btn-secondary mr-3">
          Cancel
        </button>
      </div>
      <div class="results-count">
        <strong>{{(numberOfResults$ | async).toLocaleString('en')}}</strong>&nbsp;Jobs
      </div>
    </div>

  </div>
</div>
