@import '../../../styles/shared-page-styles';

.results{
  width: 72.5%;
}

.actions-container{
  width: 72.5%;
}

.jobs-to-price{
  @extend %position-below-header;
  width: 27.5%;
  right: 0;
  margin-bottom: 30px;
}

