@import 'search/filters-variables';
@import 'common/common-variables';

%position-below-header{
  position: absolute;
  top: 36px;
  bottom: 0;
}

.multi-match-data-header{
  height: 36px;
  @extend %bottom-box-shadow;
}

.filters-and-results{
  @extend %position-below-header;
  width: 100%;
  display: flex;
}

.filters-sidebar{
  width: 243px;
  position: relative;
}

.results-and-actions{
  flex-grow: 1;
  position: relative;
}

.actions-container{
  width: 100%;
  bottom: 0;
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-me {
  position: relative;
  display: flex;
  width: 300px;
}

.buttons{
  display: flex;
}

.results-count{
  position: absolute;
  right: 10px;
  color: #656565;
}

.jobs-to-price{
  width: 400px;
  position: relative;
}
