<pf-comphub-job-grid #marketDataJobGrid
  [jobTitle]="jobTitle"
  [jobGridData]="(jobResults$ | async)"
  [loading]="(jobResultsLoading$ | async)"
  [loadingError]="(jobResultsLoadingError$ | async)"
  [gridHasData]="gridHasData"
  [gridColumnsConfiguration]="gridColumnsConfiguration"
  [selectedJobData]="(selectedJobData$ | async)"
  [currencyCode]="workflowContext?.activeCountryDataSet?.CurrencyCode"
  (sortChanged)="loadJobResults($event)"
  (loadMoreClicked)="loadJobResults($event)"
  (selectionChanged)="handleSelectionChanged($event)"
  (jobDescriptionToggled)="handleExpandJdClicked($event)">

</pf-comphub-job-grid>