@import 'data-insights-styles';
@import 'data-insights-variables';

.card {
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.dropdown-list {
  margin-bottom: 1rem;
}

.field-name {
  font-weight: 500;
}

.field-source {
  text-transform: uppercase;
  color: $dark-grey;
}

.data-item-field-source {
  text-transform: uppercase;
}