<h5 class="text-uppercase mb-3">Company Job</h5>
<div>
  <label class="text-muted text-uppercase">Title</label>
  <span>{{ selectedCompanyJob.JobTitle }}</span>
</div>
<div>
  <label class="text-muted text-uppercase">Family</label>
  <span>{{ selectedCompanyJob.JobFamily }}</span>
</div>
<div>
  <label class="text-muted text-uppercase">Level</label>
  <span>{{ selectedCompanyJob.JobLevel }}</span>
</div>
<div>
  <label class="text-muted text-uppercase">Description</label>
  <a href="javascript:void(0)" [class.show]="jdmDescriptionIds.length === 1" class="jdm mr-2" (click)="handleViewJdmDescriptionClick()">View Full Job Description</a>
  <p class="mb-1" *ngIf="jdmDescriptionIds.length > 1">
    There is more than one Job Description for this job. Please refer to the 
      <a href="/ng/job-description-management/job-descriptions" target="_blank">Job Description Management Tile</a> 
    to view each description.
  </p>
  <pf-loading-indicator *ngIf="jdmDescriptionLoading"></pf-loading-indicator>
  <p *ngIf="jdmDescriptionLoadingError" class="jdm-error d-inline-block mb-0">
    Unable to load job description
  </p>
  <ng-container *ngIf="selectedCompanyJob.JobDescription && selectedCompanyJob.JobDescription !== '#N/A'; else noDescription">
    <p [innerHTML]="selectedCompanyJob.JobDescription | jobDescriptionParser" class="job-description"></p>
  </ng-container>
  <ng-template #noDescription>
    <p *ngIf="!jdmDescriptionIds.length > 0" class="font-italic">
      No Job Description Available
    </p>
  </ng-template>
</div>