@import 'colors';

label {
  min-width: 90px;
}

a.jdm {
  transition: opacity .3s ease-in-out;
  &.d-none {
    display:none;
  }
  &:hover {
    color: $link-color;
  }
}

.jdm-error {
  color: tomato;
}

.company-job-description-container {
  flex:1;
  overflow-y:auto;
}
