@import 'colors';

label { 
  min-width: 90px;
}

a.jdm {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: initial;
  }
  &:hover {
    color: $link-color;
  }
}

.jdm-error {
  color: tomato;
}