<div [formGroup]="payfactorsJobSelectionForm">
  <pf-card-selector
    [cardData$]="payfactorsJobs$"
    [cardDataLoading$]="payfactorsJobsLoading$"
    [cardDataError$]="payfactorsJobsLoadingError$"
    [cardBodyTemplate]="cardTemplate"
    [cardSelectedTemplate]="onCardSelectedTemplate"
    [cardIdentifier]="jobIdentifier"
    [cardIsDisabled]="jobCardDisabled"
    [noResultsMessage]="noResultsMessage"
    (onReload)="handleReloadCardsEvent()"
    (onCardSelection)="handleCardSelectionEvent()"
  >
    <ng-container search-filters>
      <div class="filter">
        <pf-input-debounce id="search-box-job-title"
                           [focus]="false"
                           [delay]="400"
                           [(ngModel)]="jobTitleSearchTerm"
                           [ngModelOptions]="{standalone: true}"
                           [placeholderText]="'Search for a Job Title...'"
                           (valueChanged)="updateJobTitleSearchFilter($event)" ngDefaultControl>
        </pf-input-debounce>
      </div>
      <div class="filter">
        <pf-input-debounce id="search-box-jd"
                           name="searchFilter"
                           [focus]="false"
                           [delay]="400"
                           [(ngModel)]="jobDescriptionSearchTerm"
                           [ngModelOptions]="{standalone: true}"
                           [placeholderText]="'Search in Job Description...'"
                           (valueChanged)="updateJDSearchFilter($event)" ngDefaultControl>
        </pf-input-debounce>
      </div>
    </ng-container>
  </pf-card-selector>

  <!--Form fields-->
  <div class="form-group hidden-form-control">
    <input type="hidden"
           class="form-control"
           name="hasSelection"
           formControlName="payfactorsJobSelection"
           [pfValidatable]="true"
    />
  </div>

  <!--This must be inside the 'pf-modal-form' component in order for the modal's form to react to it-->
  <ng-template #onCardSelectedTemplate let-card="card">
    <div class="form-group">
            <textarea
              maxlength="1000"
              id="request-reason"
              class="form-control"
              rows="3"
              name="reason"
              formControlName="reason"
              [placeholder]="reasonPlaceholder"
              [pfValidatable]="true"
            ></textarea>
    </div>
  </ng-template>
</div>

<ng-template #cardTemplate let-card="card">
  <div class="card-title d-flex justify-content-between">
    <h5>
      {{card?.JobTitle}}
    </h5>
    <h5>
      <span *ngIf="card?.InExchange && !card?.PendingRequest" class="badge badge-dark">Active</span>
      <span *ngIf="card?.PendingRequest" class="badge badge-warning">Pending Approval</span>
    </h5>
  </div>

  <div class="d-flex flex-row justify-content-between mb-2">
    <span class="flex-grow-1" style="flex-basis: 20%" title="Job Family">
      <i class="fas fa-sitemap fa-lg"></i>
      {{card?.JobFamily ? card?.JobFamily : 'No Job Family'}}
    </span>
    <span class="flex-grow-1" style="flex-basis: 20%" title="Job Level">
      <span class="fa-layers fa-fw mr-2">
        <i class="fas fa-balance-scale-right fa-lg"></i>
        <i class="fas fa-inverse fa-rectangle-landscape" data-fa-transform="shrink-2 down-7 right-13"></i>
        <i class="fas fa-briefcase" data-fa-transform="shrink-5 down-5 right-12"></i>
        <i class="fas fa-inverse fa-rectangle-landscape" data-fa-transform="shrink-2 down-2 left-5"></i>
        <i class="fas fa-briefcase" data-fa-transform="shrink-5 left-5"></i>
      </span>
       {{card?.JobLevel ? card?.JobLevel : 'N/A'}}
    </span>
  </div>

  <p class="card-text">
    <small title="Peers">
      <pf-ellipsis-view-more
        [content]="card?.JobDescription"
        [highlightFilter]="jobDescriptionHighlightFilter"
        [maxLength]="150"></pf-ellipsis-view-more>
    </small>
  </p>
</ng-template>
