<div class="flex-column-container">
  <h4>Manage Company Controls</h4>

  <p>
    A Company Control is a way to customize how you want specific content of a Job Description to look and behave. Create a Company Control to add to a template to meet your job description layout needs.
  </p> 
  <div class="card flex-grow-1 d-flex">    
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <pf-input-debounce 
            [id]="'nameFilter'"
            [placeholderText]="'Search Controls'"
            [hideClearBtn]="true"
            (valueChanged)="handleSearchValueChanged($event)">
          </pf-input-debounce>
          <button 
            (click)="createCompanyControl()" 
            class="btn btn-primary align-self-center">
            Create Company Control
          </button>
        </div>
      </div>
      <div class="card-body"> 
        <ng-container *ngIf="(companyControls$ | async ) as controlsAsync;">     
          <pf-async-container [smartLoadingMask]="true" [loading]="controlsAsync.loading" [loadingError]="controlsAsync.loadingError">
            <ng-container *ngIf="(controlsAsync.obj | filterArrayByName: nameFilter) as filteredControls">
              <table class="table table-hover" *ngIf="filteredControls.length; else noCompanyControls">
                <tbody>
                  <tr (click)="handleControlClick(control)" *ngFor="let control of filteredControls; trackBy: trackByFunction">
                    <td width="96%" class="align-middle">
                        <span class="control-border" [style.border-left-color]="control.Color">
                            <span class="pl-2">{{control.Name}}</span>
                        </span>
                    </td>
                    <td width="4%">
                      <button class="btn btn-sm btn-secondary"
                              [attr.data-qa-id]="'btn-deleteView'"
                              (click)="deleteCompanyControl(control, $event)">
                        <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
            <ng-template #noCompanyControls>
                No Company Controls
            </ng-template>
          </pf-async-container>     
        </ng-container> 
      </div>
  </div>
</div>

<pf-delete-company-control-modal>
</pf-delete-company-control-modal>

<pf-create-company-control-modal>
</pf-create-company-control-modal>
    