<span *ngIf="status == 'Draft'" class="badge badge-warning">Draft</span>
<span *ngIf="status == 'Incomplete'" class="badge badge-warning">Incomplete</span>
<span *ngIf="status == 'Published'" class="badge badge-success">Published</span>
<span *ngIf="status == 'Complete'" class="badge badge-success">Complete</span>
<span *ngIf="status == 'Not Started'" class="badge badge-info">Not Started</span>
<span *ngIf="status == 'Historical'" class="badge badge-default">Historical</span>
<span *ngIf="status == 'In Review'" class="badge badge-review">In Review</span>
