@import 'kendo-grid';

.exchange-access-request-grid-container{
  position: relative;
}

.exchange-access-request-info-container {
  position: relative;
}

.collapse-grid{
  height: 350px;
}

.no-collapse {
  height: 100%;
}
