# For info regarding this file, see: https://help.github.com/en/articles/about-code-owners

#####################
# Integration squad
#####################

/apps/admin/app/_org-data-loader/               @PayFactors/integration
/libs/features/pf-data-grid/                    @Payfactors/normandy
