# For info regarding this file, see: https://help.github.com/en/articles/about-code-owners

/apps/admin/app/_org-data-loader/               @PayFactors/integration
/libs/features/pf-data-grid/                    @Payfactors/normandy
package.json                                    @Payfactors/client-dependency-reviewers
package-lock.json                               @Payfactors/client-dependency-reviewers
angular.json                                    @Payfactors/architecture
