<div class="p-3 pr-5" [formGroup]="advancedModelSettingForm">
  <div class="form-group">
    <label for="PreventMidsBelowCurrent">
      <input type="checkbox"
             id="PreventMidsBelowCurrent"
             class="control-margin"
             value="true"
             formControlName="PreventMidsBelowCurrent">
      Do not allow modeled midpoint to go below current midpoint
    </label>
  </div>
  <div class="form-group" formGroupName="PreventMidsFromIncreasingMoreThanPercent">
    <label for="PreventMidsFromIncreasingMoreThanPercent">
      <input type="checkbox"
             id="PreventMidsFromIncreasingMoreThanPercent"
             class="control-margin"
             value="true"
             formControlName="Enabled"
             (change)="handlePreventMidsFromIncreasingMoreThanPercentChanged($event)">
      Do not allow midpoint to increase more than
    </label>
    <kendo-numerictextbox  class="form-control ie-fix input-percentage-field"
                           formControlName="Percentage"
                           [ngClass]="{ 'is-invalid': preventMidsFromIncreasingMoreThanPercentEnabled.value && !preventMidsFromIncreasingMoreThanPercentPercentage.valid
                            && (attemptedSubmit || preventMidsFromIncreasingMoreThanPercentPercentage.touched) }"
                           [format]="'n'"
                           [spinners]="false"
                           [decimals]="1"
                           [min]="0.1"
                           [max]="100"
                           [step]="0.1"
                           [autoCorrect]="true">
    </kendo-numerictextbox> %
    <div class="text-danger"
         *ngIf="preventMidsFromIncreasingMoreThanPercentEnabled.value
                  && !preventMidsFromIncreasingMoreThanPercentPercentage.valid
                  && (attemptedSubmit || preventMidsFromIncreasingMoreThanPercentPercentage.touched)">
      Range allowed is .1 to 100
    </div>
  </div>
  <div class="font-weight-bold no-market-data-header">Building ranges for jobs with no market data</div>
  <div formGroupName="MissingMarketDataType">
    <div class="form-group">
      <label for="LeaveValuesBlank">
        <input type="radio"
               id="LeaveValuesBlank"
               class="control-margin"
               [value]="getMissingMarketDataTypeValue('LeaveValuesBlank')"
               [formControlName]="'Type'"
               (change)="handleRadioButtonChanged($event)">
        Leave midpoints blank if there is no market data
      </label>
    </div>
    <div class="form-group">
      <label for="UsePublishedRange">
        <input type="radio"
               id="UsePublishedRange"
               class="control-margin"
               [value]="getMissingMarketDataTypeValue('UsePublishedRange')"
               [formControlName]="'Type'"
               (change)="handleRadioButtonChanged($event)"
               [attr.disabled]="disableAdvancedSetting ? 'disabled' : null">
        Use published range if no market data exists
      </label>
    </div>
    <div class="form-group">
      <label for="IncreaseCurrentByPercent">
        <input type="radio"
               id="IncreaseCurrentByPercent"
               class="control-margin"
               [value]="getMissingMarketDataTypeValue('IncreaseCurrentByPercent')"
               [formControlName]="'Type'"
               (change)="handleRadioButtonChanged($event)"
               [attr.disabled]="disableAdvancedSetting ? 'disabled' : null">
        Increase midpoint by
      </label>
      <kendo-numerictextbox  class="form-control ie-fix input-percentage-field"
                             formControlName="Percentage"
                             [ngClass]="{ 'is-invalid': attemptedSubmit && !missingMarketDataTypePercentage.valid && missingMarketDataTypeType.value === missingMarketDataTypesIncreaseCurrentByPercent }"
                             [format]="'n'"
                             [spinners]="false"
                             [decimals]="2"
                             [min]="0"
                             [max]="100"
                             [autoCorrect]="true"
                             [attr.disabled]="disableAdvancedSetting ? 'disabled' : null">
      </kendo-numerictextbox> %
      <div class="text-danger"
           *ngIf="missingMarketDataTypeType.value === missingMarketDataTypesIncreaseCurrentByPercent
                  && !missingMarketDataTypePercentage.valid
                  && (attemptedSubmit || missingMarketDataTypePercentage.touched)">
        Range allowed is 0 to 100
      </div>
    </div>
  </div>
</div>
