.card {
  margin: 50px;
}


.card .title {
  font-weight: bold;
}

:host::ng-deep .compact-grid-container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

:host::ng-deep .grid-container {
  top: auto !important;
  bottom: auto !important;
}

:host ::ng-deep .alert {
  position: absolute;
  padding: 0.5rem 1.25rem;
  top: -45px;
  left: 100px;
}

:host::ng-deep .modal-dialog {
  height: 90%;
}

:host::ng-deep .page-content {
  overflow-y: hidden;
}

:host::ng-deep .content-wrapper {
  overflow: auto;
}
