.card {
  margin: 50px;
}


.card .title {
  font-weight: bold;
}

::ng-deep .compact-grid-container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

::ng-deep .grid-container {
  top: unset !important;
  right: unset !important;
  left: unset !important;
  bottom: unset !important;
}
