<pf-grade-based-model-grid
  [singleRecordView]="false"
  [inboundFilters]="filters"
  [rangeGroupId]="rangeGroupId"
  [modelGridPageViewId]="modelGridPageViewId"
  [modelSummaryPageViewId]="modelSummaryPageViewId"
  [reorderable]="true"
  [saveSort]="true"
  [modifiedKey]="'CompanyStructures_Ranges_CompanyStructuresRanges_ID'"
  [allowMultipleSort]="true"
  (manageModelClicked)="openManageModelModal()"
  [isNewRangeOrCreateModelFlow]="isNewRangeOrCreateModelFlow">
</pf-grade-based-model-grid>

<pf-add-jobs-modal-wrapper
  [rangeTypeId]="metadata?.RangeTypeId"
  [controlPoint]="metadata?.ControlPoint"
  [rate]="metadata?.Rate"
  [gradeRangeGroupDetails]="this.gradeRangeDetails">
  <ng-container help-text>
    <div class="alert alert-info">
      <ng-container>
        Select one or more jobs. Drag and drop the selected jobs onto a Grade to the right. Once complete,
        click <strong>Save</strong> to commit your changes.
      </ng-container>
    </div>
  </ng-container>
</pf-add-jobs-modal-wrapper>

<pf-publish-model-modal [pfSecuredResource]="_Permissions.STRUCTURES_PUBLISH" [rangeGroupId]="rangeGroupId"></pf-publish-model-modal>

<pf-duplicate-model-modal [pfSecuredResource]="_Permissions.STRUCTURES_CREATE_EDIT_MODEL" [rangeGroupId]="rangeGroupId"></pf-duplicate-model-modal>
