<div class="d-flex flex-column h-100">
  <pf-manage-exchange-section-header
    [sectionTitle]="'Exchange Job Requests'"
    [sectionDescription]="'Listed in the grid below are jobs that companies have requested be included in this exchange.'"
  >
  </pf-manage-exchange-section-header>
  <div class="d-flex job-request-grid-container" [ngClass]="(jobRequestInfoOpen$ | async) ? 'collapse-grid' : 'no-collapse'">
    <pf-async-container
      [loading]="exchangeJobRequestsLoading$ | async"
      [loadingError]="exchangeJobRequestsLoadingError$ | async"
      [loadingErrorMessage]="'Error loading exchange job requests'"
      (reload)="handleExchangeJobRequestsGridReload()"
      class="flex-grow-1"
    >

      <kendo-grid class="row-click-navigates no-wrap-ellipsis-values"
        [pfKendoScrollTo]="pageRowIndex"
        [data]="exchangeJobRequestsGrid$ | async"
        [scrollable]="true"
        [selectable]="{
            mode: 'single'
          }"
        (cellClick)="handleCellClick($event)"
      >

        <kendo-grid-column field="JobTitle" title="Job Title">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{dataItem.JobTitle}}">{{dataItem.JobTitle}}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="JobFamily" title="Job Family">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{dataItem.JobFamily}}">{{dataItem.JobFamily}}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="JobLevel" title="Job Level"></kendo-grid-column>

        <kendo-grid-column field="RequestUser" title="Request User"></kendo-grid-column>

        <kendo-grid-column field="RequestCompany" title="Request Company">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{dataItem.RequestCompany}}">{{dataItem.RequestCompany}}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="RequestDate" title="Request Date">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.RequestDate | date:'short' }}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="IsPayfactorsJob" title="Request Type" width="104" class="text-center">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span class="jobstatus">
              <span *ngIf="dataItem.IsPayfactorsJob" class="badge badge-primary">System Job</span>
              <span *ngIf="!dataItem.IsPayfactorsJob" class="badge badge-info">New Job</span>
            </span>
          </ng-template>
        </kendo-grid-column>

      </kendo-grid>

    </pf-async-container>

  </div>
  <div *ngIf="jobRequestInfoOpen$ | async" class=" d-flex mt-2 flex-grow-1 job-request-info-container">
    <pf-exchange-job-request-info
      [selectedJobRequest]="selectedJobRequest"
      (closeClicked)="handleCloseRequestInfo()">
    </pf-exchange-job-request-info>
  </div>

  <pf-deny-request-modal
    [modalTitle]="denyRequestModalTitle"
    [modalText]="denyModalText"
    [submittingDenial$]="denyingJobRequest$"
    [denyRequestModalOpen$]="denyRequestModalOpen$"
    (denyClicked)="handleDenyJobRequest($event)"
    (closeClicked)="handleCloseDenyModal()"
  ></pf-deny-request-modal>

  <pf-approve-request-modal
    [modalTitle]="approveRequestModalTitle"
    [modalText]="approveModalText"
    [submittingApproval$]="approvingJobRequest$"
    [approveRequestModalOpen$]="approveRequestModalOpen$"
    (approveClicked)="handleApproveJobRequest($event)"
    (closeClicked)="handleCloseApproveModal()"
  ></pf-approve-request-modal>
</div>
