<ng-template #shareReportModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Share Report</h4>
    <button type="button" [attr.data-qa-id]="'btn-close'" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class=" modal-body">
    <kendo-multiselect
      [data]="selectableUsers"
      [kendoDropDownFilter]="filterSettings"
      [textField]="'FirstName'"
      [valueField]="'UserId'"
      [ngModel]="selectedUsers"
      [placeholder]="'Find Users to Share'"
      (valueChange)="handleSelectedUsersChanged($event)">
      <ng-template kendoMultiSelectItemTemplate let-user>
        {{user.FirstName}} {{user.LastName}} ({{user.EmailAddress}})
      </ng-template>
      <ng-template kendoMultiSelectTagTemplate let-user>
        {{user.FirstName}} {{user.LastName}}
      </ng-template>
    </kendo-multiselect>
    <div class="share-permissions">
      <div class="share-user" *ngFor="let sharedUser of selectedUsers; trackBy: trackByFn">
        <div class="share-user-name" [title]="sharedUser.FirstName + ' ' + sharedUser.LastName">
          {{sharedUser.FirstName}} {{sharedUser.LastName}}
        </div>
        <div class="share-user-permission">
          <select class="form-control" [(ngModel)]="sharedUser.CanEdit">
            <option value="false">Read-Only</option>
            <option value="true">Edit</option>
          </select>
          <button class="btn btn-secondary"
                  [attr.data-qa-id]="'btn-delete'"
                  (click)="deleteSharePermission(sharedUser)"
                  container="body">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </div>
      <div class="loading-indicator" *ngIf="loadingPermissions else existingPermissions">
        <pf-loading-indicator></pf-loading-indicator> Loading Permissions...
      </div>


    </div>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-secondary" (click)="close()">Cancel</button>
    <button type="button" class="btn light-blue-btn" (click)="share()" [disabled]="!selectedUsers.length && !existingUsers.length">Share</button>
  </div>
</ng-template>

<ng-template #existingPermissions>
  <div class="existing-permissions" *ngIf="existingUsers.length">
    <hr />
    <div class="existing-permissions-title">
      Existing User Access
    </div>
    <div class="share-user" *ngFor="let existingUser of existingUsers; trackBy: trackByFn">
      <div class="share-user-name" [title]="existingUser.FirstName + ' ' + existingUser.LastName">
        {{existingUser.FirstName}} {{existingUser.LastName}}
      </div>
      <div class="share-user-permission">
        <select class="form-control" [(ngModel)]="existingUser.CanEdit">
          <option value="false">Read-Only</option>
          <option value="true">Edit</option>
        </select>
        <button class="btn btn-secondary"
                [attr.data-qa-id]="'btn-delete'"
                (click)="deleteExistingSharePermission(existingUser)"
                container="body">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </div>

</ng-template>
