<div class="p-2 col-12">
  <pf-community-avatar
    [AvatarSource]="reply.UserInfo?.AvatarSource"
    [CompanyLogoSource]="reply.UserInfo?.CompanyLogoSource"
    [UserFirstName]="reply.UserInfo.UserFirstName"
    [UserLastName]="reply.UserInfo.UserLastName"
    [IsReply]="true">
  </pf-community-avatar>

  <div class="post-offset">
    <pf-community-post-header 
      [user]="reply.UserInfo" 
      [time]="reply.ElapsedTime" 
      [isReply]="true" 
      [isCurrentUserPost]="reply.IsCurrentUserReply" 
      [postId]="reply.PostId" 
      [replyId]="reply.Id" 
      [hidePostActions]="true">
    </pf-community-post-header>
    <div class="clear-both">
      <pf-community-text-area
        [parentForm]="communityReplyEditForm"
        [maxTextLength]="editMaxLength"
        minimumHeight="75">
      </pf-community-text-area>    
    </div>
    <div class="footer-container">
      <div *ngIf="communityAttachments" class="attachment-container float-left">
        <div *ngFor="let attachment of communityAttachments" class="attachment-content pr-3 pb-2">
          <pf-community-attachment-edit
            [attachment]="attachment" 
            (attachmentRemoved)="onAttachmentRemoved($event)">
          </pf-community-attachment-edit>
        </div>
      </div>
      <div class="btn-container float-right">
        <button data-qa-id="btn-post-edit-save" class="btn btn-primary"
          (click)="savePost()">Save
        </button>
        <button data-qa-id="btn-post-edit-cancel" class="btn btn-secondary ml-2"
          (click)="cancelEdit()">Discard
        </button>
      </div>  
    </div>
  </div>
</div>
