<div class="p-2 col-12">
  <pf-community-avatar
    [AvatarSource]="reply.UserInfo?.AvatarSource"
    [CompanyLogoSource]="reply.UserInfo?.CompanyLogoSource"
    [UserFirstName]="reply.UserInfo.UserFirstName"
    [UserLastName]="reply.UserInfo.UserLastName"
    [IsReply]="true">
  </pf-community-avatar>

  <div class="post-offset">
    <pf-community-post-header 
      [user]="reply.UserInfo" 
      [time]="reply.ElapsedTime" 
      [isReply]="true" 
      [isCurrentUserPost]="reply.IsCurrentUserReply" 
      [postId]="reply.PostId" 
      [replyId]="reply.Id" 
      [hidePostActions]="true">
    </pf-community-post-header>

    <div class="clear-both">
      <pf-community-text-area
        [parentForm]="communityReplyEditForm"
        [maxTextLength]="editMaxLength"
        minimumHeight="75">
      </pf-community-text-area>
      
      <div *ngIf="!!communityAttachments" class="attachment-container">
        <div class="attachment-content pr-3" *ngFor="let attachment of communityAttachments">
          <pf-community-attachment-edit 
            [attachment]="attachment" 
            (attachmentRemoved)="onAttachmentRemoved($event)">
          </pf-community-attachment-edit>
        </div>
      </div>     
    </div>
 
  </div>
  <div class="overflow-hidden">
    <button type="button" class="btn btn-cancel m-1 py-2 px-3 shadow-none float-right" (click)="cancelEdit()">Cancel
    </button>
    <button type="button" class="btn m-1 py-2 px-3 shadow-none float-right" (click)="savePost()">Save
    </button>
  </div>
</div>
