@import 'colors';
@import 'styles';

.attachment-anchor {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: baseline;
  float: left; 
  height: 30px;
  width: calc(100% + 15px);
  min-width: 65px;
  padding-left: 0px; 
  line-height: 0.1rem;
  font-size: 85%;
  color: $community-sub-text-color;
}

.container:hover {
  color: $community-attachment-link-hover-color;
}

.icon {
  float: left;
  margin-right: 0.5rem;

  &.word {
    color: $community-word-badge-color;
  }
  &.pdf {
    color: $community-pdf-badge-color;
  }
  &.excel {
    color: $community-excel-badge-color;
  }
  &.image {
    color: $community-image-badge-color;
  }
  &.file {
    color: $community-sub-text-color;
  }
}
