<pf-page-with-title-bar>
  <ng-container page-title>
    Job Description Manager <pf-public-view-header *ngIf="isPublic"></pf-public-view-header>
  </ng-container>

  <ng-container page-actions>
    <pf-input-debounce id="search-box" (valueChanged)="updateSearchFilter($event)" [delay]="400" [(ngModel)]="savedSearchTerm" [placeholderText]="'Search for a Job Code or Title...'"></pf-input-debounce>

    <!-- Hide from public view -->
    <ng-container *ngIf="!isPublic">
      <div [pfSecuredResource]="[permissions.CAN_MANAGE_JOB_DESCRIPTION_TEMPLATES, permissions.CAN_MANAGE_JOB_DESCRIPTION_SETTINGS]" ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" ngbDropdownToggle>Admin</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button *ngIf="templatesViewInClientEnabled" [pfSecuredResource]="permissions.CAN_MANAGE_JOB_DESCRIPTION_TEMPLATES" routerLink="/templates" class="dropdown-item">Template Management</button>
          <a *ngIf="!templatesViewInClientEnabled" href="{{templateUrl}}">
            <button [pfSecuredResource]="permissions.CAN_MANAGE_JOB_DESCRIPTION_TEMPLATES" class="dropdown-item">Template Management</button>
          </a>
          <button [pfSecuredResource]="permissions.CAN_MANAGE_JOB_DESCRIPTION_SETTINGS" routerLink="/settings" class="dropdown-item">Settings</button>
        </div>
      </div>
      <button [pfSecuredResource]="permissions.JOB_DESCRIPTIONS_ADD" class="btn btn-secondary" type="submit" (click)="addJobClicked()">Add Job</button>
      <pf-bulk-export-popover
        [controlLabels]="bulkExportControlLabels$ | async"
        [controlLabelsLoading]="bulkExportControlLabelsLoading$ | async"
        [listFilterValue]="listFilter"
        [gridState]="gridState"
        [noPublishedJobDescriptions]="bulkExportNoPublishedJobDescriptions$ | async"
        [jobDescriptionListViews]="jobDescriptionListViews$ | async"
        [jobDescriptionListViewsLoading]="jobDescriptionListViewsLoading$ | async"
        [jobInformationFields]="jobInformationFields$ | async"
        [jobInformationFieldsLoading]="jobInformationFieldsLoading$ | async"
        (open)="handleBulkExportPopoverOpened($event)"
        (viewSelectionChanged)="handleViewSelectionChangedOnBulkExport($event)"
        (exported)="handleExported($event)">
      </pf-bulk-export-popover>
      <span class="column-popover">
          <pf-column-selector-popover
            [listAreaColumns]="listAreaColumns$ | async"
            [canRestrictJobDescriptionFromPublicView]="canRestrictJobDescriptionFromPublicView">
          </pf-column-selector-popover>
      </span>
    </ng-container>

    <span class="user-filter-popover">
      <pf-filter-selector-popover
        [loading]="userFilterListLoading$ | async"
        [deleting]="userFilterDeleting$ | async"
        [userFilterList]="userFilterList$ | async"
        [listAreaColumns]="listAreaColumns$ | async"
        [customListAreaColumns]="customListAreaColumns"
        [saveFiltersVisible]="!isPublic"
        (onFilterSidebarToggle)="showFilterSidebar = !showFilterSidebar"
        (onFilterSelected)="handleUserFilterSelected($event)"
        (onDeleteConfirmed)="handleUserFilterDeleteConfirmed($event)"
        (open)="handleUserFilterListPopoverOpened()">
      </pf-filter-selector-popover>
    </span>

  </ng-container>

  <ng-container page-content>
    <div class="col-12 full-height" [class.column-sidebar-open]="showFilterSidebar">
      <div *ngIf="(userFilterError$ | async) && !(userFilterListLoading$ | async)" >
        <div class="alert alert-danger" role="alert">
          {{userFilterErrorMessage$ | async}}
        </div>
      </div>
      <div class="d-flex h-100">
        <div class="grid-and-filter-container">
          <div *ngIf="gridState.filter?.filters.length" class="filter-pills-container"
               [class.background-light-grey]="showFilterSidebar">
            <pf-list-area-filter-pills
              [listAreaColumns]="listAreaColumns$ | async"
              [customListAreaColumns]="customListAreaColumns"
              [filters]="gridState.filter?.filters"
              (clearFilter)="handleClearFilter($event)"
              (clearAllFilters)="handleClearAllFilters($event)">
            </pf-list-area-filter-pills>
          </div>

          <div class="grid-container" [class.shift-grid-down]="gridState.filter?.filters.length">
            <pf-job-description-grid
              [gridDataResult]="gridDataResult$ | async"
              [loading]="gridLoading$ | async"
              [loadingError]="gridLoadingError$ | async"
              [listAreaColumns]="listAreaColumns$ | async"
              [gridState]="gridState"
              [isPublic]="isPublic"
              [canRestrictJobDescriptionFromPublicView]="canRestrictJobDescriptionFromPublicView"
              (navigateToJobDescription)="navigateToJobDescription($event)"
              (openJobDescriptionHistoryModal)="openJobDescriptionHistoryModal($event)"
              (openNewJobDescriptionModal)="openNewJobDescModal($event)"
              (openDeleteJobDescriptionModal)="openDeleteJobDescModal($event)"
              (pageChanged)="handlePageChanged($event)"
              (sortChanged)="handleSortChanged($event)"
              (publicViewChanged)="handlePublicViewChanged($event)">
            </pf-job-description-grid>
          </div>
        </div>

        <div [hidden]="!showFilterSidebar" class="sidebar-filter-container">
          <pf-list-area-filter-sidebar
            [filters]="gridState.filter?.filters"
            [listAreaColumns]="listAreaColumns$ | async"
            [customListAreaColumns]="customListAreaColumns"
            [saveFiltersVisible]="!isPublic"
            (filterChanged)="handleFilterChanged($event)"
            (close)="showFilterSidebar = false"
            (saveFilterClicked)="saveFilterClicked()">
          </pf-list-area-filter-sidebar>
        </div>
      </div>
    </div>

    <pf-assign-jobs-to-template-modal
      [selectedCompanyJob]="selectedCompanyJobForModal"
      [canRestrictJobDescriptionFromPublicView]="canRestrictJobDescriptionFromPublicView"
      (templateAssignedToJob)="handleTemplateAssignedToJob($event)">
    </pf-assign-jobs-to-template-modal>

    <pf-job-description-history-modal></pf-job-description-history-modal>

    <pf-job-description-applies-to-modal
      [editing]="false"
      [selectedCompanyJob]="selectedCompanyJobForModal"
      (appliesToUpdated)="appliesToFormCompleted($event)">
    </pf-job-description-applies-to-modal>

    <pf-delete-job-description-modal></pf-delete-job-description-modal>

    <pf-add-job-modal
      (createCompanyJobComplete)="handleCreateCompanyJobComplete($event)"
      [canRestrictJobDescriptionFromPublicView]="canRestrictJobDescriptionFromPublicView">
    </pf-add-job-modal>
    <pf-save-filter-modal
      [userFilters]="userFilterList$ | async"
      (saved)="saveFilterHandler($event)"
      (opened)="handleSaveFilterModalOpened()"></pf-save-filter-modal>
  </ng-container>
</pf-page-with-title-bar>
