<pf-card-layout
  pageTitle="Data"
  pageSubTitle="Let's find the most timely and relevant data sources for pricing your job"
  pageIconClass="database"
  [page]="comphubPages.Data">

  <ng-container page-content>

    <div *ngIf="peerBannerOpen$ | async" class="peer-banner">
      <button (click)="handleLearnMoreClicked()" class="btn learn-more-btn" data-qa-id="btn-peer-learn-more">Learn More</button>
    </div>

    <div class="d-flex flex-row content-top-bar">
      <div class="d-flex flex-row ml-auto">
        <div class="effective-date">Effective Date: <span>{{firstDayOfMonth | date:'MM/dd/yyyy'}}</span></div>
        <div>
          Rate:
          <kendo-dropdownlist class="rates-dropdown"
                              [attr.data-qa-id]="'ddm-rate'"
                              [data]="rates"
                              [textField]="'Name'"
                              [valueField]="'Value'"
                              [(ngModel)]="selectedRate"
                              (selectionChange)="handleRateSelectionChange($event)">
          </kendo-dropdownlist>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <pf-async-container [loading]="jobResultsLoading$ | async"
                            [loadingError]="jobResultsLoadingError$ | async"
                            [loadingErrorMessage]="'Error loading job data'"
                            [hideReloadButton]="true"
                            class="flex-grow-1">

          <table class="table table-hover" [attr.data-qa-id]="'tbl-job-data-grid'" [class.grid-loading]="jobResultsLoading$ | async">
            <thead>
            <tr class="main-column-header">
              <th></th>
              <th *ngFor="let column of gridColumnsConfiguration" scope="col"
                  class="{{column.CssClasses}}"
                  [class.sortable-header]="column.IsSortable"
                  (click)="handleSortChange(column.SortField)">
                {{column.HeaderText}}
                <ng-container *ngIf="column.IsSortable">
                  <ng-container *ngIf="gridContext.sortBy?.field === column.SortField; else notSorted">
                  <span *ngIf="gridContext.sortBy?.dir === 'asc'">
                    <fa-icon class="fa-fw sort-up"></fa-icon>
                  </span>
                    <span *ngIf="gridContext.sortBy?.dir === 'desc'">
                    <fa-icon class="fa-fw sort-down"></fa-icon>
                  </span>
                  </ng-container>
                </ng-container>
              </th>
            </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let job of (jobResults$ | async)?.Data; trackBy: trackByFn">
                <tr (click)="handleSelectionChanged(job)"
                  class="job-row"
                  [class.selected]="job.JobId === (selectedJobData$ | async)?.JobId">

                  <td class="expand-caret" (click)="handleExpandJdClicked($event, job.JobId)">
                    <fa-icon *ngIf="!job.ShowJd" icon="caret-right"></fa-icon>
                    <fa-icon *ngIf="job.ShowJd" icon="caret-down"></fa-icon>
                  </td>

                  <td class="text-column job-title-column" title="{{job.JobTitle}}">
                    {{job.JobTitle}}
                  </td>
                  <td class="text-column education-column hide-when-small" title="{{job.Education}}">
                    {{job.Education}}
                  </td>
                  <td class="text-column hide-when-small">
                    {{job.YearsOfExperience}}
                  </td>
                  <td class="text-column hide-when-small">
                    {{job.ManagesEmployees ? 'Yes': 'No'}}
                  </td>
                  <td class="number-column">
                    {{
                        calculateDataByRate(job.Base50) |
                        currency:workflowContext?.activeCountryDataSet?.CurrencyCode : 'symbol-narrow' : isHourly ? '1.2-2' : '1.0-0'
                    }}
                  </td>
                  <td class="number-column">
                    {{
                        calculateDataByRate(job.Tcc50) |
                        currency:workflowContext?.activeCountryDataSet?.CurrencyCode : 'symbol-narrow' : isHourly ? '1.2-2' : '1.0-0'
                    }}
                  </td>
                  <td class="text-center">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio-{{job.JobId}}"
                             [attr.data-qa-id]="'chk-select-job-'+job.JobId"
                             name="select-job-data"
                             [checked]="job.JobId === (selectedJobData$ | async)?.JobId"
                             (change)="handleSelectionChanged(job)"
                             class="custom-control-input">
                      <label class="custom-control-label" for="customRadio-{{job.JobId}}">&nbsp;</label>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="job.ShowJd" class="jd-row">
                  <td [attr.colspan]="gridColumnsConfiguration.length + 1"
                      [innerHTML]="job.JobDescription | jobDescriptionParser">
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <ngb-pagination
            *ngIf="(jobResults$ | async)?.Total > pageSize"
            [(page)]="currentPageNumber"
            [pageSize]="pageSize"
            (pageChange)="handlePageChange($event)"
            [collectionSize]="(jobResults$ | async)?.Total">
          </ngb-pagination>

        </pf-async-container>
      </div>
    </div>
  </ng-container>
</pf-card-layout>

<ng-template #notSorted>
  <span class="unsorted-spacer"></span>
</ng-template>
