@import 'comphub-page';
@import 'comphub-styles';
@import 'colors';

$peer-banner-gradient: linear-gradient(to bottom, #ffb420 0%,#ffb420 31%,#ffffff 100%,#207cca 100%,#ffffff 100%);
$peer-banner-map-bg: url('/client/comphub/assets/images/peer-banner-map.png') right bottom no-repeat;
$peer-banner-text-bg: url('/client/comphub/assets/images/peer-banner-text.png') left top no-repeat;

.table th {
  border-top: none;
}

.table td,th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table tr:last-child {
  border-bottom: 2px solid $comphub-header-background-grey;
}

.table tr.selected {
  background-color: #f1f9ee;
}

.top-column-header th {
  border-bottom: none;
  padding: 0;
}

.main-column-header th {
  padding-top: 0;
  border-bottom: 2px solid $comphub-header-background-grey;
}

.text-column {
  color: $comphub-header-blue;
  font-weight: $comphub-bold-font-weight;
}

.number-column {
  font-weight: $comphub-bold-font-weight;
  font-size: 18px;
}

.hidden {
  display: none;
}

.expand-caret {
  width: 40px;
  text-align: center;

  fa-icon {
    color: $pf-additional-colors-green;
    font-size: 1.35rem;
  }
}

.table tr.jd-row {

  td {
    white-space: normal;
    padding: .5rem 1rem 1rem 1rem;
    line-height: 1.75rem;
    background: #f3f3f3;
  }

  &:hover {
    background: none;
  }
}

.sortable-header, .job-row {
  cursor: pointer;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23009900'/%3E%3C/svg%3E");
  background-size: 100%;
}

.custom-radio .custom-control-input ~ .custom-control-label::before {
  transform: scale(1.5);
  cursor: pointer;
  border: $pf-additional-colors-green solid 1px;
  background-color: white;
}

::ng-deep .page-item.active .page-link {
  z-index: auto;
  background-color: $comphub-header-blue;
  border-color: $comphub-header-blue;
}

.unsorted-spacer{
  width: 17.5px;
  display: inline-block;
}

.job-title-column {
  width: 21vw;
  max-width: 21vw;
}

.education-column {
  width: 10vw;
  max-width: 10vw;
}



@media all and (max-width: 1200px) {
  .job-title-column {
    width: 40vw;
    max-width: 40vw;
  }
}

.content-top-bar {
  min-height: 25px;
  margin-bottom: 2rem;
}

.effective-date {
  padding: 1px 0;
  margin-right: 1rem;
  span {
    color: $comphub-header-blue;
    font-weight: $comphub-bold-font-weight;
  }
}

.peer-banner{
  margin: 1rem 0;
  min-height: 142px;
  width: 100%;
  background: $peer-banner-text-bg, $peer-banner-map-bg, $peer-banner-gradient;
  display: flex;
  justify-content: flex-end;
  align-items: center;


  .learn-more-btn {
    background-color: $pf-additional-colors-green;
    margin-right: 2.25rem;
    color: #ffffff;
    padding: .75rem 1.85rem;
    box-shadow: 4px 4px 5px 0 #4e4e4e7a;

    &:hover{
      background-color: darken($pf-additional-colors-green, 3%);
    }
  }
}

.jd-row ::ng-deep {
  h6 {
    margin: 1rem 0;
    svg {
      display: none;
    }
    font-weight: bold;
  }
}

@media all and (max-width: 1275px) {
  .peer-banner {
    background: $peer-banner-text-bg, $peer-banner-gradient;
  }
}




