<pf-card-layout
  pageTitle="Data"
  pageSubTitle="Let's find the most timely and relevant data sources for pricing your job"
  pageIconClass="fa-database"
  [nextButtonEnabled]="!!(selectedJobData$ | async)">

  <ng-container page-content>
    <div class="row">
      <div class="col-12">
        <pf-async-container [loading]="jobResultsLoading$ | async"
                            [loadingError]="jobResultsLoadingError$ | async"
                            [loadingErrorMessage]="'Error loading job data'"
                            class="flex-grow-1">
          <kendo-grid [data]="jobResults$ | async"
                      [pageSize]="state.take"
                      [skip]="state.skip"
                      [pageable]="true"
                      [loading]="jobResultsLoading$ | async"
                      [scrollable]="true"
                      [sortable]="true"
                      [sort]="state.sort"
                      (sortChange)="handleSortChange($event)"
                      (pageChange)="handlePageChange($event)" >

            <kendo-grid-column field="JobTitle" title="Job" [width]="300"></kendo-grid-column>
            <kendo-grid-column field="Education" title="Education"></kendo-grid-column>
            <kendo-grid-column field="YearsOfExperience" title="Years Experience"></kendo-grid-column>
            <kendo-grid-column field="ManagesEmployees" title="Manages" [width]="75" class="text-center">
              <ng-template kendoGridCellTemplate let-dataItem>
                <i *ngIf="dataItem.ManagesEmployees" class="fa fa-check" aria-hidden="true"></i>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Skills" [sortable]="false" title="Skills"></kendo-grid-column>
            <kendo-grid-column field="Base50" title="Base 50th" [width]="100" class="text-right"></kendo-grid-column>
            <kendo-grid-column field="Tcc50" title="TCC 50th" [width]="100" class="text-right"></kendo-grid-column>
            <kendo-grid-column-group title="Weight" class="text-center" headerClass="text-center">
              <kendo-grid-column [sortable]="false" field="Incs" title="Inc" [width]="50"></kendo-grid-column>
              <kendo-grid-column [sortable]="false" field="Orgs" title="Org" [width]="50"></kendo-grid-column>
            </kendo-grid-column-group>
            <kendo-grid-column [sortable]="false" title="Select" [width]="70" class="text-center">
              <ng-template kendoGridCellTemplate let-dataItem>
                <input name="select-job" type="radio" [(ngModel)]="jobDataSelection" [value]="dataItem" (change)="handleSelectionChanged($event)"/>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </pf-async-container>
      </div>
    </div>
  </ng-container>

</pf-card-layout>
