<div class="card d-flex flex-column mb-3">
  <div class="d-flex card-header">
    <div class="created-by">
      <span>Created By </span>
      <a href="mailto:{{ticketDetail.OpenedBy}}?Subject=Payfactors%20Support%20Ticket%20#{{ticketDetail.TicketId}}">
        {{ticketDetail.OpenedBy}}</a>
          <span class="text-muted">
            - Date: {{ticketDetail.CreateDate | date:'shortDate'}} Time: {{ticketDetail.CreateDate | date:'shortTime'}}
          </span>
    </div>
    <div>
      <fa-icon [icon]="['far', 'clock']"></fa-icon>
      <span class="ml-2">{{ticketDetail.LastUpdatedText}}</span>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <span *ngIf="!!ticketDetail?.TicketTitle?.length; else description">{{ticketDetail.TicketTitle}}</span>
      <ng-template #description>Description</ng-template>
    </h4>
    <quill-view-html [content]="ticketDetail?.Description" theme="snow"></quill-view-html>
  </div>
</div>
