@import 'colors';
@import 'libs/styles/perfect-scrollbar-overrides';
@import 'data-insights-styles';

.top-actions-bar {
  background-color: #d3d3d3;
  padding: 1rem;
}

.user-formula-container {

  .user-formula {
    position: relative;
    max-height: calc(100vh - 356px);
    padding: 0 1rem;
  }
}

.add-formula-btn {
  background-color: #ffffff;
  color: $pf-brand-secondary-color;
}

.action-btn {
  margin: 0 1rem;
  .icon {
    padding-right: 0.5rem;
  }

  &:focus {
    box-shadow: 0 0 0 0.1rem rgba(8, 131, 190, 0.25);
  }
}

.bottom-actions-bar {
  position: relative;
  bottom: 0;
  padding: 0 1rem;
}

