.temp-link-color-override {
  &:not(.disabled) {
    color: #1872ae;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.staticMid {
  margin-top: 4.5px;
  margin-bottom: 4.5px;
}

.remove-range {
  padding: 1rem;
}
