<ng-container *ngIf="singleRecordView else fullGrid">
  <pf-data-grid
    [pageViewId]="modelPageViewId"
    [showTitle]="false"
    [compactGrid]="true"
    [showHeaderWhenCompact]="true"
    [inboundFilters]="inboundFilters"
    [contentNoPadding]="true"
    [allowSort]="false"
    [applyDefaultFilters]="false"
    [columnTemplates]="colTemplates"
    [actionBarConfig]="singleRecordActionBarConfig">
  </pf-data-grid>
</ng-container>

<ng-template #fullGrid>
  <pf-data-grid
    [title]="(metaData$ | async)?.StructureName"
    [navigationURL]="'/marketdata/structures.asp'"
    [inboundFilters]="inboundFilters"
    [defaultSort]="defaultSort"
    [pageViewId]="modelPageViewId"
    [pagingOptions]="defaultPagingOptions"
    [columnTemplates]="colTemplates"
    [gridContainerSplitViewWidth]="'60%'"
    [splitViewTemplate]="splitViewTemplate"
    [aboveGridTemplate]="aboveGridTemplate"
    [splitOnSelection]="false"
    [noRecordsFound]="'No ranges found.'"
    [applyDefaultFilters]="false"
    [actionBarConfig]="fullGridActionBarConfig">
  </pf-data-grid>
</ng-template>

<ng-template #min let-dataRow="dataRow" let-fieldName="fieldName">
  {{ dataRow.CompanyStructures_Ranges_Min | rangeValue: (metaData$ | async)?.Rate }}
</ng-template>

<ng-template #mid let-dataRow="dataRow" let-fieldName="fieldName">
  <input type="text"
         class="form-control"
         [value]="dataRow.CompanyStructures_Ranges_Mid | rangeValue: (metaData$ | async)?.Rate" />
</ng-template>

<ng-template #max let-dataRow="dataRow" let-fieldName="fieldName">
  {{ dataRow.CompanyStructures_Ranges_Max | rangeValue: (metaData$ | async)?.Rate }}
</ng-template>

<ng-template #eeCount let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow.CompanyStructures_RangeGroup_NumEmployees as numEmployees; else noEmployees">
    <a class="temp-link-color-override" routerLinkActive="disabled" routerLink="/{{rangeGroupId}}/employees/{{dataRow.CompanyStructures_Ranges_CompanyStructuresRanges_ID}}">
      {{ numEmployees }}
    </a>
  </ng-container>
  <ng-template #noEmployees>
    - -
  </ng-template>
</ng-template>

<ng-template #mrpValue let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow.CompanyStructures_RangeGroup_MarketReferencePointValue as mrpValue; else noMRP">
    <a class="temp-link-color-override" routerLinkActive="disabled" routerLink="/{{rangeGroupId}}/pricings/{{dataRow.CompanyStructures_Ranges_CompanyStructuresRanges_ID}}">
      {{ mrpValue | rangeValue: (metaData$ | async)?.Rate }}
    </a>
  </ng-container>
  <ng-template #noMRP>
    - -
  </ng-template>
</ng-template>

<ng-template #avgBaseSalary let-dataRow="dataRow" let-fieldName="fieldName">
  {{ dataRow.CompanyStructures_RangeGroup_AvgBaseSalary | rangeValue: (metaData$ | async)?.Rate }}
</ng-template>

<ng-template #percentage let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow[fieldName]">{{dataRow[fieldName]}}%</ng-container>
</ng-template>

<ng-template #gridGlobalActions>
  <button class="btn btn-secondary" (click)="handleAddJobsClicked()">Add Jobs</button>
  <button *ngIf="!(metaData$ | async).IsCurrent" class="btn btn-secondary" (click)="handlePublishModelClicked()">Publish</button>
  <pf-model-settings-btn [metadata]="metaData$ | async" (clicked)="handleModelSettingsClicked()"></pf-model-settings-btn>
</ng-template>

<ng-template #aboveGridTemplate>
  <div style="height: 50px">
    <pf-grid-context [title]="'Job Ranges'" [metadata]="metaData$ | async"></pf-grid-context>
  </div>
</ng-template>

<pf-model-settings-modal [rangeGroupId]="rangeGroupId" [page]="page"></pf-model-settings-modal>
