<ng-container *ngIf="singleRecordView else fullGrid">
  <pf-data-grid
    [pageViewId]="modelPageViewId"
    [showTitle]="false"
    [compactGrid]="true"
    [showHeaderWhenCompact]="true"
    [inboundFilters]="inboundFilters"
    [contentNoPadding]="true"
    [allowSort]="false"
    [applyDefaultFilters]="false"
    [columnTemplates]="colTemplates"
    [pageTheme]="'next-gen'"
    [actionBarConfig]="singleRecordActionBarConfig"
    [defaultColumnWidth]="175">
  </pf-data-grid>
</ng-container>

<ng-template #fullGrid>
  <pf-data-grid
    [title]="(metaData$ | async)?.IsCurrent ? (metaData$ | async)?.StructureName : (metaData$ | async)?.ModelName"
    [subtitle]="(metaData$ | async)?.IsCurrent ? '' : 'Structure: ' + (metaData$ | async)?.StructureName"
    [navigationURL]="'/marketdata/structures.asp'"
    [inboundFilters]="inboundFilters"
    [defaultSort]="defaultSort"
    [pageViewId]="modelPageViewId"
    [pagingOptions]="defaultPagingOptions"
    [columnTemplates]="colTemplates"
    [gridContainerSplitViewWidth]="'60%'"
    [splitViewTemplate]="splitViewTemplate"
    [aboveGridTemplate]="aboveGridTemplate"
    [splitOnSelection]="false"
    [noRecordsFound]="'No ranges found.'"
    [applyDefaultFilters]="false"
    [actionBarConfig]="fullGridActionBarConfig"
    [pageTheme]="'next-gen'"
    [contentClassNamesOverrides]="'py-3 px-4'"
    [pageable]="false"
    [borders]="false"
    [autoFitColumnsToHeader]="true">
  </pf-data-grid>
</ng-template>

<ng-template #mid let-dataRow="dataRow" let-fieldName="fieldName" let-rowIndex="rowIndex">
  <ng-container *ngIf="!!dataRow.CompanyStructures_Ranges_Mid; else noValue">
    <pf-midpoint-editor
      [pageViewId]="modelPageViewId"
      [rangeGroupType]="rangeGroupType"
      [rangeGroupId]="dataRow.CompanyStructures_RangeGroup_CompanyStructuresRangeGroup_ID"
      [rangeId]="dataRow.CompanyStructures_Ranges_CompanyStructuresRanges_ID"
      [rate]="(metaData$ | async)?.Rate"
      [mid]="dataRow.CompanyStructures_Ranges_Mid"
      [currentStructure]="(metaData$ | async)?.IsCurrent"
      [dataRow]="dataRow"
      [rowIndex]="rowIndex"
      [roundingSettings]="roundingSettings"
      [refreshRowDataViewFilter]="getRefreshFilter(dataRow)"
      [updateMetaInfo]="{ page: page }"
      [updateSuccessCallbackFn]="updateMidSuccessCallbackFn"
      [readonlyValueTemplate]="midReadOnly">
    </pf-midpoint-editor>
  </ng-container>
</ng-template>

<ng-template #eeCount let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow.CompanyStructures_RangeGroup_NumEmployees as numEmployees; else noValue">
    <a class="temp-link-color-override" routerLinkActive="disabled" routerLink="/{{rangeGroupId}}/employees/{{dataRow.CompanyStructures_Ranges_CompanyStructuresRanges_ID}}">
      {{ numEmployees }}
    </a>
  </ng-container>
</ng-template>

<ng-template #mrpValue let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow.CompanyStructures_RangeGroup_MarketReferencePointValue as mrpValue; else noValue">
    <a class="temp-link-color-override" routerLinkActive="disabled" routerLink="/{{rangeGroupId}}/pricings/{{dataRow.CompanyStructures_Ranges_CompanyStructuresRanges_ID}}">
      {{ mrpValue | rangeValue: (metaData$ | async)?.Rate }}
    </a>
  </ng-container>
</ng-template>

<ng-template #rangeValue let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow[fieldName]; else noValue">{{ dataRow[fieldName] | rangeValue: (metaData$ | async)?.Rate }}</ng-container>
</ng-template>

<ng-template #percentage let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow[fieldName] || dataRow[fieldName] === 0; else noValue">{{dataRow[fieldName]}}%</ng-container>
</ng-template>

<ng-template #noFormatting let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow[fieldName]; else noValue">{{dataRow[fieldName]}}</ng-container>
</ng-template>

<ng-template #gridGlobalActions>
  <pf-global-actions
    [metadata]="metaData$ | async"
    (addJobsClicked)="handleAddJobsClicked()"
    (modelSettingsClicked)="handleModelSettingsClicked()"
    (publishModelClicked)="handlePublishModelClicked()">
  </pf-global-actions>
</ng-template>

<ng-template #aboveGridTemplate>
  <pf-grid-context [title]="'Job Ranges'" [metadata]="metaData$ | async"></pf-grid-context>
</ng-template>

<ng-template #noValue>
  - -
</ng-template>

<ng-template #midReadOnly let-mid="mid">
  {{mid | rangeValue: (metaData$ | async)?.Rate }}
</ng-template>

<pf-model-settings-modal [rangeGroupId]="rangeGroupId" [page]="page"></pf-model-settings-modal>
