@import '_colors';

.registration-form {
  width: 450px;
}

label.error, p.error {
  font-style: italic;
  color: tomato;
}

label.error {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0.5rem;
}

input, select {
  transition: border-color, background-color .3s ease-in-out;
  &.ng-invalid.ng-dirty.ng-touched {
    border-color: tomato;
    background-color: rgba(255, 99, 71, 0.12);
  }
}

button.btn-primary {
  background-color: $pf-brand-secondary-color;
  border-color: $pf-brand-secondary-color;
  color: #fff;
}

svg.fa-spin {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 10;
}

.opacity-transition {
  transition: opacity .2s ease-in-out;
}

.faded {
  opacity: .5;
}

.no-opacity {
  opacity: 0;
}