<pf-page-with-title-bar>

  <ng-container page-title>
    <fa-icon class="mr-2" [icon]="'dollar-sign'" aria-hidden="true"></fa-icon>Total Rewards Statements
  </ng-container>

  <ng-container page-actions>
    <pf-input-debounce
      class="mr-2"
      (valueChanged)="onSearchTermChange($event)" 
      [placeholderText]="'Search...'"
      [automationClassName]="'au-tb-search'">
    </pf-input-debounce>
    <button (click)="onNewStatementClick()" class="btn btn-primary">
      <fa-icon class="mr-2" [icon]="'plus'" aria-hidden="true"></fa-icon>New Statement
    </button>
  </ng-container>

  <ng-container page-content>
    <pf-create-new-statement-banner 
      *ngIf="!(statements$ | async)?.length && !(searchTerm$ | async) && !(loadingStatements$ | async); else grid"
      (createNewClicked)="onNewStatementClick()">
    </pf-create-new-statement-banner>
    <ng-template #grid>
      <pf-statements-grid></pf-statements-grid>
    </ng-template>
    
    <pf-create-new-statement-modal></pf-create-new-statement-modal>
  </ng-container>

</pf-page-with-title-bar>