<ng-container *ngIf="!!(ticketNotes$ | async)?.length || canAddNote">
  <hr>
  <div class="d-flex">
    <div class="ticket-label"><h6>Notes</h6></div>
    <div class="d-flex flex-column w-100">
      <ng-container *ngIf="canAddNote">
        <quill-editor
          [styles]="{height: '150px'}"
          [required]="true"
          [modules]="quillConfig"
          [(ngModel)]="note">
        </quill-editor>
        <div class="d-flex justify-content-end actions">
          <button
            class="btn btn-primary"
            [disabled]="!note || note.length === 0"
            (click)="handleAddNoteClicked()">
            Add Note
          </button>
        </div>
      </ng-container>
      <div *ngIf="!!(ticketNotes$ | async)?.length" class="notes-container">
        <ng-container *ngFor="let note of (ticketNotes$ | async)">
          <div class="d-flex flex-column note">
            <div class="d-flex">
              <span class="name">{{note.UserName}}</span>
              <span class="text-muted mb-2">{{note.PostedDate | date:'MM/dd/yyyy' }}</span>
            </div>
            <quill-view-html class="view-only" [content]="note.Content" theme="snow"></quill-view-html>
          </div>
          <hr>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>