<div class="form-group" *ngIf="(enableJobRangeTypes$ | async)" [formGroup]="rangeDistributionSettingForm">
  <label for="rangeType">Range Type</label>
  <div>
    <ng-container *ngFor="let type of metadata.RangeDistributionTypes">
      <label  for="rangeType_{{type.Type}}" class="radio-inline mr-3 d-none">
        <input type="radio" id="rangeType_{{type.Type}}"
               [value]='type.Id'
               formControlName="RangeDistributionTypeId"
               (change)="handleRangeTypeChange(type)">
        {{type.Type}}
      </label>
    </ng-container>
    <label id="rangeType" class="font-weight-bold mr-3">{{activeRangeTypeTab}}</label>
  </div>
  <div class="rounding-group">
    <div class="form-group row mb-5">
      <label class="col-3 mt-2">Select Pay Type</label>
      <kendo-combobox id="payType" class="form-control col-4"
          formControlName="PayType"
          [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.PayType.invalid }"
          [loading]="controlPointsAsyncObj.loading"
          [data]="controlPointCategory"
          [textField]="'Category'"
          [valueField]="'Category'"
          [clearButton]="false"
          [valuePrimitive]="true"
          [allowCustom]="false"
          [placeholder]="'Select Range'"
          [filterable]="true"
          (filterChange)="handlePayTypeFilterChange($event)"
          (selectionChange)="handlePayTypeSelectionChange($event)">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [hidden]="enablePercentilesAndRangeSpreads" [ngbTooltip]="payTypeTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        Please select a range.
      </div>
    </div>
    <div class="form-group row">
      <label class="col-3 mt-2">Minimum</label>
      <kendo-numerictextbox class="form-control col-4" *ngIf="showMinSpread"
                            id="range-spread-min"
                            placeholder="Minimum"
                            formControlName="Minimum"
                            [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.Minimum.invalid }"
                            [format]="'n'"
                            [spinners]="false"
                            [decimals]="2"
                            [max]="200"
                            [min]="1"
                            [autoCorrect]="true">
      </kendo-numerictextbox>
      <kendo-combobox id="min-percentile" class="form-control col-4" *ngIf="!showMinSpread"
                      formControlName="MinPercentile"
                      [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.MinPercentile.invalid }"
                      [loading]="controlPointsAsyncObj.loading"
                      [data]="controlPointRanges"
                      [textField]="'RangeDisplayName'"
                      [valueField]="'FieldName'"
                      [clearButton]="false"
                      [valuePrimitive]="true"
                      [allowCustom]="false"
                      [placeholder]="'Select Min'"
                      [filterable]="false">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [ngbTooltip]="minSpreadTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="inline-link-wrapper">
        <a href="javascript:void(0)" tabindex="-1" (click)="this.handleMinMaxPercentileToggle(true)">
          <ng-container *ngIf="!showMinSpread">Enter Range Spread</ng-container>
          <ng-container *ngIf="showMinSpread">Enter Percentile Amount</ng-container>
        </a>
      </div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        <ng-container *ngIf="!showMinSpread">Please select a range for minimum.</ng-container>
        <ng-container *ngIf="showMinSpread">Please provide a range spread minimum.</ng-container>
      </div>

    </div>
    <div class="form-group row" *ngIf="activeRangeTypeTab==='Tertile'">
      <label class="col-3 mt-2">Top 1st 3rd</label>
      <kendo-combobox id="firstTertile" class="form-control col-4"
          formControlName="FirstTertile"
          [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.FirstTertile.invalid, 'no-inline-links': enablePercentilesAndRangeSpreads }"
          [loading]="controlPointsAsyncObj.loading"
          [data]="controlPointRanges"
          [textField]="'RangeDisplayName'"
          [valueField]="'FieldName'"
          [clearButton]="false"
          [valuePrimitive]="true"
          [allowCustom]="false"
          [placeholder]="'Select First Tertile'"
          [filterable]="false">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [hidden]="enablePercentilesAndRangeSpreads" [ngbTooltip]="fieldsDisabledTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        Please select a range for first tertile.
      </div>
    </div>
    <div class="form-group row" *ngIf="activeRangeTypeTab==='Quartile'">
      <label class="col-3 mt-2">Top 1st 4th</label>
      <kendo-combobox id="firstQuartile" class="form-control col-4"
          formControlName="FirstQuartile"
          [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.FirstQuartile.invalid, 'no-inline-links': enablePercentilesAndRangeSpreads }"
          [loading]="controlPointsAsyncObj.loading"
          [data]="controlPointRanges"
          [textField]="'RangeDisplayName'"
          [valueField]="'FieldName'"
          [clearButton]="false"
          [valuePrimitive]="true"
          [allowCustom]="false"
          [placeholder]="'Select First Quartile'"
          [filterable]="false">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [hidden]="enablePercentilesAndRangeSpreads" [ngbTooltip]="fieldsDisabledTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        Please select a range for first quartile.
      </div>
    </div>
    <div class="form-group row" *ngIf="activeRangeTypeTab==='Quintile'">
      <label class="col-3 mt-2">Top 1st 5th</label>
      <kendo-combobox id="firstQuintile" class="form-control col-4"
          formControlName="FirstQuintile"
          [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.FirstQuintile.invalid, 'no-inline-links': enablePercentilesAndRangeSpreads }"
          [loading]="controlPointsAsyncObj.loading"
          [data]="controlPointRanges"
          [textField]="'RangeDisplayName'"
          [valueField]="'FieldName'"
          [clearButton]="false"
          [valuePrimitive]="true"
          [allowCustom]="false"
          [placeholder]="'Select First Quintile'"
          [filterable]="false">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [hidden]="enablePercentilesAndRangeSpreads" [ngbTooltip]="fieldsDisabledTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        Please select a range for first quintile.
      </div>
    </div>
    <div class="form-group row" *ngIf="activeRangeTypeTab==='Quintile'">
      <label class="col-3 mt-2">Top 2nd 5th</label>
      <kendo-combobox id="secondQuintile" class="form-control col-4"
          formControlName="SecondQuintile"
          [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.SecondQuintile.invalid, 'no-inline-links': enablePercentilesAndRangeSpreads }"
          [loading]="controlPointsAsyncObj.loading"
          [data]="controlPointRanges"
          [textField]="'RangeDisplayName'"
          [valueField]="'FieldName'"
          [clearButton]="false"
          [valuePrimitive]="true"
          [allowCustom]="false"
          [placeholder]="'Select Second Quintile'"
          [filterable]="false">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [hidden]="enablePercentilesAndRangeSpreads" [ngbTooltip]="fieldsDisabledTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        Please select a range for second quintile.
      </div>
    </div>
    <div class="form-group row">
      <label class="col-3 mt-2">Midpoint</label>
      <kendo-combobox id="midpoint" class="form-control col-4" *ngIf="!showMidFormula"
          formControlName="ControlPoint"
          [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.ControlPoint.invalid, 'no-inline-links': enablePercentilesAndRangeSpreads }"
          [loading]="controlPointsAsyncObj.loading"
          [data]="controlPointMidpoint"
          [textField]="'Display'"
          [valueField]="'FieldName'"
          [clearButton]="false"
          [valuePrimitive]="true"
          [allowCustom]="false"
          [placeholder]="'Select Midpoint'"
          [filterable]="true"
          (filterChange)="handleControlPointFilterChange($event)"
          (selectionChange)="handleControlPointSelectionChange()">
      </kendo-combobox>
      <div class="col-4" *ngIf="showMidFormula">
        <pf-structures-formula-editor
          formControlName="ControlPoint_Formula"
          [metadata]="metadata"
          [attemptedSubmit]="attemptedSubmit">
        </pf-structures-formula-editor>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        Please select a midpoint.
      </div>
    </div>
    <div class="form-group row" *ngIf="activeRangeTypeTab==='Tertile'">
      <label class="col-3 mt-2">Top 2nd 3rd</label>
      <kendo-combobox id="secondTertile" class="form-control col-4"
          formControlName="SecondTertile"
          [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.SecondTertile.invalid, 'no-inline-links': enablePercentilesAndRangeSpreads }"
          [loading]="controlPointsAsyncObj.loading"
          [data]="controlPointRanges"
          [textField]="'RangeDisplayName'"
          [valueField]="'FieldName'"
          [clearButton]="false"
          [valuePrimitive]="true"
          [allowCustom]="false"
          [placeholder]="'Select Second Tertile'"
          [filterable]="false">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [hidden]="enablePercentilesAndRangeSpreads" [ngbTooltip]="fieldsDisabledTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        Please select a range for second tertile.
      </div>
    </div>
    <div class="form-group row" *ngIf="activeRangeTypeTab==='Quartile'">
      <label class="col-3 mt-2">Top 3rd 4th</label>
      <kendo-combobox id="secondQuartile" class="form-control col-4"
          formControlName="SecondQuartile"
          [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.SecondQuartile.invalid, 'no-inline-links': enablePercentilesAndRangeSpreads }"
          [loading]="controlPointsAsyncObj.loading"
          [data]="controlPointRanges"
          [textField]="'RangeDisplayName'"
          [valueField]="'FieldName'"
          [clearButton]="false"
          [valuePrimitive]="true"
          [allowCustom]="false"
          [placeholder]="'Select Second Quartile'"
          [filterable]="false">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [hidden]="enablePercentilesAndRangeSpreads" [ngbTooltip]="fieldsDisabledTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        Please select a range for second quartile.
      </div>
    </div>
    <div class="form-group row" *ngIf="activeRangeTypeTab==='Quintile'">
      <label class="col-3 mt-2">Top 3rd 5th</label>
      <kendo-combobox id="thirdQuintile" class="form-control col-4"
          formControlName="ThirdQuintile"
          [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.ThirdQuintile.invalid, 'no-inline-links': enablePercentilesAndRangeSpreads }"
          [loading]="controlPointsAsyncObj.loading"
          [data]="controlPointRanges"
          [textField]="'RangeDisplayName'"
          [valueField]="'FieldName'"
          [clearButton]="false"
          [valuePrimitive]="true"
          [allowCustom]="false"
          [placeholder]="'Select Third Quintile'"
          [filterable]="false">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [hidden]="enablePercentilesAndRangeSpreads" [ngbTooltip]="fieldsDisabledTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        Please select a range for third quintile.
      </div>
    </div>
    <div class="form-group row" *ngIf="activeRangeTypeTab==='Quintile'">
      <label class="col-3 mt-2">Top 4th 5th</label>
      <kendo-combobox id="fourthQuintile" class="form-control col-4"
          formControlName="FourthQuintile"
          [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.FourthQuintile.invalid, 'no-inline-links': enablePercentilesAndRangeSpreads }"
          [loading]="controlPointsAsyncObj.loading"
          [data]="controlPointRanges"
          [textField]="'RangeDisplayName'"
          [valueField]="'FieldName'"
          [clearButton]="false"
          [valuePrimitive]="true"
          [allowCustom]="false"
          [placeholder]="'Select Fourth Quintile'"
          [filterable]="false">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [hidden]="enablePercentilesAndRangeSpreads" [ngbTooltip]="fieldsDisabledTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        Please select a range for fourth quintile.
      </div>
    </div>
    <div class="form-group row">
      <label class="col-3 mt-2">Maximum</label>
      <kendo-numerictextbox  class="form-control col-4"  *ngIf="showMaxSpread"
                      placeholder="Maximum"
                      formControlName="Maximum"
                      [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.Maximum.invalid }"
                      [format]="'n'"
                      [spinners]="false"
                      [decimals]="2"
                      [max]="200"
                      [min]="1"
                      [autoCorrect]="true">
      </kendo-numerictextbox>
      <kendo-combobox id="max-percentile" class="form-control col-4" *ngIf="!showMaxSpread"
                      formControlName="MaxPercentile"
                      [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.MaxPercentile.invalid }"
                      [loading]="controlPointsAsyncObj.loading"
                      [data]="controlPointRanges"
                      [textField]="'RangeDisplayName'"
                      [valueField]="'FieldName'"
                      [clearButton]="false"
                      [valuePrimitive]="true"
                      [allowCustom]="false"
                      [placeholder]="'Select Max'"
                      [filterable]="false">
      </kendo-combobox>
      <div class="fa-icon-wrapper">
        <fa-icon placement="top" [ngbTooltip]="maxSpreadTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
      </div>
      <div class="inline-link-wrapper">
        <a href="javascript:void(0)" tabindex="-1" (click)="this.handleMinMaxPercentileToggle(false)">
          <ng-container *ngIf="!showMaxSpread">Enter Range Spread</ng-container>
          <ng-container *ngIf="showMaxSpread">Enter Percentile Amount</ng-container>
        </a>
      </div>
      <div class="col-3"></div>
      <div class="col-7 invalid-feedback">
        <ng-container *ngIf="!showMaxSpread">Please select a range for maximum.</ng-container>
        <ng-container *ngIf="showMaxSpread">Please provide a range spread maximum.</ng-container>
      </div>
    </div>
  </div>
</div>
