.rounding-group {
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  padding: 10px;
  border-color: #ECEFF3;
}

.invalid-feedback {
  padding-left: 0;
}

.inline-link-wrapper {
  padding-top: 7px;
  padding-left: 13px;
  font-size: 11px;
}

.inline-link-wrapper a:focus {
  outline: none;
}

.fa-icon-wrapper {
  width: 30px;
  padding: 5px 0 0 5px;
}
