.rounding-group {
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  padding: 10px;
  border-color: #ECEFF3;
}

.invalid-feedback {
  padding-left: 0;
}

.inline-link {
  font-size: 11px;
  padding: 5px;
  padding-top: 7px;
  padding-left: 25px;
}

.inline-link:focus{
  outline: none;
}

.no-inline-links {
  margin-right: 12rem;
}
