<div class="list-group-item border-bottom border-white"
  [ngClass]="active ? 'active' : 'not-active'">
  <div class="div-background"></div>
  <div class="fa-4x">
    <fa-layers [ngClass]="['fa-fw']">
      <fa-icon icon="circle" class="icon-background"></fa-icon>
      <fa-icon icon="circle" transform="shrink-2" class="{{iconClass}}"></fa-icon>
      <fa-icon icon="{{icon}}" transform="shrink-8" class="icon-background"></fa-icon>
    </fa-layers>
  </div>
  <span class="tab-content">
    <h5 class="tab-text">{{primaryText}}</h5>
    <p class="tab-text">{{secondaryText}}</p>
  </span>
</div>
