<pf-data-grid
  [title]="(metaData$ | async)?.IsCurrent ? (metaData$ | async)?.StructureName : (metaData$ | async)?.ModelName"
  [subtitle]="(metaData$ | async)?.IsCurrent ? '' : 'Structure: ' + (metaData$ | async)?.StructureName"
  [navigationURL]="'/marketdata/structures.asp'"
  [inboundFilters]="[filter]"
  [columnTemplates]="colTemplates"
  [pageViewId]="pageViewId"
  [gridContainerSplitViewWidth]="'60%'"
  [splitViewTemplate]="graph"
  [splitOnSelection]="false"
  [applyDefaultFilters]="false"
  [actionBarConfig]="actionBarConfig"
  [borders]="false"
  [contentClassNamesOverrides]="'py-3 px-4'"
  [pageTheme]="'next-gen'"
  [defaultColumnWidth]="135"
  [reorderable]="true"
  [syncScrollWithSplit]="true"
  [saveSort]="true"
  [showSplitViewToggle]="true"
  [gridConfig]="gridConfig"
  [pageable]="!gridConfig.EnableInfiniteScroll"
  [pagingOptions]="defaultPagingOptions"
  [filterPanelTemplates]="filterTemplates"
  [gridActionsTemplate]="gridActions"
  [gridActionsRightTemplate]="gridActionsRightTemplate"
  [subHeaderTemplate]="subHeaderTemplate">
</pf-data-grid>

<ng-template #gridActions>
  <pf-grid-context [enableReturnBtn]="true"></pf-grid-context>
</ng-template>

<ng-template #gridActionsRightTemplate>
  <pf-grid-context [enableReturnBtn]="false" [metadata]="metaData$ | async"></pf-grid-context>
</ng-template>

<ng-template #graph>
    <pf-employee-salary-range-chart
      [rangeId]="rangeId">
    </pf-employee-salary-range-chart>
</ng-template>

<ng-template #percentage let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow[fieldName] || dataRow[fieldName] === 0; else noValue">{{dataRow[fieldName]}}%</ng-container>
</ng-template>

<ng-template #rangeValue let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow[fieldName]; else noValue">{{ dataRow[fieldName] | rangeValue: (metaData$ | async)?.Rate }}</ng-container>
</ng-template>

<ng-template #noFormatting let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text-wrap" *ngIf="dataRow[fieldName]; else noValue">
    {{dataRow[fieldName]}}
  </div>
</ng-template>

<ng-template #date let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow[fieldName]; else noValue">{{dataRow[fieldName] | date: 'MM/dd/yyyy'}}</ng-container>
</ng-template>

<ng-template #noValue>
  - -
</ng-template>

<ng-template #gridGlobalActions>
  <pf-duplicate-model-modal [pfSecuredResource]="_Permissions.STRUCTURES_CREATE_EDIT_MODEL" [rangeGroupId]="rangeGroupId"></pf-duplicate-model-modal>
  <pf-model-settings-btn [pfSecuredResource]="_Permissions.STRUCTURES_CREATE_EDIT_MODEL" [metadata]="metaData$ | async" (modelSettingsClicked)="handleModelSettingsBtnClicked()" (duplicateModelClicked)="handleDuplicateModelBtnClicked()"></pf-model-settings-btn>
</ng-template>

<ng-template #subHeaderTemplate>
  <div class="mb-3" >
    <pf-model-grid
      [inboundFilters]="[filter]"
      [rangeGroupId]="rangeGroupId"
      [singleRecordView]="true"
      [pageViewId]="pageViewId"
      [modifiedKey]="'CompanyStructures_Ranges_CompanyStructuresRanges_ID'"
      [compactGridMinHeight]="'160px'">
    </pf-model-grid>
  </div>
</ng-template>
