<pf-data-grid
  [title]="(metaData$ | async)?.Name"
  [navigationURL]="'/marketdata/structures.asp'"
  [inboundFilters]="[filter]"
  [pageViewId]="employeePageViewId"
  [gridContainerSplitViewWidth]="'70%'"
  [splitViewTemplate]="graph"
  [splitOnSelection]="false"
  [applyDefaultFilters]="false"
  [aboveGridTemplate]="aboveGridTemplate"
  [actionBarConfig]="actionBarConfig">
</pf-data-grid>

<ng-template #graph>
    <pf-employee-salary-range-chart
      [rangeId]="rangeId">
    </pf-employee-salary-range-chart>
</ng-template>

<ng-template #aboveGridTemplate>
<div style="height: 150px">
  <pf-grid-context [enableReturnBtn]="true" [metadata]="metaData$ | async"></pf-grid-context>
  <pf-model-grid [inboundFilters]="[filter]" [rangeGroupId]="rangeGroupId" [singleRecordView]="true"></pf-model-grid>
</div>
</ng-template>
