@import 'legacy-variables';

.results-header{
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid $legacy-border-grey;
  font-weight: bold;
  background-color: $legacy-header-grey;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.results-header table{
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.results-header table th{
  font-weight: 700;
}

%positon-below-header{
  position: absolute;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
  top:30px;
  bottom: 0;
  right: 0;
  left: 0;
}

.results{
  @extend %positon-below-header;
  bottom: 22px;
  overflow-y: scroll;
}

.results table{
  table-layout: fixed;
  width: 100%;
}


.no-results-message-container{
  @extend %positon-below-header;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-weight: $legacy-bold-font-weight;
}

.loading-more-row{
  height: 50px;
}
