@import 'colors';
@import 'data-insights-variables';

$left-sidebar-open-width: 350px;

.left-sidebar-dock {
  height: 100%;

  .header {
    height: 42px;
    padding: 0.8rem 1rem 0.5rem 1rem;
    background-color: #0883BE;
    color: #fff;

    .icon {
      cursor: pointer;
    }

  }

  .content, .open-icon {
    transition-delay: 0.23s;
  }

  .content {
    position: relative;
    background-color: $background-grey;

    .configure-tab-item {
      position: relative;
      top: 7px;
      left: 52px;
      margin-left: 23px;
      font-weight: 300;
      cursor: pointer;
      font-size: 16px;
    }

    .active {
      border-bottom: 2px solid lightblue;
      padding-bottom: 5px;
    }

    .actions {
      border-bottom: solid 1px $grid-border-color;
    }

    &.opened {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &.closed {
      display: none;
    }

    .tab-content {
      display: none;
      &.show {
        display: inline;
      }
    }
  }

}

.left-sidebar-content {
  background-color: #fff;
  z-index: 3;
}

.left-sidebar-close {
  width: 40px;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 #d6d6d6;
}

.left-sidebar-open {
  width: $left-sidebar-open-width;
  transition: .4s ease-in-out;
  overflow: hidden;
}

.report-filters.show {
  display: flex;
  flex-direction: column;
}

/*** DragulaModule: https://github.com/valor-software/ng2-dragula ***/
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
