<pf-async-container [loading]="ticketListLoading$ | async"
                    [loadingError]="ticketListLoadingError$ | async"
                    [loadingErrorMessage]="'Error Loading Tickets'"
                    (reload)="handleTicketGridReload()">
  <kendo-grid *ngIf="initFilterComplete" class="row-click-navigates"
              #ticketGrid
              [data]="gridView"
              [filterable]="true"
              [sortable]="sortable"
              [pageable]="{ pageSizes: pageSizes }"
              [pageSize]="state.take"
              [sort]="state.sort"
              [skip]="state.skip"
              [filter]="state.filter"
              [scrollable]="'none'"
              (sortChange)=sortChange($event)
              (pageChange)="pageChange($event)">
    <kendo-grid-column field="Status"
                       title="Status"
                       width="55">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <pf-ticket-value-picker [data]="userTicketStates"
                                [ticketId]="dataItem.Id"
                                [textField]="'UserTicketState'"
                                [valueField]="'UserTicketState'"
                                [pickerType]="ticketFieldType.STATUS"
                                [selectedValue]="getSelectedUserState(dataItem.Status)"
                                [pickerOnly]="false">
        </pf-ticket-value-picker>
      </ng-template>
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-filter #ticketStateFilter
                               [filter]="filter"
                               [data]="userTicketStatesFilter"
                               [textField]="'UserTicketState'"
                               [valueField]="'UserTicketState'"
                               [filterField]="ticketFieldType.STATUS"
                               [defaultValue]="'Open'"
                               (valueChange)="filterChanged($event)">
        </pf-ticket-list-filter>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Type"
                       title="Type"
                       width="75">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <pf-ticket-value-picker [data]="userTicketTypes"
                                [ticketId]="dataItem.Id"
                                [textField]="'TicketTypeShortName'"
                                [valueField]="'TicketTypeDisplayName'"
                                [pickerType]="ticketFieldType.TYPE"
                                [selectedValue]="getSelectedUserType(dataItem.Type)"
                                [pickerOnly]="false">
          <ng-container beside-label>
            <div class="state-icons" *ngIf="dataItem.HasNewAttachments || dataItem.HasNotes">
              <span class="text-info" title="New Attachment Added" *ngIf="dataItem.HasNewAttachments">
                <fa-icon icon="paperclip"></fa-icon>
              </span>
              <span class="text-info" title="Client Note Added" *ngIf="dataItem.HasNotes">
                <fa-icon icon="comment-alt-exclamation"></fa-icon>
              </span>
            </div>
          </ng-container>
        </pf-ticket-value-picker>
      </ng-template>
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-filter #ticketTypeFilter
                               [filter]="filter"
                               [data]="userTicketTypes"
                               [textField]="'TicketTypeShortName'"
                               [valueField]="'TicketTypeDisplayName'"
                               [filterField]="ticketFieldType.TYPE"
                               (valueChange)="filterChanged($event)">
        </pf-ticket-list-filter>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Id"
                       title="Ticket ID"
                       width="40">
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-filter #ticketIdFilter
                               [filter]="filter"
                               [data]=""
                               [defaultValue]="''"
                               [filterField]="ticketFieldType.TICKETID"
                               [textField]="'Id'"
                               [valueField]="'Id'"
                               (valueChange)="filterChanged($event)">
        </pf-ticket-list-filter>
      </ng-template>
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <a class="ticket-link"
           href="javascript:void(0)"
           (click)="handleCellClick(dataItem)">{{dataItem.Id}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="CompanyName"
                       title="Client"
                       width="60">
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-filter #ticketCompanyNameFilter
                               [filter]="filter"
                               [data]=""
                               [defaultValue]="defaultPfCompanyName"
                               [filterField]="ticketFieldType.COMPANYIDNAME"
                               [textField]="'CompanyName'"
                               [valueField]="'CompanyName'"
                               (valueChange)="filterChanged($event)">
        </pf-ticket-list-filter>
      </ng-template>
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <div [innerHTML]="dataItem.CompanyIdName"></div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="OpenedUserFullName"
                       title="User"
                       width="60">
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-filter #ticketOpenedUserFilter
                               [filter]="filter"
                               [data]=""
                               [defaultValue]="''"
                               [filterField]="ticketFieldType.OPENED_USERNAME"
                               [textField]="'OpenedUserFullName'"
                               [valueField]="'OpenedUserFullName'"
                               (valueChange)="filterChanged($event)">
        </pf-ticket-list-filter>
      </ng-template>
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <div class="action-item"
             (click)="openUserDetail(dataItem.Id, dataItem.OpenedUserId)">{{dataItem.OpenedUserFullName}}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="Description"
                       title="Ticket Summary"
                       width="100"
                       [filterable]="false"
                       [sortable]="false">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="d-flex"
             #ticketSummaryDropdown="ngbDropdown"
             ngbDropdown
             container="body"
             (openChange)="setActiveDropdown(ticketSummaryDropdown)">
          <div class="ellipsis-overflowing-text-wrap flex-grow-1">
            <ng-container *ngIf="dataItem?.TicketTitle?.length > 0; else descriptionTemplate">{{dataItem.TicketTitle}}</ng-container>
            <ng-template #descriptionTemplate>{{dataItem.Description}}</ng-template>
          </div>
          <fa-icon ngbDropdownToggle
                   icon="ellipsis-h"
                   id="ticket-summary-{{dataItem?.Id}}"
                   class="ml-2 text-info action-item">
          </fa-icon>
          <div ngbDropdownMenu class="dropdown-content" aria-labelledby="ticket-summary-{{dataItem?.Id}}">
            <h5>Ticket Summary</h5>
            <p *ngIf="dataItem?.TicketTitle?.length > 0; else notAvailableTemplate">{{dataItem.TicketTitle}}</p>
            <h5>Description</h5>
            <quill-view-html *ngIf="dataItem?.Description?.length > 0; else notAvailableTemplate"
                             [content]="dataItem.Description"
                             theme="snow">
            </quill-view-html>
          </div>
        </div>
        <div class="pl-2 action-item text-underline"
             *ngFor="let attachment of dataItem.Attachments">
          <a href="/odata/CloudFiles.DownloadUserTicketAttachment?AttachmentId={{attachment.AttachmentId}}&TicketID={{dataItem.Id}}"
             title="download">

            {{attachment.DisplayName}}
          </a>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Created"
                       title="Created"
                       width="35">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <div [innerHTML]="dataItem.Created | date:'LL/dd/yyyy'"></div>
      </ng-template>
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-date-range-filter [filter]="filter"
                                          [filterField]="ticketFieldType.CREATED"
                                          (valueChange)="filterChanged($event)">
        </pf-ticket-list-date-range-filter>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="UserModifiedDate"
                       title="Modified"
                       width="35">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <div [innerHTML]="dataItem.UserModifiedDate | date:'LL/dd/yyyy'"></div>
      </ng-template>
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-date-range-filter [filter]="filter"
                                          [filterField]="ticketFieldType.USER_MODIFIED"
                                          [defaultValue]="defaultDateRange"
                                          (valueChange)="filterChanged($event)">
        </pf-ticket-list-date-range-filter>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ServiceUser"
                       title="Assigned To"
                       width="60">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <pf-ticket-value-picker [data]="pfServiceReps"
                                [ticketId]="dataItem.Id"
                                [textField]="'Name'"
                                [valueField]="'PfServicesRepId'"
                                [pickerType]="ticketFieldType.SERVICEUSER"
                                [selectedValue]="getSelectedServiceUser(dataItem.ServiceUser)"
                                [pickerOnly]="false">
        </pf-ticket-value-picker>
      </ng-template>
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-filter #serviceUserFilter
                               [filter]="filter"
                               [data]="pfServiceReps"
                               [textField]="'Name'"
                               [valueField]="'PfServicesRepId'"
                               [filterField]="ticketFieldType.SERVICEUSER"
                               [defaultValue]="defaultPfServiceRep"
                               (valueChange)="filterChanged($event)">
        </pf-ticket-list-filter>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</pf-async-container>

<ng-template #ticketSummaryPopoverContent let-summary="summary" let-description="description">
  <div class="d-flex flex-column popover-content">
    
  </div>
</ng-template>

<ng-template #notAvailableTemplate>
  <p>N/A</p>
</ng-template>
