@import 'tickets-page';
@import 'tickets-variables';
@import "colors";

:host ::ng-deep thead tr {
  background-color: rgb(228, 228, 228);
  font-weight: 600;
}

:host ::ng-deep .badge {
  white-space: normal !important;
}

:host ::ng-deep kendo-grid table {
  table-layout: fixed !important;
}

:host ::ng-deep a.ticket-link {
  color: $pf-brand-secondary-color;
}

:host ::ng-deep .k-grid td {
  border-width: 0 0 0 0;
  vertical-align: top;
}

.action-item:hover {
  cursor: pointer;
  background-color: $selected-item-light-background-color;
}

.text-underline {
  text-decoration: underline;
}

.state-icons {
  fa-icon {
    padding-left: 5px;
  }
}
