<pf-async-container [loading]="ticketListLoading$ | async"
                    [loadingError]="ticketListLoadingError$ | async"
                    [loadingErrorMessage]="'Error Loading Tickets'"
                    (reload)="handleTicketGridReload()">
  <kendo-grid class="row-click-navigates"
              #ticketGrid
              [data]="gridView"
              [filterable]="true"
              [sortable]="sortable"
              [pageable]="{ pageSizes: pageSizes }"
              [pageSize]="state.take"
              [sort]="state.sort"
              [skip]="state.skip"
              [filter]="state.filter"
              [scrollable]="'none'"
              (sortChange)=sortChange($event)
              (pageChange)="pageChange($event)">
    <kendo-grid-column field="Status"
                       title="Status"
                       width="40"
                       [filterable]="false">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <img [alt]="dataItem[textField]"
             src="assets/svg/userticketstate_{{svgParse.getLowerAndTrimmedValue(dataItem, 'Status')}}.svg">
        {{ dataItem.Status }}
      </ng-template>
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-filter #ticketStateFilter
                               [filter]="filter"
                               [data]="userTicketStates"
                               [textField]="'UserTicketState'"
                               [valueField]="'UserTicketState'"
                               [filterField]="ticketFieldType.STATUS"
                               [defaultValue]="defaultUserTicketState"
                               (valueChange)="filterChanged()">
        </pf-ticket-list-filter>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Type"
                       title="Type"
                       width="75">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <span class="ticketsdot {{dataItem.TicketCssClass}}"></span>
        <span>{{ dataItem.Type }}</span>
      </ng-template>
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-filter #ticketTypeFilter
                               [filter]="filter"
                               [data]="userTicketTypes"
                               [textField]="'TicketTypeDisplayName'"
                               [valueField]="'TicketTypeDisplayName'"
                               [filterField]="ticketFieldType.TYPE"
                               (valueChange)="filterChanged()">
        </pf-ticket-list-filter>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Id"
                       title="ID"
                       width="30"
                       [filterable]="false">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <a class="ticket-link"
           href="javascript:void(0)"
           (click)="handleCellClick(dataItem)">{{dataItem.Id}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="CompanyName"
                       title="Client"
                       width="60"
                       [filterable]="false">>
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <div [innerHTML]="dataItem.CompanyName"></div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Description"
                       title="Description"
                       width="100"
                       [filterable]="false">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <div>
          {{dataItem.Description.length > 150 ? dataItem.Description.substring(0,150) +  '...' : dataItem.Description}}
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Created"
                       title="Created"
                       width="35"
                       [filterable]="false">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <div [innerHTML]="dataItem.Created | date:'LL/dd/yyyy'"></div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="ServiceUser"
                       title="Assigned To"
                       width="60">
      <ng-template kendoGridCellTemplate
                   let-dataItem>
        <div [innerHTML]="dataItem.ServiceUser"></div>
      </ng-template>
      <ng-template kendoGridFilterCellTemplate
                   let-filter>
        <pf-ticket-list-filter #serviceUserFilter
                               [filter]="filter"
                               [data]="pfServiceReps"
                               [textField]="'Name'"
                               [valueField]="'PfServicesRepId'"
                               [filterField]="'ServiceUser'"
                               [defaultValue]="defaultPfServiceRep"
                               (valueChange)="filterChanged()">
        </pf-ticket-list-filter>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</pf-async-container>