<ng-template #newTemplateSectionModal>  
      <div class="modal-header">
          <h4 class="modal-title">Add Section</h4>
          <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="templateSectionForm">
          <div class="form-group" [class.has-danger]="!templateSectionName.pristine && !templateSectionName.valid">
              <label for="template-name" class="control-label">Section Name:</label>
              <span *ngIf="!templateSectionName.pristine && templateSectionName.hasError('required')" class="text-danger float-right">Required</span>
              <span *ngIf="templateSectionName.hasError('maxlength')" class="text-danger float-right">
                          Exceeds {{templateSectionName.errors.maxlength.requiredLength}} characters: 
                          {{templateSectionName.errors.maxlength.actualLength}}
                      </span>
              <input ngbAutofocus type="text" class="form-control" formControlName="templateSectionName">
          </div>
          <div class="form-group" [class.has-danger]="!templateSectionSubHeading.valid">
              <label for="template-name" class="control-label">Subheading:</label>
              <span *ngIf="templateSectionSubHeading.hasError('maxlength')" class="text-danger float-right">
                          Exceeds {{templateSectionSubHeading.errors.maxlength.requiredLength}} characters: 
                          {{templateSectionSubHeading.errors.maxlength.actualLength}}
                      </span>
              <textarea style="resize: none" class="form-control" rows="5" formControlName="templateSectionSubHeading"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
          <button type="submit" [disabled]="!templateSectionForm.valid" class="btn btn-primary" (click)="submit()">Add</button>
      </div>
</ng-template>
