@import 'peer/peer-colors';

@mixin peer-button($primaryColor) {
  background-color: transparent;
  border: 1px solid $primaryColor;
  border-radius: .35rem;
  height: 26px;
  min-width: 90px;
  cursor: pointer;
  transition: background-color .2s ease-in, color .2s ease-in;
  span {
    font-weight: 600;
    opacity: .8;
  }
  svg {
    transition: color .2s ease-in, fill .2s ease-in;
    margin-right: .4rem;
    fill: $primaryColor;
    color: $primaryColor;
    opacity: .8;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $primaryColor;
    color: #fff;
    span {
      font-weight: 500;
      opacity: 1;
    }
    svg {
      fill: #fff;
      color: #fff;
      opacity: 1;
    }
  }
}