<div *ngIf="!!jobTitle?.length" class="mt-3">
  <div class="mb-3 d-flex">
    <div class="results-title flex-fill ellipsis-text">
      <span>Results for <span class="text-bold">{{jobTitle}}:</span></span>
    </div>
    <div *ngIf="gridHasData" class="d-flex flex-row ml-auto">
      <div class="mr-3">Effective Date: <span class="effective-date">{{firstDayOfMonth | date:'MM/dd/yyyy'}}</span></div>
      <div class="mr-3">Rate: <span class="rate">Annual</span></div>
      <div>Pay Market: <span class="paymarket">National</span></div>
    </div>
  </div>
  <pf-async-container [loading]="loading"
                      [loadingError]="loadingError"
                      [loadingErrorMessage]="'Error loading job data'"
                      [hideReloadButton]="true"
                      class="flex-grow-1">

    <table class="table table-hover" [attr.data-qa-id]="'tbl-job-data-grid'" [class.grid-loading]="loading">
      <thead>
      <tr class="main-column-header">
        <th></th>
        <ng-container *ngFor="let column of gridColumnsConfiguration">
          <th scope="col"
              class="{{column.CssClasses}}"
              [class.sortable-header]="column.IsSortable"
              (click)="handleSortChange(column.SortField)">
            {{column.HeaderText}}
            <ng-container *ngIf="column.IsSortable">
              <ng-container *ngIf="gridContext.sortBy?.field === column.SortField; else notSorted">
                <span *ngIf="gridContext.sortBy?.dir === 'asc'">
                  <span aria-label="Sortable" class="k-icon k-i-sort-asc-sm"></span>
                </span>
                <span *ngIf="gridContext.sortBy?.dir === 'desc'">
                  <span aria-label="Sortable" class="k-icon k-i-sort-desc-sm"></span>
                </span>
              </ng-container>
            </ng-container>
          </th>
        </ng-container>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let job of jobGridData?.Data; trackBy: trackByFn">
          <tr (click)="handleSelectionChanged(job)"
            class="job-row"
            [class.selected]="job.JobId === selectedJobData?.JobId">

            <td class="expand-caret" (click)="handleExpandJdClicked($event, job.JobId)">
              <fa-icon *ngIf="!job.ShowJd" icon="caret-right"></fa-icon>
              <fa-icon *ngIf="job.ShowJd" icon="caret-down"></fa-icon>
            </td>

            <td class="text-column job-title-column" title="{{job.JobTitle}}">
              {{job.JobTitle}}
            </td>
            <td class="education-column hide-when-small" title="{{job.Education}}">
              {{job.Education}}
            </td>
            <td class="hide-when-small">
              {{job.YearsOfExperience}}
            </td>
            <td class="hide-when-small">
              {{job.ManagesEmployees ? 'Yes': 'No'}}
            </td>
            <td *ngIf="gridHasData" class="number-column">
              <span *ngIf="!!job.Base50; else noDataTemplate">
                {{
                  job.Base50 |
                  currency:workflowContext?.activeCountryDataSet?.CurrencyCode : 'symbol-narrow' : '1.0-0'
                }}
              </span>
            </td>
            <td *ngIf="gridHasData" class="number-column">
              <span *ngIf="!!job.Tcc50; else noDataTemplate">
                {{
                  job.Tcc50 |
                  currency:workflowContext?.activeCountryDataSet?.CurrencyCode : 'symbol-narrow' : '1.0-0'
                }}
              </span>
            </td>
            <td class="text-center">
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio-{{job.JobId}}"
                        [attr.data-qa-id]="'chk-select-job-'+job.JobId"
                        name="select-job-data"
                        [checked]="job.JobId === selectedJobData?.JobId"
                        (change)="handleSelectionChanged(job)"
                        class="custom-control-input">
                <label class="custom-control-label" for="customRadio-{{job.JobId}}">&nbsp;</label>
              </div>
            </td>
          </tr>
          <tr *ngIf="job.ShowJd" class="jd-row">
            <td [attr.colspan]="gridColumnsConfiguration.length + 1"
                [innerHTML]="job.JobDescription | jobDescriptionParser">
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </pf-async-container>

  <div *ngIf="jobGridData?.Data?.length < jobGridData?.Total" class="d-flex justify-content-center">
    <span class="borderless-blue-btn" (click)="handleLoadMore()">Load More</span>
  </div>
</div>

<ng-template #noDataTemplate>
  <span>-</span>
</ng-template>