
<span class="tile-background-overlay"></span>
<div class="flex-container">


<div class="left-tile-area pt-5" *ngIf="model.ComponentData && model.ComponentData.length >= 1 ">
    <span class="tile-text">
      {{model.ComponentData[0].CategoryName}}
    </span>
  <span class="tile-text-large">
      {{model.ComponentData[0].CategoryValue}}
    </span>
</div>

<div class="middle-tile-area" *ngIf="model.ComponentData && model.ComponentData.length >= 2">
   <span class="tile-text-large">
      {{model.ComponentData[1].CategoryValue}}
    </span>
  <span class="tile-text mb-2">
     {{model.ComponentData[1].CategoryName}}
    </span>
  <kendo-datepicker [(value)]="selectedDate" (valueChange)="datePickerValueChanged()"
                    [format]="'MM/dd/yyyy'" onkeydown="return false;">
  </kendo-datepicker>
  <div class="hidden-tile-area">
     <span class="tile-text">
      {{model.ComponentData[0].CategoryName}}
    </span>
    <span class="tile-text-large">
      {{model.ComponentData[0].CategoryValue}}
    </span>
  </div>
</div>
<div class="right-tile-area" *ngIf="model.ComponentData && model.ComponentData.length >= 3">
  <kendo-chart [transitions]="true">
    <kendo-chart-area background="none" [height]="245"></kendo-chart-area>
    <kendo-chart-series>
      <kendo-chart-series-item [highlight]="seriesItemHighlightStyle"
                               [type]="model.ChartType" [data]="model.ComponentData[2].ChartData"
                               categoryField="Key" field="Value" [holeSize]="50">
        <kendo-chart-series-item-tooltip>
          <ng-template let-category="category" let-value="value">
            {{category}} : {{value}}%
          </ng-template>
        </kendo-chart-series-item-tooltip>
      </kendo-chart-series-item>
      <ng-template kendoChartDonutCenterTemplate>
          <span class="tile-text-extra-large">{{model.ComponentData[2].CategoryValue}}%
          </span>
        <span class="tile-text">{{model.ComponentData[2].CategoryName}}</span>
      </ng-template>
    </kendo-chart-series>
    <kendo-chart-legend [padding]="0" [visible]="false">
    </kendo-chart-legend>
  </kendo-chart>
</div>

</div>

