<pf-data-grid
  *ngIf="viewMode === 'Priced'"
  [pageViewId]="pricedDataPageViewId"
  [showTitle]="false"
  [showColumnChooser] ="true"
  [showFilterChooser] ="false"
  [allowExport]="false"
  [contentNoPadding]="true"
  [selectionField]="'CompanyJobPricing_ID'"
  [enableSelection]="true"
  [columnTemplates]="pricedDataColTemplates"
  [expandedRowTemplate]="pricingMatchesGrid"
  [inboundFilters]="filters"
  [defaultSort]="defaultSort"
  [showActionBar]="true"
  [actionBarClassName]="'pricing-details-grid-action-bar ml-0 mt-1'"
  [gridGlobalFiltersTemplates]="pricedDataGlobalFilterTemplates"
  [gridGlobalActionsTemplate]="changeView"
  [headerClassName]="'pricing-details-grid-header'"
  [noRecordsFound]="'No Pay Markets priced for this job. Click &quot;Pay Markets not Priced&quot; above to view and select Pay Markets to price.'">
</pf-data-grid>

<ng-template #pricingMatchesGrid let-dataRow="dataRow">
  <pf-pricing-matches-grid [pricingInfo]="dataRow"></pf-pricing-matches-grid>
</ng-template>

<ng-template #payMarketColumn let-dataRow="dataRow">
  <b>{{dataRow['CompanyPayMarkets_PayMarket']}}</b>
  <span kendoTooltip *ngIf="dataRow['CompanyPayMarkets_Linked_PayMarket_Name']" data-html="true" position="right"
        title="This pay market is linked to {{dataRow['CompanyPayMarkets_Linked_PayMarket_Name']}}.">
    <fa-icon class="pl-2" icon="link">
    </fa-icon>
  </span>
  <br>
  <small>
    <em class="text-muted">
      Industry: {{dataRow['CompanyPayMarkets_Industry_Value'] || 'N/A' }}
      &#8226;
      Size: {{dataRow['CompanyPayMarkets_Size_Value'] || 'N/A'}}
      {{dataRow['CompanyPayMarkets_Size_Label'] ? ' - ' + dataRow['CompanyPayMarkets_Size_Label'] : ''}}
      &#8226;
      Location: {{dataRow['CompanyPayMarkets_Geo_Value'] || 'N/A'}}
    </em>
  </small>
</ng-template>

<ng-template #genericMrpColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <pf-pricing-details-mrp-column
    [dataRow]="dataRow"
    [fieldName]="fieldName"
  ></pf-pricing-details-mrp-column>
</ng-template>

<ng-template #baseMrpColumn let-dataRow="dataRow">
  <div class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow['CompanyJobs_Pricings_BaseMRP'] | comp: dataRow['CompanyJobs_Pricings_Rate'] | emptyPlaceholder"></span>
    <small *ngIf="dataRow['CompanyJobs_Pricings_BaseMRP']">
      <em class="text-muted">
        ({{dataRow['CompanyJobs_Pricings_Base_reference_Point']}}th)
      </em>
    </small>
  </div>
</ng-template>

<ng-template #baseTccColumn let-dataRow="dataRow">
  <div class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow['CompanyJobs_Pricings_TCCMRP'] | comp: dataRow['CompanyJobs_Pricings_Rate'] | emptyPlaceholder"></span>
    <small *ngIf="dataRow['CompanyJobs_Pricings_TCCMRP']">
      <em class="text-muted">
        ({{dataRow['CompanyJobs_Pricings_TCC_Reference_Point']}}th)
      </em>
    </small>
  </div>
</ng-template>

<ng-template #currencyColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div class=ellipsis-overflowing-text>
    <span [innerHTML]="dataRow[fieldName] | comp: dataRow['CompanyJobs_Pricings_Rate'] | emptyPlaceholder"></span>
  </div>
</ng-template>

<ng-template #pricedDataPayMarketFilter>
  <kendo-dropdownlist
    style="width: 250px"
    [(ngModel)]="pricedDataSelectedPayMarket"
    [textField]="'Value'"
    [valueField]="'Id'"
    [defaultItem]="{Value:'All Pay Markets', Id: null}"
    [data]="pricedDataFilteredPayMarketOptions"
    (valueChange)="handlePayMarketFilterChanged($event)"
    [filterable]="true"
    (filterChange)="handleFilter($event)"
    [attr.data-qa-id]="'ddm-operator-'+pricedDataPayMarketField.SourceName"
    class="k-dropdown-white form-control">
</kendo-dropdownlist>
</ng-template>

<ng-template #changeView>
  <div class="view-change" (click)="switchViewToNotPriced()">
    <div class="pricing-count-badge">
      <span class="badge badge-primary mr-2">{{unPricedCount || 0}}</span>
      <span>Pay Market{{unPricedCount === 1 ? '' : 's'}} Not Priced</span>
    </div>
  </div>
</ng-template>

