<pf-data-grid
  [pageViewId]="'86870F9F-C148-4626-92DE-C2B73B6E0D35'"
  [showTitle]="false"
  [showColumnChooser] ="false"
  [showFilterChooser] ="false"
  [allowExport]="false"
  [contentNoPadding]="true"
  [selectionField]="'CompanyJobPricing_ID'"
  [columnTemplates]="colTemplates"
  [expandedRowTemplate]="pricingMatchesGrid"
  [inboundFilters]="filters"
  [defaultSort]="defaultSort">
</pf-data-grid>

<ng-template #pricingMatchesGrid let-dataRow="dataRow">
  <pf-pricing-matches-grid [pricingInfo]="dataRow"></pf-pricing-matches-grid>   
</ng-template>

<ng-template #payMarketColumn let-dataRow="dataRow">
  <b>{{dataRow['CompanyPayMarkets_PayMarket']}}</b>

  <span placement="right" *ngIf="dataRow['CompanyPayMarkets_Linked_PayMarket_Name']" data-html="true"
        ngbTooltip="This pay market is linked to {{dataRow['CompanyPayMarkets_Linked_PayMarket_Name']}} with a {{dataRow['CompanyPayMarkets_Linked_AdjPct']}}% adjustment.">
    <fa-icon class="pl-2" icon="link">
    </fa-icon>
  </span>
  <br>
  <small>
    <em class="text-muted">        
      Industry: {{dataRow['CompanyPayMarkets_Industry_Value'] || 'N/A' }}
      &#8226;
      Size: {{dataRow['CompanyPayMarkets_Size_Value'] || 'N/A'}}
      {{dataRow['CompanyPayMarkets_Size_Label'] ? ' - ' + dataRow['CompanyPayMarkets_Size_Label'] : ''}}
      &#8226;
      Location: {{dataRow['CompanyPayMarkets_Geo_Value'] || 'N/A'}}
    </em>
  </small>
</ng-template>

<ng-template #baseMrpColumn let-dataRow="dataRow">
  <span [innerHTML]="dataRow['CompanyJobs_Pricings_BaseMRP'] | comp: dataRow['CompanyJobs_Pricings_Rate'] | emptyPlaceholder"></span>
  <small *ngIf="dataRow['CompanyJobs_Pricings_BaseMRP']">
    <em class="text-muted">                
      ({{dataRow['CompanyJobs_Pricings_Base_reference_Point']}}th)
    </em>
  </small>
</ng-template>

<ng-template #baseTccColumn let-dataRow="dataRow">
  <span [innerHTML]="dataRow['CompanyJobs_Pricings_TCCMRP'] | comp: dataRow['CompanyJobs_Pricings_Rate'] | emptyPlaceholder"></span>
  <small *ngIf="dataRow['CompanyJobs_Pricings_TCCMRP']">
    <em class="text-muted">                
      ({{dataRow['CompanyJobs_Pricings_TCC_Reference_Point']}}th)
    </em>
  </small>
</ng-template>


<ng-template #currencyColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <span [innerHTML]="dataRow[fieldName] | comp: dataRow['CompanyJobs_Pricings_Rate'] | emptyPlaceholder"></span>    
</ng-template>

