@import 'jobs-page-colors';
@import 'common/common';

:host ::ng-deep .pricing-details-grid-action-bar {
  background-color: $sub-grid-action-bar-background-color;
}

:host ::ng-deep .pricing-details-grid-header {
  background-color: $sub-grid-header-color !important;
  border: none;
  color: $sub-grid-header-font-color;
  font-weight: $sub-grid-header-font-weight !important;
}

.badge-primary {
  font-size: 100%;
  background-color: $pf-brand-secondary-color;
}

.pricing-count-badge {
  padding: 6px 1px;
}
