<div #jobSearchResults
   class="job-search-results"
   infinite-scroll
   [scrollWindow]="false"
   [infiniteScrollDistance]="2"
   [infiniteScrollThrottle]="50"
   (scroll)="onScroll($event)"
   (scrolled)="onScrollDown()">
  <pf-async-container
    [loading]="loadingCommunityJobs$ | async"
    [loadingError]="loadingCommunityJobsError$ | async"
    [hideReloadButton]="true">

    <ng-container *ngIf="(communityJobs$ | async)?.length; else noResultsMessage">
      <div class="row mx-0">
        <div class="col-8 offset-2">
          <pf-community-job
            *ngFor="let job of communityJobs$ | async; trackBy: trackByJobId;let i = index; let last = last;"
            [job]="job"
            [endOfList]="last && !hasMoreResultsOnServer">
          </pf-community-job>
        </div>
      </div>
    </ng-container>
    <div class="back-to-top-container">
      <pf-community-back-to-top-navigation *ngIf="isNavigationVisible"
        (backToTopClicked)="backToTop()">
      </pf-community-back-to-top-navigation>
    </div>
  </pf-async-container>
  <div class="row m-3" *ngIf="loadingMoreCommunityJobs$ | async">
    <div class="col-8 offset-2">
      <pf-loading-indicator></pf-loading-indicator> Loading More Results...
    </div>
  </div>
</div>

<ng-template #noResultsMessage>
  <div *ngIf="!(loadingCommunityJobs$ | async)" class="row no-results-message-container">
    <div class="col-8 offset-2">
      No results. Please change your filter criteria and search again.
    </div>
  </div>
</ng-template>
