.job-search-results{
  margin-bottom: .5rem;
  height: 100%;
  overflow-y: scroll;
}

.back-to-top-container{
  position: absolute;
  left:  83.33333333%;  /* offset for bootstrap col-10 */
  bottom: 25px;
}
