<div class="text-center"  *ngIf="model.TileType === tileTypes.MyJobs">
  <img class="job-placeholder" src="/client/dashboard/assets/images/placeholders/tiles/Jobs.png">
</div>

<div class="text-center" *ngIf="model.TileType === tileTypes.Employees">
  <img class="employees-placeholder" src="/client/dashboard/assets/images/placeholders/tiles/Employee.png">
</div>

<div class="text-center" *ngIf="model.TileType === tileTypes.Surveys">
  <img class="surveys-placeholder" src="/client/dashboard/assets/images/placeholders/tiles/Surveys.png">
</div>
