@import 'colors';

.company-job-to-map-to-result{
  padding: 1rem 0.5rem;
  border-bottom: 1px solid lighten( $border-grey, 10% );
  display: flex;
}

.card:hover{
  background-color: $selection-hover-background;
}

.header{
  height: 28px;
  align-items: center;
}

.apply-mapping-container{
  min-width: 145px;
  align-self: center;
  margin: 0 .75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
