@import 'app-colors';

.alert-mustard {
  color: #1f2f3d;
  background-color: #fbb116;
  border-color: #1f2f3d;
  min-height: 135px;
  font-size: 13pt;
  border-radius: 0 !important;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.request-access-message {
  min-height: 78px;
}

:host ::ng-deep .actions-container {
  position: static !important;
  height: auto !important;
  padding: .85rem .5rem .25rem;

  .buttons {
    height: 29px;
  }
}
