<pf-async-container [loading]="upsertingDataCut$ | async"
                    [loadingError]="upsertingDataCutError$ | async"
                    [loadingErrorMessage]="'Error adding data cut, please close the modal and try again.'"
                    [hideReloadButton]="true">

  <pf-exchange-explorer
    [companyPayMarketId]="companyPayMarketId"
    [shouldShowPayMarketBoundsFilter]="hasAcceptedPeerTerms$ | async"
    [shouldShowExcludeIndirectJobMatchesFilter]="hasAcceptedPeerTerms$ | async"
    [shouldShowExchangeScopeSelector]="hasAcceptedPeerTerms$ | async">

    <ng-container map-footer>

      <div class="alert alert-mustard mb-0"
           *ngIf="!(hasAcceptedPeerTerms$ | async)">
        <div class="request-access-message mb-2">
          {{!(hasRequestedPeerAccess$ | async) ? requestPeerAccessMessage : accessRequestedMessage }}
        </div>
        <div class="d-flex justify-content-end mt-0">
          <button type="button"
                  class="btn btn-primary mr-2"
                  [disabled]="(requestingPeerAccess$ | async) || (hasRequestedPeerAccess$ | async)"
                  (click)="requestPeerAccess()">
              <span *ngIf="requestingPeerAccess$ | async">
                <pf-loading-indicator></pf-loading-indicator> Requesting Access...
              </span>
            <span *ngIf="!(requestingPeerAccess$ | async)">
                {{(hasRequestedPeerAccess$ | async) ? 'Access Requested' : 'Request Access'}}
              </span>
          </button>
          <button type="button"
                  class="btn btn-secondary"
                  (click)="cancel()">Cancel</button>
        </div>
      </div>

    </ng-container>

    <ng-container action-left>
      <div class="d-flex mr-4">
          <pf-weighting-type-dropdown
            [selectedWeightingType]="selectedWeightingType"
            [includeLabel]="false"
            (weightingTypeChanged)="handleWeightingTypeChanged($event)">
          </pf-weighting-type-dropdown>
      </div>

      <div class="d-flex" *ngIf="((untaggedIncumbentCount$ | async) > 0)">
        <label for="include-untagged-incs">
          {{untaggedIncumbentMessage}}
          <input id="include-untagged-incs"
                 type="checkbox"
                 [ngModel]="includeUntaggedIncumbents$ | async"
                 (click)="handleUntaggedIncumbentsChecked()">
        </label>
      </div>
      <div class="d-flex flex-grow-1 justify-content-end">
        <label class="text-muted font-italic" *ngIf="(isEmployeeCheckLoading$ | async)">
          <i class='fa fa-spinner fa-spin'></i>&nbsp;<b>Validating...</b>
        </label>
      </div>
    </ng-container>

    <ng-container action-buttons>

      <pf-guidelines-badge></pf-guidelines-badge>

       <button type="button"
                class="btn legacy-primary-btn au-btn-add ml-2"
                *ngIf="(hasAcceptedPeerTerms$ | async)"
                [disabled]="failsGuidelines || !(hasAcceptedPeerTerms$ | async) || (isEmployeeCheckLoading$ | async)"
                (click)="upsert()">

          {{primaryButtonText}}
        </button>

        <button type="button"
                class="btn btn-secondary au-btn-cancel ml-2"
                (click)="cancel()">Cancel</button>

    </ng-container>

  </pf-exchange-explorer>

</pf-async-container>
