@import 'colors';
@import 'styles';

.tag {
  color: #515151;
  background-color: $community-tag-color;
}

.post-offset {
  margin-left: $community-post-avatar-size + 10px;
}

.hide {
  display: none;
}

.show {
  display: inline;
}


.community-link {
  color: #808080;
  vertical-align: middle;
}

a {
  text-decoration: none;
}
.line {
  stroke: rgb(153, 160, 164);
  stroke-width: 2;
}

.solid-star {
  color: $community-favorite-icon-color;
}

:host ::ng-deep .hashtag-highlight {
  color: rgb(64, 171, 221);
}

:host ::ng-deep .link-url {
  color: rgb(64, 171, 221);
  text-decoration: underline;
}

:host ::ng-deep .url-preview-card
{
  border: 1px solid $border-grey;
  overflow: hidden;
}

:host ::ng-deep .url-preview-card-image-container
{
  float:left;
  border-right: 1px solid $border-grey;
}

:host ::ng-deep .url-preview-card-image
{
  object-fit: cover;
  height: 100px;
  width: 100px;
  color: #FA4646;
}
