  <div class="pl-1 col-12">
      <pf-community-avatar
        [AvatarSource]="post.UserInfo?.AvatarSource"
        [CompanyLogoSource]="post.UserInfo?.CompanyLogoSource"
        [UserFirstName]="post.UserInfo.UserFirstName"
        [UserLastName]="post.UserInfo.UserLastName">
      </pf-community-avatar>
      <div class="post-offset">
        <pf-community-post-header [user]="post.UserInfo"
                                  [time]="post.ElapsedTime"
                                  [isInternalOnly]="post.IsInternalOnly"
                                  [isCurrentUserPost]="post.IsCurrentUserPost"
                                  [postId]="post.Id"
                                  [isExpiredPoll]="post.UserPollRequest ? post.UserPollRequest.IsExpired : false"
                                  [isUserPoll]="post.UserPollRequest != null"
                                  [userPollId]="post.UserPollRequest ? post.UserPollRequest.CommunityPollId : ''"
                                  [hasReplies]="hasReplies(post)"
                                  [hidePostActions]="false"
                                  [isFavoritedByCurrentUser]="post.FavoritedByCurrentUser">
        </pf-community-post-header>
        <div *ngIf="!post.UserPollRequest; else user_poll">      
          <pf-community-post-content class="mt-2 mb-2"
                                     (hashTagClicked)="hashtagClicked($event)"
                                     [content]="post.Content">
          </pf-community-post-content>
          <div *ngIf="post.Attachments" class="d-flex flex-wrap pt-2">
            <div class="pr-4 pt-1 pb-2" *ngFor="let attachment of post.Attachments">
              <pf-community-attachment
                [attachment]="attachment" 
                [disableCommunityAttachments]="disableCommunityAttachments" 
                [hideAttachmentWarning]="hideAttachmentWarning" 
                (onAttachmentClickedEvent)="handleAttachmentClickedEvent($event)">
              </pf-community-attachment>         
             </div>
          </div>
          <div class="url-preview-card p-1" *ngIf="post?.UrlPreviewData.PreviewTitle">
            <a [href]="post.UrlPreviewData.PreviewUrl" target="_blank">
              <div class="url-preview-card-image-container mr-2">
                <img class="url-preview-card-image" [src]="post.UrlPreviewData.PreviewImageSrc">
              </div>
              <p><b>{{post.UrlPreviewData.PreviewTitle}}</b></p>
              <p>{{post.UrlPreviewData.PreviewDescription}}</p>
            </a>
          </div>
          <div class="d-flex align-items-center">
            <pf-community-like
              [LikedByCurrentUser]="post.LikedByCurrentUser"
              [PostId]="post.Id"
              [LikeCount]="post.LikeCount">
            </pf-community-like>
            <a id="reply" href="javascript:void(0)" class="pl-2 community-link" (click)="showReply()">
              <span>Reply</span>
            </a>
          </div>
          <div class="mt-2 py-1" [ngClass]="showAddReply ? 'show' : 'hide'">
            <pf-community-post-add-reply
              [postId]="post.Id"
              [maximumReplies]="maximumReplies"
              [replyCount]="post.ReplyCount"
              [disableCommunityAttachments]="disableCommunityAttachments"
              (replySubmitted)="onReplySubmitted()">
            </pf-community-post-add-reply>
          </div>
          <pf-community-post-add-reply-view
            [postId]="post.Id" 
            [disableCommunityAttachments]="disableCommunityAttachments"
            [hideAttachmentWarning]="hideAttachmentWarning"
            (replyHashTagClicked)="hashtagClicked($event)"
            (onAttachmentClickedEvent)="handleAttachmentClickedEvent($event)">
          </pf-community-post-add-reply-view>
          <pf-community-post-filtered-reply-view *ngIf="!isModal" [postId]="post.Id"></pf-community-post-filtered-reply-view>
          <div *ngIf="post.ReplyCount > 0">
            <a id="replyAction" href="javascript:void(0)" class="community-link m-1">
          <span class="mr-1">
              <svg height="5" width="20">
                <line class="line" x1="0" y1="0" x2="100" y2="0"/>
              </svg>
          </span>
          <span *ngIf="!showReplies"
                (click)="getReplies(post.Id)">View Replies ({{ post.ReplyCount }})</span>
          <span *ngIf="showReplies" (click)="hideReplies(post.Id)">Hide Replies</span>
            </a>
          </div>
          <div *ngIf="showReplies">
            <pf-community-post-replies
              [replies]="post.Replies"
              [loading]="loadingCommunityPostReplies$ | async"
              [disableCommunityAttachments]="disableCommunityAttachments"
              [hideAttachmentWarning]="hideAttachmentWarning" 
              (replyHashTagClicked)="hashtagClicked($event)"
              (onAttachmentClickedEvent)="handleAttachmentClickedEvent($event)">
            </pf-community-post-replies>
          </div>
        </div>
        <ng-template #user_poll>
          <div class="row justify-content-center m-0">
            <div class="col-8 pb-2">
              <pf-community-poll
                [request]="post.UserPollRequest"
                [response]="post.UserPollResponse"
                [type]="pollsType"
                [isCurrentUserPost]="post.IsCurrentUserPost"
                (pollHashTagClicked)="hashtagClicked($event)">
              </pf-community-poll>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
