<div class="table-responsive" *ngIf="standardReportsList">
    <kendo-grid [data]="standardReportsList" class="no-wrap-ellipsis-values">
          <kendo-grid-column field="Name" title="Report Name" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{dataItem.DisplayName ? dataItem.DisplayName : dataItem.Name }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Summary" title="Report Summary" [width]="300">
          </kendo-grid-column>
          <kendo-grid-column field="ThumbnailUrl" title="Report Thumbnail" [width]="200">
          </kendo-grid-column>
          <kendo-grid-column field="Site" title="Tableau Site" [width]="100"></kendo-grid-column>
          <kendo-grid-column field="CreateDate" title="Create Date" [width]="100">
            <ng-template kendoGridCellTemplate
                         let-dataItem>
              {{ dataItem.CreateDate | date:'MM/dd/yyyy' }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="EditDate" title="Edit Date" [width]="100">
            <ng-template kendoGridCellTemplate
                         let-dataItem>
              {{ dataItem.EditDate | date:'MM/dd/yyyy' }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="LastEditedBy" title="Last Edited By" [width]="200">
          </kendo-grid-column>
          <ng-template kendoGridNoRecordsTemplate>
            {{filter ? 'No reports found matching this filter' : 'No reports to display'}}
          </ng-template>
          <kendo-grid-column width="50">
            <ng-template kendoGridCellTemplate let-dataItem>
              <button title="Edit Report" class="btn-edit btn btn-sm btn-primary" (click)="handleEditClicked(dataItem)">
                <fa-icon icon="pencil"></fa-icon>
              </button>
            </ng-template>
          </kendo-grid-column>
    </kendo-grid>
</div>
<div *ngIf="!loading && !standardReportsList">
  <h5>No reports to display</h5>
</div>
