<div class="pt-3" *ngIf="metadata" [formGroup]="modelSettingsForm">
  <ul ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false" [(activeId)]="activeTab">
    <li [ngbNavItem]="'modelTab'" id="modelTab" >
      <a ngbNavLink>{{modelTabTitle}}</a>
      <ng-template ngbNavContent>
        <div class="p-3 pr-5">
          <div class="form-group">
            <label for="model-name">Model Name <span class="text-danger">*</span></label>
            <input type="text"
                   class="form-control"
                   id="model-name"
                   formControlName="ModelName"
                   [ngClass]="{ 'is-invalid': ((attemptedSubmit || formControls.ModelName.touched) && !formControls.ModelName.valid) || modelNameExistsFailure }"
                   [maxlength]="50"
                   (input)="clearModelNameExistsFailure()"/>
            <div class="invalid-feedback">
              <div *ngIf="formControls.ModelName.errors?.required">Please provide a model name.</div>
              <div *ngIf="modelNameExistsFailure">Model Name Exists</div>
            </div>
          </div>
          <div class="form-group">
            <pf-range-distribution-setting
              formControlName="RangeDistributionSetting"
              [rangeGroupId]="rangeGroupId"
              [attemptedSubmit]="attemptedSubmit"
              (payTypeSelectionChange)="handlePayTypeSelectionChange($event)">
            </pf-range-distribution-setting>
          </div>
          <div class="form-group">
            <label for="rate">Rate</label>
            <kendo-dropdownlist id="rate" class="form-control k-dropdown-white"
                                formControlName="Rate"
                                [data]="['Annual', 'Hourly']"
                                [valuePrimitive]="true"
                                (selectionChange)="handleRateSelectionChange($event)">
            </kendo-dropdownlist>
            <div class="invalid-feedback">
              Please provide a rate.
            </div>
          </div>
          <div class="form-group">
            <label for="currency">Currency</label>
            <kendo-combobox id="currency" class="form-control"
                            formControlName="Currency"
                            [ngClass]="{ 'is-invalid': (attemptedSubmit || formControls.Currency.touched) && !formControls.Currency.valid }"
                            [loading]="currenciesAsyncObj.loading"
                            [data]="currencies"
                            [textField]="'CurrencyDisplay'"
                            [valueField]="'CurrencyCode'"
                            [valuePrimitive]="true"
                            [clearButton]="false"
                            [allowCustom]="false"
                            [filterable]="true"
                            (filterChange)="handleCurrencyFilterChange($event)"
                            (selectionChange)="handleCurrencySelectionChange()">
            </kendo-combobox>
            <div class="invalid-feedback">
              Please provide a currency.
            </div>
          </div>
          <div class="form-group" *ngIf="hasAcceptedPeerTerms">
            <label for="PeerExchange">
              Peer Exchange
              <span class="fa-icon-wrapper">
                  <fa-icon placement="right" [ngbTooltip]="peerExchangeToolTipInfo" icon="info-circle" aria-hidden="true"></fa-icon>
                </span>
            </label>
            <kendo-dropdownlist id="PeerExchange" class="form-control k-dropdown-white"
                                [data]="exchanges"
                                [textField]="'ExchangeName'"
                                [valueField]="'ExchangeId'"
                                [disabled]="peerDropDownDisabled"
                                [(ngModel)]="selectedExchange"
                                [ngModelOptions]="{standalone: true}"
                                (selectionChange)="markFormDirty()">
            </kendo-dropdownlist>
            <div class="invalid-feedback">
              Please provide a Peer Exchange.
            </div>
          </div>
        </div>

      </ng-template>
    </li>
    <li [ngbNavItem]="'roundingTab'" id="roundingTab">
      <a ngbNavLink>Rounding</a>
      <ng-template ngbNavContent>
        <pf-range-rounding (roundingChanged)="markFormDirty()"></pf-range-rounding>
      </ng-template>
    </li>
    <li [ngbNavItem]="'advancedModelingTab'" id="advancedModelingTab">
      <a ngbNavLink>Advanced Modeling</a>
      <ng-template ngbNavContent>
        <pf-advanced-model-setting
          formControlName="RangeAdvancedSetting"
          [metadata]="metadata"
          [attemptedSubmit]="attemptedSubmit"
          [rangeGroupId]="rangeGroupId">
        </pf-advanced-model-setting>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
