<pf-page-with-title-bar [returnUrl]="'/statement/edit/' + (statement$ | async)?.StatementId">
  <ng-container page-title>{{ (statement$ | async)?.StatementName }}: Assigned Employees</ng-container>
  <ng-container page-actions>
    <pf-input-debounce class="mr-2" [style.width.px]="300"
                       [value]="(employeeSearchTerm$ | async)"
                       [disabled]="(!(assignedEmployeesTotal$ | async) && !(employeeSearchTerm$ | async))"
                       [placeholderText]="'Search for an employee by Name or ID'"
                       [automationClassName]="'au-tb-assigned-employee-search'"
                       (valueChanged)="onSearchTermChange($event)">
    </pf-input-debounce>
    <button type="button"
            class="btn btn-primary open-assign-modal"
            [disabled]="(statement$ | async)?.AssignedCompanyEmployeeIds?.length === statementAssignmentMax"
            [attr.title]="(statement$ | async)?.AssignedCompanyEmployeeIds?.length === statementAssignmentMax ? 'You have reached the 100,000 employees limit.' : ''"
            (click)="openAssignModal()">
            Assign Employees
    </button>
    <button type="button"
            id="export-btn"
            class="btn btn-secondary"
            [disabled]="!(assignedEmployeesTotal$ | async) || (isExportingAssignedEmployees$ | async) || (exportEventId$ | async)?.loading"
            [attr.title]="'Export Employee Benefits Report'"
            (click)="handleExportClicked()">
      <fa-icon icon="download"></fa-icon>
    </button>
    <pf-list-area-column-chooser [listAreaColumns]="assignedEmployeesListAreaColumns$ | async"
                                 (saveColumns)="handleSaveGridColumns($event)">
    </pf-list-area-column-chooser>
  </ng-container>
  <ng-container page-content>
    <pf-async-container
      [loading]="savingGridColumns$ | async"
      [loadingError]="savingGridColumnsError$ | async"
      [loadingErrorMessage]="'Error Saving Selected Columns'">
    </pf-async-container>
    <div class="flex-column-container">
      <div class="d-flex mb-2">
        <div class="d-flex grid-actions-container">
          <button type="button" class="btn btn-secondary pf-btn-borderless mr-3" [disabled]="(assignedEmployeesSelectedCompanyEmployeeIds$ | async)?.length === 0" (click)="handleClearSelectionsClick()">
            <fa-icon [icon]="['far', 'times']"></fa-icon>
            Clear Selections <span *ngIf="(assignedEmployeesSelectedCompanyEmployeeIds$ | async)?.length > 0">({{(assignedEmployeesSelectedCompanyEmployeeIds$ | async)?.length}})</span>
          </button>
          <div class="vertical-separator mr-3"></div>
          <button type="button" class="btn btn-secondary pf-btn-borderless mr-3" [disabled]="(assignedEmployeesSelectedCompanyEmployeeIds$ | async)?.length === 0" (click)="handleOpenUnassignModalClick()">
            <fa-icon [icon]="'user-slash'" aria-hidden="true"></fa-icon>
            Unassign
          </button>
        </div>
        <pf-list-area-filter-pills
          *ngIf="assignedEmployeesGridState?.filter?.filters?.length"
          [listAreaColumns]="assignedEmployeesListAreaColumns$ | async"
          [filters]="assignedEmployeesGridState?.filter?.filters"
          (clearFilter)="handleClearFilter($event)"
          (clearAllFilters)="handleClearAllFilters()">
        </pf-list-area-filter-pills>
        <button (click)="handleFiltersToggle()" class="filter-toggle btn btn-secondary ml-auto">
          <fa-icon icon="sliders-h" class="mr-1" aria-hidden="true"></fa-icon><span>Filter</span>
        </button>
      </div>
      <div class="d-flex h-100">
        <div class="grid-wrapper" [class.expanded-filters]="getIsFiltersPanelOpen$ | async">
          <pf-assigned-employees-grid
            [gridState]="assignedEmployeesGridState"
            [displayNoEmployeesImage]="!(assignedEmployeesLoading$ | async) && !isChangingFilters && (filters$ | async)?.length === 0 && !(this.employeeSearchTerm$ | async)"
            (gridStateChange)="handleAssignedEmployeesGridStateChange($event)"
            (openAssignModalClicked)="openAssignModal()">
          </pf-assigned-employees-grid>
        </div>
        <div class="filter-wrapper" [class.expanded]="getIsFiltersPanelOpen$ | async">
          <pf-list-area-filter-sidebar
            [filters]="assignedEmployeesGridState?.filter?.filters"
            [listAreaColumns]="(assignedEmployeesListAreaColumns$ | async)"
            [saveFiltersVisible]="false"
            (filterChanged)="handleFilterChanged($event)"
            (close)="handleFiltersClose()">
          </pf-list-area-filter-sidebar>
        </div>
      </div>
      <pf-footer-bar
        [primaryButtonText]="(assignedEmployeesTotalOrSelectedCount$ | async) > 0 ? 'Generate (' + (assignedEmployeesTotalOrSelectedCount$ | async) + ')' : 'Generate'"
        [primaryButtonEnabled]="(assignedEmployeesTotalOrSelectedCount$ | async) > 0"
        [secondaryButtonText]="'Back to Canvas'"
        (primaryButtonClick)="handleOpenGenerateStatementModalClick()"
        (secondaryButtonClick)="handleBackToCanvasClick()"
      ></pf-footer-bar>
      <pf-statement-assignment-modal></pf-statement-assignment-modal>
      <pf-generate-statement-modal
        [isOpen$]="isGenerateStatementModalOpen$"
        [statement]="statement$ | async"
        [sendingGenerateRequest]="sendingGenerateRequest$ | async"
        [sendingGenerateRequestSuccess]="sendingGenerateRequestSuccess$ | async"
        [sendingGenerateRequestError]="sendingGenerateRequestError$ | async"
        [companyEmployeeIdsTotal]="assignedEmployeesTotalOrSelectedCount$ | async"
        [electronicDeliveryEnabled]="electronicDeliveryFeatureFlagEnabled"
        (generateStatementsClick)="handleGenerateStatementsClick($event)"
        (cancelClick)="handleCancelGenerateStatementModal()"
      ></pf-generate-statement-modal>
      <pf-unassign-employees-modal
        [isOpen$]="isUnassignEmployeesModalOpen$"
        [statementName]="(statement$ | async).StatementName"
        [singleEmployee]="openActionMenuEmployee$ | async"
        [isSingleEmployeeUnassign]="isSingleEmployeeAction$ | async"
        [sendingUnassignRequest]="sendingUnassignRequest$ | async"
        [sendingUnassignRequestSuccess]="sendingUnassignRequestSuccess$ | async"
        [sendingUnassignRequestError]="sendingUnassignRequestError$ | async"
        [selectedCompanyEmployeeIds]="assignedEmployeesSelectedCompanyEmployeeIds$ | async"
        (unassignEmployeesClick)="handleUnassignEmployeesClick()"
        (cancelClick)="handleCancelUnassignEmployeesModal()"
      ></pf-unassign-employees-modal>
    </div>
  </ng-container>
</pf-page-with-title-bar>
