<pf-page-with-title-bar [returnUrl]="'/statement/edit/' + (statement$ | async)?.StatementId">
  <ng-container page-title>{{ (statement$ | async)?.StatementName }} - Assigned Employees</ng-container>
  <ng-container page-actions>
    <button type="button" class="btn btn-secondary open-assign-modal" (click)="openAssignModal()">Assign Employees</button>
  </ng-container>
  <ng-container page-content>
    <div class="flex-column-container">
      <div class="d-flex mb-2">
        <pf-list-area-filter-pills
          *ngIf="assignedEmployeesGridState?.filter?.filters?.length"
          [listAreaColumns]="assignedEmployeesListAreaColumns$ | async"
          [filters]="assignedEmployeesGridState?.filter?.filters"
          (clearFilter)="handleClearFilter($event)"
          (clearAllFilters)="handleClearAllFilters()">
        </pf-list-area-filter-pills>
        <button (click)="handleFiltersToggle()" class="filter-toggle btn btn-secondary ml-auto">
          <fa-icon icon="sliders-h" class="mr-1" aria-hidden="true"></fa-icon><span>Filter</span>
        </button>
      </div>
      <div class="d-flex h-100">
        <div class="grid-wrapper" [class.expanded-filters]="getIsFiltersPanelOpen$ | async">
          <pf-assigned-employees-grid
            [gridState]="assignedEmployeesGridState"
            (gridStateChange)="handleAssignedEmployeesGridStateChange($event)">
          </pf-assigned-employees-grid>
        </div>
        <div class="filter-wrapper" [class.expanded]="getIsFiltersPanelOpen$ | async">
          <pf-list-area-filter-sidebar
            [filters]="assignedEmployeesGridState?.filter?.filters"
            [listAreaColumns]="(assignedEmployeesListAreaColumns$ | async)"
            [saveFiltersVisible]="false"
            (filterChanged)="handleFilterChanged($event)"
            (close)="handleFiltersClose()">
          </pf-list-area-filter-sidebar>
        </div>
      </div>
      <pf-footer-bar
        [primaryButtonText]="'Generate'"
        [primaryButtonEnabled]="(assignedEmployeesSelectedCompanyEmployeeIds$ | async)?.length"
        [primaryButtonToolTip]="(assignedEmployeesSelectedCompanyEmployeeIds$ | async)?.length ? '' : 'Select employees to generate statements'"
        [secondaryButtonText]="'Back to Canvas'"
        (primaryButtonClick)="handleOpenGenerateStatementModalClick()"
        (secondaryButtonClick)="handleBackToCanvasClick()"
      ></pf-footer-bar>
      <pf-statement-assignment-modal></pf-statement-assignment-modal>
      <pf-generate-statement-modal 
        [isOpen$]="isGenerateStatementModalOpen$"
        [statement]="statement$ | async"
        [sendingGenerateRequest]="sendingGenerateRequest$ | async"
        [sendingGenerateRequestSuccess]="sendingGenerateRequestSuccess$ | async"
        [sendingGenerateRequestError]="sendingGenerateRequestError$ | async"
        [selectedCompanyEmployeeIds]="assignedEmployeesSelectedCompanyEmployeeIds$ | async"
        (generateStatementsClick)="handleGenerateStatementsClick()"
        (cancelClick)="handleCancelGenerateStatementModal()"
      ></pf-generate-statement-modal>
    </div>
  </ng-container>
</pf-page-with-title-bar>
