@import 'comphub-variables';
@import 'colors';

.left-bar {
  background-color: $pf-additional-colors-green;
}

.right-bar {
  background-color: #f1f9ee;
}

.left-bar, .right-bar {
  min-height: 30px;
}

.bar-row {
  border: 1px solid $comphub-header-background-grey;
}

.bar-annotations {
  margin-top: 5px;
  margin-bottom: 5px;
  div {
    width: 33%;
    display: inline-block;
  }
}

.bar-values {
  font-weight: $comphub-bold-font-weight;
}

.header-blue {
  color: $comphub-header-blue;
  font-weight: $comphub-bold-font-weight;
}

.date-range {
  line-height: 4rem;
  padding-right: 5.5px;
}

.percentage-change {
  font-size: 2.25rem;
  color: $comphub-header-blue;

  .plus-sign {
    color: $pf-additional-colors-green;
    font-size: 85%;
    line-height: 3.4rem;
    margin-right: -5px;
  }

  .text-danger {
    font-size: 85%;
    line-height: 3.4rem;
    margin-right: -5px;
  }
}
