<pf-modal-form [size]="'lg'"
               [title]="titleName"
               [showFooter]="false"
               [showSubmit]="false"
               [modalId]="'au-modal-data-converter'"
               [isOpen$]=" showDataConverterModal$"
               (onDismiss)="closeDataConverterModal()">
  <ng-container basic-content>
    <div [ngSwitch]="dataType">
      <pf-date-converter-form *ngSwitchCase="'Date' || 'DateTime'"
                              [fieldName]="fieldName"
                              [provider]="provider"
                              [entityType]="entityType"
                              [dataType]="dataType"
                              [selectedDateFormat]="selectedDateFormat"
                              (onDateConverterFormSave)="saveDataConverterModal($event)"
                              (onDateConverterFormCancel)="closeDataConverterModal()">
      </pf-date-converter-form>
      <pf-converter-form *ngSwitchDefault
                          [fieldName]="fieldName"
                          [provider]="provider"
                          [entityType]="entityType"
                          [dataType]="dataType"
                          [fieldValues]="fieldMappingValues"
                          (onConverterFormSave)="saveDataConverterModal($event)"
                          (onConverterFormCancel)="closeDataConverterModal()">
      </pf-converter-form>
    </div>
  </ng-container>
</pf-modal-form>
