<pf-page-with-title-bar>
  <ng-container page-title>
    Company Resources
  </ng-container>
  <ng-container page-actions>
    <button id="upload-btn" type="button" class="btn btn-primary" *ngIf = "hasCompanyResourcesAddEditDeletePermission" (click)="openResourceModal()">New Resource</button>
    <button id="new-folder-btn" type="button" class="btn btn-secondary" *ngIf = "hasCompanyResourcesAddEditDeletePermission" (click)="openNewFolderModal()">New Folder</button>
  </ng-container>
  <ng-container page-content>
    <pf-async-container
      [loading]="companyResourcesLoading$ | async"
      [loadingError]="companyResourcesLoadingError$ | async"
      [loadingErrorMessage]="'Error loading Company Resources.'">
      <div class="company-resources-container">
        <div class="content-container">
          <pf-company-resource-list
            [hasCompanyResourcesAddEditDeletePermission] = "hasCompanyResourcesAddEditDeletePermission"
            [folderResources]="folderResources$ | async"
            [orphanedResources]="orphanedResources$ | async">
          </pf-company-resource-list>
        </div>
      </div>
    </pf-async-container>
  </ng-container>
</pf-page-with-title-bar>
