@import 'colors';

$community-like-button-color: #294F75;
$community-tag-color: #ECF0F5;
$community-link-color: rgb(64, 171, 221);
$community-tag-icon-color: #808080;
$community-icon-color: #808080;
$community-user-name-text-color: #51667E;
$community-sub-text-color: #99A0A4;
$community-poll-draft: #A3A3A3;
$community-poll-live: #6D9F6C;
$community-poll-archived: #0973A8;
$community-poll-option-color: rgb(153, 193, 212);
$community-poll-expired-tag-color: rgb(241, 94, 94);
$community-invalid-field-color: salmon;
$community-categories-header: #111;
$community-categories-body: #28435a;
$community-categories-border: #d9d9d9;
$community-category-hover-color: #0883be;
$community-job-button-color: #0099cc;
$community-tab-color: #1F2F3D;
$community-tab-active-color: #0099cc;
$community-tags-header-color: #111;
$community-tags-body-color: #555;
$community-tags-border-color: #ebe7e7;
$community-tags-line-color: #eee;
$community-tags-hover-color: #0099cc;
$community-post-button: #0099cc;
$community-post-button-hover: #1F2F3D;
$community-post-button-focus: #1F2F3D;
$community-avatar-background: #BFBFBF;
$community-badge-color: #0099cc;
$community-attachment-link-color: #99A0A4;
$community-attachment-link-hover-color: #28435a;
$community-pdf-badge-color: #D86344;
$community-word-badge-color: #4d82B8;
$community-excel-badge-color: #76A797;
$community-image-badge-color: #D65532;
$community-search-result-color: #99A0A4;
$community-invalid-input-color: #dc3545;
$community-border-radius: 4px;
$community-post-avatar-size: 50px;
$community-reply-avatar-size: 35px;


.k-checkbox {
  &:checked + .k-checkbox-label {
    &::before {
      background-color: #0883be;
      border: none;
    }

    &::after {
      color: white;
    }
  }

  &:focus + .k-checkbox-label::before {
    box-shadow: none;
  }
}

.k-checkbox-label::before {
  background-color: #e1e5e9;
  border-color: lightgrey;
}

.community-border-radius
{
  border-radius: $community-border-radius;
}

.cursor-pointer
{
  cursor: pointer;
}
