<div class="d-flex flex-column h-100">

  <pf-manage-exchange-section-header [sectionTitle]="'Create a Standard Scope'">
    <ng-container header-actions>
      <button type="button" class="btn btn-md btn-primary" (click)="handleCreateScopeClicked()">Create Scope</button>
    </ng-container>

  </pf-manage-exchange-section-header>

  <div class="d-flex h-100">
    <div class="flex-grow-1">
      <pf-exchange-explorer></pf-exchange-explorer>
    </div>
  </div>

</div>

<pf-save-exchange-scope-modal
  [exchange]="exchange$ | async"
  [isStandardScope]="true"
  (upsertExchangeScopeEvent)="handleUpsertExchangeScopeEvent($event)">
</pf-save-exchange-scope-modal>
