@import 'comphub-variables';

.tempTable {
  border: 1px;
}

.tempTypeHeader {
  width: 5%;
}

.tempPayHeader {
  width: 10%;
}

tr {
  border: 1px solid black;
}

.summary-page-content {
  padding-top: 30px;
}

.summary-panel-wrapper {
  background-color: #f7f7f7;
  border-right: 4px solid rgba(0, 153, 204, 0.06);
  padding: .25rem 1rem 3rem;
  overflow: auto;

  .summary-panel-item {
    padding: 0 0 10px 0;

    .summary-panel-item-header {
      font-size: .85rem;
      text-transform: uppercase;
    }

    .summary-panel-item-value {
      font-weight: $comphub-bold-font-weight;
      font-size: 1.25rem;
      color: $comphub-header-blue;
    }
  }
}

.job-title {
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 500;
  color: #306589;
}

.rate-display-dropdown {
  width: 150px;
  vertical-align: unset;



}

:host ::ng-deep .k-dropdown.rate-display-dropdown {
  .k-input {
    color: #3593d3;
    padding: 0;
    margin-top: 1px;
  }
  .k-dropdown-wrap {
    border: 0 solid transparent;
  }
  .k-state-focused {
    box-shadow: none !important;
  }

  .k-select {
    position: absolute;
    right: 45px;
    top: 5px;
    color: #3593d3;
  }


}

.rate-display {
  float: right;
}

:host ::ng-deep .k-list {
  color: #3593d3;
}

.rate-display-label {
  margin-right: 5px;
  margin-top: 5px;
}

.rate-value-label {
  display: inline;
}

.rate-value-row {
  margin-bottom: 15px;
}

