<pf-card-layout
  pageTitle="Summary"
  [page]="comphubPages.Summary"
  pageIconClass="file-alt">

  <ng-container page-content>

    <table>
      <thead>
      <tr>
        <th class="tempTypeHeader">Type</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Base 10
        </td>
        <td>
          {{ this.selectedJob?.Base10 }}
        </td>
      </tr>
      <tr>
        <td>
          Base 25
        </td>
        <td>
          {{ this.selectedJob?.Base25 }}
        </td>
      </tr>
      <tr>
        <td>
          Base 50
        </td>
        <td>
          {{ this.selectedJob?.Base50 }}
        </td>
      </tr>
      <tr>
        <td>
          Base 75
        </td>
        <td>
          {{ this.selectedJob?.Base75 }}
        </td>
      </tr>
      <tr>
        <td>
          Base 90
        </td>
        <td>
          {{ this.selectedJob?.Base90 }}
        </td>
      </tr>
      <tr>
        <td>
          Base Avg
        </td>
        <td>
          {{ this.selectedJob?.BaseAvg }}
        </td>
      </tr>
      <tr>
        <td>
          Tcc 10
        </td>
        <td>
          {{ this.selectedJob?.Tcc10 }}
        </td>
      </tr>
      <tr>
        <td>
          Tcc 25
        </td>
        <td>
          {{ this.selectedJob?.Tcc25 }}
        </td>
      </tr>
      <tr>
        <td>
          Tcc 50
        </td>
        <td>
          {{ this.selectedJob?.Tcc50 }}
        </td>
      </tr>
      <tr>
        <td>
          Tcc 75
        </td>
        <td>
          {{ this.selectedJob?.Tcc75 }}
        </td>
      </tr>
      <tr>
        <td>
          Tcc 90
        </td>
        <td>
          {{ this.selectedJob?.Tcc90 }}
        </td>
      </tr>
      <tr>
        <td>
          Tcc Avg
        </td>
        <td>
          {{ this.selectedJob?.TccAvg }}
        </td>
      </tr>
      </tbody>
    </table>


    <ng-container *ngIf="summaryPage" #CompensableFactors>
      <pf-compensable-factors [selectJobTitle]="selectedJob?.JobTitle"></pf-compensable-factors>
    </ng-container>
  </ng-container>

</pf-card-layout>
