<div #tooltip class="tooltip-container" [style.visibility]="!visible ? 'hidden': 'inherit'">
  <div class="d-flex">
      <div class="mr-auto pr-2"><h5>{{job.Title}} ({{job.Code}})</h5></div>
      <div data-toggle="tooltip" title="Close" (click)="hide()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
  </div>
  <div>
    <span class="pr-2"><strong>Family: </strong>{{job.Family}}</span>
    <span class="pr-2"><strong>Level: </strong>{{job.Level}}</span>
    <span *ngIf="job.IsPayfactors && !!job.FLSAStatus"><strong>FLSA: </strong>{{job.FLSAStatus}}</span>
  </div>
  <div *ngIf="job.IsPayfactors && !!job.Category">
    <span class="pr-2"><strong>Job Category: </strong>{{job.Category}}</span>
    <span class="pr-2"><strong>EEO: </strong>{{job.EEO}}</span>
</div>
  <p class="mt-3">
    <strong>Source: </strong>{{job.Source}}
    <span *ngIf="!job.IsPayfactors && !!job.SurveyName">- {{job.SurveyName}}</span>
    effective {{job.EffectiveDate | date: 'longDate'}}
  </p>
  <p *ngIf="job.IsPayfactors">
    <strong>Scope: </strong>National
  </p>
  <div class="d-flex">
    <div #jobDescription class="job-description">{{job.Description}}</div>
    <div *ngIf="job.Description" data-toggle="tooltip" title="Copy Job Description" ngbTooltip="Copied" triggers="manual" #t="ngbTooltip" (click)="copyMessage(job.Description)">
      <i class="fa fa-clipboard" aria-hidden="true"></i>
    </div>
  </div>
</div>
