<span title="Click to Edit Display Name" class="editable" *ngIf="!isEditing" (click)="toggleEdit()">
  {{value}} <span class="editable-icon"> <fa-icon icon="pencil"> </fa-icon> </span>
</span>
<ng-container *ngIf="isEditing">
  <form [formGroup]="editDisplayNameForm" (ngSubmit)="save()">
    <div class="input-group">
      <input id="editable-category-name-input"
             type="text"
             class="form-control"
             autocomplete="off"
             formControlName="tempValue"
             pfFocus
             [pfValidatable]="!isSaving"
             [minLength]="3">
      <div (click)="save()" class="input-group-append" [ngClass]="{'disabled': !saveButtonEnabled}">
          <span class="input-group-text">
            <fa-icon icon="check-circle" class="text-success"></fa-icon>
          </span>
      </div>
      <div (click)="cancel()" class="input-group-append" [ngClass]="{'disabled': isSaving}">
          <span class="input-group-text">
            <fa-icon icon="times"></fa-icon>
          </span>
      </div>

    </div>

    <ng-container *ngIf="tempValueControl.errors">
      <div *ngIf="tempValueControl.errors.required" class="invalid-feedback">Display Name is required.</div>
      <div *ngIf="tempValueControl.errors.error" class="invalid-feedback">{{tempValueControl.errors.error}}</div>
    </ng-container>
  </form>
</ng-container>
