<div class="flex-column-container">
  
  <h4>Footer View</h4>

  <p>A Footer View is a way to determine sections and content controls a user is able to see while looking at a PDF or Word footer. Choose up to 3 selections.</p>
    
  <pf-async-container [smartLoadingMask]="true" [loading]="(loading$ | async)" [loadingError]="(loadingError$ | async)" [hideReloadButton]="true">
    <form [formGroup]="jdmFooterForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="createdByCheck">
                <input type="checkbox" id="createdByCheck" formControlName="createdByCheck" class="mr-3"/>
                Created By
            </label>
        </div>
        <div class="form-group">
            <label for="createdDateCheck">
                <input type="checkbox" id="createdDateCheck" formControlName="createdDateCheck" class="mr-3"/> 
                Created Date
            </label>
        </div>
        <div class="form-group">
            <label for="versionNumberCheck">
                <input type="checkbox" id="versionNumberCheck" formControlName="versionNumberCheck" class="mr-3"/> 
                Version Number
            </label>
        </div>
        <div class="form-group">
            <label for="pageNumberCheck">
                <input type="checkbox" id="pageNumberCheck" formControlName="pageNumberCheck" class="mr-3"/> 
                Page Number
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="customTextCheck"  formControlName="customTextCheck" class="mr-3"/>
          <textarea rows="3" formControlName="customTextValue" class="w-50" placeholder="{{placeholderText}}" maxlength="250"></textarea>
          <div *ngIf="displayCustomTextWarning"><span class="custom-text-warning">Text containing more than 40 characters will be displayed on a separate line</span></div>
        </div>
        <div class="d-flex pt-2 justify-content-between border-top">
            <button type="submit" 
            [ngClass]="{'disabled': !jdmFooterForm.valid || (loadingError$ | async) || (savingError$ | async)}" 
            class="btn btn-primary disabled">
                <span *ngIf="(saving$ | async)">
                    <pf-loading-indicator></pf-loading-indicator> Saving...
                  </span>
                  <span *ngIf="!(saving$ | async)">Save</span>
            </button>

            <span class="help-block text-danger" *ngIf="(savingError$ | async)">Error saving footer view.</span>
            <span class="help-block text-success" *ngIf="(savingSuccess$ | async) && jdmFooterForm.pristine">Footer view saved successfully!</span>

            <span class="help-block text-danger" *ngIf="jdmFooterForm.hasError('customValidationError')">Only 3 fields can be added to the footer.</span>
            <span class="help-block text-danger" *ngIf="customTextValue.hasError('maxlength')">
                Exceeds {{customTextValue.errors.maxlength.requiredLength}} characters: 
                {{customTextValue.errors.maxlength.actualLength}}
            </span>
        </div>		
    </form>
</pf-async-container>
</div>
