<pf-page-with-title-bar>

  <ng-container page-title>
    Community
  </ng-container>

  <ng-container page-content>
    <div class="container-fluid community-container">
      <div class="row">
        <div class="col-3">
          <pf-community-popular-tags></pf-community-popular-tags>
          <iframe id="podcastFrame" src="//html5-player.libsyn.com/embed/destination/id/619888/height/340/theme/custom/autonext/no/autoplay/no/thumbnail/yes/preload/no/no_addthis/no/direction/backward/no-cache/true/render-playlist/yes/custom-color/000000/" height="340" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
        <div class="col-6">
          <pf-community-start-discussion></pf-community-start-discussion>
          <pf-community-posts></pf-community-posts>
        </div>
        <div class="col-3">

          <div class="row">
            <div class="col">
              <pf-community-polls></pf-community-polls>
            </div>
          </div>
          <div class="row">
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</pf-page-with-title-bar>
