<div class="flex-column-container">
  <div class="page-header d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <h1>COMP <span class="header-bold">COMMUNITY</span></h1>
    </div>
    <div class="w-25">
      <pf-community-search [searchBoxText]="" (searchEvent)="routeToSearchResults($event)"></pf-community-search>
    </div>
  </div>
  <div class="page-content" (scroll)="onScroll($event)">
    <div class="container-fluid community-container">
      <div class="row">
        <div class="col-9">
          <div id="discussion-wrapper" *ngIf="!hideTopComponents">
            <div class="row">
              <div class="col-9">
                <pf-community-start-discussion></pf-community-start-discussion>
              </div>
              <div class="col-3 pl-0">
                <pf-community-categories></pf-community-categories>
              </div>
            </div>
            <div class="tags-margin-left">
              <div class="pb-2"><pf-community-filters></pf-community-filters></div>
              <pf-community-filtered-tags></pf-community-filtered-tags>
            </div>
          </div>
          <div id="loading-previous-results-indicator" class="row loading-indicator-container-top p-1 k-display-none">
            <div class="pb-3">
              <pf-loading-indicator></pf-loading-indicator>
              Loading More Results...
            </div>
          </div>
          <pf-community-posts #posts (filtersModifiedEvent)="scrollToTop()"></pf-community-posts>
          <div id="loading-next-results-indicator" class="row loading-indicator-container-bottom p-1 k-display-none">
            <div class="mt-3 pb-3">
              <pf-loading-indicator></pf-loading-indicator>
              Loading More Results...
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="k-display-inline" [ngClass]="{'k-display-none' : hideTopComponents && isIE}">
            <div class="mb-3" *ngIf="!hideTopComponents">
              <pf-community-polls></pf-community-polls>
            </div>
            <div [ngClass]="{'sticky-top' : !isIE}">
              <h5>COMP & COFFEE</h5>
              <iframe id="podcast-frame" width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay"
                      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/387156743&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            </div>
          </div>
          <div class="row back-to-top-container" *ngIf="showBackToTopButton">
            <div class="col">
              <pf-community-back-to-top-navigation
                (backToTopClicked)="backToTop()"></pf-community-back-to-top-navigation>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pf-community-attachment-modal></pf-community-attachment-modal>
