<pf-page-with-title-bar>

  <ng-container page-title>
    Community
  </ng-container>

  <ng-container page-content>
    <div class="container-fluid community-container">
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
          <pf-community-posts></pf-community-posts>
        </div>
        <div class="col-3">

          <div class="row">
            <div class="col">
              <pf-community-polls></pf-community-polls>
            </div>
          </div>
          <div class="row">
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</pf-page-with-title-bar>
