@import 'colors';

.page-header{
  background: $grey;
  border-bottom: 1px solid $border-grey;
  height: 67px;
  flex-shrink: 0;
  padding: 0 0.85rem;
}

.page-content {
  background-color: #FFFFFF;
  z-index: 999;
}

.community-container
{
  min-width: 1000px;
}

.header-bold
{
  font-weight: 800;
}

.sub-header
{
  font-size: 1.75rem;
}

.back-to-top-container
{
  position: fixed;
  bottom: 10px;
}

.loading-indicator-container-top
{
  position: sticky;
  top: -10px;
  height:50px;
  z-index: 999;
  background-color: white;
  width: 100%;
  line-height: 35px;
}

.loading-indicator-container-bottom
{
  position: fixed;
  bottom: 0;
  height:50px;
  background-color: white;
  width: 100%;
  z-index: 0;
}

.sticky-top
{
  z-index: auto;
}

.tags-margin-left
{
  margin-left: 2rem;
}
