@import 'colors';
@import 'styles';

#filter-section-header
{
  font-weight: 500;
  color: $community-tags-header-color;
}

.topic-filter
{
  width: 250px;
}

.industry-filter
{
  width: 370px;
}

.company-size-filter
{
  width: 200px;
}