<div class="container mt-3">
  <div class="row">
    <div class="col-md-5 p-2">
      <div class="p-3 dotted-border">
        <h2>{{(job$ | async).title}}</h2>
        <p><span><strong>Job Summary</strong></span> {{(job$ | async).description}}</p>
      </div>
    </div>
    <div class="col-md-5 p-2">
      <div class="p-3 dotted-border">
        <h2>National Data</h2>
        <div>
          <label>
            <strong>Base 25th</strong>
          </label>
          <span class="ml-1">{{(job$ | async).nationalBase25}}</span>
        </div>
        <div>
          <label>
            <strong>Base 50th</strong>
          </label>
          <span class="ml-1">{{(job$ | async).nationalBase50}}</span>
        </div>
        <div>
          <label>
            <strong>Base 75th</strong>
          </label>
          <span class="ml-1">{{(job$ | async).nationalBase75}}</span>
        </div>
        <div>
          <label>
            <strong>TCC 25th</strong>
          </label>
          <span class="ml-1">{{(job$ | async).nationalTcc25}}</span>
        </div>
        <div>
          <label>
            <strong>TCC 50th</strong>
          </label>
          <span class="ml-1">{{(job$ | async).nationalTcc50}}</span>
        </div>
        <div>
          <label>
            <strong>TCC 75th</strong>
          </label>
          <span class="ml-1">{{(job$ | async).nationalTcc75}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-2 p-1">
      <pf-price-job></pf-price-job>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <pf-related-jobs 
        [relatedJobs$]="relatedJobs$" 
        [job$]="job$"
        (relatedJobClicked)="handleRelatedJobClick($event)"
      >
    </pf-related-jobs>
    </div>
  </div>
</div>