@import 'colors';
@import 'styles';

$tile-border-thickness: 2px;

.tile {
  position: relative;
  border-radius: $tile-border-thickness;
  border: solid $tile-border-thickness rgba(0, 0, 0, 0);
  height: 200px;
  text-align: left;
}

.tile:hover {
  border: solid $tile-border-thickness #c7c2c2;
}

.tile-blue {
  background-color: $tile-blue-color;
}

.tile-lightblue {
  background-color: $tile-light-blue-color;
}

.tile-green {
  background-color: $tile-green-color;
}

h1{
  font-size: 2rem;
}

.marketing-overlay {
  position: absolute;
  top: -$tile-border-thickness;
  left: -$tile-border-thickness;
  right: -$tile-border-thickness;
  bottom: -$tile-border-thickness;
  background-color: $tile-marketing-overlay-color;
  opacity: 0.7;
  z-index: 2;
}


.marketing-overlay-context
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-marketing {
  position: absolute;
  bottom: 20px;
  width: 120px;
  left: 50%;
  margin-left: -60px;
}

