<pf-page-with-title-bar [returnUrl]="'/utilities/yoy-default-scopes'">
  <ng-container page-title>
    Map Default Scopes YOY - {{(company$ | async)?.CompanyName}}
  </ng-container>
  <ng-container page-content>
    <div class="container-fluid d-flex flex-column h-100">
      <div class="row top mb-3">
        <div class="col-6 h-100">
          <pf-data-list-card
            [loading]="defaultScopeSurveysLoading$ | async"
            [loadingError]="defaultScopeSurveysLoadingError$ | async"
            [items]="defaultScopeSurveys$ | async"
            (itemClicked)="handleSurveyClicked($event)"
            [dataName]="'Surveys'"
            [filterPlaceholder]="'Search for a Survey...'">
          </pf-data-list-card>
        </div>
        <div class="col-6 h-100">
          <pf-match-results
            [matchResultsAsync]="matchResultsAsync$ | async"
            [filteredMatchResults]="filteredMatchResults$ | async"
            [scopeSelected]="(selectedScope$ | async) !== undefined"
            (matchResultSelected)="handleMatchResultSelected($event)"
            (applyExactMatchClicked)="handleApplyExactMatchClicked($event)"
            (filterClicked)="handleFilterMatchResultsClicked($event)">
          </pf-match-results>
        </div>
      </div>
      <div class="row flex-grow-1 h-100">
        <div class="col-12 h-100">
          <pf-scope-selector
            [surveyScopesAsync]="surveyScopesAsync$ | async"
            [selectedMatch]="selectedMatchResult$ | async"
            (applyScopeClicked)="handleApplyScopeClicked()"
            (surveyScopeSelected)="handleSurveyScopeSelected($event)">
          </pf-scope-selector>
        </div>
      </div>
    </div>
  </ng-container>
</pf-page-with-title-bar>
