<pf-page-with-title-bar [absoluteUrl]="'/ng/site-admin/navigation'" >
    <ng-container page-title>
            Marketing Image
    </ng-container>
    <ng-container page-content>                
        <form [formGroup]="marketingForm">        
            <label class="col-form-label">Marketing URL:</label>
            <input type="text" formControlName="url" class="w-100"  placeholder="http://" />
            <p class = "text-danger"
                [hidden]="marketingForm.controls.url.valid || (marketingForm.controls.url.pristine && !submitted)">
                URL should be minimum 4 characters.
            </p>
            <label class="col-form-label" >Marketing image:</label>         
            <kendo-upload
                [saveUrl]="uploadSaveUrl"
                [restrictions]="fileRestrictions"
                [multiple]="false"
                [autoUpload]="false"
                (select)="selectEventHandler($event)"
                (clear)="clearEventHandler($event)"
                (remove)="removeEventHandler($event)"
                (upload)="uploadEventHandler($event)"
                (success)="successEventHandler($event)"
                (error)="errorEventHandler($event)">
                <kendo-upload-messages select="Select file..."
                    clearSelectedFiles = "Cancel"
                    uploadSelectedFiles = "Upload marketing image"
                    headerStatusUploaded = "Marketing image has been uploaded successfully!">
                </kendo-upload-messages>
            </kendo-upload>
            <span *ngIf="errorMessage.length" class="text-danger">{{ errorMessage }}</span>
            <span *ngIf="previewFileUri">
                <img [src]="previewFileUri" class="preview mt-4"/>
            </span>         
        </form>       
    </ng-container>
</pf-page-with-title-bar>

