<pf-page-with-title-bar [absoluteUrl]="env.siteAdminUrl + '/navigation'">
    <ng-container page-title>
      Marketing Settings
    </ng-container>
    <ng-container page-actions>
        <button [disabled]="(saving$ | async) || !marketingForm.valid" id="marketing-form-submit"
            (click)="handleSaveClicked()"
            class="btn btn-primary">{{(saving$ | async) ? 'Saving' : 'Save'}}
        </button>
        <button [disabled]="saving$ | async" (click)="handleCancelClicked()" class="btn btn-secondary">Cancel</button>
    </ng-container>
    <ng-container page-content>
        <form [formGroup]="marketingForm">
            <div class="row">
                <div class="col-6">
                  <div class="form-group">                 
                    <label class="control-label mt-4" for="marketingVideoUrl">Marketing Video URL<span class="text-danger">*</span></label>
                    <input formControlName="marketingVideoUrl" type="text" class="form-control" placeholder="Marketing Video URL" maxlength="255"
                      [ngClass]="{ 'is-invalid': !marketingVideoUrlControl.valid && marketingVideoUrlControl.touched }">
                    <span *ngIf="marketingVideoUrlControl.errors?.required" class="invalid-feedback">URL is required</span>
                    <span *ngIf="marketingVideoUrlControl.errors?.maxlength" class="invalid-feedback">URL cannot be longer than 255 characters</span>
                    
                    <label class="control-label mt-4" for="marketingImageUrl">Marketing Image URL<span class="text-danger">*</span></label>
                    <input formControlName="marketingImageUrl" type="text" class="form-control" placeholder="Marketing Image URL" maxlength="255"
                      [ngClass]="{ 'is-invalid': !marketingImageUrlControl.valid && marketingImageUrlControl.touched }">
                    <span *ngIf="marketingImageUrlControl.errors?.required" class="invalid-feedback">URL is required</span>
                    <span *ngIf="marketingImageUrlControl.errors?.maxlength" class="invalid-feedback">URL cannot be longer than 255 characters</span>         
                    
                    <label class="control-label mt-4" for="marketingImageFile">Select Marketing Image<span class="text-danger">*</span></label>
                    <kendo-upload
                        [autoUpload]="true"
                        [accept]="acceptedFileExtensions"
                        [saveUrl]="uploadSaveUrl"
                        [multiple]="false"
                        (select)="selectEventHandler($event)"
                        (remove)="removeEventHandler()">
                        <kendo-upload-messages select="Select file..."
                          clearSelectedFiles = "Cancel"
                          uploadSelectedFiles = "Upload marketing image">
                    </kendo-upload-messages>
                    </kendo-upload>
                    <span *ngIf="marketingImageLocation">
                        <img [src]="marketingImageLocation" class="mt-4"/>
                    </span>    
                  </div>
                </div>
            </div>
        </form>       
    </ng-container>
</pf-page-with-title-bar>
