// Ticket type background colors
$tickets-tickettype-fileupload-background:#009900;
$tickets-tickettype-question-background: #6600FF;
$tickets-tickettype-jobpricing-background:#993300;
$tickets-tickettype-productissuebug-background:#1699CF;
