@import 'tickets-variables';
@import 'colors';

.productIssueBugColor {
    background-color: $tickets-tickettype-productissuebug-background;
  }

.questionColor {
    background-color: $tickets-tickettype-question-background;
  }

.jobPricingColor {
    background-color: $tickets-tickettype-jobpricing-background;
  }

.fileUploadColor {
    background-color: $tickets-tickettype-fileupload-background;
  }

//ticket detail:
.ticket-header {
  font-family: 'Segoe UI Bold', 'Segoe UI Regular', 'Segoe UI';
  font-weight: 700;
  font-style: normal;
  font-size: 1.231rem;
  color: $header-color;
}

.detail-label {
  font-size: 13px;

  &.margin-bottom {
    margin-bottom: 0.5rem;
  }
}

.detail-text {
  font-family: 'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight: 600;
  font-size: 1.077rem;
}

.detail-card {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(204, 204, 204, 1);
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px;
}

span.ticketsdot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right:5px;
  }