<div *ngIf="jobInsights" class="position-relative">
  <ng-container [ngTemplateOutlet]="pageHeader"></ng-container>

  <div class="content-container ml-auto mr-auto page-size">
    <!--Page 1-->
    <div class="d-flex flex-column page page-break-after-always">
      <div class="pb-3">
        <ng-container [ngTemplateOutlet]="jobTitle"></ng-container>
      </div>
  
      <div class="pb-3 border-bottom">
        <div class="d-flex flex-column">
          <pf-job-insights-job-summary [mode]="jobInsightsPrintMode"
                                       [jobSummary]="jobInsights.JobSummary">
          </pf-job-insights-job-summary>
        </div>
      </div>
  
      <div class="py-3 border-bottom">
        <pf-job-insights-job-details [mode]="jobInsightsPrintMode"
                                     [standardFields]="standardFields"
                                     [customFields]="customFields">
        </pf-job-insights-job-details>
      </div>
  
      <div class="py-3 border-bottom d-flex flex-column">
        <span class="font-size-11 font-weight-600">Pricing Details</span>
        <ng-container *ngIf="jobInsights.JobPricingId">
          <div class="graph-container">
            <pf-job-pricing-graph [paymarketId]="companyPayMarketId" [companyJobId]="companyJobId"></pf-job-pricing-graph>
          </div>
        </ng-container>
        <div *ngIf="!jobInsights.JobPricingId">
          <span class="font-size-10">No pricing details to display</span>
        </div>
      </div>
    </div>

    <!--Page 2+-->
    <div *ngIf="jobInsights.JobPricingId" class="page">
      <div class="pb-3">
        <ng-container [ngTemplateOutlet]="jobTitle"></ng-container>
        <pf-data-matches [pricingMatches]="jobInsights.PricingMatches"
                         [jobTitleCode]="jobInsights.Job.JobTitle + ' (' + jobInsights.Job.JobCode + ')'">
        </pf-data-matches>
      </div>
    </div>
  </div>

  <ng-container [ngTemplateOutlet]="pageFooter"></ng-container>
</div>

<ng-template #jobTitle>
  <div *ngIf="jobInsights" class="d-flex flex-column">
    <div class="d-flex">
      <span class="font-size-14 font-weight-500 mr-1">{{jobInsights.Job.JobTitle}}</span>
      <span class="font-size-14">({{jobInsights.Job.JobCode}})</span>
    </div>
    <span class="font-size-11">Pay Market: {{jobInsights.PayMarketName}}</span>
    <span class="font-size-11">Generated: {{today | date : 'MM/dd/yyyy'}} by {{jobInsights.RequestedBy}}</span>
  </div>
</ng-template>

<ng-template #pageHeader>
  <div class="header-container">
    <div class="d-flex ml-auto mr-auto page-size border-bottom py-3">
      <span>
        <img class="logo" src="./assets/payscale-logo.png"/>
      </span>
      <div class="d-flex flex-fill justify-content-end pt-1 my-auto">
        <span class="font-size-14">Job Insights Report</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #pageFooter>
  <div class="footer-container">
    <div class="d-flex ml-auto mr-auto page-size">
      <div class="flex-fill border-top footer-border-top">
        <div class="footer-text">May not be reproduced without permission from PayScale, Inc. @ 2021</div>
      </div>
    </div>
  </div>
</ng-template>