@import 'colors';
@import '~dragula/dist/dragula.min.css';
@import 'legacy/legacy-variables';

html,
body {
  background-color: #FFFFFF !important;
}

.modal-body {
  max-height: calc(90vh);
  overflow-y: auto;
}

.matches-modal-content {
  padding: .5rem 0.85rem;
}

.matches-modal-title {
  font-size: 20pt;
  color: #333333;
}

.matches-list-item {
  border: solid thin;
  padding: 5px;
}

div.matches-list-container>div:nth-of-type(odd) {
  background-color: #DDDDDD;
}

.highlight {
  background: rgba(255, 250, 203, 0.65);
}

.matches-modal-container {
  height: 100%;
  overflow-y: auto;
}

// TODO: Discuss if these toast rules should be global for the whole company
.toast-top-center{
  margin-top: 3.75rem;
}

.toast-container .toast-close-button {
  top: 0.1em !important;
}

.toast-container .toast-title {
  padding: 10px 30px 10px 10px !important;
}

// TODO: Discuss if these nav rules should be global for the whole company
.nav-link {
  color: black !important;
  padding: 0.75rem 1.0rem;
}

.nav-tabs .nav-link {
  border-width: 0 !important;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid $link-color !important;
  z-index: 999;
  font-weight: bold;
  background-color: inherit;
}

.nav-tabs {
  border-bottom: 2px solid rgb(222,226,230);
}

.kendoTooltipWhiteTheme .k-callout {
  background-color: transparent;
  color: white;
}

.kendoTooltipWhiteTheme  .k-widget.k-tooltip{
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}


.matches {
  color: #006699;
}

.matches:hover{
  cursor: pointer;
}

.tooltip-container {
  width: 400px;
  max-width: none;
  max-height: 300px;
  margin-left: 0;
  padding: 5px;
  border: 1px dotted black;
  position: fixed;
  background: white;
  z-index: 999;
}

.survey-search-save-filter-modal > .modal-dialog {
  padding-top: 10px;
}

.ps__rail-x {
  top: inherit !important;
}

pf-filter-pills > .pills-container {
  width: 1130px;
}
