@import '~dragula/dist/dragula.min.css';

html, body {
  background-color: initial !important;
}

.matches-modal-content {
  padding: .5rem 0.85rem;
}

.matches-modal-title {
  font-size: 20pt;
  color: #333333;
}

.matches-list-item {
  border: solid thin;
  padding: 5px;
}

div.matches-list-container > div:nth-of-type(odd) {
  background-color: #DDDDDD;
}

.highlight {
  background: rgba(255, 250, 203, 0.65);
}

.matches-modal-container {
  height: 100%;
  overflow-y: auto;
}
