@import 'legacy/legacy-variables';
@import 'colors';
@import 'common/common';
@import 'add-jobs/job-result';

.job-data-cuts-row{
  border-bottom: 1px solid #eeeeee;
}

.vendor{
  margin: .25rem 0;
  color: #848484;
}

.peer {
  .vendor {
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 7px;
      width: 7px;
      top: 0;
      right: -6px;
      border-right: 1px solid #ffc107;
      border-top: 1px solid #ffc107;
    }
  }
}

.loading-datacuts-error{
  width: 100%;
  padding: 1rem 0;
}
