.trs-chart {
  kendo-chart {
    height: 250px;
  }
  
  a.settings {
    margin-right: -15px;
    top: 0;
    transition: opacity .3s ease-in-out;
  }

  &.preview-mode {
    a.settings {
      opacity: 0;
      pointer-events: none;
    }
  }
}