<div class="container">
  <div class="top-bar">
    <div class="title">All Dashboards</div>
  </div>
  <div class="row">
    <div class="col-12">
      <pf-async-container
        [loading]="loadingCompanyReports$ | async"
        [loadingError]="loadingCompanyReportsErrors$ | async"
        [loadingErrorMessage]="'Error.'"
        [hideReloadButton]="true">
  
        <div *ngIf="companyReports?.length" class="d-flex flex-row justify-content-between flex-wrap">
          <div *ngFor="let report of companyReports" class="report-container d-flex">
            <ng-container *ngIf="!!report.IconClass?.length">
              <fa-icon [icon]="report.IconClass" class="icon fa-fw"></fa-icon>
              <div class="vertical-separator"></div>
            </ng-container>
            <div class="d-flex flex-column ml-3 content">
              <span class="tag" data-toggle="tooltip" title="{{report.Tag}}">{{report.Tag}}</span>
              <span class="workbook-name" data-toggle="tooltip" title="{{report.WorkbookName}}">{{report.WorkbookName}}</span>
            </div>
          </div>
        </div>
    
      </pf-async-container>
    </div>
  </div>
</div>