@import '_colors';

$header-width: 190px;
$header-color: darken(#f7f7f7, 10%);
$header-background-color: #1f2f3d;
$branded-color: #0882BE;

#au-modal-self-registration {
  .modal-content {
    border-radius: .4rem;
    .modal-header {
      background-color: $header-background-color;
      color: $header-color;
      h5 small {
        color: $header-color !important;
      }
      button.close {
        color: #fff;
        transition: opacity .2s ease-in-out;
      }
    }
  }

  h4.modal-title {
    margin-left: -20px;
    width: $header-width;
    &::after {
      content: '';
      position: relative;
      display: inline-block;
      top: -6px;
      right: 0;
      border-top: 10px solid $branded-color;
      border-right: 10px solid $branded-color;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
    }
    &::before {
      content: '';
      height: 15px;
      width: 15px;
      background-color: $header-background-color;
      position: relative;
      display: inline-block;
      top: -7px;
      left: $header-width - 29;
      z-index: 100;
    }
  }
  
  button.btn-primary {
    background-color: $pf-brand-secondary-color;
    border-color: $pf-brand-secondary-color;
    color: #fff;
  }
}