@import 'colors';
@import 'total-rewards/app-colors';
@import 'total-rewards/statement-settings';
@import 'total-rewards/statement-layout-variables';
@import 'total-rewards/rich-text-editor';
@import 'common/common-variables';

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500&display=swap');

.left-sidebar {
  z-index: 1040;
}

.btn-trs {
  font-size: 1.1rem;
}

.btn-trs-primary, %btn-trs-primary {
  background-color: $pf-primary-blue;
  border: 1px solid $pf-primary-blue;
  color: white;

  &:hover, &:not(:disabled):not(.disabled):active{
    background-color: darken($pf-primary-blue, 5%);
    border-color: darken($pf-primary-blue, 5%);
  }

  &:disabled {
    background-color: rgba($pf-primary-blue, .65);
    border-color: rgba($pf-primary-blue, .65);
    &:hover {
      color: white;
    }
  }
}

.btn-trs-secondary-btn {
  background-color: $pf-secondary-background;
  border: 1px solid $pf-secondary-border;
  color: $pf-secondary-text;

  &:hover, &:not(:disabled):not(.disabled):active{
    background-color: rgba(0, 0, 0, 0.075);
  }

  &:disabled {
    background-color: $pf-secondary-background;
    border-color: $pf-secondary-border-disabled;
    color: $pf-secondary-text-disabled;
  }
}

pf-total-rewards-statement-list-page, pf-assigned-employees-grid {
  .loading-blanket + .k-grid .k-grid-norecords {
    display: none; // hide no records found message in the grid when loading
  }
}

.k-grid td.ellipsize {
  @extend %ellipsis-overflowing-text;
  padding-right: 0;
}

pf-statement-edit.page {
  .tooltip.show {
    min-width: 300px;
  }
  .page-content {
    overflow-x: hidden; // let settings panel hide out to the right
  }
  .preview-mode {
    .page-content, .page-header {
      background-color: rgba(255, 255, 255, 0.2) !important;
      border-bottom-color: transparent !important;
    }
    .page-header button {
      background-color: rgba(255, 255, 255, 0.5);
    }
    .canvas {
      .mode-button {
        left: 100%;
        width: 100px;
        color: white;
        border-color: white;
      }
      .header-row-wrapper {
        opacity: 0;
      }
      .statement {
        margin-top: -90px;
      }
      &.canvas {
        background-color: rgba(187, 187, 187, 0);
      }
    }
    .statement, .header-row-wrapper, .canvas {
      transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    }

    .page-content, .page-header {
      transition: background-color .3s ease-in-out;
    }
  }
  a.settings {
    color: inherit;
    svg {
      transition: all .25s ease-in-out;
      opacity: .65;
      &:hover {
        opacity: 1;
        transform: rotate(45deg);
      }
    }
    &.preview-mode svg {
      opacity: .5;
    }
  }
}

pf-total-rewards-statement {
  // disable mouse interaction for the chart so the legend cannot be clicked
  .trs-chart .k-widget svg {
    pointer-events: none;
  }

  // when we have a group of calculation controls together, hide all but the first secondary header, ie Contribution column header
  .control-type-3 ~ .control-type-3 .secondary-header {
    display: none;
  }

  .trs-statement-title {
    pf-string-editor {
      .editable {
        .edit-icon {
          position: absolute !important;
          right: -5px;
        }
      }
    }
  }
}

pf-settings-panel {
  button.cp-ok-button-class {
    width: 100%;
    color: white;
    background-color: #333;
    height: 2.1rem;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    opacity: .8;
    transition: opacity .3s ease-in-out;
    outline: none;
    &:hover {
      opacity: 1;
    }
  }
}

pf-trs-calculation-control {
  .edit-mode {
    .trs-calculation-row {
      &:hover {
        .edit-icon {
          visibility: visible;
        }
      }
    }
  }
}

pf-trs-image-control {
  &>div {
    border: 2px dashed transparent;
  }
  .edit-mode {
    border: 2px dashed $trs-canvas-background-color;
    border-radius: 5px;
  }
  .edit-mode.show-image {
    border: 2px dashed transparent;
    transition: border .6s ease-in-out;
    &:hover{
      border: 2px dashed rgba($link-color, .5);
    }
  }

  // Custom CSS to adjust Kendo Upload component
  .trs-image {
    svg {
      position: absolute;
      z-index: 5;
      left: 50%;
      transform: translateX(-50%);
    }
    .help-text {
      font-size: .9rem;
      bottom: -13px;
      left: 50%;
      transform: translateX(-50%);
      width: 90px;
      display: inline-block;
    }
    .k-widget {
      height: inherit;
      max-height: 80px;
      border: none;
      .k-header {
        border: none;
      }
      .k-dropzone {
        padding-top: 4px;
        height: 80px;

        .k-button.k-upload-button {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .k-upload-files {
        position: relative;
        padding: 0;
        border: none;
        top: -20px;
        font-size: 1rem;
        color: $color-danger;
      }
      .k-file {
        padding: 0;
        border: none;
      }
      .k-file-extension-wrapper, .k-file-size, .k-file-invalid-extension-wrapper, .k-file-name {
        display: none;
      }
      .k-upload-status {
        padding: 0;
        margin: 0;
        font-size: 0;
      }
      .k-file-name-size-wrapper {
        margin: 0;
      }
    }
  }
}

pf-effective-date {
  .k-state-disabled {
    opacity: 1; // kendo wants this to be .65 but keep at 1 so it doesn't look faded in preview/print
  }
  .k-picker-wrap {
    height: 22px;
    width: 130px;
    .k-input {
      height: 22px;
      text-align: center;
      font-size: .9rem;
      line-height: .9rem;
      padding: .25rem 0 .35rem 0;
      transition: transform .3s ease-in-out;
    }
  }

  .k-icon.k-i-calendar::before {
    opacity: .8;
    transition: opacity .3s ease-in-out;
  }

  .k-icon.k-i-calendar:hover {
    &::before {
      opacity: 1;
    }
  }

  .field-wrapper {
    transition: opacity .15s ease-in-out, transform .3s ease-in-out;
  }

  .preview-mode, .print-mode {
    .k-picker-wrap, .k-dateinput-wrap {
      border-color: transparent;
      background-color: transparent; // in preview this element gets pushed into the gutter, so make it transparent
    }
    .k-select {
      display: none;
    }
    .k-input {
      transform: translateX(-3rem);
    }

    .field-wrapper {
      transform: translateX(4rem);
    }

    .field-wrapper.empty-date {
      opacity: 0;
    }
  }
}

pf-statement-assignment-modal {
  .modal-body{
    height: 450px;
    max-height: 450px;
    overflow-y: auto;
    padding: 15px 12px;
  }
}

pf-statement-assignment-page {
  button.btn-secondary.clear-all-filters {
    margin-top: -.25rem; // negate a p-1 on the button's container div that looks better in jdm's implementation
    border: none;
    font-size: 1rem;
    &:focus, &:hover, &:active {
      background-color: transparent;
      box-shadow: none;
    }
    &:hover span {
      text-decoration: underline;
    }
    span {
      color: $link-color;
    }
  }
  button.close-filter {
    background-color: transparent;
    border-color: transparent;
    font-size: 1.2rem;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

// style kendo dropdown highlighted item in statement assignment page > filter
.k-list-optionlabel.k-state-selected, .k-list .k-item.k-state-selected {
  background-color: #1872ae;
}
.k-dropdown .k-dropdown-wrap {
  background-color: white;
}

.total-rewards-statements-grid, .total-rewards-assigned-employees-grid {
  .k-grid-header th>.k-link>.k-icon {
    display: none;
  }
}

@media print {
  * {
    transition: none !important; // don't capture incomplete transitions
  }

  html {
    -webkit-print-color-adjust: exact; // maintain print/PDF background colors in styled template title graphics
  }

  html, body {
    background-color: white; // override dark blue to white so there's no contrast if html shows as content
  }

  // override bootstrap _print below, so print styling remains consistent with screen page size, min-widths, and anchors
  @page {
    size: 8.5in 11in;
  }

  .container {
    min-width: 0 !important;
  }

  body {
    min-width: 0 !important;
  }

  a:not(.btn) {
    text-decoration: none;
  }
}
