@import 'colors';
@import 'total-rewards/statement-settings';
@import 'total-rewards/statement-layout-variables';
@import 'total-rewards/rich-text-editor';

.btn-trs {
  font-size: 1.1rem;
}

.btn-trs-primary, %btn-trs-primary {
  background-color: $pf-primary-blue;
  border: 1px solid $pf-primary-blue;
  color: white;

  &:hover, &:not(:disabled):not(.disabled):active{
    background-color: darken($pf-primary-blue, 5%);
    border-color: darken($pf-primary-blue, 5%);
  }

  &:disabled {
    background-color: rgba($pf-primary-blue, .65);
    border-color: rgba($pf-primary-blue, .65);
  }
}

.btn-trs-secondary-btn {
  background-color: $pf-secondary-background;
  border: 1px solid $pf-secondary-border;
  color: $pf-secondary-text;

  &:hover, &:not(:disabled):not(.disabled):active{
    background-color: rgba(0, 0, 0, 0.075);
  }

  &:disabled {
    background-color: $pf-secondary-background;
    border-color: $pf-secondary-border-disabled;
    color: $pf-secondary-text-disabled;
  }
}

// adjust edit statement page's header dimenions when left side bar is expanded
main.left-sidebar-expanded {
  pf-statement-edit .header-row, .trs-rich-text-control.active .ql-toolbar {
    left: $canvas-left-expanded-left-nav;
    width: $canvas-width-expanded-left-nav;
  }
}

// statement list page
pf-total-rewards-statement-list-page {
  .page-title {
    svg {
      color: $pf-brand-primary-color;
    }
  }

  // hide no records found message in the grid when loading
  .loading-blanket + .k-grid .k-grid-norecords {
    display: none;
  }
}

pf-total-rewards-statement {
  .trs-calculation-row {
    .edit-icon {
      visibility: hidden;
    }
  }
}

pf-statement-edit {
  .page-content {
    // let settings panel hide out to the right
    overflow-x: hidden;
  }
  a.settings {
    svg {
      color: white;
      font-size: 1.8rem;
      transition: transform .25s ease-in-out;
      opacity: .8;
      &:hover {
        opacity: 1;
        transform: rotate(45deg);
      }
    }
    &.preview-mode svg {
      opacity: .5;
    }
  }
}

pf-total-rewards-statement {
  .edit-mode {
    .trs-calculation-row {
      .edit-icon {
        visibility: hidden;
      }
      &:hover {
        .edit-icon {
          visibility: visible;
        }
      }
    }

    .primary-control-heading {
      .edit-icon {
        visibility: hidden;
      }
      &:hover {
        .edit-icon {
          visibility: visible;
        }
      }
    }
  }

  .preview-mode {
    .trs-calculation-row {
      .edit-icon {
        visibility: hidden;
      }
    }

    .primary-control-heading {
      .edit-icon {
        visibility: hidden;
      }
    }
  }
}

pf-settings-panel {
  button.cp-ok-button-class {
    width: 100%;
    color: white;
    background-color: #333;
    height: 2.1rem;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    opacity: .8;
    transition: opacity .3s ease-in-out;
    outline: none;
    &:hover {
      opacity: 1;
    }
  }
}

@media print {
  @page {
    size: letter portrait;
    margin-left: .1in;
    margin-right: .1in;
  }
}
