@import 'colors';
@import 'common/common-variables';

@import 'total-rewards/app-colors';
@import 'total-rewards/statement';
@import 'total-rewards/statement-settings';
@import 'total-rewards/statement-layout-variables';

.left-sidebar {
  z-index: 1040;
}

.btn-trs {
  font-size: 1.1rem;
}

.btn-trs-primary, %btn-trs-primary {
  background-color: $pf-primary-blue;
  border: 1px solid $pf-primary-blue;
  color: white;

  &:hover, &:not(:disabled):not(.disabled):active{
    background-color: darken($pf-primary-blue, 5%);
    border-color: darken($pf-primary-blue, 5%);
  }

  &:disabled {
    background-color: rgba($pf-primary-blue, .65);
    border-color: rgba($pf-primary-blue, .65);
    &:hover {
      color: white;
    }
  }
}

.btn-trs-secondary-btn {
  background-color: $pf-secondary-background;
  border: 1px solid $pf-secondary-border;
  color: $pf-secondary-text;

  &:hover, &:not(:disabled):not(.disabled):active{
    background-color: rgba(0, 0, 0, 0.075);
  }

  &:disabled {
    background-color: $pf-secondary-background;
    border-color: $pf-secondary-border-disabled;
    color: $pf-secondary-text-disabled;
  }
}

pf-total-rewards-statement-list-page, pf-assigned-employees-grid {
  .loading-blanket + .k-grid .k-grid-norecords {
    display: none; // hide no records found message in the grid when loading
  }
}

.k-grid td.ellipsize {
  @extend %ellipsis-overflowing-text;
  padding-right: 0;
}

pf-statement-edit.page {
  .tooltip.show {
    min-width: 300px;
  }
  .page-content {
    overflow-x: hidden; // let settings panel hide out to the right
  }
  .preview-mode {
    .page-content, .page-header {
      background-color: rgba(255, 255, 255, 0.2) !important;
      border-bottom-color: transparent !important;
    }
    .page-header button {
      background-color: rgba(255, 255, 255, 0.5);
    }
    .canvas {
      .mode-button {
        left: 100%;
        width: 100px;
        color: white;
        border-color: white;
      }
      .header-row-wrapper {
        opacity: 0;
      }
      .statement {
        margin-top: -90px;
      }
      &.canvas {
        background-color: rgba(187, 187, 187, 0);
      }
    }
    .statement, .header-row-wrapper, .canvas {
      transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    }

    .page-content, .page-header {
      transition: background-color .3s ease-in-out;
    }
  }
  a.settings {
    color: inherit;
    svg {
      transition: all .25s ease-in-out;
      opacity: .65;
      &:hover {
        opacity: 1;
        transform: rotate(45deg);
      }
    }
    &.preview-mode svg {
      opacity: .5;
    }
  }
}

pf-settings-panel {
  button.cp-ok-button-class {
    width: 100%;
    color: white;
    background-color: #333;
    height: 2.1rem;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    opacity: .8;
    transition: opacity .3s ease-in-out;
    outline: none;
    &:hover {
      opacity: 1;
    }
  }
}

pf-statement-assignment-modal {
  .modal-body{
    height: 450px;
    max-height: 450px;
    overflow-y: auto;
    padding: 15px 12px;
  }
}

pf-statement-assignment-page {
  button.btn-secondary.clear-all-filters {
    margin-top: -.25rem; // negate a p-1 on the button's container div that looks better in jdm's implementation
    border: none;
    font-size: 1rem;
    &:focus, &:hover, &:active {
      background-color: transparent;
      box-shadow: none;
    }
    &:hover span {
      text-decoration: underline;
    }
    span {
      color: $link-color;
    }
  }
  button.close-filter {
    background-color: transparent;
    border-color: transparent;
    font-size: 1.2rem;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

// style kendo dropdown highlighted item in statement assignment page > filter
.k-list-optionlabel.k-state-selected, .k-list .k-item.k-state-selected {
  background-color: #1872ae;
}
.k-dropdown .k-dropdown-wrap {
  background-color: white;
}

.total-rewards-statements-grid, .total-rewards-assigned-employees-grid {
  .k-grid-header th>.k-link>.k-icon {
    display: none;
  }
}
