<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Angular Routes">
                    <match url="^([^.]+)$" />
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Add no-cache to HTML requests">
                  <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
                  <conditions>
                    <add input="{REQUEST_FILENAME}" pattern="\.html" />
                  </conditions>
                  <action type="Rewrite" value="no-cache, no-store, must-revalidate"/>
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
