<pf-async-container
  [loading]="loadingExchangeJobMappings$ | async"
  [loadingError]="loadingExchangeJobMappingsError$ | async"
  [hideReloadButton]="true">

  <kendo-grid class="row-click-navigates no-wrap-ellipsis-values"
              [pfKendoScrollTo]="pageRowIndexToScrollTo"
              [pfKendoScrollToEnabled]="!disableScrollTo"
              [data]="exchangeJobMappingsGridData$ | async"
              [pageSize]="(exchangeJobMappingsGridState$ | async)?.take"
              [skip]="(exchangeJobMappingsGridState$ | async)?.skip"
              [sort]="(exchangeJobMappingsGridState$ | async)?.sort"
              [pageable]="{
                    buttonCount: 5,
                    info: true
                  }"
              [resizable]="true"
              [sortable]="true"
              [selectable]="{
                mode: 'single'
              }"
              [kendoGridSelectBy]="'ExchangeJobId'"
              [rowClass]="rowClass"
              (selectionChange)="handleSelectionChange($event)"
              (pageChange)="handlePageChanged($event)"
              (sortChange)="handleSortChanged($event)"
              (cellClick)="handleCellClick($event)">

    <kendo-grid-column field="Mapped" title="Status" width="125" class="text-center" headerClass="text-center">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span class="mapped">
          <span *ngIf="dataItem.Mapped" class="badge badge-success mapped">Mapped</span>
          <span *ngIf="!dataItem.Mapped" class="badge badge-danger mapped">Not Mapped</span>
        </span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="ExchangeJobTitle" title="Exchange Job Title" width="300"></kendo-grid-column>
    <kendo-grid-column field="ExchangeJobFamily" title="Exchange Job Family" width="225"></kendo-grid-column>
    <kendo-grid-column field="CompanyJobCode" title="Company Job Code" width="150"></kendo-grid-column>
    <kendo-grid-column field="CompanyJobTitle" title="Company Job Title" width="300"></kendo-grid-column>
    <kendo-grid-column field="CompanyJobFamily" title="Company Job Family" width="225"></kendo-grid-column>
    <kendo-grid-column field="PendingRequest" title="" width="125" class="text-center" headerClass="text-center">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span *ngIf="dataItem.PendingRequest" class="badge badge-warning">Pending Approval</span>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</pf-async-container>
