<pf-async-container [loading]="transferDataPageLoading$ | async"
                    [loadingError]="transferDataPageLoadingError$ | async"
                    [loadingErrorMessage]="'Error Loading Transfer Data Page'">
  <h4>Select Method of Transfer</h4>
  <div class="mx-5 p-3">
    <div class="row">
      <div class="col-4 mb-4 p-0">
        <pf-transfer-method-dropdown
          [transferMethods]="transferMethods"
          (transferMethodSelected)="setSelectedTransferMethod($event)">
        </pf-transfer-method-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="card-deck">
        <pf-provider-card *ngFor="let provider of providers" 
          [provider]="provider"
          [selectedProvider]="selectedProvider"
          (providerSelected)="setSelectedProvider($event)">
        </pf-provider-card>
      </div>
    </div>
    <div *ngIf="providers" class="d-flex justify-content-end">
        <div class="p-2">
          <button type="button" class="btn btn-primary" (click)="cancelTransferDataWorkflow()">Cancel</button>
        </div>
        <div class="p-2">
          <button type="button" class="btn btn-primary" [disabled]="!selectedProvider">Next</button>
        </div>
    </div>
  </div>
</pf-async-container>
