<pf-async-container [loading]="transferDataPageLoading$ | async"
                    [loadingError]="transferDataPageLoadingError$ | async"
                    [loadingErrorMessage]="'Error Loading Transfer Data Page'">
    <div *ngIf="(currentWorkflowStep$ | async) === workflowStep.SelectTransferMethod" class="my-4 mx-3">
      <div class="float-right"><h5 style="opacity: 0.6;">STEP 1/5</h5></div>
      <h4>HRIS Integration</h4>
      <div class="m-5">
        <div style="display:none;">
          <div class="col-4 mb-4 p-0">
            <pf-transfer-method-dropdown
              [transferMethods]="transferMethods$ | async"
              (transferMethodSelected)="setSelectedTransferMethod($event)">
            </pf-transfer-method-dropdown>
          </div>
        </div>
        <div>
          <div class="mb-4">
            <h5>Select an HRIS vendor from the list below.</h5>
          </div>
          <div class="card-deck">
            <pf-provider-card *ngFor="let provider of providers$ | async"
              [provider]="provider"
              [selectedProvider]="selectedProvider?.ProviderId"
              (providerSelected)="setSelectedProvider($event)">
            </pf-provider-card>
          </div>
        </div>
        <div *ngIf="providers$ | async" class="d-flex justify-content-end">
            <div class="p-2">
              <button type="button" class="btn btn-outline-danger px-4" (click)="cancelTransferDataWorkflow()">Cancel</button>
            </div>
            <div class="p-2">
              <button type="button" class="btn btn-primary px-4" [disabled]="!selectedProvider" (click)="proceedToEntitySelection(selectedProvider?.ProviderId)">Next</button>
            </div>
        </div>
      </div>
    </div>
</pf-async-container>
<router-outlet></router-outlet>
