<div class="flex-column-container">
  <h4> Workflows </h4>
  <p> Build and manage custom "Routing" workflows to better streamline the routing and approval process. </p>

  <div class="card flex-grow-1 d-flex">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <pf-input-debounce [id]="'filter'" [placeholderText]="'Search Workflows'" [hideClearBtn]="true" (valueChanged)="handleSearchValueChanged($event)">
        </pf-input-debounce>
        <button *ngIf="!jdmCollaborationFeatureFlag.value" (click)="createApprovalWorkflow()" class="btn btn-primary align-self-center">Create Workflow</button>
        <div *ngIf="jdmCollaborationFeatureFlag.value === true" ngbDropdown class="d-inline-block">
          <button class="btn btn-primary align-self-center" ngbDropdownToggle>Create Group</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" (click)="createCollaborationWorkflow()">Collaboration
            </button>
            <button class="dropdown-item" (click)="createApprovalWorkflow()">Approval
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ng-container *ngIf="(workflowTemplates$ | async) as workflowTemplatesAsync">
        <pf-async-container [smartLoadingMask]="true" [hideReloadButton]="true"
          [loading]="workflowTemplatesAsync.loading" [loadingError]="workflowTemplatesAsync.loadingError">
            <ng-container *ngIf="(workflowTemplatesAsync.obj | filterArrayByName: filter) as filteredWorkflowTemplates">
                <table class="table" *ngIf="filteredWorkflowTemplates.length; else noWorkflowTemplates">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th *ngIf="jdmCollaborationFeatureFlag.value === true">Type</th>
                            <th>Users in Workflow</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let workflowTemplate of filteredWorkflowTemplates; trackBy: trackByFunction">
                          <td width="10%">{{workflowTemplate.Name}}</td>
                          <td *ngIf="jdmCollaborationFeatureFlag.value === true" width="10%">{{workflowTemplate.Type}}</td>
                          <td width="60%"><span [innerHTML]="sanitizer.bypassSecurityTrustHtml(getUserList(workflowTemplate.Steps))"></span></td>
                          <td width="4%">
                              <div class="d-flex">
                                  <button (click)="editWorkflow(workflowTemplate)" title="Edit Workflow" class="btn btn-sm btn-secondary mr-2">
                                      <fa-icon icon="pencil-alt" aria-hidden="true"></fa-icon>
                                  </button>
                                  <button (click)="deleteWorkflow(workflowTemplate)" title="Delete Workflow" class="btn btn-sm btn-secondary">
                                      <fa-icon icon="trash" aria-hidden="true"></fa-icon>
                                  </button>
                              </div>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-template #noWorkflowTemplates>
                No Workflows
            </ng-template>
        </pf-async-container>
      </ng-container>
    </div>
  </div>
</div>

<pf-routing-workflows-delete-modal></pf-routing-workflows-delete-modal>
<pf-routing-workflows-upsert-modal
  [workflowTemplateNames]="workflowTemplateNames$ | async"
  [modalTitle]="jdmCollaborationFeatureFlag.value === true ? 'Approval Group' : 'Workflow'">
</pf-routing-workflows-upsert-modal>

<pf-collaboration-workflows-upsert-modal>
</pf-collaboration-workflows-upsert-modal>
