<div *ngIf="!!filter" class="filter-card card">
  <div class="card-body">
    <ng-container *ngIf="editMode; else displayMode">
      <div class="filters-container">
        <div class="filters-action-bar d-flex justify-content-end">
          <fa-icon icon="minus" class="filter-icons mr-2" data-qa-id="btn-toggleEditMode" (click)="toggleEditMode()"></fa-icon>
          <fa-icon *ngIf="!filter.IsLocked" icon="times" id="delete-filter" class="filter-icons" data-qa-id="btn-deleteFilter" (click)="handleDeleteFilter()"></fa-icon>
          <fa-icon *ngIf="filter.IsLocked" icon="lock-alt" class="filter-icons" data-qa-id="btn-lockedFilter"></fa-icon>
        </div>
      </div>

      <kendo-dropdownlist class="dropdown-list w-100"
                          [attr.data-qa-id]="'ddm-filter-fields'"
                          [data]="fields"
                          [disabled]="filter.IsLocked"
                          [ngModel]="filter.Field"
                          [textField]="'DisplayName'"
                          [valueField]="'KendoGridField'"
                          (valueChange)="handleFieldChanged($event)">

        <ng-template kendoDropDownListItemTemplate let-dataItem>
          <div class="d-flex">
            <span class="field-name" [title]="dataItem?.DisplayName">{{ dataItem?.DisplayName }}</span>
            <span class="ml-auto field-source" title="{{dataItem?.Entity | uppercase}}">{{ dataItem?.Entity }}</span>
          </div>
        </ng-template>

        <ng-template kendoDropDownListValueTemplate let-dataItem>
          <div class="d-flex w-100">
            <span class="field-name" [title]="dataItem?.DisplayName">{{ dataItem?.DisplayName }}</span>
            <span class="ml-auto field-source" title="{{dataItem?.Entity | uppercase}}">{{ dataItem?.Entity }}</span>
          </div>
        </ng-template>
      </kendo-dropdownlist>

      <ng-container *ngIf="filter.Field?.DataType === fieldDataType.String">
        <pf-multi-select-filter
          [selectedOperator]="filter.Operator"
          [options]="filter.Options"
          [selectedOptions]="filter.SelectedOptions"
          [filterValue]="getFilterOptionsData?.Query"
          (filterChanged)="handleMultiSelectFilterChanged($event)"
          (selectedValuesChanged)="handleSelectedOptionsChange($event)"
          (changeOperator)="handleOperatorChanged($event)">
        </pf-multi-select-filter>
      </ng-container>

      <ng-container *ngIf="filter.Field?.DataType === fieldDataType.LongString">
        <pf-text-filter
          [selectedOperator]="filter.Operator"
          [filterValue]="filter.SelectedOptions?.length ? filter.SelectedOptions[0] : null"
          (valueChanged)="handleSelectedOptionsChange($event)"
          (changeOperator)="handleOperatorChanged($event)">
        </pf-text-filter>
      </ng-container>

      <ng-container *ngIf="filter.Field?.Is.Date">
        <pf-date-range-filter
          [fieldDisplayName]="filter.Field?.DisplayName"
          [selectedOperator]="filter.Operator"
          [locked]="filter.IsLocked"
          [startDate]="filter?.SelectedOptions?.length > 0 ? filter.SelectedOptions[0] : null"
          [endDate]="filter?.SelectedOptions?.length === 2 ? filter.SelectedOptions[1] : null"
          [dateFormat]="filter.Field?.FieldFormat?.Format"
          (selectedOptionsChanged)="handleSelectedOptionsChange($event)"
          (selectedOperatorChanged)="handleOperatorChanged($event)">
        </pf-date-range-filter>
      </ng-container>

      <ng-container *ngIf="filter.Field?.Is.Numeric">
        <pf-numeric-filter
          [selectedOperator]="filter.Operator"
          [format]="filter.Field?.FieldFormat?.KendoNumericFormat"
          [step]="filter.Field?.FieldFormat?.Type === 'percent' ? 0.1 : 1"
          [value]="filter.SelectedOptions?.length ? filter.SelectedOptions[0] : null"
          (numericValuesChanged)="handleSelectedOptionsChange($event)"
          (changeOperator)="handleOperatorChanged($event)">
        </pf-numeric-filter>
      </ng-container>

      <ng-container *ngIf="filter.Field?.DataType === fieldDataType.Bit">
        <pf-bit-filter
          [selectedOperator]="filter.Operator"
          [value]="filter.SelectedOptions?.length ? filter.SelectedOptions[0] : null"
          (selectedValueChanged)="handleSelectedOptionsChange($event)">
        </pf-bit-filter>
      </ng-container>

    </ng-container>

    <ng-template #displayMode>
      <div class="d-flex justify-content-between display-mode" (click)="toggleEditMode()">
        <div class="filter-display-name" [title]="filter.Field?.DisplayName">
          {{filter.Field?.DisplayName}}
        </div>
        <div class="filter-options">
          <span class="badge badge-info"> {{selectedOptionsCount}}</span>
        </div>
      </div>
    </ng-template>

  </div>
</div>
