<pf-card-layout
  pageTitle="Summary"
  pageSubTitle="Let's review a summary of your pricing activity"
  pageIconClass="file-alt"
  [page]="comphubPages.Summary"
  [hideNextButton]="true"
  [hideBackButton]="isPeerQuickPriceType"
  [backButtonEnabled]="workflowContext?.selectedPageId === comphubPages.Summary">

  <ng-container page-content>

    <ng-container *ngTemplateOutlet="summary"></ng-container>

    <div class="hide-export">
      <kendo-pdf-export #pdf
                        [paperSize]="'Letter'"
                        [scale]=".7"
                        [creator]="'Payfactors'"
                        [margin]="'.5cm'"
                        forcePageBreak=".page-break">

        <div class="k-pdf-export">
          <img class="pdf-logo" alt="payfactors" src="assets/images/payfactors-logo-on-white.png"/>

          <!--Summary-->
          <ng-container *ngTemplateOutlet="summary"></ng-container>

          <!--SMB Sell Sheet-->
          <ng-container
            *ngIf="(userContext$ | async)?.CompanySystemUserGroupsGroupName === systemUserGroupNames.SmallBusiness">
            <div class="page-break"></div>

            <img class="smb-sell-sheet-pdf" alt="payfactors" src="assets/images/smb-sell-sheet.jpg"/>

          </ng-container>
        </div>

      </kendo-pdf-export>
    </div>

    <pf-glossary-of-terms [open]="glossaryOpen$ | async" (close)="handleGlossaryClosed()"></pf-glossary-of-terms>
  </ng-container>

  <ng-container custom-actions>
    <button class="btn comphub-primary-btn"
            [disabled]="workflowContext?.selectedPageId !== comphubPages.Summary"
            [attr.data-qa-id]="'btn-priceNewJob'"
            (click)="handlePriceNewJobClicked()">
      Price New Job
    </button>
  </ng-container>

</pf-card-layout>

<pf-share-pricing-summary-modal
  [isOpen$]="sharePricingSummaryModalOpen$"
  [sharingConflict]="sharePricingSummaryConflict$ | async"
  [sharingError]="sharePricingSummaryError$ | async"
  (cancelClick)="handleShareModalCancelClicked()"
  (sendClick)="handleShareModalSendClicked($event)">
</pf-share-pricing-summary-modal>

<ng-template #summary>
  <div class="d-flex h-100 summary-container">
    <div class="d-flex h-100">
      <div class="info-sidebar" *ngIf="!isPeerQuickPriceType">
        <div class="item">
          <div class="h">Rate</div>
          <div class="v" [attr.data-qa-id]="'cnt-selectedRate'">{{selectedRate}}</div>
        </div>
        <div class="item">
          <div class="h">Effective Date</div>
          <div class="v" [attr.data-qa-id]="'cnt-effectiveDate'">{{firstDayOfMonth | date:'MM/dd/yyyy'}}</div>
        </div>
        <div class="item">
          <div class="h">FLSA</div>
          <div class="v" [attr.data-qa-id]="'cnt-FLSAStatus'">{{jobData?.FLSAStatus || '-'}}</div>
        </div>
        <div class="item">
          <div class="h">Currency</div>
          <div class="v" [attr.data-qa-id]="'cnt-currency'">{{workflowContext?.activeCountryDataSet?.CurrencyCode}}</div>
        </div>
        <div class="item">
          <div class="h">Market</div>
          <div class="v" [attr.data-qa-id]="'cnt-payMarketName'">{{paymarket?.PayMarketName}}</div>
        </div>
        <div class="item">
          <div class="h">Location</div>
          <div class="v" [attr.data-qa-id]="'cnt-location'">{{paymarket?.Location || '-'}}</div>
        </div>
        <div class="item">
          <div class="h">Minimum Wage</div>
          <div class="v" [attr.data-qa-id]="'cnt-minWage'" [innerHTML]="getPaymarketMinimumWage(
          minPaymarketMinimumWage$ | async,
          maxPaymarketMinimumWage$ | async,
          workflowContext?.activeCountryDataSet?.CurrencyCode
          )"></div>
        </div>
        <div class="item">
          <div class="h">Industry</div>
          <div class="v" [attr.data-qa-id]="'cnt-industry'">{{paymarket?.Industry || '-'}}</div>
        </div>
        <div class="item">
          <div class="h">Size
            <ng-container *ngIf="paymarket?.SizeLabel">({{paymarket?.SizeLabel}})</ng-container>
          </div>
          <div class="v" [attr.data-qa-id]="'cnt-size'">{{paymarket?.Size || '-'}}</div>
        </div>
      </div>

      <!--Peer Sidebar -->
      <div class="info-sidebar" *ngIf="isPeerQuickPriceType">
          <div class="item">
            <div class="h">Rate</div>
            <div class="v" [attr.data-qa-id]="'cnt-selectedRate'">{{selectedRate}}</div>
          </div>
          <div class="item">
            <div class="h">Effective Date</div>
            <div class="v" [attr.data-qa-id]="'cnt-effectiveDate'">{{currentDate | date:'MM/dd/yyyy'}}</div>
          </div>
          <div class="item">
            <div class="h">FLSA</div>
            <div class="v" [attr.data-qa-id]="'cnt-FLSAStatus'">{{jobData?.FLSAStatus || '-'}}</div>
          </div>
          <div class="item">
            <div class="h">Currency</div>
            <div class="v" [attr.data-qa-id]="'cnt-currency'">{{paymarket?.CurrencyCode || '-'}}</div>
          </div>
          <div class="item">
            <div class="h">Market</div>
            <div class="v" [attr.data-qa-id]="'cnt-payMarketName'">{{paymarket?.PayMarketName || '-'}}</div>
          </div>
          <div class="item">
            <div class="f">Filters</div>
          </div>
          <div class="item" *ngIf="!filterContextHasFilters">
            <div class="h">No filters selected</div>
          </div>
          <div class="item" *ngFor="let filter of (filterContext$ | async)?.Filters">
            <div *ngIf="filter.Options.length > 0">
              <div class="h">{{filter?.DisplayName}}</div>
              <div class="v">{{getFilterString(filter?.Options)}}</div>
            </div>
          </div>
      </div>

      <div class="summary">
        <div class="header">
          <div class="job-title" [attr.data-qa-id]="'cnt-jobTitle'">
            {{jobData?.JobTitle}}
          </div>
          <div class="actions">
            <button class="btn btn-secondary"
                    [attr.data-qa-id]="'btn-downloadPdf'"
                    (click)="handleDownloadPdfClicked()"
                    ngbTooltip="Export">
              <fa-icon icon="file-pdf"></fa-icon>
            </button>

            <button class="btn btn-secondary"
                    [attr.data-qa-id]="'btn-share'"
                    (click)="handleShareClicked()"
                    ngbTooltip="Share">
              <fa-icon icon="share"></fa-icon>
            </button>

            <button class="btn btn-secondary"
                    *ngIf="(canAccessProjectsTile$ | async) &&
                   paymarket?.CompanyPayMarketId &&
                   !(creatingProject$ | async) &&
                   !(creatingProjectError$ | async) &&
                   !isPeerQuickPriceType"
                    [attr.data-qa-id]="'btn-create-project'"
                    (click)="handleCreateProjectClicked()"
                    ngbTooltip="Create Project">
              <fa-icon icon="file-plus"></fa-icon>
            </button>

            <div class="non-action" *ngIf="(creatingProject$ | async)" ngbTooltip="Creating Project...">
              <pf-loading-indicator></pf-loading-indicator>
            </div>

            <div class="non-action" *ngIf="(creatingProjectError$ | async)" ngbTooltip="Error Creating Project">
              <pf-error-indicator></pf-error-indicator>
            </div>

            <button class="btn btn-secondary glossary-btn"
                    (click)="handleGlossaryClicked()"
                    [attr.data-qa-id]="'btn-open-glossary'"
                    [title]="'Glossary of Terms'"
                    ngbTooltip="Glossary">
              <fa-icon icon="book-open" class="glossary-svg-disable"></fa-icon>
            </button>
          </div>
        </div>

        <div class="info-horizontal" *ngIf="!isPeerQuickPriceType">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="item">
                  <div class="h">Rate</div>
                  <div class="v">{{selectedRate}}</div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="h">Effective Date</div>
                  <div class="v">{{firstDayOfMonth | date:'MM/dd/yyyy'}}</div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="h">FLSA</div>
                  <div class="v">{{jobData?.FLSAStatus || '-'}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="item">
                  <div class="h">Currency</div>
                  <div class="v">{{workflowContext?.activeCountryDataSet?.CurrencyCode}}</div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="h">Location</div>
                  <div class="v">{{paymarket?.Location || '-'}}</div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="h">Industry</div>
                  <div class="v">{{paymarket?.Industry || '-'}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="item">
                  <div class="h">Size
                    <ng-container *ngIf="paymarket?.SizeLabel">({{paymarket?.SizeLabel}})</ng-container>
                  </div>
                  <div class="v">{{paymarket?.Size || '-'}}</div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="h">Minimum Wage</div>
                  <div class="v">{{getPaymarketMinimumWage(
                    minPaymarketMinimumWage$ | async,
                    maxPaymarketMinimumWage$ | async,
                    workflowContext?.activeCountryDataSet?.CurrencyCode
                  )}}</div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="h">Market</div>
                  <div class="v">{{paymarket?.PayMarketName}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="info-horizontal" *ngIf="isPeerQuickPriceType">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="item">
                  <div class="h">Rate</div>
                  <div class="v">{{selectedRate}}</div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="h">Effective Date</div>
                  <div class="v">{{currentDate | date:'MM/dd/yyyy'}}</div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="h">FLSA</div>
                  <div class="v">{{jobData?.FLSAStatus || '-'}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="item">
                  <div class="h">Currency</div>
                  <div class="v">{{paymarket?.CurrencyCode || '-'}}</div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="h">Market</div>
                  <div class="v">{{paymarket?.PayMarketName || '-'}}</div>
                </div>
              </div>
              <div class="col" *ngIf="!filterContextHasFilters">
                <div class="item">
                  <div class="h">Filters</div>
                  <div class="v">No Filters Selected</div>
                </div>
              </div>
              <div class="col" *ngIf="filterContextHasFilters">
                <div class="item">
                  <!-- Empty element to help keep shape. -->
                </div>
              </div>
            </div>
            <div class="row" *ngIf="filterContextHasFilters">
              <div class="col">
                <div class="item">
                  <div class="f">Filters</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div *ngFor="let filter of (filterContext$ | async)?.Filters; let i = index">
                <div *ngIf="i % 3 == 0"></div>
                <div class="col">
                  <div class="item">
                    <div *ngIf="filter.Options.length > 0">
                      <div class="h">{{filter?.DisplayName}}</div>
                      <div class="v">{{getFilterString(filter?.Options)}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="graphs">
          <div class="g">
            <div class="h">
              Base Salary
            </div>
            <div class="v" [attr.data-qa-id]="'cnt-baseSalary'">
              <span class="currency">{{currencySymbol}}</span>
              <span>{{calculateDataByRate(jobData?.Base50) | number : (isHourly ? '1.2-2' : '1.0-0')}}</span>
            </div>
            <div class="gr">
              <pf-salary-bar-chart
                [isHourly]="isHourly"
                [currencyCode]="
                !isPeerQuickPriceType ?
                workflowContext?.activeCountryDataSet?.CurrencyCode :
                paymarket?.CurrencyCode"
                [salary25]="jobData?.Base25"
                [salary50]="jobData?.Base50"
                [salary75]="jobData?.Base75">
              </pf-salary-bar-chart>
            </div>
          </div>
          <div class="g">
            <div class="h">
              Total Cash Compensation
            </div>
            <div class="v" [attr.data-qa-id]="'cnt-totalCashCompensation'">
              <span class="currency">{{currencySymbol}}</span>
              <span>{{calculateDataByRate(jobData?.Tcc50) | number : (isHourly ? '1.2-2' : '1.0-0')}}</span>
            </div>
            <div class="gr">
              <pf-salary-bar-chart
                [isHourly]="isHourly"
                [currencyCode]="
                !isPeerQuickPriceType ?
                workflowContext?.activeCountryDataSet?.CurrencyCode :
                paymarket?.CurrencyCode"
                [salary25]="jobData?.Tcc25"
                [salary50]="jobData?.Tcc50"
                [salary75]="jobData?.Tcc75">
              </pf-salary-bar-chart>
            </div>
          </div>

          <!-- If PEER user show the Map, if not then show the trend graph. -->
          <div class="map" *ngIf="isPeerQuickPriceType">
            <img height='225px' width='225px' alt='Peer Data Map' [src]="getPeerMapSrcString()">
          </div>

          <div class="g" *ngIf="!isPeerQuickPriceType">
            <div class="h">
              Salary Trend
              <small *ngIf="jobSalaryTrendData?.Data">
                ({{jobSalaryTrendData.Data[0].EffectiveDate | date : 'MM/yyyy'}} -
                {{jobSalaryTrendData.Data[jobSalaryTrendData.Data.length - 1].EffectiveDate | date : 'MM/yyyy'}})
              </small>
            </div>
            <div class="gr">
              <pf-salary-trend-chart
                [isHourly]="isHourly"
                [currencyCode]="workflowContext?.activeCountryDataSet?.CurrencyCode"
                [salaryTrendData]="jobSalaryTrendData">
              </pf-salary-trend-chart>
            </div>
          </div>
        </div>

        <div class="job-description-wrapper">
          <div class="skills" *ngIf="jobData?.Skills.length">
            <div class="h">
              Top Skills
            </div>

            <div class="d-flex flex-wrap">
              <span *ngFor="let skill of jobData.Skills" class="badge">{{skill}}</span>
            </div>
          </div>

          <div class="job-description">
            <div class="h">Job Description</div>

            <div class="v" [innerHTML]="jobData?.JobDescription | jobDescriptionParser"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
