<pf-card-layout
  pageTitle="Summary"
  pageSubTitle="Let's review a summary of your pricing activity"
  pageIconClass="fa-file-alt"
  [page]="comphubPages.Summary"
  [workflowContext]="workflowContext"
  [hideNextButton]="true"
  [backButtonEnabled]="workflowContext?.selectedPageId === comphubPages.Summary">

  <ng-container page-content>

    <ng-container *ngTemplateOutlet="summary"></ng-container>

    <div class="hide-export">
      <kendo-pdf-export #pdf
                        [paperSize]="'Letter'"
                        [scale]=".7"
                        [creator]="'Payfactors'"
                        [margin]="'1cm'"
                        forcePageBreak=".page-break">

        <div class="k-pdf-export">
          <img class="pdf-logo" alt="payfactors" src="assets/images/payfactors-logo-on-white.png" />
          <div class="pdf-header">Pricing Summary</div>

          <!--Summary-->
          <ng-container *ngTemplateOutlet="summary"></ng-container>

          <!--SMB Sell Sheet-->
          <ng-container *ngIf="(userContext$ | async)?.CompanySystemUserGroupsGroupName === systemUserGroupNames.SmallBusiness">
            <div class="page-break"></div>

            <div class="smb-sell-sheet-container">
              <img class="smb-sell-sheet-pdf" alt="payfactors" src="assets/images/smb-sell-sheet.jpg" />
            </div>
          </ng-container>
        </div>

      </kendo-pdf-export>
    </div>

    <pf-glossary-of-terms></pf-glossary-of-terms>
  </ng-container>

  <ng-container custom-actions>
    <button class="btn comphub-primary-btn"
            [disabled]="workflowContext?.selectedPageId !== comphubPages.Summary"
            [attr.data-qa-id]="'btn-priceNewJob'"
            (click)="handlePriceNewJobClicked()">
      Price New Job
    </button>
    <div class="download-pdf"
         [attr.data-qa-id]="'btn-downloadPdf'"
         (click)="handleDownloadPdfClicked()">
      <i class="fas fa-file-pdf"></i> Download
    </div>

    <div class="share-btn"
         [attr.data-qa-id]="'btn-share'"
         (click)="handleShareClicked()">
      <i class="fas fa-share"></i> Share
    </div>

    <div class="create-project-btn"
         *ngIf="(canAccessProjectsTile$ | async) && paymarket?.CompanyPayMarketId &&!(creatingProject$ | async) && !(creatingProjectError$ | async)"
         [attr.data-qa-id]="'btn-create-project'"
         (click)="handleCreateProjectClicked()">
      <i class="fas fa-clipboard-list"></i> Create Project
    </div>

    <div class="creating-project"
         *ngIf="(creatingProject$ | async)">
      <pf-loading-indicator></pf-loading-indicator> Creating Project...
    </div>

    <div class="creating-project-error"
         *ngIf="(creatingProjectError$ | async)">
      <i class="fas fa-exclamation-triangle"></i> Error creating project
    </div>
  </ng-container>

</pf-card-layout>

<pf-share-pricing-summary-modal
  [isOpen$]="sharePricingSummaryModalOpen$"
  [sharingConflict]="sharePricingSummaryConflict$ | async"
  [sharingError]="sharePricingSummaryError$ | async"
  (cancelClick)="handleShareModalCancelClicked()"
  (sendClick)="handleShareModalSendClicked($event)">
</pf-share-pricing-summary-modal>


<ng-template #summary>
  <div class="summary-container row mt-4">
    <div class="col left-container">

      <div class="d-flex flex-row mb-4">
        <div class="mr-5">
          <span>Job Title</span>
          <div><h4 class="header-blue">{{jobData?.JobTitle}}</h4></div>
        </div>
      </div>

      <div class="d-flex flex-row mb-4">
        <div class="mr-5">
          <span>Effective Date</span>
          <div><h4 class="header-blue">{{firstDayOfMonth | date:'MM/dd/yyyy'}}</h4></div>
        </div>
        <div class="mr-5">
          <span>Rate</span>
          <div><h4 class="header-blue">{{selectedRate}}</h4></div>
        </div>
        <div class="mr-5">
          <span>FLSA</span>
          <div><h4 class="header-blue">{{jobData?.FLSAStatus || '-'}}</h4></div>
        </div>
        <div class="mr-5">
          <span>Currency</span>
          <div><h4 class="header-blue">{{(activeCountryDataSet$ | async)?.CurrencyCode}}</h4></div>
        </div>
      </div>

      <div class="d-flex flex-row mb-4">
        <div class="mr-5">
          <span>Market</span>
          <div><h4 class="header-blue" [title]="paymarket?.PayMarketName">{{paymarket?.PayMarketName}}</h4></div>
        </div>
      </div>

      <div class="d-flex flex-row mb-4">
        <div class="mr-5">
          <span>Location</span>
          <div><h4 class="header-blue text-overflow-ellipsis" [title]="paymarket?.Location || ''">{{paymarket?.Location || '-'}}</h4></div>
        </div>
        <div class="mr-5">
          <span>Industry</span>
          <div><h4 class="header-blue text-overflow-ellipsis" [title]="paymarket?.Industry || ''">{{paymarket?.Industry || '-'}}</h4></div>
        </div>
        <div class="mr-5">
          <div>Size <ng-container *ngIf="paymarket?.SizeLabel">({{paymarket?.SizeLabel}})</ng-container></div>
          <div><h4 class="header-blue text-overflow-ellipsis" [title]="paymarket?.Size || ''">{{paymarket?.Size || '-'}}</h4></div>
        </div>
      </div>

      <div class="d-flex flex-row mb-4">
        <div class="width-250">
          <span>Base Salary</span>
          <div class="d-flex flex-row">
            <h1 [innerHTML]="
                calculateDataByRate(jobData?.Base50) |
                currency: workflowContext?.activeCountryDataSet?.CurrencyCode: 'symbol-narrow' : (isHourly ? '1.2-2' : '1.0-0') |
                wrapSubTextWithTag:0:1:'currency'"
                class="header-blue"></h1>
          </div>
          <div class="w-75">
            <pf-salary-bar-chart
              [isHourly]="isHourly"
              [currencyCode]="workflowContext?.activeCountryDataSet?.CurrencyCode"
              [salary25]="jobData?.Base25"
              [salary50]="jobData?.Base50"
              [salary75]="jobData?.Base75">
            </pf-salary-bar-chart>
          </div>
        </div>
        <div class="width-250">
          <span>Total Cash Compensation</span>
          <div class="d-flex flex-row">
            <h1 [innerHTML]="
                calculateDataByRate(jobData?.Tcc50) |
                currency: workflowContext?.activeCountryDataSet?.CurrencyCode: 'symbol-narrow' : (isHourly ? '1.2-2' : '1.0-0') |
                wrapSubTextWithTag:0:1:'currency'"
                class="header-blue"></h1>
          </div>
          <div class="w-75">
            <pf-salary-bar-chart
              [isHourly]="isHourly"
              [currencyCode]="workflowContext?.activeCountryDataSet?.CurrencyCode"
              [salary25]="jobData?.Tcc25"
              [salary50]="jobData?.Tcc50"
              [salary75]="jobData?.Tcc75">
            </pf-salary-bar-chart>
          </div>
        </div>
        <div class="width-250">
          <span>Salary Trend</span>
          <pf-salary-trend-chart
            [isHourly]="isHourly"
            [currencyCode]="workflowContext?.activeCountryDataSet?.CurrencyCode"
            [salaryTrendData]="jobSalaryTrendData">
          </pf-salary-trend-chart>
        </div>
      </div>

      <div *ngIf="jobData?.Skills.length">
        <div class="mb-2">Top Skills</div>
        <div class="d-flex flex-wrap">
          <span *ngFor="let skill of jobData.Skills" class="badge">{{skill}}</span>
        </div>
      </div>

    </div>
    <div class="col right-container">
      <div class="d-flex flex-column">
        <span>Job Description</span>
        <div class="job-description">
          {{jobData?.JobDescription}}
        </div>
      </div>
    </div>
  </div>
</ng-template>
