@import 'comphub-page';
@import 'comphub-styles';
@import 'comphub-variables';
@import 'colors';
@import 'common/common-variables';

:host::ng-deep .close-app-btn{
  right: 50px;
}

.header-blue {
  color: $comphub-header-blue;
}

.currency::first-letter {
  color: $pf-additional-colors-green;
  line-height: 3.4rem;
}

.width-250 {
  width: 250px;
}

.text-overflow-ellipsis {
  max-width: 300px;
  @extend %ellipsis-overflowing-text;
}

.job-description {
  background: lighten($comphub-header-background-grey, 5%);
  padding: 1rem;
  font-weight: $comphub-bold-font-weight;
  font-size: 16px;
  min-width: 400px;
}

.badge {
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  background-color: $comphub-primary-blue;
  color: white;
  font-size: $comphub-font-size;
}

.right-container {
  padding-right: 10rem;
}

@media (max-width: 1549px) {
  .left-container, .right-container {
    max-width: 100% !important;
    flex-basis: 100%;
  }
  .text-overflow-ellipsis {
    max-width: calc(100vw - 800px);
  }
}

h4 {
  line-height: 1.5;
}

.download-pdf, .share-btn, .create-project-btn, .creating-project, .creating-project-error {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 2rem;

  svg {
    font-size: 1.75rem;
    margin-right: .45rem;
    color: $comphub-primary-blue;
  }
}

.creating-project-error {
  svg {
    color: #dc1e34;
  }
}

.creating-project,.create-project-btn {
  width: 140px;
}

.creating-project {
  cursor: default;

  ::ng-deep svg {
    font-size: 1.75rem;
    margin-right: .45rem;
    color: $comphub-primary-blue;
  }
}

.pdf-header, .pdf-logo, .smb-sell-sheet-container {
  display: none;
}

.smb-sell-sheet-pdf{
  width: 100%;
  height: 100%;
}

:host ::ng-deep .k-pdf-export {
  .pdf-logo {
    display: block;
    position: absolute;
    right: 30px;
    top: 35px;
    width: 250px;
  }

  .pdf-header {
    text-transform: uppercase;
    color: $comphub-header-blue;
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .smb-sell-sheet-container {
    display: block;
    width: 100%;
    height: 100%;
  }

  .left-container, .right-container {
    max-width: 100% !important;
    flex-basis: 100%;
  }

  .right-container{
    padding-right: 0;
  }

  .text-overflow-ellipsis {
    text-overflow: inherit;
    white-space: normal;
    overflow: auto;
    padding-right: 0;
  }
}
