@import 'comphub-page';
@import 'comphub-styles';
@import 'comphub-variables';
@import 'colors';
@import 'common/common-variables';

%label {
  font-size: .85rem;
  text-transform: uppercase;
}

%info-item {
    margin: 1.4rem 1rem;

    .h {
      @extend %label;
    }

    .v {
      color: $comphub-header-blue;
      font-weight: $comphub-bold-font-weight;
      font-size: 1.25rem;
    }

    .f {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
    }
}

.glossary-svg-disable {
  pointer-events: none;
}

.summary-container {
  flex-grow: 1;
  margin-top: 2rem;

  .info-sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #f7f7f7;
    border-right: 4px solid rgba(0, 153, 204, 0.06);
    padding: .25rem 1rem 3rem;
    overflow: auto;

    .item {
      @extend %info-item;
    }
  }

  .info-horizontal {
    background: #f7f7f7;
    margin-top: 2rem;
    display: none;
    border-top: 4px solid rgba(0, 153, 204, 0.06);
    padding-bottom: 1rem;

    .item {
      @extend %info-item;
      margin: .75rem;
    }
  }

  .summary {
    margin-left: 2.5rem;
    min-width: 550px;
    max-width: 900px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .job-title {
        font-size: 2rem;
        font-weight: $comphub-bold-font-weight;
        color: $comphub-header-blue;
        margin-right: 1rem;
      }

      .actions {
        min-width: 185px;
        display: flex;
        justify-content: flex-end;

        .non-action {
          padding: 0.375rem 0.75rem;
          margin-left: .75rem;
        }

        .btn {
          margin-left: .75rem;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid #CCC;
          }

          fa-icon {
            color: #777777;
            font-size: 1.25rem;
          }
        }
      }
    }

    .incs-and-orgs {
      width: 200px;
      margin-top: 16px;
      margin-bottom: -8px;

      .v {
        color: $comphub-header-blue;
        font-weight: $comphub-bold-font-weight;
        font-size: 1.25rem;
      }
    }

    .graphs {
      margin-top: 2rem;
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;

      .g {
        width: 250px;

        &:not(:first-of-type) {
          margin-left: 35px;
        }

        .h {
          @extend %label;
          font-size: 90%;
        }

        .v {
          font-size: 2.25rem;
          color: $comphub-header-blue;

          .currency {
            color: $pf-additional-colors-green;
            font-size: 70%;
          }
        }
      }
    }

    .job-description-wrapper {
      margin-top: 5px;
    }

    .skills {
      margin-top: 1rem;
      border: 1px solid #E5E5E5;
      border-radius: 4px;

      .h {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      .title-container {
        height: 50px;
        border-bottom: 1px solid #E5E5E5;
        border-radius: 4px;
        padding: 18px;
        background-color: #F5F5F5;
      }

      .badge {
        margin-bottom: 1rem;
        margin-right: 0.5rem;
        background-color: $comphub-gray-pills;
        color: white;
        border-radius: 4px;
        font-size: 12px;
        padding: 4px;
      }
    }

    .job-description {
      padding-bottom: 3rem;

      .h {
        @extend %label;
        font-size: 90%;
      }

      .v {
        margin-top: 1rem;
        padding-right: .5rem;
      }

      ::ng-deep {
        .description-container {
          border: 1px solid #E5E5E5;
          border-radius: 4px;
          margin-bottom: 1rem;

          .description-content {
            display: inline-block;
            padding: 0 19px 9px;
          }
        }

        h6 {
          height: 50px;
          border-bottom: 1px solid #E5E5E5;
          border-radius: 4px;
          padding: 18px;
          background-color: #F5F5F5;

          svg {
            display: none;
          }

          font-weight: $comphub-bold-font-weight;
        }
      }
    }
  }
}

.hide-export {
  position: relative;
  overflow: hidden;

  > * {
    position: absolute;
    width: 100%;
  }
}

// Responsive Styles
@media (max-width: 1250px) {
  .summary-container {

    .summary {

      .graphs {
        flex-direction: column;

        .g {
          width: 400px;

          &:not(:first-of-type) {
            margin-left: 0;
            margin-top: 2rem;
            width: 400px;
          }
        }
      }
    }
  }
}

// Export Styling
:host ::ng-deep .k-pdf-export {
  .info-sidebar {
    display: none;
  }

  .info-horizontal {
    display: block !important;
  }

  .pdf-logo {
    position: absolute;
    right: 0;
    top: 20px;
    width: 250px;
  }

  .smb-sell-sheet-pdf {
    width: 100%;
  }

  .summary-container {
    margin: 0;
    padding-bottom: 25px;

    .summary {

      margin-left: 0;

      .header {

        .job-title {
          min-height: 55px;
          display: flex;
          align-items: flex-end;
          margin-right: 250px !important;
        }

        .actions {
          display: none !important;
        }
      }
    }
    .graphs {
      .g {
        .v {
          .currency {
            font-family: "DejaVu Sans", sans-serif;
            position: relative;
            bottom: 4px;
          }
        }
      }
    }
  }

  @media (max-width: 1250px) {
    .summary-container {

      .summary {

        .graphs {
          flex-direction: row !important;

          .g {
            width: 250px !important;

            &:not(:first-of-type) {
              margin-top: 0 !important;
              margin-left: 35px !important;
            }
          }
        }
      }
    }
  }
}
