<ng-template #deleteCompanyControlModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Delete Company Content Control</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <ng-container *ngIf="(templatesWithControlType$ | async) as templates">
        <div class="modal-body">
            <pf-async-container [smartLoadingMask]="true" [loading]="templates.loading" [loadingError]="templates.loadingError">
                <ng-container *ngIf="!templates.loading">
                    <ng-container *ngIf="templates.obj.length">
                        This content control is being used by the following templates and cannot be deleted:
                        <table class="table mt-3">
                            <thead>
                                <th>Template Name</th>
                                <th>Template Status</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let template of templates.obj">
                                    <td>{{template.TemplateName}}</td>
                                    <td>
                                        <pf-status-pill [status]="template.TemplateStatus"></pf-status-pill></td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>
                    <ng-container *ngIf="!templates.obj.length">
                        Are you sure you want to delete the <strong>{{companyControl.Name}}</strong> content control?
                    </ng-container>
                    <span class="help-block text-danger" *ngIf="(deleteControlError$ | async)">{{( deleteControlErrorMessage$ | async)}}</span>
                </ng-container>
            </pf-async-container>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="handleModalDismissed()">Cancel</button>
            <button [disabled]="templates?.obj.length" type="button" class="btn btn-danger" (click)="deleteConfirmed()">Delete</button>
        </div>
    </ng-container>
</ng-template>