<div class="row form-group">
  <div class="col-6 p-0">
    <kendo-dropdownlist  
        [data]="dropDownOptions"
        [textField]="'display'"
        [valueField]="'value'"
        [valuePrimitive]="true"
        [ngModel]="filter?.operator"
        [style.width]="'100%'"
        [disabled]="true"
        (valueChange)="handleFilterOperatorChanged($event)">
    </kendo-dropdownlist>
  </div>
  <div class="col-6 px-2">
    <kendo-dropdownlist  
        [data]="publicViewOptions"
        [textField]="'display'"
        [valueField]="'value'"
        [valuePrimitive]="true"
        [value]="filter?.value"
        [style.width]="'100%'"
        (valueChange)="handleFilterValueChanged($event)">
    </kendo-dropdownlist>
  </div>
</div>