.reply-text-area{
  border: none !important;
}

.reply{
  background: #ffffff;
}

.community-reply-body, .community-btn  {
  border-color: #a9a9a9;
  border-width: 1px;
  border-style: solid;
}

.community-btn {
  background-color: #ffffff;
  color: #99A0A4;
}

textarea {
  outline: none;
  resize: none;
}
