<form [formGroup]="communityPostReplyForm">
  <div *ngIf="(replyCount + addedRepliesCount) >= maximumReplies; else replyArea">
    <p class="alert alert-danger" role="alert">This post has reached the maximum number of replies. Please create another post to continue the discussion</p>
  </div>
  <ng-template #replyArea>
    <pf-community-text-area class="reply-text-area"
      [parentForm]="communityPostReplyForm"
      [maxTextLength]="replyMaxLength"
      textPlaceholder="Add Reply...">
    </pf-community-text-area>

    <button class="attachment-button float-left" (click)="openAttachmentsModal()">
      <fa-icon icon="paperclip" size="lg" class="icon community-paperclip"></fa-icon>
      Attachments <span *ngIf="communityPostAttachments?.length > 0" class="attachment-count-text">({{communityPostAttachments.length}})</span>
    </button>
    <div class="text-right">
      <button id="reply" type="button" class="btn-sm community-btn mr-2"
              data-qa-id="btn-reply"
              [disabled]="addingCommunityPostReply$ | async"
              (click)="submitReply()">
        <fa-icon icon="reply" size="lg"></fa-icon>
        Reply
      </button>
    </div>
  </ng-template>
</form>
