@import 'colors';
@import 'styles';

.reply-text-area{
  border: none !important;
}

.reply{
  background: #ffffff;
}

.community-reply-body, .community-btn  {
  border-color: #a9a9a9;
  border-width: 1px;
  border-style: solid;
}

.community-btn {
  background-color: #ffffff;
  color: #99A0A4;
}

textarea {
  outline: none;
  resize: none;
}

.attachment-button {
  border: 1px solid;
  border: solid 1px $community-categories-border !important;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  font-size: 0.8rem;
  background-color: #ffffff !important;
  cursor: pointer;
  outline: none !important;
  width: 105px !important;
}

.attachment-button:hover {
  border: solid 1px darkslategray;
}

.attachment-button fa-icon
{
  color: $community-categories-border;
}

.attachment-count-text
{
  color: #5CB85C;
  font-weight: bold;
}

:host ::ng-deep div.text-danger {
  font-size: 85%;
}
