<form [formGroup]="communityPostReplyForm">
  <pf-community-text-area class="reply-text-area"
    [parentForm]="communityPostReplyForm"
    maxTextLength="replyMaxLength"
    textPlaceholder="Add Reply..."
    [postId]="postId">
  </pf-community-text-area>    
    <div class="text-right">
      <button id="reply" type="button" class="btn-sm community-btn mr-2"
              [disabled]="addingCommunityPostReply$ | async"
              (click)="submitReply()">
        <i class="fas fa-reply fa-lg icon"></i>
        Reply
      </button>
    </div>
</form>
