@import 'colors';
@import 'styles';

.attachment-count-text
{
  color: #5CB85C;
  font-weight: bold;
}

.footer-container {
  display: inline-block;
  width: 100%;
  margin-top: -10px;
}

.btn{
  border-radius: 4px;
  height: 30px !important;
  text-align: center;
  align-items: baseline;
}

.attachment-button fa-icon
{
  color: $community-categories-border;
}

::ng-deep div.text-danger {
  font-size: 85%;
}
