<pf-modal-form 
  [modalId]="'au-modal-self-registration'" 
  [title]="'Request Access'" 
  [subTitle]="'Request access to Payfactors compensation platform'"
  [isOpen$]="showSelfRegistrationModal$" 
  [size]="'md'" 
  [primaryButtonText]="'Send Request'"
  [showFooter]="!(showSuccessMessage$ | async)"
  [formGroup]="selfRegistrationForm"
  [submitting]="false" 
  [backdrop]="true" 
  [resetFormOnClose]="false"
  (onSubmit)="onSelfRegistrationSubmit()" 
  (onDismiss)="onSelfRegistrationDismiss()">
  <ng-container form-content>
    <div id="au-cont-success" [ngClass]="(showSuccessMessage$ | async) ? 'shown' : ''">
      <h2>Success!</h2>
      <p>An email confirmation will be sent to {{ email }}. Please use the URL from the email to verify your account.</p>
    </div>
    <div id="au-cont-form" (keydown)="onKeyDown($event)" [ngClass]="!(showSuccessMessage$ | async) ? '' : 'hidden'">
      <p *ngIf="isSubmitError$ | async" class="error">
        An unexpected error has occurred
      </p>

      <!-- FIRST NAME -->
      <div class="form-group">
        <label>First Name*</label>
        <input
          #firstName
          id="au-tb-self-registration-first-name"
          class="form-control"
          (blur)="onFieldBlur(firstNameControl)"
          [maxLength]="validationService.NAME_LENGTH.max"
          formControlName="FirstName"
          type="text">
        <label [class.invisible]="hideControlValidationError(firstNameControl)" class="error">
          Enter at least two letters and no special characters or numbers
        </label>
      </div>

      <!-- LAST NAME -->
      <div class="form-group">
        <label>Last Name*</label>
        <input 
          id="au-tb-self-registration-last-name"
          class="form-control"
          (blur)="onFieldBlur(lastNameControl)"
          [maxLength]="validationService.NAME_LENGTH.max"
          formControlName="LastName" 
          type="text">
        <label [class.invisible]="hideControlValidationError(lastNameControl)" class="error">
          Enter at least two letters and no special characters or numbers
        </label>
      </div>

      <!-- WORK EMAIL -->
      <div class="form-group">
        <label>Work Email*</label>
        <input 
          id="au-tb-self-registration-work-email"
          class="form-control"
          (blur)="onFieldBlur(emailControl); onEmailBlur()"
          formControlName="Email" 
          type="email">
        <label [class.invisible]="hideControlValidationError(emailControl)" class="error">
          <ng-container *ngIf="emailControl.errors?.workEmail.domain else genericEmailError">
            Please enter your business email address. This form does not accept addresses from
            <strong>{{ emailControl.errors.workEmail.domain }}</strong>
          </ng-container>
          <ng-template #genericEmailError>
            Please enter a valid business email address.
          </ng-template>
        </label>
      </div>

      <!-- TITLE -->
      <div class="form-group">
        <label>Title*</label>
        <input
          id="au-tb-self-registration-title"
          class="form-control"
          (blur)="onFieldBlur(titleControl)"
          [maxLength]="validationService.TITLE_LENGTH.max"
          formControlName="Title" 
          type="text">
        <label [class.invisible]="hideControlValidationError(titleControl)" class="error">
          Enter at least five letters and no special characters or numbers
        </label>
      </div>

      <!-- COMPANY NAME -->
      <div class="form-group">
        <label>Company Name*</label>
        <input 
          id="au-tb-self-registration-company-name"
          class="form-control"
          (blur)="onFieldBlur(companyNameControl)"
          [maxLength]="validationService.COMPANY_LENGTH.max"
          formControlName="CompanyName" 
          type="text">
        <label [class.invisible]="hideControlValidationError(companyNameControl)" class="error">
          Enter at least two characters
        </label>
      </div>

      <!-- WEBSITE -->
      <div class="form-group">
        <label>Website*</label>
        <input 
          id="au-tb-self-registration-website" 
          class="form-control"
          (blur)="onFieldBlur(websiteControl)"
          [maxLength]="validationService.WEBSITE_LENGTH.max"
          formControlName="Website"
          type="text">
        <label [class.invisible]="hideControlValidationError(websiteControl)" class="error">
          Enter a valid website
        </label>
      </div>

      <!-- NUMBER OF EMPLOYEES -->
      <div class="form-group">
        <label>Number of Employees*</label>
        <select 
          id="au-ddm-self-registration-number-of-employees" 
          class="form-control" 
          formControlName="NumberEmployees">
          <option [ngValue]="0"></option>
          <option [ngValue]="1">1-20</option>
          <option [ngValue]="21">21-50</option>
          <option [ngValue]="51">51-100</option>
          <option [ngValue]="81">81-150</option>
          <option [ngValue]="151">151-250</option>
          <option [ngValue]="251">251-500</option>
          <option [ngValue]="501">501-1000</option>
          <option [ngValue]="1000">> 1000</option>
        </select>
        <label [class.invisible]="hideControlValidationError(numberEmployeesControl)" class="error">
          Select a non blank value
        </label>
      </div>
    </div>
  </ng-container>
</pf-modal-form>