<ng-template #tipContent>
    <span *ngIf="(communityLikesLoading$ | async)">
        <pf-loading-indicator></pf-loading-indicator>
    </span>{{getTooltipText()}}
</ng-template>
<span id="like-reply" class="community-like p-0"
          [attr.data-qa-id]="'ctn-communityLike'+ getSource()"
          [ngClass]="LikedByCurrentUser ? 'community-btn-clicked': 'community-btn'"
          (click)="updateLike()"
          (mouseenter)="mouseEnter()"
          placement="auto"
          [ngbTooltip]="tipContent">
    <span *ngIf="LikedByCurrentUser">
      <fa-icon icon="heart" class="liked-by-current-user"></fa-icon>
    </span>
    <span *ngIf="!LikedByCurrentUser">
       <fa-layers [fixedWidth]="true">
          <fa-icon icon="heart"></fa-icon>
          <fa-icon [inverse]="true" icon="heart" transform="shrink-4"></fa-icon>
       </fa-layers>
    </span>
    <span data-qa-id="cnt-likeCount"> {{LikeCount > 0 ? LikeCount : ''}} {{LikeCount > 1 ? 'Likes' : 'Like'}}</span>
</span>

