@import 'colors';
@import 'styles';

.community-like {
  cursor: pointer;
  background: transparent;
  color: $community-icon-color;
}

.community-btn .icon {
  color: $community-icon-color;
}

.liked-by-current-user {
  color: #FA4646;
}

:host ::ng-deep .tooltip-inner {
  width: 150px;
  white-space: pre;
 }
