<pf-data-grid
  [title]="(metaData$ | async)?.IsCurrent ? (metaData$ | async)?.StructureName : (metaData$ | async)?.ModelName"
  [subtitle]="(metaData$ | async)?.IsCurrent ? '' : 'Structure: ' + (metaData$ | async)?.StructureName"
  [navigationURL]="'/marketdata/structures.asp'"
  [inboundFilters]="[filter]"
  [columnTemplates]="colTemplates"
  [pageViewId]="pricingsPageViewId"
  [gridContainerSplitViewWidth]="'70%'"
  [splitViewTemplate]="graph"
  [splitOnSelection]="false"
  [aboveGridTemplate]="aboveGridTemplate"
  [applyDefaultFilters]="false"
  [actionBarConfig]="actionBarConfig"
  [pageable]="true"
  [borders]="false"
  [contentClassNamesOverrides]="'py-3 px-4'"
  [pageTheme]="'next-gen'"
  [autoFitColumnsToHeader]="true"
  [reorderable]="true"
  [syncScrollWithSplit]="true">
</pf-data-grid>

<ng-template #jobTitleCode let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text-wrap">
    {{ dataRow['vw_PricingMatchesJobTitlesMerged_Job_Title'] }} ({{ dataRow['vw_PricingMatchesJobTitlesMerged_Job_Code'] }})
  </div>
</ng-template>

<ng-template #source let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text-wrap">
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Source'] }}
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Effective_Date'] ? ' - ' + (dataRow['vw_PricingMatchesJobTitlesMerged_Effective_Date'] | date: 'MM/dd/yyyy') : '' }}
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Scope1'] ? ' - ' + dataRow['vw_PricingMatchesJobTitlesMerged_Scope1'] : '' }}
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Scope2'] ? ' - ' + dataRow['vw_PricingMatchesJobTitlesMerged_Scope2'] : '' }}
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Scope3'] ? ' - ' + dataRow['vw_PricingMatchesJobTitlesMerged_Scope3'] : '' }}
  </div>
</ng-template>

<ng-template #rangeValue let-dataRow="dataRow" let-fieldName="fieldName">
  <ng-container *ngIf="dataRow[fieldName]; else noValue">{{ dataRow[fieldName] | rangeValue: (metaData$ | async)?.Rate }}</ng-container>
</ng-template>

<ng-template #noFormatting let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text-wrap" *ngIf="dataRow[fieldName]; else noValue">
    {{dataRow[fieldName]}}
  </div>
</ng-template>

<ng-template #graph>
  <pf-pricings-salary-range-chart [rangeId]="rangeId"></pf-pricings-salary-range-chart>
</ng-template>

<ng-template #noValue>
  - -
</ng-template>

<ng-template #gridGlobalActions>
  <pf-model-settings-btn [pfSecuredResource]="_Permissions.STRUCTURES_CREATE_EDIT_MODEL" [metadata]="(metaData$ | async)" (clicked)="handleModelSettingsBtnClicked()"></pf-model-settings-btn>
</ng-template>

<ng-template #aboveGridTemplate>
  <div class="mb-3">
    <pf-grid-context [enableReturnBtn]="true" [metadata]="metaData$ | async"></pf-grid-context>
    <pf-model-grid [inboundFilters]="[filter]" [rangeGroupId]="rangeGroupId" [singleRecordView]="true" [page]="page"></pf-model-grid>
  </div>
</ng-template>
