<pf-data-grid
  [title]="(metaData$ | async)?.Name"
  [navigationURL]="'/marketdata/structures.asp'"
  [inboundFilters]="[filter]"
  [showFilterChooser]="false"
  [showActionBar]="true"
  [columnTemplates]="colTemplates"
  [pageViewId]="pricingsPageViewId"
  [gridContainerSplitViewWidth]="'70%'"
  [splitViewTemplate]="graph"
  [splitOnSelection]="false"
  [aboveGridTemplate]="aboveGridTemplate"
  [applyDefaultFilters]="false">
</pf-data-grid>

<ng-template #jobTitleCode let-dataRow="dataRow" let-fieldName="fieldName">
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Job_Title'] }} ({{ dataRow['vw_PricingMatchesJobTitlesMerged_Job_Code'] }})
</ng-template>

<ng-template #source let-dataRow="dataRow" let-fieldName="fieldName">
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Source'] }}
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Effective_Date'] ? ' - ' + (dataRow['vw_PricingMatchesJobTitlesMerged_Effective_Date'] | date: 'MM/dd/yyyy') : '' }}
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Scope1'] ? ' - ' + dataRow['vw_PricingMatchesJobTitlesMerged_Scope1'] : '' }}
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Scope2'] ? ' - ' + dataRow['vw_PricingMatchesJobTitlesMerged_Scope2'] : '' }}
  {{ dataRow['vw_PricingMatchesJobTitlesMerged_Scope3'] ? ' - ' + dataRow['vw_PricingMatchesJobTitlesMerged_Scope3'] : '' }}
</ng-template>

<ng-template #graph>
  <div class="d-flex h-100 justify-content-center align-items-center">
    Graph will go here
  </div>
</ng-template>

<ng-template #aboveGridTemplate>
  <div style="height: 150px">
    <pf-grid-context [enableReturnBtn]="true" [metadata]="metaData$ | async"></pf-grid-context>
    <pf-model-grid [inboundFilter]="filter" [rangeGroupId]="rangeGroupId" [singleRecordView]="true"></pf-model-grid>
  </div>
</ng-template>
