<pf-page-with-title-bar>
  <ng-container page-title>
    SSO Customer Configurations
  </ng-container>

  <ng-container page-actions>
    <button class="btn btn-secondary" type="submit" (click)="SetAddSsoModal($event)">Add SSO</button>
    <button class="btn btn-secondary" type="submit" [disabled]="editButtonDisabled" (click)="SetEditSsoModal($event)">Edit SSO</button>
  </ng-container>

  <ng-container page-content>
    <div class="row">
      <div class="col">
        <pf-sso-grid>
        </pf-sso-grid>
      </div>
    </div>

    <pf-sso-config-modal [modalType]="modalType"></pf-sso-config-modal>
  </ng-container>

</pf-page-with-title-bar>
