<configuration>
  <appSettings>
    <add key="Auth0ClientId" value="Qyoo58JL1UjYtHelFe1Jlqw60toKsJd9" />
    <add key="Auth0ClientSecret" value="bj9Mcj_RL8IbodWfROmgPrbVYE4UjXAAHiu_X7ocXWuJMjK0ymhShCd6R9vWda4x" />
    <add key="Auth0RedirectUri" value="http://smallbizdev.payfactors.com/app/callback" />
    <add key="Auth0Domain" value="https://pf-smallbiz-dev-prasant.auth0.com" />
    <add key="Auth0UserMetaDataClaim" value="http://smallbizdev.payfactors.com/user_metadata" />
    <add key="SmallbizApiAudience" value="http://smallbizdev.payfactors.com/api" />
  </appSettings>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="app">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
  </system.webServer>
</configuration>
