<div (click)="toggleJobDetails()" class="px-3 pb-3 btn btn-link">{{buttonText}}</div>
<div class="px-3 pb-3" *ngIf="showJobDetails">
  <div>
    <span>Family: {{surveyJobDetails.JobFamily}} </span>
    <span class="job-level-padding">Level: {{surveyJobDetails.LevelCode}} </span>
  </div>
  <div class="job-description-container">
    <ng-container *ngIf="surveyJobDetails.JobDescription; else noJobDescription">
      <pf-ellipsis-view-more [copy]="true" [content]="surveyJobDetails.JobDescription" [maxLength]="600"></pf-ellipsis-view-more>
    </ng-container>
    <ng-template #noJobDescription>
      <span>No job description</span>
    </ng-template>
  </div>
</div>
