.card-columns{
  column-count: 2;
}
.card {
  min-height: 260px;
  padding: 10px;
}

.thumbnail-and-title{
  float: left;
}
.thumbnail-image {
  height: 190px;
  max-width: 190px;
}
.description {
  float: right;
}
