a:link, a:visited, a:hover {
  color: #212529;
  text-decoration: none;
}

.card-columns{
  column-count: 2;
}

.card {
  min-height: 260px;
  padding: 10px;
}

.thumbnail-image {
  height: 190px;
  max-width: 190px;
}
