@import 'colors';

.close-btn {
  cursor: pointer;
  position: absolute;  
  right: 10px;
  top: 10px;
  z-index: 900;
}

.close-btn:hover {
  opacity: 0.5;
}

.full-height {
  position: absolute;
  top: 41px;
  bottom: 0;
  left: 0;
  right: 0;  
}

.nav-link {
  color: black !important;
  padding: 0.75rem 0.75rem;
}

.nav-tabs .nav-link {
  border-width: 0 !important;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid $link-color !important;  
  z-index: 999;
  font-weight: bold;
  background-color: inherit;
}
