@import 'colors';
@import 'libs/styles/ngbootstrap-tabset-overrides';

.close-btn {
  cursor: pointer;
}

.close-btn:hover {
  opacity: 0.5;
}

.full-height {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
}

.full-size {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tab-top-offset {
  top: 45px !important;
}


.nav-link {
  color: black !important;
  padding: 0.75rem 1.0rem;
}

.job-details-bottom-border {
  border-bottom: 2px solid #dee2e6;
}

.job-title-code {
  white-space: nowrap;
  max-width: 350px;
  display: block;
}

@media only screen and (max-width: 1360px) {
  .hide-sm {
    display: none !important;
  }
}

@media only screen and (max-width: 1550px) {
  .job-title-code {
    max-width: 190px !important;
  }
}

@include pf-tabset;
