<div (click)="close()" class="close-btn">
  <fa-icon [icon]="['far', 'times']" size="lg"></fa-icon>
</div>
<ngb-tabset>
  <ngb-tab [title]="'Pricing Details'">
    <ng-template ngbTabContent>
      <div class="full-height">
        <pf-pricing-details-grid [filters]="jobDetailsFilters"></pf-pricing-details-grid>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="'Job Description'">
    <ng-template ngbTabContent>
      <div class="full-height">
        <pf-job-description  [filters]="jobDetailsFilters" ></pf-job-description>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="'Employees'">
    <ng-template ngbTabContent>
      <div class="full-height">
        <pf-employees-grid [filters]="jobDetailsFilters"></pf-employees-grid>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="'Structures'">
    <ng-template ngbTabContent>
      <div class="full-height">
        <pf-structure-grid [filters]="jobDetailsFilters"></pf-structure-grid>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab [title]="'Projects'">
    <ng-template ngbTabContent>
      <div class="full-height">
        <pf-project-details [filters]="jobDetailsFilters"></pf-project-details>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
