.close-btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 900;
}

.close-btn:hover {
  opacity: 0.5;
}

.full-height {
  position: absolute;
  top: 41px;
  bottom: 0;
  left: 0;
  right: 0;
}

.job-details-container {
  background-color: #ffffff;
}
