div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #E9EAED;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 999;
}

.input-icon{
    position: absolute;
    left: 5px;
    top: calc(50% - 0.5em);
}

input{
    border: none;
    padding-left: 20px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px gray;
    height: 30px;
}

.input-wrapper-with-icon{
    position: relative;
    width: 47%;
}