<pf-page-with-title-bar [returnUrl]="'/dashboard/'" [contentNoPadding]="true">

  <ng-container page-title>
   Job Postings
  </ng-container>

  <ng-container page-content>

    <div class="search-container" *ngIf="showSearchContainer">
      <div class="h-100">
        <div class="row h-100 p-4 vertical-align">
          <div class="col-4 offset-2 input-container h-100">
              <input id="search" class="community-border-radius" placeholder="Search Jobs">
              <label for="search" class="fal fa-search input-icon"></label>
          </div>
          <div class="col-4 input-container h-100">
              <input id="location" class="community-border-radius" placeholder="City, state, or country">
              <label for="location" class="fal fa-map-marker-alt input-icon"></label>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'search-results-container-full-height': !showSearchContainer, 'search-results-container': showSearchContainer }">
      <pf-community-jobs [addPaddingTopToJobsList]="!showSearchContainer"></pf-community-jobs>
    </div>
  </ng-container>

</pf-page-with-title-bar>
