<div class="card d-flex flex-column flex-grow-1">
  <div class="card-header">
    <span class="title">Pay Market Default Settings</span>
  </div>

  <div class="card-body d-flex flex-column pl-4">
    <kendo-combobox data-qa-id="ddl-user-settings-paymarket-default"
                    placeholder="Select a Pay Market..."
                    [data]="(payMarkets$ | async)?.obj"
                    [loading]="(payMarkets$ | async)?.loading"
                    [valueField]="'CompanyPayMarketId'"
                    [textField]="'PayMarket'"
                    [filterable]="true"
                    [virtual]="true"
                    [kendoDropDownFilter]="filterSettings"
                    [style.width.px]="400"
                    [(ngModel)]="selectedPayMarket">
    </kendo-combobox>
    <div>
      <pf-pay-market-cut [payMarket]="selectedPayMarket"></pf-pay-market-cut>
    </div>
  </div>

</div>
