<div class="card d-flex flex-column flex-grow-1">
  <div class="card-header">
    <span class="title">
      Pay Market Default Settings
      <fa-icon class="pl-2"
              icon="info-circle"
              [ngbPopover]="payMarketDefaultInfo"
              container="body"
              triggers="mouseenter:mouseleave"
              placement="right">
    </fa-icon>
    </span>
  </div>

  <div class="card-body d-flex flex-column pl-4">
    <kendo-combobox data-qa-id="ddl-user-settings-paymarket-default"
                    placeholder="Select a Pay Market..."
                    [data]="(payMarkets$ | async)?.obj"
                    [loading]="(payMarkets$ | async)?.loading"
                    [valueField]="'CompanyPayMarketId'"
                    [textField]="'PayMarket'"
                    [filterable]="true"
                    [virtual]="true"
                    [kendoDropDownFilter]="filterSettings"
                    [style.width.px]="400"
                    [(ngModel)]="selectedPayMarket">
    </kendo-combobox>
    <div>
      <pf-pay-market-cut [payMarket]="selectedPayMarket"></pf-pay-market-cut>
    </div>
  </div>

</div>

<ng-template #payMarketDefaultInfo>
  <div class="pop-content">
    <p>Update your existing pay markets by adjusting the Weight and Adjustment for each available scope as needed.</p>
  </div>
</ng-template>
