<span>
  <pf-modal-form [title]="'User Detail'"
                 size=""
                 [showFooter]="false"
                 [isOpen$]="isUserDetailOpen$"
                 (onDismiss)="onDismiss()"
                 onblur="onDismiss()">
    <ng-container basic-content>
      <pf-async-container [loading]="isLoading$ | async"
                          [loadingError]="hasLoadError$ | async">

        <table *ngIf="userInfo"
               id="infoTable">
          <tr>
            <td>User Name:</td>
            <td>{{userInfo.FirstName}} {{userInfo.LastName}} </td>
            <td><a class="pl-3 float-right"
                 [ngbTooltip]="tipContent"
                 (click)="$event.stopPropagation()"
                 href="../../odata/account/impersonate?userId={{userInfo.UserId}}">
                <fa-icon icon="user"></fa-icon>
              </a></td>
          </tr>
          <tr>
            <td>Title:</td>
            <td colspan="2">{{userInfo.JobTitle}}</td>
          </tr>
          <tr>
            <td>Phone Number:</td>
            <td colspan="2">{{userInfo.PhoneNumber}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td colspan="2"> <a
                 href="mailto:{{userInfo.EmailAddress}}?Subject=Payfactors%20Support%20Ticket%20#{{ticketId}}">{{userInfo.EmailAddress}}</a>
            </td>
          </tr>
        </table>
      </pf-async-container>
    </ng-container>
    <ng-template #tipContent>
      Impersonate User
    </ng-template>
  </pf-modal-form>
</span>