<div *ngFor="let paymarket of paymarkets; trackBy: trackById"
     class="paymarket-result"
     [title]="paymarket.PayMarketName"
     (click)="togglePaymarket(paymarket.CompanyPayMarketId)">
    <div class="paymarket-check">
      <input type="checkbox"
             [name]="'paymarket-selection'"
             [attr.data-qa-id]="'chk-select-paymarket-'+ paymarket.CompanyPayMarketId"
             [checked]="selectedPaymarketId === paymarket.CompanyPayMarketId" />{{paymarket.PayMarketName}}
    </div>


</div>

