<pf-page-with-title-bar [absoluteUrl]="env.siteAdminUrl + '/navigation'">

  <ng-container page-title>
    Peer Exchanges
  </ng-container>

  <ng-container page-actions>

    <pf-input-debounce [placeholderText]="'Search for an Exchange by Name or Creator…'"
                       [minWidth]="300"
                       [maxLength]="1000"
                       (valueChanged)="handleSearchChanged($event)">
    </pf-input-debounce>
    <button type="button"
            class="btn btn-primary"
            (click)="openCreateExchangeModal()">Create</button>
  </ng-container>

  <ng-container page-content>
    <pf-exchange-list [searchHighlight]="searchQuery"
                      (onCellClick)="handleCellClick($event)"></pf-exchange-list>
  </ng-container>

</pf-page-with-title-bar>

<pf-create-exchange-modal></pf-create-exchange-modal>
