$trs-canvas-background-color: rgba(187, 187, 187, 0.25);
$trs-soft-border-color: #eee;
$trs-prominent-border-color: rgba(51, 51, 51, 0.75);
$trs-placeholder-font-color: #555;

$trs-default-styled-background-graphic-color: #28435a;
$trs-default-styled-overlap-graphic-color: #0883be;
$trs-default-styled-line-graphic-color: #ffb300;
$trs-default-styled-divider-color: #dc1e34;

$color-danger: #D9534F;
