@import 'total-rewards/statement-layout-variables';

.trs-rich-text-control {
  height: $rich-text-height;
  top: -10px; // compensate for the relocated editor ribbon
  .heading {
    width: 105%;
    h4 {
      width: 90%;
    }
  }
  label.info {
    color: $link-color;
    font-size: 1.2rem;
    transition: opacity .3s ease-in-out;
  }
  &.preview-mode label.info, &.print-mode label.info {
    opacity: 0;
    pointer-events: none;
  }
  .ql-toolbar {
    text-align: center;
    opacity: 0;
    transform: scaleY(0);
    pointer-events: none;
    transition: $left-nav-transition, opacity .3s ease-in-out, transform .25s ease-in-out;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    margin-left: -53px;
    top: 182px;
    width: $canvas-width;
    border-color: $trs-soft-border-color;
    .ql-picker.ql-font {
      width: 160px;
    }
    svg {
      // we detect toolbar menu clicks for focus purposes, but IE has trouble detecting svg clicks, so disallow mouse interaction and let the container html element surface
      pointer-events: none;
    }
  }

  .ql-editor {
    padding: 4px 6px;
    overflow-y: hidden;
    .ql-size-large {
      font-size: 1.4rem;
    }
    .ql-size-small {
      font-size: .85rem;
    }
    &.ql-blank::before {
      left: 8px;
    }
  }

  .ql-container {
    margin-left: -10px;
    transition: border .6s ease-in-out;
    border: 2px dashed transparent;
    height: $rich-text-height;
    font-family: inherit;
    font-size: inherit;
  }

  // hover, active, invalid borders/misc in edit mode
  &.edit-mode {
    &:hover {
      .ql-toolbar.ql-snow + .ql-container.ql-snow {
        border: 2px dashed rgba($link-color, .5);
      }
    }

    &.active {
      .ql-toolbar.ql-snow + .ql-container.ql-snow {
        border: 2px dashed $link-color;
      }
      .ql-toolbar {
        opacity: .95;
        transform: scaleY(1);
        pointer-events: initial;
      }
    }
    
    &.invalid {
      .ql-toolbar.ql-snow + .ql-container.ql-snow {
        border-color: darken(tomato, 10%);
      }
    }
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 2px dashed transparent;
  }

  // left bracket data field/mention
  .mention {
    transition: background-color .3s ease-in-out, color .3s ease-in-out, padding .05s ease-in-out;
  }

  &.edit-mode {
    .mention {
      color: $trs-placeholder-font-color;
      background-color: $trs-canvas-background-color;
      padding: .15rem;
    }
  }
  
  .ql-mention-list-container {
    z-index: 100;
    background-color: white;
    max-height: 140px;
    width: 200px;
    overflow-y: auto;
    border: 1px solid #f0f0f0;
    box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  }

  .ql-mention-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .ql-mention-list-item {
    cursor: pointer;
    padding: 2px 4px;
    background-color: #fff;
    text-align: left;
    font-size: .9rem;

    &.selected {
      background-color: #D3E1EB;
    }
  }

  // quill toolbar custom fonts
  // Arial
  .ql-font-Arial {
    font-family: 'Arial', sans-serif;
  }

  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Arial]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Arial]::before {
    content: 'Arial';
    font-family: 'Arial', sans-serif;
  }

  // Georgia
  .ql-font-Georgia {
    font-family: 'Georgia', sans-serif;
  }

  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Georgia]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Georgia]::before {
    content: 'Georgia';
    font-family: 'Georgia', sans-serif;
  }

  // Times New Roman
  .ql-font-TimesNewRoman {
    font-family: 'Times New Roman', serif;
  }

  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=TimesNewRoman]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=TimesNewRoman]::before {
    content: 'Times New Roman';
    font-family: 'Times New Roman', serif;
  }

  // Verdana
  .ql-font-Verdana {
    font-family: 'Verdana', sans-serif;
  }

  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Verdana]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Verdana]::before {
    content: 'Verdana';
    font-family: 'Verdana', sans-serif;
  }
}

@media print {
  .trs-rich-text-control, .trs-rich-text-control .ql-container {
    height: #{(($print-base-font-size / 13) * $rich-text-height) + $print-base-font-size}; // account for the enlarged print font from 13 -> 17
  }
}
