@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500&display=swap');

pf-total-rewards-statement {
  // disable mouse interaction for the chart so the legend cannot be clicked
  .trs-chart .k-widget svg {
    pointer-events: none;
  }

  // when we have a group of calculation controls together, hide all but the first secondary header, ie Contribution column header
  .control-type-3 ~ .control-type-3 .secondary-header {
    display: none;
  }

  .trs-statement-title {
    pf-string-editor {
      .editable {
        .edit-icon {
          position: absolute !important;
          right: -5px;
        }
      }
    }
  }
}

@import 'total-rewards/statement-controls';

@media print {
  * {
    transition: none !important; // don't capture incomplete transitions
  }

  html {
    -webkit-print-color-adjust: exact; // maintain print/PDF background colors in styled template title graphics
  }

  html, body {
    background-color: white; // override dark blue to white so there's no contrast if html shows as content
  }

  // override bootstrap _print below, so print styling remains consistent with screen page size, min-widths, and anchors
  @page {
    size: 8.5in 11in;
  }

  .container {
    min-width: 0 !important;
  }

  body {
    min-width: 0 !important;
  }

  a:not(.btn) {
    text-decoration: none;
  }
}
