@import 'total-rewards/app-colors';
@import 'total-rewards/rich-text-editor';

pf-trs-calculation-control {
  .edit-mode {
    .trs-calculation-row {
      &:hover {
        .edit-icon {
          visibility: visible;
        }
      }
    }
  }
}

pf-trs-image-control {
  &>div {
    border: 2px dashed transparent;
  }
  .edit-mode {
    border: 2px dashed $trs-canvas-background-color;
    border-radius: 5px;
  }
  .edit-mode.show-image {
    border: 2px dashed transparent;
    transition: border .6s ease-in-out;
    &:hover{
      border: 2px dashed rgba($link-color, .5);
    }
  }

  // Custom CSS to adjust Kendo Upload component
  .trs-image {
    svg {
      position: absolute;
      z-index: 5;
      left: 50%;
      transform: translateX(-50%);
    }
    .help-text {
      font-size: .9rem;
      bottom: -13px;
      left: 50%;
      transform: translateX(-50%);
      width: 90px;
      display: inline-block;
    }
    .k-widget {
      height: inherit;
      max-height: 80px;
      border: none;
      .k-header {
        border: none;
      }
      .k-dropzone {
        padding-top: 4px;
        height: 80px;

        .k-button.k-upload-button {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .k-upload-files {
        position: relative;
        padding: 0;
        border: none;
        top: -20px;
        font-size: 1rem;
        color: $color-danger;
      }
      .k-file {
        padding: 0;
        border: none;
      }
      .k-file-extension-wrapper, .k-file-size, .k-file-invalid-extension-wrapper, .k-file-name {
        display: none;
      }
      .k-upload-status {
        padding: 0;
        margin: 0;
        font-size: 0;
      }
      .k-file-name-size-wrapper {
        margin: 0;
      }
    }
  }
}

pf-trs-effective-date-control {
  .effective-date {
    .k-state-disabled {
      opacity: 1; // kendo wants this to be .65 but keep at 1 so it doesn't look faded in preview/print
    }

    .k-picker-wrap {
      height: 22px;
      width: 130px;

      .k-input {
        height: 22px;
        text-align: center;
        padding: .25rem 0 .35rem 0;
        transition: transform .3s ease-in-out;
      }
    }

    .k-icon.k-i-calendar::before {
      opacity: .8;
      transition: opacity .3s ease-in-out;
    }

    .k-icon.k-i-calendar:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  .preview-mode {
    .k-picker-wrap, .k-dateinput-wrap {
      border-color: transparent;
      background-color: transparent; // in preview this element gets pushed into the gutter, so make it transparent
    }
    .k-select {
      display: none;
    }
  }
}

// Simple Template styles
.pf-simple-template{
  pf-trs-effective-date-control {
    .effective-date {
      display: flex;
      -ms-flex-pack: end !important;
      justify-content: flex-end !important;

      label, .static-date {
        font-size: .9rem;
        color: #6c757d;
      }

      .field-wrapper {
        transition: opacity .15s ease-in-out, transform .3s ease-in-out;
      }

      .static-date {
        padding: 0.3rem;
      }

      // Kendo
      .k-picker-wrap {
        .k-input {
          font-size: .9rem;
          line-height: .9rem;
          color: #6c757d;
        }
      }
    }

    .preview-mode {
      label {
        margin-right: 1.25rem !important;
      }
      .k-picker-wrap, .k-datepicker {
        width: auto !important;
      }
      .k-input {
        transform: translateX(-3rem);
      }
      .field-wrapper {
        transform: translateX(5.4rem);
      }
    }
  }
}

// Styled Template styles
.pf-styled-template {
  pf-trs-effective-date-control {
    .effective-date {
      padding: 1rem 0 0 1rem;

      label, .static-date {
        font-weight: 300;
        font-size: 1.4rem;
        font-style: italic;
        text-transform: uppercase !important;
      }

      .field-wrapper {
        transform: none;
      }

      .static-date {
        width: auto !important;
      }

      // Kendo
      .k-datepicker{
        width: auto !important;
      }

      .k-picker-wrap {
        .k-input {
          font-weight: 300;
          font-style: italic;
          font-size: 1.4rem;
          text-transform: uppercase;
        }
      }

      kendo-datepicker, .k-picker-wrap, kendo-dateinput, .k-dateinput-wrap, .k-dateinput-wrap input {
        color: inherit; // allow accent colors to cascade over
      }
    }

    .preview-mode {
      .k-input {
        transform: translateX(-2rem);
      }

    }
  }
}
