.reset-btn {
  box-shadow: none;
  color: #0275D8;
  cursor: pointer;
  padding: 0;
}

.email-body {
  background-color: rgba(0, 0, 0, 0.03);
}

.email-body textarea {
  padding-right: 22px;
}

.email-input-radial-counter {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 0px;
  margin-right: 18px;
}
