.k-grid .k-hierarchy-cell {
  width: 0;
}

.k-grid .k-header.k-hierarchy-cell {
  border: none;
}

.k-grid .k-hierarchy-cell .k-icon {
  display: none;
}

.k-grid .k-hierarchy-col {
  width: 0px;
}

.wtg-adj-cell {
  width: 50px;
}
