@import '_colors';

.k-grid .k-hierarchy-cell {
  width: 0;
}

.k-grid .k-header.k-hierarchy-cell {
  border: none;
}

.k-grid .k-hierarchy-cell .k-icon {
  display: none;
}

.k-grid .k-hierarchy-col {
  width: 0px;
}
#pricingMatchesHeader {
  background-color: $theme-header;
  margin: 1% 0 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.fakeColumnHeader {
  border-left: solid 2px $theme-grid-line-color;
}

.wtg-adj-source-cell {
  width: 58px;
  white-space: nowrap;
}
.pricingMatch {
  min-height: 200px;
}
