
<ng-container *ngIf="pricingInfo.CompanyJobs_Pricings_CompanyJobPricing_ID">
  <pf-data-grid
    [pageViewId]="pageViewId + '_' + filter.Value"
    [showTitle]="false"
    [columnTemplates]="colTemplates"
    [customHeaderTemplate]="pricingMatchesHeader"
    [inboundFilters]="[filter]"
    [defaultSort]="defaultSort"
    [pagingOptions]="defaultPagingOptions"
    [compactGrid]="true"
    [borders]="false"
    [contentClassNamesOverrides]="'p-0'"
    [noRecordsFound]="'This pricing has no data cuts.'"
    [actionBarConfig]="actionBarConfig"
    [pageTheme]="pfThemeType.TertiaryGrid"
    [applyUserDefaultCompensationFields]="true"
    [hasColDividers]="true"
    [allowSort]="false">
  </pf-data-grid>
</ng-container>

<ng-container *ngIf="!pricingInfo.CompanyJobs_Pricings_CompanyJobPricing_ID">
  <div *ngIf="!hasModifyPricingPemission" class="p-3">This is an unpriced Pay Market. Please select this Pay Market and click on the Create Project button in order to price it.</div>
  <div *ngIf="hasModifyPricingPemission" class="p-3">This is an unpriced Pay Market. Select the Pay Market and click on Create Project or Price Jobs to create a pricing.</div>
</ng-container>

<ng-template #pricingMatchesHeader>
  <div id="pricingMatchesHeader" class="row no-gutters">
    &nbsp;<span class="wtg-adj-source-cell text-white text-center">Wtg.&nbsp;</span><span class="fakeColumnHeader">&nbsp;</span>
     <span class="wtg-adj-source-cell text-white text-center">Adj. %&nbsp;</span><span class="fakeColumnHeader">&nbsp;</span>
     <span class="wtg-adj-source-cell text-white">Source Job</span>
  </div>
</ng-template>

<ng-template #jobTitleColumn let-dataRow="dataRow">
  <pf-pricing-matches-job-title
    [dataRow]="dataRow"
    [pricingInfo]="pricingInfo"
  ></pf-pricing-matches-job-title>
</ng-template>

<ng-template #genericMrpColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <pf-pricing-details-mrp-column
    [dataRow]="dataRow"
    [fieldName]="fieldName"
    [mrpDisplayOverrides]="mrpDisplayOverrides"
    [rateOverride]="rateOverride"
  ></pf-pricing-details-mrp-column>
</ng-template>

<ng-template #agingColumn  let-dataRow="dataRow" let-fieldName="fieldName">
  <div class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow[fieldName] | number: '1.1-1' | emptyPlaceholder"></span>
  </div>
</ng-template>

<ng-template #currencyColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    <span *ngIf="!fieldName.includes('Pct'); else pctValue" [innerHTML]="dataRow[fieldName] | comp: rate | emptyPlaceholder"></span>
  </div>
  <ng-template #pctValue>
    <span [innerHTML]="dataRow[fieldName] | comp: rate : 'full' | emptyPlaceholder"></span>
  </ng-template>
</ng-template>

<ng-template #pricingInfoColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow[fieldName] | humanizeNumber | emptyPlaceholder"></span>
  </div>
</ng-template>
