<ng-template #popContent>
  <div class="user-filter-list-container">
    <p>
      <pf-input-debounce id="column-search-box" (valueChanged)="(filter = $event)" [(ngModel)]="filterSearchTerm" [placeholderText]="'Search for a Filter...'"></pf-input-debounce>
    </p>
    <div *ngIf="!loading && !(userFilterList | userFilterSearch: filter).length">
      <h5>No Filters</h5>
    </div>
    <div *ngIf="!loading" class="list-group user-filter-list">
      <button *ngFor="let filter of userFilterList | userFilterSearch: filter" class="list-group-item list-group-item-action p-2 d-flex" [ngClass]="{'list-group-item-danger': isDeleting(filter.Id), 'disabled': !isDeleting(filter.Id) && (attemptedDelete || deleting)}" (click)="selectFilter(filter)">
        <div class="user-filter">
          <span>{{filter.Name}}</span>
          <small class="filter-desc" [title]="displayFilterDescription(filter.CompositeFilter)">{{displayFilterDescription(filter.CompositeFilter)}}</small>
        </div>
        <button title="Delete" type="button" class="btn btn-secondary btn-sm user-filter-delete-btn" [disabled]="attemptedDelete || deleting" (click)="$event.stopPropagation(); deleteFilter(filter.Id);">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </button>
    </div>
    <pf-async-container [loading]="loading"></pf-async-container>
  </div>

  <div class="footer justify-content-end p-2" *ngIf="attemptedDelete || deleting">
    <div class="delete-filter-btns">
      <button type="button" class="btn btn-secondary" [disabled]="deleting" (click)="$event.stopPropagation(); cancelDelete();">Cancel</button>
      <button type="button" class="btn btn-danger" [disabled]="deleting" (click)="$event.stopPropagation(); confirmDelete()">
        <span *ngIf="deleting"><pf-loading-indicator></pf-loading-indicator> Deleting...</span>
        <span *ngIf="!deleting">Delete</span>
      </button>
    </div>
  </div>
</ng-template>
<div class="btn-group">
  <button title="Filter" (click)="filterButtonClicked()" class="btn btn-secondary">
    <fa-icon icon="sliders-h"></fa-icon>
  </button>
  <div *ngIf="saveFiltersVisible===true">
    <button title="Saved Filters" type="button" id="filter-popover-btn" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            placement="bottom-right"  #p="ngbPopover" popoverTitle="Saved Filters"
            [ngbPopover]="popContent" (hidden)="filter=''"
            (shown)="open.emit()" [autoClose]="'outside'">
    </button>
  </div>
</div>
