.workflow-sidebar{
  padding: 10px 0;
  height: 100%;
  position: relative;
}
.workflow-sidebar > .workflow-header {
overflow: hidden;
}



.workflow-sidebar > .workflow-header .btn{
  margin-left: 5px;
  margin-top: 5px;
  float:right;
  display: inline-block;
}

.workflow-sidebar > .workflow-content{
  overflow: auto;
}

.workflow-sidebar > .workflow-attachments{
  clear:both;
  border-top: 1px solid #d7d7d7;
}

.workflow-attachments > ul {
  list-style-type: none;
}

.form-control-feedback{
  color: #d9534f;
  float: left;
}

/* Had to add this part so that the text area size doesn't push the buttons outside the scope of the header in Firefox */
textarea {
  height: 10em;
}

.icon {
  float: left;
  margin-right: 0.5rem;

  &.word {
    color: #4D82B8FF;
  }
  &.pdf {
    color: #D86344FF;
  }
  &.excel {
    color: #76A797FF;
  }
  &.powerpoint {
    color: #D24826FF;
  }
  &.image {
    color: #D65532FF;
  }
  &.file {
    color: #99A0A4FF;
  }
}
.attachment-anchor {
  cursor: pointer;
}
