<ng-container *ngIf="companyWorkbooksAsync">
  <pf-async-container
    [loading]="companyWorkbooksAsync.loading"
    [loadingError]="companyWorkbooksAsync.loadingError"
    [loadingErrorMessage]="'Error Loading Views'"
    [hideReloadButton]="true">
  </pf-async-container>

  <pf-dashboards-header
    [title]="'All Views'"
    [dashboardViews]="dashboardViews"
    [selectedDashboardView]="(dashboardView$ | async)"
    [hasFavorites]="anyFavorites"
    [tagsEnabled]="false"
    (selectedDashboardViewChanged)="handleSelectedDashboardViewChanged($event)">
  </pf-dashboards-header>

  <ng-container *ngIf="tableauReports.length && (dashboardView$ | async) !== 'Favorites'">
    <ng-container *ngFor="let tableauReport of tableauReports; trackBy: trackByFn">
      <pf-workbook-views-card
        [workbook]="tableauReport"
        (favoriteClicked)="handleFavoriteClicked($event)"
        (viewsOrderUpdated)="handleViewsOrderUpdated($event)">
      </pf-workbook-views-card>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="dataViewReports?.length && (dashboardView$ | async) !== 'Favorites'">
    <pf-data-view-reports
      [dataViewReports]="dataViewReports"
      (favoriteClicked)="handleDataViewReportFavoriteClicked($event)"
      (dataViewReportsOrderUpdated)="handleDataViewReportsOrderUpdated($event)">
    </pf-data-view-reports>
  </ng-container>

  <ng-container *ngIf="tableauReports?.length && (dashboardView$ | async) == 'Favorites'">
    <pf-favorite-views
      [favoriteTableauViews]="favoriteTableauViews"
      [favoriteDataViewReports]="favoriteDataViewReports"
      (favoriteClicked)="handleFavoriteClicked($event)"
      (favoriteDataViewReportClicked)="handleDataViewReportFavoriteClicked($event)">
    </pf-favorite-views>
  </ng-container>

</ng-container>
