<ng-container *ngIf="companyWorkbooksAsync">
  <pf-async-container
    [loading]="companyWorkbooksAsync.loading"
    [loadingError]="companyWorkbooksAsync.loadingError"
    [loadingErrorMessage]="'Error Loading Views'"
    [hideReloadButton]="true">
  </pf-async-container>

  <pf-dashboards-header
    [title]="'All Views'"
    [dashboardViews]="dashboardViews"
    [selectedDashboardView]="(dashboardView$ | async)"
    [hasFavorites]="anyFavorites"
    [tagsEnabled]="false"
    (selectedDashboardViewChanged)="handleSelectedDashboardViewChanged($event)">
  </pf-dashboards-header>

  <ng-container *ngIf="companyWorkbooksAsync?.obj?.length && (dashboardView$ | async) !== 'Favorites'">
    <ng-container *ngFor="let workbook of companyWorkbooksAsync.obj; trackBy: trackByFn">
      <pf-workbook-views-card
        [workbook]="workbook"
        (favoriteClicked)="handleFavoriteClicked($event)"
        (viewsOrderUpdated)="handleViewsOrderUpdated($event)">
      </pf-workbook-views-card>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="companyWorkbooksAsync?.obj?.length && (dashboardView$ | async) == 'Favorites'">
    <pf-favorite-views
      [favoriteViews]="favoriteViews"
      (favoriteClicked)="handleFavoriteClicked($event)">
    </pf-favorite-views>
  </ng-container>

</ng-container>
