.button-container {
  padding-top: 1rem;
}
.map-container {
  height: min-content;
}
.filters-container {
  width: 300px;
  padding-right: .85rem;
}
.btn-primary {
  background-color: #339900;
  border-color: #339900;
}
.btn-secondary {
  background-color: #DDDDDD;
  border-color: #666666;
  color: #000000;
}
