<div class="d-flex h-100 w-100">
  <div class="h-100 w-25">
    <pf-peer-data-cut-filters></pf-peer-data-cut-filters>
  </div>
  <div class="h-100 w-75 d-flex flex-column">
    <div class="map-container flex-grow-1">
      <pf-peer-data-cut-map></pf-peer-data-cut-map>
    </div>
    <div class="button-container d-flex justify-content-end">
      <div class="buttons">
        <button type="button" class="btn btn-primary" (click)="add()">Add</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
