<div class="d-flex h-100 w-100">
  <div class="h-100 filters-container">
    <pf-peer-data-cut-filters></pf-peer-data-cut-filters>
    <div>{{getMapStats()}}</div>
  </div>
  <div class="flex-grow-1 d-flex flex-column">
    <div class="map-container flex-grow-1">
      <pf-peer-data-cut-map></pf-peer-data-cut-map>
    </div>
    <div class="button-container d-flex justify-content-end">
      <div class="buttons">
        <button type="button" class="btn btn-secondary">Cancel</button>
        <button type="button" class="btn btn-primary">Add Cut</button>
      </div>
    </div>
  </div>
</div>
