@import 'app-colors';

.button-container {
  padding: .85rem .5rem 0 .5rem;
}

.map-container {
  height: min-content;
}

.filters-container {
  width: 275px;
}

.btn-primary {
  background-color: $legacy-green;
  border-color: $legacy-green;
}

.btn-secondary {
  background-color: #DDDDDD;
  border-color: #666666;
  color: #000000;
}
