<pf-page-with-title-bar class="wrapper" [absoluteUrl]="'/client/dashboard'">
  <ng-container page-title>
      {{(company$ | async)?.CompanyNameShort}} Jobs
  </ng-container>

  <ng-container page-actions>
    <pf-input-debounce
      [placeholderText]="'Search for a Job Title/Code...'"
      [hideClearBtn]="false"
      [minWidth]="200"
    ></pf-input-debounce>
    <kendo-dropdownlist
      [defaultItem]="'Select a Pay Market'"
      [data]="testPayMarketData"
    >
    </kendo-dropdownlist>
    <button class="btn btn-primary">
      New Job
    </button>

    <button type="button"
            title="Export"
            id="export-popover-btn"
            class="btn btn-secondary"
            placement="bottom-right"
            popoverTitle="Choose Content to Export"
            >
      <fa-icon icon="download"></fa-icon>
      <!--
      [autoClose]="'outside'"
      #p="ngbPopover"
            [ngbPopover]="popContent"
            (shown)="open.emit(); handlePopoverShown()"
      -->
    </button>
    <button title="Choose Columns" type="button" id="column-popover-btn" class="btn btn-secondary"
            placement="bottom-right" popoverTitle="Choose Columns"
            >
      <fa-icon icon="table"></fa-icon>
    </button>
    <!--
    #p="ngbPopover"
    [ngbPopover]="popContent" (hidden)="filter=''" [autoClose]="'outside'"
    -->
    <div class="btn-group">
      <button title="Filter" class="btn btn-secondary">
        <fa-icon icon="sliders-h"></fa-icon>
      </button>
      <!--
      (click)="filterButtonClicked()"
      -->
      <button title="Saved Filters" type="button" id="filter-popover-btn" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              placement="bottom-right"  popoverTitle="Saved Filters"
      >
      </button>
      <!--
      #p="ngbPopover"
      [ngbPopover]="popContent" (hidden)="filter=''"
              (shown)="open.emit()" [autoClose]="'outside'"
      -->
    </div>
  </ng-container>

  <ng-container page-content>
    Jobs grid goes here
  </ng-container>
</pf-page-with-title-bar>
