<pf-page-with-title-bar>
  <ng-container page-title>
    {{pageTitle}}
  </ng-container>

  <ng-container page-content>
    <pf-async-container [loading]="isLoadingData$ | async"
                        [loadingError]="(hasLoadingError$ | async) || deleteFailed "
                        [loadingErrorMessage]="loadingErrorMessage">
      <pf-input-debounce [delay]="400"
                         [(ngModel)]="tbxSearch"
                         (valueChanged)="handleSearchChanged()"
                         (clearClicked)="tbxSearch = ''">
      </pf-input-debounce>


      <table class="table table-hover">
        <thead>
          <tr>
            <th *ngIf="isUserGroupOne()">Survey</th>
            <th>ID</th>
            <th>Code</th>
            <th># Jobs</th>
            <th># Data Cuts</th>
            <th># Participants</th>
            <th># Published Matches</th>
            <th># Project Matches</th>
            <th>Map Companies</th>
            <th>Notes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of surveys">
            <td *ngIf="isUserGroupOne()">{{item.CompanyName}}</td>
            <td>{{item.SurveyId}}</td>
            <td>{{item.SurveyCode}}</td>
            <td>{{item.JobCount}}</td>
            <td>{{item.CutCount}}</td>
            <td>{{item.ParticipantCount}}</td>
            <td>{{item.PublishMatchCount}}</td>
            <td>{{item.ProjectMatchCount}}</td>
            <td (click)="mapCompaniesClick(item.SurveyId)"><u>{{item.CompanyCount}}</u></td>
            <td (click)="openNotesModal($event, item)"><u>{{item.NotesCount}}</u></td>
            <td>
              <button type="button"
                      class="btn btn-info btn-sm"
                      (click)="copySurvey(item.SurveyId, item.CompanyName)"
                      [disabled]="item.CompanyHasSurveyUdfs"
                      [title]="(item.CompanyHasSurveyUdfs) ? 'Copy functionality is not available for this survey as it contains company specific custom fields' : ''">
                Copy Survey
              </button>
              &nbsp;
              <ng-container *ngIf="isUserGroupOne()">
                <button type="button"
                        class="btn btn-danger btn-sm"
                        *ngIf="(item.PublishMatchCount > 0 || item.ProjectMatchCount > 0) &&  item.CompanyCount <= 1"
                        (click)="deletePublishedMatches(item)">
                  Delete Published Matches
                </button>
                <button type="button"
                        class="btn btn-danger btn-sm"
                        *ngIf="item.PublishMatchCount === 0 && item.ProjectMatchCount === 0 && (item.JobCount > 0 || item.CutCount > 0)"
                        (click)="deleteSurvey(item.SurveyId, enumSurveyDelete.SURVEY_DATA)">
                  Delete Data Cuts
                </button>
                &nbsp;
                <button type="button"
                        class="btn btn-danger btn-sm"
                        *ngIf="item.PublishMatchCount === 0 && item.ProjectMatchCount === 0 && item.JobCount === 0 && item.CutCount === 0"
                        (click)="deleteSurvey(item.SurveyId, enumSurveyDelete.SURVEY)">
                  Delete Survey
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      <button *ngIf="isUserGroupOne()"
              type="button"
              class="btn btn-sm"
              (click)="addSurvey()">Add Survey</button>
      &nbsp;
      <button type="button"
              class="btn btn-sm"
              (click)="backToSurveyYear()">Back to Survey Years</button>

    </pf-async-container>
  </ng-container>
</pf-page-with-title-bar>
<pf-add-survey-modal [surveyYearId]="surveyYearId">
</pf-add-survey-modal>
<pf-map-company-modal [surveyId]="selectedSurveyId">
</pf-map-company-modal>
<pf-copy-survey-modal [surveyId]="selectedSurveyId"
                      [SelectedSurveyCompany]="selectedCompany">
</pf-copy-survey-modal>
<pf-delete-confirmation-modal [publishedMatchCount]="selectedItemMatchCount"
                              [surveyId]="selectedSurveyId"></pf-delete-confirmation-modal>
<pf-survey-notes-modal></pf-survey-notes-modal>                              