@import 'legacy/legacy-variables';
@import '../../libs/features/search/styles/shared-variables';

:host {
  @extend %position-below-results-header;
  width: 27.5%;
  right: 0;
  margin-bottom: 30px;
}

.jobs-to-price-container{
  position: absolute;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
}

.no-results-message-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: $legacy-bold-font-weight;
}

.loading-more-row{
  height: 50px;
}

:host ::ng-deep .loading-blanket {
  position: fixed !important;
  left: 244px !important;
  bottom: 27px !important;
  top: $results-header-height !important;
}
