<div class="d-flex justify-content-center h-100 w-100">
  <div class="d-flex h-75 w-75">
    <div class="h-100 w-25">
      <pf-peer-data-cut-filters></pf-peer-data-cut-filters>
    </div>
    <div class="h-100 w-75 d-flex flex-column">
      <div class="h-75">
        <pf-peer-data-cut-map></pf-peer-data-cut-map>
      </div>
      <div class="h-25 d-flex align-items-end justify-content-end">
        <button type="button" class="btn btn-secondary">Cancel</button>
        <button type="button" class="btn btn-primary">Add Cut</button>
      </div>
    </div>
  </div>
</div>

