<div class="content p-4" *ngIf="!formSubmitSuccess && !submissionError">
  <h1 class="mb-5">Reset Password</h1>
  <p>Please enter your email address and we will send you a password reset link.</p>
  <form [formGroup]="emailForm" #formDir="ngForm">
    <div class="reset-box ml-auto mr-auto mt-4 mb-3">
      <label id="lblEmail" class="label label-default float-left font-weight-bold" for="txtEmail">EMAIL ADDRESS</label>
      <input id="txtEmail" type="email" class="form-control" placeholder="johndoe@notmail.com" name="email"
             formControlName="email">
      <div *ngIf="attemptedFormSubmit && email.invalid"
           class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Email address is required.
        </div>
        <div *ngIf="email.errors.pattern">
          Please enter a valid email address.
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary"
            [disabled]="(emailForm.invalid && attemptedFormSubmit) || formSubmitting || !settingsSuccess"
            [class.disabled]="(emailForm.invalid && attemptedFormSubmit) || formSubmitting" (click)="submit()">
      <span *ngIf="!formSubmitting">RESET PASSWORD</span>
      <span *ngIf="formSubmitting">PROCESSING...</span>
    </button>
  </form>
</div>
<div class="content p-4" *ngIf="formSubmitSuccess">
  <h1>Password Reset Sent!</h1>
  <p class="mt-4">We've sent you an email containing a link that will allow you to reset your password for the next 24
    hours. <br/>
    Please check your spam folder if the email doesn't appear within a few minutes.</p>
  <a href="/" class="btn btn-primary mt-3">
    Return to Login
  </a>
</div>
<div class="content p-4" *ngIf="submissionError">
  <p class="text-danger">Sorry we couldn't process this request, please contact your system administrator.</p>
</div>
