@import 'colors';

.content {
  text-align: center;
  height: 300px;
}

h1 {
  color: $auth-header-text-color;
}

.reset-box {
  width: 300px;
}

.btn {
  background-color: #0883BE;
  border: 0;
}

.disabled {
  cursor: not-allowed;
}
