@import 'colors';

.card-header{
  height: 38px;
  min-height: 38px;
}

.card-body{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: .25rem;
}

.search-box{
  width: 50%;
}

.search-box:first-child{
  margin-right:15px;
}

.mapping-info-container{
  height: calc(100vh - 385px);

  .card-header {
    display: flex;
    padding: 0.5rem .5rem 0.5rem 1.25rem;
  }
}

.mapping-info-container .card-header{
  display: flex;
  padding: 0.5rem .5rem 0.5rem 1.25rem;
}

.mapping-info-container .card-header .btn{
  margin-left: 0.5rem;
}

.remove-scroll{
  overflow: hidden;
}

.company-job-mapping-container {
  flex: 0 0 50%;
  position: relative;

  & > * {
    height: 100%;
  }

  .company-job-mapping-add {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;

    .mapping-results-container {
      margin-top: 0.5rem;
      position: relative;
      height: 100%;
      overflow-y: auto;
    }
  }
}

.close-btn{
  cursor: pointer;
  padding: .25rem 0.75rem;
  margin-left: 0.5rem;
  align-self: center;
}

.close-btn:hover{
  background-color: $selection-hover-background;
}

.delete-mapping-button {
  float: right;
  margin: 0 1rem 0 -4em;
  position: relative;
}

.carousel-controls {
  width: 100%;
  align-items: center;
  padding: .5rem 1rem .5rem 1rem;

  .control {
    color: $inactive-button-color;
    cursor: pointer;
    &:hover {
      color: $body-background-color;
    }
  }

  .control-left, .control-right {
    &:hover {
      color: $body-background-color;
    }
  }

  .indicators > .active {
    color: $body-background-color;
  }
}

:host ::ng-deep ngb-carousel {
  outline: none;
  display: flex !important;
  flex-direction: column;
  height: 100%;

  .carousel-inner {
    display: flex;
  }

  .carousel-item.active {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-control-prev, .carousel-control-next, .carousel-indicators {
    display: none;
  }
}
