<div class="mapping-info-container card h-100">
  <div class="card-header">
    <div class="align-self-center mr-auto">
      Job Information
    </div>
    <ng-container *ngIf="selectedExchangeJobMapping.Mapped">
      <button id="add-mapping-button"
              class="btn btn-sm"
              [disabled]="selectedExchangeJobMapping.CompanyJobMappings.length > 9"
              [ngClass]="{ 'btn-secondary': !addingMapping, 'btn-warning': addingMapping }"
              (click)="toggleAdding()">
        {{ addingMapping ? 'Cancel' : 'Add Association' }}
      </button>
    </ng-container>

    <div (click)="close()"
         class="close-btn">
      <i class="far fa-times"></i>
    </div>
  </div>
  <div class="card-body d-flex">

    <pf-job-info-container [job]="exchangeJobInfo">
    </pf-job-info-container>

    <div class="vertical-separator"></div>

    <pf-async-container class="company-job-mapping-container"
                        [loading]="(applyingMapping$ | async) || (deletingMapping$ | async)">

      <div class="company-job-mapping d-flex flex-column justify-content-between"
           *ngIf="selectedExchangeJobMapping.Mapped && !addingMapping">
        <ngb-carousel [activeId]="activeExchangeJobToCompanyJobId$ | async"
                      [interval]="0"
                      (slide)="onCarouselSlideChange($event)">
          <ng-container *ngFor="let mapping of selectedCompanyJobInfoModels; trackBy: trackById">
            <ng-template ngbSlide
                         [id]="mapping.JobId">
              <button class="delete-mapping-button btn btn-sm btn-danger"
                      [disabled]="(deletingMapping$ | async) || addingMapping"
                      (click)="handleDeleteClick()">
                <i class="fas fa-trash-alt fa-lg"></i>
              </button>
              <pf-job-info-container [job]="mapping"
                                     [showJobCode]="true">
              </pf-job-info-container>
            </ng-template>
          </ng-container>
        </ngb-carousel>
        <div *ngIf="selectedCompanyJobInfoModels.length > 1"
             class="carousel-controls d-flex flex-row justify-content-between">
          <div class="control control-left"
               (click)="handleControlLeftClick()">
            <i class="fas fa-chevron-circle-left fa-2x"></i>
          </div>
          <div class="indicators flex-grow-1 space-out-children text-center">
            <span class="control"
                  [ngClass]="{'active' : (activeExchangeJobToCompanyJobId$ | async) ===  mapping.JobId}"
                  *ngFor="let mapping of selectedCompanyJobInfoModels"
                  (click)="handleIndicatorClick(mapping.JobId)">
              <i class="fas fa-circle"></i>
            </span>
          </div>
          <div class="control control-right"
               (click)="handleControlRightClick()">
            <i class="fas fa-chevron-circle-right fa-2x"></i>
          </div>
        </div>
      </div>

      <div class="company-job-mapping-add"
           *ngIf="!selectedExchangeJobMapping.Mapped || addingMapping">
        <div style="display:flex;">
          <pf-input-debounce [placeholderText]="'Search for a Job Code or Title...'"
                             [(ngModel)]="companyJobQuery"
                             [disabled]="applyingMapping$ | async"
                             [hideClearBtn]="true"
                             (valueChanged)="handleSearchValueChanged()"
                             class="search-box">
          </pf-input-debounce>
          <pf-input-debounce [placeholderText]="'Search in the Job Description...'"
                             [(ngModel)]="companyDescriptionQuery"
                             [disabled]="applyingMapping$ | async"
                             [hideClearBtn]="true"
                             (valueChanged)="handleSearchValueChanged()"
                             class="search-box">
          </pf-input-debounce>
        </div>

        <div class="mapping-results-container"
             [class.remove-scroll]="(companyJobsToMapToLoading$ | async) || (loadingExchangeJobMappings$ | async)">
          <pf-async-container [loading]="(companyJobsToMapToLoading$ | async) || (loadingExchangeJobMappings$ | async)"
                              [loadingError]="companyJobsToMapToLoadingError$ | async"
                              [hideReloadButton]="true">

            <ng-container *ngIf="(companyJobsToMapTo$ | async).length">

              <pf-company-job-map-result *ngFor="let companyJobToMapTo of companyJobsToMapTo$ | async"
                                         [companyJobToMapTo]=companyJobToMapTo
                                         [applyingMapping]="applyingMapping$ | async"
                                         [applyingMappingError]="applyingMappingError$ | async"
                                         [selectedMapping]="(selectedMappingCompanyJobId$ | async) == companyJobToMapTo.CompanyJobId"
                                         (applyMapping)="handleApplyMapping($event)">
              </pf-company-job-map-result>

            </ng-container>

            <ng-container *ngIf="!(companyJobsToMapTo$ | async).length && !(companyJobsToMapToLoading$ | async)">

              <div class="d-flex flex-column mt-5 align-items-center">
                <h6 class="mb-1">No Results for {{ debouncedQueryValue || selectedExchangeJobMapping.ExchangeJobTitle
                  }}</h6>
                <h5><small class="text-muted">Please change your filter criteria to search again.</small></h5>
              </div>

            </ng-container>

          </pf-async-container>

        </div>

      </div>

    </pf-async-container>

  </div>

</div>

<pf-delete-mapping-confirmation-modal [selectedExchangeJobTitle]="selectedExchangeJobMapping.ExchangeJobTitle"
                                      [currentCompanyJob]="selectedCompanyJobMapping">
</pf-delete-mapping-confirmation-modal>