<pf-data-grid
  [pageViewId]="pageViewId"
  [reorderable]="false"
  [title]="(project$ | async)?.Name || ((project$ | async)?.CreateDate | date : 'MM/dd/yy')"
  [enableSelection]="true"
  [inboundFilters]="filter"
  [columnTemplates]="colTemplates"
  [groupedColumnHeaderTemplates]="groupedColumnHeaderTemplates"
  [selectionField]="'UserJobListTemp_ID'"
  [gridConfig]="gridConfig"
  [defaultSort]="defaultSort"
  [navigationURL] = "'/client/dashboard'"
  [aboveGridTemplate]="aboveGridTemplate"
  [gridActionsTemplate]="gridActions"
  [pageable]="!gridConfig.EnableInfiniteScroll"
  [actionBarConfig]="actionBarConfig"
  [hideKendoGrid] = "viewingJobSummary"
  [gridReplacementTemplate] = "jobSummary"
  [displaySelectAllWarning] = "!viewingJobSummary"
  [noRecordsFound]="'No jobs available in this project.'">
</pf-data-grid>

<ng-template #aboveGridTemplate>
  <div><label [innerText]="(project$ | async)?.Rate"></label> data effective <label [innerText]="(project$ | async)?.EffectiveDate | date : 'longDate'"></label> </div>
  <div class="d-flex flex-column content-wrapper pb-2">
    <div class=" d-flex align-items-center">
    <div class="card pf-card flex-fill m-2">
      <div class="card-body">
      Add Jobs
      </div>
    </div>
    <div class="card pf-card flex-fill m-2">
      <div class="card-body">
      Select Market
      </div>
    </div>
    <div class="card pf-card flex-fill m-2">
      <div class="card-body">
      Analyze
        <div>
          <button class="btn btn-secondary"
                  [disabled]="!(projectJobGrid$ | async).totalCount || (projectJobGrid$ | async)?.totalCount === 0 || viewingJobSummary"
                  [attr.data-qa-id]="'btn-job-summary'"
                  (click)="jobSummaryClickHandler()">Job Summary</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</ng-template>

<ng-template #jobTitle let-dataRow="dataRow">
  <div class="d-flex justify-content-between">
    <div>
      <b>
        {{dataRow['vw_ProjectJobPayMarketMetadata_Job_Title']}}
      </b>
    </div>
    <div>
      <i> {{dataRow['vw_ProjectJobPayMarketMetadata_Paymarket']}}</i>
    </div>
  </div>
</ng-template>

<ng-template #gridGlobalActions>
  <button #exportDownloadBtn
          (click)="openExportModal(exportDownloadBtn)"
          class="btn btn-secondary"
          [disabled]="viewingJobSummary || (projectJobGrid$ | async)?.data?.data.length === 0"
  >
    <fa-icon
      icon="download" title="Export"
      [attr.data-qa-id]="'btn-pricing-project-export'"
      [fixedWidth]="true"
    >
    </fa-icon>
  </button>
</ng-template>

<ng-template #gridActions>
  <button
    [disabled]="!selectedRowIds.length"
    [attr.data-qa-id]="'btn-project-page-clear-selections'"
    type="button"
    (click)="clearSelections()"
    [title]="!selectedRowIds.length ? 'No Jobs Selected' : ''"
    class="btn btn-secondary pf-btn-borderless"
  >
    <fa-icon [icon]="['far', 'times']" ></fa-icon>
    Clear Selections
  </button>
  <!-- TODO: Permissions on this separator bar should clear selections be the only button here -->
  <div class="vertical-separator my-2"></div>
  <button
    [pfSecuredResource]="permissions.PRICING_PROJECTS_DATA_CUTS"
    [disabled]="!selectedRowIds.length"
    [attr.data-qa-id]="'btn-project-page-multi-match'"
    type="button"
    (click)="openMultiMatch()"
    [title]="!selectedRowIds.length ? 'No Jobs Selected' : ''"
    class="btn btn-secondary pf-btn-borderless"
  >
    <fa-icon [icon]="['far', 'equals']" ></fa-icon>
    Match
  </button>
</ng-template>

<pf-project-export-manager
  [modalTitle]="'Download Data Export'"
  [openModal]="exportModalIsOpen"
  [modalSize]="'md'"
  (saveSuccess)="closeExportModal()"
  (cancelChanges)="closeExportModal()"
>
</pf-project-export-manager>

<pf-file-download-security-warning-modal
  #fileDownloadSecurityWarningModal
  (securityWarningConfirmed)="exportModalIsOpen = true;"
>
</pf-file-download-security-warning-modal>

<pf-multi-match-component
  [display]="'modal'"
  [featureImplementation]="'Pricing Projects'"
  [customSaveLogic]="false"
  [modalTitle]="'Match Jobs'"
></pf-multi-match-component>

<ng-template #compColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <span [innerHTML]="dataRow[fieldName] | comp: (project$ | async)?.Rate | emptyPlaceholder"></span>
</ng-template>

<ng-template #percentageColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <span [innerHTML]="dataRow[fieldName] | comp: (project$ | async)?.Rate : 'full' | emptyPlaceholder"></span>
</ng-template>

<ng-template #companyColumn let-column="column">
  <div pfEllipsisActive class="ellipsis-text">{{column.title | companyNameShort : (userContext$ | async)}}</div>
</ng-template>

<ng-template #jobSummary>
  <ng-container *ngIf="viewingJobSummary">
    <pf-job-summary
      [projectRate]="(project$ | async)?.Rate"
      [baseMrp] = "(project$ | async)?.BaseReferencePoint"
      [tccMrp] = "(project$ | async)?.TCCReferencePoint"
      [(showJobSummary)]="viewingJobSummary"
      [projectId]="projectId"
      [projectJobIds]="selectedRowIds"
      [defaultPaymarket] = "(project$ | async)?.PayMarketProjectMap?.PayMarket?.Name">
    </pf-job-summary>
  </ng-container>
</ng-template>
