<pf-data-grid
  [pageViewId]="pageViewId"
  [reorderable]="false"
  [title]="projectContext?.Project?.Name || (projectContext?.Project?.CreateDate | date : 'MM/dd/yy')"
  [enableSelection]="true"
  [inboundFilters]="filter"
  [columnTemplates]="columnDataTemplates"
  [columnHeaderTemplates]="columnHeaderTemplates"
  [groupedColumnHeaderTemplates]="groupedColumnHeaderTemplates"
  [selectionField]="'UserJobListTemp_ID'"
  [gridConfig]="gridConfig"
  [defaultSort]="defaultSort"
  [navigationURL] = "'/client/dashboard'"
  [aboveGridTemplate]="aboveGridTemplate"
  [gridActionsTemplate]="gridActions"
  [pageable]="!gridConfig.EnableInfiniteScroll"
  [actionBarConfig]="actionBarConfig"
  [hideKendoGrid] = "viewingJobSummary"
  [gridReplacementTemplate] = "jobSummary"
  [displaySelectAllWarning] = "!viewingJobSummary"
  [noRecordsFound]="'No jobs available in this project.'"
  [viewConfigurationStrategy]="projectViewConfigurationStrategy">
</pf-data-grid>

<ng-template #aboveGridTemplate>
  <div><label [innerText]="projectContext?.Project?.Rate"></label> data effective <label [innerText]="projectContext?.Project?.EffectiveDate | date : 'longDate'"></label> </div>
  <div class="d-flex flex-column content-wrapper pb-2">
    <div class=" d-flex align-items-center">
    <div class="card pf-card flex-fill m-5 btn text-left">
      <div class="card-body" (click)="addJobClickHandler()">
        <b>Add Jobs</b>
        <ul class="nav nav-pills flex-column">
          <li *ngFor="let job of projectContext?.Jobs">{{job.JobTitle}}</li>
        </ul>
      </div>
    </div>
    <div class="card pf-card flex-fill m-5">
      <div class="card-body">
      Select Market
      </div>
    </div>
    <div class="card pf-card flex-fill m-5">
      <div class="card-body">
      Analyze
        <div>
          <button class="btn btn-secondary"
                  [disabled]="!(projectJobGrid$ | async).totalCount || (projectJobGrid$ | async)?.totalCount === 0 || viewingJobSummary"
                  [attr.data-qa-id]="'btn-job-summary'"
                  (click)="jobSummaryClickHandler()">Job Summary</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</ng-template>

<ng-template #jobTitle let-dataRow="dataRow">
  <div class="d-flex justify-content-between">
    <div>
      <b>
        {{dataRow['vw_ProjectJobPayMarketMetadata_Job_Title']}}
      </b>
    </div>
    <div>
      <div>
        <label><i> {{dataRow['vw_ProjectJobPayMarketMetadata_PayMarket']}}</i></label>
      </div>
      <div [pfSecuredResource]="permissions.PRICING_PROJECTS_DATA_CUTS"
           *ngIf="!dataRow['vw_ProjectJobPayMarketMetadata_IsPayfactorsJob']">
        <span (click)="openAddDataModal($event, dataRow)" class="pf-link float-right"><b>Add Data</b></span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #gridGlobalActions>
  <button #exportDownloadBtn
          (click)="openExportModal(exportDownloadBtn)"
          class="btn btn-secondary"
          [disabled]="viewingJobSummary || (projectJobGrid$ | async)?.data?.data.length === 0"
  >
    <fa-icon
      icon="download" title="Export"
      [attr.data-qa-id]="'btn-pricing-project-export'"
      [fixedWidth]="true"
    >
    </fa-icon>
  </button>
</ng-template>

<ng-template #gridActions>
  <button
    [disabled]="!selectedRowIds.length"
    [attr.data-qa-id]="'btn-project-page-clear-selections'"
    type="button"
    (click)="clearSelections()"
    [title]="!selectedRowIds.length ? 'No Jobs Selected' : ''"
    class="btn btn-secondary pf-btn-borderless"
  >
    <fa-icon [icon]="['far', 'times']" ></fa-icon>
    Clear Selections
  </button>
  <!-- TODO: Permissions on this separator bar should clear selections be the only button here -->
  <div class="vertical-separator my-2"></div>
  <button
    [pfSecuredResource]="permissions.PRICING_PROJECTS_DATA_CUTS"
    [disabled]="!selectedRowIds.length"
    [attr.data-qa-id]="'btn-project-page-multi-match'"
    type="button"
    (click)="openMultiMatch()"
    [title]="!selectedRowIds.length ? 'No Jobs Selected' : ''"
    class="btn btn-secondary pf-btn-borderless"
  >
    <fa-icon [icon]="['far', 'equals']" ></fa-icon>
    Match
  </button>
</ng-template>

<pf-project-export-manager
  [modalTitle]="'Download Data Export'"
  [openModal]="exportModalIsOpen"
  [modalSize]="'md'"
  [numRowsToExport]="(totalDataRows$ | async)"
  (saveSuccess)="closeExportModal()"
  (cancelChanges)="closeExportModal()"
>
</pf-project-export-manager>

<pf-file-download-security-warning-modal
  #fileDownloadSecurityWarningModal
  (securityWarningConfirmed)="exportModalIsOpen = true;"
>
</pf-file-download-security-warning-modal>

<pf-multi-match-component
  [display]="'modal'"
  [featureImplementation]="'Pricing Projects'"
  [customSaveLogic]="false"
  [modalTitle]="'Match Jobs'"
></pf-multi-match-component>

<ng-template #compColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <span [innerHTML]="dataRow[fieldName] | comp: projectContext?.Project?.Rate | emptyPlaceholder"></span>
</ng-template>

<ng-template #percentageColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <span [innerHTML]="dataRow[fieldName] | comp: projectContext?.Project?.Rate : 'full' | emptyPlaceholder"></span>
</ng-template>

<ng-template #companyColumn let-column="column">
  <div pfEllipsisActive class="ellipsis-text">{{column.title | companyNameShort : (userContext$ | async)}}</div>
</ng-template>

<ng-template #jobSummary>
  <ng-container *ngIf="viewingJobSummary">
    <pf-job-summary
      [projectRate]="projectContext?.Project?.Rate"
      [baseMrp] = "projectContext?.Project?.BaseReferencePoint"
      [tccMrp] = "projectContext?.Project?.TCCReferencePoint"
      [(showJobSummary)]="viewingJobSummary"
      [projectId]="projectId"
      [projectJobIds]="selectedRowIds"
      [defaultPaymarket] = "projectContext?.ProjectPayMarket?.Name">
    </pf-job-summary>
  </ng-container>
</ng-template>

<pf-add-data [display]="'modal'">
</pf-add-data>

<!--TODO: update viewingJobSummary/disabled logic when more reports/pages get added -->
<ng-template #customColumnChooser>
  <button
    #columnChooserButton
    title="Choose Columns"
    type="button"
    class="btn btn-secondary"
    (click)="handleColumnChooserClicked(columnChooserButton)"
    [disabled]="viewingJobSummary">
    <fa-icon icon="table"></fa-icon>
  </button>
</ng-template>

<ng-template #mrpColumnHeader let-column="column">
  <div pfEllipsisActive class="ellipsis-text k-column-title">
    <!--
      This string split logic is to get the category off of the field source name
      column.Field = vw_ProjectJobMetaData_BaseMRP (...TCCMRP, BonusMRP, etc.)
      From that we need the 'Base' part of that string to get the projectContext.Project[stringSplit + 'ReferencePoint']
    -->
    ({{projectContext?.Project[column.field.split('_')[2].split('MRP')[0] + 'ReferencePoint'] || 50 | ordinalNumber}}) MRP
  </div>
</ng-template>

<pf-project-template-management
  [featureImplementation]="projectFieldFeatureImplementations.PRICING_PROJECTS"
></pf-project-template-management>

<pf-add-jobs-page [display]="'modal'" [legacyImplementation]="false" >

</pf-add-jobs-page>
