.div-container {
  box-sizing: border-box;
  width: 45%;
  min-height: 511px;
  border: 1px solid #E9ECEF;
  border-radius: 4px;
}

.form-container {
  height: 392px;
}

.dropdowns {
  width: 380px;
}

.labels {
  width: 150px;
}

.form-footer {
  margin-top: 26px;
  padding-right: 12px;
}

