<div class="form-group" [formGroup]="communityPollForm"> 
  <div class="pb-3 w-75">
    <select required formControlName="topic" class="form-control"
    [ngClass]="{ 'is-invalid': !topic.valid && topic.touched }">
    <option value=null disabled selected>Select a Topic to start your poll...</option>
    <option *ngFor="let communityTopic of communityTopics" 
      [ngValue]="communityTopic.Id">
      {{communityTopic.TopicName}}
    </option>
    </select>
    <div *ngIf="!topic.valid && topic.touched" class="text-danger">Topic is required</div>
  </div>
    <pf-community-text-area class="pt-5"
      [parentForm]="communityPollForm"
      [maxTextLength]="maxTextLength"
      [warningStartNumber]="200"
      [dangerStartNumber]="225"
      [pfFocus]="true"
      textPlaceholder="Ask a question...">
    </pf-community-text-area>
    
    <div class="pr-5">
      <pf-community-poll-choices
        *ngFor="let item of choices.controls; let i=index; let last = last"
        [index]="i"
        [item]="item"
        [isLastChoice]="last"
        (removed)="choices.removeAt($event)"
        (added)="addResponseOption()"
        class="pr-0">
      </pf-community-poll-choices>
    </div>

    <div class="pl-4 row">
      <label class="col-form-label" for="duration">Poll Length:</label>
      <button #duration type="button" class="btn btn-link" (click)="configurePollLength()">{{pollLengthText}}</button>   
      
      <div *ngIf="displayPollLengthChoices">
        <label class="col-form-label" for="days">Days </label>
        <select #days  class="poll-length-dropdown ml-2 mr-4"
          formControlName="days"
          (change)="onDurationDaysChange()">
          <option *ngFor="let day of pollLengthDays" [ngValue]="day">{{day}}</option>
        </select>
        <label class="col-form-label" for="hours">Hours </label>
        <select #hours class="poll-length-dropdown ml-2"
          formControlName="hours">
          <option *ngFor="let hour of pollLengthHours" [ngValue]="hour" [disabled]="hour===0 && isPollDurationDaysZero()">{{hour}}</option>
        </select>
      </div> 
    </div>

  </div>