@import 'colors';
@import 'styles';

.poll-length-dropdown 
{
    width: 38px;
    height: 25px;
    border: solid 1px rgba(110, 170, 200, .85);
}

.btn-link
{
    color:  $community-category-hover-color
}

:host ::ng-deep div.text-danger {
    font-size: 85%;
}

.is-invalid {
    background-image: none;
}
  