<div class="d-flex flex-row">
  <div class="p-2">
    <div class="image-container">
      <span *ngIf="(gettingMarketingImage$ | async);else content">
          <pf-loading-indicator></pf-loading-indicator> Loading...
      </span>
      <ng-template #content>
          <a *ngIf="redirectUrl" href="{{redirectUrl}}">
            <img [src]="imageLocation" class="image-container" />
          </a>
          <img *ngIf="!redirectUrl" [src]="imageLocation" class="image-container">
      </ng-template>
    </div>
  </div>
  <div class="p-2">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-column p-2 justify-content-center">
          <div class="error-spacer">
            <p id="errormessage" *ngIf="loginError" class="alert-danger error-container text-center p-3 position-absolute">
                The email and password combination that you've entered is incorrect.
            </p>
            <p id="passwordExpiredMessage" *ngIf="passwordExpired$ | async" class="alert-danger error-container text-center p-3 position-absolute">
              The email and password combination has expired, please select Reset Password below.
            </p>
          </div>
          <br *ngIf="passwordExpired$ | async" /> 
          <label class="text-uppercase font-weight-bold" for="email">
                Email Address
          </label>
          <div class="form-group pb-3">
            <input id="Email"
                   name="email"
                   type="email"
                   class="form-control login-input mb-1"
                   formControlName="email" autofocus>
          </div>
          <label class="text-uppercase font-weight-bold" for="password">
            Password
          </label>
          <div class="form-group pb-4">
            <input id="password"
                   name="password"
                   type="password"
                   class="form-control login-input"
                   formControlName="password">
          </div>
          <div class="pb-1 d-flex align-self-center">
            <button id="Login" type="submit" class="btn login-button" [disabled]="loggingIn || loginSuccess || !loginSettingsSuccess"
                    [class.disabled]="loggingIn || loginSuccess">
              <span *ngIf="!loginSuccess">LOG IN</span>
              <span *ngIf="loginSuccess">LOGGING IN...</span>
            </button>
          </div>
          <div class="p-0 d-flex align-self-center">
            <a href="forgot-password">Reset Password?</a>
          </div>
        </div>
    </form>
    <div *ngIf="allowSelfRegistration" class="mt-5 mb-2 d-flex flex-column justify-content-center">
      <button id="au-btn-registration" class="btn align-self-center" (click)="navigateToRegistration()">
        Register <fa-icon class="arrow-right" [icon]="['fas', 'arrow-right']"></fa-icon>
      </button>
    </div>
  </div>
</div>
