.image-container {
  width: 478px;
  height: 392px;
  border: 0px;
  text-align: center;
}

.login-button {
  background-color: #0883BE;
  color: #ffffff;
}

.login-input {
  width: 275px;
}
.error-container{
  width: 275px;
}

.disabled {
  cursor: not-allowed;
}
