$imageSize: 2rem;

.chip-container {
  position: relative;
  display: inline-block;
  height: $imageSize;
  font-size: 0.85rem;
  line-height: 0.85rem;
  border-radius: $imageSize;
  background-color: #f1f1f1;
  width: 10rem;
}

.chip-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.chip-container img {
  position: absolute;
  left: 0;
  height: $imageSize;
  width: $imageSize;
  border-radius: 50%;
}
