<pf-modal-form
  [size]="'lg'"
  [title]="'Invite a Company'"
  [subTitle]="modalSubTitle"
  [primaryButtonText]="'Invite'"
  [primaryButtonTextSubmitting]="'Inviting...'"
  [submitting]="exchangeAccessRequesting$ | async"
  [isOpen$]="existingCompaniesExchangeRequestModalOpen$"
  [formGroup]="exchangeSelectionsForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">

  <ng-container form-content>

    <pf-card-selector
      [cardData$]="existingCompanies$"
      [cardDataLoading$]="existingCompaniesLoading$"
      [cardDataError$]="existingCompaniesLoadingError$"
      [cardBodyTemplate]="cardTemplate"
      [cardSelectedTemplate]="onCardSelectedTemplate"
      [cardIdentifier]="companyIdentifier"
      [cardIsDisabled]="companyCardDisabled"
      (onReload)="handleReloadCardsEvent()"
      (onCardSelection)="handleCardSelectionEvent()"
    >
      <ng-container search-filters>
        <div class="filter flex-grow-1">
          <pf-input-debounce id="search-box"
                             [focus]="false"
                             [delay]="400"
                             [(ngModel)]="searchTerm"
                             [ngModelOptions]="{standalone: true}"
                             [placeholderText]="'Search for a Company Name...'"
                             (valueChanged)="updateSearchFilter($event)">
          </pf-input-debounce>
        </div>
      </ng-container>
    </pf-card-selector>

    <!--Form fields-->
    <div class="form-group hidden-form-control">
      <input type="hidden"
             class="form-control"
             name="hasSelection"
             formControlName="companySelection"
             [ngModel]="cardSelection"
             [pfValidatable]="attemptedSubmit"
      />
    </div>

    <!--This must be inside the 'pf-modal-form' component in order for the modal's form to react to it-->
    <ng-template #onCardSelectedTemplate let-card="card">
      <div class="form-group">
            <textarea
              maxlength="1000"
              id="request-reason"
              class="form-control"
              rows="3"
              name="reason"
              formControlName="reason"
              [placeholder]="reasonPlaceholder"
              [pfValidatable]="attemptedSubmit"
              [(ngModel)]="reason"
            ></textarea>
      </div>
    </ng-template>

  </ng-container>
</pf-modal-form>

<ng-template #cardTemplate let-card="card">
  <div class="card-title d-flex justify-content-between">
    <h5>
      {{card?.CompanyName}}
    </h5>
    <h5>
      <span *ngIf="card?.InExchange && !card?.PendingInvitation" class="badge badge-dark">Exchange Member</span>
      <span *ngIf="card?.PendingInvitation" class="badge badge-warning">Pending Invitation</span>
    </h5>
  </div>

  <div class="d-flex flex-row justify-content-between mb-2">
    <span class="flex-grow-1" style="flex-basis: 40%" title="Industry">
      <i class="fas fa-building fa-lg"></i>
      {{card?.Industry ? card?.Industry : 'No Industry'}}
    </span>
    <span class="flex-grow-1" style="flex-basis: 20%" title="Revenue">
      <i class="fas fa-usd-circle fa-lg"></i>
      {{card?.Size ? (card?.Size | humanizeNumber) : 'Not Reported'}}
    </span>
    <span class="flex-grow-1" style="flex-basis: 40%" title="FTEs">
      <i class="fas fa-users fa-lg"></i>
      {{card?.FTEs ? card?.FTEs : 0}}
    </span>
  </div>

  <p class="card-text">
    <small title="Peers">
      <pf-ellipsis-view-more
        [content]="card?.Peers.join(', ')"
        [maxLength]="150"></pf-ellipsis-view-more>
    </small>
  </p>
</ng-template>
