<div class="text-center">
  <h3 class="d-flex flex-fill justify-content-center">
    <pf-inline-string-editor
      [maxCharacters]="30"
      [value]="controlData.Title.Override"
      [placeholder]="controlData.Title.Default"
      [showIcon]="'onHover'"
      [inEditMode]="getIsEditMode()"
      (valueChange)="handleTitleChanged($event)"
    >
    </pf-inline-string-editor>
  </h3>
  <h4 *ngIf="getIsEditMode()">{{getEditValue()}}</h4>
  <h4 *ngIf="!getIsEditMode()" [ngClass]="getIsPreviewMode ? 'preview-mode-animation' : '' ">
    {{getSumOfCalculationControls()}}
  </h4>
</div>
