.mapping-container {
  margin-top: 25px;
}

.company-selector-container {
  margin-top: 25px;
}

.save {
  float: right;
  margin: 10px;
  display: table-cell;
  vertical-align: center;
}

.success {
  color: green;
}

.error {
  color: red;
}

.save-message {
  margin-right: 10px;
}

.clear {
  clear: both;
}
