.mapping-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.company-selector-container {
  margin-top: 25px;
}

.buttons-container {
  float: right;
}

.buttons-container button {
  margin: 5px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.save-message {
  margin-right: 10px;
}

.clear {
  clear: both;
}

.email-recipients-btn{
  float: right;
}
