<pf-page-with-title-bar [absoluteUrl]="'/ng/site-admin/navigation'">
  <ng-container page-title>
    Org Data Autoloader Field Mappings
  </ng-container>

  <ng-container page-content>
    <pf-company-selector
      [loading]="companiesLoading$ | async"
      [companies]="companies$ | async"
      (companySelected)="onCompanySelected($event)">

    </pf-company-selector>

    <div *ngIf="selectedCompany" class="mapping-container">
      <h3 class="pull-left">Field Mapper</h3>
      <hr class="clear" />
      <div class="container-fluid">
        <div class="form-group row">
          <label for="delimiter" class="col-sm-1 col-form-label">Delimiter: </label>
          <div class="col-sm-1">
            <input type="text" id="delimiter" class="form-control" [(ngModel)]="delimiter">
          </div>
        </div>
      </div>
      <kendo-tabstrip [keepTabContent]="true">
        <kendo-tabstrip-tab title="Pay Markets" [selected]="true">
          <ng-template kendoTabContent>
            <pf-field-mapper
              [payfactorsDataFields]="payfactorsPaymarketDataFields"
              [loaderType]="loaderTypes.PayMarkets"
              [delimiter]="delimiter"
              [fieldMappings$]="companyMappings$"
              [fieldMappingsLoading]="companyMappingsLoading$ | async"
              [loadEnabled]="isPaymarketsLoadEnabled"
              (mappingComplete)="onPaymarketMappingComplete($event)"></pf-field-mapper>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Jobs">
          <ng-template kendoTabContent>
            <pf-field-mapper
              [payfactorsDataFields]="payfactorsJobDataFields"
              [loaderType]="loaderTypes.Jobs"
              [delimiter]="delimiter"
              [fieldMappings$]="companyMappings$"
              [fieldMappingsLoading]="companyMappingsLoading$ | async"
              [loadEnabled]="isJobsLoadEnabled"
              (mappingComplete)="onJobMappingComplete($event)"></pf-field-mapper>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Structures">
          <ng-template kendoTabContent>
            <pf-field-mapper
              [payfactorsDataFields]="payfactorsStructureDataFields"
              [loaderType]="loaderTypes.Structures"
              [delimiter]="delimiter"
              [fieldMappings$]="companyMappings$"
              [fieldMappingsLoading]="companyMappingsLoading$ | async"
              [loadEnabled]="isStructuresLoadEnabled"
              (mappingComplete)="onStructureMappingComplete($event)"></pf-field-mapper>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Structure Mappings">
          <ng-template kendoTabContent>
            <pf-field-mapper
              [payfactorsDataFields]="payfactorsStructureMappingDataFields"
              [loaderType]="loaderTypes.StructureMapping"
              [delimiter]="delimiter"
              [fieldMappings$]="companyMappings$"
              [fieldMappingsLoading]="companyMappingsLoading$ | async"
              [isFullReplace]="isStructureMappingsFullReplace"
              [loadEnabled]="isStructureMappingsLoadEnabled"
              (mappingComplete)="onStructureMappingMappingComplete($event)"></pf-field-mapper>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Employees">
          <ng-template kendoTabContent>
            <pf-field-mapper
              [payfactorsDataFields]="payfactorsEmployeeDataFields"
              [loaderType]="loaderTypes.Employees"
              [delimiter]="delimiter"
              [dateFormat]="dateFormat"
              [fieldMappings$]="companyMappings$"
              [fieldMappingsLoading]="companyMappingsLoading$ | async"
              [isFullReplace]="isEmployeesFullReplace"
              [loadEnabled]="isEmployeesLoadEnabled"
              (mappingComplete)="onEmployeeMappingComplete($event)"></pf-field-mapper>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
      <div class="buttons-container">
        <span class="save-message {{saveClass}}" [hidden]="!saveMessage">{{saveMessage}}</span>
        <button type="button" class="btn btn-primary"
                [disabled]="(!paymarketMappingComplete || !jobMappingComplete || !structureMappingComplete || !structureMappingMappingComplete || !employeeMappingComplete)
                || delimiter === ''"
                (click)="SaveMappings()">Update Mapping</button>
        <pf-email-recipients-modal class="email-recipients-btn"
                                   *ngIf="selectedCompany"
                                   [companyId]="selectedCompany"
                                   [recipients]="emailRecipients$ | async"></pf-email-recipients-modal>
      </div>
    </div>
  </ng-container>
</pf-page-with-title-bar>
