<pf-modal-form
  [size]="'lg'"
  [title]="'Add Companies'"
  [primaryButtonText]="primaryButtonText"
  [submitting]="addingCompanies$ | async"
  [isOpen$]="addCompaniesModalOpen$"
  [formGroup]="addCompaniesForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">
  <ng-container form-content>
    <pf-async-container
      [loading]="availableCompaniesLoading$ | async"
      [loadingError]="availableCompaniesLoadingError$ | async"
      [loadingErrorMessage]="'Error loading exchange companies'"
      (reload)="handleAvailableCompaniesGridReload()">
      <div class="form-group">
        <label for="search-box">Search for and select the companies that will be part of this Peer Exchange.</label>
        <pf-input-debounce id="search-box"
                           (valueChanged)="updateSearchFilter($event)"
                           [delay]="400" [inputValue]="searchTerm"
                           [placeholderText]="'Search for a Company Name...'">
        </pf-input-debounce>
      </div>

      <kendo-grid
        [data]="view$ | async"
        [pageSize]="gridState.take"
        [skip]="gridState.skip"
        [resizable]="true"
        [pageable]="{
          buttonCount: 5,
          info: true
        }"
        [selectable]="{
          checkboxOnly: true
        }"
        [sortable]="true"
        [sort]="gridState.sort"
        [kendoGridSelectBy]="selectionKey"
        [selectedKeys]="selections"
        [rowClass]="rowClass"
        (pageChange)="pageChange($event)"
        (sortChange)="handleSortChanged($event)"
        (cellClick)="cellClick($event)"
      >

        <kendo-grid-column field="CompanyName" title="Company Name" [width]="200"></kendo-grid-column>

        <kendo-grid-column field="Industry" title="Industry" [width]="100"></kendo-grid-column>

        <kendo-grid-column field="Revenue" title="Revenue"></kendo-grid-column>

        <kendo-grid-column field="FTEs" title="FTEs"></kendo-grid-column>

        <kendo-grid-column field="City" title="City"></kendo-grid-column>

        <kendo-grid-column field="State" title="State"></kendo-grid-column>

        <kendo-grid-column field="Zip" title="Zip"></kendo-grid-column>

      </kendo-grid>

    </pf-async-container>
    <div class="form-group">
      <input type="hidden" name="hasSelections" formControlName="selections" [pfValidatable]="attemptedSubmit"/>
      <ng-container *ngIf="selectionsControl.errors && attemptedSubmit">
        <div *ngIf="selectionsControl.errors.selectionRequired" class="invalid-feedback">A selection is required.</div>
        <div *ngIf="selectionsControl.errors.error" class="invalid-feedback">{{selectionsControl.errors.error}}</div>
      </ng-container>
      <span *ngIf="!attemptedSubmit || !selectionsControl.errors" class="pf-placeholder"></span>
    </div>
  </ng-container>
</pf-modal-form>

