/* You can add global styles to this file, and also import other style files */
body{
  background: #FFFFFF;
  font-size: 12px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.legacy-secondary-btn{
  border: 1px solid #1F2F3D;
  background-color: #FFFFFF;
  color: #1F2F3D;
  border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
  line-height: normal;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
