@import 'legacy-styles';
@import '~dragula/dist/dragula.min.css';

.matches {
  color: #006699;
}

.matches:hover{
  cursor: pointer;
}

.tooltip-container {
  width: 400px;
  max-width: none;
  max-height: 300px;
  margin-left: 0;
  padding: 5px;
  border: 1px dotted black;
  position: fixed;
  background: white;
  z-index: 999;
}

.popover{
  font-family: $legacy-font-family !important;
  font-size: $legacy-font-size;
}
