<div
  class="company-jobs-grid-container position-relative k-tooltip-container {{ (selectedCompanyJob$ | async) ? 'short' : 'h-100' }}"
  kendoTooltip
  showOn="none"
  filter=".k-grid td"
  [tooltipTemplate]="template"
  (mouseover)="showGridTooltip($event)">
  <pf-async-container
    [loading]="loadingGrid$ | async"
    [loadingError]="loadingGridError$ | async"
    [loadingErrorMessage]="loadingGridErrorMessage$ | async"
    (reload)="reloadGrid()">
      <kendo-grid
        class="row-click-navigates"
        filterable="menu"
        [data]="companyJobsGridData$ | async"
        [pageSize]="(companyJobsGridState$ | async)?.take"
        [skip]="(companyJobsGridState$ | async)?.skip"
        [sort]="(companyJobsGridState$ | async)?.sort"
        [filter]="companyJobsGridState?.filter"
        [pageable]="{ buttonCount: 5, info: true }"
        [resizable]="true"
        [sortable]="true"
        [pfKendoScrollTo]="pageRowIndexToScrollTo"
        [pfKendoScrollToEnabled]="!(selectedCompanyJob$ | async)"
        [kendoGridSelectBy]="'CompanyJobId'"
        [rowSelected]="isRowSelected"
        (dataStateChange)="handleDataStateChange($event)"
        (cellClick)="handleCellClick($event)">
        <kendo-grid-column field="StatusId" title="Status" class="p-0 m-0"
                           [sortable]="false"
                           [resizable]="false"
                           [width]="200">
          <ng-template kendoGridFilterMenuTemplate let-filterService="filterService">
            <kendo-dropdownlist
              [data]="statusFilterOptions"
              textField="StatusName"
              valueField="StatusId"
              [defaultItem]="{StatusId: '', StatusName: 'Select a Status'}"
              [valuePrimitive]="true"
              [value]="selectedStatusFilterOption"
              (valueChange)="onStatusFilterChange($event, filterService)"
              >
            </kendo-dropdownlist>
          </ng-template>

          <ng-template kendoGridCellTemplate let-dataItem>
              <pf-peer-association-color-block
                [isAssociated]="dataItem.IsAssociated"
                [isApproved]="dataItem.IsApproved"
                [isExchangeSpecific]="true"
                [showStatusLabel]="true">
              </pf-peer-association-color-block>
          </ng-template>
        </kendo-grid-column>

        <!--- Company Info --->
        <kendo-grid-column field="JobTitle" title="Company Job Title">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
              <kendo-filter-contains-operator></kendo-filter-contains-operator>
              <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
              <kendo-filter-eq-operator></kendo-filter-eq-operator>
              <kendo-filter-neq-operator></kendo-filter-neq-operator>
              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="show-tooltip" [innerHTML]="dataItem.JobTitle"></div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="JobCode" title="Company Job Code">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
              <kendo-filter-contains-operator></kendo-filter-contains-operator>
              <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
              <kendo-filter-eq-operator></kendo-filter-eq-operator>
              <kendo-filter-neq-operator></kendo-filter-neq-operator>
              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <div [innerHTML]="dataItem.JobCode" class="show-tooltip"></div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="JobFamily" title="Company Job Family">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
              <kendo-filter-contains-operator></kendo-filter-contains-operator>
              <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
              <kendo-filter-eq-operator></kendo-filter-eq-operator>
              <kendo-filter-neq-operator></kendo-filter-neq-operator>
              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="show-tooltip">{{ dataItem.JobFamily }}</div>
          </ng-template>
        </kendo-grid-column>

        <!--- Exchange Info --->
        <kendo-grid-column field="ExchangeJobTitle" title="Exchange Job Title">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
              <kendo-filter-contains-operator></kendo-filter-contains-operator>
              <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
              <kendo-filter-eq-operator></kendo-filter-eq-operator>
              <kendo-filter-neq-operator></kendo-filter-neq-operator>
              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="show-tooltip" *ngIf="dataItem.IsAssociated && (dataItem.MappedExchangeJobTitle || dataItem.MappedExchangeJobFamily); else notAssociated">
              {{ dataItem.MappedExchangeJobTitle }}
            </div>
            <ng-template #notAssociated>
              <button class="match-button" (click)="handleCellClick({dataItem: dataItem, rowIndex: rowIndex})">
                <fa-icon icon="exchange-alt"  title="Match Job"></fa-icon><span>Match</span>
              </button>
            </ng-template>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ExchangeJobFamily" title="Exchange Job Family">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
              <kendo-filter-contains-operator></kendo-filter-contains-operator>
              <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
              <kendo-filter-eq-operator></kendo-filter-eq-operator>
              <kendo-filter-neq-operator></kendo-filter-neq-operator>
              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="show-tooltip">{{ dataItem.MappedExchangeJobFamily }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="MatchedBy" title="Matched By">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
              <kendo-filter-contains-operator></kendo-filter-contains-operator>
              <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
              <kendo-filter-eq-operator></kendo-filter-eq-operator>
              <kendo-filter-neq-operator></kendo-filter-neq-operator>
              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="show-tooltip">{{ dataItem.MatchedBy }}</div>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
  </pf-async-container>
</div>
<ng-template #template let-anchor>
  <span>{{ anchor.nativeElement.innerText }}</span>
</ng-template>
