@import 'kendo-grid';
@import 'peer/peer-match-button';

.company-jobs-grid-container {
  transition: height .4s ease-in-out;
}

:host ::ng-deep .k-grid {
  tr, tr.k-alt {
    &:hover {
      button {
        visibility: visible;
      }
    }
  }
}

.match-button {
  @extend %match-button;
  visibility: hidden;
}
