<mgl-map
  [style]="mapStyle"
  [attributionControl]="false"
  [fitBounds]="peerMapBounds$ | async"
  [fitBoundsOptions]="{padding: 100}"
  [center]="[-98, 38.88]"
  [zoom]="3"
  [maxZoom]="17"
  [cursorStyle]="cursorStyle"
  (moveStart)="handleMoveStartEvent($event)"
  (moveEnd)="handleMoveEndEvent($event)"
  (move)="handleMoveEvent($event)"
  (load)="handleLoadEvent($event)"
  [ngClass]="{'map-no-data': (peerMapShowNoData$ | async)}"
>
  <mgl-control mglNavigation pfGeocoder></mgl-control>
  <mgl-geojson-source
    [id]="'incumbents'"
    [data]="peerMapCollection$ | async"
  >
  </mgl-geojson-source>
  <mgl-popup
    *ngIf="selectedPoint"
    [lngLat]="selectedPoint.geometry.coordinates"
    (close)="selectedPoint = null"
    [closeButton]="false"
  >
    <div style="width: 500px">
      {{pointProperties}}
    </div>
  </mgl-popup>
  <mgl-layer
    id="peerdata"
    type="circle"
    source="incumbents"
    (click)="handleLayerClusteredClickEvent($event)"
    (mouseMove)="handleLayerHoverEvent($event)"
    (mouseEnter)="cursorStyle = 'pointer'"
    (mouseLeave)="cursorStyle = ''; selectedPoint = null"
    [paint]="{
        'circle-color': {
            property: 'SalaryCount',
            type: 'interval',
            stops: [
                [0, 'red']
            ]
        },
        'circle-radius': {
            property: 'SalaryCount',
            type: 'interval',
            stops: [
                [0, 6]
            ]
        },
        'circle-stroke-width': 1,
        'circle-stroke-color': '#ffffff'
      }"
  >
  </mgl-layer>
  <!--<mgl-layer-->
    <!--id="cluster-count"-->
    <!--type="symbol"-->
    <!--source="incumbents"-->
    <!--[layout]="{-->
        <!--'text-field': '{SalaryCount}',-->
        <!--'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],-->
        <!--'text-size': 10-->
      <!--}"-->
  <!--&gt;-->
  <!--</mgl-layer>-->
  <mgl-popup
    *ngIf="(peerMapShowNoData$ | async)"
    [lngLat]="center"
    [closeOnClick]="false"
    [closeButton]="false"
  >
    <span class="map-no-data-message">
      <i class="far fa-exclamation-triangle fa-lg text-danger" aria-hidden="true"></i>
      No results. Refine the filter criteria to show results.
    </span>
  </mgl-popup>
</mgl-map>
