<mgl-map
  [style]="mapStyle"
  [zoom]="[3]"
  [center]="peerMapCenter$ | async"
  [attributionControl]="false"
  [fitBounds]="peerMapBounds$ | async"
  [fitBoundsOptions]="{padding: 100}"
  [maxZoom]="10"
  (moveEnd)="handleMoveEndEvent($event)"
>
  <mgl-control pfGeocoder></mgl-control>
  <mgl-geojson-source
    [id]="'incumbents'"
    [data]="peerMapCollection$ | async"
  >
  </mgl-geojson-source>
  <mgl-layer
    id="peerdata"
    type="circle"
    source="incumbents"
    (click)="handleLayerClickEvent($event)"
    [filter]="['has', 'SalaryCount']"
    [paint]="{
        'circle-color': {
            property: 'SalaryCount',
            type: 'interval',
            stops: [
                [0, '#51bbd6'],
                [500, '#f1f075'],
                [1000, '#f28cb1']
            ]
        },
        'circle-radius': {
            property: 'SalaryCount',
            type: 'interval',
            stops: [
                [0, 20],
                [500, 30],
                [1000, 40]
            ]
        }
      }"
  >
  </mgl-layer>
  <mgl-layer
    id="cluster-count"
    type="symbol"
    source="incumbents"
    [filter]="['has', 'SalaryCount']"
    [layout]="{
        'text-field': '{SalaryCount}',
        'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
        'text-size': 12
      }"
  >
  </mgl-layer>
  <mgl-layer
    id="unclustered-point"
    type="circle"
    source="incumbents"
    [filter]="['!has', 'SalaryCount']"
    [paint]="{
        'circle-color': '#11b4da',
        'circle-radius': 4,
        'circle-stroke-width': 1,
        'circle-stroke-color': '#fff'
      }"
  >
  </mgl-layer>
</mgl-map>
