mgl-map {
  height: 100%;
  width: 100%;
}

:host ::ng-deep .map-no-data .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  display: none !important;
}

.map-no-data-message {
  font-size: 1.5rem;
}
