<mgl-map
  [style]="mapStyle"
  [attributionControl]="false"
  [fitBounds]="peerMapBounds$ | async"
  [fitBoundsOptions]="{padding: 100}"
  [center]="[-98, 38.88]"
  [zoom]="3"
  [maxZoom]="17"
  [cursorStyle]="cursorStyle"
  (moveStart)="handleMoveStartEvent($event)"
  (moveEnd)="handleMoveEndEvent($event)"
  (move)="handleMoveEvent($event)"
>
  <mgl-control mglNavigation pfGeocoder></mgl-control>
  <mgl-geojson-source
    [id]="'incumbents'"
    [data]="peerMapCollection$ | async"
  >
  </mgl-geojson-source>
  <mgl-popup
    *ngIf="selectedPoint"
    [lngLat]="selectedPoint.geometry.coordinates"
    (close)="selectedPoint = null"
  >
    <span [innerHTML]="selectedPoint.properties.ExchangeJobIds"></span>
  </mgl-popup>
  <mgl-layer
    id="peerdata"
    type="circle"
    source="incumbents"
    (click)="handleLayerClickEvent($event)"
    (mouseEnter)="cursorStyle = 'pointer'"
    (mouseLeave)="cursorStyle = ''"
    [filter]="['has', 'SalaryCount']"
    [paint]="{
        'circle-color': {
            property: 'SalaryCount',
            type: 'interval',
            stops: [
                [0, '#51bbd6'],
                [10, '#f1f075'],
                [100, '#f28cb1']
            ]
        },
        'circle-radius': {
            property: 'SalaryCount',
            type: 'interval',
            stops: [
                [0, 10],
                [10, 20],
                [100, 30]
            ]
        }
      }"
  >
  </mgl-layer>
  <mgl-layer
    id="cluster-count"
    type="symbol"
    source="incumbents"
    [filter]="['has', 'SalaryCount']"
    [layout]="{
        'text-field': '{SalaryCount}',
        'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
        'text-size': 10
      }"
  >
  </mgl-layer>
  <mgl-layer
    id="unclustered-point"
    type="circle"
    source="incumbents"
    [filter]="['!has', 'SalaryCount']"
    [paint]="{
        'circle-color': '#11b4da',
        'circle-radius': 4,
        'circle-stroke-width': 1,
        'circle-stroke-color': '#fff'
      }"
  >
  </mgl-layer>
</mgl-map>
