<img class="rounded-circle mr-3" [src]="avatarUrl + user.UserPicture" src-fallback="{{ avatarUrl + 'default_user.png' }}" width="64" height="63">
<div class="user-information">
  <span class="user-name" title="{{user.FirstName + ' ' + user.LastName}}">{{user.FirstName + ' ' + user.LastName}}</span>
  <span class="user-contact-info" title="{{user.Title}}">{{user.Title}}</span>
  <a href="mailto:{{user.EmailAddress}}" title="{{user.EmailAddress}}" class="user-contact-info">{{user.EmailAddress}}</a>
  <span class="user-contact-info" title="{{user.PhoneNumber}}">{{user.PhoneNumber}}</span>
</div>
