@import 'common/common-variables';

.user-information {
  position: relative;
  bottom: 30px;
  display: inline-grid;
  width: 200px;

  .user-name {
    height: 19px;
    color: #434950;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    @extend %ellipsis-overflowing-text;
  }

  .user-contact-info {
    height: 16px;
    opacity: 0.75;
    color: #434950;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    margin: 2px 0;
    @extend %ellipsis-overflowing-text;
  }
}
