.payfactors-logo {
  max-height: 50px;
  margin-left: -20px;
}

.success-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../../../assets/duotone-background.jpg);
  padding: 3rem;
  height: 100%;
}

.thanks-heading {
  font-size: 3.5rem;
  margin-top: 1rem;
}

.success-message {
  font-size: 1.5rem;
}