@import 'comphub-variables';
@import 'colors';

// Some elements from third party libraries that are added dynamically to the body can lose their view encapsulation context.
// If the the dynamically added content can't be styled using the shadow-piercing descendant combinator :host ::ng-deep
// add those styles to this file.


// Kendo Overrides
.k-list {

  .k-state-selected {
    background-color: white !important;
    color: black !important;
  }

  .k-state-focused {
    background-color: #1f2f3d !important;
    color: white !important;
    box-shadow: none !important;
  }
}

 .k-autocomplete {

  .k-input, .k-item {
    font-size: $comphub-font-size;

    &::selection {
      background: highlight !important;
      color: black !important;
    }
  }
}

.k-dropdown .k-dropdown-wrap {
  background-color: white;
}

.k-dropdown-wrap .k-input,  .k-dropdown-wrap .k-select {
   &::selection {
     background: highlight !important;
     color: black !important;
   }
 }

.rates-dropdown {
  width: 80px;
  vertical-align: unset;

  .k-dropdown-wrap {
    background-color: white;
    border-style: none !important;
  }

  .k-i-arrow-s {
    color: $pf-additional-colors-green;
  }

  .k-input {
    color: $comphub-header-blue;
    font-weight: $comphub-bold-font-weight;
    padding: 0 0 0 0.375rem;
    height: unset;
    font-size: $comphub-font-size;
  }

  .k-select {
    padding: 0;
  }
}

pf-salary-trend-chart {
  .k-chart {
    height: 110px !important;
  }
}

.k-list {
  .geo-list-item{
    width: 100%;
    .geo-display-value {
      float: left;
      width: 70%;
    }

    .geo-display-label {
      float: right;
      text-align: right;
      width: 30%;
      color: #C3C3C3;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
