<pf-modal-form
  [size]="'lg'"
  [title]="'Request Access to Exchange'"
  [primaryButtonText]="'Request'"
  [primaryButtonTextSubmitting]="'Requesting...'"
  [submitting]="exchangeAccessRequesting$ | async"
  [isOpen$]="exchangeAccessModalOpen$"
  [formGroup]="exchangeSelectionsForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">

  <ng-container form-content>

    <pf-async-container
      [loading]="availableExchangesLoading$ | async"
      [loadingError]="availableExchangesLoadingError$ | async"
      [loadingErrorMessage]="'Error loading available exchanges'"
      (reload)="loadAvailableExchanges()">
      <div class="filter-container">
        <div class="flex-column flex-grow-1 d-flex">
          <pf-input-debounce id="search-box"
                             [focus]="false"
                             [delay]="400"
                             [(ngModel)]="searchTerm"
                             [ngModelOptions]="{standalone: true}"
                             [placeholderText]="'Search for an Exchange Name...'"
                             (valueChanged)="updateSearchFilter($event)">
          </pf-input-debounce>
        </div>
        <div class="flex-column company-filter">
          <div class="d-flex">
            <kendo-combobox
              class="flex-grow-1"
              [data]="peerParticipants$ | async"
              textField="Name"
              valueField="CompanyId"
              placeholder="Choose a peer..."
              (valueChange)="handleSelectedCompanyChangeEvent($event)"
            ></kendo-combobox>
          </div>
        </div>
      </div>
      <div class="selections-container">
        <div class="results-container">
          <pf-async-container
            [loading]="availableExchangesLoading$ | async"
            [loadingError]="availableExchangesLoadingError$ | async"
            [hideReloadButton]="true">

            <ng-container *ngIf="(availableExchanges$ | async).length">

              <pf-available-exchange-result
                *ngFor="let availableExchange of availableExchanges$ | async"
                [availableExchangeItem]="availableExchange"
                [selection]="selectedExchange?.ExchangeId"
                (selected)="handleAvailableExchangeSelection($event)"
              >
              </pf-available-exchange-result>

            </ng-container>

            <ng-container *ngIf="!(availableExchanges$ | async).length && !(availableExchangesLoading$ | async)">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">No Results for {{ searchTerm }}</h5>
                  <div class="card-text"><small class="text-muted">Please change your filter criteria to search again.</small></div>
                </div>
              </div>

            </ng-container>

          </pf-async-container>

        </div>
        <div class="selection-card">
          <div class="card-body">
            <h5 class="card-title">
              Select an Exchange
            </h5>
            <p class="card-text mb-2 text-muted">
              Search for, select and submit a request to be added to a Peer Exchange. The Exchange administrator
              will review eligibility and send a communication with their decision
            </p>
            <ng-container *ngIf="selectedExchange">
              <h3>Peers of {{selectedExchange.ExchangeName}}</h3>
              <p>
                {{selectedCompanies}}
              </p>
              <!--<div class="card">-->
                <!--<div class="card-body">-->
                  <!--<h5 class="card-title">-->
                    <!--{{selectedExchange.ExchangeId}} - {{selectedExchange.ExchangeName}}-->
                  <!--</h5>-->

                  <!--<div class="card-text">-->
                    <!--{{selectedCompanies}}-->
                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->



              <!--<div class="form-group">-->
                <!--<label for="exampleFormControlTextarea1">-->
                  <!--Reason for joining {{selectedExchange.ExchangeName}}-->
                <!--</label>-->
                <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
              <!--</div>-->
            </ng-container>
          </div>
        </div>

        <!--<div class="selection-container">-->
          <!--<div class="card">-->
            <!--<div class="card-body">-->
              <!--<h5 class="card-title">-->
                <!--Select an exchange-->
              <!--</h5>-->
              <!--<h6 class="card-subtitle mb-2 text-muted">-->
                <!--Search for, select and submit a request to be added to a Peer Exchange. The Exchange administrator-->
                <!--will review eligibility and send a communication with their decision.-->
              <!--</h6>-->
            <!--</div>-->
            <!--<div class="card-text">-->
                <!--test-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="exampleFormControlTextarea1">Example textarea</label>-->
              <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      </div>


    </pf-async-container>

    <div class="form-group hidden-form-control">
      <input type="hidden"
             class="form-control"
             name="hasSelections"
             formControlName="reason"
             [ngModel]="reason"
             [pfValidatable]="attemptedSubmit"
      />
      <!--<ng-container *ngIf="selectionsControl.errors && attemptedSubmit">-->
        <!--<div *ngIf="selectionsControl.errors.error" class="invalid-feedback">{{selectionsControl.errors.error}}</div>-->
      <!--</ng-container>-->
    </div>
    <ng-container *ngIf="selectedExchange">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Why do you want to join {{selectedExchange.ExchangeName}}?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </ng-container>
  </ng-container>
</pf-modal-form>

