<pf-modal-form
  [size]="'lg'"
  [title]="'Request Access to Exchange'"
  [primaryButtonText]="'Request'"
  [primaryButtonTextSubmitting]="'Requesting...'"
  [submitting]="exchangeAccessRequesting$ | async"
  [isOpen$]="exchangeAccessModalOpen$"
  [formGroup]="exchangeSelectionsForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">

  <ng-container form-content>

    <pf-async-container
      [loading]="availableExchangesLoading$ | async"
      [loadingError]="availableExchangesLoadingError$ | async"
      [loadingErrorMessage]="'Error loading available exchanges'"
      (reload)="loadAvailableExchanges()">
      <div class="filter-container">
        <div class="flex-column flex-grow-1 d-flex">
          <pf-input-debounce id="search-box"
                             [focus]="false"
                             [delay]="400"
                             [(ngModel)]="searchTerm"
                             [ngModelOptions]="{standalone: true}"
                             [placeholderText]="'Search for an Exchange Name...'"
                             (valueChanged)="updateSearchFilter($event)">
          </pf-input-debounce>
        </div>
        <div class="flex-column company-filter">
          <div class="d-flex">
            <kendo-combobox
              class="flex-grow-1"
              [data]="peerParticipants$ | async"
              textField="Name"
              valueField="CompanyId"
              (valueChange)="handleSelectedCompanyChangeEvent($event)"
            ></kendo-combobox>
          </div>
        </div>
      </div>
      <div class="selections-container">
        <div class="results-container">
          <pf-async-container
            [loading]="availableExchangesLoading$ | async"
            [loadingError]="availableExchangesLoadingError$ | async"
            [hideReloadButton]="true">

            <ng-container *ngIf="(availableExchanges$ | async).length">

              <pf-available-exchange-result
                *ngFor="let availableExchange of availableExchanges$ | async"
                [availableExchangeItem]="availableExchange"
                (selected)="handleAvailableExchangeSelection($event)"
              >
              </pf-available-exchange-result>

            </ng-container>

            <ng-container *ngIf="!(availableExchanges$ | async).length && !(availableExchangesLoading$ | async)">

              <div class="card">
                <h6 class="mb-1">No Results for {{ searchTerm }}</h6>
                <h5><small class="text-muted">Please change your filter criteria to search again.</small></h5>
              </div>

            </ng-container>

          </pf-async-container>

        </div>
        <div class="selection-container">
          <div class="d-flex">
            <h3>Do this in this modal</h3>
          </div>
        </div>

      </div>


    </pf-async-container>

    <div class="form-group hidden-form-control">
      <input type="hidden"
             class="form-control"
             name="hasSelections"
             formControlName="reason"
             [ngModel]="reason"
             [pfValidatable]="attemptedSubmit"
      />
      <!--<ng-container *ngIf="selectionsControl.errors && attemptedSubmit">-->
        <!--<div *ngIf="selectionsControl.errors.error" class="invalid-feedback">{{selectionsControl.errors.error}}</div>-->
      <!--</ng-container>-->
    </div>

  </ng-container>

</pf-modal-form>

