.btn-filter {
  background-color: #fff;
  color: #495057;
  border: 1px solid #ced4da;
  font-size: 1rem;
  font-weight: 400;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.action-item:hover {
  cursor: pointer;
}
