<pf-modal-form
  [modalId]="'statement-assignment-modal'"
  [title]="'Employees'"
  [isOpen$]="isOpen$"
  [size]="'lg'"
  [primaryButtonText]="'Assign'"
  [submitting]="false"
  [backdrop]="true"
  [resetFormOnClose]="true"
  (onSubmit)="onCloseModal('save')"
  (onDismiss)="onCloseModal('discard')"
>
  <ng-container basic-content>
    <pf-search-layout [countLabel]="'Employees'" [resultsCount]="numberOfResults$ | async" class="h-100">

      <ng-container sidebar>
        <pf-search-filters
          [defaultFocusedFilterId]="'jobTitleCode'"
          [visible]="true">
        </pf-search-filters>
      </ng-container>

      <ng-container content>
        <pf-results-header class="position-relative"></pf-results-header>
        <pf-employee-search-results class="position-relative"></pf-employee-search-results>
      </ng-container>

    </pf-search-layout>
  </ng-container>

</pf-modal-form>
