@import "colors";

.select-all {
  border: none;
  color: $link-color;
}

.clear-selections {
  left: 0;
  border: none;
  color: $link-color;
}

.info-message, .warning-message {
  fa-icon {
    font-size: 16px;
  }
  span {
    padding-top: 0.15rem;
  }
}
