<ng-container *ngIf="jobPricing?.Id > 0; else noDataTemplate">
  <pf-async-container [loading]="(pricingMatches$ | async)?.loading"></pf-async-container>
  <ng-container *ngIf="(pricingMatches$ | async)?.obj?.length; else noDataTemplate">
    <ng-container *ngFor="let job of (pricingMatches$ | async).obj; let isEven=even;">
      <div class="d-flex flex-column p-3 market-data-container" [class.gray-background]="isEven">
        <div class="d-flex align-items-center">
          <div class="flex-fill ellipsis-overflowing-text">
            <div class="d-flex flex-column">
              <div pfEllipsisActive class="job-title ellipsis-overflowing-text">
                {{job['vw_PricingMatchesJobTitlesMerged_Job_Title']}} ({{job['vw_PricingMatchesJobTitlesMerged_Job_Code']}})
              </div>
              <div pfEllipsisActive class="ellipsis-overflowing-text">
                {{job['vw_PricingMatchesJobTitlesMerged_Source']}} ({{job['vw_PricingMatchesJobTitlesMerged_Effective_Date'] | date:'MM/dd/yyyy'}})
              </div>
            </div>
          </div>
          <div class="match-actions-container">
            <div ngbDropdown container="body" #p="ngbDropdown">
              <button ngbDropdownToggle type="button" class="btn btn-secondary"
                      id="match-actions-{{job['CompanyJobs_PricingsMatches_CompanyJobPricingMatch_ID']}}">
                <fa-icon icon="ellipsis-h" class="actions-button"></fa-icon>
              </button>
              <div ngbDropdownMenu aria-labelledby="match-actions-{{job['CompanyJobs_PricingsMatches_CompanyJobPricingMatch_ID']}}">
                <button ngbDropdownItem type="button" (click)="openMatchDetailsModal(job)">View Match Details</button>
                <span [title]="modifyMatchPermissionMessage(true)">
                  <button [disabled]="!isActiveJob || !!jobPricing.LinkedPayMarketId"
                          [pfSecuredResource]="permissions.MODIFY_PRICINGS"
                          ngbDropdownItem
                          type="button"
                          (click)="openDeleteMatchModal(job)">
                          Delete Match
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="market-data-grid pt-3">
          <kendo-grid [data]="[job]">
            <kendo-grid-column-group *ngFor="let group of fieldGroups"
                                      [title]="group"
                                      [headerClass]="['text-center', 'font-weight-normal', group === 'TCC' ? 'border-left' : ''].join(' ')">
              <ng-container *ngFor="let field of fields; trackBy:trackByField">
                <kendo-grid-column *ngIf="field.Group === group"
                                    [field]="field.KendoGridField"
                                    [title]="field.DisplayName"
                                    [headerClass]="['text-right', 'field-name', (field.Group === 'TCC' && field.DisplayName === '10th') ? 'border-left' : ''].join(' ')"
                                    [class]="(field.Group === 'TCC' && field.DisplayName === '10th') ? 'border-left' : ''"
                                    width="60">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="text-right">{{dataItem[field.KendoGridField] | comp : rate | emptyPlaceholder}}</div>
                  </ng-template>
                </kendo-grid-column>
              </ng-container>
            </kendo-grid-column-group>
          </kendo-grid>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #noDataTemplate>
  <div class="px-3 pb-3 no-market-data-container d-flex align-items-center justify-content-center">
    <span>No market data to display. Click 'Add Data' to match this job.</span>
  </div>
</ng-template>

<pf-modal-form
  [size]="'lg'"
  [title]="'Match Details'"
  [secondaryButtonText]="'Close'"
  [showSubmit]="false"
  [modalId]="'au-modal-jobs-market-data-match-details'"
  [isOpen$]="showMatchDetailsModal$"
  (onDismiss)="closeMatchDetailsModal()">

  <ng-container basic-content>
    <pf-data-cut-summary *ngIf="selectedPricingMatch"
      [pricingId]="selectedPricingMatch['CompanyJobs_PricingsMatches_CompanyJobPricing_ID']"
      [entityId]="selectedPricingMatch['CompanyJobs_PricingsMatches_CompanyJobPricingMatch_ID']"
      [entityType]="'CompanyJobPricingMatchId'"
      [matchType]="selectedPricingMatch | pricingMatchType">
    </pf-data-cut-summary>
  </ng-container>
</pf-modal-form>
