.filters-sidebar{
  width: 240px;
}

.results-container{
  flex-grow: 1;
  position: relative;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-bottom: 0.25rem;
  min-height: 18px;
}
