.filters-sidebar{
  width: 243px;
  position: relative;
}

.results-and-actions{
  flex-grow: 1;
  position: relative;
  margin-left: .3rem;
}

.button-container{
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-top: 2px;
  display: flex;
  justify-content: center;
}
