<div class="d-flex h-100">

  <div class="filters-sidebar">
    <pf-filter-header
      [numberOfResults]="numberOfResults$ | async"
      [singled]="!!(searchingFilter$ | async)"
      (resetAll)="handleResetAllFilters()">
    </pf-filter-header>

    <pf-search-filters
      [visible]="!(searchingFilter$ | async)">
    </pf-search-filters>

    <pf-single-filter
      *ngIf="searchingFilter$ | async">
    </pf-single-filter>
  </div>

  <div class="results-and-actions">
    <pf-search-results></pf-search-results>

    <div class="button-container">
      <button (click)="handleAddClicked()" [disabled]="(addingData$ | async) || !(selectedCuts$ | async).length"
              class="legacy-primary-btn mr-4">
        <ng-container *ngIf="!(addingData$ | async); else addingData">
          Add
          <span *ngIf="(selectedCuts$ | async)?.length">({{(selectedCuts$ | async).length}})</span>
        </ng-container>
      </button>

      <button (click)="handleCancelClicked()" class="legacy-secondary-btn mr-4">
        Cancel
      </button>

      <span class="exclude-from-participation">
      <input type="checkbox" id="excludeFromParticipation" [(ngModel)]="excludeFromParticipation" class="mr-2"/>
      <label class="mb-0" for="excludeFromParticipation">Exclude from Participation</label>
    </span>
    </div>
  </div>
</div>

<ng-template #addingData>
  <pf-loading-indicator [spinnerType]="'GIF'"></pf-loading-indicator>
  Adding...
</ng-template>
