<pf-search-layout [resultsCount]="numberOfResults$ | async">

  <ng-container sidebar>

    <pf-search-filters
      [defaultFocusedFilterId]="'jobTitleCode'"
      [visible]="!(searchingFilter$ | async)">
    </pf-search-filters>

    <pf-single-filter
      *ngIf="searchingFilter$ | async">
    </pf-single-filter>

  </ng-container>

  <ng-container content>

    <pf-results-header *ngIf="pageShown$ | async" [userFilterDefaultLabel]="'PayMarket Default'" [legacyImplementation]="true"></pf-results-header>
    <pf-survey-search-results [cutsDraggable]="false" [implementation]="featureImplementation" [refineInPeerEnabled]="true"></pf-survey-search-results>

  </ng-container>

  <ng-container action-buttons>

    <button class="btn btn-sm legacy-primary-btn mr-3 au-btn-add"
            (click)="handleAddClicked()"
            [disabled]="(addingData$ | async) || !(selectedCuts$ | async).length">
      <ng-container *ngIf="!(addingData$ | async); else addingData">
        Add <span *ngIf="(selectedCuts$ | async)?.length">({{(selectedCuts$ | async).length}})</span>
      </ng-container>
    </button>

    <button (click)="handleCancelClicked()" class="btn btn-sm btn-secondary mr-3 au-btn-cancel">
      Cancel
    </button>

    <div class="exclude-from-participation">
      <input type="checkbox" id="excludeFromParticipation" [(ngModel)]="excludeFromParticipation" class="mr-2 au-chk-exclude-from-participation"/>
      <label class="mb-0" for="excludeFromParticipation">Exclude from Participation</label>
    </div>

  </ng-container>

</pf-search-layout>

<ng-template #addingData>
  Adding...
</ng-template>
