@import 'colors';
@import 'styles';

$response-container-height: 40px;

.inner-element {
  position: relative;
  height: $response-container-height;
  transition: background-color 0.5s ease;
}

.submit-button-container {
  background: #FFB300;
  color: white;
  border-color: #FFB300;
}

.submit-button-container:hover {
  color: #FFB300;
  background-color: white;
  border-color: #FFB300;
}

.response-option-text-container {
  transition: transform 0.5s ease, box-shadow 0.5s ease, margin 0.5s ease;
}

.response-option-text-container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.response-submitted-container{
  background-color: $grey;
}

.poll-jump-to-results {
  color: #51667E;
}

.poll-jump-to-results:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.7;
}

.poll-choice-shadow {
  box-shadow: 0 7px 14px 0 rgba(0,0,0,0.07)!important;
}

.poll-choice-shadow:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 22px 5px rgb(233, 235, 243) !important;
}

.poll-close-date {
  background: transparent;
  color: #FFB300;
}
.poll-choice-label{
  color: #212529;
  font-weight: bold;
  font-size:  small;
  transition: transform 0.5s ease, box-shadow 0.5s ease, margin 0.5s ease;
}
.selected {
  background: #FFFFFF;
  border: 2.5px solid #FFB300;
  box-shadow: 0 7px 14px 0 rgba(74,217,127,0.20);
  border-radius: 7px;
  margin-left: 20px;
  transform: translateY(-3px);
}

.poll-choice-selected-indicator {
  background: white;
  color: #FFB300;
  transition: border 0.5s ease, color 0.5s ease;
}

.poll-choice-unselected-indicator {
  color: #99A0A4;
  transition: border 0.5s ease, color 0.5s ease;
}

.poll-choice {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}


.poll-choice-unanswered {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.poll-choice-unanswered:hover{
  cursor: pointer;
}

.poll-choice-filled {
}

.poll-response-percent{
  font-weight: bold;
}

.dismiss-poll-button {
  font-size: 12px;
  border:none;
  text-decoration: underline;
  cursor: pointer;
}

::ng-deep .progress-bar{
  background-color: #28435A !important;
}

.response-inner-element {
  position: relative;
  height: 80px;
  transition: background-color 0.5s ease;
  pointer-events: none !important;
}
