<div class="card h-100 ml-2">
  <div class="chart-detail-header card-header d-flex">

    <div class="align-self-center mr-auto flex-grow-1">
      {{cardHeaderText}}
    </div>

    <div (click)="closeSidebar()" class="close-btn">
      <fa-icon [icon]="['far','times']"></fa-icon>
    </div>

  </div>

  <div class="p-2">
    <h4 *ngIf="!isCompanyChartType" class="mb-2 p-2">
      {{ (detailChartCategory$ | async)}}
    </h4>

    <pf-input-debounce
      [delay]="200"
      [disabled]="false"
      [placeholderText]="'Search for a Company...'"
      (valueChanged)="handleSearchValueChanged($event)"
      [resetValue$]="clearSearch$"    >
    </pf-input-debounce>
  </div>

  <div class="card-body">
    <ng-container
      *ngIf="(loadingDetailChartItems$ | async) || (detailChartItems$ | async)?.length > 0; else noDetailChartItems">
      <pf-async-container
        [loading]="loadingDetailChartItems$ | async"
        [loadingError]="loadingDetailChartItemsError$ | async"
        [loadingErrorMessage]="'Error loading participating companies.'">
        <div class="detail-item pt-2 pb-2" *ngFor="let chartItem of filteredChartItems">
          <pf-entity-description-popover
            [entityType]="getEntityType()"
            [entityName]="chartItem.Category"
            [entityId]="chartItem.Value"
            [placement]="'left left-top left-bottom auto'">
            <div class="detail-category d-flex">
                <div pfEllipsisActive class=" ellipsis-overflowing-text flex-grow-1 flex-column">
                  {{ chartItem.Category }}
                </div>
                <div class="flex-grow-1 flex-column text-align-right">
                  <span class="badge badge-light badge-pill font-size-100 ">
                    {{ chartItem.Count | humanizeNumber }}
                  </span>
                </div>
            </div>
          </pf-entity-description-popover>
        </div>
      </pf-async-container>
    </ng-container>

    <ng-template #noDetailChartItems>
      <div *ngIf="(detailChartType$ | async) != 'Company'" class="no-detail-items">No companies associated
        to {{ (detailChartCategory$ | async)}}.
      </div>
      <div *ngIf="(detailChartType$ | async) == 'Company'" class="no-detail-items">No {{companyParticipantType}}
        associated to {{ cardHeaderText }}.
      </div>
    </ng-template>

  </div>
</div>
