<div class="card h-100 ml-2">
  <div class="chart-detail-header card-header d-flex">

    <div class="align-self-center mr-auto flex-grow-1">
      {{cardHeaderText}}
    </div>

    <div (click)="closeSidebar()" class="close-btn">
      <fa-icon [icon]="['far','times']"></fa-icon>
    </div>

  </div>
  <div class="card-body">

    <h4 *ngIf="!isCompanyChartType" class="mb-2">
      {{ (detailChartCategory$ | async)}}
    </h4>

    <ng-container
      *ngIf="(loadingDetailChartItems$ | async) || (detailChartItems$ | async)?.length > 0; else noDetailChartItems">
      <pf-async-container
        [loading]="loadingDetailChartItems$ | async"
        [loadingError]="loadingDetailChartItemsError$ | async"
        [loadingErrorMessage]="'Error loading participating companies.'">
        <div class="detail-item pt-2 pb-2" *ngFor="let chartItem of (detailChartItems$ | async)">
          <pf-entity-description-popover
            [entityType]="getEntityType()"
            [entityName]="chartItem.Category"
            [entityId]="chartItem.Value"
            [placement]="'left left-top left-bottom auto'">
            <div class="detail-category">
              {{ chartItem.Category }}
            </div>
          </pf-entity-description-popover>
        </div>
      </pf-async-container>
    </ng-container>

    <ng-template #noDetailChartItems>
      <div *ngIf="(detailChartType$ | async) != 'Company'" class="no-detail-items">No companies associated
        to {{ (detailChartCategory$ | async)}}.
      </div>
      <div *ngIf="(detailChartType$ | async) == 'Company'" class="no-detail-items">No {{companyParticipantType}}
        associated to {{ cardHeaderText }}.
      </div>
    </ng-template>

  </div>
</div>
