<div class="dashboard-container" [ngClass]="isOpen ? 'opened' : 'closed'">

  <div class="header" [class.closed]="!isOpen" (click)="toggle()">
    <span>
      <fa-icon *ngIf="isOpen" class="icon open-icon" icon="chevron-double-right" size="lg"></fa-icon>
      <fa-icon *ngIf="!isOpen" class="icon close-icon" icon="chevron-double-left" size="lg"></fa-icon>
    </span>
    <span class="title" [class.vertical]="!isOpen">Payfactors Support Team</span>
  </div>

  <div class="content" [ngClass]="isOpen ? 'opened' : 'closed'">
    <div class="d-flex flex-column pt-3">
      <ng-container *ngFor="let user of supportTeamUsers">
        <pf-support-team
          [avatarUrl]="avatarUrl"
          [user]="user">
        </pf-support-team>
      </ng-container>
      <ng-container *ngFor="let user of staticSupportTeams">
        <div class="support-team-card">
          <div class="icon-container">
            <fa-icon class="icon" icon="exchange-alt"></fa-icon>
          </div>
          <div class="user-info">
            <div [ngSwitch]="user.Team" class="d-flex">
              <span class="name">{{user.TeamName}}</span>
              <fa-icon *ngSwitchCase="supportTeam.Compensation" icon="info-circle"
                       [ngbPopover]="compensation" triggers="mouseenter:mouseleave"
                       container="body" placement="left" class="info-icon">
              </fa-icon>
              <fa-icon *ngSwitchCase="supportTeam.Peer" icon="info-circle"
                       [ngbPopover]="compensation" triggers="mouseenter:mouseleave"
                       container="body" placement="left" class="info-icon">
              </fa-icon>
            </div>
            <a href="mailto:{{user.TeamEmail}}" title="{{user.TeamEmail}}" class="text">{{user.TeamEmail}}</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>

<ng-template #compensation>
  <div class="pop-content">
    <p><b>Contact Data Operations for:</b></p>
    <ul>
      <li>Job Descriptions</li>
      <li>Job Pricings</li>
    </ul>
  </div>
</ng-template>

<ng-template #peer>
  <div class="pop-content">
    <p><b>Contact the Peer team for:</b></p>
    <p>All Peer related inquiries</p>
  </div>
</ng-template>
