<div class="d-flex">
  <pf-multi-select-treeview
    *ngIf="!!(sizes$ | async)?.obj?.length"
    [data]="(sizes$ | async)?.obj"
    [label]="'Size'"
    [placeholder]="'All'"
    class="filter"
    (applyClicked)="handleSelectedSizesChanged($event)">
  </pf-multi-select-treeview>
  <pf-multi-select-treeview
    *ngIf="!!(industries$ | async)?.obj && !! !!(industries$ | async)?.obj?.length"
    [data]="(industries$ | async).obj"
    [label]="'Industry'"
    [placeholder]="'All'"
     class="filter"
    [compressChildValues]="true"
    (applyClicked)="handleIndustryFilterChanged($event)">
  </pf-multi-select-treeview>
</div>
