<div class="d-flex">
  <pf-multi-select-dropdown *ngIf="!!(sizes$ | async)?.obj?.length"
    [listItems]="(sizes$ | async)?.obj"
    [selectedValues]="(selectedSizes$ | async)"
    [placeholder]="'All'"
    [title]="'Size'"
    class="filter"
    (listItemsUpdated)="handleSelectedSizesChanged($event)">
  </pf-multi-select-dropdown>
  <pf-multi-select-treeview
    *ngIf="!!(industries$ | async)?.obj && !! !!(industries$ | async)?.obj?.length"
    [data]="(industries$ | async).obj"
    [label]="'Industry'"
    [placeholder]="'All'"
     class="filter"
    (applyClicked)="handleIndustryFilterChanged($event)">
  </pf-multi-select-treeview>
</div>
