<div class="form-group" *ngIf="(enableJobRangeTypes$ | async)" [formGroup]="rangeTypeForm">
  <label for="rangeType">Range Type</label>
  <div>
    <ng-container *ngFor="let type of metadata.RangeDistributionTypes">
      <label for="rangeType_{{type.Type}}" class="radio-inline mr-3"> 
        <input type="radio" id="rangeType_{{type.Type}}" [value]='type.Id' formControlName="RangeDistributionType" 
          (change)="handleRangeTypeChange(type)">
        {{type.Type}}
      </label>
    </ng-container>
  </div>
  <div class="rounding-group">                    
    <div *ngIf="activeRangeTypeTab==='Min/Mid/Max'">
            <div class="form-group row">
              <label class="col-3 mt-2">Based On</label>
              <kendo-combobox class="form-control col-5" 
                              [clearButton]="false"
                              [suggest]="true"
                              [allowCustom]="true">
              </kendo-combobox>
            </div>
            <div class="form-group row">
              <label class="col-3 mt-2">Minimum</label>
                <kendo-numerictextbox class="form-control col-5"
                                      id="range-spread-min"
                                      placeholder="Minimum"
                                      formControlName="Minimum"
                                      [ngClass]="{ 'is-invalid': attemptedSubmit && !formControls.Minimum.valid }"
                                      [format]="'n'"
                                      [spinners]="false"
                                      [decimals]="2"
                                      [max]="200"
                                      [min]="1"
                                      [autoCorrect]="true">
                </kendo-numerictextbox>
                <div class="invalid-feedback">
                  Please provide a range spread minimum.
                </div>
            </div>
            <div class="form-group row">
              <label class="col-3 mt-2">Midpoint</label>
              <kendo-combobox id="midpoint" class="form-control col-5"
                  formControlName="ControlPoint"
                  [ngClass]="{ 'is-invalid': attemptedSubmit && !formControls.ControlPoint.valid }"
                  [loading]="controlPointsAsyncObj.loading"
                  [data]="controlPoints"
                  [textField]="'Display'"
                  [valueField]="'FieldName'"
                  [clearButton]="false"
                  [valuePrimitive]="true"
                  [allowCustom]="false"
                  [placeholder]="'Select Midpoint'"
                  [filterable]="true"
                  (filterChange)="handleControlPointFilterChange($event)"
                  (selectionChange)="handleControlPointSelectionChange()">
              </kendo-combobox>
              <div class="invalid-feedback">
                Please select a midpoint.
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 mt-2">Maximum</label>
              <kendo-numerictextbox  class="form-control col-5"
                             placeholder="Maximum"
                             formControlName="Maximum"
                             [ngClass]="{ 'is-invalid': attemptedSubmit && !formControls.Maximum.valid }"
                             [format]="'n'"
                             [spinners]="false"
                             [decimals]="2"
                             [max]="200"
                             [min]="1"
                             [autoCorrect]="true">
              </kendo-numerictextbox>
              <div class="invalid-feedback">
                Please provide a range spread maximum.
              </div>
            </div>
      </div>
      <div *ngIf="activeRangeTypeTab==='Tertile'">
        <label>Tertile</label>
      </div>
      <div *ngIf="activeRangeTypeTab==='Quartile'">
        <label>Quartile</label>
      </div>
      <div *ngIf="activeRangeTypeTab==='Quintile'">
        <label>Quintile</label>
      </div>
  </div>
</div>