@import 'common/common-variables';
@import '../../styles/shared-styles';
@import '../../styles/shared-variables';

.results-header{
  height: $results-header-height;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  @extend %bottom-box-shadow;
}

.actions{
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;
  width: 190px;
}
