/* You can add global styles to this file, and also import other style files */
@import 'common/common-variables';
pf-service-page {
  .gridActionTemplate {
    border: none !important;
    padding: 0 !important;
  }

  .k-dropdown-wrap {
    background-color: #ffffff !important;
  }

  .k-dropdown > :hover {
    background: none !important;
  }

  .k-dropdown .k-state-focused {
    box-shadow: none !important;
  }

  .support-team-card {
    display: flex;
    padding: 0.5rem 1rem 1rem;

    .avatar {
      width: 50px !important;
      height: 50px !important;
      margin-top: 0.2rem;
      margin-right: 1rem;
    }

    .icon-container {
      width: 50px;
      padding-left: 0.5rem;
      margin-right: 1rem;
      margin-top: 0.2rem;
      .icon {
        font-size: 2.2rem;
        line-height: 2rem;
        color: #808080;
      }
    }

    .user-info {
      display: flex;
      flex-direction: column;

      .name {
        font-weight: 500;
        font-size: 16px;
        @extend %ellipsis-overflowing-text;
      }

      .text {
        @extend %ellipsis-overflowing-text;
        color: #6c757d;
      };

      .info-icon {
        color: grey;
        padding-top: 0.2rem;
      }
    }
  }
}

.view-only {
  .ql-editor  {
    padding: 0 !important;
  }
}

.ticket-notes {
  .ql-editor {
    padding: 12px 15px;
  }
}
