/* You can add global styles to this file, and also import other style files */
pf-service-page {
  .gridActionTemplate {
    border: none !important;
    padding: 0 !important;
  }

  .k-dropdown-wrap {
    background-color: #ffffff !important;
  }

  .k-dropdown > :hover {
    background: none !important;
  }

  .k-dropdown .k-state-focused {
    box-shadow: none !important;
  }
}
