/* You can add global styles to this file, and also import other style files */
pf-service-page {
  .k-grid {
    border: 1px solid #dee2e6;
  }

  .gridActionTemplate {
    border: none !important;
    padding: 0 !important;
  }
}
