<pf-page-with-title-bar>

  <ng-container page-title>
    Peer Exchanges
  </ng-container>

  <ng-container page-content>

    <pf-async-container
      [loading]="exchangeListLoading$ | async"
      [loadingError]="exchangeListLoadingError$ | async"
      [loadingErrorMessage]="'Error Loading Exchanges'"
      (reload)="handleExchangeGridReload()">

      <pf-exchange-grid
        [exchangeListItems]="exchangeListItems$ | async">
      </pf-exchange-grid>

    </pf-async-container>

  </ng-container>

</pf-page-with-title-bar>


