<div class="row mt-5">
  <div class="col-sm-4">
    <h5>{{sourceName}} Fields</h5>
    <div class="row">
      <div class="col">
        <pf-input-debounce [id]="'providerEntitySearch-' + entityType.toLowerCase()" [delay]="400"
          (valueChanged)="handleSearchTermChanged($event, 'provider')" [placeholderText]="'Search'" pfClickElsewhere>
        </pf-input-debounce>
      </div>
    </div>
    <div class="row my-3 provider-field-list" *ngIf="filteredProviderFields.length > 0">
      <div class="col">
        <div class="" [dragula]="entityGroupName" [dragulaModel]="filteredProviderFields" id="provider-entity">
          <div *ngFor="let field of filteredProviderFields" class="w-100 px-4 my-3 provider-field-list-item">
            <label
              class="p-2 m-0 entity w-100 ellipsis-overflowing-text align-middle" 
              [ngbTooltip]="field.FieldName"
              placement="top-left"
              container="body"
            >{{field.DisplayName}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <h5>{{targetName}} Fields</h5>
    <div class="row">
      <div class="col-7">
        <pf-input-debounce [id]="'payfactorsEntitySearch-' + entityType.toLowerCase()" [delay]="400"
          (valueChanged)="handleSearchTermChanged($event, 'payfactors')" [placeholderText]="'Search'" pfClickElsewhere>
        </pf-input-debounce>
      </div>
      <div *ngIf="entityType.toLowerCase() === 'employees'" class="col-5">
        <pf-date-format-dropdown [provider]="provider"
                                 [selectedDateFormat]="selectedDateFormat"
                                 (handleDateFormatSelected)="onDateFormatSelected($event)">
        </pf-date-format-dropdown>
      </div>
    </div>
    <div class="container-fluid my-3 border rounded pf-entity-table" *ngIf="filteredPayfactorsFields.length > 0">
      <div class="row border-bottom sticky-top pf-entity-table-header">
        <div class="col-1 px-2 py-3">&nbsp;</div>
        <div class="col-5 px-2 py-3 border-right"><h5>Field Name</h5></div>
        <div class="col-5 p-3"><h5>Mapped to</h5></div>
      </div>
      <div class="pf-entity-table-body">
        <div class="row py-2 payfactors-field-list-item"
          [class.border-top]="!isFirst"
          *ngFor="let field of filteredPayfactorsFields; index as i; first as isFirst"
          [dragula]="entityGroupName"
          [dragulaModel]="field.AssociatedEntity"
          [attr.payfactors-entity-id]="field.EntityFieldId">
          <div class="col-1 d-flex justify-content-center">
            <div ngbDropdown container="body">
              <h5 class="m-0 entity-btn-group btn" ngbDropdownToggle><fa-icon icon="ellipsis-h" class=""></fa-icon></h5>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
                <button ngbDropdownItem class="dropdown-item"
                  [disabled]="field.AssociatedEntity.length === 0"
                  (click)="removeAssociatedItem(field.EntityFieldId, field.AssociatedEntity[0])">
                  Clear Mapping
                </button>
                <button ngbDropdownItem  class="dropdown-item" *ngIf="field.DataType === importDataType.Date || field.DataType === importDataType.DateTime"
                  [disabled]="field.AssociatedEntity.length === 0"
                  (click)="showDataConverterModal(field)">
                  Date Format
                </button>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="w-100 d-flex d-inline-flex align-items-center">
              <label
                class="w-100 mb-0 ellipsis-overflowing-text"
                [class.font-weight-bold]="field.IsRequired"
                [ngbTooltip]="field.DisplayName"
                placement="top-left"
                container="body">
                {{field.DisplayName}}
              </label>
              <div style=" width: 21px; height: 31px;" class="mx-2" *ngIf="!field.HasDescription">&nbsp;</div>
              <fa-icon icon="info-circle" placement="left" [ngbTooltip]="field.Description" class="mx-2 info" container="body"
                style="font-size: 1.6rem;" *ngIf="field.HasDescription"></fa-icon>
            </div>
          </div>
          <div
            *ngIf="field.AssociatedEntity.length > 0"
            id="associated-entity"
            class="col-5 associated-field-item">
            <div class="w-100 d-flex flex-row align-items-center">
              <div
                class="mr-auto py-1 flex-grow-1 min-width-1"
                *ngFor="let associatedField of field.AssociatedEntity"
              >
                <label
                  class="w-100 mb-0 ellipsis-overflowing-text"
                  [ngbTooltip]="associatedField.DisplayName"
                  placement="top-left"
                  container="body"
                >{{associatedField.DisplayName}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5><b>Bolded</b> fields are required</h5>
  </div>
</div>
