@import 'legacy-variables';
@import 'colors';

.job-data-cuts-row{
  border-bottom: 1px solid #eeeeee;
}

.job-title{
  color: #006699;
  font-weight: bold;
}

.link{
  color: $link-color;
  cursor: pointer;
}

.job-cuts-table{
  width: 100%;
}

.payfactors-job-result:hover{
  background-color: $add-data-hover-background;
  cursor: pointer;
}
.selected-job-result{
  background-color: $add-data-selected-background;
}
