@import 'colors';

.job-data-cuts-row{
  border-bottom: 1px solid #eeeeee;
}

.job-title{
  color: #006699;
  font-weight: bold;
}

.link{
  color: $link-color;
  cursor: pointer;
}

.job-cuts-table{
  width: 100%;
}
