<div class="row">
  <div class="col-lg-12 col-xl-9">


<div class="data-set-selector exchange-selector">
  <label class="exchange-dropdown-label">Peer Exchange: </label>
  <kendo-dropdownlist
    (valueChange)="handleExchangeDataSetChanged($event)"
    class="form-control"
    textField="ExchangeName"
    valueField="ExchangeId"
    [data]="exchangeDataSets$ | async"
    [disabled]="(exchangeDataSets$ | async)?.length <= 1"
    [valuePrimitive]="true"
    [ngModel]="(workflowContext$ | async)?.activeExchangeDataSet?.ExchangeId">
  </kendo-dropdownlist>
</div>
Test Landing

  </div>
</div>
