.exchange-selector {
  kendo-dropdownlist {
    width: 200px;
  }
  .exchange-dropdown-label{
    position:absolute;
    top: -20px;
    right:215px;
    width:100px;
  }
}

.data-set-selector {
  display: flex;
  justify-content: flex-end;
  kendo-dropdownlist {
    position: absolute;
    top: -25px;
    right: 15px;
  }
}
