<div class="d-flex filter-header">
  <div>
    <div>Jobs: <strong>{{numberOfResults?.toLocaleString('en')}}</strong></div>
  </div>
  <div class="d-flex flex-row ml-auto">
    <div *ngIf="!singled" class="reset-filters" (click)="handleResetAllClicked()">
      Reset All
    </div>
    <div class="vertical-separator"></div>
    <div class="save-filters" [ngbPopover]="saveFiltersPopoverContent" triggers="manual"
      #popover="ngbPopover" container="body" placement="bottom" autoClose="false"
      (click)="openPopover(popover)">
      Save Filters
    </div>
  </div>
</div>

<ng-template #saveFiltersPopoverContent>
  <div>
    <div class="input-group">
      <input type="radio" name="savedFiltersPaymarket" [value]="true" [(ngModel)]="isForAllPayMarkets"> All PayMarkets
    </div>
    <div class="input-group">
      <input type="radio" name="savedFiltersPaymarket" [value]="false" [(ngModel)]="isForAllPayMarkets"> Current PayMarket Only
    </div>
    <div class="input-group d-flex">
      <button class="btn btn-secondary mr-2" (click)="handleSaveFilters(popover)">Save</button>
      <button class="btn btn-secondary" (click)="closePopover(popover)">Close</button>
    </div>
  </div>
</ng-template>
