@import 'search/filters-variables';
@import '../../styles/variables';

.filter-header{
  height: $filter-sidebar-header-height;
  color: #8B8B8B;
  padding: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 16px 0 #d6d6d6;
  display: flex;
  justify-content: space-between;
}

.reset-filters{
  @extend %reset-link;
  padding-top: .35rem;
}

