$red-delete: #910113;
$red-delete-hover: #D0021B;
$blue-text: #006699;
$blue-folder-text: #398CED;
$white: #ffffff;
$grey: #4a4a4a;
$blue-accent-button: #034F9E;
$blue-primary-button: #0366CC;
$button-shadow: rgba(0, 0, 0, 0.5);
$list-item-hover: rgba(74,74,74,.05);
$icon-color: rgb(194,194,194);
$resource-font: "Segoe UI", Arial, sans-serif;

.list-container {
  margin-left: 10px;
  margin-top: 20px;
  line-height: 36px;

  .cursor-pointer {
    cursor: pointer;
  }

  .title {
    &:hover,
    &.opened {
      font-weight: 500;
    }

    a {
      color: #000;
    }
  }

  .folder-text {
    width: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.background-container {
  &:hover, &.selected {
    background-color: #ebebed;
  }
}

.resource-in-folder {
  padding: 0.75rem 1.25rem 0.75rem 3.75rem;
}

.dropup .dropdown-toggle::after, .dropdown-toggle::after {
  display: none !important;
}

.title {
  &:hover,
  &.opened {
    font-weight: 500;
  }

  a {
    color: #000;
  }
}


.alert-container {
  margin-top: 1rem;
  text-align: center;

  .alert {
    width: 100%;
    margin-bottom: 0 !important;
  }
}

.empty-resource-item {
  padding-left: 38px;
}

