<div class="list-container">
    <ng-container *ngIf="folderResources">
        <ul class="fa-ul" *ngFor="let folderResource of folderResources">
            <li class="folder-item" [ngStyle]="{'font-weight': setFontWeight(folderResource.FolderName)}">
                <div class="folder-text" (click)="onFolderSelect(folderResource.FolderName)">
                    <span class="fa-li"><fa-icon icon="{{setFolderIcon(folderResource.FolderName)}}"></fa-icon></span>{{folderResource.FolderName}}
                </div>
                <button type="button" class="btn btn-danger" (click)="openDeleteResourceModal(folderResource)">Delete</button>
            </li>
            <ul [hidden]="folderStates[folderResource.FolderName]" class="resource-list">
                <ng-container *ngIf="folderResource.CompanyResources && folderResource.CompanyResources.length > 0; then resourceItem else emptyResourceItem"></ng-container>
                <ng-template #resourceItem>
                    <li class="resource-item" *ngFor="let resource of folderResource.CompanyResources">
                        <div class="resource-text">
                            <ng-container *ngIf="isLink(resource); then linkItem else fileItem"></ng-container>
                            <ng-template #linkItem>
                                <a href="{{resource.LinkUrl}}" target="_blank">{{resource.ResourceTitle}}</a>
                            </ng-template>
                            <ng-template #fileItem>
                                <a href="{{formatFileUrl(resource)}}">{{resource.ResourceTitle}}</a>
                            </ng-template>
                        </div>
                        <div class="icon-container">
                            <fa-icon class="resource-icon" icon="{{setResourceIcon(resource)}}"></fa-icon>
                            <button type="button" class="btn btn-danger" (click)="openDeleteResourceModal(resource)">Delete</button>
                        </div>
                    </li>
                </ng-template>
                <ng-template #emptyResourceItem>
                    <li class="resource-item font-italic text-muted">
                        <span>Empty</span>
                    </li>
                </ng-template>
            </ul>    
        </ul>
    </ng-container>
    <ng-container *ngIf="orphanedResources">       
        <ul class="orphan-list">
            <li class="resource-item" *ngFor="let orphanResource of orphanedResources">  
                <div class="resource-text">
                    <ng-container *ngIf="isLink(orphanResource); then orphanLinkItem else orphanFileItem"></ng-container>
                    <ng-template #orphanLinkItem>
                        <a href="{{orphanResource.LinkUrl}}" target="_blank">{{orphanResource.ResourceTitle}}</a>
                    </ng-template>
                    <ng-template #orphanFileItem>
                        <a href="{{formatFileUrl(orphanResource)}}">{{orphanResource.ResourceTitle}}</a>
                    </ng-template>
                </div>
                <div class="icon-container">
                    <fa-icon class="resource-icon" icon="{{setResourceIcon(orphanResource)}}"></fa-icon>
                    <button type="button" class="btn btn-danger" (click)="openDeleteResourceModal(orphanResource)">Delete</button>
                </div>
            </li>
        </ul>
    </ng-container>
</div>
