<ng-template #popContent>
  <div class="column-list-container">
    <p>
      <pf-input-debounce id="column-search-box" (valueChanged)="(filter = $event)" [(ngModel)]="columnSearchTerm" [placeholderText]="'Search for a Column...'"></pf-input-debounce>
    </p>
    <div class="column-list" *ngIf="!loading && !(listAreaColumns | listAreaColumnSearch: filter).length;else column_list">
      <h5>No Columns</h5>
    </div>
    <pf-async-container [loading]="loading"></pf-async-container>
  </div>
  <div class="footer d-flex justify-content-end p-2">
    <button (click)="saveButtonClicked()" class="btn btn-primary">Save</button>
  </div>
</ng-template>
<button title="Choose Columns" type="button" id="column-popover-btn" class="btn btn-secondary"
        placement="bottom-right"  #columnPopover="ngbPopover" popoverTitle="Choose Columns"
        [ngbPopover]="popContent" (hidden)="onHidden()" [autoClose]="'outside'">
  <fa-icon icon="table"></fa-icon>
</button>

<ng-template #column_list>
  <ul *ngIf="!loading" class="column-list">
    <ng-container *ngFor="let listAreaColumn of listAreaColumns | listAreaColumnSearch: filter">
        <li *ngIf="listAreaColumn.ColumnDatabaseName !== 'PublicView'" class="column-item">
            <input type="checkbox" [ngModel]="listAreaColumn.Visible" [disabled]="listAreaColumn.Required" (change)="columnChecked(listAreaColumn, $event.target.checked);">
            <span class="column-text">{{listAreaColumn.ColumnDisplayName}}</span>
        </li>
        <li *ngIf="listAreaColumn.ColumnDatabaseName === 'PublicView' && canRestrictJobDescriptionFromPublicView" class="column-item">
            <input type="checkbox" [ngModel]="listAreaColumn.Visible" (change)="columnChecked(listAreaColumn, $event.target.checked);">
            <span class="column-text">{{listAreaColumn.ColumnDisplayName}}</span>
        </li>
    </ng-container>
</ul>
</ng-template>
