.column-list {
  overflow-y: auto;
  min-height: 300px;
  max-height: 300px;
  list-style: none;
  -webkit-padding-start: 0px;
  font-size: 13px;
}

.column-list-container {
  padding: 9px 14px;
  width: 260px;
}

.column-item {
  padding-bottom: 3px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;

  input, .column-text {
    vertical-align: middle;
  }

  .column-text {
    padding-left: 3px;
  }
}

.footer {
  border-top: 1px solid #CCC;
  background: #f7f7f7
}
