<div class="d-flex justify-content-center">
  <div *ngIf="dataRow.CompanyJobs_Pricings_CompanyJobPricing_ID; else noValue" class="d-flex w-100 justify-content-center"
      [title]="dataRow.CompanyPayMarkets_Linked_PayMarket_Name | modifyPricingError : isActiveJob">
      <ng-container *ngIf="!dataRow.CompanyPayMarkets_Linked_PayMarket_Name; else noValue">
        <kendo-numerictextbox
          class="form-control-sm right px-1 input-height-auto"
          [(ngModel)]="adjPct"
          [title]="(adjPct > 999 || adjPct < -999 ? adjPct : '')"
          [disabled]="!!(dataRow.CompanyPayMarkets_Linked_PayMarket_Name | modifyPricingError : isActiveJob)"
          [spinners]="false"
          [decimals]="'0'"
          [format]="'#'"
          [min]="-999999999999"
          [max]="999999999999"
          [autoCorrect]="true"
          [placeholder]="0"
          (change)="updatePricingMatch()">
        </kendo-numerictextbox>
      </ng-container>
    </div>
</div>

<ng-template #noValue>
  - -
</ng-template>
