@import 'common/common';
@import 'common/common-variables';
@import 'data-insights-variables';

.dashboards {
  padding: 0 75px;

  .top-bar {
    height: 60px;
    position: relative;

    .dashboards-title {
      text-transform: uppercase;
      text-align: center;
      font-size: 1.5rem;
      color: $dark-grey;

      span {
        padding: 0.375rem 0.75rem;
      }
    }

    .error-message {
      position: absolute;
      left: 15px;
      top: 15px;
    }
  }

  .workbook-card {
    cursor: move;
  }
}

/*** DragulaModule: https://github.com/valor-software/ng2-dragula ***/
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
