@import 'common/common';
@import 'common/common-variables';
@import 'data-insights-variables';
@import 'data-insights-styles';
@import 'libs/styles/dragula-drag-drop';

.dashboards {

  .workbooks-container {
    padding: 0 75px 30px;
  }

  .workbook-card {
    cursor: move;
  }

  .view-container {
    margin: 2rem;
  }
}

@media (max-width: 767.98px) {
  .dashboard-actions {
    justify-content: space-between !important;
  }

  .tag-container {
    position: relative !important;
  }
}

@media (min-width: 1600px) {
  .col-xxl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.no-records-found {
  text-align: center;
  vertical-align: middle;
}
