<ng-container *ngIf="(companyWorkbooksAsync$ | async) as companyWorkbooksAsync">
  <pf-async-container
    [loading]="companyWorkbooksAsync.loading"
    [loadingError]="companyWorkbooksAsync.loadingError"
    [loadingErrorMessage]="'Error Loading Dashboards'"
    [hideReloadButton]="true">
  </pf-async-container>

  <pf-dashboards-header
    [title]="'All Dashboards'"
    [dashboardViews]="dashboardViews"
    [selectedDashboardView]="(selectedDashboardView$ | async)"
    [hasFavorites]="anyFavorites"
    [tagsEnabled]="true"
    (selectedDashboardViewChanged)="handleSelectedDashboardViewChanged($event)">
  </pf-dashboards-header>

  <div class="no-records-found" *ngIf="!companyWorkbooksAsync.loading && !companyWorkbooksAsync.obj.length">
    <img src="/client/data-insights/assets/img/no-reports.png">
  </div>

  <div *ngIf="filteredCompanyWorkbooks" class="dashboards h-100 d-flex flex-column">
    <div class="workbooks-container row" dragula="workbooks" [(dragulaModel)]="filteredCompanyWorkbooks">

      <ng-container *ngIf="filteredCompanyWorkbooks?.length">
        <div *ngFor="let workbook of filteredCompanyWorkbooks; trackBy: trackByFn"
              class="col-xs-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 workbook-card">

          <ng-container *ngIf="workbook.Type === reportTypes.TableauReport">
            <pf-tableau-workbook-card [workbook]="workbook"></pf-tableau-workbook-card>
          </ng-container>

          <ng-container *ngIf="workbook.Type === reportTypes.DataView">
            <pf-dataview-workbook-card [workbook]="workbook"></pf-dataview-workbook-card>
          </ng-container>

        </div>
      </ng-container>

    </div>
  </div>
</ng-container>

<pf-tag-workbook-modal
  [selectedWorkbook]="(activeWorkbook$ | async)"
  [saving]="savingTag$ | async"
  [tags]="tags$ | async"
  (saveClicked)="handleSaveTagClicked($event)"
  (closed)="handleTagModalClosed()">
</pf-tag-workbook-modal>
