@import 'common/common';
@import 'common/common-variables';
@import 'data-insights-variables';

.dashboards {
  padding: 0 75px;

  .top-bar {
    height: 60px;

    .title {
      text-transform: uppercase;
      text-align: center;
      font-size: 1.5rem;
      color: $dark-grey;

      span {
        padding: 0.375rem 0.75rem;
      }
    }
  }
}

