<pf-modal-form
  modalId="redrop-confirmation-modal"
  size="md"
  title="Confirm Re-Drop"
  primaryButtonText="Re-Drop"
  secondaryButtonText="Back"
  primaryButtonTextSubmitting="Re-Dropping..."
  [isOpen$]="modalOpen$"
  [submitting]="(isRedropInProgress$ | async).loading"
  (onSubmit)="redropExportedSourceFile()"
  (onDismiss)="handleDismissRedropConfirmationModal()"
>
  <ng-container basic-content>
    <div class="alert alert-warning" role="alert">
      Are you sure you would like to re-drop the files for Load ID {{selectedCompositeDataLoadId}}?
    </div>
  </ng-container>
</pf-modal-form>
