// Colors
$grey: #e9eaed;

// Borders
$border-grey: #d0d0d0;

// Elements
$link-color: #006699;

// Hover
$selection-hover-background: rgba(0, 0, 0, 0.075);
$add-data-hover-background: #D4D4D4;

// Selections
$selected-item-background-color: rgba(0, 123, 255, 0.25);

$body-background-color: #1f2f3d;
$loading-backround-color: #ffffff;
$header-background-color: rgba($body-background-color, 0.9);
$left-sidebar-color: #283B4A;
$left-sidebar-text-color: rgba(255,255,255, .30);
$right-sidebar-color: #283B4A;
$switch-on-color: #0883BE;
$switch-off-color: #e4e7eb;
$inactive-button-color: #B9B9B9;

$timeline-panel-button-color: $switch-on-color;
$timeline-body-background-color: #f5f5f6;

$tile-blue-color: rgba(8, 131, 190, .85);
$tile-light-blue-color: rgba(110, 170, 200, .85);
$tile-green-color: rgba(125, 181, 119, .85);

$user-voice-icon-color: #FFB300;

$tile-chart-label-color: #FFF;
$tile-chart-button-color: $inactive-button-color;

$tile-list-header-color: #FFA500;
$tile-list-button-text-color: #1F2F3D;
$tile-list-button-background-color: #FFFFFF;

$highlight-icon-color: #FFF;
$highlight-icon-bg-color: #FFB300;

$auth-header-text-color: #FFB300;

$community-like-button-color: #294F75;
$community-tag-color: #ECF0F5;
$community-tag-icon-color: #808080;
$community-icon-color: #808080;
$community-user-name-text-color: #51667E;
$community-sub-text-color: #99A0A4;
