// Colors
$grey: #e9eaed;

// Brand
$pf-brand-primary-color: #ffb300;
$pf-brand-secondary-color: #0883BE;
$pf-brand-tertiary-color: #dc1e34;
$pf-brand-primary-accent-color: #121B25;
$pf-brand-secondary-accent-color: #243D53;

// Theme colors
// Job-details-next-gen
$theme-header: #087DB5;
$sub-grid-accent-color: #F7F7F9;
$theme-grid-line-color: rgba(201, 201, 201, 0.4);

// Additional Colors
$pf-additional-colors-green: #009900;

// Borders
$border-grey: #e8e8e8;

// Elements
$link-color: #006699;
$detail-label: #666666;

// Hover
$selection-hover-background: rgba(0, 0, 0, 0.075);
$light-hover-background: #e6e6e6;

// Selections
$selected-item-background-color: rgba(0, 123, 255, 0.25);
$selected-item-light-background-color: #F0F0F0;

// Header
$header-color: #306589;

$body-background-color: #1f2f3d;
$loading-background-color: #fff;
$header-background-color: rgba($body-background-color, 0.9);
$left-sidebar-color: #283B4A;
$left-sidebar-text-color: #DEE6ED;
$right-sidebar-color: #283B4A;
$switch-on-color: #0883BE;
$switch-off-color: #e4e7eb;
$inactive-button-color: #B9B9B9;

// Data Grid
$data-grid-filter-pills-color: #292b2c;
$data-grid-filter-pills-background-color: rgba(255, 193, 7, 0.37);
$data-grid-filter-panel-background-color: #f7f7f9;

// Colors
$pf-primary-blue: #0099CC;
$pf-disabled-grey: #9e9e9e;

$pf-secondary-background: #ffffff;
$pf-secondary-background-hover: #eaeaea;
$pf-secondary-border: #666666;
$pf-secondary-border-disabled: #999999;
$pf-secondary-text: #333333;
$pf-secondary-text-disabled: #999999;

$legacy-green: #339900;
$pf-secondary-text-disabled: #999999;

$actions-mask-overlay: #aeaeae;
$solid-star-color: #ffb300;

// Color Classes
// Brand
.pf-brand-primary-color {
  color: $pf-brand-primary-color;
}

.pf-brand-secondary-color {
  color: $pf-brand-secondary-color;
}

.pf-brand-tertiary-color {
  color: $pf-brand-tertiary-color;
}
