// Colors
$grey: #e9eaed;

$pf-brand-primary-color: #ffb300;
$pf-brand-secondary-color: #0883BE;
$pf-brand-primary-accent-color: #121B25;
$pf-brand-secondary-accent-color: #243D53;

// Borders
$border-grey: #e8e8e8;

// Elements
$link-color: #006699;

// Hover
$selection-hover-background: rgba(0, 0, 0, 0.075);

// Selections
$selected-item-background-color: rgba(0, 123, 255, 0.25);

$body-background-color: #1f2f3d;
$loading-backround-color: #ffffff;
$header-background-color: rgba($body-background-color, 0.9);
$left-sidebar-color: #283B4A;
$left-sidebar-text-color: rgba(255,255,255, .30);
$right-sidebar-color: #283B4A;
$switch-on-color: #0883BE;
$switch-off-color: #e4e7eb;
$inactive-button-color: #B9B9B9;

$timeline-panel-button-color: $switch-on-color;
$timeline-body-background-color: #f5f5f6;

$tile-blue-color: rgba(8, 131, 190, .85);
$tile-light-blue-color: rgba(110, 170, 200, .85);
$tile-green-color: rgba(125, 181, 119, .85);

$user-voice-icon-color: #FFB300;

$tile-chart-label-color: #FFF;
$tile-chart-button-color: $inactive-button-color;

$tile-list-header-color: #FFA500;
$tile-list-button-text-color: #1F2F3D;
$tile-list-button-background-color: #FFFFFF;

$highlight-icon-color: #FFF;
$highlight-icon-bg-color: #FFB300;

$auth-header-text-color: #FFB300;

$community-like-button-color: #294F75;
$community-tag-color: #ECF0F5;
$community-hashtag-color: rgb(64, 171, 221);
$community-tag-icon-color: #808080;
$community-icon-color: #808080;
$community-user-name-text-color: #51667E;
$community-sub-text-color: #99A0A4;
$community-poll-draft: #A3A3A3;
$community-poll-live: #6D9F6C;
$community-poll-archived: #0973A8;
$community-poll-option-color: rgb(153, 193, 212);
$community-poll-expired-tag-color: rgb(241, 94, 94);
$community-invalid-field-color: salmon;
$community-categories-header: #111;
$community-categories-body: #555;
$community-categories-border: #d9d9d9;
$community-job-button-color: #0883be;
$community-tab-color: rgba(31, 47, 61, .9);
$community-tab-active-color: #0883BE;
$community-tags-header-color: #111;
$community-tags-body-color: #555;
$community-tags-border-color: #ebe7e7;
$community-tags-line-color: #eee;
$community-tags-hover-color: #0883be;
$community-preview-tile-chart-color: #F5B312;
