$grey: #e9eaed;
$border-grey: #d0d0d0;

$loading-backround-color: #ffffff;
$header-background-color: rgba(31, 47, 61, 0.9);
$left-sidebar-color: #283B4A;
$right-sidebar-color: #283B4A;

$timeline-panel-button-color: #0883BE;
$timeline-body-background-color: #f5f5f6;

$tile-blue-color: rgba(8, 131, 190, .85);
$tile-light-blue-color: rgba(110, 170, 200, .85);
$tile-green-color: rgba(125, 181, 119, .85);

$user-voice-icon-color: #FFB300;
