.flex-column-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-grow-1{
  flex-grow: 1;
}

.flex-grow-2{
  flex-grow: 2;
}

.flex-column.flex-column-half {
  width: 48%;
}
