@import "_colors";

.k-button.k-primary[disabled] {
  &:hover,
  &.k-state-hover {
    background: none;
    color: inherit;
    cursor: not-allowed;
  }
}

.k-filter-menu .k-dropdown .k-dropdown-wrap {
  border-color: $border-grey;
}

// To be used as the class of the kendo-switch to allow for longer labels.
.k-switch.k-switch-sm {
  width: 7em;
  font-size: .5rem;
}

.k-switch-lg.k-switch {
  width: 7rem;

  .k-switch-label-on {
    white-space: nowrap;
    text-align: center;
  }
  .k-switch-label-off {
    white-space: nowrap;
    text-align: center;
  }
}

// Kendo Grid
.k-grid-content, .k-grid-footer-wrap, .k-grid-header-wrap {
  flex-basis: 100%;
}

.k-grid-header .k-header:first-child,  .k-grid th {
  border-left-width: 1px;
}


kendo-tabstrip.tabstrip-no-borders > .k-content {
  border-width: 0;
}

kendo-tabstrip.bold-tabs .k-tabstrip-items {
  font-weight: bold;
}

.k-grid.no-grid-data tbody tr:hover {
  background: white;
}
