@import "_colors";

// Buttons
.k-button.k-primary[disabled] {
  &:hover,
  &.k-state-hover {
    background: none;
    color: inherit;
    cursor: not-allowed;
  }
}

// Dropdown
.k-dropdown.k-dropdown-white {
  .k-dropdown-wrap {
    background: #ffffff;

    &:hover {
      background-color: $selected-item-light-background-color;
    }
  }
}

:host ::ng-deep .k-dropdown.k-dropdown-with-id {
  .k-dropdown-item{
    width: 100%;
    .k-item-name-display {
      float: left;
      width: 70%;
    }

    .k-item-id-display {
      float: right;
      text-align: right;
      width: 30%;
      color: #C3C3C3;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}


.k-filter-menu .k-dropdown .k-dropdown-wrap {
  border-color: $border-grey;
}

// To be used as the class of the kendo-switch to allow for longer labels.
.k-switch.k-switch-sm {
  width: 7em;
  font-size: .5rem;
}

.k-switch-lg.k-switch {
  width: 7rem;

  .k-switch-label-on {
    white-space: nowrap;
    text-align: center;
  }
  .k-switch-label-off {
    white-space: nowrap;
    text-align: center;
  }
}

// Kendo Grid
.k-grid-content, .k-grid-footer-wrap, .k-grid-header-wrap {
  flex-basis: 100%;
}

.k-grid-header .k-header:first-child,  .k-grid th {
  border-left-width: 1px;
}

.k-grid-header .k-with-icon, .k-grid-header .k-filterable {
  padding-right: calc(2px + 0.75rem + 1.5em + 0.5rem);
}


kendo-tabstrip.tabstrip-no-borders > .k-content {
  border-width: 0;
}

kendo-tabstrip.bold-tabs .k-tabstrip-items {
  font-weight: bold;
}

.k-grid.no-grid-data tbody tr:hover {
  background: white;
}
