@import './common/common';
@import '~@progress/kendo-theme-bootstrap/scss/_variables';

:host ::ng-deep .k-widget.k-grid{
  height: 100%;
}

:host ::ng-deep .k-grid tbody td{
  border-left-width: 0;
  border-top: 1px solid #eceeef;
}

:host ::ng-deep .k-grid {
  &.row-click-navigates tbody, &.row-click-selects tbody {
    cursor: pointer;
  }
}

:host ::ng-deep .k-grid:not(.no-grid-data) tbody tr {
  &:not(.row-disabled) {
    &:hover.k-state-selected {
      background-color: rgba( $selected-bg, .25 );
    }
    &:not(.k-state-selected), &.k-alt:not(.k-state-selected) {
      &:hover {
        background-color: rgba(0,0,0,.075);
      }
    }
  }
  &.row-disabled {
    @extend %disabled-row;
  }
}

:host ::ng-deep .k-grid .k-alt:not(.k-state-selected) {
  background: none;
}

:host ::ng-deep .k-grid-header-wrap{
  font-weight:bold;
  background: #FFFFFF;
}

:host ::ng-deep .k-pager-wrap{
  min-height: 44px;
}

:host ::ng-deep .k-grid.no-wrap-ellipsis-values tbody td{
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host ::ng-deep .k-pager-wrap .k-link{
  padding: 0.4rem;
}

:host ::ng-deep .k-grid {
  background-color: white;
}
