@import "_colors";

// Buttons
.k-button.k-primary[disabled] {
  &:hover,
  &.k-state-hover {
    background: none;
    color: inherit;
    cursor: not-allowed;
  }
}

// Dropdown
.k-dropdown.k-dropdown-white {
  .k-dropdown-wrap {
    background: #ffffff;

    &:hover {
      background-color: $selected-item-light-background-color;
    }
  }
}

:host ::ng-deep .k-dropdown.k-dropdown-with-id {
  .k-dropdown-item{
    width: 100%;
    .k-item-name-display {
      float: left;
      width: 70%;
    }

    .k-item-id-display {
      float: right;
      text-align: right;
      width: 30%;
      color: #C3C3C3;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.kendoTooltipWhiteTheme .k-callout {
  background-color: transparent;
  color: white;
}

.kendoTooltipWhiteTheme  .k-widget.k-tooltip{
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.k-numerictextbox {
  &.right {
    input {
      text-align: right;
    }
  }

  &.left {
    input {
      text-align: left;
    }
  }
}

.k-filter-menu .k-dropdown .k-dropdown-wrap {
  border-color: $border-grey;
}

// To be used as the class of the kendo-switch to allow for longer labels.
.k-switch.k-switch-sm {
  width: 7em;
  font-size: .5rem;
}

.k-switch-lg.k-switch {
  width: 7rem;

  .k-switch-label-on {
    white-space: nowrap;
    text-align: center;
  }
  .k-switch-label-off {
    white-space: nowrap;
    text-align: center;
  }
}

// Kendo Grid
.k-grid-content, .k-grid-footer-wrap, .k-grid-header-wrap {
  flex-basis: 100%;
}

.k-grid-header .k-header:first-child,  .k-grid th {
  border-left-width: 1px;
}

.k-grid-header .k-with-icon, .k-grid-header .k-filterable {
  padding-right: calc(2px + 0.75rem + 1.5em + 0.5rem);
}


kendo-tabstrip.tabstrip-no-borders > .k-content {
  border-width: 0;
}

kendo-tabstrip.bold-tabs .k-tabstrip-items {
  font-weight: bold;
}

.k-grid.no-grid-data tbody tr:hover {
  background: white;
}

/* This is a fix for when bootstrap overrides kendo input defaults and the rule below ends up not being applied */
.k-combobox-clearable .k-input {
  padding-right: calc( 16px + 1rem) !important;
}

// TODO: Remove this override
// Temporary override until we can upgrade kendo-theme-bootstrap to 4.x+
// This is currently blocked by the removal of node-sass. Upgraded kendo grid has a select dropdown that is not
// hidden as part of the pager.
.k-pager-numbers-wrap select.k-dropdown {
  display: none;
}
