// Toastr overrides
.toast-container {

  .ngx-toastr {
    padding: 0;
  }

  .toast-info,
  .toast-success,
  .toast-warning,
  .toast-error {
    background-image: none;
    background-color: white;
  }

  .toast-close-button {
    right: 15px;
    top: 0.3em;
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }

  .toast-title {
    background-color: #404040;
    color: #ffffff;
    padding: 15px 30px 15px 15px;
    font-size: 14px;
    font-weight: 500;
  }

  .toast-message {
    padding: 10px 15px;
    color: #404040;

    a, label {
      color: #404040;
    }
  }

  .message-container {
    display: flex;
    padding: 10px 0;
    align-items: center;
  }

  .file-excel-icon {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden%3D%22true%22%20data-prefix=%22fas%22%20data-icon=%22file-excel%22%20class=%22svg-inline--fa fa-file-excel fa-w-12%22%20xmlns=%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox=%220 0 384 512%22%3E%3Cpath fill=%22%23404040%22 d=%22M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm60.1 106.5L224 336l60.1 93.5c5.1 8-.6 18.5-10.1 18.5h-34.9c-4.4 0-8.5-2.4-10.6-6.3C208.9 405.5 192 373 192 373c-6.4 14.8-10 20-36.6 68.8-2.1 3.9-6.1 6.3-10.5 6.3H110c-9.5 0-15.2-10.5-10.1-18.5l60.3-93.5-60.3-93.5c-5.2-8 .6-18.5 10.1-18.5h34.8c4.4 0 8.5 2.4 10.6 6.3 26.1 48.8 20 33.6 36.6 68.5 0 0 6.1-11.7 36.6-68.5 2.1-3.9 6.2-6.3 10.6-6.3H274c9.5-.1 15.2 10.4 10.1 18.4zM384 121.9v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 17.9z%22%2F%3E%3C%2Fsvg%3E");
    max-width: 14px;
    min-width: 14px;
    height: 19px;
  }

  .file-pdf-icon {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden=%22true%22%20data-prefix=%22fas%22%20data-icon=%22file-pdf%22 class=%22svg-inline--fa fa-file-pdf fa-w-12%22 role=%22img%22 xmlns=%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox=%220 0 384 512%22%3E%3Cpath fill=%22%23d86344%22 d=%22M181.9 256.1c-5-16-4.9-46.9-2-46.9 8.4 0 7.6 36.9 2 46.9zm-1.7 47.2c-7.7 20.2-17.3 43.3-28.4 62.7 18.3-7 39-17.2 62.9-21.9-12.7-9.6-24.9-23.4-34.5-40.8zM86.1 428.1c0 .8 13.2-5.4 34.9-40.2-6.7 6.3-29.1 24.5-34.9 40.2zM248 160h136v328c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V24C0 10.7 10.7 0 24 0h200v136c0 13.2 10.8 24 24 24zm-8 171.8c-20-12.2-33.3-29-42.7-53.8 4.5-18.5 11.6-46.6 6.2-64.2-4.7-29.4-42.4-26.5-47.8-6.8-5 18.3-.4 44.1 8.1 77-11.6 27.6-28.7 64.6-40.8 85.8-.1 0-.1.1-.2.1-27.1 13.9-73.6 44.5-54.5 68 5.6 6.9 16 10 21.5 10 17.9 0 35.7-18 61.1-61.8 25.8-8.5 54.1-19.1 79-23.2 21.7 11.8 47.1 19.5 64 19.5 29.2 0 31.2-32 19.7-43.4-13.9-13.6-54.3-9.7-73.6-7.2zM377 105L279 7c-4.5-4.5-10.6-7-17-7h-6v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-74.1 255.3c4.1-2.7-2.5-11.9-42.8-9 37.1 15.8 42.8 9 42.8 9z%22%2F%3E%3C%2Fsvg%3E");
    max-width: 14px;
    min-width: 14px;
    height: 19px;
  }

  .check-circle-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20aria-hidden=%22true%22%20data-prefix=%22fas%22%20data-icon=%22check-circle%22%20class=%22svg-inline--fa fa-check-circle fa-w-16%22%20xmlns=%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox=%220 0 512 512%22%3E%3Cpath fill=%22%2328a745%22 d=%22M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z%22%2F%3E%3C%2Fsvg%3E");
    min-width: 19px;
    max-width: 19px;
    height: 19px;
  }

  .alert-triangle-icon {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='exclamation-triangle' class='svg-inline--fa fa-exclamation-triangle fa-w-18' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23d60f0f' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    min-width: 25px;
    max-width: 30px;
    height: 17px;
  }
}
