<div *ngIf="systemPermissions;else no_role">
    <ul class="list-group nav">
      <li class="nav-item pt-2 parentPermission" *ngFor="let prm of systemPermissions">
        <input type="checkbox" [attr.data-qa-id]="'chk-' + prm.SystemPermissionId" [disabled]="disableCheckboxes"  (change)="handleCheckBoxCheck(prm)" [checked]="prm.IsChecked"/>
        {{prm.Name}}
        <ul class="list-group nav">
          <li class="nav-item pl-2 subPermission" *ngFor="let cprm of prm.ChildPermission | visiblePermission">
              <input type="checkbox" [attr.data-qa-id]="'chk-' + cprm.SystemPermissionId" [disabled]="disableCheckboxes || !prm.IsChecked" (change)="handleCheckBoxCheck(cprm)" [checked]="cprm.IsChecked"/>
              {{cprm.Name}}
          </li>
        </ul>
      </li>
    </ul>
</div>

<ng-template #no_role>
  <div>
    <h4>Please select a role from the role list.</h4>
  </div>
</ng-template>
