<ng-container *ngIf="canAddAttachments || attachments?.length">
  <hr>
  <div class="d-flex">
    <div class="ticket-labels"><h6 class="attachment-label">Attachments</h6>
      <fa-icon *ngIf="canAddAttachments && isTicketClosed"
               icon="info-circle"
               [ngbPopover]="closedMessage"
               triggers="mouseenter:mouseleave"
               container="body"
               placement="right"
               class="info-icon">
      </fa-icon>
    </div>
    <div class="attachments-container w-100">
      <kendo-upload class="mb-2"
                    *ngIf="canAddAttachments && !isTicketClosed"
                    [multiple]="true"
                    [saveUrl]="uploadSaveUrl"
                    [restrictions]="uploadRestrictions"
                    (select)="onFileSelect($event)"
                    (success)="handleUploadSuccess($event)">
        <kendo-upload-messages select="Browse"></kendo-upload-messages>
      </kendo-upload>
      <div *ngIf="!!attachments" class="d-flex flex-wrap attachments-list">
        <div class="attachment" *ngFor="let attachment of attachments">
          <fa-icon *ngIf="attachment.FileType === attachmentFileType.Word" icon="file-word" class="icon word"></fa-icon>
          <fa-icon *ngIf="attachment.FileType === attachmentFileType.Pdf" icon="file-pdf" class="icon pdf"></fa-icon>
          <fa-icon *ngIf="attachment.FileType === attachmentFileType.Excel" icon="file-excel" class="icon excel"></fa-icon>
          <fa-icon *ngIf="attachment.FileType === attachmentFileType.Image" icon="file-image" class="icon image"></fa-icon>
          <fa-icon *ngIf="attachment.FileType === attachmentFileType.Unknown" icon="file" class="icon file"></fa-icon>
          <a href="/odata/CloudFiles.DownloadUserTicketAttachment?AttachmentId={{attachment.Id}}&TicketID={{attachment.UserTicketId}}">{{attachment.DisplayName}}</a>
        </div>
      </div>
      <ng-container *ngIf="uploadError">
        <div class="custom-control invalid-feedback">
          <ng-container *ngIf="!!sameFileErrorMessage">
            <fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>
            {{ sameFileErrorMessage }}
          </ng-container>
          <ng-container *ngIf="!!errorMessage">
            {{ errorMessage }}
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #closedMessage>
  <div class="pop-content">
    You are not able to add attachments to a closed ticket. Please create a new ticket.
  </div>
</ng-template>
