.ticket-labels {
  width: 10rem;
  display: flex;

  .info-icon {
    color: grey;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
  }
}

.pop-content {
  padding: 0.5rem 1rem;
}

.attachment-label {
  margin-top: 0.375rem;
}

.attachments-list {
  padding-bottom: 0.5rem;
  bottom: 18px;
}

.attachment {
  padding: 0.5rem 1.5rem 0.5rem 0;
  display: flex;

  .icon {
    font-size: 16px;
    margin-right: 0.5rem;
    line-height: 1.5rem;

    &.word {
      color: #4d82B8;
    }
    &.pdf {
      color: #D86344;
    }
    &.excel {
      color: #76A797;
    }
    &.image {
      color: #D65532;
    }
    &.file {
      color: #B3B3B3;
    }
  }
}
