<pf-modal-form
  size="md"
  title="Save Peer Trend"
  primaryButtonText="Save"
  secondaryButtonText="Cancel"
  primaryButtonTextSubmitting="Saving..."
  [submitting]="(savingPeerTrend$ | async).saving"
  [formGroup]="savePeerTrendForm"
  [isOpen$]="showModal$"
  (onDismiss)="handleSaveModalDismissed(false)"
  (onSubmit)="handleSaveModalDismissed(true)"
  >

  <ng-container form-content>
    <div class="form-group">
      <label class="col-form-label" for="trend-name-input">Name</label>
      <input type="text" class="form-control" placeholder = "Name the Trend" formControlName="name" id="trend-name-input" pfFocus [maxLength]="150"/>
      <div *ngIf="peerTrendNameControl.errors?.peerTrendNameExists" class="text-danger d-flex"> {{peerTrendNameControl.errors.peerTrendNameExists}}</div>
<!--      TODO: [JP] Make pf validatable for formatting consistency -->
      <br>
      <input type="checkbox" formControlName="rollForward" id="rollForward" class="my-2 mr-2"/>
      <label for="rollForward" class="my-2">Rolling Dates</label>
      <br>
      <span class="my-2">Date Range: {{ minDate | date: 'shortDate' : 'UTC' }} - {{ maxDate | date: 'shortDate' : 'UTC' }}</span>
      <br>
      <div *ngIf="(savingPeerTrend$ | async).savingError" class="text-danger">An error has occurred while saving the trend</div>
    </div>
  </ng-container>
</pf-modal-form>
