<div class="comphub-page">
  <div class="page-header">
    <fa-icon icon="{{pageIconClass}}" class="page-icon" aria-hidden="true"></fa-icon>
    <span class="page-title">{{pageTitle}}</span>
  </div>
  <div>{{pageSubTitle}}</div>

  <ng-content *ngIf="workflowContext?.selectedPageId === page || workflowContext?.selectedPageIdDelayed === page" select="[page-content]"></ng-content>

  <div class="smb-counter">
    <div *ngIf="!!jobPricingLimitInfo && (!(jobPricingBlocked$ | async) || workflowContext?.selectedPageId !== comphubPages.Jobs)">
      <span class="count">{{formattedLimit}}</span>
      <span class="label">Jobs Priced</span>
    </div>
  </div>

  <div class="actions-section">
    <button *ngIf="!hideBackButton"
            class="btn comphub-secondary-btn"
            [disabled]="!backButtonEnabled"
            [attr.data-qa-id]="'btn-back-' + pageTitle"
            (click)="handleBackButtonClicked()">
      Back
    </button>

    <div class="next-button-container">
      <button *ngIf="!hideNextButton"
              class="btn comphub-primary-btn"
              [disabled]="!nextButtonEnabled"
              [attr.data-qa-id]="'btn-next-'+ pageTitle"
              (click)="handleNextButtonClicked()">
        Next
      </button>

      <pf-guidelines-badge [IncludeSimilarityCheck]="false" *ngIf="(this.userContext$ | async).ClientType === PEER_AND_ANALYSIS && workflowContext.selectedPageId === comphubPages.Data && workflowContext.selectedPageIdDelayed === comphubPages.Data"></pf-guidelines-badge>
    </div>
    <ng-content select="[custom-actions]"></ng-content>

    <button class="btn comphub-secondary-btn close-app-btn"
            [attr.data-qa-id]="'btn-close-'+ pageTitle"
            (click)="handleCloseClicked()">
      Close
    </button>
  </div>

</div>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4>Are you sure?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>If you exit the Quick Pricing workflow, changes will not be saved.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn comphub-primary-btn" [attr.data-qa-id]="'btn-confirm-close-quickprice-app-'+ pageTitle" (click)="handleConfirmedCloseApp()">Yes</button>
    <button type="button" class="btn comphub-secondary-btn" [attr.data-qa-id]="'btn-cancel-close-quickprice-app-'+ pageTitle" (click)="modal.dismiss()">Cancel</button>
  </div>
</ng-template>
