<div class="comphub-page">
  <div class="page-header">
    <i class="fa {{pageIconClass}} page-icon" aria-hidden="true"></i>
    <span class="page-title">{{pageTitle}}</span>
  </div>
  <div>{{pageSubTitle}}</div>

  <ng-content select="[page-content]"></ng-content>

  <div class="actions-section">
    <button *ngIf="!hideBackButton"
            class="btn comphub-secondary-btn"
            [attr.data-qa-id]="'btn-back'"
            (click)="handleBackButtonClicked()">
      Back
    </button>
    <button *ngIf="!hideNextButton"
            class="btn comphub-primary-btn"
            [disabled]="!nextButtonEnabled"
            [attr.data-qa-id]="'btn-next'"
            (click)="handleNextButtonClicked()">
      Next
    </button>

    <ng-content select="[custom-actions]"></ng-content>
  </div>

</div>
