@import 'comphub-page';
@import 'comphub-styles';

.comphub-page {
  height: 100%;
}

.close-app-btn{
  position: absolute;
  right: 10px;
  bottom: 26px;
}

.smb-counter {
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-weight: 500;

  .count {
    font-size: 1.5rem;
    margin-right: .5rem;
  }

  .label {
    color: $comphub-header-blue;
    text-transform: uppercase;
  }
}

.next-button-container{
  display:inline-flex;
  min-width:150px;
}
