<ng-container *ngIf="model.Items.length; else noListItems">
  <div class="list-heading px-1 py-1">
    <img *ngIf="!!model.HeadingIconImage" class="heading-icon-image"
         src="assets/images/{{model.HeadingIconImage}}">
    <strong>{{model.Heading}}</strong>
  </div>

  <div class="item d-flex p-1" *ngFor="let item of model.Items">
    <div *ngIf="!!item.IconClass" class="icon pr-2"><i [class]="item.IconClass"></i></div>
    <div class="name" [title]="item.Name">{{item.Name}}</div>
  </div>
</ng-container>

<ng-template #noListItems>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <fa-icon *ngIf="!!model.faIconClass" [icon]="model.faIconClass" size="10x"></fa-icon>
  </div>
</ng-template>
