.name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    cursor: pointer;
}

.heading-icon-image {
  width: 17px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
