.page-header {
  color: #495057;
  font-size: 1.2rem;

  .title {
    text-transform: uppercase;
  }
}

.no-recent-downloads {
  font-style: italic;
  font-size: 14px;
  margin-left: 2.2rem;
}

.feeds {
  display: flex;
  flex-wrap: wrap;
}
