<button *ngIf="showChartDetail" (click)="chartBackButtonClick()" class="btn chart-detail-back-button p-1">
  <i class="fas fa-arrow-circle-left"></i> Back
</button>
<div class="chart-container" *ngIf="model.ChartComponentData && model.ChartComponentData.length > 0">
  <kendo-chart (seriesClick)="seriesClick($event)" (legendItemClick)="legendClick($event)" [transitions]="true">
    <kendo-chart-area background="none" [height]="130"></kendo-chart-area>
    <kendo-chart-series>
      <kendo-chart-series-item [highlight]="seriesItemHighlightStyle"
                               [type]="model.ChartType" [data]="model.ChartComponentData"
                               categoryField="CategoryName" field="CategoryValue" [padding]="0">
        <kendo-chart-series-item-tooltip>
          <ng-template let-category="category" let-value="value">
            {{category}} : {{value}}%
          </ng-template>
        </kendo-chart-series-item-tooltip>
      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-legend *ngIf="model.ShouldLimitLegendText == false" [padding]="0" [visible]="true" position="left" [labels]="legendLabelStyle">
    </kendo-chart-legend>

    <kendo-chart-legend *ngIf="model.ShouldLimitLegendText == true" [padding]="0" [visible]="true" position="left" [labels]="limitLabelText">
    </kendo-chart-legend>

  </kendo-chart>
</div>
<h2 class="pr-5 chart-label">{{model.ChartLabel}}</h2>
