<div class="all-structures h-100">
  <div class="top-bar">
    <div class="all-structures-title">
      <div class="container-fluid">
        <div class="d-flex flex-nowrap all-structures-actions">
          <div class="view-selector">
            <div class="col-12">
              <span class="d-inline-block all-structures-view">All Structures</span>
            </div>
          </div>
          <div class="tag-container" >
          </div>
        </div>
      </div>
    </div>
  </div>
    <ng-container *ngIf="(companyStructureViewsAsync$ | async) as companyStructuresAsync">
      <pf-async-container
        [loading]="companyStructuresAsync.loading"
        [loadingError]="companyStructuresAsync.loadingError"
        [loadingErrorMessage]="'Error Loading Structures'"
        [hideReloadButton]="true">
      </pf-async-container>
      <div class="container-fluid">
        <div class="row">
          <ng-container *ngIf="(filteredCompanyStructureViews$ | async) as filteredCompanyStructureViews">
            <div *ngFor="let structureView of filteredCompanyStructureViews; trackBy: trackByFn"
                 class="col-xs-12 col-md-6 col-lg-4 col-xl-3 structure-card">
              <pf-structure-card [structureView]="structureView">
              </pf-structure-card>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
</div>
