<h3>Price a Job</h3>

<div>
  Welcome<span *ngIf="userName$ | async"> {{userName$ | async}}</span>! Search below for a job title and location to
  price it.
</div>

<div class="mt-3">
  <kendo-combobox 
    id="au-txt-job-title-search"
    [data]="searchResults$ | async" 
    placeholder="Job Title"
    [filterable]="true"
    (filterChange)="onSearchTermChange($event)"
    (valueChange)="onJobSelected($event)"
    [textField]="'title'"
    [valueField]="'id'"
    style="width: 100%"
  >
  <ng-template kendoComboBoxItemTemplate let-dataItem>
    <span class="mr-1">{{ dataItem.title }}</span>
    <span>({{ dataItem.nationalBase25 | number:'1.0-0' }} - {{ dataItem.nationalBase75 | number:'1.0-0' }})</span>
  </ng-template>
  </kendo-combobox>
</div>