<pf-data-grid
  [reorderable]="true"
  [pageViewId]="pageViewId"
  [title]="'Pricing Projects'"
  [selectionField]="'UserSession_ID'"
  [gridActionsTemplate]="gridActions"
  [enableSelection]="true"
  [gridConfig]="gridConfig"
  [defaultSort]="defaultSort"
  [columnTemplates]="colTemplates"
  [actionBarConfig]="actionBarConfig"
  [noRecordsFound]="'No projects available. Please change your search criteria.'"
  [pageable]="!gridConfig.EnableInfiniteScroll"
  [gridRowActionsConfig]="gridRowActionsConfig">
</pf-data-grid>


<ng-template #gridActions>
  <button
    [disabled]="!(selectedRecordIds$ | async)?.length"
    [attr.data-qa-id]="'btn-jobs-page-clear-selections'"
    type="button"
    (click)="clearSelections()"
    [title]="!(selectedRecordIds$ | async)?.length ? 'No Projects Selected' : ''"
    class="btn btn-secondary pf-btn-borderless"
  >
    <fa-icon [icon]="['far', 'times']" ></fa-icon>
    Clear Selections<span *ngIf="(selectedRecordIds$ | async)?.length">({{(selectedRecordIds$ | async)?.length}})</span>
  </button>
</ng-template>

<ng-template #projectStatusColumn let-dataRow="dataRow" let-hover="hover">
  <div>
    <span [title]="dataRow.UserSessions_Completed ? 'Project is Completed' : 'Project is In Progress'" [ngClass]="dataRow.UserSessions_Completed ? 'complete' : 'in-progress'"> <fa-icon [icon]="'circle'"></fa-icon></span>
    &nbsp;{{dataRow.UserSessions_Completed ? 'Complete' : 'In Progress'}}
  </div>
</ng-template>

<ng-template #gridRowActionsTemplate let-dataRow="dataRow">
  <div class="grid-row-actions-container d-flex">
    <div ngbDropdown container="body" #p="ngbDropdown" class="d-inline-block k-grid-ignore-click pr-2" placement="bottom-right">
      <button ngbDropdownToggle
              class="btn btn-secondary hide-dropdown-arrow pf-icon-btn-transparent"
              [attr.data-qa-id]="'btn-project-list-page-inline-actions-' + dataRow['UserSessionMap_UserSession_ID']"
      >
        <fa-icon [icon]="['far', 'ellipsis-h']"></fa-icon>
      </button>
      <div ngbDropdownMenu aria-labelledby="project-list-actions-{{dataRow['UserSessionMap_UserSession_ID']}}">
        <button
          ngbDropdownItem
          (click)="copyProject(dataRow['UserSessionMap_UserSession_ID'])">
          <fa-icon [icon]="['far', 'copy']"></fa-icon> Copy
        </button>
      </div>
    </div>
    <div>
      <button class="btn btn-secondary"
              [attr.data-qa-id]="'btn-pin-to-dashboard-' + dataRow['UserSessionMap_UserSession_ID']"
              [ngClass]="{'pinned-to-dashboard': dataRow['UserSessionMap_PinOnDashboard']}"
              (click)="togglePinToDashboard(dataRow['UserSessionMap_UserSession_ID'])"
      >
        <fa-icon [icon]="['far', 'thumbtack']"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>
