@import 'colors';

.in-progress {
  color: $pf-brand-secondary-color;
}

.complete {
  color: $pf-additional-colors-green;
}

.pinned-to-dashboard {
  background-color: rgb(254, 179, 22);
}

.hide-dropdown-arrow::after {
  display: none !important;
}
