<div class="mt-2">
  <ng-container *ngFor="let reply of replies">
    <img id="reply-avatar" class="float-left pf-avatar" [src]="avatarUrl + reply.UserInfo?.AvatarSource"
         alt="avatar">
    <div class="reply-offset">
      <p class="m-0"><span class="community-user-name-text">{{reply.UserInfo.UserFirstName}} {{reply.UserInfo.UserLastName}}</span>
        <span class="community-sub-text"> @ {{reply.UserInfo.CompanyName}} | {{reply.Time}}</span></p>
      <p class="mt-2 mb-2">{{reply.ReplyText}}</p>
      <button id="like-reply" type="button" class="btn m-1 p-0"
              [ngClass]="reply.LikeCount > 0 ? 'community-btn-clicked': 'community-btn'">
        <i class="fa-heart icon" [ngClass]="reply.LikedByCurrentUser ? 'fas' : 'far'"></i>
        <span> {{reply.LikeCount > 0 ? reply.LikeCount : ''}} {{reply.LikeCount > 1 ? 'Likes' : 'Like'}}</span>
      </button>
    </div>
  </ng-container>
</div>
