<div class="mt-2">
  <ng-container *ngFor="let reply of replies">
    <img id="reply-avatar" class="float-left pf-avatar" [src]="avatarUrl + reply.UserInfo?.AvatarSource"
         alt="avatar">
    <div class="reply-offset">
      <pf-community-post-header [user]="reply.UserInfo" [time]="reply.Time"></pf-community-post-header>
      <p class="mt-2 mb-2">{{reply.ReplyText}}</p>
      <button id="like-reply" type="button" class="btn m-1 p-0"
              [ngClass]="reply.LikeCount > 0 ? 'community-btn-clicked': 'community-btn'">
        <i class="fa-heart icon" [ngClass]="reply.LikedByCurrentUser ? 'fas' : 'far'"></i>
        <span> {{reply.LikeCount > 0 ? reply.LikeCount : ''}} {{reply.LikeCount > 1 ? 'Likes' : 'Like'}}</span>
      </button>
    </div>
  </ng-container>
  <pf-loading-indicator  class="loading-indicator reply-offset" *ngIf="loading && replies?.length < 1"></pf-loading-indicator>
  <div class="reply-offset"  *ngIf="!loading && replies?.length == 0">No Replies</div>
</div>
