<ng-template #editGridColumnsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Job Range Modeling Grid Columns</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="column-list-container">
    <div *ngIf="!loading && !ListAreaColumns">
      <h5>No Columns</h5>
    </div>
    <ul *ngIf="!loading" class="column-list">
      <li *ngFor="let listAreaColumn of ListAreaColumns" class="column-item">
        <input type="checkbox" class="list-area-column-box" [(ngModel)]="listAreaColumn.Visible" [disabled]="listAreaColumn.Required">
        <span class="column-text">{{listAreaColumn.ColumnDisplayName}}</span>
      </li>
    </ul>
    </div>
    <pf-loading-indicator *ngIf="loading"></pf-loading-indicator>
    <div class="footer d-flex justify-content-end p-2">
      <button (click)="saveButtonClicked()" class="btn btn-primary">Save</button>
    </div>
</ng-template>
