.edit-grid-column-modal{
  .modal-body {
    padding: 0;
  }
}

.column-list-container{
  padding-top: 20px;
  padding-left: 30px;
}

.column-item{
  padding-bottom: 5px;
}

.column-list{
  list-style: none;
  -webkit-padding-start: 0;
  overflow-y: auto;
  min-height: 300px;
  max-height: 300px;
  width: 95%;
  border: solid 1px;
  padding-left: 7px;
}

.column-text{
  padding-left: 6px;
  vertical-align: 3px;
}

.list-area-column-box{
  width: 14px;
  height: 14px;
}
