<div class="trending-job-group trending-jobs-{{trendingJobGroup.Group?.toLowerCase()}}">
  <div class="group-name">
    {{groupType}}<strong>{{groupDisplay}}</strong>
  </div>
  <div *ngFor="let trendingJob of trendingJobGroup.Jobs" class="trending-job">
    <div class="icon">
      <img src="assets/images/trending-green.png">
    </div>
    <div [class.disabled]="disabled"
         [attr.data-qa-id]="'lnk-trending-job'"
         [title]="!!trendingJob.Value ? trendingJob.Value : trendingJob"
         (click)="handleTrendingJobClicked(trendingJob)"
         class="name">
      {{!!trendingJob.Value ? trendingJob.Value : trendingJob }}
    </div>
  </div>
</div>
