@import 'colors';

$selected-option-color: rgba(255, 250, 203, 0.65);
$disabled-option-color: #c7c7c7;
$hover-option-color: rgba(255, 250, 203, 1);
$option-count-color: #9a9a9a;

%uppercase-link {
  text-transform: uppercase;
  color: $link-color;
  font-size: 0.85rem;
  cursor: pointer;
}

%filter-action{
  padding: .1rem .5rem;
  &:hover{
    background: darken(#eaeaea, 5%);
  }
}

%reset-link{
  @extend %uppercase-link;
  @extend %filter-action;
  font-weight: normal;
}
