@import 'colors';

$selected-option-color: rgba(255, 250, 203, 0.65);
$hover-option-color: rgba(255, 250, 203, 1);
$option-count-color: #9a9a9a;

.option{
  display: flex;
  justify-content: space-between;
  padding: .3846rem .5rem;
  height: 28px;

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      background: lighten($selection-hover-background, 40%);
    }
  }
}

.option.selected{
  background: $selected-option-color
}

.option.selected:hover{
  background: $hover-option-color
}

.option-check{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: .4rem;
  width: 100%;
}

.option-count{
  color: $option-count-color;
  font-size: .95rem;
}
