<pf-modal-form [size]="'lg'" [title]="'Import Job Matches'" [subTitle]="" [primaryButtonText]="btnText"
    [primaryButtonTextSubmitting]="'Processing...'" [submitting]="(importStatus$ | async) === importStatus.InProcess"
    [isOpen$]="importAssociationModalOpen$" [formGroup]="exchangeJobRequestForm" (onSubmit)="handleFormSubmit()"
    (onDismiss)="handleModalDismissed()">

    <ng-container form-content>
        <kendo-upload [saveUrl]="uploadSaveUrl" [ngModelOptions]="{standalone: true}" [(ngModel)]="myFiles" [removeUrl]="uploadRemoveUrl"
            [restrictions]="uploadRestrictions" [multiple]="false" (upload)="uploadEventHandler($event)" (success)="successEventHandler($event)"
            (error)="errorEventHandler($event)"></kendo-upload>
    </ng-container>

    <div class="alert alert-danger" role="alert" *ngIf="uploadResult && uploadResult.Errors.length > 0 " form-content>
        <ul>
            <li *ngFor="let f of uploadResult.Errors">{{f.Message}}</li>
        </ul>
    </div>

    <div class="alert alert-success" role="alert" *ngIf="uploadResult && uploadResult.Errors.length === 0 "
        form-content>
        Successfully added records.
    </div>

</pf-modal-form>