<pf-modal-form
    [size]="'lg'"
    [title]="'Import Job Matches'"
    [subTitle]=""
    [primaryButtonText]="btnText"
    [primaryButtonTextSubmitting]="'Processing...'"
    [secondaryButtonText]="'Close'"
    [submitting]="(importStatus$ | async) === importStatus.InProcess"
    [isOpen$]="importAssociationModalOpen$"
    [formGroup]="exchangeJobRequestForm"
    (onSubmit)="handleFormSubmit()"
    (onDismiss)="handleModalDismissed()">

    <ng-container form-content>
        <kendo-upload
            [saveUrl]="uploadSaveUrl"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="myFiles"
            [removeUrl]="uploadRemoveUrl"
            [restrictions]="uploadRestrictions"
            [multiple]="false"
            (upload)="uploadEventHandler($event)"
            (success)="successEventHandler($event)"
            (error)="errorEventHandler($event)"
            (remove)="onFileRemove($event)">
        </kendo-upload>
    </ng-container>

    <div class="alert alert-danger" role="alert" *ngIf="uploadResult && uploadResult.Errors.length > 0 " form-content>
        <ul>
            <li *ngFor="let f of uploadResult.Errors">{{f.Message}}</li>
        </ul>
    </div>

    <div class="alert alert-success" role="alert" *ngIf="uploadResult && uploadResult.Errors.length === 0 " form-content>
        Successfully added records.
    </div>

  <ng-container footer-left>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="rbImportAction" id="rboAppend"
             [attr.data-qa-id] = "'rb-append'"
             [value]="ImportActionEnum.Append"
             [(ngModel)]="importAction"
             [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="rboAppend">Append</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rboFullReplace"
             [attr.data-qa-id] = "'rb-fullReplace'"
             [value]="ImportActionEnum.FullReplace"
             [(ngModel)]="importAction"
             [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="rboFullReplace">Full Replace</label>
    </div>
  </ng-container>

</pf-modal-form>
