.tile {
  border-radius: 2px !important;
  border: solid 2px rgba(0,0,0,0);
  height: 200px;
  margin: 0px;
  padding: 5px;
  text-align: left;
  cursor: pointer;
  
  
}

  .tile:hover {
    border: solid 2px #c7c2c2;
  }

.tileBlue {
  /*background-color: #0883BE;*/
  background-color: rgba(8,131,190, .85);
}

.tileLightBlue {
  /*background-color: #6EAAC8;*/
  background-color: rgba(110,170,200, .85);
}

.tileGreen {
  /*background-color: #7DB577;*/
  background-color: rgba(125,181,119, .85);
}

.tileYellow {
  /*background-color: #FFB300;*/
  background-color: rgba(255,179,0, .85);
}

.tile-col {
  margin: 0;
  padding: 7px;

}

