<pf-data-grid
  [pageViewId]="pageViewId"
  [showTitle]="false"
  [showColumnChooser] ="false"
  [showFilterChooser] ="false"
  [allowExport]="false"
  [contentNoPadding]="true"
  [selectionField]="'Min'"
  [inboundFilters]="filters"
  [columnTemplates]="colTemplates"
  [noRecordsFound] = "'This job has not been added to any Salary Structures.'"
  [defaultSort]="defaultSort"
  [showActionBar]="true"
  [actionBarClassName]="'structure-grid-action-bar ml-0 mt-1'"
  [gridGlobalFiltersTemplates]="globalFilterTemplates"
  [headerClassName]="'structure-grid-header'">
</pf-data-grid>

<ng-template #nameColumn let-dataRow="dataRow">
  <span> {{dataRow['CompanyJobs_Structures_Structure_Name']}} <small> ({{dataRow['CompanyJobs_Structures_Structure_Code']}})</small>  </span>
</ng-template>

<ng-template #currencyColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <span [innerHTML]="dataRow[fieldName] | comp: dataRow['CompanyJobs_Structures_Rate'] | emptyPlaceholder"></span>
</ng-template>

<ng-template #payMarketFilter>
    <kendo-dropdownlist
      style="width: 250px"
      [(ngModel)]="selectedPayMarket"
      [textField]="'Value'"
      [valueField]="'Id'"
      [defaultItem]="{Value:'All Pay Markets', Id: null}"
      [data]="filteredPayMarketOptions"
      (valueChange)="handlePayMarketFilterChanged($event)"
      [filterable]="true"
      (filterChange)="handleFilter($event)"
      [attr.data-qa-id]="'ddm-operator-'+payMarketField?.SourceName"
      class="k-dropdown-white form-control"
    >
    </kendo-dropdownlist>
</ng-template>
