<pf-async-container
  [loading]="loadingCommunityPosts$ | async">
   <div id="posts-container" class="posts-container p-2 scroll">
    <div id="community-posts" >
      <ng-container *ngFor="let post of communityPosts; trackBy: trackByPostId; let i = index; let last = last;">
        <div class="post-item row mb-3 ml-0 mr-0">
          <div class="pl-1 col-12" *ngIf="editedPostId !== post.Id">
            <pf-community-post
              [post]="post"
              [maximumReplies]="maximumReplies$ | async"
              (filtersModifiedEvent)="hashtagClicked($event)"
              [hideAttachmentWarning]="hideAttachmentWarning"
              (onAttachmentClickedEvent)="handleAttachmentClickedEvent($event)"></pf-community-post>
          </div>
          <div class="pl-1 col-12" *ngIf="editedPostId === post.Id">
            <pf-community-post-edit
              [post]="post"></pf-community-post-edit>
          </div>
        </div>
        <hr *ngIf="!last">
        <div
          *ngIf="last && !hasNextBatchOnServer && !loadingNextBatchCommunityPosts && !(loadingCommunityPosts$ | async) && !(filteredByPost$ | async)"
          class="row">
          <div class="col-8">
            All results are displayed.
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="!(loadingCommunityPosts$ | async) && (totalDiscussionResultsOnServer$ | async) === 0" class="no-results-message-container">
    <strong>No results. Please change your filter criteria and search again.</strong>
  </div>

</pf-async-container>
<pf-community-cancel-post-modal></pf-community-cancel-post-modal>
