@import 'colors';

$post-avatar-width: 50px;
$post-avatar-height: 50px;

.posts-container {
  border: 1px solid $border-grey;
  word-break: break-word;
}

.post-avatar {
  width: $post-avatar-width;
  height: $post-avatar-height;
}

.default-post-avatar
{
  width: $post-avatar-width;
  height: $post-avatar-height;
  background-color: #0883BE;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 1.5rem;
}

.tag {
  color: #515151;
  background-color: $community-tag-color;
}

.tag-icon {
  color: $community-tag-icon-color;
}

.post-offset {
  margin-left: $post-avatar-width + 10px;
}

.community-btn {
  background: transparent;
  color: #99A0A4;
}

.community-btn .icon {
  color: $community-icon-color;
}

.community-btn-clicked {
  background:transparent;
  color: #99A0A4;
}

.community-btn-clicked .icon {
  color: #FA4646;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.post-body {
  word-break: break-all;
}

.community-link {
  color: #99A0A4;
  vertical-align: middle;
}

a {
  text-decoration: none;
}
.line {
  stroke: rgb(153, 160, 164);
  stroke-width: 2;
}
:host ::ng-deep .hashtag-highlight {
  color: rgb(64, 171, 221);
}
