<div class="posts-container p-2 scroll">
  <ng-container *ngFor="let post of communityPosts$ | async; let i = index; let last = last;">
    <div class="row mb-3 ml-0 mr-0">
      <div class="pl-1 col-12">
        <div id="default-post-avatar" *ngIf="post.UserInfo?.AvatarSource ==='default_user.png'" class="float-left pf-avatar default-post-avatar">
          {{ post.UserInfo.UserFirstName | slice:0:1 }}{{ post.UserInfo.UserLastName| slice:0:1 }}
        </div>
        <img id="post-avatar" class="post-avatar float-left pf-avatar" *ngIf="post.UserInfo?.AvatarSource !=='default_user.png'"
             [src]="avatarUrl + post.UserInfo?.AvatarSource" alt="avatar" />
        <div class="post-offset">
          <div *ngIf="post.IsInternalOnly" class="internal float-right pl-2 pr-2">Internal</div>
          <p class="m-0"><span class="community-user-name-text">{{post.UserInfo.UserFirstName}} {{post.UserInfo.UserLastName}}</span>
            <span class="community-sub-text"> @ {{post.UserInfo.CompanyName}} | {{post.Time}}</span></p>       
          <div class="post-body mt-2 mb-2"
            [innerHtml]="post.Content | highlightHashTag"></div>     
          <button id="like" type="button" class="btn m-1"
                  [ngClass]="{'community-btn-clicked': post.LikedByCurrentUser, 'community-btn': !post.LikedByCurrentUser}" (click)="updatePostLike(post)">
            <i class="far fa-thumbs-up fa-lg icon"></i>
            <span *ngIf="post.LikeCount == 0"> Like</span>
            <span *ngIf="post.LikeCount > 0"> {{post.LikeCount}} Liked</span>
          </button>
          <a id="reply" href="javascript:void(0)" class="community-link m-1" (click)="toggle[i] = !toggle[i]">
            <span>Reply</span>
          </a>
          <div class="mt-2 py-1" [ngClass]="toggle[i] ? 'show' : 'hide'">
            <pf-community-post-add-reply [postId]="post.Id"></pf-community-post-add-reply>
          </div>
          <div *ngIf="post.Replies"> <!--TODO: Add Logic in to get replies on Hide/Show-->
            <pf-community-post-replies [replies]="post.Replies"></pf-community-post-replies>
          </div>
          <div>
            <ng-container *ngFor="let tag of post.Tags">
              <button type="button" class="btn m-1 tag p-1"><i class="far fa-tag fa-lg tag-icon"></i> {{tag.TagName}}
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <hr *ngIf="!last">
  </ng-container>
</div>
