<pf-data-grid
  [pageViewId]="notPricedDataPageViewId"
  [showTitle]="false"
  [selectionField]="'JobIdPayMarketId'"
  [enableSelection]="true"
  [columnTemplates]="notPricedDataColTemplates"
  [inboundFilters]="filters"
  [defaultSort]="defaultSort"
  [headerClassName]="'jobs-page-sub-grid-header'"
  [noRecordsFound]="'All Pay Markets for this job have been priced. Click Priced Pay Markets above to view the details.'"
  [actionBarConfig]="actionBarConfig">
</pf-data-grid>

<ng-template #notPricedDataPayMarketFilter>
  <kendo-dropdownlist
    style="width: 250px"
    [(ngModel)]="notPricedDataSelectedPayMarket"
    [textField]="'Value'"
    [valueField]="'Id'"
    [defaultItem]="{Value:'All Pay Markets', Id: null}"
    [data]="notPricedDataFilteredPayMarketOptions"
    (valueChange)="handlePayMarketFilterChanged($event)"
    [filterable]="true"
    (filterChange)="handleFilter($event)"
    [attr.data-qa-id]="'ddm-operator-'+notPricedDataPayMarketField.SourceName"
    class="k-dropdown-white form-control"
  >
  </kendo-dropdownlist>
</ng-template>

<ng-template #sizeColumn let-dataRow="dataRow">
  {{dataRow['vw_UnpricedJobPayMarketMetadata_Size_Value']}} {{dataRow['vw_UnpricedJobPayMarketMetadata_Size_Label']}}
</ng-template>

<ng-template #changeView>
  <div class="view-change" (click)="switchViewToPriced()">
    <div class="pricing-count-badge">
      <span class="badge badge-primary mr-2">{{pricedCount || 0}}</span>
      <span>Priced Pay Market{{pricedCount === 1 ? '' : 's'}}</span>
    </div>
  </div>
</ng-template>
