@import 'search/filters-variables';
@import 'common/common-variables';

%position-below-header{
  position: absolute;
  top: 36px;
  bottom: 0;
}

.page-data-header{
  height: 36px;
  @extend %bottom-box-shadow;
}

.filters-and-results{
  @extend %position-below-header;
  width: 100%;
  display: flex;
}

.filters-sidebar{
  width: 243px;
  position: relative;
}

.results-and-actions{
  flex-grow: 1;
  position: relative;
}

.actions-container{
  width: 100%;
  bottom: 0;
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: flex;
  width: 65%;
  justify-content: flex-end;
}

.results-count{
  display: flex;
  justify-content: flex-end;
  width: 35%;
  padding-right: 1rem;
  color: #656565;
}
