<pf-page-with-title-bar [returnUrl]="'/exchange/'+exchangeId+'/dashboard/'" [contentNoPadding]="true">

  <ng-container page-title>
    {{ (exchange$ | async)?.ExchangeName }}
  </ng-container>

  <ng-container page-actions>

    <pf-exchange-scope-selector [isExchangeJobSpecific]="false"
                                [exchangeId]="exchangeId"></pf-exchange-scope-selector>

    <button type="button" class="btn btn-secondary"
            [disabled]="(numberOfSelections$ | async) === 0 ||
              ((numberOfCompanySelections$ | async) > 0 && (numberOfCompanySelections$ | async) < 5)"
            (click)="handleSaveScopeClick()">
      Create Scope
    </button>

    <button type="button" class="btn btn-primary"
            [disabled]="(peerMapCompaniesCount$ | async) < 5 && (exchangeJobIdsInScope$ | async)?.length > 0"
            (click)="handleExportDataCutsClick()">
      Export Data Cuts
    </button>

  </ng-container>

  <ng-container page-content>

    <pf-exchange-explorer></pf-exchange-explorer>

  </ng-container>

</pf-page-with-title-bar>

<pf-save-exchange-scope-modal
  [exchange]="exchange$ | async"
  (upsertExchangeScopeEvent)="handleUpsertExchangeScopeEvent($event)">
</pf-save-exchange-scope-modal>
<pf-export-data-cuts-modal
  [context]="{exchangeScopeItems: exchangeScopeItems$ | async, selectedExchangeScope: selectedExchangeScope$ | async}">
</pf-export-data-cuts-modal>
