<pf-page-with-title-bar [returnUrl]="'/exchange/'+exchangeId+'/dashboard/'" [contentNoPadding]="true">

  <ng-container page-title>
    {{ (exchange$ | async)?.ExchangeName }}
  </ng-container>

  <ng-container page-actions>

    <pf-scope-selector [addDataModal]="false"
                                [exchangeId]="exchangeId"></pf-scope-selector>

    <button type="button" class="btn btn-secondary"
            [disabled]="(numberOfSelections$ | async) === 0 ||
              ((numberOfCompanySelections$ | async) > 0 && (numberOfCompanySelections$ | async) < 5)"
            (click)="handleSaveScopeClick()">
      Create Scope
    </button>

    <button type="button" class="btn btn-primary"
            [disabled]="(peerMapCompaniesCount$ | async) < 5 && (exchangeJobIdsInScope$ | async)?.length > 0"
            (click)="handleExportDataCutsClick()">
      Export Data Cuts
    </button>

  </ng-container>

  <ng-container page-content>

    <pf-async-container
      [loading]="!(initialMapMoveComplete$ | async)"
      [loadingError]="peerMapLoadingError$ | async"
      [loadingErrorMessage]="'Error loading exchange map'"
      [hideReloadButton]="true"
      [noOpactity]="true">

      <div class="d-flex h-100">
        <div class="sidebar">
          <pf-peer-data-cut-filter-sidebar
            [shouldShowPayMarketBoundsFilter]="false"
            [shouldShowExcludeIndirectJobMatchesFilter]="false"
          ></pf-peer-data-cut-filter-sidebar>
        </div>
        <div class="map">
          <pf-peer-data-cut-map [canFitBounds]="true"></pf-peer-data-cut-map>
        </div>
      </div>

    </pf-async-container>

  </ng-container>

</pf-page-with-title-bar>

<pf-save-exchange-scope-modal
  [exchange]="exchange$ | async"
  (upsertExchangeScopeEvent)="handleUpsertExchangeScopeEvent($event)">
</pf-save-exchange-scope-modal>
<pf-export-data-cuts-modal></pf-export-data-cuts-modal>
