<pf-modal-form
  [size]="'lg'"
  [title]="modalTitle$ | async"
  [modalId]="'job-range-modeling-modal-form'"
  [attr.data-qa-id]="'job-range-modeling-modal'"
  [isOpen$]="modalOpen$"
  [showFooter]="false"
  (onDismiss)="close()">

  <ng-container basic-content>
    <pf-add-jobs-page
      *ngIf="(currentModalPage$ | async) === jobRangeModelingPage.AddJobs">
    </pf-add-jobs-page>
    <pf-modeling-settings-modal-page
      *ngIf="(currentModalPage$ | async) === jobRangeModelingPage.ModelSettings">
    </pf-modeling-settings-modal-page>
  </ng-container>
</pf-modal-form>
