<div class="mapping-info-container card h-100">
  <div class="card-header">
    <div class="align-self-center">
      Mapping Information
    </div>
    <button (click)="close()" class="btn btn-secondary btn-sm">
      Close
    </button>
  </div>
  <div class="card-body d-flex">
    <div class="info-container">
      <div class="info-row">
        <div class="label">Exchange Job:</div>
        <div>{{ (selectedExchangeJobMapping$ | async)?.ExchangeJobTitle }}</div>
      </div>
      <div class="info-row">
        <div class="label">Job Family:</div>
        <div>{{ (selectedExchangeJobMapping$ | async)?.ExchangeJobFamily }}</div>
      </div>
      <div class="info-row">
        <div class="label">Job Level:</div>
        <div>{{ (selectedExchangeJobMapping$ | async)?.ExchangeJobLevel }}</div>
      </div>
      <div class="info-row-flex-column flex-grow-1">
        <div class="label">Job Description:</div>
        <div class="job-description-container">
          {{ (selectedExchangeJobMapping$ | async)?.ExchangeJobDescription }}
        </div>
      </div>
    </div>

    <div class="vertical-separator"></div>

    <div class="info-container">
      <div class="info-row">
        <div class="label">Company Job:</div>
        <div>
          <ng-container *ngIf="(selectedExchangeJobMapping$ | async)?.CompanyJobCode; else noCompanyJob">

            {{ (selectedExchangeJobMapping$ | async)?.CompanyJobCode }} -
            {{ (selectedExchangeJobMapping$ | async)?.CompanyJobTitle }}

          </ng-container>
          <ng-template #noCompanyJob>
            --
          </ng-template>
        </div>
      </div>
      <div class="info-row">
        <div class="label">Job Family:</div>
        <div>{{ (selectedExchangeJobMapping$ | async)?.CompanyJobFamily || '--' }}</div>
      </div>
      <div class="info-row">
        <div class="label">Job Level:</div>
        <div>{{ (selectedExchangeJobMapping$ | async)?.CompanyJobLevel || '--' }}</div>
      </div>
      <div class="info-row-flex-column flex-grow-1">
        <div class="label">Job Description:</div>
        <div class="job-description-container">
          {{ (selectedExchangeJobMapping$ | async)?.CompanyJobDescription }}
        </div>
      </div>
    </div>
  </div>
</div>

