.temp-link-color-override {
  &:not(.disabled) {
    color: #1872ae;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.staticMid {
  margin-top: 4.5px;
  margin-bottom: 4.5px;
}

.remove-range {
  padding: 1rem;
}

.no-formatting-info-circle-wrapper {
  display: flex;

  .no-formatting-info-circle {
    margin-left: auto;
  }
}

.dropup .dropdown-toggle::after, .dropdown-toggle::after {
  display: none !important;
}

.card {
  margin-bottom: 10px !important;
}

.card.grade-summary-container .card-body {
  min-height: 290px;
}

.card.grade-vertical-chart-container .card-body {
  min-height: 550px;
}

.card-header {
  border-bottom: 0;
}

.btn-chart-view {
  margin-top: 3.3px !important;
}

.add-grade-button {
  margin-bottom: 10px;
}