<pf-page-with-title-bar [returnUrl]="'/peer/exchanges'">

  <ng-container page-title>
    Manage Exchange - {{ (exchange$ | async).ExchangeName }}
  </ng-container>

  <ng-container page-actions>
    <div class="switch-wrapper"
         *ngIf="!(loadingExchange$ | async)"
         [class.disabled]="!(canToggleExchangeStatus$ | async)"
         (click)="handleSwitchToggled()">
      <kendo-switch class="k-switch-lg"
                    onLabel="Active"
                    offLabel="Inactive"
                    [disabled]="!(canToggleExchangeStatus$ | async)"
                    [readonly]="true"
                    [checked]="isExchangeActive$ | async">
      </kendo-switch>
    </div>
  </ng-container>

  <ng-container page-content>
    <pf-page-with-left-menu [navLinks]="navLinks">
      <ng-container menu-title>
        Settings
      </ng-container>
      <ng-container content>
        <router-outlet></router-outlet>
      </ng-container>
    </pf-page-with-left-menu>
  </ng-container>

</pf-page-with-title-bar>
<pf-toggle-exchange-status-confirmation-modal></pf-toggle-exchange-status-confirmation-modal>

