<pf-page-with-title-bar [returnUrl]="'/peer/exchanges'">

  <ng-container page-title>
    Manage Exchange - {{ (exchange$ | async).ExchangeName }}
  </ng-container>

  <ng-container page-content>
    <div class="d-flex h-100 w-100">
      <div class="inner-nav">
        <div class="inner-nav-heading">
          Settings
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <div>
              <a class="nav-link" [routerLink]="['companies']" [routerLinkActive]="['selected']">
                <i class="fas fa-building font-a-icon"></i>
                  Companies
                <span *ngIf="totalExchangeCompanies$ | async as companies">{{companies}}</span>
              </a>
            </div>
          </li>
          <li class="nav-item">
            <div>
              <a class="nav-link" [routerLink]="['jobs']" [routerLinkActive]="['selected']">
                <i class="fas fa-briefcase font-a-icon"></i>
                  Jobs
                <span *ngIf="totalExchangeJobs$ | async as jobs">{{jobs}}</span>
              </a>
            </div>
          </li>
          <li class="nav-item">
            <div>
              <a class="nav-link" [routerLink]="['accessrequests']" [routerLinkActive]="['selected']">
                <i class="fas fa-unlock-alt font-a-icon"></i>
                Access Requests
                <span *ngIf="totalPendingExchangeAccessRequests$ | async as accessRequests">{{accessRequests}}</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="inner-content">
        <div class="d-flex content-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-container>

</pf-page-with-title-bar>

