<div class="pb-2">
  <div class="row">
    <div class="col-1">
      <img *ngIf="job.CompanyLogo; else no_company_logo" [src]="companyLogo" width="50"/>
      <ng-template #no_company_logo>
        <fa-icon class="default-logo" [icon]="['fal','building']" size="2x"></fa-icon>
      </ng-template>
    </div>
    <div class="job-container col-7">
      <h6>{{job.PositionTitle}}</h6>
      <p class="smaller-text sub-text">{{job.CompanyName}} - {{job.Location}}</p>
    </div>

    <div class="col right-col text-right">
      <a class="btn btn-primary btn-sm mr-2"
         data-qa-id="btn-viewJob"
         href={{job.Url}} role="button" target="_blank">
        <fa-icon icon="external-link"></fa-icon><span class="pl-1">View</span>
      </a>
      <div ngbDropdown class="d-inline-block ml-1 mt-1" *ngIf="isCurrentUserJob; else not_current_user">
        <button class="btn" ngbDropdownToggle><span class="delete-btn-text ml-2">...</span></button>
        <div ngbDropdownMenu>
          <button class="dropdown-item"
                  data-qa-id="btn-deleteJob"
                  (click)="delete()"><fa-icon icon="trash-alt"></fa-icon> Delete</button>
        </div>
      </div>
      <ng-template #not_current_user >
        <div class="d-inline-block delete-btn-disabled ml-1"></div>
      </ng-template>

      <br>
      <small class="font-italic sub-text">{{ job.ElapsedTime }}</small>
    </div>
  </div>

  <hr>

  <div *ngIf="endOfList" class="row">
    <div class="col-8">
      All results are displayed.
    </div>
  </div>
</div>
