<div id="tag-container" class="mb-3">
  <h5 id="tag-section-header">TRENDING TAGS</h5>
    <ng-container *ngFor="let popularTag of popularTags$ | async">
      <button [disabled]="(filteredByPost$ | async)"
              type="button" class="btn m-1 tag py-2 px-3 shadow-none" (click)="buttonClicked(popularTag)"
              [ngClass]="{'tag-selected': IsTagSelected(popularTag) }">{{popularTag.Tag}}
              <span *ngIf="IsTagSelected(popularTag)"><i class="fas fa-times-circle icon"></i></span>                 
      </button>
    </ng-container>
</div>
