<pf-page-with-title-bar [absoluteUrl]="env.companyAdminUrl + '/navigation'">
  <ng-container page-title>
    JDM Bulk Export Scheduler
  </ng-container>

  <ng-container page-content>
    <h4>Create File to Export</h4>
    <div class="mb-3">
      <pf-bulk-export-scheduler-form [views]="views$ | async"
                                     [filters]="filters$ | async"
                                     [schedules]="schedules$ | async">
      </pf-bulk-export-scheduler-form>
    </div>
    <h4>Saved Schedules</h4>
    <div class="mx-3 px-5">
      <pf-bulk-export-schedules-list [views]="views$ | async"
                                     [schedules]="schedules$ | async">
      </pf-bulk-export-schedules-list>
    </div>
  </ng-container>
</pf-page-with-title-bar>
