<div *ngIf="!!workbook"
  class="workbook-container d-flex"
  (mouseover)="handleMouseOverWorkbookContainer()"
  (mouseleave)="handleMouseLeaveWorkbookContainer()">

  <div class="actions-container" [ngClass]="displayActionsOverlay ? 'displayed' : ''">
    <button class="btn action-button" (click)="handleFavoriteClicked(workbook)">
      <fa-icon *ngIf="workbook.IsFavorite" [icon]="['fas', 'star']" class="action-icon d-inline-flex solid-star"></fa-icon>
      <fa-icon *ngIf="!workbook.IsFavorite" [icon]="['far', 'star']" class="action-icon d-inline-flex"></fa-icon>
    </button>
    <button class="btn action-button" (click)="handleTagClicked(workbook)">
      <fa-icon *ngIf="workbook.Tag" [icon]="['fas', 'tag']" class="action-icon brand-secondary"></fa-icon>
      <fa-icon *ngIf="!workbook.Tag" [icon]="['far', 'tag']" class="action-icon"></fa-icon>
    </button>
    <div class="open-workbook">
      <a class="btn" title="Open Workbook" [routerLink]="['/company-reports',workbook.WorkbookId]" [queryParams]="{showTabs: true, title: workbook.WorkbookName}">
        Open
      </a>
      <div class="vertical-separator h-100"></div>
      <button class="btn open-views"
              [ngbPopover]="popContent"
              [popoverClass]="'workbook-views-popover'"
              [container]="'body'"
              [placement]="'bottom'"
              [popoverTitle]="workbook.WorkbookName"
              [autoClose]="'outside'"
              (shown)="handleOpenViewsClicked(workbook)"
              (hidden)="handleViewsHidden()">
        <fa-icon title="Open Views" [icon]="['fas','caret-down']" class="action-icon open-arrow"></fa-icon>
      </button>

    </div>
  </div>

  <div class="d-flex actions-overlay" [ngClass]="displayActionsOverlay ? 'displayed' : ''"></div>

  <ng-container *ngIf="!!workbook.IconClass?.length">
    <fa-icon [icon]="workbook.IconClass" class="icon fa-fw"></fa-icon>
    <div class="vertical-separator"></div>
  </ng-container>
  <div class="d-flex flex-column ml-3 content">
    <span class="tag" data-toggle="tooltip" title="{{workbook.Tag || workbook.DefaultTag}}">{{workbook.Tag || workbook.DefaultTag}}</span>
    <span class="workbook-name" data-toggle="tooltip" title="{{workbook.WorkbookName}}">{{workbook.WorkbookName}}</span>
  </div>

  <ng-template #popContent>
    <div *ngIf="workbook.Views" class="workbook-views">
      <pf-async-container
        [loading]="workbook.Views.loading"
        [loadingError]="workbook.Views.loadingError"
        [loadingErrorMessage]="'Error loading views'"
        [hideReloadButton]="true">
        <div class="header">
          <pf-input-debounce
            [delay]="200"
            [placeholderText]="'Search Views...'"
            (mouseleave)="handleSearchMouseLeave($event)"
            [(ngModel)]="viewFilterValue"
            (valueChanged)="handleSearchValueChanged($event)">
          </pf-input-debounce>
        </div>
        <div class="available-views" *ngIf="filteredViews.length; else noAvailableViews">
          <a class="workbook-view" *ngFor="let view of filteredViews"
             [routerLink]="['/company-reports',workbook.ContentUrl, getViewUrl(view)]" [queryParams]="{showTabs: false, title: workbook.WorkbookName + ' - ' + view.ViewName}"
             [title]="view.ViewName">
            <div class="name">
                {{view.ViewName}}
            </div>
          </a>
        </div>

      </pf-async-container>
    </div>
  </ng-template>

  <ng-template #noAvailableViews>
    <div class="no-views-message">No Matching Views Found</div>
  </ng-template>

</div>
