.offScreen {
  position: absolute;
  top: -200px;
}

input[type=text] {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background-color: transparent; // inherit should work here but doesn't for IE 11, so make transparent as a workaround
  color: inherit;
  width: 100%;
}

.editable {
  cursor: pointer;
}

.edit-text {
  display: block;
  float: left;
  width: inherit;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-icon {
  max-width: 5%;
}
