.offScreen {
  position: absolute;
  z-index: -100;
  opacity: 0;
}

input[type=text] {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background-color: transparent; // inherit should work here but doesn't for IE 11, so make transparent as a workaround
  color: inherit;
  // standardize to chrome's default selection styling so the input's bg color doesn't go white, which looks off for a dark background input
  &::selection {
    background-color: #3297FD;
    color: white;
  }
}

.editable {

  cursor: pointer;
}

.edit-text {
  max-width: 95%;
}

.edit-icon {
  position: absolute;
  max-width: 5%;
}

.show-icon-on-hover {
  .edit-icon {
    visibility: hidden;
  }
  &:hover {
    .edit-icon {
      visibility: visible;
    }
  }
}
