<span *ngIf="isEditable; else isNotEditable">
  <input #textBox
         class="input-text"
         type="text"
         placeholder="{{placeholder}}"
         [minLength]="maxCharacters"
         [maxLength]="maxCharacters"
         (blur)="disableEditState()"
         (change)="onChange()"
         [ngClass]="isInEditState ? '' : 'offScreen'">
  <span *ngIf="isInEditState == false" (click)='enableEditState()' class="editable">
    <span class="edit-text">{{getValue()}}</span>
    <span class="edit-icon">
      <fa-icon class="fa-xs ml-2" [icon]="icon" aria-hidden="true"></fa-icon>
    </span>
  </span>
</span>

<ng-template #isNotEditable>
  <span id="non-editable-value">{{getValue()}}</span>
</ng-template>
