<div class="space-out-children-md">
  <ng-container *ngIf="!metadata.IsCurrent && !(comparing$ | async)">
    <button [pfSecuredResource]="_Permissions.STRUCTURES_CREATE_EDIT_MODEL" class="btn btn-secondary" (click)="handleAddJobsClicked()">Add Jobs</button>
    <button [pfSecuredResource]="_Permissions.STRUCTURES_PUBLISH" class="btn btn-secondary" (click)="handlePublishModelClicked()">Publish</button>
    <div class="d-inline-block" tabindex="0" data-toggle="tooltip" placement="left" [ngbTooltip]="getToolTipContent((compareEnabled$ | async))">
      <button [disabled]="!(compareEnabled$ | async)"
              class="btn btn-secondary compareButton"
              (click)="compareWithCurrent()">
        Compare
      </button>
    </div>
  </ng-container>

  <pf-model-settings-btn
    [pfSecuredResource]="_Permissions.STRUCTURES_CREATE_EDIT_MODEL"
    [metadata]="metadata"
    [comparingFlag]="(comparing$ | async)"
    (modelSettingsClicked)="handleModelSettingsClicked()"
    (duplicateModelClicked)="handleDuplicateModelClicked()">
  </pf-model-settings-btn>
</div>
