@import 'kendo-grid';

.dropdown-item {
  width: inherit;
}

#jd-list-view-actions-dropdown svg {
  font-size:  0.875rem;
  color: #ffffff;
}

#jd-list-view-actions-dropdown:after {
  display: none;
}

#jd-list-view-actions-dropdown {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

#jd-list-view-actions-dropdown:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #292b2c;
}

#jd-list-view-actions-dropdown:focus {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #292b2c;
}

#jd-list-view-actions-dropdown:focus svg {
  color: #292b2c;
}

#history-btn {
  color: #1872AE;
  padding: .75rem 1.5rem;
}

#history-btn:hover {
  text-decoration: underline;
}

:host ::ng-deep tr:hover #jd-list-view-actions-dropdown svg {
  color: #292b2c;
}

:host ::ng-deep .k-grid tbody tr:hover {
  cursor: pointer;
}

#public-icon-stack {
  color: #1b1e21;
  transition: 0.3s;
}

#public-eye { 
  opacity: 0.7;
  transition: 0.3s;
}

#public-circle { 
  opacity: 0.0;
  color: #383d41; 
  transition: 0.3s;
}

#public-icon-stack:hover > #public-circle { 
  opacity: 0.2; 
}

#public-icon-stack:hover > #public-eye {
  opacity: 1 
}

#private-icon-stack {
  color: #636c72;
  transition: 0.3s;
}

#private-eye { 
  opacity: 0.5;
  transition: 0.3s;
}

#private-circle { 
  opacity: 0.0;
  color: #383d41; 
  transition: 0.3s;
}

#private-icon-stack:hover > #private-circle { 
  opacity: 0.2; 
}

#private-icon-stack:hover > #private-eye {
  opacity: 0.8; 
}

@media all and (-ms-high-contrast:none)
{
  /* IE10 */
  #public-circle, #private-circle { 
    color: transparent; 
  } 

  /* IE11 */
  *::-ms-backdrop, #public-circle, #private-circle { 
    color: transparent;
  } 
}

@supports (-ms-ime-align:auto) { 
  #public-circle, #private-circle { 
    color: transparent;
  } 
}
