<kendo-grid rowClick
            [data]="gridDataResult"
            [pageable]="{
              buttonCount: 5,
              info: info,
              type: 'numeric',
              pageSizes: false,
              previousNext: true
            }"
            [pageSize]="gridState.take"
            [sortable]="true"
            [sort]="gridState.sort"
            [skip]="gridState.skip"
            [selectable]="true"
            (pageChange)="pageChanged.emit($event)"
            (dataStateChange)="dataStateChanged.emit($event)"
            (sortChange)="sortChanged.emit($event)"
            (filterChange)="filterChanged.emit($event)"
            (selectionChange)="handleRowClick($event)">

  <!--Front Static Columns-->
  <kendo-grid-column field="JobCode" title="Job Code" [width]="150"></kendo-grid-column>
  <kendo-grid-column field="JobTitle" title="Job Title" [width]="275"></kendo-grid-column>

  <!--List Area Columns-->
  <kendo-grid-column *ngFor="let listAreaColumn of listAreaColumns"
                     [field]="listAreaColumn.ColumnDatabaseName"
                     [title]="listAreaColumn.ColumnDisplayName"
                     [width]="150">
    <ng-template *ngIf="listAreaColumn.ColumnDataType === 'date'" kendoGridCellTemplate let-dataItem>
      {{dataItem[listAreaColumn.ColumnDatabaseName] | date:'MM/dd/yyyy'}}
    </ng-template>
  </kendo-grid-column>

  <!--End Static Columns-->
  <kendo-grid-column *ngIf="!isPublic" field="VersionNumber" title="Version" [width]="100" [filterable]="false" class="cancel-row-click text-center" [headerClass]="'text-center'">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span *ngIf="!(dataItem.VersionNumber > 1)">{{ dataItem.VersionNumber }}</span>
      <a id="history-btn" *ngIf="dataItem.VersionNumber > 1"
         (click)="handleJobDescriptionHistoryClick(dataItem.JobDescriptionId, dataItem.JobTitle);">
        {{ dataItem.VersionNumber }}
      </a>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column *ngIf="!isPublic" field="JobDescriptionStatus" title="Status" class="text-center" [headerClass]="'text-center'" [width]="100">
    <ng-template kendoGridCellTemplate let-dataItem>
      <pf-status-pill [status]="dataItem.JobDescriptionStatus"></pf-status-pill>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column *ngIf="!isPublic" class="cancel-row-click" [width]="50" [style]="{'text-align': 'center', 'overflow': 'inherit'}">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <div ngbDropdown #jobDescriptionActionsDropDown="ngbDropdown" class="d-inline-block k-grid-ignore-click" placement="bottom-right">
        <button class="btn btn-secondary btn-sm" id="jd-list-view-actions-dropdown" ngbDropdownToggle>
          <fa-icon icon="ellipsis-h"></fa-icon>
        </button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="job-description-actions-dropdown" ngbDropdownMenu>
          <button class="dropdown-item"
                  [disabled]="dataItem.JobDescriptionStatus === 'Not Started'"
                  (click)="handleNewJobDescriptionClick(dataItem);">
            New Job Description
          </button>
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<pf-async-container [loading]="loading"></pf-async-container>
