@import '../styles';

:host ::ng-deep  button.btn.btn-primary {
  background-color: $primary-button;
  border: 2px solid $primary-button;
  border-radius: 4px;
}

:host ::ng-deep  button.btn.btn-primary:hover:enabled {
  background-color: $primary-button-hover;
  border-color: $primary-button-hover;
}

:host ::ng-deep  button.btn.btn-primary:focus:enabled {
  background-color: $primary-button-focus;
  border-color: $primary-button-focus;
}
