@import 'colors';

.api-save-success {
  color: #006400;
}

.api-save-error {
  color: #FF0000;
}

#api-response-container {
  font-size: larger;
  font-weight: bold;
}

.active-role {
  background-color: $selection-hover-background;
}

.main-container {
  -webkit-flex: 1 1 auto;
  overflow-y: hidden;
  height: 100%;
  display:flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-content: stretch;
  align-content: stretch;
  flex-flow: row nowrap
}

.left-side-menu {
  max-width: 250px;
  min-width: 150px;
  justify-content: space-between;
}

.left-side-menu-nav {
  list-style: none;
  overflow-y: hidden;
  overflow-x: hidden;
  li a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

}

.left-side-menu-nav-row {
  align-items: center;
  button {
    margin: -3px -8px;
  }
}


.highlight-role {
  color: $selection-hover-background;
  background-color: $selected-item-light-background-color;
}


.outer-nav-link {
  height: 44px;
  justify-content: center;
  a {
    display: flex;
    align-self: center;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.scrollable{
  overflow-y: auto;
  overflow-x: hidden;
}

.card-header{
  max-height: 44px;
}

.action-container {
  align-self: flex-end;
  align-items: center;
}

.ignore-click {
  pointer-events: none;
}

.role-name {
  flex: 1 1 auto;
}
