@import '../../libs/features/search/styles/shared-variables';
@import '../../libs/features/search/styles/shared-styles';

.page {
  height: 100%;
}

::ng-deep pf-search-results .results {
  width: 100%;
}

pf-paymarkets {
  @extend %position-below-results-header;
  width: 32.5% !important;
  right: 0;
}

::ng-deep .content .actions-container {
  width: 67.5%;
}

.clear-selections{
  position: absolute;
  left: 0;
  margin-left: 1rem;
}

.error-adding-jobs {
  font-weight: bold;
}


::ng-deep .modal-lg {
  max-width: 1000px;
  
  .modal-body {
    padding: 0.15rem 0.15rem 0.15rem 0.25rem;
  }

  .modal-content {
    height: 100%;

    .modal-content {
      height: auto;
      margin: 0.2rem;
    }

    .modal-dialog {
      display: flex;
      align-items: center;
    }
  }
}
