.container {
  background-color: #FFF;
  max-width: 9.5in;
}
br {
  page-break-after: always;
}


@media print {
  @page {
    size: A4 landscape;
    background-color: blue;
  }

  @page :left {
    //margin-left: 1cm;
  }

  @page :right {
    //margin-left: 1cm;
  }
}
