<div *ngFor="let employeeRewardsData of (statement$ | async)?.EmployeeRewardsData; let i = index;" class="statement-wrapper mx-auto">
  <pf-total-rewards-statement
    [statement]="(statement$ | async)"
    [employeeRewardsData]="employeeRewardsData"
    [mode]="printMode"
    [pageBreakAfter]="i !== (statement$ | async)?.EmployeeRewardsData?.length - 1"
    (onImageLoaded)="handleImageLoaded($event)"
    (onChartControlRender)="handleChartRender($event)"
  ></pf-total-rewards-statement>
</div>
<div 
  *ngIf="(statement$ | async)?.EmployeeRewardsData && areAllImagesLoaded && areAllChartsRendered" 
  [id]="readyForPdfGenerationSelector.slice(1)"
  class="d-none">
</div>
