<pf-async-container
  [loading]="exchangeCompaniesLoading$ | async"
  [loadingError]="exchangeCompaniesLoadingError$ | async"
  [loadingErrorMessage]="'Error loading exchange companies'"
  (reload)="handleExchangeCompaniesGridReload()">

  <kendo-grid
    [data]="exchangeCompaniesGrid$ | async"
    [pageSize]="(gridState$ | async)?.take"
    [skip]="(gridState$ | async)?.skip"
    [pageable]="{
          buttonCount: 5,
          info: true
        }"
    [sortable]="true"
    [scrollable]="true"
    [sort]="(gridState$ | async)?.sort"
    (pageChange)="handlePageChange($event)"
    (sortChange)="handleSortChange($event)"
  >

    <kendo-grid-column field="CompanyName" title="Company Name"></kendo-grid-column>

    <kendo-grid-column field="Industry" title="Industry"></kendo-grid-column>

    <kendo-grid-column field="JobCount" title="Job Count"></kendo-grid-column>

    <kendo-grid-column field="Location" title="Location"></kendo-grid-column>

  </kendo-grid>

</pf-async-container>

<pf-add-companies-modal></pf-add-companies-modal>
