<div class="detail-card" *ngIf="companyDetail">
  <div class="row">
    <div class="col-sm">
      <span class="ticket-header">COMPANY DETAILS</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="detail-label">Name</div>
      <div class="detail-text mb-2">
        {{companyDetail.Name}}
        <fa-icon
          *ngIf="companyDetail.NotesCount > 0"
          [icon]="['far', 'sticky-note']"
          class="pl-2 note-modal-icon"
          (click)="openNotesModal($event, companyDetail.Id,companyDetail.Name)"
          ngbTooltip="Company Notes"
          placement="right"
        ></fa-icon>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="companyDetail.ClientType">
    <div class="col-sm">
      <div class="detail-label">Client Type</div>
      <div class="detail-text mb-2">{{companyDetail.ClientType}}</div>
    </div>
  </div>
  <hr class="my-1" />
  <div class="row">
    <div class="col-sm">
      <div class="card-subtitle mb-1 mt-1"><span
          class="font-weight-bold">{{companyDetail.OpenTickets}}</span>&nbsp;<span class="detail-label">Tickets
          Total</span></div>
    </div>
  </div>
  <hr class="my-1" />
  <div class="row">
    <div class="col-sm">
      <div class="card-subtitle mb-1 mt-1"><span
          class="font-weight-bold">{{companyDetail.RecentTickets}}</span>&nbsp;<span class="detail-label">Opened tickets
          in the past {{companyDetail.RangeOfOpenedTickets}} days</span></div>
    </div>
  </div>
  <hr class="my-1" *ngIf="companyDetail.RecentTicketIds.length" />
  <div class="row" *ngIf="companyDetail.RecentTicketIds.length">
    <div class="col-sm mt-3">
      <div class="card-subtitle mb-1 detail-label">Recent Tickets</div>
      <div *ngFor="let ticketId of companyDetail.RecentTicketIds">
        <a style="font-weight: 600" href="javascript:void(0)" (click)="openTicket(ticketId)">{{ticketId.UserTicketId}}</a>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<pf-company-notes-modal></pf-company-notes-modal>
