<pf-data-grid
  [pageViewId]="pageViewId"
  [pageTheme]="pageTheme"
  [title]="'Saved Trends'"
  [selectionField]="'PeerTrend_ID'"
  [noRecordsFound]="'No records available.'"
  [enableSelection]="false"
  [defaultSort]="defaultSort"
  [saveSort]="true"
  [useColumnGroups]="false"
  [actionBarConfig]="actionBarConfig"
  [applyDefaultFilters]="true"
  [pageable]="!gridConfig?.EnableInfiniteScroll"
  [gridRowActionsConfig]="gridRowActionsConfig"
  [gridConfig]="gridConfig">
</pf-data-grid>

<ng-template #gridRowActionsTemplate let-dataRow="dataRow" let-index="rowIndex">
    <button class="btn btn-danger btn-primary show-on-row-hover" (click)="onDeleteClick(dataRow)">Delete</button>
</ng-template>


<pf-simple-yes-no-modal
  #deleteTrendModal
  [opts] = "deleteTrendModalOptions"
  (actionConfirmed) = "onConfirmDeleteTrend($event)"
  >
</pf-simple-yes-no-modal>
