// Fonts
$legacy-font-family: "Segoe UI", Arial, sans-serif;

// Sizes
$legacy-font-size: 12px;

// Colors
$legacy-light-header-grey: #eaeaea;
$legacy-dark-header-grey: #d2d2d2;
$legacy-border-grey: #DDDDDD;
$legacy-primary-blue: #0883BE;

// Weights
$legacy-bold-font-weight: 700;

// Add Data
$add-data-hover-background: #D4D4D4;
