@import 'legacy/legacy-variables';

html, body{
  background: #FFFFFF;
  font-size: $legacy-font-size;
  font-family: $legacy-font-family;
  color: #000000;
}

input {
  font-size: $legacy-font-size;
}


.legacy-primary-btn{
  background-color: $legacy-primary-blue;
  border: 1px solid $legacy-primary-blue;
  color: white;

  &:hover {
    color: white;
  }

  &:hover, &:not(:disabled):not(.disabled):active{
    background-color: darken($legacy-primary-blue, 5%);
    border-color: darken($legacy-primary-blue, 5%);
  }

  &:disabled {
    background-color: rgba($legacy-primary-blue, .65);
    border-color: rgba($legacy-primary-blue, .65);
  }
}
