<div class="card mb-3 shadow-sm p-3">
  <div class="card-body">
    <fa-icon icon="pencil-alt" size="lg" class="pencil-top-right blue" *ngIf="canEdit()" (click)="setEditMode()"></fa-icon>
    <h4 class="card-title pb-3">{{ transferSchedule.entityMappingTypeName }}</h4>
    <pf-transfer-schedule-cron
      [id]="transferSchedule.entityMappingType_ID"
      [cronExpression]="transferSchedule.expression"
      (cronExpressionChanges)="setCronExpression($event)"
      [editMode]="editMode"
      [disabled]="!active"
      [lastRunDate]="transferSchedule.lastSync_Date"
    ></pf-transfer-schedule-cron>
    <div class="d-flex justify-content-end" [class.hide-buttons]="!editMode">
      <div class="p-2">
        <button type="button" class="btn btn-outline-danger" *ngIf="active" (click)="toggleSchedule()">Disable</button>
      </div>
      <div class="p-2" *ngIf="!active">
        <button type="button" class="btn btn-primary" (click)="toggleSchedule()">Enable</button>
      </div>
      <div class="p-2">
        <button type="button" class="btn btn-primary" [disabled]="!isDirty || !transferSchedule.supported" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
