@import 'common/common-variables';
@import '../../styles/shared-variables';

.results-header{
  height: $results-header-height;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  @extend %bottom-box-shadow;
}

:host ::ng-deep .modal-backdrop.light-backdrop{
  background: #dcdcdc;
}

:host ::ng-deep .modal-dialog{
  max-width: 350px;
}
