@import '_colors';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

$header-width: 190px;
$header-color: darken(#f7f7f7, 10%);
$header-background-color: #1f2f3d;
$branded-color: #0882BE;

$primary-button: #0099cc;
$primary-button-hover: #1F2F3D;
$primary-button-focus: #1F2F3D;

#au-modal-add-company-role {
  .modal-content {
    border-radius: .4rem;
    .modal-header {
      background-color: $header-background-color;
      color: $header-color;
      h5 small {
        color: $header-color !important;
      }
      button.close {
        color: #fff;
        transition: opacity .2s ease-in-out;
      }
    }
  }
}

.close-btn {
  height: 18px;
  padding-left: 5px;
  padding-top: 3px;
}

.text-pre {
  white-space: pre;
}

.k-notification-group {
  /*
   * kendo toast notifications lack z-index,
   * which causes them to render under any element with z-index != auto
   * when we want them to render over (almost all) other elements
   *
   * elevating them to the same level as Bootstrap popovers as a fix
   *
   * normally, we should introduce a new reusable class rather than modify an existing library class,
   * but in this case, Kendo does not allow us to add a CSS class to the element that requires it
   * so we must modify the class that Kendo uses
   */
  z-index: $zindex-popover;
}

// Hack for Elippses in Flexbox. We need to apply min-width: 0 to all parent flexboxes
// https://stackoverflow.com/questions/38223879/white-space-nowrap-breaks-flexbox-layout
.flex-grow-1 {
  min-width: 0 !important;
}

/* Survey UDFs */
pf-udf-picker {
  button.remove svg {
    color: #dc3545;
  }
  button.add-udf svg {
    color: $primary-button;
  }
  kendo-dropdownlist.k-dropdown {
    .k-dropdown-wrap, .k-dropdown-wrap:hover {
      background-color: transparent;
    }
  }
}

.page-header .actions-company-searcher {
  min-width: 400px;
}
/* End Survey UDFs */