@import '_colors';

$header-width: 190px;
$header-color: darken(#f7f7f7, 10%);
$header-background-color: #1f2f3d;
$branded-color: #0882BE;

#au-modal-add-company-role {
  .modal-content {
    border-radius: .4rem;
    .modal-header {
      background-color: $header-background-color;
      color: $header-color;
      h5 small {
        color: $header-color !important;
      }
      button.close {
        color: #fff;
        transition: opacity .2s ease-in-out;
      }
    }
  }
}

.close-btn {
  height: 18px;
  padding-left: 5px;
  padding-top: 3px;
}

// Hack for Elippses in Flexbox. We need to apply min-width: 0 to all parent flexboxes
// https://stackoverflow.com/questions/38223879/white-space-nowrap-breaks-flexbox-layout
.flex-grow-1 {
  min-width: 0 !important;
}
