@import 'colors';
@import '../../../../styles';

.card {
  font-size: 1.25rem;
}

.card-header {
  color:  $community-categories-header;
  font-weight: 500;
  background-color:  white;
  border-bottom-color: $community-categories-border;
}

.card-header:first-child
{
  border-radius: calc(#{$community-border-radius} - 1px) calc(#{$community-border-radius} - 1px) 0 0;
}

.category-count {
  border-style: solid;
  border-color: $community-categories-border;
  border-width: 1px;
}

.category-element {
  color: $community-categories-body;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.category-element:hover {
  text-decoration: underline;
}

.category-disabled {
  opacity: 0.65;
}
