<div class="mb-3 mr-1 category-container">
  <div class="container py-0">
    <h5>
      ALL DISCUSSIONS
    </h5>
    <ng-container *ngFor="let category of categories$ | async;">
    <div *ngIf="category.Name !== 'MyFavorites'" class="row pl-1 py-2">
      <div class="col-9 py-1">
        <span (click)="!filteredByPost && onClick(category.Name)"
              id="communityCategory{{ category.Name }}"
              [attr.data-qa-id]="'cnt'+category.Name"
              [ngClass]="{'category-element': !filteredByPost, 'category-element-disabled': filteredByPost }">{{ category.Name | communityCategoryDisplayName }}</span>
      </div>
      <div class="col-2 px-0 py-1 text-center community-border-radius category-text"
        [attr.data-qa-id]="'cnt-count'+category.Name"
        (click)="!filteredByPost && onClick(category.Name)"
        [ngClass]="{'category-count': !filteredByPost, 'category-count-disabled' : filteredByPost, 'category-selected': IsCategorySelected(category.Name)}">
         <span id="communityCount{{ category.Name }}"
              [ngClass]="{'category-disabled': filteredByPost, 'category-element': !filteredByPost, 'category-element-disabled': filteredByPost }">{{ category.Count }}</span>
      </div>
    </div>
    </ng-container>
  </div>
</div>
