@import 'colors';
@import 'styles';

.card {
  font-size: 1.25rem;
}

.category-container {
  min-width: 220px;
}

.category-count {
  color: #ffffff;
  background-color: $community-categories-body;
  border-style: solid;
  border-color:  $community-categories-body;
  border-width: 1px;
}

.category-element {
  font-size: 1.3rem;
  text-decoration: none;
  cursor: pointer;
}

.category-element:hover {
  text-decoration: underline;
}

.category-count {
  font-weight: 500;
}

.category-count:hover {
  color: $community-category-hover-color;
  background-color: #ffffff;
  border-color: $community-category-hover-color;
}

.category-disabled {
  opacity: 0.65;
}

.category-selected {
  color: #ffffff;
  background-color: $community-category-hover-color;
  border-color: $community-category-hover-color;
}
