@import 'tickets-page';

:host ::ng-deep .k-dropdown-wrap .k-clear-value {
  right: calc( 0.75rem + 17px + 6.5px);
}

:host ::ng-deep .k-combobox .k-state-focused {
  color: #495057;
  background-color: #fff;
  border-color: #4a7092;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(31, 47, 61, 0.25);
}


span.userticketstatus {
  margin-left: -0.75rem !important;
  margin-right: -0.75rem !important;
}

:host ::ng-deep .k-combobox{
  width:100%;
}

span.ticketsdot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right:5px;
  }

.label-view {
  display: flex;
  justify-content: space-between;

}
