<div class="p-2 col-12 post-edit-container">
  <pf-community-avatar
    [AvatarSource]="post.UserInfo?.AvatarSource"
    [CompanyLogoSource]="post.UserInfo?.CompanyLogoSource"
    [UserFirstName]="post.UserInfo.UserFirstName"
    [UserLastName]="post.UserInfo.UserLastName">
  </pf-community-avatar>

  <div class="post-offset">
    <select class="w-25 ml-2 border float-right mb-2" [(ngModel)]="selectedTopic">
      <option *ngIf="!selectedTopic" value="undefined" hidden disabled selected>Select a Topic</option>
      <option *ngFor="let topic of communityTopics$ | async" [ngValue]="topic">{{topic.TopicName}}</option>
    </select>

    <pf-community-post-header [user]="post.UserInfo"
                              [time]="post.ElapsedTime"
                              [isInternalOnly]="post.IsInternalOnly"
                              [isCurrentUserPost]="post.IsCurrentUserPost"
                              [postId]="post.Id"
                              [isExpiredPoll]="post.UserPollRequest ? post.UserPollRequest.IsExpired : false"
                              [isUserPoll]="post.UserPollRequest != null"
                              [userPollId]="post.UserPollRequest ? post.UserPollRequest.CommunityPollId : ''"
                              [hidePostActions]="true">
    </pf-community-post-header>

    <div *ngIf="!post.UserPollRequest; else user_poll" class="clear-both">
      <pf-community-post-content class="mt-2 mb-2"
                                 [content]="post.Content">
      </pf-community-post-content>
      <div *ngIf="!!communityAttachments" class="d-flex flex-wrap pt-3">
        <div class="pr-2 py-1" *ngFor="let attachment of communityAttachments">
          <pf-community-attachment-edit 
            [attachment]="attachment" 
            (attachmentRemoved)="onAttachmentRemoved($event)">
          </pf-community-attachment-edit>
        </div>
      </div>
      <div class="url-preview-card p-1" *ngIf="post?.UrlPreviewData.PreviewTitle">
        <a [href]="post.UrlPreviewData.PreviewUrl" target="_blank">
          <div class="url-preview-card-image-container mr-2">
            <img class="url-preview-card-image" [src]="post.UrlPreviewData.PreviewImageSrc">
          </div>
          <p><b>{{post.UrlPreviewData.PreviewTitle}}</b></p>
          <p>{{post.UrlPreviewData.PreviewDescription}}</p>
        </a>
      </div>
    </div>
    <ng-template #user_poll>
      <div class="row justify-content-center m-0">
        <div class="col-8 pb-2">
          <pf-community-poll
            [request]="post.UserPollRequest"
            [response]="post.UserPollResponse"
            [type]="pollsType"
            [isCurrentUserPost]="post.IsCurrentUserPost">
          </pf-community-poll>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="overflow-hidden">
    <button type="button" class="btn btn-cancel m-1 py-2 px-3 shadow-none float-right" (click)="cancelEdit()">Cancel
    </button>
    <button type="button" class="btn m-1 py-2 px-3 shadow-none float-right" (click)="savePost()">Save
    </button>
  </div>
</div>
