@import 'colors';
@import 'styles';

.post-offset {
  margin-left: $community-post-avatar-size + 10px;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

a {
  text-decoration: none;
}

:host ::ng-deep .url-preview-card
{
  border: 1px solid $border-grey;
  overflow: hidden;
}

:host ::ng-deep .url-preview-card-image-container
{
  float:left;
  border-right: 1px solid $border-grey;
}

:host ::ng-deep .url-preview-card-image
{
  object-fit: cover;
  height: 100px;
  width: 100px;
  color: #FA4646;
}

.clear-both
{
  clear: both;
}

.overflow-hidden
{
  overflow:hidden;
}

.attachment-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  width: 75%;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-start;
}

.attachment-content {
  max-height: 40px;
}

:host ::ng-deep div.text-danger {
  font-size: 85%;
}



.footer-container {
  display: inline-block;
  width: 100%;
  margin-top: -10px;
}

.btn{
  border-radius: 4px;
}

