// Fonts
$comphub-font-family: "Segoe UI", Arial, sans-serif;

// Sizes
$comphub-font-size: 14px;

// Colors
$comphub-primary-blue: #0099CC;

$comphub-secondary-background: #ffffff;
$comphub-secondary-background-hover: #eaeaea;
$comphub-secondary-border: #666666;
$comphub-secondary-border-disabled: #999999;
$comphub-secondary-text: #333333;
$comphub-secondary-text-disabled: #999999;

$comphub-header-blue: #306589;
$comphub-header-background-grey: #eaeaea;

// Weights
$comphub-bold-font-weight: 600;
