@import 'comphub-variables';

.comphub-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: white;
  font-size: $comphub-font-size;
  padding: 28px;
  max-height: calc(100vh - 120px);
  overflow-y: auto;

  .page-header {
    font-size: 2.5rem;
    color: $comphub-header-blue;
    position: relative;
  }

  .page-icon {
    margin-right: .5rem;
  }

  .page-title {
    font-weight: $comphub-bold-font-weight;
  }
}

.actions-section {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  height: 4.5rem;

  button {
    margin-right: .5rem;
  }
}

.uppercase-header {
  text-transform: uppercase;
  color: $comphub-header-blue;
  font-weight: bold;
}
