@import 'comphub-variables';

.comphub-primary-btn, %comphub-primary-btn {
  background-color: $comphub-primary-blue;
  border: 1px solid $comphub-primary-blue;
  color: white;

  &:hover, &:not(:disabled):not(.disabled):active{
    background-color: darken($comphub-primary-blue, 5%);
    border-color: darken($comphub-primary-blue, 5%);
  }

  &:disabled {
    background-color: rgba($comphub-primary-blue, .65);
    border-color: rgba($comphub-primary-blue, .65);
  }
}

.comphub-secondary-btn {
  background-color: $comphub-secondary-background;
  border: 1px solid $comphub-secondary-border;
  color: $comphub-secondary-text;

  &:hover, &:not(:disabled):not(.disabled):active{
    background-color: $comphub-secondary-background-hover;
  }

  &:disabled {
    background-color: $comphub-secondary-background;
    border-color: $comphub-secondary-border-disabled;
    color: $comphub-secondary-text-disabled;
  }
}

.borderless-blue-btn {
  color: #0275D8;
  cursor: pointer;
}
