@import 'comphub-variables';

.comphub-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: white;
  font-size: $comphub-font-size;
  padding: 28px;

  .page-header {
    font-size: 2.5rem;
    color: $comphub-header-blue;
  }

  .page-icon {
    margin-right: .5rem;
  }

  .page-title {
    font-weight: $comphub-bold-font-weight;
  }
}

.actions-section {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  padding-bottom: 2rem;
  height: 4.5rem;

  button {
    width: 105px;
    margin-right: .5rem;
  }
}
