// Fonts
$comphub-font-family: "Segoe UI", Arial, sans-serif;

// Sizes
$comphub-font-size: 16px;

// Colors
$comphub-primary-blue: #0099CC;
$comphub-header-blue: #306589;

// Weights
$comphub-bold-font-weight: 600;
