// Colors
$dark-grey: #999999;

%label {
  text-transform: uppercase;
  color: $dark-grey;
  font-size: .95rem;
}

$actions-mask-overlay: #aeaeae;
$solid-star-color: #ffb300;
$grid-border-color: #d6d6d6;
$icon-blue-color: #0883BE;
$background-grey: #eaeaea;
$card-header-grey: #495057;
$baby-blue: #ebf3fd;
