<pf-async-container [loading]="transferScheduleSummaryLoading$ | async"
                    [loadingError]="transferScheduleSummaryError$ | async"
                    [loadingErrorMessage]="'Error loading Transfer Schedule'">
  <div class="card-mb-3 shadow-sm p-3">
    <div class="card-body">
      <h4 class="card-title text-uppercase">
        <fa-icon icon="calendar-alt"></fa-icon>
        Transfer Schedule
        <span *ngIf="this.transferScheduleSummary.length"><a routerLink="/transfer-schedule">edit</a></span>
      </h4>
      <div class="row">
        <table class="table table-striped">
          <tbody>
            <ng-container *ngIf="!this.transferScheduleSummary.length">
              <tr *ngFor="let item of defaultEntities">
                <td>{{ item }}</td>
                <td class="text-right font-italic">not scheduled</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="this.transferScheduleSummary.length">
              <tr *ngFor="let item of this.transferScheduleSummary">
                <td>{{ item.entityMappingTypeName}}</td>
                <td class="text-right font-italic">{{ getSchedule(item) }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</pf-async-container>


