input:focus {
  border-bottom-color: #0883BE;
}

hr {
  margin-bottom: 0;
  margin-top: 0;
}

.verification-container {
  width: 515px;

  .img-container {
    margin: 19px 0;
  }

  .verification-content {
    padding: 1.5rem 3.5rem 4rem 3.5rem;

    .info {
      font-size: 16.25px;
      line-height: 16px;
      margin-bottom: 5rem;
    }
  }

  .btn-continue {
    height: 40px;
    width: 430px;
  }

  .btn-enabled {
    background-color: #1F243D;
  }
}

.code-input {
  text-align: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom-color: #979797;
  margin: 0 6px;
  outline: none;
  width: 43px;
}

@media (max-width: 575.98px) {
  .code-input {
    width: 29px;
  }

  .btn-continue {
    width: 259px !important;
  }

  .info {
    margin-bottom: 3rem;
  }
}
