@import '_colors';

.column-count-container {
  color: #264478;
}

div > a:hover{
  color:black;
}

div > a {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
  color: white;
}

.column-container {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
  z-index: 2;
}

kendo-chart {
  height: 50%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.tile-container
{
  height: 100%;
  width: 100%;
}

.tile-text, .tile-text-no-link {
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: #ffffff;
  display: block;
  z-index: 2;
}

.tile-text:hover{
  color:black;
}

.btn-respond 
{
  background-color: $community-preview-tile-chart-color;
  border-color:  $community-preview-tile-chart-color;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  z-index: 2;
  font-size: .9rem;
}