@import '_colors';
@import 'styles';

.column-count-container {
  font-size: 0.8rem;
  width: 25px;
}

div > a:hover{
  color:black;
}

div > a {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
  color: white;
}

kendo-chart {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.tile-container
{
  height: 100%;
  width: 100%;
}

.column-container {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
  z-index: 2;
}

.chart-container
{
  height: 40%;
  width: 100%;
  position: absolute;
}

.details-body-containter
{
  background-color: #99C1D4;
  position:relative; 
  right:-2px;
}

.tile-text
{
  font-size: 0.9rem;
  line-height: 1.1rem;
}

.title-header
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}

.title-body, .title-body-no-link {
  display: block;
  color: black;
  z-index: 2;
}

.title-body:hover{
  color: #ffffff;
}

.btn-respond 
{
  background-color: #ffffff;
  border-color:  #ffffff;
  color: #0099cc;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  z-index: 2;
  font-size: .9rem;
}

.heading-icon-image {
  width: 17px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

::ng-deep .tooltip 
{ 
   pointer-events: none;
}

