<div class="tile-container row m-1">
  <div class="col-5 p-0">
    <div class="row">
     <div class="col-12 ml-1">
      <img *ngIf="!!model.HeadingIconImage" class="heading-icon-image"
        src="assets/images/{{model.HeadingIconImage}}">
       <strong>{{ model.TileListTitle }}</strong>
     </div>
   </div>

    <ng-container *ngFor="let dataItem of model.TileListData">
    <div class="row pl-0 pr-0 py-1">
      <div class="col-12 column-container" [ngbTooltip]="dataItem.TooltipText">
        <a href="{{ dataItem.Url }}" class="tile-text">{{ dataItem.ColumnName }}</a>
      </div>
    </div>
    </ng-container>
  </div>

  <div class="col-7 p-0 pb-2">
    <span *ngIf="hasChartItems">     
      <span class="tile-text title-header">{{model.TileChartData.DateTitle}}: {{model.TileChartData.Date | date:'MM-dd-yy'}}</span>        
        <div class="details-body-containter pl-2 pb-1 pr-1">
          <span class="tile-text title-body title-header"><strong>{{model.TileChartData.Company}}</strong></span>    
          <span class="details-body-containter"  ngbTooltip="{{detailsToolTip}}">
            <a class='col-12 tile-text title-body m-0 p-0' href="{{model.PostUrl}}">{{details}}</a>   
          </span>
        <button *ngIf="model.TileChartData && !hasData()" (click)="navigate()" class="col-12 btn btn-primary btn-respond px-2 py-0 mt-2">{{model.ActionItemTitle}}</button>
      </div>
    </span>

    <div *ngIf="!hasChartItems">
      <div class="details-body-containter pl-2 pb-3 pr-1">
        <strong class='tile-text title-body-no-link text-center py-2'>{{details}}</strong>   
        <button (click)="action()" class="col-12 btn btn-primary btn-respond">{{model.ActionItemTitle}}</button>
      </div>
    </div>   

    <div *ngIf="hasData()" class="chart-container pb-1">
      <span  class="tile-text title-header">{{model.TileChartData.Title}}</span> 
      <kendo-chart (seriesClick)="navigate()">    

    <kendo-chart-area background="none"  [margin]="0" ></kendo-chart-area>
    <kendo-chart-plot-area [margin]="0" [padding]="0"></kendo-chart-plot-area>

    <kendo-chart-axis-defaults [majorGridLines]="{ visible : false}" [line]="{ visible : false}">
    </kendo-chart-axis-defaults>
    <kendo-chart-value-axis>
      <kendo-chart-value-axis-item labels="false">
      </kendo-chart-value-axis-item>
    </kendo-chart-value-axis>
    <kendo-chart-category-axis>
        <kendo-chart-category-axis-item labels="false">
        </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>

    <kendo-chart-series>
      <kendo-chart-series-item  type="column" [gap]="1.7" [data]="chartData.TileChartItems" color="#F5B312"categoryField="DataField" field="Percentage">
          <kendo-chart-series-item-tooltip background="#121B25">
            <ng-template let-category="category" let-value="value">
              {{category}} : {{getPercentage(value)}}%
            </ng-template>
          </kendo-chart-series-item-tooltip>
      </kendo-chart-series-item>
    </kendo-chart-series>
    </kendo-chart>
  </div>
     
  </div>
</div>

