$trs-canvas-background-color: rgba(187, 187, 187, 0.25);
$trs-edit-statement-page-background-color: #fafafa;
$trs-soft-border-color: #eee;
$trs-prominent-border-color: rgba(51, 51, 51, 0.75);;
$trs-placeholder-font-color: #555;

$color-danger: #D9534F;
