.page {
  background-color: #ffffff;
  padding: 2rem;
  height: 100%;

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    color: #306589;
  }
}

.survey-data-cuts-container {
  background-color: #fff;
  position: relative;
}

.action-btn {
  margin-left: .75rem;
  border: 1px solid transparent;

  &:disabled {
    border: none;
  }

  fa-icon {
    color: #777;
    font-size: 1.25rem;
  }
}

.dropup .dropdown-toggle::after, .dropdown-toggle::after {
  display: none !important;
}
