<pf-data-grid
  [reorderable]="true"
  [pageViewId]="pageViewId"
  [title]="'Surveys'"
  [defaultSort]="defaultSort"
  [actionBarConfig]="actionBarConfig"
  [enableSelection]="true"
  [selectionFieldExistsOnBase]="false"
  [gridConfig]="gridConfig"
  [useReportingDB]="true"
  [pageable]="!gridConfig.EnableInfiniteScroll"
  [filterPanelTemplates]="filterTemplates"
  [customFilterOptions]="customFilterOptions"
  [inboundFilters]="inboundFilters"
  [expandedRowTemplate]="expandRow"
  [selectionField]="'SurveyJob_Survey_Job_ID'"
  [enableRowFade]="true"
  [fieldsExcludedFromExport]="fieldsExcludedFromExport">
</pf-data-grid>

<ng-template #historyFilter>
  <div>
    <label>History:</label>
    <kendo-dropdownlist
      [(ngModel)]="historyFilterSelectedItem"
      [textField]="'Display'"
      [valueField]="'Value'"
      [defaultItem]="{Display:'All', Value: null}"
      [data]="filteredSurveyYearOptions"
      (valueChange)="handleHistoryValueChanged($event)"
      [filterable]="true"
      (filterChange)="handleHistoryFilterChanged($event)"
      [attr.data-qa-id]="'ddm-operator-surveys-page-Effective-Date'"
      class="k-dropdown-white form-control">
    </kendo-dropdownlist>
  </div>
</ng-template>

<ng-template #matchedFilter>
  <div [style.width.px]="188">
    <label>Matched:</label>
    <kendo-dropdownlist
      [data]="matchedFilterDisplayOptions"
      [textField]="'Display'"
      [valueField]="'Value'"
      [ngModel]="matchedFilterSelectedOption"
      (valueChange)="handleMatchedFilterChanged($event)"
      [attr.data-qa-id]="'ddl-bit-filter-value-'+ matchedFilterField.SourceName"
      class="k-dropdown-white form-control">
    </kendo-dropdownlist>
  </div>
</ng-template>

<ng-template #countriesFilter>
  <label>Country:</label>
  <kendo-dropdownlist
    [ngModel]="countriesFilterSelectedOption"
    [textField]="'Name'"
    [valueField]="'Value'"
    [defaultItem]="{Name:'All', Value: null}"
    [data]="countries"
    [kendoDropDownFilter]="filterSettings"
    (valueChange)="handleCountriesFilterChanged($event)"
    [filterable]="true"
    [valuePrimitive]="true"
    [attr.data-qa-id]="'ddm-filter-surveys-page-' + countriesFilterField.SourceName"
    class="k-dropdown-white form-control">
  </kendo-dropdownlist>
</ng-template>

<ng-template #expandRow let-dataRow="dataRow">
  <div class="survey-data-cuts-container pt-3 pb-4 px-4">
    <pf-async-container [loading]="surveyDataGridReloading(dataRow['SurveyJob_Survey_Job_ID'])">
      <div class="d-flex px-3 pb-3 justify-content-between">
        <pf-survey-job-details [surveyJobDetails]="dataRow | surveyJobDetails"></pf-survey-job-details>

        <div class="d-flex align-self-center flex-shrink-0 space-out-children">
          <button *ngIf="dataRow['Surveys_ParticipantsCount'] > 0"
                  class="btn btn-secondary"
                  (click)="viewParticipantsList(dataRow['CompanySurveys_Survey_ID'], dataRow['Surveys_Survey_Name'])">View Participant List
          </button>
          <button *ngIf="surveyDataGridRefreshed(dataRow['SurveyJob_Survey_Job_ID']) === false"
                  type="button"
                  class="btn btn-secondary action-btn"
                  title="Refresh the table to view updates"
                  (click)="refreshSurveyDataGrid(dataRow['SurveyJob_Survey_Job_ID'])">
            <fa-icon icon="redo"></fa-icon>
          </button>
          <button type="button"
                  class="btn btn-secondary action-btn"
                  title="Edit Survey Fields"
                  [disabled]="surveyDataGridRefreshed(dataRow['SurveyJob_Survey_Job_ID']) === false"
                  (click)="openSurveyFieldsModal(dataRow['SurveyJob_Survey_Job_ID'])">
            <fa-icon icon="edit"></fa-icon>
          </button>
          <button type="button"
                  class="btn btn-secondary action-btn btn-close"
                  (click)="closeExpandedRow('SurveyJob_Survey_Job_ID', dataRow['SurveyJob_Survey_Job_ID'])">
            <fa-icon [icon]="['far', 'times']"></fa-icon>
          </button>
        </div>
      </div>
      <pf-survey-data-cuts [surveyJobId]="dataRow['SurveyJob_Survey_Job_ID']"></pf-survey-data-cuts>
    </pf-async-container>
  </div>
</ng-template>

<ng-template #gridGlobalActions>
  <button
    [attr.data-qa-id]="'btn-viewSurveyParticipants'"
    type="button"
    (click)="viewSurveyParticipantsModal()"
    class="btn btn-primary">
    Participants
  </button>
</ng-template>

<pf-survey-data-fields
  [fields]="surveyDataFields"
  [showModal$]="surveyDataFieldsModalOpen$"
  [saving$]="savingSurveyFields$"
  (onDismiss)="closeSurveyFieldsModal()"
  (onSubmit)="updateSurveyFields($event)">
</pf-survey-data-fields>

<pf-view-participants-list
  [surveyTitle]="surveyTitle">
</pf-view-participants-list>

<pf-modal-form
  [size]="'lg'"
  [title]="'Survey Participation'"
  [primaryButtonText]="'Close'"
  [primaryButtonClass]="'btn-danger'"
  [modalId]="'au-modal-survey-participation'"
  [isOpen$]=" showSurveyParticipantModal$"
  [showSubmit]="false"
  (onDismiss)="handleSurveyParticipationDismissed()">
  <ng-container basic-content>
    <pf-survey-participation
      [showSurveyParticipantModal]="showSurveyParticipantModal$ | async"
      [surveys]="(surveyInfo$ | async)?.obj">
    </pf-survey-participation>
  </ng-container>

</pf-modal-form>
