.tile-text-color {
  color: #fff;
}

.tile-text-color {
  color: #fff;
}

.tile-small {
  min-width: 250px;
}

.tile-large {
  min-width: 500px;
}

@media screen and (max-width: 991px) {

  .tile-large {
    min-width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .tile-small {
    flex: 1;
    min-width: 250px;
    max-width: 100%;
  }

  .tile-large {
    flex: 1;
    min-width: 250px;
    max-width: 100%;
  }
}
