@import 'colors';
@import 'styles';

.search-result-header-text {
  color: $community-search-result-color;
  font-weight: 500;
}

.search-result-header-text-bold {
  font-weight: 700;
}

.community-sub-text {
  color: $community-search-result-color;
}

.poll-close-date {
  background: transparent;
  color: #FFB300;
}

.poll-expired {
  background: transparent;
  color: red;
}
