@import 'comphub-page';
@import 'comphub-styles';
@import 'colors';

.no-data {
  font-style: italic;
}

.search-filter {
  padding: .5rem 0;
  margin-bottom: 1rem;
  margin-top: 2rem;

  &:hover {
    .k-i-close {
      display: block;

      &:hover {
        opacity: 1;
      }
    }
  }
}

:host::ng-deep{
  .search-filter {
    input {
      height: 32.75px;

      &:focus {
        border: 1px solid #4a7092;
        box-shadow: none;
      }
    }
  }
}

.k-i-close {
  cursor: pointer;
  position: absolute;
  right: 28px;
  bottom: 28px;
  color: #495057;
  opacity: .5;
  display: none;
}

.add-new-market-container {
  display: flex;
  padding: 1rem 0;
  span {
    margin-right: 1.5rem;
  }

  .add-new-market-button {
    cursor: pointer;
    .plus-circle {
      color: $pf-additional-colors-green;
    }
  }
}
