<pf-card-layout
  pageTitle="Markets"
  pageSubTitle="Now, let's define the market"
  pageIconClass="map-marker-alt"
  [page]="comphubPages.Markets"
  [nextButtonEnabled]="workflowContext?.selectedPageId === comphubPages.Markets"
  [backButtonEnabled]="workflowContext?.selectedPageId === comphubPages.Markets">

  <ng-container page-content>

    <pf-add-paymarket-form *ngIf="addPayMarketFormOpen$ | async"
      [isOpen]="addPayMarketFormOpen$ | async"
      [isInfoBannerOpen]="infoBannerOpen$ | async"
      [marketDataScope]="marketDataScope$ | async"
      [countryDataSet]="workflowContext?.activeCountryDataSet"
      [saving]="savingPayMarket$ | async"
      [savingConflict]="savingPayMarketConflict$ | async"
      [savingError]="savingPayMarketError$ | async"
      [showSkipButton]="showSkipButton$ | async"
      [loadingScopes]="loadingMarketDataScopes$ | async"
      [locations]="marketDataLocations$ |async"
      [loadingLocations]="loadingLocations$ |async"
      (saveClick)="handleSavePayMarket($event)"
      (skipClick)="handleSkipAddPayMarket()"
      (cancelClick)="handleCancelAddPayMarket()"
      (locationFilterChanged)="handleLocationFilterChanged($event)"
      (dismissInfoBannerClick)="handleDismissInfoBanner()">
    </pf-add-paymarket-form>

    <pf-async-container
      [loading]="loadingPaymarkets$ | async"
      [loadingError]="loadingPaymarketsError$ | async"
      [loadingErrorMessage]="'Error.'"
      [hideReloadButton]="true">

      <div class="row"
        *ngIf="(paymarkets$ |async).length && !(addPayMarketFormOpen$ | async)">
        <div class="col-lg-12 col-xl-9">
          <div class="search-filter">
              <pf-input-debounce
                [ngModel]="payMarketsFilter$ | async"
                [placeholderText]="'Search Pay Markets...'"
                [delay]="200" [hideClearBtn]="true"
                id="search-paymarkets"
                (valueChanged)="handleSearchChanged($event)">
              </pf-input-debounce>

              <span *ngIf="payMarketsFilter$ | async"
                    (click)="clearSearchValue()"
                    class="k-icon k-clear-value k-i-close">
              </span>
          </div>
        </div>
      </div>

      <ng-container  *ngIf="(paymarkets$ |async).length">
        <div [style.display]="(addPayMarketFormOpen$ | async) ? 'none' : 'block'">
          <div class="row">
          <div class="col-lg-12 col-xl-9">
            <div class="add-new-market-container">
              <span class="uppercase-header">My Markets</span>
              <div class="add-new-market-button"
                   *ngIf="!(hideNewPaymarketButton$ | async)"
                   [attr.data-qa-id]="'btn-addNewMarket'"
                   (click)="handleAddNewMarketClicked()">
                <fa-icon icon="plus-circle" class="plus-circle"></fa-icon>
                Add New Market
              </div>
            </div>
          </div>
        </div>

          <div class="row">
          <div class="col">
            <pf-paymarket-cards
              *ngIf="(visiblePaymarkets$ |async).length"
              [selectedPaymarketId]="(selectedPaymarket$ | async)?.CompanyPayMarketId"
              [paymarkets]="visiblePaymarkets$ | async"
              (paymarketChecked)="handlePaymarketChecked($event)">
            </pf-paymarket-cards>

            <div *ngIf="!(visiblePaymarkets$ | async).length && !(loadingPaymarkets$ | async)">
              <div class="no-data">No Data</div>
            </div>
          </div>
        </div>
        </div>
      </ng-container>

    </pf-async-container>

  </ng-container>

</pf-card-layout>
