<pf-async-container [loading]="ticketLoading$ | async" [loadingError]="ticketLoadingError$ | async"
  [loadingErrorMessage]="'Error Loading Ticket'" (reload)="handleTicketReload">
  <div class="container-fluid" *ngIf="ticket">
    <div class="row">
      <div style="padding-top:5px" class="col-sm-8">
        <span class="detail-label">Description</span>
        <h4 class="ticket-description-title detail-text ">
          <pf-ellipsis-view-more [content]="ticket.Description" [maxLength]="350">
          </pf-ellipsis-view-more>
        </h4>
        <pf-ticket-fields *ngIf="ticket.TicketInfo" [ticket]="ticket.TicketInfo" (valueChange)="fieldChange($event)">
        </pf-ticket-fields>
        <pf-ticket-detail-card [ticketDetail]="ticket.TicketInfo"></pf-ticket-detail-card>
      </div>
      <div class="col-sm-4">
        <pf-company-detail-card [companyDetail]="ticket.CompanyInfo"></pf-company-detail-card>
        <pf-attachment-detail-card [ticketAttachments]="ticket.Attachments" [ticketId]="ticket.TicketInfo.TicketId">
        </pf-attachment-detail-card>
      </div>
    </div>
  </div>
</pf-async-container>