<pf-async-container [loading]="ticketLoading$ | async"
                    [loadingError]="ticketLoadingError$ | async"
                    [loadingErrorMessage]="'Error Loading Ticket'"
                    (reload)="handleTicketReload()">
  <div class="container-fluid"
       *ngIf="ticket">
    <div class="row">
      <div class="col-sm-8 pt-2">
        <pf-ticket-fields *ngIf="ticket.TicketInfo"
                          [ticket]="ticket.TicketInfo">
        </pf-ticket-fields>
        <pf-ticket-detail-card *ngIf="!!ticket.TicketInfo" [ticketDetail]="ticket.TicketInfo"></pf-ticket-detail-card>
        <pf-ticket-comments-detail [ticketId]="ticket.TicketInfo.TicketId"
                                   [comments]="ticket.TicketInfo.Comments"></pf-ticket-comments-detail>
      </div>
      <div class="col-sm-4">
        <pf-company-detail-card [companyDetail]="ticket.CompanyInfo"></pf-company-detail-card>
        <pf-attachment-detail-card [ticketAttachments]="ticket.Attachments"
                                   [ticketId]="ticket.TicketInfo.TicketId">
        </pf-attachment-detail-card>
      </div>
    </div>
  </div>
</pf-async-container>
