@import 'colors';
@import 'common/common-variables';

.search-result-container {
  border-bottom: solid 1px #ccc;

  &:hover{
    background-color: $selection-hover-background;
    cursor: pointer;
    text-decoration: none;
    .name {
      color: $pf-brand-secondary-color !important;
    }
  }

  .header {
    padding: .5rem;

    .workbook-name {
      width: 100%;
    }
  }

  .workbook-view {
    height: 40px;
    width: 100%;
    @extend %ellipsis-overflowing-text;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $border-grey;
    padding: 0.25rem .5rem;
    color: black;
    text-decoration: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .workbook-source {
    font-style: italic;
    color: #6c757d;
    @extend %ellipsis-overflowing-text;
  }

  .name {
    margin-right: .5rem;
    max-width: 85%;
    @extend %ellipsis-overflowing-text;
  }
  .badge {
    padding: .2rem .5rem;
    @extend %ellipsis-overflowing-text;
  }
}
