<div class="left-sidebar-dock" [ngClass]="{'left-sidebar-open': isOpen, 'left-sidebar-close': !isOpen}">

  <div class="header d-flex justify-content-between">
    <h5 *ngIf="isOpen">Fields</h5>
    <span (click)="toggle()">
      <fa-icon *ngIf="!isOpen" class="icon open-icon" icon="chevron-double-right" size="lg"></fa-icon>
      <fa-icon *ngIf="isOpen" class="icon close-icon"  icon="chevron-double-left" size="lg"></fa-icon>
    </span>
  </div>

  <div perfectScrollbar class="content" [style.display]="isOpen ? 'block' : 'none'">
    <pf-add-report-fields
      (fieldAdded)="handleFieldAdded($event)"
      [fields]="unselectedFields$ | async">
    </pf-add-report-fields>
    <hr />
    <pf-left-sidebar-existing-fields
      (fieldRemoved)="handleFieldRemoved($event)"
      (fieldsReordered)="handleFieldsReordered($event)"
      [fields]="selectedFields$ | async">
    </pf-left-sidebar-existing-fields>
  </div>

</div>
