.to-nearest {
  text-align: center;
  margin-top: 4px;
  color: #737373;
}

.rounding-group {
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  padding: 10px;
  border-color: #ECEFF3;
}



