<div *ngIf="loadingUserContext || isValidating " class="p-3">
  <h1>Validating first time login, please wait...</h1>
</div>

<div *ngIf="!loadingUserContext && !isValidating && !isFirstLogin" class="p-3">
  <h1>This is <i>not</i> your first time logging into Payfactors.</h1>
</div>

<div *ngIf="!loadingUserContext && !isValidating && isFirstLogin" class="p-3">

  <h1 class="p-3">This is your first time logging into Payfactors. Please set a new password before continuing.</h1>

  <p *ngIf="updateError" class="alert-danger p-4">
    There was an error creating your new password, please try again.
  </p>

  <pf-confirm-password
    [minLength]="8"
    [allowSpaces]="false"
    [numberOfRequiredUppercaseCharacters]="1"
    [numberOfRequiredLowercaseCharacters]="1"
    [numberOfRequiredSpecialCharacters]="1"
    (onIsValid)="passwordValid($event)"
    (onInvalidPassword)="invalid()"
    (onInvalidConfirmation)="invalid()"
    >
  </pf-confirm-password>

  <div class="text-center">
    <button [disabled]="!submitEnabled" (click)="updatePassword()" class="btn m-4 submit-button">
      Submit
    </button>
  </div>
</div>
