@import '../../libs/features/search/styles/shared-variables';
@import '../../libs/features/search/styles/shared-styles';

.page {
  height: 100%;
}

:host ::ng-deep .results {
  width: 67.5% !important;
}

:host ::ng-deep .actions-container {
  width: 67.5% !important;
}

:host ::ng-deep .paymarkets-container {
  @extend %position-below-results-header;
  width: 32.5% !important;
  right: 0;
}

.clear-selections{
  position: absolute;
  left: 0;
  margin-left: 1rem;
}
