<pf-search-layout *ngIf="pageShown$ | async" [resultsCount]="numberOfResults$ | async">

  <ng-container sidebar>

    <pf-search-filters
      [defaultFocusedFilterId]="'jobTitleCode'"
      [visible]="!(searchingFilter$ | async)">
    </pf-search-filters>

    <pf-single-filter
      *ngIf="searchingFilter$ | async">
    </pf-single-filter>
  </ng-container>

  <ng-container content>

    <pf-results-header [savedFiltersEnabled]="false"></pf-results-header>
    <pf-job-search-results></pf-job-search-results>
    <pf-paymarkets></pf-paymarkets>

  </ng-container>

  <ng-container action-buttons>

    <div class="clear-selections search-action" *ngIf="(selectedJobIds$ | async)?.length"
         (click)="handleClearSelectionsClicked()">
      Clear Selections
    </div>

    <button class="btn btn-sm legacy-primary-btn mr-3 au-btn-add"
            [attr.data-qa-id]="'btn-addJobs'"
            [disabled]="(addingData$ | async) ||
                        (!((selectedJobIds$ | async)?.length || (selectedPayfactorsJobCodes$ | async)?.length) ||
                        !(selectedPaymarkets$ | async)?.length)"
            (click)="handleAddClicked()">

      <ng-container *ngIf="!(addingData$ | async); else addingData">
        Add
        <span *ngIf="(selectedJobIds$ | async)?.length || (selectedPayfactorsJobCodes$ | async)?.length">
          ({{(selectedJobIds$ | async).length + (selectedPayfactorsJobCodes$ | async).length}})
        </span>
      </ng-container>
    </button>

    <button (click)="handleCancelClicked()" class="btn btn-sm btn-secondary mr-3 au-btn-cancel"
            [attr.data-qa-id]="'btn-cancelAddJobs'">
      Cancel
    </button>

  </ng-container>

</pf-search-layout>

<ng-template #addingData>
  Adding...
</ng-template>
