<pf-search-layout>

  <ng-container sidebar>

   Hi I am a sidebar

  </ng-container>

  <ng-container content>

   Hi I am content

  </ng-container>

  <ng-container action-buttons>

    <button class="btn btn-sm legacy-primary-btn mr-3 au-btn-add"
            [disabled]="!(selectedJobIds$ | async)?.length">
      Add <span *ngIf="(selectedJobIds$ | async)?.length">({{(selectedJobIds$ | async).length}})</span>
    </button>

    <button (click)="handleCancelClicked()" class="btn btn-sm btn-secondary mr-3 au-btn-cancel">
      Cancel
    </button>

  </ng-container>

</pf-search-layout>
