<div *ngIf="!!structureView"
     class="structure-container d-flex"
     (mouseover)="handleMouseOverStructureContainer()"
     (mouseleave)="handleMouseLeaveStructureContainer()">

  <div class="actions-container" [ngClass]="displayActionsOverlay ? 'displayed' : ''">
    <div class="open-structure">
      <a class="btn" title="Open Structure" [attr.data-qa-id]="'lnk-openStructure'"
         [routerLink]="['/job-range-modeling', structureView.Structure.CompanyStructuresId]">Open</a>
    </div>
  </div>

  <div class="d-flex actions-overlay" [ngClass]="displayActionsOverlay ? 'displayed' : ''"></div>
  <div class="d-flex flex-column ml-3 content">
    <span class="tag" data-toggle="tooltip" title="{{structureView.Tag || structureView.DefaultTag}}">{{structureView.Tag || structureView.DefaultTag}}</span>
    <span class="structure-name" data-toggle="tooltip" title="{{structureView.Structure.StructureName}}">{{structureView.Structure.StructureName}}</span>
    <span [style.margin-bottom]="structurePaymarket ? '0rem' : '1.4rem'" class="tag" data-toggle="tooltip">{{structurePaymarket}}</span>
  </div>

</div>
