<div class="d-flex justify-content-between">
    <button *ngIf="template.TemplateStatus === 'Draft'" [disabled]="templatePublishing" (click)="publishTemplateClick.emit()" class="btn btn-success ml-2">
      <span *ngIf="!templatePublishing"><fa-icon icon="check-circle" aria-hidden="true"></fa-icon></span>
      <span *ngIf="templatePublishing"><fa-icon icon="spinner" aria-hidden="true"></fa-icon></span> Publish
    </button>

    <button *ngIf="template.TemplateStatus === 'Draft'" [disabled]="templatePublishing" (click)="discardDraftClick.emit()" class="btn btn-secondary ml-2">
      <fa-icon icon="trash-alt" aria-hidden="true"></fa-icon> Discard Draft
    </button>

    <button *ngIf="template.TemplateStatus === 'Draft' || editingTemplate" class="btn btn-secondary ml-2" [disabled]="templatePublishing" (click)="addSectionClick.emit()">
      <fa-icon icon="plus" aria-hidden="true"></fa-icon> Add Section
    </button>

    <button *ngIf="!editingTemplate" class="btn btn-secondary ml-2" [disabled]="templatePublishing" (click)="editClick.emit()">
      <fa-icon icon="pencil-alt" aria-hidden="true"></fa-icon> Edit
    </button>

    <button *ngIf="template.TemplateStatus === 'Published'" (click)="assignClick.emit()" [disabled]="templatePublishing" class="btn btn-secondary ml-2">
      <fa-icon icon="list-alt" aria-hidden="true"></fa-icon> Assign
    </button>

    <button class="btn btn-secondary ml-2" (click)="copyClick.emit()" [disabled]="templatePublishing">
      <fa-icon icon="copy" aria-hidden="true"></fa-icon> Copy
    </button>

    <button class="btn btn-secondary ml-2" (click)="viewSettingsClick.emit()" [disabled]="templatePublishing">
      <fa-icon icon="cog" aria-hidden="true"></fa-icon> View Settings
    </button>
</div>
