<div class="d-flex flex-column">
  <div class="formula-container mb-3">
    <div class="popup-anchor formula-suggestions">
      <span>{{beforeMarkerValues}}</span>
      <span>
        {{markerValue}}
        <kendo-dropdownlist #suggestionList
          [style.visibility]="showPopup ? 'visible' : 'hidden'"
          [value]="searchTerm"
          [data]="filteredSuggestions"
          [popupSettings]="popupSettings"
          (valueChange)="handleSuggestionClicked($event)">
        </kendo-dropdownlist>
      </span>
      <span>{{afterMarkerValues}}</span>
    </div>
    <textarea #editor pfClickElsewhere class="formula" spellcheck="false" tabindex="-1" id="dsFormulaEditor"
      [maxlength]="formulaMaxLength"
      [attr.data-qa-id]="'txt-formula-editor'"
      [placeholder]="'Formula'"
      [(ngModel)]="inputValue"
      (ngModelChange)="handleInputValueChanged($event)"
      (clickElsewhere)="handleClickElsewhere()"
      (keyup)="handleEditorKeyUp($event)"
      (keydown)="handleEditorKeyDown($event)">
    </textarea>
  </div>

  <div class="message-container">
    <div *ngIf="validating" class="validating-message">
      <fa-icon class="loading-icon" icon="circle-notch" spin="true"></fa-icon>
      <span>Validating...</span>
    </div>
  
    <div *ngIf="!validating" [style.visibility]="hideValidatingMessage ? 'hidden' : 'visible'">
      <div *ngIf="!isValid" class="validating-message text-danger">
        <fa-icon class="invalid-icon" icon="times-circle"></fa-icon>
        <span>Formula Error</span>
      </div>
    
      <div *ngIf="isValid" class="validating-message text-success">
        <fa-icon class="valid-icon" icon="check-circle"></fa-icon>
        <span>Formula Validated</span>
      </div>
    </div>
  </div>
</div>