// Ticket type background colors
$tickets-tickettype-fileupload-background: rgba(0, 51, 204, 0.65);
$tickets-tickettype-question-background: rgba(8, 131, 190, 0.65);
$tickets-tickettype-jobpricing-background: rgba(153, 153, 153, 0.65);
$tickets-tickettype-productissuebug-background: rgba(255, 51, 0, 0.65);
