<div class="card">
  <div class="card-content">
    <ngb-tabset>
      <ngb-tab title="Tiles">
        <ng-template ngbTabContent>
          <div class="pt-2">
            <pf-async-container [loading]="loadingCompanyTiles$ | async"
              [loadingError]="loadingCompanyTilesError$ | async" [loadingErrorMessage]="'Error.'"
              [hideReloadButton]="true">
              <ng-container *ngIf="(companyTiles$ | async)?.length">
                <div class="checkbox" *ngFor="let companyTile of (companyTiles$ | async)">
                  <label *ngIf="companyTile.TileName !== tileNames.InternationalData">
                    <input type="checkbox"
                      (change)="toggleCompanyTile(companyTile)"
                      [disabled]="companyTile.Disabled" [checked]="companyTile.Checked" />
                    {{companyTile.TileName}}
                  </label>
                </div>
              </ng-container>
            </pf-async-container>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Settings">
        <ng-template ngbTabContent>
          <div class="pt-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="customCompanySettings.EnablePricingReview" /> Enable Pricing Review
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="customCompanySettings.ParticipateInPeerDataExchange" /> Agreed to Normative Research
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="customCompanySettings.EnableLibraryForRoutedJobDescriptions" /> Enable Library for Routed Job Descriptions
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="customCompanySettings.EnableEmployeeAcknowledgement" /> Enable Employee Acknowledgement of Job Descriptions
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="customCompanySettings.EnableWorkflowEmployeeResults" /> Enable Employee Results in Workflow Setup
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="customCompanySettings.RestrictWorkflowToCompanyEmployeesOnly" /> Restrict Workflow to Company Employees Only
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="customCompanySettings.EnableLiveChat" /> Enable Live Chat
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="customCompanySettings.HideSecondarySurveyDataFields" /> Hide <a href="#"
                  (click)="handleSurveyFieldsClicked()">Secondary Survey Fields</a>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="customCompanySettings.EnableIntervalAgingFactor" /> Effective Dated Aging
              </label>
            </div>
            <pf-async-container [loading]="loadingCompanySettings$ | async"
              [loadingError]="loadingCompanySettingsError$ | async" [loadingErrorMessage]="'Error.'"
              [hideReloadButton]="true">
              <ng-container *ngIf="(companySettings$ | async)?.length">
                <ng-container *ngFor="let companySetting of (companySettings$ | async)">
                    <div class="checkbox" *ngIf="isConfigurableSetting(companySetting)">
                      <label>
                        <input type="checkbox" (change)="toggleCompanySetting(companySetting)" [disabled]="companySetting.Disabled" [checked]="companySetting.Value === 'true'">
                        {{companySetting.Key}}
                      </label>
                    </div>
                    <div *ngIf="displayJobPricingLimiter(companySetting)" class="checkbox">
                      <label >Job Pricing Limit: {{jobPricingLimitUsed}} /
                        <input type="number" class="input-type-number p-0" [ngModel]="companySetting.Value" [disabled]="!enableJobPricingLimiter" (change)="checkMaxProjectJobCount($event, companySetting.Key)">
                        <p *ngIf="showJobPricingLimitError" class="alert-danger">Job Pricing Limit must be numeric and above the current number of priced jobs</p>
                      </label>
                    </div>
                </ng-container>
              </ng-container>
            </pf-async-container>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Market Data" *ngIf="companyDataSetsEnabled$ | async">
        <ng-template ngbTabContent>
          <div class="pt-2">
            <pf-async-container [loading]="loadingCompanyDataSets$ | async"
              [loadingError]="loadingCompanyDataSetsError$ | async" [loadingErrorMessage]="'Error.'"
              [hideReloadButton]="true">
              <div *ngIf="(companyDataSets$ | async)?.length">
                <div class="checkbox" *ngFor="let companyDataSet of (companyDataSets$ | async)">
                  <label>
                    <input type="checkbox" 
                      (change)="toggleCompanyDataSet(companyDataSet)" 
                      [checked]="companyDataSet.Checked" /> {{companyDataSet.DataSetName}}
                  </label>
                </div>
              </div>
            </pf-async-container>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="In-App Marketing" *ngIf="(isUserAdmin() && isPayfactorsServices)">
        <ng-template ngbTabContent>
          <div class="pt-2">
            <pf-async-container [loading]="loadingCompanyTiles$ | async"
                                [loadingError]="loadingCompanyTilesError$ | async" [loadingErrorMessage]="'Error.'"
                                [hideReloadButton]="true">
              <ng-container *ngIf="(companyTiles$ | async)?.length">
                <div class="checkbox" *ngFor="let marketingTile of marketingTileFilter((companyTiles$ | async))">
                  <label>
                    <input type="checkbox"
                           (change)="toggleMarketingTile(marketingTile)" [checked]="marketingTile.MarketingEnabled" [disabled]="marketingTile.Checked" />
                    {{marketingTile.TileName}}
                  </label>
                </div>
              </ng-container>
            </pf-async-container>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<!-- Modal -->
<pf-secondary-survey-fields-modal [surveyFields]="compositeFields$ | async"></pf-secondary-survey-fields-modal>
