<pf-async-container
  [loading]="companyResourcesLoading$ | async"
  [loadingError]="companyResourcesLoadingError$ | async"
  [loadingErrorMessage]="'Error loading Company Resources.'"
>
  <div class="company-resources-container">
    <div class="content-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/client/dashboard/resources">Knowledge Base</a></li>
                <li class="breadcrumb-item">Company Resources</li>
            </ol>
        </nav>
        <h1 class="title">{{companyName}} Resources</h1>
        <pf-company-resource-list [companyResources]="companyResources$ | async"></pf-company-resource-list>
    </div>
  </div>
</pf-async-container>