<ng-template #addJobModal let-modal>
  <form [formGroup]="addJobForm" (ngSubmit)="submit()">
    <div class="modal-header">
      <h4 class="modal-title">Add Job</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ngb-tabset>
        <ngb-tab title="Standard Fields">
          <ng-template ngbTabContent>
            <div class="standard-fields">
              <div class="form-group row pt-3">
                <label class="col-2 col-form-label">Job Code:</label>
                <div class="col-4" [class.has-danger]="!addJobForm.controls['JobCode'].pristine && (addJobForm.controls['JobCode'].invalid || duplicateJobCodeErrorMessage)">
                  <input type="text" class="form-control"
                         formControlName="JobCode"
                         (keydown)="handleJobCodeChanged()">
                  <span *ngIf="!addJobForm.controls['JobCode'].pristine && addJobForm.controls['JobCode'].hasError('required')" class="text-danger d-flex justify-content-end">Required</span>
                  <span *ngIf="!addJobForm.controls['JobCode'].pristine && addJobForm.controls['JobCode'].hasError('maxlength')" class="text-danger d-flex justify-content-end">
	                            		Exceeds {{addJobForm.controls.JobCode.errors.maxlength.requiredLength}} characters:
                    {{addJobForm.controls.JobCode.errors.maxlength.actualLength}}
	                    			</span>
                  <span *ngIf="!addJobForm.controls['JobCode'].pristine" class="text-danger d-flex justify-content-end">{{ duplicateJobCodeErrorMessage }}</span>
                  <span *ngIf="!addJobForm.controls['JobCode'].pristine && addJobForm.controls['JobCode'].hasError('invalidCharacters')" class="text-danger d-flex justify-content-end">
                    {{invalidCharactersMsg}}
                  </span>
                </div>
                <label class="col-2 col-form-label">Job Title:</label>
                <div class="col-4" [class.has-danger]="!addJobForm.controls['JobTitle'].pristine && (addJobForm.controls['JobTitle'].invalid)">
                  <input type="text" class="form-control" formControlName="JobTitle">
                  <span *ngIf="!addJobForm.controls['JobTitle'].pristine && addJobForm.controls['JobTitle'].hasError('required')" class="text-danger d-flex justify-content-end">Required</span>
                  <span *ngIf="!addJobForm.controls['JobTitle'].pristine && addJobForm.controls['JobTitle'].hasError('maxlength')" class="text-danger d-flex justify-content-end">
	                            		Exceeds {{addJobForm.controls.JobTitle.errors.maxlength.requiredLength}} characters:
                    {{addJobForm.controls.JobTitle.errors.maxlength.actualLength}}
                            </span>
                  <span *ngIf="!addJobForm.controls['JobTitle'].pristine && addJobForm.controls['JobTitle'].hasError('invalidCharacters')" class="text-danger d-flex justify-content-end">
                    {{invalidCharactersMsg}}
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label">Job Family:</label>
                <div class="col-4">
                  <kendo-combobox class="form-control" formControlName="JobFamily"
                                  [clearButton]="false"
                                  [suggest]="true"
                                  [data]="jobFamilies$ | async"
                                  [allowCustom]="true">
                  </kendo-combobox>
                  <span *ngIf="!addJobForm.controls['JobFamily'].pristine && addJobForm.controls['JobFamily'].hasError('invalidCharacters')" class="text-danger d-flex justify-content-end">
                    {{invalidCharactersMsg}}
                  </span>
                </div>
                <label class="col-2 col-form-label">Level:</label>
                <div class="col-4" [class.has-danger]="(addJobForm.controls['JobLevel'].invalid)">
                  <input type="text" class="form-control" formControlName="JobLevel">
                  <span *ngIf="!addJobForm.controls['JobLevel'].pristine && addJobForm.controls['JobLevel'].hasError('maxlength')" class="text-danger d-flex justify-content-end">
	                            		Exceeds {{addJobForm.controls.JobLevel.errors.maxlength.requiredLength}} characters:
                    {{addJobForm.controls.JobLevel.errors.maxlength.actualLength}}
                            </span>
                  <span *ngIf="!addJobForm.controls['JobLevel'].pristine && addJobForm.controls['JobLevel'].hasError('invalidCharacters')" class="text-danger d-flex justify-content-end">
                    {{invalidCharactersMsg}}
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label">FLSA Status:</label>
                <div class="col-4">
                  <kendo-combobox class="form-control" formControlName="FLSAStatus"
                                  [clearButton]="false"
                                  [suggest]="true"
                                  [data]="jobFLSAStatus$ | async"
                                  [allowCustom]="true">
                  </kendo-combobox>
                  <span *ngIf="!addJobForm.controls['FLSAStatus'].pristine && addJobForm.controls['FLSAStatus'].hasError('invalidCharacters')" class="text-danger d-flex justify-content-end">
                    {{invalidCharactersMsg}}
                  </span>
                </div>
              </div>
              <div class="form-group row template-name-border pt-2">
                <label for="templateListInput" class="col-2 col-form-label">Template Name:</label>
                <div class="col-4">
                  <kendo-combobox class="form-control" formControlName="CompanyJobDescriptionTemplateId"
                                  [disabled]="templateListLoading$ | async"
                                  (valueChange)="handleTemplateChanged($event)"
                                  [clearButton]="false"
                                  [suggest]="true"
                                  [data]="templateListItems$ | async"
                                  [textField]="'TemplateName'"
                                  [valueField]="'TemplateId'"
                                  [valuePrimitive]="true">
                  </kendo-combobox>
                </div>
                <ng-container *ngIf="canRestrictJobDescriptionFromPublicView">
                  <label class="col-2 col-form-label">Public View:</label>
                  <div class="col-4">
                      <div [ngClass]="{'public-view-tooltip' : !addAndAssign }">
                          <kendo-dropdownlist
                            [data]="publicViewOptions"
                            [textField]="'display'"
                            [valueField]="'value'"
                            [valuePrimitive]="true"
                            [value]="publicViewSelectedValue"
                            [style.width]="'100%'"
                            (valueChange)="valueChange($event)"
                            [disabled]="!addAndAssign" >
                          </kendo-dropdownlist>
                          <span class="tooltiptext">Please select a template to set the Public View option.</span>
                      </div>
                  </div>


                </ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <div  *ngIf="(jobUserDefinedFields$ | async).length">
          <ngb-tab title="User Defined Fields">
            <ng-template ngbTabContent>
              <div class="row pt-3 user-defined-fields-section">
                <div class="col-6 px-0">
                  <div *ngFor="let jobUserDefinedField of (jobUserDefinedFields$ | async)
							      	 	let index =index;
			             				let isOdd=odd;
			             				let isEven=even">
                    <div *ngIf="!isOdd" class="form-group row">
                      <label class="col-4 col-form-label">{{jobUserDefinedField.DispName }}:</label>
                      <div class="col-8">
                        <input type="text" class="form-control" [formControlName]="jobUserDefinedField.ColumnName">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 px-0">
                  <div *ngFor="let jobUserDefinedField of (jobUserDefinedFields$ | async)
							      	 	let index =index;
			             				let isOdd=odd;
			             				let isEven=even">
                    <div *ngIf="isOdd" class="form-group row">
                      <label class="col-4 col-form-label">{{jobUserDefinedField.DispName }}:</label>
                      <div class="col-8">
                        <input type="text" class="form-control" [formControlName]="jobUserDefinedField.ColumnName">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </div>
      </ngb-tabset>
    </div>
    <div class="modal-footer">
      <span *ngIf="(companyJobSaveError$ | async)" class="text-danger d-flex justify-content-end">{{ companyJobErrorMessage }}</span>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancel</button>
      <button type="submit" [disabled]="!addJobForm.valid" class="btn btn-primary">
        <div *ngIf="!addAndAssign">
          <span *ngIf="(companyJobCreating$ | async)">
            <pf-loading-indicator></pf-loading-indicator> Adding...
          </span>
          <span *ngIf="!(companyJobCreating$ | async)">Add</span>
        </div>
        <div *ngIf="addAndAssign">
          <span *ngIf="(companyJobCreating$ | async)">
            <pf-loading-indicator></pf-loading-indicator> Adding & Assigning...
          </span>
          <span *ngIf="!(companyJobCreating$ | async)">Add & Assign</span>
        </div>
      </button>
    </div>
  </form>
</ng-template>


