.template-name-border{
  border-top-color: #eceeef;
  border-top-style: solid;
  border-top-width: 1px;
}

.user-defined-fields-section{
  max-height:280px;
  overflow-y:auto;
}

.tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: #000;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 30%;
	margin-left: -60px;
	margin-top: 5px;
}

.public-view-tooltip:hover .tooltiptext {
	visibility: visible;
}
