<div class="job-info">
  <div *ngIf="!isPublic">
    <table class="table">
      <tbody>
        <tr *ngIf="!isPublic">
        <th class="job-info-heading">Status:</th>
        <td>
          <pf-status-pill [status]="jobDescription?.JobDescriptionStatus"></pf-status-pill>
        </td>
        <th class="job-info-heading">Version:</th>
        <td>{{jobDescription?.JobDescriptionRevision}}</td>
      </tr>
      <tr *ngIf="!isPublic">
        <th class="job-info-heading">Created By:</th>
        <td>{{jobDescription?.CreatedBy}}</td>
        <th class="job-info-heading">Created Date:</th>
        <td>{{jobDescription?.CreatedDate | date:'MM/dd/yyyy, hh:mm aa'}}</td>
      </tr>
      <tr *ngFor="let jobInfoFieldRow of jobInfoFieldRows">
        <ng-template ngFor let-jobInformationField [ngForOf]="jobInfoFieldRow.fields">
          <th
            class="job-info-heading">{{jobInformationField.DisplayName}}{{jobInformationField.DisplayName.length ? ':' : ''}}</th>
          <td>{{jobInformationField.DisplayName === 'Last Updated Date' ? (jobInformationField.FieldValue | date:'MM/dd/yyyy, hh:mm aa') : jobInformationField.FieldValue}}</td>
        </ng-template>
      </tr>
      <tr *ngIf="!isPublic && (jobDescription?.AppliesToField || jobDescription?.JobDescriptionTitle)">
        <th class="job-info-heading">Job Description Title:</th>
        <td>{{jobDescription?.JobDescriptionTitle}}</td>
        <th class="job-info-heading">Applies To:</th>
        <td>
          <span *ngFor="let appliesTo of jobDescriptionAppliesToItems | jobDescriptionAppliesToDisplayName:jobDescription?.AppliesToField">
            {{ appliesTo.DisplayName }}
           </span>

          <span *ngIf="jobDescription?.AppliesToField"> - </span>
          {{ jobDescription?.AppliesToValue }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
