.card-header{
  background-color:  #fffce1;
  padding: 0.5rem 0.75rem;
  height: 35px;
  cursor: pointer;
}

.multi-attribute{
  height: 200px;
}

.single-attribute{
  min-height: 200px;
}

.no-control-data-warning{
  background-color: #D9534F;
  color: white;
}
