.filter-container {
  background-color: #ECF0F5;
  color: #515151;
  white-space: normal;
  border-radius: 3px;
}

.filter-container button {
  background: none;
  color: #515151;
}

.filter-text
{
  color: #51667E
}

.icon {
  cursor: pointer;
}
