.filter-wrapper
{
  background-color: white;
  position: sticky;
  top: -10px;
  z-index: 999;
}

.filter-container {
  background-color: #ECF0F5;
  color: #515151;
  white-space: normal;
}

.filter-container button {
  background: none;
  color: #515151;
}

.filter-text
{
  color: #51667E
}

.icon {
  cursor: pointer;
}

.submit-button-container{
  color: cornflowerblue;
}
