<div *ngIf="filters$ | async as filter" class="filter-wrapper pt-1">
  <span *ngIf="filter.PostIds.length > 0 || filter.ReplyIds.length > 0">
     <button (click)="buttonViewAllClicked()" type="button" class="btn btn-secondary submit-button-container">
        <i class="far fa-eye pr-2"></i>View All Posts
      </button>
  </span>
  <span *ngIf="filter.TagFilter.Tags.length > 0 || filter.CategoryFilter.Category.length > 0" class="filter-text font-weight-bold">Showing content with:</span>
  <ng-container *ngFor="let category of filter.CategoryFilter.Category;">

    <span class="d-inline-block m-1 filter-container p-1">
      <button class="m-0 p-0 border-0 d-inline-block font-weight-bold" (click)="buttonClicked('category', category)">
        <span class="pr-1">{{ category }}</span>
        <i class="fas fa-times-circle icon"></i>
      </button>
    </span>

  </ng-container>
  <ng-container *ngFor="let tag of filter.TagFilter.Tags;">

    <span class="d-inline-block m-1 filter-container p-1">
      <button class="m-0 p-0 border-0 d-inline-block font-weight-bold" (click)="buttonClicked('tag', tag)">
        <span class="pr-1">{{ tag.TagName }}</span>
        <i class="fas fa-times-circle icon"></i>
      </button>
    </span>

  </ng-container>
  <hr *ngIf="filter.TagFilter.Tags.length > 0 || filter.CategoryFilter.Category.length > 0 ||
    filter.PostIds.length > 0 || filter.ReplyIds.length > 0" >
</div>
