@import 'libs/styles/ngbootstrap-tabset-overrides';

@include pf-tabset-alt-deep;

:host ::ng-deep a.nav-link {
  border-color: white !important;
}

:host ::ng-deep a.nav-link.active {
  border-bottom-color: rgba(0, 153, 0, 1) !important;
  border-width: 0px 0px 5px 0px;
  font-weight: 700;
}

:host ::ng-deep ul.nav {
  padding: 0px 5px 0px 5px;
}

.ticket-header{
  font-family: 'Segoe UI Bold', 'Segoe UI Regular', 'Segoe UI';
    font-weight: 700;
    font-style: normal;
    font-size: 1.231rem;
    color: #306589;
}
