<pf-page-with-title-bar [absoluteUrl]="env.siteAdminUrl + '/navigation'">

  <ng-container page-title>
    Tickets
  </ng-container>

  <ng-container page-actions>
    <button type="button" title="Export" class="btn btn-secondary"
            placement="bottom-right"
            (click)="handleExportClicked()">
      <fa-icon icon="download"></fa-icon>
    </button>
  </ng-container>

  <ng-container page-content>

    <ngb-tabset [destroyOnHide]="false"
                (tabChange)="onTabChanged($event)">

      <ngb-tab id="tab-tickets"
               title="Tickets">
        <ng-template ngbTabContent>
          <pf-ticket-list></pf-ticket-list>
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngFor="let tab of userTicketTabs"
               [id]="'tab-' + tab.UserTicketId">
        <ng-template ngbTabTitle>
            {{tab.UserTicketId}}
            <span (click)="handleCloseTabClick(tab.UserTicketId, $event)">
              <fa-icon icon="times-circle"
                       class="close-btn"></fa-icon>
            </span>
        </ng-template>
        <ng-template ngbTabContent>
          <pf-ticket [ticketId]="tab.UserTicketId">
          </pf-ticket>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>

  </ng-container>

</pf-page-with-title-bar>
<pf-client-detail-modal></pf-client-detail-modal>