<pf-page-with-title-bar [absoluteUrl]="SiteAdminUrl + '/navigation'">

  <ng-container page-title>
    Tickets
  </ng-container>

  <ng-container page-actions>
    <button type="button" title="Export" class="btn btn-secondary"
            placement="bottom-right"
            (click)="handleExportClicked()">
      <fa-icon icon="download"></fa-icon>
    </button>
  </ng-container>

  <ng-container page-content>
    <ul ngbNav #nav="ngbNav" class="nav-tabs"
      [animation]="false"
      [destroyOnHide]="false"
      [(activeId)]="activeId"
      (navChange)="navChanged($event)">
      <li [ngbNavItem]="'tab-tickets'">
        <a ngbNavLink>
          Tickets
        </a>
        <ng-template ngbNavContent>
          <pf-ticket-list></pf-ticket-list>
        </ng-template>
      </li>
      <li *ngFor="let tab of userTicketTabs" [ngbNavItem]="tab.UserTicketId.toString()">
        <span>
          <a ngbNavLink>{{tab.UserTicketId}}
            <span (click)="handleCloseTabClick(tab.UserTicketId, $event)">
              <fa-icon icon="times-circle"
                       class="close-btn"></fa-icon>
            </span>
          </a>
        </span>
        <ng-template ngbNavContent>
          <pf-ticket [ticketId]="tab.UserTicketId"></pf-ticket>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </ng-container>

</pf-page-with-title-bar>
<pf-client-detail-modal></pf-client-detail-modal>
