@import 'kendo-grid';

.form-group.hidden-form-control {
  margin-bottom: 0;
}

.selection-action-links {
  padding-top: .5rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: .5rem;
}

:host ::ng-deep {
  .checkbox-container {
    min-height: 200px;
  }

  .multi-select-container {
    display: inline-block;
    width: 300px;

    .selections-container {
      width: 300px;
      bottom: 52px;
    }
  }

  .k-pager-wrap .k-pager-info {
    flex-basis: auto;
  }
}


.rates-dropdown {
  width: 90px;

  ::ng-deep .drop-up {
    top: -106px;
    width: 100%;
    position: absolute;
  }
}

.currency-dropdown {
  width: 225px;

  ::ng-deep .drop-up {
    top: -310px;
    width: 100%;
    position: absolute;
    min-height: 260px;
  }
}
