<pf-modal-form
  primaryButtonClass="btn-primary ml-3"
  [size]="'lg'"
  [title]="'Export Data Cuts'"
  [primaryButtonText]="primaryButtonText"
  [primaryButtonTextSubmitting]="primaryButtonTextSubmitting"
  [submitting]="exportingDataCuts$ | async"
  [isOpen$]="exportDataCutsModalOpen$"
  [formGroup]="exportDataCutsForm"
  [windowClass]="'modal-xlg'"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">

  <ng-container form-content>

    <pf-async-container
      [loading]="exchangeCompanyJobsLoading$ | async"
      [loadingError]="exchangeCompanyJobsLoadingError$ | async"
      [loadingErrorMessage]="'Error loading company jobs'"
      (reload)="loadExchangeCompanyJobs()">

      <kendo-grid class="row-click-selects no-wrap-ellipsis-values"
                  height="500"
                  [data]="view$ | async"
                  [pageSize]="gridState?.take"
                  [skip]="gridState?.skip"
                  [sort]="gridState?.sort"
                  [filter]="gridState?.filter"
                  [pageable]="true"
                  [sortable]="true"
                  [selectable]="{
                    checkboxOnly: true
                  }"
                  [kendoGridSelectBy]="selectionKey"
                  filterable="menu"
                  [selectedKeys]="selections"
                  (cellClick)="handleCellClick($event)"
                  (dataStateChange)="handleDataStateChange($event)">

        <kendo-grid-checkbox-column width="5" showSelectAll="true">
          <ng-template kendoGridHeaderTemplate>
            <input kendoGridSelectAllCheckbox id="selectAllCheckboxId"
                   [disabled]="selectAllDisabled"
                   [state]="selectAllState$ | async"
                   (selectAllChange)="onSelectAllChange($event)">
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-idx="rowIndex">
            <input type="checkbox"
                   [checked]="isChecked(dataItem.ExchangeJobToCompanyJobId)"
                   (click)="onCbClick(dataItem.ExchangeJobToCompanyJobId)">
          </ng-template>
        </kendo-grid-checkbox-column>

        <kendo-grid-column field="CompanyJobTitle" title="Company Job Title" width="40">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
              <kendo-filter-contains-operator></kendo-filter-contains-operator>
              <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
              <kendo-filter-eq-operator></kendo-filter-eq-operator>
              <kendo-filter-neq-operator></kendo-filter-neq-operator>
              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-inline-block" [title]="dataItem.CompanyJobTitle">
              {{dataItem.CompanyJobTitle}}
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="CompanyJobCode" title="Company Job Code" width="25">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
              <kendo-filter-contains-operator></kendo-filter-contains-operator>
              <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
              <kendo-filter-eq-operator></kendo-filter-eq-operator>
              <kendo-filter-neq-operator></kendo-filter-neq-operator>
              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-inline-block" [title]="dataItem.CompanyJobCode">
              {{dataItem.CompanyJobCode}}
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="CompanyJobFamily" title="Company Job Family" width="35">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
              <kendo-filter-contains-operator></kendo-filter-contains-operator>
              <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
              <kendo-filter-eq-operator></kendo-filter-eq-operator>
              <kendo-filter-neq-operator></kendo-filter-neq-operator>
              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-inline-block" [title]="dataItem.CompanyJobFamily">
              {{dataItem.CompanyJobFamily}}
            </div>
          </ng-template>
        </kendo-grid-column>

        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
          <div class="d-flex justify-content-between w-100">
            <div class="d-flex">
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
            </div>
            <div class="d-flex">
              <div class="selection-action-links space-out-children">
                <div class="pf-link" [class.disabled]="selections.length === 0" (click)="onClearAllClick($event)"> Clear All</div>
                <div class="vertical-separator-inset"></div>
                <div class="pf-link" [class.disabled]="selections.length === allIds.length" (click)="onSelectAllClick($event)">Select All ({{ allIds.length }})</div>
              </div>
              <kendo-pager-info></kendo-pager-info>
            </div>
          </div>
        </ng-template>
      </kendo-grid>

    </pf-async-container>

    <div class="form-group hidden-form-control">
      <input type="hidden" class="form-control" name="hasSelections" formControlName="selections" [ngModel]="selections$ | async" [pfValidatable]="attemptedSubmit"/>
      <input type="hidden" class="form-control" name="hasScopeSelections" formControlName="scopes" [ngModel]="selectedScopesToExport" [pfValidatable]="attemptedSubmit"/>
      <ng-container *ngIf="selectionsControl.errors && attemptedSubmit">
        <div *ngIf="selectionsControl.errors.error" class="invalid-feedback">{{selectionsControl.errors.error}}</div>
      </ng-container>
    </div>

  </ng-container>

  <ng-container footer-left>
    <div class="d-flex align-items-center">
      <label class="mb-0 mr-2" for="ddm-rate">Rate: </label>
      <kendo-dropdownlist id="ddm-rate"
                          class="rates-dropdown k-dropdown-white"
                          formControlName="selectedRate"
                          [attr.data-qa-id]="'ddm-rate'"
                          [data]="rates"
                          [textField]="'Name'"
                          [valueField]="'Value'"
                          [ngModel]="selectedRate"
                          [popupSettings]="{
                            popupClass: 'drop-up',
                            appendTo: 'component'
                          }"
                          (selectionChange)="handleRateSelectionChange($event)">
      </kendo-dropdownlist>
      <pf-weighting-type-dropdown id="ddm-weightingType"
                                  class="ml-3"
                                  [attr.data-qa-id]="'ddm-weightingType'"
                                  [selectedWeightingType]="selectedWeightingType"
                                  [includeLabel]="false"
                                  (weightingTypeChanged)="handleWeightingTypeChanged($event)"
                                  *ngIf="isFromNewMap">
      </pf-weighting-type-dropdown>
      <label class="mb-0 ml-3 mr-2" for="ddm-scopes">Scopes: </label>
      <pf-multi-select id="ddm-scopes"
                       [attr.data-qa-id]="'ddm-scopes'"
                       [displayNamePreview]="true"
                       [(selectedOptions)]="selectedScopesToExport"
                       [options]="scopesToExportOptions">
      </pf-multi-select>
    </div>
  </ng-container>

</pf-modal-form>

