.center-spinner {
  position: absolute;
  text-align: center;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 200px 0 0 378px;
  font-size: 1.88em;
}

.modal-title-space {
  margin-bottom: 8px;
}
