html, body {
  height: 100%;
  width: 100%;
  background-color: #1f2f3d;
  margin: 0;
}

.loading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 47px;
}

.loading-logo::before{
  content: "";
  position: absolute;
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  top: -10px;
  left: 193px;
  border-right: 5px solid #1079b1;
  border-top: 5px solid #1079b1;
  animation: show 1.25s;
}

.loading-logo img {
  animation: show 1.25s;
}

.loading-arrow-reveal-x {
  position: absolute;
  top: -13px;
  right: -16px;
  width: 30px;
  height: 8px;
  background: #1f2f3d;
  transform: translateX(35px);
  animation: moveX 2s infinite;
  animation-delay: 1s;
  z-index: 100;
}

.loading-arrow-reveal-y {
  position: absolute;
  top: -5px;
  right: -16px;
  width: 7px;
  height: 25px;
  background: #1f2f3d;
  transform: translateY(25px);
  animation: moveY 2s infinite;
  animation-delay: 1s;
  z-index: 100;
}

.sharp-edges::before{
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: -10px;
  right: 7px;
  border-width: 0px 5px 5px 0;
  border-style: solid;
  border-color: #1f2f3d #1079b1;
  backface-visibility: hidden;
  animation: show 1.25s;
}

.sharp-edges::after{
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 10px;
  right: -15px;
  border-width: 0px 5px 5px 0;
  border-style: solid;
  border-color: #1f2f3d #1079b1;
  backface-visibility: hidden;
  animation: show 1.25s;
}

pf-root.ready + .loading-logo {
  animation: hide .1s forwards;
  z-index: -1;
}

@keyframes moveX {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(35px);
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(25px);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  99% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
