<form [formGroup]="resourceForm" (ngSubmit)="onFormSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Add Resource</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container form-content class="form-group">
      <label class="col-form-label" for="resourceName">Resource Name*</label>
      <input id="resourceName" type="text" class="form-control" formControlName="resourceName" [maxLength]="100" required>
      <ng-container *ngIf="resourceForm.controls['resourceName'].invalid && resourceForm.controls['resourceName'].dirty ||
      resourceForm.controls['resourceName'].invalid && isFormSubmitted">
        <label class="alert alert-danger">Please enter a title for this resource.</label>
      </ng-container>
      <label class="col-form-label" for="folderName">Select Folder</label>
      <kendo-combobox class="form-control" id="folderName" formControlName="folderName" 
        [data]="folderResources"
        [textField]="'FolderName'"
        [valueField]="'FolderName'"
        [valuePrimitive]="true"
        [allowCustom]="true">
      </kendo-combobox>
      <hr/>
      <ng-container *ngIf="!isFileSelected">
        <label class="col-form-label" for="url-name">Add URL or File*</label>
        <input id="url-name" type="text" class="form-control" formControlName="urlName" placeholder="i.e., www.youtube.com">
        <ng-container *ngIf="resourceForm.controls['urlName'].invalid && resourceForm.controls['urlName'].dirty">
          <label class="alert alert-danger">Please enter a valid URL for this resource.</label>
        </ng-container>
        <p class="mb-2 mt-1">or</p>
      </ng-container>
      <kendo-upload #uploadFile
        formControlName="kendoUpload"
        [saveUrl]="saveResourceUrl"
        [removeUrl]="removeResourceUrl"
        [restrictions]="fileRestrictions"      
        [autoUpload]="true"
        [multiple]="false"
        [(ngModel)]="uploadFiles"
        [disabled]="isResourceUrlProvided()"
        (remove)="removeEventHandler($event)"
        (success)="successEventHandler($event)"
        (upload)="uploadEventHandler($event)"
        (cancel)="cancelEventHandler($event)">
        <kendo-upload-messages 
          [select]="'Add file'"
          [invalidMaxFileSize]="invalidMaxFileSizeMsg"
          [invalidFileExtension]="invalidFileExtensionMsg"
          [headerStatusUploading]="headerStatusUploadingMsg"
          [headerStatusUploaded]="headerStatusUploadedMsg"
          >
        </kendo-upload-messages>
      </kendo-upload>
      <ng-container *ngIf="resourceForm.controls['resourceName'].valid && resourceForm.controls['urlName'].pristine && resourceForm.controls['kendoUpload'].pristine && isFormSubmitted">
        <label class="alert alert-danger">Please provide a URL or file for this resource.</label>
      </ng-container>
    </ng-container>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>