<form [formGroup]="resourceForm" (ngSubmit)="onFormSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Add Resource</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container form-content class="form-group">
      <label class="col-form-label" for="resourceName">Resource Name*</label>
      <input id="resourceName" type="text" class="form-control" formControlName="resourceName" [maxLength]="100" required>
      <ng-container *ngIf="resourceForm.controls['resourceName'].invalid && resourceForm.controls['resourceName'].dirty ||
      resourceForm.controls['resourceName'].invalid && isFormSubmitted">
        <label class="alert alert-danger">Please enter a title for this resource.</label>
      </ng-container>
      <label class="col-form-label" for="folderName">Select Folder</label>
      <kendo-combobox class="form-control" id="folderName" formControlName="folderName" 
        [data]="folderResources"
        [textField]="'FolderName'"
        [valueField]="'FolderName'"
        [valuePrimitive]="true"
        [allowCustom]="true">
      </kendo-combobox>
      <hr/>
      <ng-container *ngIf="!isFileSelected">
        <label class="col-form-label" for="url-name">Add URL or File*</label>
        <input id="url-name" type="text" class="form-control" formControlName="urlName" placeholder="e.g., www.youtube.com">
        <ng-container *ngIf="resourceForm.controls['urlName'].invalid && resourceForm.controls['urlName'].dirty">
          <label class="alert alert-danger">Please enter a valid URL for this resource.</label>
        </ng-container>
        <p class="mb-2 mt-1">or</p>
      </ng-container>
      <ng-container > 
        <!-- basic-content -->
        <pf-async-container
          [loadingErrorMessage]="'Error Loading Company Resources'">
          <kendo-upload #uploadWidget
                        formControlName="kendoUpload"
                        [multiple]="false"
                        [saveUrl]="saveResourceUrl"
                        [removeUrl]="removeResourceUrl"
                        [concurrent]="false"
                        [restrictions]="uploadRestrictions"
                        [accept]="uploadRestrictions.allowedExtensions"
                        (upload)="uploadEventHandler($event)"         
                        (error)="errorEventHandler($event)"
                        (success)="successEventHandler($event)"
                        (select)="selectEventHandler($event)"
                        (remove)="removeEventHandler($event)"
                        (cancel)="cancelEventHandler($event)"
                        [ngModel]="uploadedFilesKendo">
            <kendo-upload-messages
              select="Browse" 
              dropFilesHere={{fileRestrictionsMessage}}>
            </kendo-upload-messages>
            <ng-template kendoUploadFileTemplate let-files let-state="state">
              <div class="attachments-container">
                <span class="{{getStatusClass(files[0])}}">
                  {{files[0].name}} ({{formattedBytes(files[0].size)}})                
                </span>
                <span class="float-right pr-3" *ngIf="getUploadStatus(files[0]) == kendoUploadStatus.UploadInProgress">
                  <i>Uploading file</i>
                  <pf-loading-indicator class="pl-2"></pf-loading-indicator>
                </span>
                <span class="float-right pr-3" *ngIf="getUploadStatus(files[0]) == kendoUploadStatus.ScanInProgress">
                  <i>Scanning for viruses</i>
                  <pf-loading-indicator class="pl-2"></pf-loading-indicator>
                </span>
                <span class="float-right pr-3 upload-failed" *ngIf="getUploadStatus(files[0]) == kendoUploadStatus.UploadFailed">
                  <i><fa-icon icon="exclamation-circle" aria-hidden="true"></fa-icon> Sorry, there was an error uploading your file. Please choose a different file.</i>
                </span>
                <span class="float-right pr-3 upload-failed" *ngIf="getUploadStatus(files[0]) == kendoUploadStatus.ScanFailed">
                  <i><fa-icon icon="exclamation-circle" aria-hidden="true"></fa-icon> Sorry, there is an error with our upload service. Please try again later.</i>
                </span>
                <span class="float-right pr-3 upload-failed" *ngIf="getUploadStatus(files[0]) == kendoUploadStatus.InvalidExtension">   
                  <i><fa-icon icon="exclamation-circle" aria-hidden="true"></fa-icon> Invalid file type.</i> 
                </span>
              </div>
              <button
                (click)="removeResourceEventHandler(files[0])"
                class="btn btn-secondary float-right">
                Remove
              </button>   
            </ng-template>
          </kendo-upload>
        </pf-async-container>
      </ng-container>
      <ng-container *ngIf="resourceForm.controls['resourceName'].valid && resourceForm.controls['urlName'].pristine && resourceForm.controls['kendoUpload'].pristine && isFormSubmitted">
        <label class="alert alert-danger">Please provide a URL or valid file for this resource.</label>
      </ng-container>
      <ng-container *ngIf="unsafeUrlFound && isFormSubmitted">
        <label class="alert alert-danger">{{addingCompanyResourceErrorMsg}}</label>
      </ng-container>
    </ng-container>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>