<pf-card-layout
  pageTitle="Summary"
  pageIconClass="file-alt"
  [page]="comphubPages.TrendsSummary">

  <ng-container page-content>

    <ng-container *ngTemplateOutlet="summary"></ng-container>

  </ng-container>

</pf-card-layout>

<ng-template #summary>

  <div class="h-100 summary-container">

    <div class="d-flex">

      <pf-side-bar-info-component [sidebarGroups]="getSidebarGroups()"></pf-side-bar-info-component>
      <!-- summary content -->
      <div class="summary">
          <pf-async-container [loading]="(peerTrends$ | async).loading"></pf-async-container>
          <div *ngIf = "!!jobSalaryTrend && jobSalaryTrend.length > 0 else noResults">
            <div class="d-flex row justify-content-around">
              <pf-historical-trend-chart
                [isHourly]="false"
                [currencyCode]="'USD'"
                [salaryTrendData]="jobSalaryTrend">
              </pf-historical-trend-chart>
              <div class="d-flex align-items-center">
                <pf-historical-org-inc-count-chart
                  [orgIncCountData]="trendOrgIncCountHistory"
                  [countType]="'Inc'"
                  [useTrendsDomain]="true">
                </pf-historical-org-inc-count-chart>
              </div>
            </div>
            <div class="row float-right">
              <div class="pf-link-hover mr-3" (click)="handleExportExchangeJobs()">Export Exchange Jobs</div>
              <div class="pf-link-hover mr-3" (click)="handleExportCompanyJobs()">Export Company Jobs</div>
            </div>
          </div>
          <ng-template #noResults>No history found</ng-template>
      </div>
    </div>


  </div>
</ng-template>
