<kendo-grid
  [kendoGridBinding]="(gridDataResultAsync$ | async)?.obj?.data"
  [skip]="gridState.skip"
  [pageSize]="gridState.take"
  [sort]="gridState.sort"
  [sortable]="true"
  [reorderable]="true"
  [pageable]="false"
  [selectable]="false"
  [rowHeight]="36"
  [height]="675"
  scrollable="virtual"
  (cellClick)="handleCellClick($event)"
  (cellClose)="handleCellClose($event)"
  (columnReorder)="handleColumnReorder()"
  (pageChange)="handlePageChange($event)"
>
  <!-- TODO: Remove headerStyle once issue with Kendo's headerClass is determined -->
  <kendo-grid-column *ngFor="let listAreaColumn of (listAreaColumnsVisible$ | async)"
                     [field]="listAreaColumn.ColumnDatabaseName"
                     [title]="listAreaColumn.ColumnDisplayName"
                     [style]="{'font-family': 'Segoe UI', 'font-weight': '400', 'font-style': 'normal', 'font-size': '11px', 'background-color': 'white', 'border-width': '0px'}"
                     [headerStyle]="{ 'font-family': 'Segoe UI', 'font-weight': '400', 'font-style': 'normal', 'font-size': '11px', 'background-color': 'rgb(228, 228, 228)', 'border-width': '0px' }">
    <ng-template *ngIf="listAreaColumn.ColumnDataType === 'date'" kendoGridCellTemplate let-dataItem>
      {{dataItem[listAreaColumn.ColumnDatabaseName] | date:'MM/DD/YYYY'}}
    </ng-template>
    <ng-template *ngIf="listAreaColumn.ColumnDataType === 'numeric'" kendoGridCellTemplate let-dataItem>
      {{dataItem[listAreaColumn.ColumnDatabaseName] | number:'1.0-0'}}
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<pf-async-container [loading]="(gridDataResultAsync$ | async)?.loading"></pf-async-container>
