<pf-page-with-title-bar [goBackToPreviousRoute]="true">
    <ng-container page-title *ngIf="(template$ | async)">
        {{(template$ | async).TemplateName}}
        <span class="badge badge-danger template-indicator">Template</span>
    </ng-container>

	<ng-container page-actions *ngIf="(template$ | async)">
		<pf-template-actions 
			[template]="template$ | async"
			(publishTemplateClick)="publishTemplateClick($event)"
			(discardDraftClick)="showDiscardDraftModal($event)"
			(editClick)="beginEditing()"
			(addSectionClick)="showAddSectionModal($event)"
			(assignClick)="showAssignModal()"
			(copyClick)="showCopyConfirmModal($event)"
			(exportSettingsClick)="handleExportSettingsClick($event)"
			(completeExportSettingsClick)="handleDoneWithExportSettings($event)"
			(cancelExportSettingsClick)="handleCancelExportSettings($event)">
		</pf-template-actions>
	</ng-container>

    <ng-container page-content>
		<pf-async-container
        class="w-100"
        [smartLoadingMask]="false"
        [loading]="(templateLoading$ | async)"
        [loadingError]="(templateLoadingError$ | async)"
		[hideReloadButton]="true">
			<pf-assign-template-to-job-modal></pf-assign-template-to-job-modal>
		</pf-async-container>
	</ng-container>
</pf-page-with-title-bar>
