<pf-modal-form
  [size]="'md'"
  [title]="modalType == 'Add' ? 'Add SSO Configuration': 'Edit SSO Configuration'"
  [primaryButtonText]="modalType"
  [primaryButtonTextSubmitting]="modalType =='Add' ? 'Adding...' : 'Editing...'"
  [primaryButtonClass]="'btn-primary'"
  [secondaryButtonText]="'Cancel'"
  [submitting]="(creatingSso$ | async)"
  [isOpen$]="ssoConfigModalOpen$"
  [allowDismiss]="true"
  [formGroup]="modalType == 'Add' ? addSsoForm : editSsoForm"
  (onSubmit)="modalType == 'Add' ? onSubmit(addSsoForm.value) : onSubmit(editSsoForm.value)"
  (onDismiss)="handleModalDismissed()">

  <ng-container form-content>
    <form [formGroup]="addSsoForm">
        <div *ngIf="modalType == 'Add'">
          <div class="form-group">
            <label class="control-label" for="companyId">
              Company <span class="text-danger">*</span>
            </label>
            <pf-company-selector>
            </pf-company-selector>
          </div>

          <div class="form-group">
            <label class="control-label" for="email">
              Customer Email <span class="text-danger">*</span>
            </label>
            <input class="form-control" id="email" type="email" formControlName="email">
            <span *ngIf="addSsoForm.controls['email'].touched && addSsoForm.controls['email'].invalid" class="invalid-feedback">Email required</span>
          </div>

          <div class="form-group">
            <label class="control-label" for="file">
              Metadata File <span class="text-danger">*</span>
            </label>
            <input class="form-control-file" id="file" type="file" formControlName="file" (change)="metadataFileChange($event)">
          </div>

          <div class="form-group">
            <label class="control-label" for="logOutUrl">
              Log Out Url
            </label>
            <input class="form-control" id="logOutUrl" type="url" formControlName="logOutUrl" >
          </div>
          <span *ngIf="errorMessage" class="text-danger ">Something went wrong check that your email is unique and metadata file is in idp form</span>
        </div>
    </form>

    <form [formGroup]="editSsoForm">
        <div *ngIf="modalType == 'Edit'">
          <div class="form-group">
            <label class="control-label" for="CompanyName">
              Company
            </label>
            <input class="form-control" id="CompanyName" formControlName="CompanyName" [readOnly]="true">
          </div>
          <div class="form-group">
            <label class="control-label" for="IdpId">
              IdpId
            </label>
            <input class="form-control" id="IdpId" formControlName="IdpId" [readOnly]="true">
          </div>
          <div class="form-group">
            <label class="control-label" for="EmailDomain">
              Email Domain
            </label>
            <input class="form-control" id="EmailDomain" formControlName="EmailDomain">
          </div>
          <div class="form-group">
            <label class="control-label" for="MetadataFile">
              Metadata File
            </label>
            <input class="form-control-file" id="MetadataFile" type="file" formControlName="MetadataFile" (change)="metadataFileChange($event)">
          </div>
          <div class="form-group">
            <label class="control-label" for="SsoLogOutUrl">
              Log Out Url
            </label>
            <input class="form-control" id="SsoLogOutUrl" formControlName="SsoLogOutUrl">
          </div>
          <div class="form-group">
            <label class="control-label" for="Certificate">
              Certificate
            </label>
            <input class="form-control-file" id="Certificate" type="file" formControlName="MetadataFile" (change)="certificateFileChange($event)">
          </div>
          <span *ngIf="errorMessage" class="text-danger ">Something went wrong check that your email domain is unique and metadatafile is in the proper format.</span>
        </div>
    </form>
  </ng-container>

</pf-modal-form>
