<div kendoTooltip
    filter="div.kendo-tooltip-container"
    tooltipClass="kendoTooltipWhiteTheme"
    [tooltipTemplate]="pricingMatch"
    offset='0'
    class="d-flex">
  <div class="ellipsis-overflowing-text wtg-adj-cell">
    {{dataRow.CompanyJobs_PricingsMatches_Match_Weight | number: '1.2-2' | emptyPlaceholder}}
  </div>
  <div class="ellipsis-overflowing-text wtg-adj-cell">
    {{dataRow.CompanyJobs_PricingsMatches_Match_Adjustment | number: '1.2-2' | emptyPlaceholder}}
  </div>
  <div [class.collapsed]="isCollapsed" class="kendo-tooltip-container" #jobTitleText>
    <pf-job-title-code      
      [jobTitle]="dataRow.vw_PricingMatchesJobTitlesMerged_Job_Title"
      [jobCode]="dataRow.vw_PricingMatchesJobTitlesMerged_Job_Code">
    </pf-job-title-code>
  </div>
  <div class="d-flex justify-content-end ml-auto pl-3">
    <div>
      <button
        [attr.data-qa-id]="'btn-jobs-page-pricing-match-delete-' + dataRow.CompanyJobs_PricingsMatches_CompanyJobPricingMatch_ID"
        [pfSecuredResource]="permissions.MODIFY_PRICINGS"
        [disabled]="(pricingMatchesData$ | async)?.total <= 1"
        [title]="(pricingMatchesData$ | async)?.total <= 1 ?
          'A pricing must have at least one match. You cannot delete the last match from a pricing.': ''"
        type="button"
        (click)="openDeletePricingMatchModal()"
        class="btn btn-secondary pf-icon-btn-transparent">
        <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="d-flex">
  <div #detailsText [class.collapsed]="isCollapsed" style="padding-left: 100px">
    <small>
      <em class="text-muted">
        {{dataRow.vw_PricingMatchesJobTitlesMerged_Source}}{{getScope()}}
        <span>{{dataRow.vw_PricingMatchesJobTitlesMerged_Effective_Date | date: 'MM/dd/yyyy'}}</span>
      </em>
    </small>
  </div>
  <div *ngIf="!isCollapsed || isOverflow" class="ml-auto">
    <button type="button" class="btn btn-link btn-sm" (click)="isCollapsed = !isCollapsed; isOverflow = !isOverflow">
      <small>
        {{isCollapsed ? 'More' : 'Less'}}
      </small>
    </button>
  </div>
</div>

<ng-template #pricingMatch>
  <div class="pricingMatch">
    <pf-pricing-match
      [pricingId]="dataRow['CompanyJobs_PricingsMatches_CompanyJobPricing_ID']"
      [filterGUID]="dataRow['ExchangeDataCut_FilterGUID']"
      [surveyDataId]="dataRow['CompanyJobs_PricingsMatches_Survey_Data_ID']"
      [slottedCompanyJobId]="dataRow['CompanyJobs_PricingsMatches_Slotted_CompanyJob_ID']"
      [mdJobCode]="dataRow['CompanyJobs_PricingsMatches_MDJob_Code']"
    ></pf-pricing-match>
  </div>
</ng-template>

<pf-modal-form
  [modalId]="'au-delete-pricing-match'"
  [isOpen$]="showDeletePricingMatchModal$"
  [size]="'lg'"
  [title]="'Delete Match'"
  [primaryButtonClass]="'btn-danger'"
  [primaryButtonText]="'Delete'"
  [primaryButtonTextSubmitting]="'Deleting'"
  [submitting]="(deletingPricingMatch$ | async).saving"
  [allowDismiss]="!(deletingPricingMatch$ | async).saving"
  (onSubmit)="deletePricingMatch(dataRow)"
  (onDismiss)="showDeletePricingMatchModal.next(false)">
  <ng-container basic-content>
    <div class="d-flex">
      <div class="my-auto d-flex">
        <div class="pr-5">
          <span class="pr-3"><b>Job:</b></span>
          <pf-job-title-code
            [jobTitle]="(jobsSelectedRow$ | async).CompanyJobs_Job_Title"
            [jobCode]="(jobsSelectedRow$ | async).CompanyJobs_Job_Code">
          </pf-job-title-code>
        </div>
        <div class="pr-5">
          <span class="pr-3"><b>Pay Market:</b></span>
          <span>{{pricingInfo.CompanyPayMarkets_PayMarket}}</span>
        </div>
        <div class="pr-5">
          <span class="pr-3"><b>Effective Date:</b></span>
          <span>{{pricingInfo.CompanyJobs_Pricings_Effective_Date | date: 'MM/dd/yyyy'}}</span>
        </div>
      </div>
    </div>
    <br>
    <div>
      You are about to permanently delete the match
      <b>
        <pf-job-title-code
          [jobTitle]="dataRow.vw_PricingMatchesJobTitlesMerged_Job_Title"
          [jobCode]="dataRow.vw_PricingMatchesJobTitlesMerged_Job_Code">
        </pf-job-title-code>
      </b>.
      This will recalculate the current pricing for
      <b>
        <pf-job-title-code
          [jobTitle]="(jobsSelectedRow$ | async).CompanyJobs_Job_Title"
          [jobCode]="(jobsSelectedRow$ | async).CompanyJobs_Job_Code">
        </pf-job-title-code>
      </b>
      in the <b>{{pricingInfo.CompanyPayMarkets_PayMarket}}</b> Pay Market.
      <br><br>
      This action cannot be undone. Would you like to continue?
    </div>
    <div class="text-danger" *ngIf="(deletingPricingMatch$ | async).savingError">
      <br>
      We encountered an error deleting your pricing match. Please try again.
    </div>
  </ng-container>
</pf-modal-form>
