@import '_colors';

div.collapsed {
  display: -webkit-inline-box;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wtg-adj-cell {
  min-width: 60px;
  width: 60px;
}

.wtg-adj-input {
  width: auto;
  height: auto;
  padding: 0;
}

.add-notes-link, .job-detail-link {
  color: $link-color;
  cursor: pointer;
}

.notes-link-container {
  width: 50px;
}

.details-text-padding {
  padding-left: 120px
}

.survey-job-title, .survey-job-code {
  font-size: larger;
  font-weight: bold;
}

.survey-cut {
  cursor: pointer;
}

.survey-job-template-container {
  max-width: 750px;
}

