<div class="d-flex"
  kendoTooltip
  filter="div.kendo-tooltip-container"
  tooltipClass="kendoTooltipWhiteTheme"
  position="right"
  [tooltipTemplate]="pricingMatch"
>
  <ng-container *ngIf="canModifyPricings; else readOnlyMatchValues">
    <div class="wtg-adj-cell" [title]="pricingInfo | modifyPricingMatchError : isActiveJob">
      <kendo-numerictextbox
        class="form-control-sm wtg-adj-input right mr-2"
        [(ngModel)]="weight"
        [disabled]="!!(pricingInfo | modifyPricingMatchError : isActiveJob)"
        [spinners]="false"
        [format]="'n2'"
        [decimals]="'2'"
        [min]="-999999999999"
        [max]="999999999999"
        [title]="(weight > 999 || weight < -999 ? weight : '')"
        [autoCorrect]="true"
        (change)="updatePricingMatch()">
      </kendo-numerictextbox>
    </div>
    <div class="wtg-adj-cell" [title]="pricingInfo | modifyPricingMatchError : isActiveJob">
      <kendo-numerictextbox
        class="form-control-sm wtg-adj-input right mr-2"
        [(ngModel)]="adjustment"
        [disabled]="!!(pricingInfo | modifyPricingMatchError : isActiveJob)"
        [spinners]="false"
        [format]="'n2'"
        [decimals]="'2'"
        [min]="-999999999999"
        [max]="999999999999"
        [title]="(adjustment > 999 || adjustment < -999 ? adjustment : '')"
        [autoCorrect]="true"
        (change)="updatePricingMatch()">
      </kendo-numerictextbox>
    </div>
  </ng-container>

  <ng-template #readOnlyMatchValues>
    <div class="ellipsis-overflowing-text wtg-adj-cell text-right pr-3">
      {{dataRow.CompanyJobs_PricingsMatches_Match_Weight | number: '1.2-2' | emptyPlaceholder : '0.00'}}
    </div>
    <div class="ellipsis-overflowing-text wtg-adj-cell text-right pr-3">
      {{dataRow.CompanyJobs_PricingsMatches_Match_Adjustment | number: '1.2-2' | emptyPlaceholder : '0.00'}}
    </div>
  </ng-template>

  <div #jobTitleText
    class="kendo-tooltip-container pr-3"
    [class.collapsed]="isCollapsed"
    [class.match-can-be-modified]="dataRow | canModifyMatch: pricingInfo: canModifyPricings: hasPeerPermission"
    (click)="handleMatchClick()">
    <pf-job-title-code
      [jobTitle]="dataRow.vw_PricingMatchesJobTitlesMerged_Job_Title"
      [jobCode]="dataRow.vw_PricingMatchesJobTitlesMerged_Job_Code"
      [jobTitleClass]="'pf-brand-secondary-color'">
    </pf-job-title-code>
  </div>
  <div [pfSecuredResource]="permissions.MODIFY_MATCH_NOTES" class="notes-link-container" *ngIf="!pricingInfo.CompanyPayMarkets_Linked_PayMarket_Name">
    <em>
      <small>
        <a class="add-notes-link"(click)="openNotesManager()">
          Notes ({{dataRow.CompanyJobs_PricingsMatches_MatchNotesCount}})
        </a>
      </small>
    </em>
  </div>
  <div *ngIf="isActiveJob" [pfSecuredResource]="permissions.MODIFY_PRICINGS" class="d-flex justify-content-end ml-auto pl-3">
    <div>
      <button
        [attr.data-qa-id]="'btn-jobs-page-pricing-match-delete-' + dataRow.CompanyJobs_PricingsMatches_CompanyJobPricingMatch_ID"
        [disabled]="!!(pricingInfo | modifyPricingMatchError : isActiveJob)"
        [title]="pricingInfo | modifyPricingMatchError : isActiveJob: pricingMatchesCount"
        type="button"
        (click)="openDeletePricingMatchModal()"
        class="btn btn-secondary pf-icon-btn-transparent">
        <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="d-flex">
  <div #detailsText [class.collapsed]="isCollapsed" class="details-text-padding">
    <small>
      <em class="text-muted">
        {{dataRow.vw_PricingMatchesJobTitlesMerged_Source}}{{dataRow | getMatchScope}}
        <span>{{dataRow.vw_PricingMatchesJobTitlesMerged_Effective_Date | date: 'MM/dd/yyyy'}}</span>
      </em>
    </small>
  </div>
  <div *ngIf="!isCollapsed || isOverflow" class="ml-auto">
    <button type="button" class="btn btn-link btn-sm" (click)="isCollapsed = !isCollapsed; isOverflow = !isOverflow">
      <small>
        {{isCollapsed ? 'More' : 'Less'}}
      </small>
    </button>
  </div>
</div>

<ng-template #pricingMatch>
  <div class="pricingMatch">
    <pf-pricing-match
      [pricingId]="dataRow['CompanyJobs_PricingsMatches_CompanyJobPricing_ID']"
      [matchId]="dataRow['CompanyJobs_PricingsMatches_CompanyJobPricingMatch_ID']"
      [matchType]="dataRow | pricingMatchType"
    ></pf-pricing-match>
  </div>
</ng-template>

<ng-template #reScopeSurveyDataTemplate>
  <div class="survey-job-template-container pl-3 pb-4">
    <div class="row">
      <div>
        <span class="pf-brand-secondary-color survey-job-title">{{dataRow['vw_PricingMatchesJobTitlesMerged_Job_Title']}}</span>
        &nbsp;&nbsp;
        <span class="survey-job-code">({{dataRow['vw_PricingMatchesJobTitlesMerged_Job_Code']}})</span>
      </div>
    </div>
    <div class="row">
      <div>
        <em class="text-muted">
          {{dataRow.vw_PricingMatchesJobTitlesMerged_Source}}{{dataRow | getMatchScope}}
          <span>{{dataRow.vw_PricingMatchesJobTitlesMerged_Effective_Date | date: 'MM/dd/yyyy'}}</span>
        </em>
      </div>
    </div>
  </div>
</ng-template>

<pf-modal-form
  [modalId]="'au-delete-pricing-match'"
  [isOpen$]="showDeletePricingMatchModal$"
  [size]="'lg'"
  [title]="'Delete Match'"
  [primaryButtonClass]="'btn-danger'"
  [primaryButtonText]="'Delete'"
  [primaryButtonTextSubmitting]="'Deleting'"
  [submitting]="(deletingPricingMatch$ | async).saving"
  [allowDismiss]="!(deletingPricingMatch$ | async).saving"
  (onSubmit)="deletePricingMatch(dataRow)"
  (onDismiss)="showDeletePricingMatchModal.next(false)">
  <ng-container basic-content>
    <div class="d-flex">
      <div class="my-auto d-flex">
        <div class="pr-5">
          <span class="pr-3"><b>Job:</b></span>
          <pf-job-title-code
            [jobTitle]="(jobsSelectedRow$ | async).CompanyJobs_Job_Title"
            [jobCode]="(jobsSelectedRow$ | async).CompanyJobs_Job_Code">
          </pf-job-title-code>
        </div>
        <div class="pr-5">
          <span class="pr-3"><b>Pay Market:</b></span>
          <span>{{pricingInfo.CompanyPayMarkets_PayMarket}}</span>
        </div>
        <div class="pr-5">
          <span class="pr-3"><b>Effective Date:</b></span>
          <span>{{pricingInfo.CompanyJobs_Pricings_Effective_Date | date: 'MM/dd/yyyy'}}</span>
        </div>
      </div>
    </div>
    <br>
    <div>
      <div *ngIf="pricingMatchesCount!=1">
        <span > You are about to permanently delete the match </span>
      <b>
        <pf-job-title-code
          [jobTitle]="dataRow.vw_PricingMatchesJobTitlesMerged_Job_Title"
          [jobCode]="dataRow.vw_PricingMatchesJobTitlesMerged_Job_Code">
        </pf-job-title-code>
      </b>.
      This will recalculate the current pricing for
      <b>
        <pf-job-title-code
          [jobTitle]="(jobsSelectedRow$ | async).CompanyJobs_Job_Title"
          [jobCode]="(jobsSelectedRow$ | async).CompanyJobs_Job_Code">
        </pf-job-title-code>
      </b>
      in the <b>{{pricingInfo.CompanyPayMarkets_PayMarket}}</b> Pay Market.
      </div>
      <div *ngIf="pricingMatchesCount==1">
          <div *ngIf="previousPricingEffectiveDate">
            You are about to delete pricing effective <b>{{pricingInfo.CompanyJobs_Pricings_Effective_Date | date: 'MM/dd/yyyy'}}</b>.
            The pricing from effective date <b>{{previousPricingEffectiveDate | date: 'MM/dd/yyyy'}}</b> will now become the most recent pricing. Do you want to continue?
          </div>
        <div *ngIf="!previousPricingEffectiveDate">
          You are about to delete pricing effective <b>{{pricingInfo.CompanyJobs_Pricings_Effective_Date | date: 'MM/dd/yyyy'}}</b>. There will no longer be a pricing associated with this job and pay market. Do you want to continue?
        </div>
      </div>
      <br><br>
      This action cannot be undone. Would you like to continue?
    </div>
    <div class="text-danger" *ngIf="(deletingPricingMatch$ | async).savingError">
      <br>
      We encountered an error deleting your pricing match. Please try again.
    </div>
  </ng-container>
</pf-modal-form>

<pf-notes-manager
  [entityId]="pricingMatchIdForGridRefresh"
  [apiServiceIndicator]="notesApiServiceType"
  [notesHeader]="matchNotesHeader"
  [placeholderText]="'Please add any notes you would like to attach to this match.'"
  [modalTitle]="'Match Notes - ' + (dataRow | jobTitleCode : 'vw_PricingMatchesJobTitlesMerged' : 'Job_Title' : 'Job_Code')"
  (saveSuccess)="reloadPricingMatches()"
  (cancelChanges)="closeNotesManager()">
</pf-notes-manager>


<ng-template #matchNotesHeader>
  <div class="pt-2 pb-4">
    <strong>Scope: </strong>
      {{dataRow.vw_PricingMatchesJobTitlesMerged_Source}}{{dataRow | getMatchScope}}
      <span>{{dataRow.vw_PricingMatchesJobTitlesMerged_Effective_Date | date: 'MM/dd/yyyy'}}</span>
  </div>
</ng-template>

<pf-upsert-peer-data-modal
  [entityConfiguration]="upsertPeerDataCutEntityConfiguration"
  [companyJobId]="pricingInfo['CompanyJobs_CompanyJob_ID']"
  [companyPayMarketId]="pricingInfo['CompanyPayMarkets_CompanyPayMarket_ID']"
  [isPayMarketOverride]="false"
  [cutGuid]="dataRow['ExchangeDataCut_FilterGUID']"
  (cancelChanges)="closeUpsertPeerCutModal()"
>

</pf-upsert-peer-data-modal>

