@import '_colors';

div.collapsed {
  display: -webkit-inline-box;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wtg-adj-cell {
  min-width: 50px;
  width: 50px;
}

.add-notes-link {
  color: $link-color;
  cursor: pointer;
}
