<pf-card-layout
  pageTitle="Jobs"
  pageSubTitle="First, let's find a job to price"
  pageIconClass="user-circle"
  [hideBackButton]="true"
  [page]="comphubPages.Jobs"
  [nextButtonEnabled]="
    (!(jobPricingBlocked$ | async) &&
    (selectedJob$ | async)?.length) &&
    workflowContext?.selectedPageId === comphubPages.Jobs"
  [backButtonEnabled]="workflowContext?.selectedPageId === comphubPages.Jobs">

  <ng-container page-content>

    <div class="row">
      <div class="col-lg-12 col-xl-9">

        <div *ngIf="workflowContext?.quickPriceType === quickPriceTypes.ENTERPRISE">
          <div class="data-set-selector" *ngIf="(countryDataSets$ | async)?.length > 1">
          <kendo-dropdownlist
            (valueChange)="handleCountryDataSetChanged($event)"
            class="form-control"
            textField="CountryCode"
            valueField="CountryCode"
            [data]="countryDataSets$ | async"
            [valuePrimitive]="true"
            [ngModel]="workflowContext?.activeCountryDataSet?.CountryCode">

            <ng-template kendoDropDownListItemTemplate let-dataItem>
              <img src="assets/images/blank.gif" class="flag flag-{{dataItem?.FlagCode | lowercase}} mr-2" /> {{ dataItem?.CountryCode }}
            </ng-template>
            <ng-template kendoDropDownListValueTemplate let-dataItem>
              <img src="assets/images/blank.gif" class="flag flag-{{dataItem?.FlagCode | lowercase}} mr-2" /> {{ dataItem?.CountryCode }}
            </ng-template>

          </kendo-dropdownlist>
        </div>
          <kendo-autocomplete
            #jobSearch
            class="w-100 mt-4"
            placeholder="Search for a Job Title..."
            [data]="(jobSearchOptions$ | async)"
            [value]="!(jobPricingBlocked$ | async) ? (selectedJob$ | async) : ''"
            [filterable]="true"
            [loading]="loadingJobSearchOptions$ | async"
            [disabled]="jobPricingBlocked$ | async"
            [popupSettings]="popupSettings"
            [attr.data-qa-id]="'txt-job-search'"
            (valueChange)="handleJobSearchValueChanged($event)"
            (filterChange)="handleJobSearchFilterChange($event)">
            <ng-template kendoAutoCompleteNoDataTemplate>
              No matching job titles
            </ng-template>
          </kendo-autocomplete>

      </div>
        <div *ngIf="workflowContext?.quickPriceType === quickPriceTypes.PEER">
      <div class="data-set-selector exchange-selector">
        <label class="exchange-dropdown-label">Peer Exchange: </label>
        <kendo-dropdownlist
          (valueChange)="handleExchangeDataSetChanged($event)"
          class="form-control"
          textField="ExchangeName"
          valueField="ExchangeId"
          [data]="exchangeDataSets$ | async"
          [disabled]="(exchangeDataSets$ | async)?.length <= 1"
          [valuePrimitive]="true"
          [ngModel]="workflowContext?.activeExchangeDataSet?.ExchangeId">
        </kendo-dropdownlist>
      </div>
          <kendo-autocomplete
            #exchangeJobSearch
            valueField="JobTitle"
            class="w-100 mt-4"
            placeholder="Search for a Job Title..."
            [data]="(exchangeJobSearchOptions$ | async)"
            [value]="!(jobPricingBlocked$ | async) ? (selectedJob$ | async) : ''"
            [filterable]="true"
            [loading]="loadingJobSearchOptions$ | async"
            [disabled]="jobPricingBlocked$ | async"
            [popupSettings]="popupSettings"
            [attr.data-qa-id]="'txt-job-search'"
            (valueChange)="handleJobSearchValueChanged($event)"
            (filterChange)="handleJobSearchFilterChange($event)">
            <ng-template kendoAutoCompleteNoDataTemplate>
              No matching job titles
            </ng-template>
          </kendo-autocomplete>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-xl-9">

        <div class="uppercase-header mt-5 mb-2">Trending Jobs</div>
        <p class="mb-4">Check out these recently priced jobs that are trending across the Payfactors universe!</p>

        <pf-async-container [loading]="loadingTrendingJobs$ | async">
          <div class="row" *ngIf="countryDataSetsLoaded$ | async">
            <ng-container *ngIf="(trendingJobGroups$ | async)?.length && !(loadingTrendingJobs$ | async); else noTrendingJobGroups">
              <div class="col-6" *ngFor="let trendingJobGroup of trendingJobGroups$ | async">
                <pf-trending-job-group
                  [trendingJobGroup]="trendingJobGroup"
                  [disabled]="(jobPricingBlocked$ | async) || workflowContext?.selectedPageId !== comphubPages.Jobs"
                  (trendingJobClicked)="handleTrendingJobClicked($event)">
                </pf-trending-job-group>
              </div>
            </ng-container>
            <ng-template #noTrendingJobGroups>
              <div class="col-12">
                <div class="no-trending-jobs">
                  <div *ngIf="!(loadingTrendingJobs$ | async)">
                    <img class="m-3" src="assets/images/trending-green.png"> Nothing is Trending
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </pf-async-container>

      </div>
    </div>

  </ng-container>

  <ng-container custom-actions>
    <div class="smb-limit-disabling-message" *ngIf="(jobPricingBlocked$ | async)
    && (countryDataSetsLoaded$ | async)
    && (userContext$ | async)?.CompanySystemUserGroupsGroupName === systemUserGroupNames.SmallBusiness">
      <div class="icon">
        <fa-icon class="exclamation-triangle"></fa-icon>
      </div>
      <div class="message">
        <div class="mb-2">Congratulations</div>

        <div>it looks like you've already priced {{(jobPricingLimitInfo$ | async)?.Available}} jobs!</div>
        <div>Contact <a href="mailto:smb@payfactors.com">smb@payfactors.com</a> to keep this momentum going.</div>
      </div>
    </div>
  </ng-container>

</pf-card-layout>
