<pf-async-container>
  <pf-page-with-title-bar>
    <ng-container page-title>
      <a href="/ng/company-admin/navigation" class="button btn btn-secondary">
        <fa-icon icon="long-arrow-alt-left"></fa-icon>
      </a>
      Password Management
    </ng-container>
    <ng-container page-actions>
      <button (click)="save()" class="btn btn-primary" [disabled]="!isDirty || (passwordSettingsSaving$ | async)" type="submit">Save</button>
      <button (click)="cancel()" class="btn btn-secondary" type="submit" [disabled]="(passwordSettingsSaving$ | async)">Cancel</button>
    </ng-container>
    <ng-container page-content>
      <div class="col-6 scroll-y">
        <pf-password-management-settings (valueChange)="setDirty($event)" ></pf-password-management-settings>
      </div>
    </ng-container>
  </pf-page-with-title-bar>
</pf-async-container>

