<div>
  <h3>Data Loads</h3>

  <kendo-grid
    [data]="gridView"
    [loading]="(gridDataObj$ | async).loading"
    [pageable]="{ pageSizes: pageSizes }"
    [sortable]="{
      allowUnsort: true,
      mode: 'single'
    }"
    [sort]="sort"
    [pageSize]="pageSize"
    [skip]="skip"
    (pageChange)="pageChange($event)"
    (sortChange)="sortChange($event)"
    [rowClass]="rowCallback"
  >
    <kendo-grid-column field="compositeDataLoadId" title="Load ID">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="d-flex">
          <span class="kendo-column-text-with-button">
            {{ dataItem.compositeDataLoadId }}
          </span>
          <div *ngIf="dataItem.exportedSourceUri" class="ml-4">
            <button class="btn btn-secondary"
                    (click)="downloadExportedSourceFile(dataItem.externalId)"
                    title="Download Source Files">
              <fa-icon icon="file-download"></fa-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>
    <!-- TODO: Show this when we have different loader types (e.g. pricings) -->
    <!--<kendo-grid-column field="compositeLoaderType" title="Load Type"></kendo-grid-column> -->
    <kendo-grid-column field="company_ID" [width]="75" title="CID"></kendo-grid-column>
    <kendo-grid-column field="company_Name" title="Company"></kendo-grid-column>
    <kendo-grid-column field="validationErrorOutputUri" title="Error(s)">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div *ngIf="hasErrorCondition(dataItem)" class="d-flex">
          <button
            *ngIf="dataItem.validationErrorOutputUri"
            class="btn btn-secondary" (click)="downloadInvalidRecordsFile(dataItem.externalId)">
            Download
          </button>
          <fa-icon *ngIf="dataItem.fixableDataConditionException || dataItem.terminalException"
                   icon="exclamation-triangle"
                   [title]="[dataItem.fixableDataConditionException, dataItem.terminalException] | getErrorMessage"
                   class="pl-2">
          </fa-icon>
          <div *ngIf="dataItem.compositeLoaderType == 'Organizational Data' && loaderDashboardRedropsFeatureFlag.value" class="ml-2">
            <button class="btn btn-secondary"
                    [disabled]="(isRedropInProgress$ | async).loading"
                    (click)="openRedropConfirmationModal(dataItem.compositeDataLoadId)"
                    title="Re-Drop Files">
              <fa-icon icon="repeat"></fa-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="requestTime" title="Requested">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.requestTime | date: 'MM/dd/yyyy hh:mm a' : 'UTC' }}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="processingStartTime" title="Started">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.processingStartTime | date: 'MM/dd/yyyy hh:mm a' : 'UTC' }}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="processingEndTime" title="Finished">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.processingEndTime | date: 'MM/dd/yyyy hh:mm a' : 'UTC' }}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="loadType" [width]="100" title="Load Type">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>
          {{ dataItem.loadType ? dataItem.loadType : "Unknown" }}
          <fa-icon *ngIf="dataItem.validationOnly"
                   icon="vial"
                   title="Validation Only"
                   class="pl-2"></fa-icon>
        </div>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem [kendoGridDetailTemplateShowIf]="showIfLoadHasSummaries">
      <pf-loader-dashboard-grid-detail [dataItem]="dataItem.entityLoadSummaries"></pf-loader-dashboard-grid-detail>
    </ng-template>
  </kendo-grid>
  <pf-redrop-confirmation-modal [selectedCompositeDataLoadId]="selectedCompositeDataLoadId"></pf-redrop-confirmation-modal>
</div>
