<div>
  <h3>Data Loads</h3>

  <kendo-grid
    [data]="gridView"
    [loading]="(gridDataObj$ | async).loading"
    [pageable]="{ pageSizes: pageSizes }"
    [sortable]="{
      allowUnsort: true,
      mode: 'single'
    }"
    [sort]="gridState.sort"
    [pageSize]="gridState.take"
    [skip]="gridState.skip"
    [filter]="gridState.filter"
    filterable="menu"
    (dataStateChange)="dataStateChange($event)"
    [rowClass]="rowCallback"
  >
    <kendo-grid-column field="compositeLoaderType" title="Load Type" filter="string">
      <ng-template kendoGridFilterMenuTemplate let-filterService="filterService">
        <kendo-combobox [(ngModel)]="compositeLoaderType"
                        [data]="compositeLoaderTypes"
                        [value]="compositeLoaderType"
                        [valuePrimitive]="true"
                        class="form-control"
                        id="compositeLoaderType"
                        (valueChange)="setFilter('compositeLoaderType', $event, filterService)">
        </kendo-combobox>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="d-flex">
            {{ dataItem.compositeLoaderType }}
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="compositeDataLoadId" title="Load ID" filter="numeric">
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-contains-operator></kendo-filter-contains-operator>
          <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="d-flex">
          <span class="kendo-column-text-with-button">
            {{ dataItem.compositeDataLoadId }}
          </span>
          <div *ngIf="dataItem.exportedSourceUri" class="ml-4">
            <button class="btn btn-secondary"
                    (click)="downloadExportedSourceFile(dataItem.externalId)"
                    title="Download Source Files">
              <fa-icon icon="file-download"></fa-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>
    <!-- TODO: Show this when we have different loader types (e.g. pricings) -->
    <!--<kendo-grid-column field="compositeLoaderType" title="Load Type"></kendo-grid-column> -->
    <kendo-grid-column field="company_ID" [width]="75" title="CID" filter="numeric">
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-contains-operator></kendo-filter-contains-operator>
          <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="company_Name" title="Company">
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [filterService]="filterService" [extra]="false">
          <kendo-filter-contains-operator></kendo-filter-contains-operator>
          <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
          <kendo-filter-eq-operator></kendo-filter-eq-operator>
          <kendo-filter-neq-operator></kendo-filter-neq-operator>
          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="hasErrorCondition" title="Error(s)" filter="boolean" [width]="135">
      <kendo-grid-messages
        filterIsTrue="Yes"
        filterIsFalse="No">
      </kendo-grid-messages>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div *ngIf="dataItem.hasErrorCondition" class="d-flex">
          <button
            *ngIf="dataItem.validationErrorOutputUri"
            class="btn btn-secondary" (click)="downloadInvalidRecordsFile(dataItem.externalId)">
            Download
          </button>
          <fa-icon *ngIf="dataItem.fixableDataConditionException || dataItem.terminalException"
                   icon="exclamation-triangle"
                   [title]="[dataItem.fixableDataConditionException, dataItem.terminalException] | getErrorMessage"
                   class="pl-2">
          </fa-icon>
          <div *ngIf="dataItem.compositeLoaderType == 'Organizational Data' && loaderDashboardRedropsFeatureFlag.value" class="ml-2">
            <button class="btn btn-secondary"
                    [disabled]="(isRedropInProgress$ | async).loading"
                    (click)="openRedropConfirmationModal(dataItem.compositeDataLoadId, dataItem.company_Name, dataItem.company_ID, dataItem.compositeLoaderType)"
                    title="Re-Drop Files">
              <fa-icon icon="repeat"></fa-icon>
            </button>
          </div>
          <div *ngIf="dataItem.compositeLoaderType == 'Surveys' && dataItem.validationOnly && !dataItem.isProcessed && !dataItem.hasExpired" class="ml-2">
            <button class="btn btn-secondary"
                    [disabled]="(isRedropNewDataLoadInProgress$ | async).loading"
                    (click)="openRedropConfirmationModal(dataItem.compositeDataLoadId, dataItem.company_Name, dataItem.company_ID, dataItem.compositeLoaderType)"
                    title="Process Files">
              <fa-icon icon="rocket-launch"></fa-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="requestTime" title="Requested" [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.requestTime | date: 'MM/dd/yyyy hh:mm a' : 'UTC' }}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="processingStartTime" title="Started" [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.processingStartTime | date: 'MM/dd/yyyy hh:mm a' : 'UTC' }}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="processingEndTime" title="Finished" [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.processingEndTime | date: 'MM/dd/yyyy hh:mm a' : 'UTC' }}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="loadType" [width]="125" title="Data Origin">
      <ng-template kendoGridFilterMenuTemplate let-filterService="filterService">
        <kendo-combobox [(ngModel)]="dataOrigin"
                        [data]="dataOrigins"
                        [value]="dataOrigin"
                        [valuePrimitive]="true"
                        class="form-control"
                        id="loadType"
                        (valueChange)="setFilter('loadType', $event, filterService)">
        </kendo-combobox>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>
          {{ dataItem.loadType ? dataItem.loadType : "Unknown" }}
          <fa-icon *ngIf="dataItem.validationOnly"
                   icon="vial"
                   title="Validation Only"
                   class="pl-2"></fa-icon>
        </div>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem [kendoGridDetailTemplateShowIf]="showIfLoadHasSummaries">
      <pf-loader-dashboard-grid-detail *ngIf="showIfLoadHasOnlySummary(dataItem)" [dataItem]="dataItem.entityLoadSummaries"></pf-loader-dashboard-grid-detail>
      <pf-loader-dashboard-grid-summary-detail *ngIf="showIfLoadHasSummaryDetails(dataItem)"
                                               [dataItem]="dataItem.entityLoadSummaryDetails"
                                               [detailKeys]="getDetailKeys(dataItem.compositeLoaderType)">

      </pf-loader-dashboard-grid-summary-detail>
    </ng-template>
  </kendo-grid>
  <pf-redrop-confirmation-modal
    [selectedCompositeDataLoadId]="selectedCompositeDataLoadId"
    [selectedClientName]="selectedClientName"
    [selectedClientId]="selectedClientId"
    [isRedropModified]="false"
    (redropConfirmationEvent)="handleRedropConfirmationResponse($event)"
  ></pf-redrop-confirmation-modal>
  <pf-process-confirmation-modal
    [selectedCompositeDataLoadId]="selectedCompositeDataLoadId"
    [selectedClientName]="selectedClientName"
    [selectedClientId]="selectedClientId"
    (redropConfirmationEvent)="handleRedropToNewDataLoadConfirmationResponse($event)"
  ></pf-process-confirmation-modal>
</div>
