@import 'colors';

.modal-body {

  .search-results {
    background: #ffffff;
  }

  .no-results-message {
    font-size: 16px;
    padding: 1.5rem 1rem;
  }

  .search-bar {
    .search-icon {
      color: $pf-brand-secondary-color;
      font-size: 1.25em;
      padding: 1.5rem;
    }
    border-bottom: 1px solid #e9ecef;
  }
}
