.vertical-align-top{
    vertical-align: top;
}

.no-border {
    border: 0;
    box-shadow: none;
}

#marketing-image-form-submit{
    position: fixed;
    right: 88px;
    top: 65px;
}

.preview {
    width: 500px;
    float: none;
    position: relative;
    top: 7px;
    right:0px;
}