<div class="accordion">
  <div class="card-container">
    
    <pf-comphub-card-layout
      *ngFor="let card of accordionCards"
      [cardId]="card.Id"
      [cardTitle]="card.Title"
      [cardIconClass]="card.IconClass"
      [containerWidth]="cardContentContainerWidth"
      [selected]="(selectedPageId$ | async) === card.Id"
      (cardHeaderClick)="handleCardChange(card.Id)">

      <ng-container card-content [ngSwitch]="card.Id">
        <pf-jobs-page *ngSwitchCase="comphubPages.Jobs" (navigateToNext)="handleCardChange(comphubPages.Markets)"></pf-jobs-page>
        <pf-markets-page *ngSwitchCase="comphubPages.Markets"></pf-markets-page>
        <pf-data-page *ngSwitchCase="comphubPages.Data"></pf-data-page>
        <pf-summary-page *ngSwitchCase="comphubPages.Summary"></pf-summary-page>
      </ng-container>

    </pf-comphub-card-layout>

  </div>
</div>
