@import 'colors';
@import 'data-insights-variables';
@import 'libs/styles/perfect-scrollbar-overrides';
@import 'libs/styles/dragula-drag-drop';

.fields-container {
  background-color: $background-grey;
  height: 95%;
}

.fields {
  background-color: $background-grey;
  position: relative;
  max-height: calc(100vh - 356px);
  padding: 0 1rem 1rem;
}
