<!-- Static Filters -->
<pf-filter-section [title]="'Job Title / Code'">
  <pf-input-debounce
    [hideClearBtn]="true"
    [placeholderText]="''"
    [ngModel]="(staticFilters$ | async).jobTitleCode"
    [maxLength]="255"
    (valueChanged)="handleValueChanged('jobTitleCode', $event)">
  </pf-input-debounce>
</pf-filter-section>

<pf-filter-section [title]="'Job Description'">
  <pf-input-debounce
    [hideClearBtn]="true"
    [placeholderText]="''"
    [ngModel]="(staticFilters$ | async).jobDescription"
    [maxLength]="255"
    (valueChanged)="handleValueChanged('jobDescription', $event)">
  </pf-input-debounce>
</pf-filter-section>

<pf-filter-section [title]="'Scope'">
  <pf-input-debounce
    [hideClearBtn]="true"
    [placeholderText]="''"
    [maxLength]="255"
    [ngModel]="(staticFilters$ | async).scope"
    (valueChanged)="handleValueChanged('scope', $event)">
  </pf-input-debounce>
</pf-filter-section>

<!-- Aggregate Filters -->
