<pf-page-with-title-bar [absoluteUrl]="'/ng/company-admin/navigation'">

  <ng-container page-title>
    User Roles <span *ngIf="currentRole"> - {{currentRole.RoleName}}</span>
  </ng-container>

  <ng-container page-actions>
    <button type="button" class="btn btn-primary" (click)="createUserRole()">Create</button>
  </ng-container>

  <ng-container page-content>
    <div class="container-fluid h-100 w-i">
      <div class="row h-100">
        <div class="col-1 p-0 roles-list-column inner-nav">
          <div class="h-100 w-100 rounded-0">
            <div>
              <div class="align-self-center mr-auto">
                <h4>Roles</h4>
              </div>
            </div>
            <div id="wrapper">
              <div class="scrollbar" >
              <ul class="list-group nav role-list">
                <li class="nav-item" *ngFor="let userAssignedRole of userAssignedRoles" [ngClass]="{'active-role': currentRole && currentRole.RoleId === userAssignedRole.RoleId && currentRole.IsSystemRole === userAssignedRole.IsSystemRole}">
                  <a [routerLink]="" (click)="clickRole(userAssignedRole)">{{userAssignedRole.RoleName}}</a>
                </li>
              </ul>
                </div>
              <div>
                <a class="outer-nav-link" [routerLink]="" (click)="createUserRole()">Create New Role</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col p-0">
          <div class="card h-100 w-100 rounded-0">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item" *ngFor="let type of _UserRoleTabState.values()">
                  <button class="nav-link" [ngClass]="{ 'active': currentUserRoleTabState == _UserRoleTabState[type]}"
                          (click)="handleTabClick(_UserRoleTabState[type])">{{ type | stringReplace:'_': ' ' | titlecase }}
                  </button>
                </li>
              </ul>
            </div>
            <div class="card-block">
              <div class="tab-container mx-2 py-2">
                <pf-user-role-function-tab
                  *ngIf="currentUserRoleTabState === _UserRoleTabState.FUNCTION"></pf-user-role-function-tab>
                <pf-user-role-users-tab
                  *ngIf="currentUserRoleTabState === _UserRoleTabState.USERS"></pf-user-role-users-tab>
              </div>
              <div class="action-container row">
                <div id="api-response-container" *ngIf="roleApiResponse" class="api-save-success" [ngClass]="{'api-save-error': roleApiResponse === _RoleApiResponse.Error}">
                  {{roleApiResponse}}
                </div>
                <div>
                  <pf-action-button
                    (saveClicked)="saveChanges()"
                    (cancelClicked)="cancelChanges()"
                    [saveButtonQaId]="'btn-user-role-save-changes-btn'"
                    [cancelButtonQaId]="'btn-user-role-cancel-btn'"
                    [saveButtonDisabled]="saveButtonDisabled || !currentRole"
                    [cancelButtonDisabled]="!(functionTabPendingChanges || usersTabPendingChanges) || saveButtonDisabled"
                  ></pf-action-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</pf-page-with-title-bar>
<pf-add-company-role-modal></pf-add-company-role-modal>
