.checkbox-spacing {
  margin-top: 0.8rem;
}

.radio-size {
  font-size: 1.2rem;
}

.title-font {
  font-size: .9rem;
}

.box-border {
  border-radius: 10px;
  border: 1px solid grey;
}

.custom-control-label {
  margin-bottom: 0;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: #007bff;
}

body {
  background-color: #e9eaed;;
}
