
<div class="filter-category" [class.collapsed]="collapsed">

  <!--Header-->
  <div class="filter-category-header" (click)="collapsed = !collapsed">

    <div>
      {{categoryLabel}}
    </div>

    <div class="header-right">
      <!--TODO[BC]: Implement Resetting of Selections-->
      <!--<div *ngIf="selections.length" class="reset-link">-->
        <!--<i class="far fa-times"></i> Reset-->
      <!--</div>-->
      <div *ngIf="collapsed">
        <i class="far fa-angle-down"></i>
      </div>
      <div *ngIf="!collapsed">
        <i class="far fa-angle-up"></i>
      </div>
    </div>

  </div>

  <!--Options-->
  <div class="filter-category-option-container" [class.show-all]="showAllOptions">
    <pf-peer-data-cut-filter-option
      *ngFor="let filterOption of filterOptions"
      [option]="filterOption"
      (optionSelected)="handleOptionSelected($event)">
    </pf-peer-data-cut-filter-option>
  </div>

  <!--Options Toggle-->
  <div *ngIf="filterOptions.length > 5"
       (click)="showAllOptions = !showAllOptions"
       class="toggle-option-height">

    Show

    <span *ngIf="!showAllOptions">
      {{filterOptions.length - 5}} More <i class="far fa-angle-down"></i>
    </span>

    <span *ngIf="showAllOptions">
      Less <i class="far fa-angle-up"></i>
    </span>
  </div>

</div>
