<pf-async-container [loading]="isProcessingMapping$ | async"
                    [spinnerType]="spinnerType"
                    [loadingProgress]="loadingProgress">
  <pf-page-with-title-bar *ngIf="!hideAccess">
    <ng-container custom-button>
      <button class="btn btn-secondary px-3 mr-2"
              (click)="goBack()">
        <fa-icon icon="long-arrow-alt-left"
                 aria-hidden="true"></fa-icon>
      </button>
    </ng-container>
    <ng-container page-title>
      Data Management
    </ng-container>
    <ng-container page-content>

      <div class=" w-100 d-flex justify-content-center">
        <div class="w-100">
          <h4 class="my-2">Load Organizational Data <span *ngIf="this.selectedCompany"> -
              {{this.selectedCompany.CompanyName}}</span></h4>
          <div class="shadow p-3 rounded container-background">

            <ngb-alert *ngIf="isModalOpen$ | async"
                       [type]="'danger'"
                       (close)="setModalOpen(false)">Unable to download file. Please contact services.
            </ngb-alert>

            <div class="font-weight-bold pb-3">
              <ng-template closable="true"
                           #tipContent>
                <span class="tool-tip-close">
                  <fa-icon icon="times-circle"></fa-icon>
                </span>
                We recommend downloading your organization's data before processing a new data load in the event you
                need to restore your data.
              </ng-template>
              {{this.StepHeaders[this.stepIndex - 1]}}
              <span [hidden]="stepIndex !== stepEnum.Files"
                    class="text-info float-right py-2">
                <span class="org-data-link"
                      (click)="orgDataExportAction()"
                      id="data-download-link"
                      tooltipClass="org-download-tooltip"
                      [ngbTooltip]="tipContent"
                      placement="bottom"
                      [autoClose]="'inside'"
                      triggers="manual"
                      #downloadToolTip="ngbTooltip">
                  Download Data</span> - <a href="#"
                   (click)="goToLink($event,this.organizationalDataTemplateLink)"
                   id="template">Field Descriptions</a>
              </span>
            </div>

            <ng-container [ngSwitch]="stepIndex">

              <div *ngSwitchCase="stepEnum.Company">
                <div class="form-group">
                  <label class="sr-only"
                         for="companySearch">Company Search</label>
                  <pf-company-selector>
                  </pf-company-selector>
                </div>
              </div>

              <div *ngSwitchCase="stepEnum.Entity"
                   class="pl-5">
                <pf-entity-picker [entities]="loadOptions"></pf-entity-picker>
              </div>

              <div *ngSwitchCase="stepEnum.Files"
                   class="px-5">
                <pf-entity-upload #entityUpload
                                  [entities]="loadOptions"
                                  [selectedDelimiter]="selectedDelimiter"
                                  [selectedMapping]="selectedMapping"
                                  [dateFormat]="dateFormat"
                                  [mappingOptions]="mappingOptions"
                                  (onMappingChange)="selectedConfigChange($event)"
                                  (onDelimiterChange)="onDelimiterChange($event)"
                                  (onDateChange)="onDateChange($event)">
                </pf-entity-upload>
              </div>

              <div *ngSwitchCase="stepEnum.FieldMapping"
                   class="px-5">
                <pf-file-mapping [entities]="loadOptions"
                                 [selectedCompany]="selectedCompany"
                                 [existingCompanyLoaderSettings]="companySettings"
                                 [loaderConfigurationGroupId]="selectedMapping?.LoaderConfigurationGroupId"
                                 (mappingComplete)="onMappingComplete($event)">
                </pf-file-mapping>
              </div>

            </ng-container>
            <div class="form-inline mt-3 justify-content-end">
              <div class="form-check mr-3"
                   *ngIf="this.stepIndex == stepEnum.FieldMapping">
                <input type="checkbox"
                       class="form-check-input"
                       id="validateOnly"
                       [(ngModel)]="isValidateOnly">
                <label class="form-check-label"
                       for="validateOnly">Validate Only</label>
              </div>
              <button type="button"
                      *ngIf="this.stepIndex !== stepEnum.Company && this.stepIndex !== stepEnum.FieldMapping"
                      class="btn mx-1 btn-md pf-secondary-btn"
                      [disabled]="disabledClear()"
                      (click)="clearSelections(false)"
                      data-qa-id="btn-clear">Clear</button>
              <button type="button"
                      *ngIf="this.stepIndex !== stepEnum.FieldMapping"
                      [style.opacity]="this.getNextBtnOpacity()"
                      [ngbTooltip]="this.areStepsValid() ? '' :  this.NextBtnToolTips[this.stepIndex - 1]"
                      placement="top"
                      (click)="nextBtnClick()"
                      class="btn mx-1 pf-primary-btn"
                      data-qa-id="btn-process">Next</button>
              <button type="button"
                      *ngIf="this.stepIndex === stepEnum.FieldMapping"
                      [disabled]="isProcessingMapping$ | async"
                      [style.opacity]="this.getNextBtnOpacity()"
                      [ngbTooltip]="this.getFieldMapperTooltip()"
                      placement="top"
                      (click)="processBtnClick()"
                      class="btn mx-1 pf-primary-btn"
                      data-qa-id="btn-process">Process</button>
              <button class="btn mx-1 btn-md pf-secondary-btn"
                      *ngIf="stepIndex === stepEnum.FieldMapping"
                      (click)="openEmailRecipientsModal()"
                      data-qa-id="btn-emailRecipients">Email Recipients</button>
            </div>
          </div>
        </div>
      </div>

      <pf-email-recipients-modal class="float-right m-2"
                                 *ngIf="selectedCompany && stepIndex === stepEnum.FieldMapping"
                                 [companyId]="selectedCompany.CompanyId"
                                 [loaderConfigurationGroupId]="configGroupId"
                                 [loadType]="loadType"
                                 [primaryCompositeDataLoadType]="primaryCompositeDataLoadType"
                                 [savingError$]="emailRecipientsSavingError$"
                                 [removingError$]="emailRecipientsRemovingError$"
                                 [emailRecipientsModalOpen$]="emailRecipientsModalOpen$"
                                 [recipients]="emailRecipients$ | async">
      </pf-email-recipients-modal>

    </ng-container>
  </pf-page-with-title-bar>
</pf-async-container>