<pf-page-with-title-bar>
  <ng-container custom-button>
    <button class="btn btn-secondary px-3 mr-2"
            (click)="goBack()">
      <fa-icon icon="long-arrow-alt-left"
               aria-hidden="true"></fa-icon>
    </button>
  </ng-container>
  <ng-container page-title>
    Data Management
  </ng-container>
  <ng-container page-content>


    <div class=" w-100 d-flex justify-content-center">
      <div class="w-100">
        <h4 class="my-2">Load Organizational Data</h4>
        <div class="shadow p-3 rounded container-background">

          <ngb-alert *ngIf="isModalOpen$ | async"
                     [type]="'danger'"
                     (close)="setModalOpen(false)">Unable to download template file. Please contact services.
          </ngb-alert>
          <div class="font-weight-bold pb-3">{{this.StepHeaders[this.stepIndex - 1]}}
            <span *ngIf="stepIndex === stepEnum.Files"
                  class="text-info float-right small py-2">
              <a href="#"
                 (click)="download($event)"
                 id="data">Download Data</a> - <a href="#"
                 (click)="goToLink($event,this.organizationalDataTemplateLink)"
                 id="template">Field Descriptions</a>
            </span>
          </div>

          <ng-container [ngSwitch]="stepIndex">

            <div *ngSwitchCase="stepEnum.Company">
              <div class="form-group">
                <label class="sr-only"
                       for="companySearch">Company Search</label>
                <pf-company-selector>
                </pf-company-selector>
              </div>
            </div>

            <div *ngSwitchCase="stepEnum.Entity"
                 class="pl-5">
              <pf-entity-picker [entities]="loadOptions"></pf-entity-picker>
            </div>

            <div *ngSwitchCase="stepEnum.Files"
                 class="px-5">
              <pf-entity-upload #entityUpload
                                [entities]="loadOptions">
              </pf-entity-upload>
            </div>

            <div *ngSwitchCase="stepEnum.FieldMapping"
                 class="px-5">
              <pf-file-mapping
                [entities]="loadOptions"
                [selectedCompany] = "selectedCompany">
              </pf-file-mapping>
            </div>

          </ng-container>

          <div class="text-right mt-3">
            <button type="button"
                    *ngIf="this.stepIndex !== stepEnum.Company"
                    class="btn mx-1 btn-md pf-secondary-btn"
                    (click)="clearSelections(false)">Clear</button>
            <button type="
                    button"
                    [style.opacity]="this.getNextBtnOpacity()"
                    [ngbTooltip]="this.areStepsValid() ? '' :  this.NextBtnToolTips[this.stepIndex - 1]"
                    placement="top"
                    (click)="nextBtnClick()"
                    class="btn mx-1 pf-primary-btn">Next</button>
          </div>
        </div>
      </div>
    </div>

    <!--Export Form-->
    <form name="OrgDataExportForm"
          [action]="orgDataExportAction()"
          method="POST">
    </form>

  </ng-container>
</pf-page-with-title-bar>
