<pf-page-with-title-bar [returnUrl]="'/exchanges'">

  <ng-container page-title>
    {{ (exchange$ | async).ExchangeName }} - Dashboard
  </ng-container>

  <ng-container page-actions>
    <button type="button" class="btn btn-secondary" (click)="referCompanyClick()">Invite Company</button>
    <button type="button" class="btn btn-secondary" (click)="manageJobsClick()">Manage Jobs</button>
  </ng-container>

  <ng-container page-content>
    <div class="exchange-dashboard-container d-flex flex-row">
      <div class="exchange-dashboard-content d-flex flex-column flex-grow-1">
        <div class="exchange-dashboard-chart-container d-flex flex-row justify-content-around">
          <pf-exchange-industry-chart></pf-exchange-industry-chart>
          <pf-exchange-job-family-chart></pf-exchange-job-family-chart>
          <pf-exchange-revenue-chart></pf-exchange-revenue-chart>
        </div>
      </div>
      <div class="exchange-dashboard-sidebar ml-2" *ngIf="(sidebarVisible$ | async)">
        <pf-chart-detail-component></pf-chart-detail-component>
      </div>
    </div>
  </ng-container>

</pf-page-with-title-bar>

<pf-invite-payfactors-company-modal></pf-invite-payfactors-company-modal>
