<pf-data-grid
  [pageViewId]="pageViewId"
  [title]="'Pay Markets'"
  [selectionField]="'PayMarket'"
  [defaultSort]="defaultSort"
  [actionBarConfig]="actionBarConfig"
  [columnTemplates]="colTemplates"
  [gridRowActionsConfig]="gridRowActionsConfig"
  [gridActionsTemplate]="gridActions">
</pf-data-grid>

<ng-template #gridRowActionsTemplate let-dataRow="dataRow">
  <fa-icon icon="ellipsis-h"></fa-icon>
</ng-template>

<ng-template #defaultScopesColumn let-dataRow="dataRow" let-hover="hover">
  <div class="flex">
    <h5 *ngIf="!!dataRow['CompanyPayMarkets_SurveyScopesCount']" class="badge gray-badge mr-2">
      {{dataRow['CompanyPayMarkets_SurveyScopesCount']}} Survey<span *ngIf="dataRow['CompanyPayMarkets_SurveyScopesCount'] > 1">s</span>
    </h5>
    <h5 *ngIf="!!dataRow['CompanyPayMarkets_ExchangeScopesCount']" class="badge gray-badge">
      {{dataRow['CompanyPayMarkets_ExchangeScopesCount']}} Exchange<span *ngIf="dataRow['CompanyPayMarkets_ExchangeScopesCount'] > 1">s</span>
    </h5>
  </div>
</ng-template>

<ng-template #gridActions>
  <pf-paymarkets-grid-actions></pf-paymarkets-grid-actions>
</ng-template>

