.gray-badge {
  background-color: #818A91;
  color: white;
  height: 19px;
  width: 82px;
  border-radius: 20px;
  line-height: 12px;
}

.default-badge {
  background-color: #5BC0DE;
  color: white;
  font-size: 10px;
  line-height: 1.34;
}

.action-btn {
  text-align: left;
  padding-left: 12px;
  font-weight: 500;
  &:hover {
    background-color: #E6E6E6;
  }
}

::ng-deep .popover-body {
  width: 109px;
  padding: 0 !important;
}

.gray-text {
  color: #B6B6B6;
}
