<div *ngIf="!!workflowSteps?.length && !!publisherName?.length" class="alert alert-info m-2" role="alert">
	<span *ngIf="!hasForbiddenUsers">As the last approver, <strong>{{publisherName}}</strong> will be able to Publish this Job Description.</span>
	<span *ngIf="hasForbiddenUsers">User(s) added as reviewers do not have access to this job. Remove users without permission for this job to continue.</span>
</div>

<div class="p-3" *ngIf="showNameForm">
	<form  [formGroup]="addNonPfUserForm" (ngSubmit)="nonPfUserFormSubmit()">
		<label>{{currentEmail}}</label>
		<div class="form-group" [class.has-danger]="addNonPfUserForm.controls.firstname.errors && nonPfUserFormSubmitted">
			<input
				type="text"
				class="form-control"
				formControlName="firstname"
				placeholder="First Name"
				[class.form-control-danger]="addNonPfUserForm.controls.firstname.errors && nonPfUserFormSubmitted">
		</div>
		<div class="form-group" [class.has-danger]="addNonPfUserForm.controls.lastname.errors && nonPfUserFormSubmitted">
			<input
				type="text"
				class="form-control"
				formControlName="lastname"
				placeholder="Last Name"
				[class.form-control-danger]="addNonPfUserForm.controls.lastname.errors && nonPfUserFormSubmitted">
		</div>
		<div class="form-group text-right">
			<button class="btn btn-secondary" (click)="cancelNonPfUserAdd()">Cancel</button>
			<button class="btn btn-secondary ml-2" type="submit">Add</button>
		</div>
	</form>
</div>

<div *ngIf="workflowSteps.length > 0" class="config-container p-1">
	<div id="workflow-user-list-section" [dragula]="'workflow-user-reorder-bag'" [(dragulaModel)]="workflowSteps">
		<ng-container *ngFor="let workflowStep of workflowSteps; index as i">
			<div class="card card-block m-3">
				<div class="workflow-step dnd-workflow-user-reorder"  [attr.data-index]="i">
					<div class="row-container" *ngFor="let stepUser of workflowStep.WorkflowStepUsers; let idx = index"
						[ngClass]="{'dnd-workflow-user-reorder-handle grabbable' : workflowSteps.length > 1 && (!stepWithMultipleUsersBeingAdded && !stepAddingNonPfUsers)}">
						<div class="user-container">
							<div class="plus-container" [ngStyle]="{'visibility': idx > 0 ? 'hidden' : 'visible' }">
								<div class="font-weight-bold text-muted mr-4">
									{{i+1}}.
								</div>
								<button class="btn btn-accent-color mr-3" (click)="addMultipleUsersToLevel(i)">
									<fa-icon icon="plus" aria-hidden="true"></fa-icon>
								</button>
							</div>
							<label class="badge badge-pill avatar-chip mx-1 mt-2" [ngClass]="{'workflow-user-forbidden' : stepUser.Permissions?.length === 0}">
								<ng-container *ngIf="isUserImg(stepUser); then userImg; else userDefault"></ng-container>
								<ng-template #userImg>
									<img class="avatar ml-n2" [src]="avatarUrl + stepUser.UserPicture" src-fallback="{{ avatarUrl + 'default_user.png' }}">
								</ng-template>
								<ng-template #userDefault>
									<span *ngIf="stepUser.UserId" class="user-initials ml-n2">{{getUserInitials(stepUser)}}</span>
									<span *ngIf="!stepUser.UserId" class="at-sign ml-n2">@</span>
								</ng-template>

								<span class="user-name text-muted mx-2" [autoClose]="false" triggers="manual" #displayNameTooltip="ngbTooltip"
									ngbTooltip="{{getDisplayName(stepUser)}}" (mouseover)="showDisplayNameTooltip(stepUser, displayNameTooltip)"
									(mouseleave)="hideDisplayNameTooltip(displayNameTooltip)">{{getDisplayName(stepUser) | TruncateAfter: displayNameThreshold}}</span>

								<span class="remove-icon text-muted mx-1" aria-hidden="true" (click)="handleRemoveClicked(stepUser)">&times;</span>
							</label>
						</div>

						<div class="action-container">
							<ng-container *ngFor="let permission of stepUser.Permissions; index as pi">
								<div class="mr-4 mt-2" (click)="updateWorkflowStepPermission(stepUser, permission.permission)">
									<input class="k-checkbox mr-2" type="checkbox" id="customCheckbox-{{stepUser.EmailAddress}}"
										[ngModel]="permission.selected" [disabled]="permission.disabled">
									<label class="k-checkbox-label permission-label" id="customCheckbox-{{stepUser.EmailAddress}}">{{permission.display}}</label>
								</div>
							</ng-container>
							<div [ngStyle]="{'visibility': idx > 0 ? 'hidden' : 'visible' }">
								<button class="btn btn-action" (click)="deleteWorkflowStep(i)">
									<fa-icon class="fal fa-trash-alt" [icon]="'trash-alt'" aria-hidden="true"></fa-icon>
								</button>
							</div>
						</div>
					</div>
					<div *ngIf="stepWithMultipleUsersBeingAdded === i">
						<div class="picker-container">
							<pf-user-or-email-picker class="multiple-picker" [jobIds]="jobIds" [workflow]="true"
							(selected)="handleMultipleUserPerLevelSelection($event, i)">
							</pf-user-or-email-picker>
							<div>
								<button class="btn btn-action" (click)="resetMultiUserStepTracking()">
									<fa-icon icon="times" aria-hidden="true"></fa-icon>
								</button>
							</div>
						</div>
						<div *ngIf="nonPfUserSameStepDuplicateEmail" class="text-danger text-center">
							All email addresses must be unique per step
						</div>
					</div>
					<div class="non-users" *ngIf="stepAddingNonPfUsers === i">
						<form [formGroup]="addNonPfUserSameStepForm" (ngSubmit)="nonPfUserSameLevelFormSubmit(i)">
							<label>{{sameStepEmail}}</label>
							<div class="form-group"
								[class.has-danger]="addNonPfUserSameStepForm.controls.firstname.errors && nonPfUserSameStepFormSubmitted">
								<input type="text" class="form-control" formControlName="firstname" placeholder="First Name"
								[class.form-control-danger]="addNonPfUserSameStepForm.controls.firstname.errors && nonPfUserSameStepFormSubmitted">
							</div>
							<div class="form-group"
								[class.has-danger]="addNonPfUserSameStepForm.controls.lastname.errors && nonPfUserSameStepFormSubmitted">
								<input type="text" class="form-control" formControlName="lastname" placeholder="Last Name"
								[class.form-control-danger]="addNonPfUserSameStepForm.controls.lastname.errors && nonPfUserSameStepFormSubmitted">
							</div>
							<div class="form-group text-right">
								<button class="btn btn-secondary" (click)="cancelNonPfUserSameLevelAdd(i)">Cancel</button>
								<button class="btn btn-secondary ml-2" type="submit">Add</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>
<pf-async-container
  [loadingErrorMessage]="'Error Loading Attachments'">
  <p class="m-3">Attachments - {{uploadedFiles.length}}/3 Files uploaded</p>
  <p *ngIf="showFileCountWarning" class="alert-warning pl-2">A maximum number of 3 attachments may be uploaded</p>
<kendo-upload #uploadWidget
              [multiple]="true"
              [saveUrl]="saveAttachmentUrl"
              [removeUrl]="removeAttachmentUrl"
              [concurrent]="false"
              [restrictions]="uploadRestrictions"
              [accept]="uploadRestrictions.allowedExtensions"
              (upload)="uploadAttachmentEventHandler($event)"
              (error)="errorEventHandler($event)"
              (success)="successEventHandler($event)"
              (select)="selectEventHandler($event)"
              (remove)="removeEventHandler($event)"
              [ngModel]="uploadedFilesKendo">
  <kendo-upload-messages
    select="Browse"
    dropFilesHere={{fileRestrictionsMessage}}>
  </kendo-upload-messages>
  <ng-template kendoUploadFileTemplate let-files let-state="state">
    <div class="attachments-container">
            <span class="{{getStatusClass(files[0])}}">
              {{files[0].name}} ({{formattedBytes(files[0].size)}})
            </span>
      <span class="float-right pr-3" *ngIf="getUploadStatus(files[0]) == workflowAttachmentUploadStatus.UploadInProgress">
              <i>Uploading file</i>
              <pf-loading-indicator class="pl-2"></pf-loading-indicator>
            </span>
      <span class="float-right pr-3" *ngIf="getUploadStatus(files[0]) == workflowAttachmentUploadStatus.ScanInProgress">
              <i>Scanning for viruses</i>
              <pf-loading-indicator class="pl-2"></pf-loading-indicator>
            </span>
      <span class="float-right pr-3 upload-failed" *ngIf="getUploadStatus(files[0]) == workflowAttachmentUploadStatus.UploadFailed">
              <i><fa-icon icon="exclamation-circle" aria-hidden="true"></fa-icon> Sorry, there was an error uploading your file. Please choose a different file.</i>
            </span>
      <span class="float-right pr-3 upload-failed" *ngIf="getUploadStatus(files[0]) == workflowAttachmentUploadStatus.ScanFailed">
              <i><fa-icon icon="exclamation-circle" aria-hidden="true"></fa-icon> Sorry, there is an error with our upload service. Please try again later.</i>
            </span>
      <span class="float-right pr-3 upload-failed" *ngIf="getUploadStatus(files[0]) == workflowAttachmentUploadStatus.InvalidExtension">
              <i><fa-icon icon="exclamation-circle" aria-hidden="true"></fa-icon> Invalid file type.</i>
            </span>
      <span class="float-right pr-3 upload-failed" *ngIf="getUploadStatus(files[0]) == workflowAttachmentUploadStatus.InvalidMaxFileSize">
              <i><fa-icon icon="exclamation-circle" aria-hidden="true"></fa-icon> Invalid file size.</i>
            </span>
    </div>
    <button
      (click)="removeAttachmentEventHandler(files[0])"
      class="btn btn-secondary float-right">
      Remove
    </button>
  </ng-template>
</kendo-upload>
</pf-async-container>
