<div class="d-flex flex-column h-100 modeling-settings-container"
     [ngClass]="{'modeling-settings-container-open' : modelingSettingsContainerToggle, 'modeling-settings-container-closed' : !modelingSettingsContainerToggle}">
  <div class="d-flex flex-grow-1 my-2 modeling-settings-header">
    <button type="button" class="modeling-settings-toggle-button"
            (click)="toggleModelingSettingsContainer()"
            [attr.data-qa-id]="'btn-toggle-modeling-settings-component'">
          <span *ngIf="modelingSettingsContainerToggle"><fa-icon [icon]="['fal', 'angle-double-left']"
                                                                 size="lg"></fa-icon></span>
      <span *ngIf="!modelingSettingsContainerToggle"><fa-icon [icon]="['fal', 'angle-double-right']"
                                                              size="lg"></fa-icon></span>
    </button>
  </div>
  <ul class="d-flex flex-column flex-grow-1 h-100 modeling-settings-body" *ngIf="modelingSettingsContainerToggle">
    <li class="modeling-settings-row"><h5>modeling settings</h5></li>
  </ul>
</div>
