@import 'structures-variables';

.modeling-settings-container {
  transition-duration: .3s;

  .modeling-settings-container-open {
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden;
  }

  .modeling-settings-container-closed {
    width: 31px;
  }

  .modeling-settings-header {
    flex-flow: row-reverse;
  }

  .modeling-settings-toggle-button {
    background: transparent;
    border: transparent;
    color: $structures-primary-blue
  }

  .modeling-settings-body {
    justify-content: space-around;
  }

  .modeling-settings-row {
    list-style: none;
  }
}
