<pf-page-with-title-bar [returnUrl]="'/peer/exchanges'">

  <ng-container page-title>
    Manage Exchange - {{ (exchange$ | async).ExchangeName }}
  </ng-container>

  <ng-container page-content>
    <div class="card-group h-100 w-100">
      <div class="card">
        <div class="card-header">
          Companies
          <!--- Transition from float-right to flex when the manage exchange view is redesigned --->
          <button type="button" class="import-button btn btn-sm btn-primary float-right" (click)="openAddExchangeCompaniesModal()">Add Companies</button>
        </div>
        <div class="card-body d-flex">
          <pf-exchange-companies></pf-exchange-companies>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Jobs
          <!--- Transition from float-right to flex when the manage exchange view is redesigned --->
          <button type="button" class="import-button btn btn-sm btn-primary float-right" (click)="openImportExchangeJobsModal()">Import</button>
        </div>
        <div class="card-body d-flex">
          <pf-exchange-jobs></pf-exchange-jobs>
        </div>
      </div>
    </div>
  </ng-container>

</pf-page-with-title-bar>

<pf-import-exchange-jobs-modal
  [exchangeId]="(exchange$ | async).ExchangeId"
  [isOpen$]="importExchangeJobsModalOpen$"
  (importExchangeJobsEvent)="handleImportExchangeJobs()"
  (modalDismissedEvent)="handleImportExchangeJobsModalDismissed()">
</pf-import-exchange-jobs-modal>
