<pf-page-with-title-bar [returnUrl]="'/peer/exchanges'">

  <ng-container page-title>
    Manage Exchange - {{ (exchange$ | async).ExchangeName }}
  </ng-container>

  <ng-container page-actions>
    <button type="button" class="btn btn-primary" (click)="openImportExchangeJobsModal()">Import Exchange Jobs</button>
  </ng-container>

  <ng-container page-content>
    <div class="h-50 w-100">
      <pf-exchange-companies></pf-exchange-companies>

      <!--TODO: This should be on the exchange-jobs container instead-->
      <button type="button" class="btn btn-primary" (click)="openAddExchangeJobsModal()">Add Jobs</button>
    </div>
  </ng-container>

</pf-page-with-title-bar>

<pf-import-exchange-jobs-modal
  [exchangeId]="(exchange$ | async).ExchangeId"
  [isOpen$]="importExchangeJobsModalOpen$"
  (importExchangeJobsEvent)="handleImportExchangeJobs()"
  (modalDismissedEvent)="handleImportExchangeJobsModalDismissed()">
</pf-import-exchange-jobs-modal>

<pf-add-jobs-modal></pf-add-jobs-modal>
