<div class="d-flex flex-row header" (click)="toggleShowFields()" [ngClass]="showFields ? 'expanded' : ''">
  <div class="icon" [attr.data-qa-id]="'cnt-showFields'" title="Show Fields">
    <fa-icon *ngIf="!showFields" icon="plus"></fa-icon>
    <fa-icon *ngIf="showFields" icon="minus"></fa-icon>
  </div>
  <h6 class="title">{{title}}</h6>
</div>
<div *ngIf="!!fields && showFields" class="d-flex flex-column fields">
  <ng-container *ngFor="let field of fields; trackBy: trackByFn;">
    <div *ngIf="!field.IsSelected; else addedFieldTemplate" class="field unselected" (click)="handleFieldClicked(field)">
      <div class="title">{{field.DisplayName}}</div>
    </div>

    <ng-template #addedFieldTemplate>
      <div [class.disabled]="!removable" class="d-flex field selected" (click)="handleFieldClicked(field)">
        <div class="title">{{field.DisplayName}}</div>
        <div class="badge badge-info mr-auto added-badge">Added</div>
      </div>
    </ng-template>
  </ng-container>
</div>
