@import 'colors';
@import 'community/community-colors-variables';

.lbl-status {
  border-radius: 15px;
  width: 80px;
  line-height: 30px;
  border: none;
  color: white;
}

.lbl-draft {
  background-color: $community-poll-draft;
}

.lbl-live {
  background-color: $community-poll-live;
}

.lbl-acrhived {
  background-color: $community-poll-archived;
}

:host ::ng-deep .k-widget.k-grid tr:hover {
  outline: 1px solid rgb(54, 136, 190);
  outline-offset: -2px;
  box-shadow: 1px 1px 1px lightblue; 
  background: transparent;
}




