<pf-page-with-title-bar [absoluteUrl]="'/ng/site-admin/navigation'" >
  <ng-container page-title>
    Community Polls
  </ng-container>

  <ng-container page-actions>
    <button class="btn btn-secondary" type="submit" (click)="openCommunityPollModal()">Add</button>
  </ng-container>
  
  <ng-container page-content>
    <kendo-grid
        [data]="communityPollListItems$ | async"
        [scrollable]="true"
        [selectable]="true"
        (selectionChange)="onSelectCommunityPoll($event)">

        <kendo-grid-column field="Question" title="Question" [headerClass]="'font-weight-bold'"></kendo-grid-column>
        <kendo-grid-column field="DatePosted" title="Date Posted" [headerClass]="'font-weight-bold'" >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.DatePosted | date:'MM/dd/yyyy' }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="NumberOfResponses" title="Responses" [headerClass]="'font-weight-bold'"></kendo-grid-column>
        
       <kendo-grid-column field="Status" title="Status" [headerClass]="'font-weight-bold'" [width]="130" class="text-center">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              <label class="lbl-status" [ngClass]="{'lbl-draft': dataItem.Status == 0, 'lbl-live': dataItem.Status == 1, 'lbl-acrhived': dataItem.Status == 2}">
                    {{ CommunityPollStatuses[dataItem.Status].text }}
              </label>  
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column title="Export Responses" [headerClass]="'font-weight-bold'" [width]="130" class="text-center" >
          <ng-template kendoGridCellTemplate 
            let-dataItem="dataItem">
            <button kendoButton [icon]="'file-excel'" [look]="'outline'"
                (click)="exportCommunityPoll(dataItem)">
            </button>
          </ng-template>
        </kendo-grid-column>

      </kendo-grid>
    </ng-container>
</pf-page-with-title-bar> 

<pf-community-poll-modal></pf-community-poll-modal>