<div class="form-group" [formGroup]="communityDiscussionForm"> 
  <pf-community-text-area
      [parentForm]="communityDiscussionForm"
      [maxTextLength]="2000"
      textPlaceholder="Start a discussion...">
  </pf-community-text-area> 
  <div class="ml-3 p-0">
    <div class="float-right">
      <pf-radial-text-counter 
        [textToCount]="context.value"
        [textMaxLength]="2000">
      </pf-radial-text-counter>
    </div>
    <span id="internal-only-container" class="pl-3 pb-1" placement="right"
          ngbTooltip="Will be visible to users within your organization">
      <input #isInternal
            id="internal-only"
            name="internal-only"
            formControlName="isInternalOnly"
            type="checkbox" class="k-checkbox" />
      <label for="internal-only" class="ml-1 k-checkbox-label">Internal Only</label>
    </span>
  </div>
</div>


