@import 'colors';

#internal-only-container
{
  position: absolute;
}

.k-checkbox:checked + .k-checkbox-label::before{
  background-color:$community-tab-color;
  border-color: $community-tab-color;
}
