@import 'data-insights-variables';
@import 'colors';
@import 'common/common-variables';

// Some elements from third party libraries that are added dynamically to the body can lose their view encapsulation context.
// If the the dynamically added content can't be styled using the shadow-piercing descendant combinator :host ::ng-deep
// add those styles to this file.


// Kendo Overrides

.dashboards-title {
  .k-dropdown {
    width: auto;
  }

  .k-dropdown-wrap {
    background-color: $grey;
    border-style: none !important;
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;

    &:hover {
      background: darken($grey, 5%);
    }

    .k-input{
      flex: 1 0 auto;
    }
  }

  .k-i-arrow-s {
    color: $dark-grey;
  }

  .k-input {
    font-size: 1.5rem;
    color: $dark-grey;
  }
  
  .k-select {
    padding: 0;
  }
}
.tag-container {
  .tag-dropdown {
    background-color: transparent;
    .k-dropdown-wrap {
      background-color: transparent;
      padding-left: 0;
      .k-input {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        font-size: 1rem;
      }
      .k-i-arrow-s {
        color: #0883BE;
      }
    }
  }
}
.k-popup{
  .k-list{
      .k-item {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }
}

.k-grid-columnmenu-popup {
  width: 10rem;
  text-align: center;
}

.tag-modal {
  .modal-dialog {
    width: 400px;
  }
}
.workbook-views-popover {
  .popover-header {
    @extend %ellipsis-overflowing-text;
  }
  margin-bottom: 20px;
  width: 275px;
}

.search-modal {
  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    margin: 9rem auto;
  }

  .form-control {
    border: none;
    padding: 1rem;
    &:focus {
      box-shadow: none;
    }
  }

  input {
    height: 60px;
    font-size: 24px;
    border: none;
    border-bottom: solid 1px #ccc;
    border-radius: 0;
  }

  .input-group-append {
    display: none;
  }
}

.save-user-workbook-modal {

  .entity-dropdownlist {
    .k-dropdown-wrap {
      background-color: #ffffff;
    }
  }

}


.custom-report-page {
  .page-content {
    padding: 0;
  }
}

.add-report-fields {

  .k-outer-group-header {
    color: $icon-blue-color
  }

  .k-animation-container-shown {
    .k-popup {
      min-height: 150px;
    }
  }

}

.data-view-grid {
  .k-grid {
    tr {
      height: 41px;
    }
    .empty-row {
      font-style: italic;
      color: #999999;
    }
  }

  .k-grid-header th>.k-link>.k-icon {
    display: none;
  }
}

// Filter Options
.filter-options {
  .k-list .k-item.k-state-selected {
    background-color: #ffffff;
    color: #404040;
  }

  .k-checkbox:checked + .k-checkbox-label::before {
    background-color: #0883BE !important;
    color: #404040;
    border-color: #0883BE;
  }

  .badge-info {
    font-size: 100%;
  }
}

// Formula editor
.formula-suggestions {
  .k-dropdown .k-state-focused {
    box-shadow: none !important;
  }

  .k-dropdown .k-dropdown-wrap {
    border-color: #ffffff;
    background-color: transparent;
  }

  .k-dropdown .k-input,
  .k-dropdown .k-select {
    color: #ffffff;
  }
}
