@import 'data-insights-variables';
@import 'colors';
@import 'common/common-variables';

// Some elements from third party libraries that are added dynamically to the body can lose their view encapsulation context.
// If the the dynamically added content can't be styled using the shadow-piercing descendant combinator :host ::ng-deep
// add those styles to this file.


// Kendo Overrides

.dashboards-title {
  .k-list {
    .k-state-selected {
      background-color: white !important;
      color: black !important;
    }

    .k-state-focused {
      background-color: white !important;
      color: black !important;
      box-shadow: none !important;
    }
  }

  .k-dropdown {
    width: auto;
  }

  .k-dropdown-wrap {
    background-color: $grey;
    border-style: none !important;
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;

    &:hover {
      background: darken($grey, 5%);
    }

    .k-input{
      flex: 1 0 auto;
    }
  }

  .k-i-arrow-s {
    color: $dark-grey;
  }

  .k-input {
    font-size: 1.5rem;
    color: $dark-grey;
  }
  
  .k-select {
    padding: 0;
  }
}

.tag-modal {
  .modal-dialog {
    width: 400px;
  }
}
.workbook-views-popover {
  .popover-header {
    @extend %ellipsis-overflowing-text;
  }
  margin-bottom: 20px;
}

