<pf-data-grid
  [title]="pageTitle$ | async"
  [navigationURL]="'/marketdata/structures.asp'"
  [inboundFilters]="[filter]"
  [allowExport]="false"
  [showFilterChooser]="false"
  [showActionBar]="true"
  [gridGlobalActionsTemplate]="gridGlobalActions"
  [pageViewId]="'8881A5B6-2506-4755-B756-9D310EBFF8A1'"
  [pagingOptions]="defaultPagingOptions"
  [columnTemplates]="colTemplates"
  [gridContainerSplitViewWidth]="'60%'"
  [splitViewTemplate]="graph"
  [splitOnSelection]="false"
  [applyDefaultFilters]="false">
</pf-data-grid>

<ng-template #mid let-dataRow="dataRow" let-fieldName="fieldName">
  <input type="text" class="form-control" [value]="dataRow.CompanyStructures_Ranges_Mid" />
</ng-template>

<ng-template #gridGlobalActions>
  <button class="btn btn-secondary" (click)="handleAddJobsClicked()">Add Jobs</button>
</ng-template>

<ng-template #graph>
  <pf-job-based-range-chart></pf-job-based-range-chart>
</ng-template>

<pf-add-jobs-modal></pf-add-jobs-modal>
