<pf-data-grid
  [title]="pageTitle$ | async"
  [navigationURL]="'/marketdata/structures.asp'"
  [allowExport]="false"
  [showFilterChooser]="false"
  [showActionBar]="true"
  [gridGlobalActionsTemplate]="gridGlobalActions"
  [pageViewId]="'1'"
  [pagingOptions]="defaultPagingOptions"
  [columnTemplates]="colTemplates"
  [gridContainerSplitViewWidth]="'60%'"
  [splitViewTemplate]="graph"
  [splitOnSelection]="false">
</pf-data-grid>

<ng-template #min let-dataRow="dataRow" let-fieldName="fieldName">
  <input type="text" class="form-control" [value]="dataRow.JobRanges_Min" />
</ng-template>

<ng-template #mid let-dataRow="dataRow" let-fieldName="fieldName">
  <input type="text" class="form-control" [value]="dataRow.JobRanges_Mid" />
</ng-template>

<ng-template #max let-dataRow="dataRow" let-fieldName="fieldName">
  <input type="text" class="form-control" [value]="dataRow.JobRanges_Max" />
</ng-template>

<ng-template #gridGlobalActions>
  <button class="btn btn-secondary" (click)="handleAddJobsClicked()">Add Jobs</button>
</ng-template>

<ng-template #graph>
  <img src="assets/images/graph-placeholder.png" height="533" />
</ng-template>

<pf-add-jobs-modal [modalOpen$]="addJobsModalOpen$"></pf-add-jobs-modal>
