<div class="paymarket-card-container"
     [perfectScrollbar]="psConfig"
     (psXReachEnd)="loadMore()">

  <div *ngFor="let paymarket of filteredPayMarkets; trackBy: trackById"
       class="paymarket-card"
       [class.selected]="selectedPaymarketId === paymarket.CompanyPayMarketId"
       [attr.data-qa-id]="'cnt-paymarket-card'"
       (click)="togglePaymarket(paymarket)">

    <div class="d-flex flex-column h-100">
      <div class="top">
        <div *ngIf="selectedPaymarketId !== paymarket.CompanyPayMarketId; else checkMark" class="circle"></div>
        <ng-template #checkMark>
          <fa-icon class="checkmark d-inline-flex" icon="check-circle"></fa-icon>
        </ng-template>
      </div>
      <div class="bottom">
        <div class="card-row">
          <div class="title" [title]="paymarket.PayMarketName">
            {{paymarket.PayMarketName}}
          </div>
        </div>
        <div class="card-row">
          <div class="label">
            Industry
          </div>
          <div class="data">
            <span [title]="paymarket.Industry">{{paymarket.Industry || '-'}}</span>
          </div>
        </div>
        <div class="card-row">
          <div class="label">
            Location
          </div>
          <div class="data">
            <span [title]="paymarket.Location">{{paymarket.Location || '-'}}</span>
          </div>
        </div>
        <div class="card-row">
          <div class="label">
            Size <ng-container *ngIf="paymarket.SizeLabel">({{paymarket.SizeLabel}})</ng-container>
          </div>
          <div class="data">
            <span [title]="paymarket.Size">{{paymarket.Size || '-'}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
