@import 'kendo-grid';
@import '_colors';

:host ::ng-deep .k-grid-header .k-header {
    padding: 0 0.75rem;
    vertical-align: middle;
}

.job-description-inbox-grid-container {
    height: calc(100vh - 220px)
}

.job-description-inbox-grid ::ng-deep.clickable-row:hover {
    cursor: pointer;
}

.checkbox {
    color: $pf-brand-secondary-color;
}

.unchecked-checkbox {
    color: $switch-off-color;
}

.envelope-open {
    color: $inactive-button-color;
}

.envelope-closed {
    color: $pf-primary-blue;
}

.data-row {
    font-size: medium;
    font-weight: 500;
}

.read-data-row {
    color: #212529;
    font-weight: normal;
}

.version {
    display: flex;
    justify-content: center;
}

.version-cell {
    display: flex;
    justify-content: center;
}

.version-unread {
    color: $pf-primary-blue;
}

.grid-select-all {
    border: solid 1px #BCDFF1;
    background-color: #D9EDF7;
    height: 40px;
    color: #31708F;
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
  }
  
  .btn-link {
    text-decoration: none;
  }
