.date-field-format-modal {
  padding: 1rem 1rem 3rem 3rem;
}

.date-dropdown {
  position: relative;
  left: 20px;
}

button.btn-primary {
  background-color: #0099cc;
  border-color: #0099cc;

  &:hover {
    background-color: #0883BE;
  }
}
