<pf-async-container>
  <pf-page-with-title-bar [absoluteUrl]="env.companyAdminUrl + '/navigation'">
    <ng-container page-title>
      Security Settings
    </ng-container>

    <ng-container page-actions>
      <button (click)="save()" class="btn btn-primary" [disabled]="!isDirty || (passwordSettingsSaving$ | async)" type="submit">Save</button>
      <button (click)="cancel()" class="btn btn-secondary" type="submit" [disabled]="(passwordSettingsSaving$ | async)">Cancel</button>
    </ng-container>
    <ng-container page-content>
      <div class="col-6 scroll-y">
        <pf-security-management-settings (valueChange)="setDirty($event)"></pf-security-management-settings>
      </div>
    </ng-container>
  </pf-page-with-title-bar>
</pf-async-container>
