@import '../../../../../../libs/styles/payfactors-shared.scss';

.job-info{
  padding-bottom: 1.25rem;
}

.job-info-heading{
  border-left: 1px solid #ddd;
}

.job-info table{
  border: 1px solid #ddd;
  margin-bottom: 0px;
}
