<pf-page-with-title-bar>

  <ng-container page-title>
    Peer Exchanges
  </ng-container>

  <ng-container page-actions>
    <button type="button" class="btn btn-primary" (click)="openCreateExchangeModal()">Create</button>
  </ng-container>

  <ng-container page-content>
    <pf-async-container
      [loading]="exchangeListLoading$ | async"
      [loadingError]="exchangeListLoadingError$ | async"
      [loadingErrorMessage]="'Error Loading Exchanges'"
      (reload)="handleExchangeGridReload()">

      <kendo-grid class="row-click-navigates"
                  [data]="exchangeListItems$ | async"
                  [resizable]="true"
                  [pageable]="true"
                  [pageSize]="(exchangeListItems$ | async).length"
                  (cellClick)="handleCellClick($event)">

        <kendo-grid-column field="ExchangeName" title="Exchange Name"></kendo-grid-column>

        <kendo-grid-column field="CreatedBy" title="Created By" [width]="400"></kendo-grid-column>

        <kendo-grid-column field="CreatedDate" title="Created Date" [width]="250">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.CreatedDate | date:'MM/dd/yyyy' }}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="NumberOfCompanies" title="Exchange Companies" class="text-center"
                           [width]="250"
                           [headerClass]="'text-center'">
        </kendo-grid-column>

        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
          <kendo-pager-info></kendo-pager-info>
        </ng-template>
      </kendo-grid>


    </pf-async-container>

  </ng-container>

</pf-page-with-title-bar>

<pf-create-exchange-modal
  [creatingExchange]="creatingExchange$ | async"
  [isOpen$]="createExchangeModalOpen$"
  [error$]="creatingExchangeError$"
  [errorMessage$]="creatingExchangeErrorMessage$"
  (createExchangeEvent)="handleCreateExchange($event)"
  (modalDismissedEvent)="handleCreateExchangeModalDismissed()">
</pf-create-exchange-modal>
