<ng-container>
  <kendo-dropdownlist
    class="dropdown-list"
    [class.d-none]="locked"
    [attr.data-qa-id]="'ddm-date-filter-operators'"
    [data]="operators"
    [ngModel]="selectedOperator ? selectedOperator : operators[0]"
    [textField]="'Name'"
    [valueField]="'Value'"
    (selectionChange)="handleOperatorSelectionChanged($event)">
  </kendo-dropdownlist>

  <kendo-daterange *ngIf="selectedOperator?.Name === betweenOperator?.Name; else datePickerTemplate">
    
    <div class="d-flex">
      <div class="d-flex flex-column">
        <span>From</span>
        <kendo-dateinput
          class="date-input"
          kendoDateRangeStartInput
          autoCorrectOn="blur"
          [value]="selectionRange?.start"
          [format]="dateFormat"
          [max]="max">
        </kendo-dateinput>
      </div>
  
      <div class="d-flex flex-column">
        <span>To</span>
        <kendo-dateinput
          class="date-input"
          kendoDateRangeEndInput
          autoCorrectOn="blur"
          [value]="selectionRange?.end"
          [format]="dateFormat"
          [max]="max">
        </kendo-dateinput>
      </div>
    </div>

    <kendo-daterange-popup>
      <kendo-multiviewcalendar
        kendoDateRangeSelection
        [selectionRange]="selectionRange"
        (selectionRangeChange)="handleSelectionRangeChange($event)">
      </kendo-multiviewcalendar>
    </kendo-daterange-popup>

  </kendo-daterange>

</ng-container>

<ng-template #datePickerTemplate>
  <kendo-datepicker
    [value]="selectedDate"
    [format]="dateFormat"
    [max]="max"
    (valueChange)="handleValueChanged($event)">
  </kendo-datepicker>
</ng-template>
