<div class="d-flex justify-content-center align-items-center auth-layout-wrapper">
  <div class="d-flex flex-column">
    <div class="p-0">
      <img [src]="payfactorsLogo" class="payfactors-logo">
    </div>
    <div class="p-0 box-shadow main-panel">
      <ng-content select="[mainContent]"></ng-content>
    </div>
    <div class="p-3 text-white d-flex align-self-center">
      <span>All Rights Reserved.  Payfactors @ {{currentYear}}. | 
        <a href="https://payfactors.com/privacy-policy" target="_blank">Privacy Policy</a> 
      </span>
    </div>
    
  </div>
</div>
