<div class="d-flex justify-content-center align-items-center auth-layout-wrapper">
  <div class="d-flex flex-column">
    <div class="p-0">
      <img src="./assets/payfactors-white-logo.png" class="payfactors-logo">
      <img src="./assets/payscale-logo.png" class="payscale-logo my-3">
    </div>
    <div class="p-0 box-shadow main-panel">
      <ng-content select="[mainContent]"></ng-content>
    </div>
    <div class="p-3 text-white d-flex align-self-center">
      <span id="pf-privacy">
        All Rights Reserved.  Payfactors @ {{currentYear}}. | <a href="https://payfactors.com/privacy-policy" target="_blank">Privacy Policy</a> 
      </span>
      <span id="ps-privacy">
        All Rights Reserved.  PayScale @ {{currentYear}}. | <a href="https://www.payscale.com/privacy" class="privacy" target="_blank">Privacy Policy</a> 
      </span>
    </div>
  </div>
</div>