<div class="d-flex justify-content-center align-items-center auth-layout-wrapper">
  <div class="d-flex flex-column">
    <div class="p-0">
      <img src="./assets/payfactors-white-logo.png" class="payfactors-logo">
      <img src="./assets/payscale-logo.png" class="payscale-logo my-3">
    </div>
    <div class="p-0 box-shadow main-panel">
      <ng-content select="[mainContent]"></ng-content>
    </div>
    <div class="text-white">
      <pf-global-footer></pf-global-footer>
    </div>
  </div>
</div>