.map-input-width{
    width:70px
}

.selected-map-row{
    background-color: lightgray;
    cursor: pointer;
}

.add-map-btn {
    background-color: rgba(0, 153, 0, 1);
    box-sizing: border-box;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    text-align: left;
    
}