@import 'colors';

.community-user-name-text {
  color: $community-user-name-text-color;
  font-weight: bold;
}

.community-sub-text {
  color: $community-sub-text-color;
}

.internal {
  background-color: #18a2b8;
  color: white;
  border-radius: 3px;
  height: 20px;
  font-size: .95rem;
}
