<ng-template #popContent>
  <div class="column-list-container">
    <p>
      <pf-input-debounce id="column-search-box" (valueChanged)="(filter = $event)" [(ngModel)]="columnSearchTerm" [placeholderText]="'Search for a Column...'"></pf-input-debounce>
    </p>
    <div *ngIf="!loading && !(ListAreaColumns | listAreaColumnSearch: filter).length">
      <h5>No Columns</h5>
    </div>
    <ul *ngIf="!loading" class="column-list">
      <li *ngFor="let listAreaColumn of ListAreaColumns | listAreaColumnSearch: filter" class="column-item">
        <input type="checkbox" [ngModel]="listAreaColumn.Visible" [disabled]="listAreaColumn.Required" (change)="columnChecked(listAreaColumn, $event.target.checked);">
        <span class="column-text">{{listAreaColumn.ColumnDisplayName}}</span>
      </li>
    </ul>
    <pf-async-container [loading]="loading"></pf-async-container>
  </div>
  <div class="footer d-flex justify-content-end p-2">
    <button (click)="saveButtonClicked()" class="btn btn-primary">Save</button>
  </div>
</ng-template>
<button title="Choose Columns" type="button" id="column-popover-btn" class="btn btn-secondary"
        placement="bottom-right"  #p="ngbPopover" popoverTitle="Choose Columns"
        [ngbPopover]="popContent" (hidden)="filter=''" [autoClose]="'outside'">
  <i class="fal fa-table" aria-hidden="true"></i>
</button>
