<div class="form-check pb-1">
  <div class="form-check-label w-100">
    <input class="form-check-input" type="checkbox" (change)="toggleAllJobInformationFields()" [checked]="allJobInformationFieldsSelected">
    <div (click)="toggleJobInformationFieldsDisplay()">
      <span class="job-information-label">Job Information</span>
      <span [hidden]="!jobInformationFieldsDisplay"><i class="fas fa-caret-down"></i></span>
      <span [hidden]="jobInformationFieldsDisplay"><i class="fas fa-caret-right"></i></span>
      <br />
    </div>
  </div>

  <div [hidden]="!jobInformationFieldsDisplay">
    <div *ngFor="let jobInformationField of jobInformationFields" class="py-1 pl-4">
      <label class="form-check-label w-100">
        <input class="form-check-input" type="checkbox" value="{{ jobInformationField.Id }}"
               (change)="toggleJobInformationField($event, jobInformationField)"
               [checked]="jobInformationField.IsRequired || jobInformationField.Checked"
               [disabled]="jobInformationField.IsRequired"
               [readOnly]="jobInformationField.IsRequired">
        {{ jobInformationField.DisplayName }}<br />
      </label>
    </div>
  </div>
</div>
