<ng-template #jobDescriptionHistoryModalComponent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History - {{ jobTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="history-list-modal-container">
      <table *ngIf="!(jobDescriptionHistoryListLoading$ | async)" class="table table-hover">
        <thead>
        <tr>
          <th width="20%">Version #</th>
          <th width="35%">Created Date</th>
          <th width="30%">Created By</th>
          <th width="10%">Status</th>
          <th width="5%">Routed</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let historyListItem of jobDescriptionHistoryList$ | async"
            [class.bg-primary]="historyListItem.VersionNumber == currentVersion"
            (click)="historyListItemClicked(historyListItem);">
          <td>{{historyListItem.VersionNumber}}</td>
          <td>{{historyListItem.CreatedDate | date:'short'}}</td>
          <td>{{historyListItem.CreatedBy}}</td>
          <td><pf-status-pill [status]="historyListItem.Status"></pf-status-pill></td>
          <td class="text-center"><i *ngIf="historyListItem.HasWorkflow || historyListItem.Status == 'In Review'" class="fas fa-random" aria-hidden="true"></i></td>
        </tr>
        </tbody>
      </table>
      <pf-async-container [loading]="jobDescriptionHistoryListLoading$ | async"></pf-async-container>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
