:host ::ng-deep .added .card-header{
  background-color: #e6ffe6;
}

:host ::ng-deep .added .card-block{
  background-color: #f7fff7;
}

:host ::ng-deep .removed .card-header{
  background-color: #ffe6e6;
}

:host ::ng-deep .removed .card-block{
  background-color: #fff6f6;
}

:host ::ng-deep .added-data,
:host ::ng-deep .removed-data,
:host ::ng-deep ins,
:host ::ng-deep del,
:host ::ng-deep mod{
  padding: 0.25rem;
  display: inline-block;
}

:host ::ng-deep .added-data, .removed-data{
  display: inline-block;
}

:host ::ng-deep .added-data,
:host ::ng-deep ins.diffins,
:host ::ng-deep ins.diffmod{
  background-color: #e6ffe6;
  text-decoration: none;
}

:host ::ng-deep .removed-data,
:host ::ng-deep del.diffdel,
:host ::ng-deep del.diffmod{
  background-color: #ffe6e6;
  text-decoration: line-through;
}

:host ::ng-deep ins.mod{
  background-color: #faf2cc;
  text-decoration: none;
}

:host ::ng-deep .heading-diff ins,
:host ::ng-deep .heading-diff del,
:host ::ng-deep .heading-diff mod{
  padding-top: 0;
  padding-bottom: 0;
}
