<div>
  <div>
    <div class="float-right"><h5 style="opacity: 0.6;">STEP {{stepNumber}}/5</h5></div>
    <h4 class="mt-2">Authentication</h4>
  </div>
  <div>
    <div class="mx-5 p-3">
      <div class="error-group mb-3" *ngIf="(validationErrors$ | async) || connectionSummary?.statuses?.includes('AuthenticationError')">
        <div class="alert alert-danger">
          <h5 class="mb-0">Authentication Failed</h5>
        </div>
        <h5>Error(s):</h5>
        <ul>
          <li class="text-danger" *ngFor="let error of validationErrors$ | async">{{error}}</li>
        </ul>
      </div>
      <div class="alert alert-success" *ngIf="validatedCredentials && !(showAuthWarning$ | async) || connectionSummary?.statuses?.includes('Authenticated')">
        <h5 class="mb-0">Authentication Successful</h5>
      </div>
      <div class="alert alert-warning" *ngIf="validatedCredentials && (showAuthWarning$ | async) || connectionSummary?.statuses?.includes('Authenticating')">
        <h5>Authenticating Credentials</h5>
        This may take a few minutes. Once the process is completed you will receive a confirmation email from Payfactors.
        In the meantime, please follow the steps to set up your integration.
      </div>

      <ng-container [ngSwitch]="connectionSummary?.provider?.ProviderCode">
        <pf-workday-authentication
          *ngSwitchCase="'WORKDAY'"
          (cancelClick)="cancel()"
          (backClick)="back()"
          (submitClick)="submitFormEvent($event)"
          [validated]="validatedCredentials"
          [waitingForAuthentication]="connectionSummary?.statuses?.includes('Authenticating')">
        </pf-workday-authentication>

        <pf-test-authentication
          *ngSwitchCase="'PFTEST'"
          (cancelClick)="cancel()"
          (backClick)="back()"
          (submitClick)="submitFormEvent($event)"
          [validated]="validatedCredentials"
          [waitingForAuthentication]="connectionSummary?.statuses?.includes('Authenticating')">
        </pf-test-authentication>

        <pf-workdaymock-authentication 
          *ngSwitchCase="'WDMOCK'"
          (cancelClick)="cancel()"
          (backClick)="back()"
          (submitClick)="submitFormEvent($event)"
          [validated]="validatedCredentials"
          [waitingForAuthentication]="connectionSummary?.statuses?.includes('Authenticating')">
        </pf-workdaymock-authentication>

        <pf-workdayrest-authentication
          *ngSwitchCase="'WDRESTRPT'"
          [selectedEntities]="connectionSummary?.selectedEntities"
          (cancelClick)="cancel()"
          (backClick)="back()"
          (submitClick)="submitFormEvent($event)"
          [validated]="validatedCredentials"
          [waitingForAuthentication]="connectionSummary?.statuses?.includes('Authenticating')">
        </pf-workdayrest-authentication>

        <div class="error-group mb-3" *ngSwitchCaseDefault>
          <div class="alert alert-danger">
            Error: no provider selected
          </div>
        </div>
      </ng-container>

      <div *ngIf="validatedCredentials">
        <div class="pb-1 d-flex justify-content-end">
          <div class="p-2">
            <button id="cancel" type="button" class="btn btn-outline-danger px-4" (click)="cancel()">Cancel</button>
          </div>
          <div class="p-2">
            <button id="cancel" class="btn btn-secondary px-4" (click)="back()">Back</button>
          </div>
          <div class="p-2">
            <button id="connect" class="btn btn-primary px-4" (click)="save()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
