<div>
  <div>
    <h4>Method of Transfer: {{transferMethod}}, {{provider?.ProviderName}}</h4>
  </div>
  <div>
    <h5>
      HRIS Authentication
    </h5>
    <div class="mx-5 p-3">
      <div class="error-group mb-3" *ngIf="validationErrors$ | async">
        <div class="alert alert-danger">
          <h5 class="mb-0">Authentication Failed</h5>
        </div>
        <h5>Error(s):</h5>
        <ul>
          <li class="text-danger" *ngFor="let error of validationErrors$ | async">{{error}}</li>
        </ul>
      </div>
      <div class="alert alert-success" *ngIf="validatedCredentials">
        <h5 class="mb-0">Authentication Successful</h5>
      </div>
      <pf-workday-authentication *ngIf="provider?.ProviderCode === 'WORKDAY'"
                                 (cancelClick)="cancelAuthClick()"
                                 (submitClick)="submitFormEvent($event)"
                                 [validated]="validatedCredentials">
      </pf-workday-authentication>

      <pf-test-authentication *ngIf="provider?.ProviderCode === 'PFTEST'"
                              (cancelClick)="cancelAuthClick()"
                              (submitClick)="submitFormEvent($event)"
                              [validated]="validatedCredentials">
      </pf-test-authentication>

      <pf-workdaymock-authentication *ngIf="provider?.ProviderCode === 'WDMOCK'"
                              (cancelClick)="cancelAuthClick()"
                              (submitClick)="submitFormEvent($event)"
                              [validated]="validatedCredentials">
      </pf-workdaymock-authentication>

      <pf-workdayrest-authentication *ngIf="provider?.ProviderCode === 'WDRESTRPT'"
                                     [selectedEntities]="selectedEntities$ | async"
                                     (cancelClick)="cancelAuthClick()"
                                     (submitClick)="submitFormEvent($event)"
                                     [validated]="validatedCredentials">
      </pf-workdayrest-authentication>

      <div *ngIf="validatedCredentials">
        <div class="pb-1 d-flex justify-content-end">
          <div class="p-2">
            <button id="cancel" type="button" class="btn btn-primary" (click)="cancelAuthClick()">Cancel</button>
          </div>
          <div class="p-2">
            <button id="connect" class="btn btn-primary" (click)="createConnectionClick()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pf-modal-form
  [modalId]="'authenticatingModal'"
  [size]="'md'"
  [showFooter]="false"
  [centered]="true"
  [allowDismiss]="false"
  [isOpen$]="showAuthenticatingModal$">
  <ng-container basic-content>
    <h6 style="text-align:center;" class="mb-4">Authenticating with your HRIS vendor. This may take a few moments.</h6>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
  </ng-container>
</pf-modal-form>
