<div *ngIf="field" class="d-flex justify-content-between field-container">
  <div class="d-flex field-text-container" *ngIf="!isEditing" (click)="toggleEdit()">
    <span title="{{ field.FormulaName || field.SourceName}}" class="field-text editable">{{field.DisplayName}}</span>
    <span title="Click to Edit Display Name" class="editable-icon"><fa-icon icon="pencil"></fa-icon></span>
  </div>
  <div class="form-group">
    <input *ngIf="isEditing"
           type="text"
           class="form-control"
           maxlength="255"
           [value]="field.DisplayName"
           (blur)="handleDisplayNameUpdated($event)"
           #inputField>
  </div>
  <div class="d-flex right-container">
    <span class="field-text" title="{{field.Entity | uppercase}}">{{field.Entity | uppercase}}</span>
    <div *ngIf="removable" class="delete-btn d-flex flex-row-reverse" (click)="handleFieldRemoved()" data-qa-id='btn-deleteElement'>
      <fa-icon icon="times"></fa-icon>
    </div>
  </div>
</div>
