<div class="form-group" [formGroup]="parentForm">
  <div class="textAreaContainerScrollable" #textAreaContainerScrollable>
     <div #textAreaContainer class="textAreaContainer"
      (window:resize)="onResize($event)">
      <div #overlayTextArea
          class="overlayTextArea"
          [innerHtml]="discussionTextArea.value | linkify: options"></div>
      <textarea  #discussionTextArea
        id="discussionTextArea"
        class="discussionTextArea"
        formControlName="context"
        maxlength="{{maxTextLength}}"
        placeholder="{{textPlaceholder}}"
        (keydown)="onKeyDown($event)"
        (keyup)="onKeyUp($event)"
        spellcheck="false"
        [pfFocus]="true">
      </textarea>
    </div>
  </div>

  <pf-radial-text-counter class="radial-counter"
    [textToCount]="context.value"
    [textMaxLength]="maxTextLength"
    [WarningStartNumber]="warningStartNumber"
    [DangerStartNumber]="dangerStartNumber">
  </pf-radial-text-counter>

</div>
<div #suggestTagsContainer *ngIf="suggestedTags.length > 0 && suggestTagsContainerVisible"
  class="list-group suggested-tags"
  (keydown)="onKeyDown($event)">
  <button *ngFor="let item of suggestedTags"
      class="list-group-item justify-content-between pb-1"
      [pfFocus]="item.IsSuggested"
      (click)="onSuggestedTagChange(item.Tag)">
      <h6>{{item.Tag}}
        <small >({{item.PostIds.length + item.ReplyIds.length}} posts)</small>
      </h6>
    </button>
</div>
