$hashtag-color:  rgb(64, 171, 221);

.textAreaContainer {
    position: relative;
    min-height: 50px;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-all;
  }
  
  .discussionTextArea {
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;
    background: transparent;
    caret-color: black;
    resize: none;
    overflow: hidden;
  }
  
  .overlayTextArea {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2px;
    left: 1px;
  }

  .suggested-tags {
    position: absolute;
    min-width: 100px;
    z-index: 999;
  }
  
  .suggested-tags select {
    width: 100%;
    overflow: hidden;
    border: solid 1px $hashtag-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .suggested-tags option {
    font-weight: bold;
    font-size: 14px;
    color: rgb(73, 73, 73);
  }
  
  :host ::ng-deep .hashtag-highlight{
    color: $hashtag-color;
  }