<div class="form-group" [formGroup]="parentForm">
  <div class="textAreaContainerScrollable" #textAreaContainerScrollable
    [ngClass]="{ 'invalid-conent': !content.valid && content.dirty }">
     <div #textAreaContainer class="textAreaContainer" 
      (window:resize)="onResize($event)">
      <div #overlayTextArea
          class="overlayTextArea"
          [innerHtml]="discussionTextArea.value | linkify"></div>
      <textarea  #discussionTextArea
        id="discussionTextArea"
        data-qa-id="txt-communityDiscussionTextArea"
        class="discussionTextArea"
        formControlName="content"
        maxlength="{{maxTextLength}}"
        placeholder="{{textPlaceholder}}"
        (keydown)="onKeyDown($event)"
        (keyup)="onKeyUp($event)"
        spellcheck="false"
        [pfFocus]="true">
      </textarea>
    </div>
  </div>

  <pf-radial-text-counter class="radial-counter"
    [textToCount]="content.value"
    [textMaxLength]="maxTextLength"
    [WarningStartNumber]="warningStartNumber"
    [DangerStartNumber]="dangerStartNumber">
  </pf-radial-text-counter>

  <div *ngIf="!content.valid && content.dirty" class="text-danger">Discussion text is required</div>
</div>
<div #suggestTagsContainer *ngIf="suggestedTags.length > 0"
  class="list-group suggested-tags"
  (keydown)="onKeyDown($event)">
  <button *ngFor="let item of suggestedTags"
      class="list-group-item justify-content-between pb-1"
      [pfFocus]="item.IsSuggested"
      (click)="onSuggestedTagChange(item.Tag)">
      <h6>{{item.Tag}}
        <small >({{item.PostIds.length + item.ReplyIds.length}} posts)</small>
      </h6>
    </button>
</div>
