@import 'colors';
@import 'styles';

$radial-counter-width: 25px;
$scrollbar-width: 5px;
$old-style-scollbar-width: 10px;

.textAreaContainerScrollable {
  position: relative;
  border: solid 1px $community-categories-border;
  border-radius: 5px;
  padding: 0;
  margin: 0;

  padding-left: 2px;
  padding-right: $radial-counter-width;

  overflow-y: auto;
  overflow-x: hidden;
}

.textAreaContainerScrollable.invalid-conent {
  border: solid 1px $community-invalid-input-color !important;
}

.textAreaContainer {
  position: relative;
  width: 100%;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -ms-overflow-style: none;
}

.discussionTextArea {
  position: absolute;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: transparent;
  background: transparent;
  caret-color: black;
  -ms-overflow-style: none;
}

.overlayTextArea {
  position: absolute;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

.suggested-tags {
  position: absolute;
  min-width: 100px;
  z-index: 999;
  overflow: hidden;
}

button:hover {
  outline: solid 1px $community-link-color;
  outline-offset: -2px;
}

button:focus {
  outline: solid 2px $community-link-color;
  outline-offset: -2px;
}

.radial-counter {
  position: relative;
  float: right;
  bottom: $radial-counter-width;
  right: $old-style-scollbar-width + 1;
}

:host ::ng-deep .hashtag-highlight {
  color: $community-link-color;
}

:host ::ng-deep .link-url {
  color: rgb(64, 171, 221);
  text-decoration: underline;
}

.textAreaContainerScrollable:focus-within {
    outline: none !important;
    border: 1px solid $community-tab-active-color;
    box-shadow: 0 0 1px $community-tab-active-color;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  width: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background:  $community-tab-active-color;
  border-radius: 5px;
  width: $scrollbar-width;
}

:host ::ng-deep .linkified {
  color: $community-link-color;
}
