@import 'kendo-grid';

.mapped .badge{
  width: 75px;
}

:host ::ng-deep .k-grid {
  tr, tr.k-alt {
    &:hover {
      button {
        visibility: visible;
      }
    }
  }
}

.match-button {
  visibility: hidden;
}
