<div class="card views-card">
  <div class="card-body d-flex flex-wrap">
    <ng-container *ngFor="let view of favoriteTableauViews; trackBy: trackByFn">
      <pf-view-card
        [view]="view"
        (favoriteClicked)="handleFavoriteClicked($event)"
        [sourceUrl]="view.WorkbookSourceUrl"
        [workbookName]="view.WorkbookName"
        [workbookContentUrl]="view.WorkbookContentUrl"
        [workbookId]="view.WorkbookId">
      </pf-view-card>
    </ng-container>
    <ng-container *ngFor="let report of favoriteDataViewReports">
      <pf-data-view-report-card
        [dataViewReport]="report"
        (favoriteClicked)="handleFavoriteDataViewReportClicked($event)">
      </pf-data-view-report-card>
    </ng-container>
  </div>
</div>
