@import 'colors';
@import 'styles';

#reply-avatar {
  width: $community-reply-avatar-size;
  height: $community-reply-avatar-size;
}

.reply-offset {
  margin-left: $community-reply-avatar-size + 10px;
}

.community-btn {
  background: transparent;
  color: #99A0A4;
}

.community-btn .icon {
  color: $community-icon-color;
}

.community-btn-clicked {
  background:transparent;
  color: #99A0A4;
}

.community-btn-clicked .icon {
  color: #FA4646;
}
