<pf-community-avatar
  [AvatarSource]="reply.UserInfo?.AvatarSource"
  [UserFirstName]="reply.UserInfo.UserFirstName"
  [UserLastName]="reply.UserInfo.UserLastName"
  [IsReply]="true">
</pf-community-avatar>
<div class="reply-offset">
  <pf-community-post-header [user]="reply.UserInfo" [time]="reply.ElapsedTime" [isReply]="true" [isCurrentUserPost]="reply.IsCurrentUserReply" [postId]="reply.PostId" [replyId]="reply.Id"></pf-community-post-header>
  <div class="mt-2 mb-2 reply-body" [innerHtml]="reply.ReplyText | newline | formatLinkUrl | highlightHashTag:'styleAndAction'"></div>
  <pf-community-like
    [LikedByCurrentUser]="reply.LikedByCurrentUser"
    [PostId]="reply.PostId"
    [ReplyId]="reply.Id"
    [LikeCount]="reply.LikeCount">
  </pf-community-like>
</div>
