<pf-community-avatar
  [AvatarSource]="reply.UserInfo?.AvatarSource"
  [CompanyLogoSource]="reply.UserInfo?.CompanyLogoSource"
  [UserFirstName]="reply.UserInfo.UserFirstName"
  [UserLastName]="reply.UserInfo.UserLastName"
  [IsReply]="true">
</pf-community-avatar>
<div class="reply-offset">
  <pf-community-post-header 
    [user]="reply.UserInfo" 
    [replyToFirstName]="reply.ReplyToFirstName"
    [replyToLastName]="reply.ReplyToLastName"
    [time]="reply.ElapsedTime" 
    [isReply]="true" 
    [isCurrentUserPost]="reply.IsCurrentUserReply" 
    [postId]="reply.PostId" 
    [replyId]="reply.Id" 
    [hidePostActions]="false">
  </pf-community-post-header>
  <pf-community-post-content class="mt-2 mb-2"
                             [content]="reply.ReplyText"
                             (hashTagClicked)="handleHashTagClicked($event)">
  </pf-community-post-content>
  <ng-template *ngIf="reply.Attachments">
    <div  class="d-flex flex-wrap pt-2">
      <div class="pr-4 pt-1 pb-2" *ngFor="let attachment of reply.Attachments">
        <pf-community-attachment
          [attachment]="attachment"
          [disableCommunityAttachments]="disableCommunityAttachments"
          [hideAttachmentWarning]="hideAttachmentWarning" 
          (onAttachmentClickedEvent)="handleAttachmentClickedEvent($event)">
        </pf-community-attachment>         
       </div>
    </div>
  </ng-template>
  <div class="d-flex align-items-center">
    <pf-community-like
      [LikedByCurrentUser]="reply.LikedByCurrentUser"
      [PostId]="reply.PostId"
      [ReplyId]="reply.Id"
      [LikeCount]="reply.LikeCount">
    </pf-community-like>
    <a id="reply" href="javascript:void(0)" class="pl-2 community-link" (click)="showReply()">
      <span>Reply</span>
    </a>
  </div>
  <div class="mt-2 py-1" [ngClass]="showAddReply ? 'show' : 'hide'">
    <pf-community-post-add-reply
      [postId]="post.Id"
      [replyId]="reply.Id"
      [replyToUserId]="reply.UserInfo.UserId"
      [replyToFirstName]="reply.UserInfo.UserFirstName"
      [replyToLastName]="reply.UserInfo.UserLastName"
      [maximumReplies]="maximumReplies"
      [replyCount]="post.ReplyCount"
      [disableCommunityAttachments]="disableCommunityAttachments"
      (replySubmitted)="onReplySubmitted()">
    </pf-community-post-add-reply>
  </div>
</div>
