<pf-community-avatar
  [AvatarSource]="reply.UserInfo?.AvatarSource"
  [UserFirstName]="reply.UserInfo.UserFirstName"
  [UserLastName]="reply.UserInfo.UserLastName"
  [IsReply]="true">
</pf-community-avatar>
<div class="reply-offset">
  <pf-community-post-header [user]="reply.UserInfo" [time]="reply.Time"></pf-community-post-header>
  <p class="mt-2 mb-2">{{reply.ReplyText}}</p>
  <pf-community-like
    [LikedByCurrentUser]="reply.LikedByCurrentUser"
    [PostId]="reply.PostId"
    [ReplyId]="reply.Id"
    [LikeCount]="reply.LikeCount">
  </pf-community-like>
</div>

