.header-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 1rem;
}

.statement {
  width: 8.5in!important;
  background-color: white;
}

.content-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}

.graph-container {
  margin-top: 5rem;
}

.w-90 {
  width: 90%;
}
