
<div class="row mb-2">
  <div class="col-1 text-right font-weight-bold">Host</div>
  <div class="col-4">{{SftpDomain}}</div>
</div>
<div class="row mb-2">
  <div class="col-1 text-right font-weight-bold">Port</div>
  <div class="col-4">{{SftpPort}}</div>
</div>
<div class="row mb-2">
  <div class="col-1 text-right font-weight-bold">Status</div>
  <div class="col-4">
    <div *ngIf="LoadingLoadersettings; else ftpStatus">
      <fa-icon icon="spinner" [spin]="true"></fa-icon>
    </div>
    <ng-template #ftpStatus>
      <span *ngIf="CompanyAutoloaderStatus else notCreated"><fa-icon icon="check-circle" class="text-success"></fa-icon> Active </span>
      <ng-template #notCreated>
        <fa-icon icon="times-circle" class="text-danger"></fa-icon> Not Active
      </ng-template>
    </ng-template>
  </div>
</div>
