<div class="d-flex justify-content-between" data-qa-id='sftp-account-status-component'>
  <dl class="row">
    <dt class="col-3 col-sm-3 text-right">Host</dt>
    <dd class="col-9 col-sm-9">sftp.payfactors.com</dd>

    <dt class="col-3 col-sm-3 text-right">Port</dt>
    <dd class="col-9 col-sm-9">22</dd>

    <dt class="col-3 col-sm-3 text-right">Account</dt>
    <dd class="col-9 col-sm-9"><fa-icon icon="check-circle" class="text-success"></fa-icon> Active | <fa-icon icon="times-circle" class="text-danger"></fa-icon> Not Created</dd>
  </dl>
</div>