.container {
  background-color: white;
}

.image-container{
  height: 100%;
  width: 100%;
}

.box-shadow {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

.text-color{
  color: #676a6c;
}

.payfactors-logo{
  max-height: 50px;
}
