// Sizes
$legacy-font-size: 12px;

// Colors
$legacy-header-grey: #F0F0F0;
$legacy-border-grey: #DDDDDD;

// Weights
$legacy-bold-font-weight: 700;

// Add Data
$add-data-hover-background: #D4D4D4;
$add-data-selected-background: #D4D4D4;
