.omni-box{
  width: 400px;
}

.exchange-job-mapping-grid-container{
  height: 100%;
  position: relative;
}

.exchange-job-mapping-info-container{
  position: relative;
}

.collapse-grid{
  height: 250px;
}
