@import 'colors';
@import 'notifications-variables';

.page {
  min-height: 100%;
  background-color: #ffffff;

  .header {
    height: 67px;
    padding: 0 75px;
    width: 100%;

    .title {
      color: $header-color;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.9;
    }
  }

  .page-content {
    padding: 0 75px;
  }
}
