<pf-modal-form
  [size]="'md'"
  [title]="'Create Exchange Scope'"
  [primaryButtonText]="'Create'"
  [primaryButtonTextSubmitting]="'Creating...'"
  [submitting]="upsertingExchangeScope$ | async"
  [isOpen$]="saveExchangeScopeModalOpen$"
  [formGroup]="saveExchangeScopeForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">
  <ng-container form-content>
    <input type="text"
           class="form-control"
           placeholder="Name"
           formControlName="exchangeScopeName"
           id="exchange-scope-name"
           maxlength="50"
           [readonly]="upsertingExchangeScope$ | async"
           [pfValidatable]="!validatingScopeName"
           pfFocus>
    <ng-container *ngIf="exchangeScopeNameControl.errors">
      <div *ngIf="exchangeScopeNameControl.errors.exchangeScopeNameExists" class="invalid-feedback">
        {{ exchangeScopeNameControl.errors.exchangeScopeNameExists }}
      </div>
    </ng-container>
    <span *ngIf="!exchangeScopeNameControl?.errors?.exchangeScopeNameExists" class="pf-placeholder"></span>
    <textarea
      maxlength="1000"
      id="exchange-scope-description"
      class="form-control text-area-no-resize"
      rows="5"
      name="exchangeScopeDescription"
      formControlName="exchangeScopeDescription"
      [placeholder]="descriptionPlaceholder"
      [pfValidatable]="false"
    ></textarea>

    <pf-multi-select
      [attr.data-qa-id]="'ddm-create-scope-paymarket-defaults'"
      [labelText]="'Assign PayMarket Default'"
      [displayNamePreview]="true"
      [isLoading]="parentPayMarketOptionsLoading$ | async"
      [disabled]="!(parentPayMarketOptionsLoading$ | async) && !parentPayMarketOptions?.length"
      [disabledMessage]="'No paymarkets found for selected countries'"
      [options]="parentPayMarketOptions"
      [(selectedOptions)]="selectedParentPayMarketOptions"
    >
    </pf-multi-select>
  </ng-container>
  <ng-container footer-left>
    <label for="is-default-scope">
      Make this your default scope?
      <input type="checkbox"
             id="is-default-scope"
             formControlName="isDefaultScope"/>
    </label>
  </ng-container>
</pf-modal-form>
