<pf-page-with-title-bar>
  <ng-container page-title>User Settings</ng-container>

  <ng-container page-content>
    <ul ngbNav class="nav-tabs" [activeId]="activeId">
      <ng-container *ngFor="let tab of tabs">
        <li *ngIf="tab.IsVisible" [ngbNavItem]="tab.Path">
          <a ngbNavLink [routerLink]="[tab.Path]" routerLinkActive="active">
            {{ tab.Title }}
          </a>
        </li>
      </ng-container>
    </ul>
    <router-outlet></router-outlet>
  </ng-container>

</pf-page-with-title-bar>
