@import 'search/filters-variables';

:host{
  margin-left: 1rem;
  width: 190px;
}

.actions{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search-action{
  @extend %text-filter-action;
}

.search-action.disabled{
  color: #c5c5c5;
  cursor: not-allowed;

  &:hover{
    background-color: inherit;
  }
}
