<div *ngIf="rolePermissions;else no_role">
  <div class="scrollable">
    <ul class="list-group nav">
      <li class="nav-item parentPermission" *ngFor="let prm of rolePermissions">
        <input type="checkbox" [attr.data-qa-id]="'chk-' + prm.SystemPermissionId" [disabled]="disableCheckboxes"  (change)="handleCheckBoxCheck(prm)" [checked]="prm.IsChecked"/>
        {{prm.Name}}
        <ul class="list-group nav">
          <li class="nav-item subPermission" *ngFor="let cprm of prm.ChildPermission">
            <input type="checkbox" [attr.data-qa-id]="'chk-' + cprm.SystemPermissionId" [disabled]="disableCheckboxes || !prm.IsChecked" (change)="handleCheckBoxCheck(cprm)" [checked]="cprm.IsChecked"/>
            {{cprm.Name}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<ng-template #no_role>
  <div>
    <h4>Please select a role from the role list.</h4>
  </div>
</ng-template>
