<div>
  <div  class="scrollable">
    <ul class="list-group nav" >
      <li class="nav-item parentPermission" *ngFor="let prm of rolePermissions">
        <input type="checkbox" [attr.data-qa-id]="'chk-' + prm.Id"  [disabled]="currentRole.IsSystemRole"  (change)="handleCheckBoxCheck(prm)" [checked]="prm.IsChecked"/>
        {{prm.Name}}
        <ul class="list-group nav">
          <li class="nav-item subPermission" *ngFor="let cprm of prm.ChildPermission">
            <input type="checkbox" [attr.data-qa-id]="'chk-' + cprm.Id" [disabled]="currentRole.IsSystemRole || !prm.IsChecked" (change)="handleCheckBoxCheck(cprm)" [checked]="cprm.IsChecked"/>
            {{cprm.Name}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button type="button" data-qa-id='btn-save'   [disabled]="currentRole.IsSystemRole" class="btn btn-primary" (click)="handleSaveClicked()">{{saveButtonText}}</button>
</div>
