.subPermission{
  padding-left: 15px;
  font-weight: normal;
}
.parentPermission{
  padding-top: 15px;
  font-weight: bold;
}
.scrollable{
  height:70vh;
  overflow: auto;
}
.btn.btn-primary{
  float: right;
  margin-right: 30px;
  margin-bottom: 10px;
}
