<div class="w-100">
  <form [formGroup]="pfTestForm" (ngSubmit)="onSubmit()" class="needs-validation">
    <div class="d-flex flex-row">
      <div class="error-spacer">
      </div>
      <div class="d-flex flex-column">
        <label class="text-uppercase font-weight-bold" for="apiKey">
          API Key
        </label>
        <div class="form-group pb-2">
          <input id="apiKey"
                name="apiKey"
                type="text"
                class="form-control mb-1"
                [ngClass]="{ 'is-invalid': submitted && pfTestForm.controls.apiKey.errors }"
                formControlName="apiKey" autofocus>
          <div *ngIf="submitted && pfTestForm.controls.apiKey.errors" class="invalid-feedback">
              <div *ngIf="pfTestForm.controls.apiKey.errors.required">API Key is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-1 d-flex justify-content-end">
      <div class="p-2">
        <button id="cancel" type="button" class="btn btn-primary" (click)="cancelAuthenticationClick()">Cancel</button>
      </div>
      <div class="p-2">
        <button id="authenticate" class="btn btn-primary">Authenticate</button>
      </div>
    </div>
  </form>
</div>
