<kendo-tabstrip [keepTabContent]="true">
  <kendo-tabstrip-tab title="{{entity.DisplayText}}"
                      [selected]="entity.isSelectedTab"
                      *ngFor="let entity of selectedEntities()"
                      data-qa-id="entity.FileBeginsWith">
    <ng-template kendoTabContent>
      <pf-field-mapper [payfactorsDataFields]="entity.payfactorsDataFields"
                       [loaderType]="entity.templateReferenceConstants"
                       [fieldMappings$]="companyMappings$"
                       [fieldMappingsLoading]="companyMappingsLoading$ | async"
                       [loadEnabled]="entity.loaderEnabled"
                       [visibleLoaderOptions]="visibleLoaderOptions"
                       [isFullReplace]="entity.isFullReplace"
                       [dateFormat]="entity.dateFormat"
                       [suppliedClientFields]="entity.columnNames"
                       (mappingComplete)="onMappingComplete($event)"></pf-field-mapper>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>