<div class="tickets-details-container h-100 w-100" perfectScrollbar>
  <ng-container *ngIf="(ticket$ | async).loading; else content">
    <pf-loading-indicator></pf-loading-indicator>
  </ng-container>
  <ng-template #content>
    <div class="d-flex">
      <div class="ticket-title">
        <ng-container *ngIf="!!ticket?.TicketSummary">
          <h4>{{ticket?.TicketSummary}}</h4>
        </ng-container>
      </div>
      <div *ngIf="ticket.NoteAccessLevel === noteAccessLevel.Owner" class="public-private-switch mr-5">
        <span
          [ngbPopover]="publicSwitchContent"
          placement="left"
          triggers="mouseenter:mouseleave"
          popoverTitle="Public vs Private"
          container="body">
          <kendo-switch
            class="k-switch-lg"
            onLabel="Private"
            offLabel="Public"
            [checked]="ticket.IsPrivate"
            (valueChange)="handlePublicOrPrivateToggleSwitch($event, ticket.TicketId)">
        </kendo-switch>
        </span>
      </div>
      <div (click)="close()" class="close-btn mt-2">
        <fa-icon [icon]="['far', 'times']" size="lg"></fa-icon>
      </div>
    </div>
    <div class="d-flex pt-3">
      <div class="ticket-labels"><h6>Ticket ID</h6></div>
      <span class="w-100">{{ticket?.TicketId}}</span>
    </div>
    <hr>
    <div class="d-flex">
      <div class="ticket-labels"><h6>Status</h6></div>
      <span class="w-100">{{ticket?.TicketStatus}}</span>
    </div>
    <hr>
    <div class="d-flex">
      <div class="ticket-labels"><h6>Ticket Type</h6></div>
      <span class="w-100">{{ticket?.TicketType}}</span>
    </div>
    <hr>
    <div class="d-flex">
      <div class="ticket-labels"><h6>Ticket Details</h6></div>
      <span class="w-100">
        <quill-view-html class="view-only" [content]="ticket?.TicketDetails" theme="snow"></quill-view-html>
      </span>
    </div>
    <pf-ticket-attachments
      [ticketId]="selectedTicketId"
      [canAddAttachments]="ticket.NoteAccessLevel === noteAccessLevel.Owner"
      [attachments]="ticket?.Attachments"
      [isTicketClosed] = "ticket.TicketStatus === 'Closed'">
    </pf-ticket-attachments>
    <pf-ticket-notes
      [ticketId]="selectedTicketId"
      [canAddNote]="ticket.NoteAccessLevel === noteAccessLevel.Owner">
    </pf-ticket-notes>
  </ng-template>
</div>
<ng-template #publicSwitchContent>
  <div class="p-3">Private tickets can only be viewed by you. Public tickets will be accessible to all users at your company.</div>
</ng-template>
