.tickets-details-container{
  padding: 1rem;
  border-right: 1px solid #D1D5D8;

  .ticket-title {
    flex: 1 1 auto;
  }

  .close-btn {
    cursor: pointer;
  }

  .ticket-labels {
    width: 10rem;
  }

}
