<span *ngIf="fieldMappingsLoading;else content">
          <pf-loading-indicator></pf-loading-indicator> Loading...
</span>

<ng-template #content>
  <div class="upload-container">
    <div *ngIf="loaderType === 'Employees'" class="dateFormat-container">
      <label for="dateFormat">Date Format: </label>
      <kendo-combobox class="form-control dateFormat" id="dateFormat" [(ngModel)]="dateFormat"
                      [data]="dateFormatsFilteredData"
                      textField="text"
                      valueField="value"
                      [valuePrimitive]="true"
                      [filterable]="true"
                      (filterChange)="filterChange($event)"
                      (selectionChange)="selectionChange($event)">

      </kendo-combobox>
      <span class="text-danger ml-2">*</span>
    </div>
    <kendo-upload
      [saveUrl]="uploadSaveUrl"
      [removeUrl]="removeUrl"
      [autoUpload]="true"
      [restrictions]="fileRestrictions"
      [multiple]="false"
      [disabled]="(!delimiter || delimiter == '') || (loaderType === 'Employees' && (!dateFormat || dateFormat === ''))"
      (success)="successEventHandler($event)"
      (upload)="uploadEventHandler($event)"
      (remove)="removeEventHandler()">
      <kendo-upload-messages select="Select file...">
      </kendo-upload-messages>
    </kendo-upload>
  </div>

  <p>Client file name for this entity must begin with <span class="font-weight-bold text-underline">{{loaderType.toLowerCase()}}</span></p>
  <div class="field-mappings-container">
    <table>
      <tr class="header">
        <td>Payfactors fields</td>
        <td>Client fields</td>
        <td></td>
        <td>Mapping</td>
      </tr>
      <tr>
        <td>
          <select name="payfactors_fields" size="20" class="list-box" [(ngModel)]="selectedPfField">
            <option *ngFor="let field of payfactorsDataFields" value="{{field}}">{{field}}</option>
          </select>
        </td>
        <td>
          <select name="client_fields" size="20" class="list-box" [(ngModel)]="selectedClientField">
            <option *ngFor="let field of clientFields" value="{{field}}">{{field}}</option>
          </select>
        </td>
        <td>
          <div class="mapping-btn-container" role="group">
            <button type="button" class="btn btn-primary" (click)="ApplyMapping()"
                    [disabled]="!selectedPfField || !selectedClientField">Map >
            </button>
            <button type="button" class="btn btn-primary" (click)="RemoveMapping()" [disabled]="!selectedMapping"><
              Remove Mapping
            </button>
          </div>
        </td>
        <td>
          <select name="mapped_fields" size="20" class="list-box mapped-fields" [(ngModel)]="selectedMapping">
            <option *ngFor="let field of mappedFields" value="{{field}}">{{formatMappingForDisplay(field)}}</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</ng-template>
