<pf-modal-form
  [size]="'lg'"
  [title]="'Invite a Company'"
  [subTitle]="modalSubTitle((exchange$ | async)?.ExchangeName)"
  [primaryButtonText]="'Invite'"
  [primaryButtonTextSubmitting]="'Inviting...'"
  [submitting]="exchangeAccessRequesting$ | async"
  [isOpen$]="existingCompaniesExchangeRequestModalOpen$"
  [formGroup]="exchangeSelectionsForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">

  <ng-container form-content>

    <pf-card-selector
      [cardData$]="existingCompanies$"
      [cardDataLoading$]="existingCompaniesLoading$"
      [cardDataError$]="existingCompaniesLoadingError$"
      [cardBodyTemplate]="cardTemplate"
      [onCardSelectedTemplate]="onCardSelectedTemplate"
      [cardIdentifier]="companyIdentifier"
      [cardIsDisabled]="companyCardDisabled"
      (onReload)="handleReloadCardsEvent()"
      (onCardSelection)="handleCardSelectionEvent($event)"
    >
      <ng-container search-filters>
        <div class="filter flex-grow-1">
          <pf-input-debounce id="search-box"
                             [focus]="false"
                             [delay]="400"
                             [(ngModel)]="searchTerm"
                             [ngModelOptions]="{standalone: true}"
                             [placeholderText]="'Search for a Company Name...'"
                             (valueChanged)="updateSearchFilter($event)">
          </pf-input-debounce>
        </div>
      </ng-container>
    </pf-card-selector>

    <!--Form fields-->
    <div class="form-group hidden-form-control">
      <input type="hidden"
             class="form-control"
             name="hasSelection"
             formControlName="companySelection"
             [ngModel]="companySelection"
             [pfValidatable]="attemptedSubmit"
      />
    </div>

    <!--This must be inside the 'pf-modal-form' component in order for the modal's form to react to it-->
    <ng-template #onCardSelectedTemplate let-card="card">
      <div class="form-group">
            <textarea
              id="request-reason"
              class="form-control"
              rows="3"
              name="reason"
              formControlName="reason"
              [placeholder]="reasonPlaceholder(card.CompanyName, (exchange$ | async)?.ExchangeName)"
              [pfValidatable]="attemptedSubmit"
              [(ngModel)]="reason"
            ></textarea>
      </div>
    </ng-template>

  </ng-container>
</pf-modal-form>

<ng-template #cardTemplate let-card="card">
  <div class="card-title d-flex justify-content-between">
    <h5>
      {{card?.CompanyName}}
      <small class="text-muted">
        ({{card?.Size ? '$' + (card?.Size | humanizeNumber) : 'Not Reported'}})
      </small>
    </h5>
    <h5>
      <span *ngIf="card?.InExchange" class="badge badge-dark">Exchange Member</span>
      <span *ngIf="card?.PendingInvitation" class="badge badge-dark">Pending Invitation</span>
    </h5>
  </div>

  <p class="card-text">
    {{card?.Industry}}
  </p>

  <p class="card-text">
    <small>
      <pf-ellipsis-view-more
        [content]="card?.Peers.join(', ').toString()"
        [maxLength]="150"></pf-ellipsis-view-more>
    </small>
  </p>
</ng-template>
