<pf-data-grid
  [pageViewId]="pageViewId"
  [showTitle]="false"
  [showColumnChooser] ="false"
  [showFilterChooser] ="false"
  [allowExport]="false"
  [contentNoPadding]="true"
  [selectionField]="'CompanyJobPricing_ID'"
  [columnTemplates]="colTemplates"
  [inboundFilters]="filters"
  [defaultSort]="defaultSort"
  [allowSort]="false"
  [noRecordsFound]="'This job has not been priced and doesn\'t have any pricing history.'"
  [rowActionTemplate]="rowActions"
  [applyDefaultFilters]="false">
</pf-data-grid>

<ng-template #createUserColumn let-dataRow="dataRow">
  <ng-container *ngIf="dataRow['Users_First_Name'] && dataRow['Users_Last_Name']; else pfAdmin">
    {{dataRow['Users_First_Name']}} {{dataRow['Users_Last_Name']}}
  </ng-container>
  <ng-template #pfAdmin>
    Payfactors Admin
  </ng-template>
</ng-template>

<ng-template #rowActions let-dataRow="dataRow">
    <div class="text-right pr-3" (click)="confirmDeletePricingModal(dataRow)"><fa-icon icon="trash-alt"></fa-icon></div>
</ng-template>

<pf-modal-form
  [modalId]="'au-delete-pricing'"
  [isOpen$]="pricingIdToBeDeleted$"
  [size]="'md'"
  [title]="'Delete Pricing'"
  [primaryButtonClass]="'btn-danger'"
  [primaryButtonText]="'Delete'"
  (onSubmit)="deletePricing()"
  (onDismiss)="cancelDeletePricing()"
>
  <ng-container basic-content>
    This action will permanently delete this pricing. Would you like to continue?
  </ng-container>
</pf-modal-form>
