<pf-modal-form
  [size]="'lg'"
  [title]="'Request Access to an Exchange'"
  [subTitle]="modalSubTitle"
  [primaryButtonText]="'Request'"
  [primaryButtonTextSubmitting]="'Requesting...'"
  [submitting]="accessExchangeRequesting$ | async"
  [isOpen$]="accessExchangeRequestModalOpen$"
  [formGroup]="exchangeSelectionsForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">

  <ng-container form-content>

    <pf-card-selector
      [cardData$]="exchangeRequestCandidates$"
      [cardDataLoading$]="exchangeRequestCandidatesLoading$"
      [cardDataError$]="exchangeRequestCandidatesLoadingError$"
      [cardBodyTemplate]="cardTemplate"
      [cardSelectedTemplate]="onCardSelectedTemplate"
      [cardIdentifier]="exchangeIdentifier"
      [cardIsDisabled]="exchangeCardDisabled"
      (onReload)="handleReloadCardsEvent()"
      (onCardSelection)="handleCardSelectionEvent()"
    >
      <ng-container search-filters>
        <div class="filter">
          <pf-input-debounce id="search-box"
                             name="searchFilter"
                             [focus]="false"
                             [delay]="400"
                             [(ngModel)]="searchTerm"
                             [ngModelOptions]="{standalone: true}"
                             [placeholderText]="'Search for an Exchange Name...'"
                             (valueChanged)="updateSearchFilter($event)" ngDefaultControl>
          </pf-input-debounce>
        </div>
        <div class="filter">
          <div class="d-flex">

            <kendo-autocomplete
              #list
              class="flex-grow-1"
              valueField="Name"
              placeholder="Search for a Company..."
              [data]="peerParticipants$ | async"
              [loading]="peerParticipantsLoading$ | async"
              [filterable]="true"
              (valueChange)="handleSelectedCompanyChangeEvent($event)"
              [value]="companyNameFilter"
            >
            </kendo-autocomplete>

          </div>
        </div>
      </ng-container>
    </pf-card-selector>

    <!--Form fields-->
    <div class="form-group hidden-form-control">
      <input type="hidden"
             class="form-control"
             name="hasSelection"
             formControlName="cardSelection"
             [ngModel]="cardSelection"
             [pfValidatable]="attemptedSubmit"
      />
    </div>

    <!--This must be inside the 'pf-modal-form' component in order for the modal's form to react to it-->
    <ng-template #onCardSelectedTemplate let-card="card">
      <div class="form-group">
            <textarea
              maxlength="1000"
              id="request-reason"
              class="form-control"
              rows="3"
              name="reason"
              formControlName="reason"
              [placeholder]="reasonPlaceholder"
              [pfValidatable]="attemptedSubmit"
              [(ngModel)]="reason"
            ></textarea>
      </div>
    </ng-template>

  </ng-container>
</pf-modal-form>

<ng-template #cardTemplate let-card="card">
  <div class="card-title d-flex justify-content-between">
    <h5>
      {{card.ExchangeName}}
    </h5>
    <h5>
      <span *ngIf="card.PendingAccess" class="badge badge-warning">Pending Approval</span>
      <span *ngIf="card.InExchange" class="badge badge-dark">Exchange Member</span>
    </h5>
  </div>
  <div class="d-flex flex-row mb-2 justify-content-between">
    <span class="flex-grow-1" title="Top Industries">
      <i class="fas fa-building fa-lg"></i>
      {{card?.TopIndustries ? card?.TopIndustries.join(', ') : 'No Industries'}}
    </span>
    <span class="flex-grow-1 text-right" [title]="card.JobCount + ' Exchange Jobs'">
      <span class="fa-layers fa-fw fa-lg">
        <i class="fas fa-briefcase"></i>
        <span class="fa-layers-counter bg-info">{{card.JobCount | humanizeNumber}}</span>
      </span>
    </span>
  </div>
  <p class="card-text" title="Companies in Exchange">
    <small>
      <pf-ellipsis-view-more
        [content]="card.CompanyNames.join(', ')"
        [highlightFilter]="companyNameFilter"
        [maxLength]="145"></pf-ellipsis-view-more>
    </small>
  </p>
</ng-template>
