.alert {
  background-color: #FFFDD0;
  border-color: #FFFDD0;
  margin-left: 5px;
  width: auto;
}

.alert-link-wrapper {
  display: inline;
  margin-left: 250px;
}

.alert-link-wrapper a {
  cursor: pointer;
}

.return-button {
  margin-top: 5px;
}
