<pf-page-with-title-bar [returnUrl]="'/exchange/'+exchangeId+'/dashboard'">
  <ng-container page-title>
    Manage Jobs
  </ng-container>

  <ng-container page-actions>
    <div *ngIf="peerManageJobsGridToggleFlag.value" class="btn-group btn-group-toggle">
      <label class="btn btn-secondary" [ngClass]="{'active': showCompanyJobs}">
        <input type="radio" name="myJobs" id="myJobs" autocomplete="off" (click)="toggleGrid(true)"> My Jobs
      </label>
      <label class="btn btn-secondary" [ngClass]="{'active': !showCompanyJobs}">
        <input type="radio" name="exchangeJobs" id="exchangeJobs" autocomplete="off" (click)="toggleGrid(false)"> Exchange Jobs
      </label>
    </div>

    <pf-exchange-switcher></pf-exchange-switcher>
    <div class="omni-box">
      <!-- company jobs search box -->
      <pf-input-debounce
        #companyJobsSearchComponent
        [class.d-none]="!showCompanyJobs"
        [placeholderText]="'Search for company job title or code'"
        [(ngModel)]="companyJobsSearchTerm"
        (valueChanged)="handleCompanyJobsSearchChanged($event)"
        [id]="'company-job-search-box'"
      >
      </pf-input-debounce>

      <!-- exchange jobs search box -->
      <pf-input-debounce
        [class.d-none]="showCompanyJobs"
        [placeholderText]="'Search for an Exchange Job Title...'"
        (valueChanged)="handleSearchChanged($event)"
        [id]="'exchange-job-search-box'"
      >
      </pf-input-debounce>
    </div>
    <button type="button" class="btn btn-secondary" (click)="requestJobButtonClick()">Request Exchange Job</button>

    <button type="button" title="Export to Excel" id="export-popover-btn" class="btn btn-secondary" placement="bottom"
            (click)="handleExportButtonClick()">
      <fa-icon icon="download" aria-hidden="true"></fa-icon>
    </button>


    <button (click)="importAssociationClick()" [pfSecuredResource]="_Permissions.PEER_IMPORT_ASSOCIATIONS" type="button" title="Import Matches" id="import-popover-btn"
      class="btn btn-secondary" placement="bottom">
      <fa-icon icon="upload" aria-hidden="true"></fa-icon>
    </button>

  </ng-container>

  <ng-container page-content>
    <!-- company jobs grid and detail panel -->
    <div *ngIf="showCompanyJobs; else exchangeJobs" class="flex-column-container">
      <div class="h-100">
        <pf-company-jobs-grid></pf-company-jobs-grid>
        <div *ngIf="selectedCompanyJob$ | async" class="mt-2 flex-grow-1">
          <pf-company-job-and-exchange-detail></pf-company-job-and-exchange-detail>
        </div>
      </div>
    </div>

    <!-- exchange jobs grid and detail panel -->
    <ng-template #exchangeJobs>
      <div class="flex-column-container">
        <div class="h-100">
          <pf-exchange-job-mapping-grid [disableScrollTo]="disableGridScollTo"
            [pageRowIndexToScrollTo]="gridPageRowIndexToScrollTo$ | async">
          </pf-exchange-job-mapping-grid>
        </div>

        <div *ngIf="selectedExchangeJobMapping$ | async" class="mt-2 flex-grow-1">
          <pf-exchange-job-mapping-info [exchangeId]="exchangeId" (closeClicked)="handleExchangeJobMappingInfoClosed()">
          </pf-exchange-job-mapping-info>
        </div>
      </div>
    </ng-template>

  </ng-container>
</pf-page-with-title-bar>

<pf-request-job-modal></pf-request-job-modal>
<pf-association-import-modal></pf-association-import-modal>
