@import 'colors';

li {
  width: 320px;
  background-color: white;
  border-radius: 15px;
  font-size: 1.1rem;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-placeholder {
  background-color: #eee;
  color: $pf-primary-blue;
}
