<div class="d-flex flex-column h-100">
  <pf-manage-exchange-section-header
    [sectionTitle]="'Payfactors Company Invitations'"
    [sectionDescription]="'Listed in the grid below are Payfactors companies that have been invited to join this exchange.'"
  >
  </pf-manage-exchange-section-header>
  <div class="d-flex h-100">
    <pf-async-container
      [loading]="payfactorsCompanyExchangeInvitationsLoading$ | async"
      [loadingError]="payfactorsCompanyExchangeInvitationsLoadingError$ | async"
      [loadingErrorMessage]="'Error loading Payfactors company exchange invitations'"
      (reload)="handlePayfactorsCompanyExchangeInvitationsGridReload()"
      class="flex-grow-1"
    >

      <kendo-grid
        [data]="payfactorsCompanyExchangeInvitationsGrid$ | async"
        [scrollable]="true"
      >

        <kendo-grid-column field="CompanyName" title="Company Name"></kendo-grid-column>

        <kendo-grid-column field="CompanyIndustry" title="Industry"></kendo-grid-column>

        <kendo-grid-column field="CompanyRevenue" title="Revenue"></kendo-grid-column>

        <kendo-grid-column field="CompanyFullTimeEmployees" title="FTEs"></kendo-grid-column>

        <kendo-grid-column field="RequestUser" title="Request User"></kendo-grid-column>

        <kendo-grid-column field="RequestCompany" title="Request Company"></kendo-grid-column>

        <kendo-grid-column field="RequestDate" title="Request Date">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.RequestDate | date:'short' }}
          </ng-template>
        </kendo-grid-column>

      </kendo-grid>

    </pf-async-container>
  </div>
</div>
