<div class="d-flex flex-column h-100">
  <pf-manage-exchange-section-header
    [sectionTitle]="'Payfactors Company Invitations'"
    [sectionDescription]="'Listed in the grid below are Payfactors companies that have been invited to join this exchange.'"
  >
  </pf-manage-exchange-section-header>
  <div class="d-flex company-invitation-grid-container" [ngClass]="(companyInvitationInfoOpen$ | async) ? 'collapse-grid' : 'no-collapse'">
    <pf-async-container
      [loading]="payfactorsCompanyExchangeInvitationsLoading$ | async"
      [loadingError]="payfactorsCompanyExchangeInvitationsLoadingError$ | async"
      [loadingErrorMessage]="'Error loading Payfactors company exchange invitations'"
      (reload)="handlePayfactorsCompanyExchangeInvitationsGridReload()"
      class="flex-grow-1"
    >

      <kendo-grid class="row-click-navigates no-wrap-ellipsis-values"
        [pfKendoScrollTo]="pageRowIndex"
        [data]="payfactorsCompanyExchangeInvitationsGrid$ | async"
        [scrollable]="true"
        [selectable]="{
            mode: 'single'
          }"
        (cellClick)="handleCellClick($event)"
      >

        <kendo-grid-column field="CompanyName" title="Company Name">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{dataItem.CompanyName}}">{{dataItem.CompanyName}}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="CompanyIndustry" title="Industry">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{dataItem.CompanyIndustry}}">{{dataItem.CompanyIndustry}}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="CompanyRevenue" title="Revenue"></kendo-grid-column>

        <kendo-grid-column field="CompanyFullTimeEmployees" title="FTEs"></kendo-grid-column>

        <kendo-grid-column field="RequestUser" title="Request User"></kendo-grid-column>

        <kendo-grid-column field="RequestCompany" title="Request Company">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{dataItem.RequestCompany}}">{{dataItem.RequestCompany}}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="RequestDate" title="Request Date">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.RequestDate | date:'short' }}
          </ng-template>
        </kendo-grid-column>

      </kendo-grid>

    </pf-async-container>

  </div>
  <div *ngIf="companyInvitationInfoOpen$ | async" class=" d-flex mt-3 flex-grow-1 company-invitation-info-container">
    <pf-company-exchange-invitation-info
      [selectedCompanyInvitation]="selectedCompanyInvitation"
      (closeClicked)="handleCloseInvitationInfo()">
    </pf-company-exchange-invitation-info>
  </div>

  <pf-approve-request-modal
    [modalTitle]="approveInvitationModalTitle"
    [modalText]="approveModalText"
    [submittingApproval$]="approvingCompanyInvitation$"
    [approveRequestModalOpen$]="approveInvitationModalOpen$"
    (approveClicked)="handleApproveCompanyInvitation($event)"
    (closeClicked)="handleCloseApproveModal()"
  ></pf-approve-request-modal>

  <pf-deny-request-modal
    [modalTitle]="denyInvitationModalTitle"
    [modalText]="denyModalText"
    [submittingDenial$]="denyingCompanyInvitation$"
    [denyRequestModalOpen$]="denyInvitationModalOpen$"
    (denyClicked)="handleDenyCompanyInvitation($event)"
    (closeClicked)="handleCloseDenyModal()"
  ></pf-deny-request-modal>
</div>
