<div class="job-request-info-container card h-100">
  <div class="card-header">
    <div class="align-self-center mr-auto">
      Job Request Information
    </div>
    <div *ngIf="(approvingError$ | async)" class="align-self-center mr-auto error-label"><label>Error approving job request.</label></div>
    <div *ngIf="(denyingError$ | async)" class="align-self-center mr-auto error-label"><label>Error denying job request.</label></div>
    <button type="button" [disabled]="(approvingJobRequest$ | async) || (denyingJobRequest$ | async)" class="btn btn-sm btn-success action-buttons" (click)="approve()">
      <span *ngIf="!(approvingJobRequest$ | async)">
        Approve
      </span>
      <span *ngIf="(approvingJobRequest$ | async)">
          <pf-loading-indicator></pf-loading-indicator> Approving...
      </span>
    </button>
    <button type="button" [disabled]="(approvingJobRequest$ | async) || (denyingJobRequest$ | async)" class="btn btn-sm btn-danger action-buttons" (click)="deny()">
      <span *ngIf="!(denyingJobRequest$ | async)">
        Deny
      </span>
      <span *ngIf="(denyingJobRequest$ | async)">
          <pf-loading-indicator></pf-loading-indicator> Denying...
      </span>
    </button>
    <div (click)="close()" class="close-btn">
      <i class="far fa-times"></i>
    </div>
  </div>
  <div class="card-body d-flex">
    <div class="info-container">
      <div class="info-row">
        <div class="label">Job Title:</div>
        <div> {{ selectedJobRequest?.JobTitle }} </div>
      </div>
      <div class="info-row">
        <div class="label">Job Family:</div>
        <div> {{ selectedJobRequest?.JobFamily }} </div>
      </div>
      <div class="info-row">
        <div class="label">Job Level:</div>
        <div> {{ selectedJobRequest?.JobLevel }} </div>
      </div>
      <div class="info-row-flex-column flex-grow-1">
        <div class="label">Job Description:</div>
        <div class="jd-container" *ngIf="(selectedJobRequest?.JobDescription)"> {{ selectedJobRequest?.JobDescription }} </div>
        <div class="jd-container font-italic" *ngIf="!(selectedJobRequest?.JobDescription)"> No job description provided upon request. </div>
      </div>
    </div>

    <div class="vertical-separator"></div>

    <div class="info-container">
      <kendo-tabstrip class="tabstrip-no-borders bold-tabs">
        <kendo-tabstrip-tab [title]="'Reason'" [selected]="true">
          <ng-template kendoTabContent>
            <div>{{ selectedJobRequest?.Reason }}</div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Exchange Associations'" [disabled]="true">
          <ng-template kendoTabContent>
            <p><!--Associations--></p>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'History'" [disabled]="true">
          <ng-template kendoTabContent>
            <p><!--History--></p>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
  </div>
</div>
