<pf-async-container
  [loading]="productAssetListLoading$ | async"
  [loadingError]="productAssetListLoadingError$ | async"
  [loadingErrorMessage]="'Error Loading Pay Intelligence'"
  (reload)="handleProductAssetGridReload()">

      <div  class="card productAssetItem" *ngFor="let productAsset of productAssetListItems$ | async" (click)="handleClick(productAsset)">
        <h4>
          <img [src]="productAsset.ThumbnailUrl" class="thumbnail-image" />
          {{productAsset.Title}}
        </h4>
        <div>{{productAsset.Description}}</div>
      </div>

</pf-async-container>
