@import "app-colors";

@media screen {
  .statement {
    background: white;
    width: 8.5in;
    max-height: 11in;
    margin-top: 50px;
  }
}

.page-break {
  page-break-before: right;
}

.row.vertical-divider > div[class*="col-"] {
  border-left: 1px solid $trs-canvas-background-color;
  border-right: 1px solid $trs-canvas-background-color;
}

// hide the middle divider for the top row
.row.vertical-divider:first-child .trs-column {
  border-width: 0;
}

.control-type-5 {
  align-self: center;
}

@media print {
  .page-break	{
    display: block;
    page-break-before: always;
  }

  .column {
    border: none;
  }
}

@media screen {
  .page-break	{
    display: block;
    page-break-before: always;
  }
}
