

<div style="text-align:left; width: 2000px; " class="container">
  <div *ngFor="let employee of employeeArray">
    <div *ngFor="let section of templateObject.sections" class="row">
      <div *ngFor="let column of section.columns" [ngClass]="getColumnWidth(section.columnCount)">
        <div class="row columnRow" [dragula]="section.sectionName">
          <div *ngFor="let control of column.columnControls" [ngClass]="getControlWidth(control.controlWidth)">
            <pf-total-rewards-control [control]="control"
                                      [companyColors]="companyColors"
                                      [employee]="employee"
                                      class="tr-control"
            ></pf-total-rewards-control>
          </div>
        </div>
      </div>
    </div>
    <div style="page-break-after: always"></div>
  </div>

</div>
