@import "app-colors";

.statement {
  position: relative;
  background: white;
  .row.vertical-divider > .trs-column:first-child {
    border-right: 2px solid $trs-canvas-background-color;
  }
  // hide the middle divider for the top row
  .row.vertical-divider:first-child > .trs-column:first-child {
    border-width: 0;
  }
  .control-type-5 {
    align-self: center;
  }
}

// set just for screen since applying for print media blows away page breaks 
@media screen {
  .statement {
    width: 8.5in;
    max-height: 11in;
  }
}

@media print {
  .page-break	{
    display: block;
    page-break-before: always;
  }
}
