@import "app-colors";
.statement {
  background: white;
  width: 8.5in;
  height: 11in;
}

.page-break {
  page-break-after: always;
}

.row.vertical-divider > div[class*="col-"] {
  border-left: 1px solid $trs-canvas-background-color;
  border-right: 1px solid $trs-canvas-background-color;
}
.row.vertical-divider div[class*="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class*="col-"]:last-child {
  border-right: none;
}

@media print {
  @page {
    //margin: .25cm;
  }

  .page-break	{ display: block; page-break-before: always; }

  .container {
    border: none;
    background: white;
  }

  .column {
    border: none;
  }


}

@media screen {
  .page-break	{ display: block; page-break-before: always; }
}
