<div class="saved-filters">
  <pf-async-container [loading]="loading">
    <ng-container *ngIf="savedFilters.length; else noSavedFiltersMessage">
      <div class="header">
        <pf-input-debounce
          [delay]="200"
          [disabled]="filterIdToDelete.length > 0"
          [placeholderText]="'Search Filters...'"
          (valueChanged)="handleSearchValueChanged($event)">
        </pf-input-debounce>
      </div>

      <div class="filters"
           *ngIf="filteredSavedFilters.length; else noSavedFiltersMessage"
           [class.delete-mode]="filterIdToDelete.length > 0">
          <div class="filter"
               *ngFor="let savedFilter of filteredSavedFilters; trackBy: trackByFilterId"
               [class.to-be-deleted]="savedFilter.Id === filterIdToDelete"
               [class.selected]="savedFilter.Selected"
               (click)="handleFilterClicked(savedFilter)">

            <div class="name-and-preview">
              <div class="name">{{savedFilter.Name}}</div>
              <div class="preview">{{getFilterPreview(savedFilter)}}</div>
            </div>
            <div class="options">
              <div class="option" (click)="handleDeleteBtnClicked(savedFilter.Id)">Delete</div>
            </div>
          </div>
      </div>

      <div class="footer" *ngIf="filterIdToDelete">
          <button class="btn btn-sm btn-secondary" [class.disabled]="deleting" (click)="handleCancelDeleteClicked()">Cancel</button>
          <button class="btn btn-sm btn-danger ml-2" (click)="handleDeleteFilterConfirmClicked()">
            <span *ngIf="!deleting">Delete</span>
            <span *ngIf="deleting"><pf-loading-indicator></pf-loading-indicator> Deleting...</span>
          </button>
      </div>
    </ng-container>
  </pf-async-container>
</div>


<ng-template #noSavedFiltersMessage>
  <div class="no-filters-message">No Saved Filters</div>
</ng-template>
