<div class="top-actions-bar d-flex justify-content-center">
  <button class="btn add-filter-btn action-btn"
    [attr.data-qa-id]="'btn-add-filter'"
    (click)="handleAddFilterClicked()">
    <fa-icon icon="plus" class="icon"></fa-icon>
    <span class="btn-title">Add Filter</span>
  </button>
  <button class="btn apply-filter-btn action-btn"
          [attr.data-qa-id]="'btn-apply-filter'"
          [disabled]="!(filtersValid$ | async) || !changesMade"
          (click)="handleApplyFilterClicked()">
    <fa-icon icon="check" class="icon"></fa-icon>
    <span class="btn-title">Apply</span>
  </button>
</div>

<div class="filters-container">
  <div perfectScrollbar class="filters" *ngIf="!!pendingFilters">
    <div *ngFor="let filter of pendingFilters; let i = index; trackBy: trackByFn">
      <pf-filter-card
        [filterIndex]="i"
        [fields]="selectedFields"
        [filter]="filter"
        (deleteFilter)="handleDeleteFilter($event)"
        (filterChanged)="handleFilterChanged(i, $event)"
        (searchOptionChanged)="handleSearchOptionChanged($event)">
      </pf-filter-card>
    </div>
  </div>
</div>
