.svg-inline--fa{
  font-weight: bold;
}

.readonly-single-control-moved-arrow{
  align-self: center;
  padding-right: 1rem;
}

.added-single-control{
  background-color: #e6ffe6;;
}

.removed-single-control{
  background-color: #ffe6e6;
}

.card-header {
  background-color: #e7f0f9;
  padding: 0.5rem 0.75rem;
  height: 33px;
}
