<pf-model-grid
  [singleRecordView]="false"
  [inboundFilters]="filters"
  [rangeGroupId]="rangeGroupId"
  [splitViewTemplate]="comparingFlag ? compareGraph : graph"
  (addJobs)="openAddJobsModal()"
  [pageViewId]="pageViewId"
  [reorderable]="true"
  [saveSort]="true"
  [modifiedKey]="'CompanyStructures_Ranges_CompanyStructuresRanges_ID'"
  [allowMultipleSort]="true"
  (compareModelClicked)="handleCompareModelClicked()">
</pf-model-grid>

<pf-add-jobs-modal-wrapper></pf-add-jobs-modal-wrapper>

<pf-publish-model-modal [pfSecuredResource]="_Permissions.STRUCTURES_PUBLISH" [rangeGroupId]="rangeGroupId"></pf-publish-model-modal>

<pf-duplicate-model-modal [pfSecuredResource]="_Permissions.STRUCTURES_CREATE_EDIT_MODEL" [rangeGroupId]="rangeGroupId"></pf-duplicate-model-modal>

<ng-template #graph>
  <pf-job-based-range-chart></pf-job-based-range-chart>
</ng-template>

<ng-template #compareGraph>
  <pf-compare-job-based-range-chart></pf-compare-job-based-range-chart>
</ng-template>
