@import 'colors';

$post-avatar-width: 50px;
$post-avatar-height: 50px;

.start-discussion-body {
  display: flex;
  width: 100%;
}

#discussion-avatar {
  width: $post-avatar-width;
  min-width: $post-avatar-width;
  height: $post-avatar-height;
  align-self: start;
}

#start-discussion-post-button {
  clear: both;
}

.start-discussion-body button {
  background-color: $community-post-button;
  border: 2px solid $community-post-button;
  border-radius: 4px;
  width: 80px;
}

.start-discussion-body button:hover:enabled {
  background-color: $community-post-button-hover;
  border-color: $community-post-button-hover;
}

.start-discussion-body button:focus:enabled {
  background-color: $community-post-button-focus;
  border-color: $community-post-button;
}