@import 'colors';
@import 'styles';

.footer-container {
  display: inline-block;
  width: 100%;
  margin-top: -10px;
}

#discussion-avatar {
  width: $community-post-avatar-size;
  min-width: $community-post-avatar-size;
  height: $community-post-avatar-size;
  align-self: start;
}

.btn {
  border-radius: 4px;
}

.btn-primary {
  background-color: $community-post-button;
  border: 2px solid $community-post-button;
  width: 80px;
}

.btn-primary:hover:enabled {
  background-color: $community-post-button-hover;
  border-color: $community-post-button-hover;
}

.attachment-button fa-icon
{
  color: $community-categories-border;
}

.btn-primary:focus:enabled {
  background-color: $community-post-button-focus;
  border-color: $community-post-button;
}

.attachment-count-text
{
  color: #5CB85C;
  font-weight: bold;
}

::ng-deep div.text-danger {
  font-size: 85%;
}
