@import 'comphub-styles';
@import 'comphub-page';
@import 'comphub-variables';
@import 'colors';

.content-container {
  position: absolute;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  border: solid 1px;
  border-color: $comphub-header-background-grey;
  z-index: 2;
  background-color: white;
  overflow: hidden;
  transition: all 0.35s ease;
  
  &.opened {
    right: 0px;
  }
}

.close-btn {
  font-size: 1.75rem;
  cursor: pointer;
  color: $comphub-header-blue;
}

.content {
  display: none;
  
  &.opened {
    display: block;
  }
}

.book-icon {
  position: absolute;
  top: 2.3rem;
  right: 50px;
  color: $comphub-header-blue;
  font-size: 2.5rem;
  cursor: pointer;
}

.content-header {
  font-size: 2rem;
  padding: 0.1rem 1rem;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: $comphub-header-background-grey;
  color: $comphub-header-blue;
}

.header-icon {
  margin-right: .5rem;
}

.header-title {
  font-weight: $comphub-bold-font-weight;
}

.terms-container {
  height: calc(100vh - 170px);
  overflow-y: scroll;
}

.term-container {
  padding: 1.25rem 1rem;
  
  .term {
    color: $comphub-header-blue;
  }
  
  .description {
    padding: 1rem;
    background: lighten($comphub-header-background-grey, 5%);
  }
}
