<pf-modal-form 
  [modalId]="'au-modal-request-access'"
  [title]="'Request Access'"
  [subTitle]="'Request access to Payfactors compensation platform'"
  [isOpen$]="showRequestAccessModal$"
  [size]="'md'"
  [primaryButtonText]="'Send Request'"
  [formGroup]="requestAccessForm"
  [submitting]="false"
  [backdrop]="true"
  (onSubmit)="onRequestAccessSubmit()"
  (onDismiss)="onRequestAccessDismiss()" >
  <ng-container form-content>
    <label class="mt-4">First Name</label>
    <input class="form-control" type="text">

    <label class="mt-4">Last Name</label>
    <input class="form-control" type="text">
    
    <label class="mt-4">Work Email</label>
    <input class="form-control" type="email">
    
    <label class="mt-4">Title</label>
    <input class="form-control" type="text">
    
    <label class="mt-4">Company Name</label>
    <input class="form-control" type="text">
    
    <label class="mt-4">Website</label>
    <input class="form-control" type="text">
    
    <label class="mt-4">Number of Employees</label>
    <input class="form-control" type="text">
  </ng-container>
</pf-modal-form>