@import 'colors';
@import 'common/common';
@import 'structures-variables';

.structure-favorite {
  margin: 1rem 0 3rem 0;
  position: relative;

  .preview {
    margin-bottom: 1rem;
    cursor: pointer;
    min-height: 1px;
    padding: 1rem 0;

    .img-fluid {
      width: 100%;
    }
  }

  .type {
    @extend %label;
    border-bottom: 1px solid $border-grey;
  }

  .name {
    font-size: 1.25rem;
    @extend %ellipsis-overflowing-text;
  }
}
