<div class="structure-favorite d-flex flex-column">
  <div class="preview d-flex justify-content-center align-items-center flex-grow-1">
    <div class="w-100">
      <a [attr.data-qa-id]="'lnk-openStructureFavorite'" [routerLink]="[jobRangeModelingLink, structureFavorite.CompanyStructuresId]">
        <pf-structure-favorite-hexagon [structureFavorite]="structureFavorite"></pf-structure-favorite-hexagon>
      </a>
    </div>
  </div>
  <div class="type mt-3 mb-2">
    Structure
  </div>
  <div class="name" [title]="structureFavorite.StructureName">
    {{structureFavorite.StructureName}}
  </div>
</div>
