@import 'colors';
@import 'common/common';
@import 'structures-variables';

.svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0 0 100%;
}
svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.hex-outer {
  stroke-width: .5;
  stroke: #e8e8e8;
  fill: white;
}

.hex-overlay {
  opacity: 0;
  fill: black;
  transition: all 0.25s ease-in-out;
}
