@import 'kendo-grid';

.k-widget.k-grid.assigned-employees {
  height: calc(100% - 47px);
}

.gray-text {
  color: #B6B6B6;
  cursor: pointer;
}

.dropup .dropdown-toggle::after, .dropdown-toggle::after {
  display: none !important;
}

:host ::ng-deep .k-grid-norecords {
  background-color: white !important;
}

.img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-info {
  cursor: pointer;
}
.status-column {
  .circle-icon {
    font-size: 0.7rem;
    margin-right: 1rem;
  }

  .yellow {
    color: #FCC303;
  }

  .green {
    color: #71B344;
  }

  .blue {
    color: #0074E0;
  }

  .light-blue {
    color: #4F95D5
  }

  .red {
    color: #DC3545;
  }
}
