<div class="h-100">
  <div
    kendoTooltip
    class="k-tooltip-container h-100"
    showOn="none"
    [tooltipTemplate]="template"
    filter=".k-grid td"
    (mouseover)="showGridTooltip($event)">
    <pf-async-container
      class="h-100"
      [loading]="assignedEmployeesDataLoading$ | async"
      [loadingError]="assignedEmployeesDataLoadingError$ | async">
      <kendo-grid
        class="assigned-employees"
        [data]="assignedEmployeesGridData$ | async"
        [pageSize]="gridState.take"
        [skip]="gridState.skip"
        [sort]="gridState.sort"
        [resizable]="true"
        [sortable]="true"
        [scrollable]="true"
        [pageable]="{ buttonCount: 5, info: true }"
        (dataStateChange)="handleDataStateChange($event)">
        <kendo-grid-checkbox-column [width]="35" showSelectAll="true">
          <ng-template kendoGridHeaderTemplate>
            <input type="checkbox" id="selectAllCheckboxId"
                   [checked]="(selectAllState$ | async) === selectAllStatus.checked"
                   [indeterminate]="(selectAllState$ | async) === selectAllStatus.indeterminate"
                   (click)="onSelectAllChange()">
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <input
              type="checkbox"
              [checked]="isEmployeeSelected(dataItem)"
              (click)="handleCheckboxClick(dataItem)" />
          </ng-template>
        </kendo-grid-checkbox-column>
        <kendo-grid-column width="65" title="Action">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div ngbDropdown container="body" #dropdown="ngbDropdown"
                 (openChange)="handleSelectedRowAction(dropdown, dataItem)">
              <fa-icon ngbDropdownToggle
                       icon="ellipsis-h"
                       id="total-rewards-actions-{{dataItem?.CompanyEmployeeId}}"
                       class="gray-text">
              </fa-icon>
              <div ngbDropdownMenu aria-labelledby="total-rewards-actions-{{dataItem?.CompanyEmployeeId}}">
                <button ngbDropdownItem (click)="onActionMenuUnassignClick()">
                  <fa-icon [icon]="'user-slash'" class="mr-2"></fa-icon>
                  <span>Unassign</span>
                </button>
              </div>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column *ngFor="let col of (listAreaColumns$ | async)" [field]="col.ColumnDatabaseName" class="ellipsize show-tooltip">
          <ng-template kendoGridHeaderTemplate let-column>
            <div class="ellipsis-overflowing-text-wrap show-tooltip">
              {{col.ColumnDisplayName}}
            </div>
          </ng-template>
          <ng-template *ngIf="col.ColumnDatabaseName === 'TotalRewardsLastStatementGeneratedDate'" kendoGridCellTemplate let-dataItem>
              {{ dataItem.TotalRewardsLastStatementGeneratedDate | date: 'MM/dd/yyyy' }}
          </ng-template>
        </kendo-grid-column>
        <ng-template kendoPagerTemplate>
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
          <kendo-pager-page-sizes [pageSizes]="pageSizes"></kendo-pager-page-sizes>
          <label class="ml-auto mr-2 mt-2">
            {{ (assignedEmployeesTotal$ | async) | number }} Assigned Employee{{ (assignedEmployeesTotal$ | async) != 1 ? 's' : '' }}
          </label>
        </ng-template>
      </kendo-grid>
    </pf-async-container>
  </div>
</div>
<ng-template #template let-hoverElement>
  <span>{{ hoverElement.nativeElement.innerText }}</span>
</ng-template>
