<div class="inner-nav col">
  <ul class="nav flex-column">
    <li class="nav-item" [class.selected]="router.isActive('/transfer-data', true)">
      <a class="nav-link" href="#" routerLink="/transfer-data">Transferring My Data</a>
    </li>
    <li class="nav-item" [class.selected]="router.isActive('/manage-data', true)">
      <a class="nav-link" href="#" routerLink="/manage-data">Managing My Data</a>
    </li>
    <li class="nav-item" [class.selected]="router.isActive('/data-alerts', true)">
      <a class="nav-link" href="#" routerLink="/data-alerts">Setting Data Alerts</a>
    </li>
  </ul>
</div>
