@import 'colors';

.card-header{
  background-color: #e7f0f9;
  height: 33px;
}

.button-match{
  color: white;
  background: $pf-brand-primary-color;
  width: 100px;
  height: 30px;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}


.fileContainer [type=file] {
  //cursor: pointer;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

label {
  cursor:pointer;
  color: #3572b0;
  text-decoration:underline;
}

label:hover {
  text-decoration:none;
}

.link {
  color: #1872ae;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.btn-primary {
  background: #1872ae;
  border: #1872ae;
}

.btn-primary:hover {
  color: #fff;
  background-color: #125581;
  border-color: #114f78;
}

.card-block {
  padding: 1.25rem;
}

.no-pointer {
  cursor: default !important;
}

p.card-title {
  font-size: 1.5rem;
}

a:not([href]) {
  font-size: 1rem;
  color: #3572b0;
}

a:hover{
  font-size: 1rem;
  color: #3572b0;
  cursor: pointer;
  text-decoration: underline !important;
}
