@import 'colors';
@import 'data-insights-variables';
@import 'libs/styles/perfect-scrollbar-overrides';
@import 'libs/styles/dragula-drag-drop';

.fields-container {
  background-color: $background-grey;
  height: 95%;
}

.fields {
  background-color: $background-grey;
  position: relative;
  max-height: calc(100vh - 410px);
  padding: 0 1rem 1rem;
}

.view-all-fields-btn {
  background-color: #FFF;
  color: $pf-brand-secondary-color;
  &:focus {
    box-shadow: 0 0 0 0.05rem rgba(31, 47, 61, 0.25);
  }
}

.second-actions-bar {
  padding: 0 1rem 0.8rem;
  background-color: lightgray;
}

.bottom-actions-bar {
  height: 50px;
  background-color: $background-grey;
  text-align: center;
  padding: 0.8rem 1rem;
}

.create-formula-field-btn {
  background-color: $background-grey;
  color: $pf-brand-secondary-color;
  &:focus {
    box-shadow: none;
  }
}


::ng-deep .gu-mirror {
  opacity: 1;
  cursor: move;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

::ng-deep .gu-mirror div:not(.gu-mirror-show) {
  display: none !important;
}

::ng-deep .gu-mirror-show{
  display: none;
}

::ng-deep .gu-mirror .gu-mirror-show{
  display: block;
}
