<pf-data-grid
  [enableSelection]="true"
  [selectionFieldExistsOnBase]="false"
  [selectionField]="'CompanyStructures_RangeGroup_CompanyStructuresRangeGroup_ID'"
  [reorderable]="true"
  [pageViewId]="pageViewId"
  [title]="'Structures'"
  [defaultSort]="defaultSort"
  [actionBarConfig]="actionBarConfig"
  [gridConfig]="gridConfig"
  [pageable]="!gridConfig.EnableInfiniteScroll"
  [applyDefaultFilters]="false"
  [inboundFilters]="inboundFilters"
  [aboveGridTemplate]="aboveGridTemplate"
  [gridRowActionsConfig]="gridRowActionsConfig"
  [columnTemplates]="colTemplates">
</pf-data-grid>

<ng-template #aboveGridTemplate>
  <ul ngbNav #nav="ngbNav" class="nav-tabs"
      [destroyOnHide]="false"
      [(activeId)]="activeTab"
      (activeIdChange)="handleTabChange($event)">
    <li [ngbNavItem]="'current-models'">
      <a ngbNavLink class="tab-title">Current Models</a>
    </li>
    <li [ngbNavItem]="'proposed-models'">
      <a ngbNavLink class="tab-title">Proposed Models</a>
    </li>
    <li [ngbNavItem]="'historical-models'">
      <a ngbNavLink class="tab-title">Historical Models</a>
    </li>
  </ul>
</ng-template>

<ng-template #gridRowActionsTemplate let-dataRow="dataRow">
  <div ngbDropdown container="body" #p="ngbDropdown">
    <fa-icon ngbDropdownToggle
             icon="ellipsis-h"
             id="structures-actions-{{dataRow['CompanyStructures_RangeGroup_CompanyStructuresRangeGroup_ID']}}"
             class="gray-text paymarket-actions">
    </fa-icon>
    <div ngbDropdownMenu aria-labelledby="structures-actions-{{dataRow['CompanyStructures_RangeGroup_CompanyStructuresRangeGroup_ID']}}">
      <button
        ngbDropdownItem
        [pfSecuredResource]="permissions.STRUCTURES_ADD_EDIT_DELETE"
        (click)="handleDeleteSingleRangeGroupClicked(dataRow['CompanyStructures_RangeGroup_CompanyStructuresRangeGroup_ID'], dataRow['CompanyStructures_RangeGroup_RangeGroup_Name'])"
      >Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteSingleRangeGroupMessage>Are you sure you want to delete <b>{{selectedStructureName}}</b>? This action is permanent and cannot be recovered.</ng-template>

<pf-modal-form
  [size]="'md'"
  [title]="deleteSingleRangeGroup ? 'Delete Model' : 'Delete Models'"
  [primaryButtonText]="'Delete'"
  [primaryButtonClass]="'btn-danger'"
  [primaryButtonTextSubmitting]="'Deleting...'"
  [modalId]="'au-modal-structures-page-delete-structure-model'"
  [isOpen$]="deleteStructureModalOpen$"
  (onSubmit)="handleStructureModelDelete()"
  (onDismiss)="handleModalDismissed()"
  [submitting]="deleting$ | async">
  <ng-container basic-content>
    <p *ngIf="!deleteSingleRangeGroup; else deleteSingleRangeGroupMessage">Are you sure you want to delete the <b>{{selectedRangeGroupIds?.length}}</b> selected model<span *ngIf="selectedRangeGroupIds?.length > 1">s</span>? This action is permanent and cannot be recovered.</p>
  </ng-container>

  <ng-container footer-left>
    <div *ngIf="deletingError$ | async">
      <span class="font-italic text-danger">There was an error deleting this model</span>
    </div>
  </ng-container>

</pf-modal-form>
<ng-template #currencyColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow[fieldName] | comp: dataRow['CompanyStructures_RangeGroup_Rate'] : 'rounded' | emptyPlaceholder"></span>
  </div>
</ng-template>

<ng-template #numericColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow[fieldName] | emptyPlaceholder"></span>
  </div>
</ng-template>
