<button *ngIf="!mapped && ((applyingMapping && selectedMapping) || (!applyingMapping))"
        class="btn btn-sm btn-outline-primary"
        [ngClass]="{
                'btn-outline-primary': !selectedMapping || applyingMappingError,
                'btn-primary': selectedMapping && !applyingMappingError
               }"
        (click)="handleApplyMappingClicked()">

  <span *ngIf="(!applyingMapping && !applyingMappingError) || (applyingMappingError && !selectedMapping)">
    Associate
  </span>

  <span *ngIf="applyingMappingError && selectedMapping">
    Retry
  </span>

  <span *ngIf="applyingMapping">
          <pf-loading-indicator></pf-loading-indicator> Associating...
  </span>

</button>

<button *ngIf="mapped && (!applyingMapping)"
        type="button"
        class="btn btn-sm btn-outline-dark"
        disabled>
  Associated
</button>

<span *ngIf="applyingMappingError && selectedMapping" class="error-applying-message text-danger">
  <fa-icon [icon]="['fal','exclamation-triangle']"></fa-icon> Error Associating Job
</span>
