<button *ngIf="!mapped && ((applyingMapping && selectedMapping) || (!applyingMapping))"
        class="associate"
        (click)="handleApplyMappingClicked()">
  <fa-icon icon="exchange"></fa-icon>
  <span *ngIf="(!applyingMapping && !applyingMappingError) || (applyingMappingError && !selectedMapping)">
    Match
  </span>

  <span *ngIf="applyingMappingError && selectedMapping">
    Retry
  </span>

  <span *ngIf="applyingMapping">
          <pf-loading-indicator></pf-loading-indicator> Matching...
  </span>

</button>

<button *ngIf="mapped && (!applyingMapping)"
        type="button"
        class="btn btn-sm btn-outline-dark"
        disabled>
  Matched
</button>

<span *ngIf="applyingMappingError && selectedMapping" class="error-applying-message text-danger">
  <fa-icon [icon]="['fal','exclamation-triangle']"></fa-icon> Error Matching Job
</span>
