<pf-modal-form
  [size]="'sm'"
  [title]="'Discard'"
  [showFooter]="true"
  [centered]="true"
  [isOpen$]="cancelingPostReply$"
  [resetFormOnClose]="true"
  [showSubmit]="true"
  [primaryButtonText]="'Discard'"
  [secondaryButtonText]="'Cancel'"
  (onDismiss)="handleModalDismissed()"
  (onSubmit)="handleModalSubmit()">
  <ng-container basic-content>
    <div class="container m-2">
      <p>Are you sure you want to discard your work? All text and attachments will be removed.</p>
    </div>
  </ng-container>
</pf-modal-form>
