<pf-page-with-title-bar [returnUrl]="'/navigation'">
  <ng-container page-title>
    Map Default Scopes YOY - Select Company
  </ng-container>
  <ng-container page-content>
    <pf-data-list-card
      [loading]="loadingCompaniesListItem$ | async"
      [loadingError]="loadingCompaniesListItemError$ | async"
      [items]="companiesListItems$ | async"
      [filter]="companyFilter$ | async"
      (itemClicked)="handleCompanyClicked($event)"
      (filterChanged)="handleFilterChanged($event)"
      [dataName]="'Companies'"
      [filterPlaceholder]="'Search for a Company...'">
    </pf-data-list-card>
  </ng-container>
</pf-page-with-title-bar>
