<kendo-grid
  [data]="this.dataItem">
  <kendo-grid-column field="entity" title="Entity"></kendo-grid-column>
  <kendo-grid-column field="totalRecordCount" title="Total" width="100"></kendo-grid-column>
  <kendo-grid-column field="insertCount" title="Inserted" width="100"></kendo-grid-column>
  <kendo-grid-column field="updateCount" title="Updated" width="100"></kendo-grid-column>
  <kendo-grid-column field="deleteCount" title="Deleted" width="100"></kendo-grid-column>
  <kendo-grid-column field="validUnchangedCount" title="Unchanged" width="100"></kendo-grid-column>
  <kendo-grid-column field="invalidCount" title="Invalid" width="100"></kendo-grid-column>
</kendo-grid>
