<div class="page d-flex flex-column">
  <div class="header d-flex justify-content-between align-items-center">
    <div class="title d-flex">
      Data Insights
    </div>

    <a *ngIf="(reportBuilderSettingEnabled$ | async)"
       id="recent-download"
       [attr.data-qa-id]="lnk-recentDownloads"
       target="_blank"
       href="/client/notifications">Recent Downloads</a>

    <div class="actions d-flex space-out-children">
      <div class="search d-flex flex-nowrap" [attr.data-qa-id]="'cnt-search'"
        (click)="handleSearchClicked()">
        <div class="icon d-flex flex-column">
          <fa-icon icon="search"></fa-icon>
        </div>
        <div class="icon-title">
          <span>Search</span>
        </div>
      </div>
    </div>
  </div>

  <div class="featured-header d-flex flex-end align-items-center">

    <div (click)="toggleStandardReportsDisplay()" class="toggle-featured-btn" data-qa-id="cnt-showHideFeaturedSection">
      <fa-icon class="icon" icon="analytics"></fa-icon>
      <span class="title">Payfactors Reports</span>
      <fa-icon class="icon ml-3" icon="caret-down"></fa-icon>
    </div>
    
  </div>

  <div class="featured justify-content-center container-fluid"
    [ngClass]="showStandardReportsSection ? 'displayed' : ''">
    
    <div class="row align-items-center reports">
      <ng-container *ngFor="let standardReport of (standardReports$ | async)?.obj; let i = index; trackBy: trackByFn">
        <div class="col-12 col-sm-6 col-lg-3 h-100">
          <pf-standard-report [class.d-none]="i > 3 && !showAllStandardReports" [workbook]="standardReport"></pf-standard-report>
        </div>
      </ng-container>
    </div>
    <div class="row align-items-center" *ngIf="(standardReports$ | async)?.obj?.length > 4">
      <div class="col-12 toggle-show-more d-flex flex-nowrap" [attr.data-qa-id]="'cnt-showMore'"
        (click)="toggleShowAllStandardReports()">
        <ng-container *ngIf="!showAllStandardReports; else showLess">
          <div class="icon">
            <fa-icon icon="chevron-double-down"></fa-icon>
          </div>
          <div class="icon-title">
            Show More
          </div>
        </ng-container>
        <ng-template #showLess>
          <div class="icon">
            <fa-icon icon="chevron-double-up"></fa-icon>
          </div>
          <div class="icon-title">
            Show Less
          </div>
        </ng-template>
      </div>
    </div>

  </div>

  <div class="dashboards-section">

    <pf-dashboards *ngIf="!thumbnailsViewSettingEnabled"></pf-dashboards>
    
    <pf-views *ngIf="thumbnailsViewSettingEnabled"></pf-views>

  </div>

</div>

<pf-search-workbook-modal [thumbnailsViewSettingEnabled]="thumbnailsViewSettingEnabled"></pf-search-workbook-modal>
