@import 'colors';
@import 'data-insights-variables';

.header-bold {
  color: $header-color;
}

%icon {
  padding: 1rem 0.5rem 1rem 1rem;
  justify-content: center;
  fa-icon {
    font-size: 1.25em;
  }
}

%icon-title {
  padding: 1rem 0rem 1rem 0rem;
  font-size: 1.25rem;
}

.page {
  min-height: 100%;
  background-color: $grey;

  .header {
    height: 67px;
    padding: 0 75px;
    width: 100%;
    background-color: #ffffff;

    .title {
      color: $header-color;
      font-size: 2.5rem;
      font-weight: 500;
    }

    .actions {
      .btn {
        border: 1px solid transparent;
      }

      .search {
        cursor: pointer;

        .icon {
          @extend %icon;
        }

        .icon-title {
          @extend %icon-title;
          line-height: 2.5rem;
        }
      }
    }
  }

  .featured-header {
    background-color: #ffffff;
    height: 50px;
    color: #495057;
    font-size: 1.2rem;
    padding: 0 75px;

    .title {
      text-transform: uppercase;
    }

    .toggle-featured-btn {
      &:hover {
        cursor: pointer;
      }
    }

    .icon {
      margin-right: 1rem;
    }
  }

  .featured {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    background-color: #ffffff;
    border-bottom: 4px solid $border-grey;
    padding: 0 75px;

    .reports {
      visibility: hidden;
    }
  }

  .featured.displayed {
    max-height: 1400px;
    transition: max-height 0.5s ease-in;

    .reports {
      visibility: visible;
    }
  }

  .reports {
    transition-delay: 0.1s;
  }

  .dashboards {
    flex-grow: 1;
    position: relative;
  }

  .toggle-show-more {
    cursor: pointer;
    text-align: center;
    justify-content: center;

    .icon {
      @extend %icon;
    }

    .icon-title {
      @extend %icon-title;
    }
  }
}
@media (min-width: 1300px) {
  .col-xxl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
