<div class="page d-flex flex-column">
  <div class="d-flex justify-content-between align-items-center">
    <div class="header d-flex">
      Data Insights
    </div>

    <div class="d-flex space-out-children">
      <!--Future home for search-->
    </div>
  </div>

  <div class="featured justify-content-center container-fluid">
    <div class="row align-items-center">
      <ng-container *ngFor="let standardReport of (standardReports$ | async)?.obj; trackBy: trackByFn">
        <div class="col-12 col-sm-6 col-lg-3 h-100">
          <pf-standard-report [report]="standardReport"></pf-standard-report>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="dashboards">
    <pf-dashboards></pf-dashboards>
  </div>

</div>
