@import 'colors';
@import 'data-insights-variables';

.header-bold {
  color: $header-color;
}

.page {
  min-height: 100%;
  background-color: $grey;

  .header {
    height: 67px;
    padding: 0 2rem;
    width: 100%;
    background-color: #ffffff;

    .title {
      color: $header-color;
      font-size: 2.5rem;
      font-weight: 500;
    }

    .actions {
      .btn {
        border: 1px solid transparent;
      }

      .search {
        cursor: pointer;

        .icon {
          padding: 1rem 0.5rem 1rem 1rem;
          justify-content: center;
          fa-icon {
            font-size: 1.25em;
          }
        }

        .icon-title {
          padding: 1rem 1rem 1rem 0rem;
          font-size: 1.25rem;
          line-height: 2.5rem;
        }
      }
    }
  }

  .featured {
    min-height: 370px;
    background-color: #ffffff;
    border-bottom: 4px solid $border-grey;
    padding: 0 75px;
  }

  .dashboards {
    flex-grow: 1;
    padding: 1rem;
    position: relative;
  }
}
