<div class="page d-flex flex-column">
  <div class="header d-flex justify-content-between align-items-center">
    <div class="title d-flex">
      Data Insights
    </div>

    <div class="actions d-flex space-out-children">
      <div class="search d-flex flex-nowrap" (click)="handleSearchClicked()">
        <div class="icon d-flex flex-column">
          <fa-icon icon="search"></fa-icon>
        </div>
        <div class="icon-title">
          <span>Search</span>
        </div>
      </div>
    </div>
  </div>

  <div class="featured justify-content-center container-fluid">
    <div class="row align-items-center">
      <ng-container *ngFor="let standardReport of (standardReports$ | async)?.obj; trackBy: trackByFn">
        <div class="col-12 col-sm-6 col-lg-3 h-100">
          <pf-standard-report [workbook]="standardReport"></pf-standard-report>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="dashboards">
    <pf-dashboards></pf-dashboards>
  </div>

</div>

<pf-search-workbook-modal></pf-search-workbook-modal>
