<pf-data-grid
  [pageViewId]="'705B7FE1-42AB-4B57-A414-764E52981160'"
  [title]="getPageTitle(company$ | async)"
  [navigationURL]="'/client/dashboard'"
  [primaryKey]="'CompanyJob_ID'"
  [gridActionsTemplate]="gridActions"
  [columnTemplates]="colTemplates"
  [showFilterChooser]="false"
  [allowExport]="false"
  [splitViewTemplate]="jobsDetails" >
</pf-data-grid>

<ng-template #jobStatusColumn let-dataRow="dataRow">
  {{dataRow['CompanyJobs_JobStatus'] ? 'Active' : 'Inactive'}}
</ng-template>

<ng-template #jobsDetails let-splitViewEmitter="splitViewEmitter">
  <pf-jobs-details (onClose)="splitViewEmitter.emit('close')"></pf-jobs-details>
</ng-template>

<!--
<ng-template #complexColumn let-parameters="parameters">
  <pf-complex-column [parameters]="parameters"></pf-complex-column>
</ng-template>
<ng-template #complexColumn2 let-parameters="parameters">
  <pf-complex-column [parameters]="parameters"></pf-complex-column>
</ng-template> -->
