.hide-dropdown-arrow::after {
  display: none !important;
}

.inline-menu-btn {
  border-color: transparent;
  background: transparent;
}

.loading-icon-container {
  display: inline-block;
}
