<pf-data-grid
  [pageViewId]="pageViewId"
  [title]="getPageTitle(company$ | async)"
  [navigationURL]="'/client/dashboard'"
  [selectionField]="'CompanyJob_ID'"
  [gridGlobalActionsTemplate]="gridGlobalActions"
  [columnTemplates]="colTemplates"
  [filterPanelTemplate]="filterTemplates"
  [showFilterChooser]="true"
  [allowExport]="false"
  [defaultSort]="defaultSort"
  [enableSelection]="true"
  [splitViewTemplate]="jobsDetails"
  [noRecordsFound]="'No jobs available. Please change your search criteria or add a new job.'"
  [showActionBar]="true">
</pf-data-grid>

<ng-template #jobStatusColumn let-dataRow="dataRow">
  {{dataRow['CompanyJobs_JobStatus'] ? 'Active' : 'Inactive'}}
</ng-template>

<ng-template #hasPeerDataColumn let-dataRow="dataRow">
  <fa-icon icon="exchange-alt" *ngIf="dataRow['CompanyJobs_Exchange_ID']"></fa-icon>
</ng-template>

<ng-template #jobsDetails let-splitViewEmitter="splitViewEmitter" let-splitViewFilters="splitViewFilters">
  <pf-jobs-details
    [jobDetailsFilters]="splitViewFilters"
    (onClose)="splitViewEmitter.emit('close')"
    (tabChanged)="splitViewTabChange($event)">
  </pf-jobs-details>
</ng-template>

<ng-template #gridGlobalActions>
  <button
    [disabled]="!(selectedJobIds.length || selectedPricingIds.length)"
    [pfSecuredResource]="permissions.NEW_PROJECT"
    [attr.data-qa-id]="'btn-add-to-project'"
    type="button"
    (click)="showAddToProjectSummary()"
    title="Stuff and things"
    class="btn btn-secondary ml-2">
    Add to Project
    <span *ngIf="selectedJobIds.length + selectedPricingIds.length > 0">
      ({{selectedJobIds.length + selectedPricingIds.length}})
    </span>
  </button>
  <button
    [pfSecuredResource]="permissions.JOBS_ADD_EDIT_DELETE"
    [attr.data-qa-id]="'btn-newJob'"
    type="button"
    (click)="addingNewJob = true"
    class="btn btn-primary ml-2">
    New Job
  </button>
</ng-template>

<pf-modal-form
  [size]="'md'"
  [title]="'Add to Project'"
  [primaryButtonText]="'Add'"
  [primaryButtonTextSubmitting]="'Adding'"
  [modalId]="'au-modal-jobs-page-add-to-project'"
  [submitting]="(addingToProject$ | async)"
  [isOpen$]="showAddToProjectSummary$"
  (onSubmit)="addToProject()"
  (onDismiss)="dismissAddToProjectSummaryModal()"
>
  <ng-container basic-content>
    The following will be added to a new Project:
    <div>
      Job Count: {{selectedJobIds.length}}
    </div>
    <div>
      Pricing Count: {{selectedPricingIds.length}}
    </div>
  </ng-container>
</pf-modal-form>


<pf-job-management
  [showJobForm]="addingNewJob"
  (cancelChanges)="addingNewJob = false">
</pf-job-management>

<ng-template #peerFilter>
  <div class="row">
    <div class="col-6">
      <label>Peer:</label>
      <div>
        <kendo-dropdownlist
          [data]="peerFilterOptions"
          [textField]="'display'"
          [valueField]="'value'"
          [valuePrimitive]="true"
          [ngModel]="peerField.FilterValue"
          (valueChange)="handlePeerFilterChanged($event)"
          [attr.data-qa-id]="'ddm-operator-'+peerField.SourceName"
          class="k-dropdown-white form-control">
        </kendo-dropdownlist>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #payMarketFilter>
  <div>
    <label>
      Pay Market:
    </label>
      <kendo-dropdownlist
        [(ngModel)]="selectedPayMarket"
        [textField]="'Value'"
        [valueField]="'Id'"
        [defaultItem]="{Value:'All Pay Markets', Id: null}"
        [data]="filteredPayMarketOptions"
        (valueChange)="handlePayMarketFilterChanged($event)"
        [filterable]="true"
        (filterChange)="handleFilter($event)"
        [attr.data-qa-id]="'ddm-operator-'+payMarketField.SourceName"
        class="k-dropdown-white form-control"
      >
      </kendo-dropdownlist>
  </div>
</ng-template>
