<pf-data-grid
  [pageViewId]="pageViewId"
  [title]="getPageTitle(company$ | async)"
  [navigationURL]="'/client/dashboard'"
  [selectionField]="'CompanyJob_ID'"
  [gridGlobalActionsTemplate]="gridGlobalActions"
  [gridActionsTemplate]="gridActions"
  [columnTemplates]="colTemplates"
  [filterPanelTemplate]="filterTemplates"
  [showFilterChooser]="true"
  [allowExport]="false"
  [defaultSort]="defaultSort"
  [enableSelection]="true"
  [splitViewTemplate]="jobsDetails"
  [noRecordsFound]="'No jobs available. Please change your search criteria or add a new job.'"
[showActionBar]="true">
</pf-data-grid>

<ng-template #jobStatusColumn let-dataRow="dataRow">
  {{dataRow['CompanyJobs_JobStatus'] ? 'Active' : 'Inactive'}}
</ng-template>

<ng-template #hasPeerDataColumn let-dataRow="dataRow">
  <fa-icon icon="exchange-alt" *ngIf="dataRow['CompanyJobs_Exchange_ID']"></fa-icon>
</ng-template>

<ng-template #jobsDetails let-splitViewEmitter="splitViewEmitter" let-splitViewFilters="splitViewFilters">
  <pf-jobs-details
    [jobDetailsFilters]="splitViewFilters"
    (onClose)="splitViewEmitter.emit('close')">
  </pf-jobs-details>
</ng-template>

<ng-template #gridActions>
  <button
    [pfSecuredResource]="permissions.NEW_PROJECT"
    [attr.data-qa-id]="'btn-addJobsToProject'"
    type="button"
    [disabled]="!selectedKeys || selectedKeys.length==0"
    (click)="addJobsToProject()"
    class="btn btn-link">
    <span *ngIf="!(addingToProject$ | async)">
    <fa-icon icon="calculator"></fa-icon>
      Add
      <span *ngIf="selectedKeys?.length == 1"> Job</span>
      <span *ngIf="selectedKeys?.length > 1"> ({{selectedKeys?.length}}) Jobs</span>
      to Project
    </span>
  </button>
</ng-template>

<ng-template #gridGlobalActions>
  <button
    [pfSecuredResource]="permissions.JOBS_ADD_EDIT_DELETE"
    [attr.data-qa-id]="'btn-newJob'"
    type="button"
    (click)="addingNewJob = true"
    class="btn btn-primary">
    New Job
  </button>
</ng-template>

<pf-modal-form
  [modalId]="'au-modal-add-jobs-to-project'"
  [isOpen$]="addingToProject$"
  [size]="'md'"
  [submitting]="false"
  [showFooter]="false"
  [centered]="true"
  [allowDismiss]="false"
  [title]="'Add Jobs to Project'"
>
  <ng-container basic-content>
    <h4 class="text-center pb-3 pt-3">
      <fa-icon icon="spinner" spin="true"> </fa-icon>
      We are adding the selected
      <span *ngIf="selectedKeys?.length == 1"> job</span>
      <span *ngIf="selectedKeys?.length > 1"> jobs</span>
      to a Project
    </h4>
  </ng-container>
</pf-modal-form>

<pf-job-management
  [showJobForm]="addingNewJob"
  (cancelChanges)="addingNewJob = false">
</pf-job-management>

<ng-template #peerFilter>
  <div class="row">
    <div class="col-6">
      <label>Peer:</label>
      <div>
        <kendo-dropdownlist
          [data]="peerFilterOptions"
          [textField]="'display'"
          [valueField]="'value'"
          [valuePrimitive]="true"
          [ngModel]="peerField.FilterValue"
          (valueChange)="handlePeerFilterChanged($event)"
          [attr.data-qa-id]="'ddm-operator-'+peerField.SourceName"
          class="k-dropdown-white form-control">
        </kendo-dropdownlist>
      </div>
    </div>
  </div>
</ng-template>
