<pf-page-with-title-bar>
  <ng-container page-title>
    Template Management
  </ng-container>

  <ng-container page-actions>
    <button routerLink="/job-descriptions" class="btn btn-secondary management-action-btn" type="submit">Job Descriptions</button>
    <button (click)="showAddTemplateModal()" class="btn btn-primary management-action-btn" type="submit">New Template</button>
  </ng-container>

  <ng-container page-content>
    <div class="column-scroll-container col-12">
      <pf-template-list
        [templateListItems]="templateListItems$ | async"
        [loading]="templateListLoading$ | async"
        (openDeleteModal)="showDeleteModal($event)"
        (openCopyModal)="showCopyModal($event)">
      </pf-template-list>
    </div>

    <pf-new-template-modal (createTemplateComplete)="handleCreateTemplateComplete($event)"></pf-new-template-modal>
    <pf-copy-template-modal (copyTemplateComplete)="handleCopyTemplateComplete($event)"></pf-copy-template-modal>
  </ng-container>
</pf-page-with-title-bar>

<pf-simple-yes-no-modal [opts]="templateDeleteModalOptions" (actionConfirmed)="handleTemplateDelete($event)"></pf-simple-yes-no-modal>
