<pf-page-with-title-bar [absoluteUrl]="'/ng/site-admin/navigation'">

  <ng-container page-title>
    Custom Filter Categories
  </ng-container>

  <ng-container page-actions>
    <div class="omni-box">
      <pf-input-debounce [placeholderText]="'Search for a Custom Filter...'"
                         (valueChanged)="handleSearchChanged($event)">
      </pf-input-debounce>
    </div>
    <button type="button"
            class="btn btn-primary"
            (click)="openCreateTagCategoryModal()">Create</button>
  </ng-container>

  <ng-container page-content>
    <pf-async-container
      [loading]="tagCategoriesLoading$ | async"
      [loadingError]="tagCategoriesLoadingError$ | async"
      [loadingErrorMessage]="'Error loading custom filter categories'"
      (reload)="handleTagCategoriesGridReload()"
      class="flex-grow-1"
    >

      <kendo-grid class="no-wrap-ellipsis-values"
                  [data]="tagCategoriesGrid$ | async"
                  [scrollable]="true"
      >

        <kendo-grid-column field="DisplayName" title="Display Name">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{dataItem.DisplayName}}">{{dataItem.DisplayName}}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="EntityTypesFlag" title="Types">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>{{getEntityTypes(dataItem.EntityTypesFlag)}}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="Description" title="Description">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{dataItem.Description}}">{{dataItem.Description}}</span>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>

    </pf-async-container>
  </ng-container>

</pf-page-with-title-bar>

<pf-create-tag-category-modal></pf-create-tag-category-modal>
