<pf-page-with-title-bar [absoluteUrl]="'/ng/site-admin/navigation'">

  <ng-container page-title>
    Custom Filter Categories
  </ng-container>

  <ng-container page-actions>
    <div class="omni-box">
      <pf-input-debounce [placeholderText]="'Search for a Custom Filter...'"
                         (valueChanged)="updateSearchFilter($event)">
      </pf-input-debounce>
    </div>
    <button type="button"
            class="btn btn-primary"
            (click)="openCreateTagCategoryModal()">Create</button>
  </ng-container>

  <ng-container page-content>
    <pf-tag-categories-list
      [InAddTagCategoriesModal]="false"
    ></pf-tag-categories-list>
  </ng-container>

</pf-page-with-title-bar>

<pf-create-tag-category-modal></pf-create-tag-category-modal>
