@import 'jobs-page-colors';

.access-project-link {
  color: #006699;
  text-decoration: underline;
}

:host ::ng-deep .project-grid-action-bar {
  background-color: $sub-grid-action-bar-background-color;
}

:host ::ng-deep .project-grid-header {
  background-color: $sub-grid-header-color !important;
  border: none;
  color: $sub-grid-header-font-color;
  font-weight: $sub-grid-header-font-weight !important;
  text-align: left !important;
}
