<div *ngIf="!connectionSummary?.hasConnection">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No HRIS Integration to Display</h4>
    <p>
      Click the button below to create a new integration.
    </p>
  </div>
  <div class="w-100 text-center">
    <button type="button" (click)="createNewIntegration()" class="btn btn-primary px-4">Create New Integration</button>
  </div>
</div>
<div *ngIf="connectionSummary?.hasConnection" class="row justify-content-center py-4">
  <div class="col col-sm-6">
    <img [src]="connectionSummary?.provider?.ImageUrl" [alt]="connectionSummary?.provider?.ProviderName" class="img-fluid" />
  </div>
</div>
