.rangeChart {
  position: absolute;
  width: 100%;
  display: block;
  margin-bottom: 25px;
}

.rangeChartWithGroup {
  position: absolute;
  width: 100%;
  display: block;
  margin-bottom: 25px;
  margin-top: 45px;
}

::ng-deep .split-view-container {
  margin-bottom: 44px;
}
