.summary-container {
  flex-grow: 1;
  margin-top: 2rem;
  overflow: hidden;

  .summary {
    margin-left: 2.5rem;
    min-width: 550px;
    max-width: 1500px;

    overflow-y: hidden;
    height: 100%;

    .summary-content {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      overflow-y: auto;
    }
  }
}
