<pf-card-layout
  pageTitle="Summary"
  pageIconClass="file-alt"
  [page]="comphubPages.TrendsSummary">
  <ng-container page-content>
    <ng-container *ngTemplateOutlet="summary"></ng-container>
  </ng-container>
</pf-card-layout>

<ng-template #summary>
  <div class="h-100 summary-container">
    <div class="d-flex h-100">
      <pf-side-bar-info-component class="h-100" [sidebarGroups]="getSidebarGroups()"></pf-side-bar-info-component>
      <!-- summary content -->
      <div class="summary">
          <pf-async-container [loading]="(peerTrends$ | async).loading">
            <div class="summary-content">
              <pf-historical-trend-chart
                [isHourly]="false"
                [currencyCode]="'USD'"
                [salaryTrendData]="jobSalaryTrend">
              </pf-historical-trend-chart>

              <pf-historical-org-inc-count-chart
                [orgIncCountData]="trendOrgIncCountHistory"
                [countType]="'Inc'"
                [useTrendsDomain]="true"
                [width]="600"
                [height]="400"
                [titleMargin]="50"
                [legendTitle]="'Incumbent Count'">
              </pf-historical-org-inc-count-chart>

              <div class="text-align-right">
                <div class="pf-link-hover mr-3" (click)="handleExportExchangeJobs()">Export Exchange Jobs</div>
                <div class="pf-link-hover mr-3" (click)="handleExportCompanyJobs()">Export Company Jobs</div>
              </div>

            </div>
          </pf-async-container>
        </div>
      </div>
    </div>
</ng-template>
