<ng-container *ngIf="!!employeeRewardsData && !!statement">
  <span *ngIf="showPayfactorsLogo" class="navbar-brand logo mr-auto">
    <img src="/client/total-rewards/assets/payfactors-transparent.png"/>
  </span>
  <pf-page-with-title-bar class = "desktop">
      <ng-container page-title>
        {{statementTitle}}
    </ng-container>
    <ng-container page-actions>
      <button type="button"
              class="btn btn-secondary"
              [attr.data-qa-id]="'btn-downloadPdf'"
              (click)="downloadStatement()"
              ngbTooltip="Export">
        <fa-icon [icon]="'download'" aria-hidden="true"></fa-icon>
      </button>
    </ng-container>
    <ng-container page-content>
      <div class="canvas mx-auto pb-1 mt-2" >
        <pf-async-container [loading]="loading"
                            [loadingError]="loadingError">
          <ng-container basic-content>
            <div class="text-center">
              <div class="grey-border text-left d-inline-block">
                <pf-total-rewards-statement
                  [statement]="statement"
                  [mode]="mode"
                  [loadingData]="loading"
                  [employeeRewardsData]="employeeRewardsData"
                ></pf-total-rewards-statement>
              </div>
            </div>
          </ng-container>
        </pf-async-container>
      </div>
    </ng-container>
  </pf-page-with-title-bar>
  <div class="justify-content-center h-100 mobile">
    <div class="bg-white h-100">
      <img height="55" width="220px" class="mobile-img" src="/client/total-rewards/assets/images/payfactors-logo.png" alt="payfactors-logo">
      <hr>
      <div class="mobile-text">
        <div>Your Total Rewards Statement is ready for review! Tap "View Statement" to see more.</div>
        <div class="mobile-title">{{statement.StatementName}}</div>
        <div class="mobile-middle-text">
          <div>
            {{
              (employeeRewardsData.EmployeeFirstName || employeeRewardsData.EmployeeLastName) ?
              employeeRewardsData.EmployeeFirstName + ' ' + employeeRewardsData.EmployeeLastName :
              employeeRewardsData.EmployeeId
            }}
          </div>
          <div>Effective Date: {{currentdate}}</div>
        </div>
      </div>
      <button type="button"
              class="mobile-btn btn btn-primary"
              [attr.data-qa-id]="'btn-mobile-downloadPdf'"
              (click)="downloadStatement()"
              ngbTooltip="Export">
        View Statement
      </button>
    </div>
  </div>
  <pf-total-rewards-statement-download
    [statement]="statement"
    [employeeRewardsData]="employeeRewardsData">
  </pf-total-rewards-statement-download>
</ng-container>
