.grey-border {
  border: 2rem solid #e8e8e8;
}

.logo {
  position: absolute;
  top: 0;
  color: #fff;
  z-index: 1031;
  img {
    height: 35px;
  }
}

.mobile{
  display: none;
}

//mobile
@media only screen and (max-width: 767px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-top: 5%;
  }

  .mobile-img {
    margin-top: 10%;
  }

  hr {
    width: 80%;
  }

  .mobile-text{
    margin-right: 5%;
    margin-left: 5%;
  }

  .mobile-middle-text{
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .mobile-title{
    font-weight: bold;
    margin-top: 20%;
  }

  .mobile-btn{
    width: 75%;
  }
}
