<ng-container *ngIf="!!employeeRewardsData && !!statement">
  <pf-page-with-title-bar>
      <ng-container page-title>
        {{statementTitle}}
    </ng-container>
    <ng-container page-actions>
      <button type="button"
              class="btn btn-secondary"
              [attr.data-qa-id]="'btn-downloadPdf'"
              (click)="downloadStatement()"
              ngbTooltip="Export">
        <fa-icon [icon]="'download'"  aria-hidden="true"></fa-icon>
      </button>
    </ng-container>
    <ng-container page-content>
      <div class="canvas mx-auto pb-1 mt-2" >
        <pf-async-container [loading]="loading"
                            [loadingError]="loadingError">
          <ng-container basic-content>
            <div class="text-center">
              <div class="grey-border text-left d-inline-block">
                <pf-total-rewards-statement
                  [statement]="statement"
                  [mode]="mode"
                  [loadingData]="loading"
                  [employeeRewardsData]="employeeRewardsData"
                ></pf-total-rewards-statement>
              </div>
            </div>
          </ng-container>
        </pf-async-container>
      </div>
    </ng-container>
  </pf-page-with-title-bar>

  <pf-total-rewards-statement-download
    [statement]="statement"
    [employeeRewardsData]="employeeRewardsData">
  </pf-total-rewards-statement-download>
</ng-container>
