@import 'comphub-variables';
@import 'common/common-variables';

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  border: none;
}

.card-header {
  padding: 2.5rem 1.25rem;
  height: 100%;
  width: 60px;
  position: relative;
  margin-bottom: 1px;
  margin-right: 8px;
  background-color: $comphub-header-background-grey;
  display: block;
  z-index: 1000;

  &:hover {
    cursor: pointer;
  }

  &.disabled {
    cursor: initial;

    .card-title, .card-icon {
      cursor: default;
      color: $comphub-disabled-grey;
    }
  }
}

.card-title,
.card-icon {
  color: $comphub-header-blue;
  font-size: 2rem;
}

.card-title,
.card-subtitle {
  writing-mode: vertical-lr;
  margin-left: 0px;
  margin-top: .5rem;
}

.card-title {
  line-height: 25px;
}

.card-subtitle {
  line-height: normal;
  font-size: 16px;
  height: 80%;
  @extend %ellipsis-overflowing-text;
}

.card-content-container {
  height: 100%;
  position: relative;
  transition: width 0.35s ease 0.2s;
  margin-bottom: 0px;
}
