<div class="card" id="{{cardId}}">

  <div class="card-content-container" [class.selected]="selected"
    [ngStyle]="{ 'width.px': selected ? containerWidth : 0 }">
    <div class="card-content">
      <ng-content select="[card-content]"></ng-content>
    </div>
  </div>

  <div class="card-header" [class.selected]="selected"
    [attr.data-qa-id]="'cnt-cardHeader'"
    (click)="handleCardHeaderClick()">
    <i class="fa {{cardIconClass}} card-icon" aria-hidden="true"></i>
    <span class="card-title">{{cardTitle}}</span>
    <span class="card-subtitle">{{cardSubtitle}}</span>
  </div>

</div>
