@import 'colors';
@import 'data-insights-variables';

.k-autocomplete {
  margin: 1rem;
  width: 94%;
  padding-right: 0;
  font-size: 16px;
}

.add-icon {
  color: $dark-grey;
  padding-right: .3rem;
}

::ng-deep {
  .k-outer-group-header {
    color: $icon-blue-color
  }

  .k-animation-container-shown {
    .k-popup {
      min-height: 150px;
    }
  }
}
