@import 'colors';
@import 'data-insights-variables';
@import 'data-insights-styles';
@import 'common/common-variables';

.add-report-fields {
  background-color: lightgray;
}

.k-autocomplete {
  margin: 1rem;
  width: 94%;
  padding-right: 0;
  font-size: 16px;
}

.add-icon {
  color: $dark-grey;
  padding-right: .3rem;
}

.field {
  .title {
    @extend %ellipsis-overflowing-text;

    &.selected {
      width: 100%;
    }
  }
}
