<div class="w-100 add-report-fields">
  <kendo-autocomplete
    #reportFieldsList
    [data]="filteredFields"
    [placeholder]="'Search Report Fields'"
    [filterable]="true"
    [itemDisabled]="itemDisabled"
    [valueField]="'DataElementId'"
    [popupSettings]="{appendTo: 'component'}"
    (valueChange)="handleValueChanged($event)">

    <ng-template kendoAutoCompleteItemTemplate let-dataItem>
      <div class="d-flex field">
        <span class="title" [class.selected]="dataItem.IsSelected">{{dataItem.DisplayName}}</span>
        <span *ngIf="dataItem.IsSelected" class="badge badge-info added-badge">Added</span>
      </div>
    </ng-template>
  </kendo-autocomplete>
</div>

