<div>
  <h4>Select Location</h4>
  <kendo-combobox 
    id="au-txt-location-search"
    [data]="locationResults$ | async" 
    placeholder="Northeast, Dallas, WI"
    [filterable]="true"
    (filterChange)="onLocationSearchTermChange($event)"
    (valueChange)="onLocationSelectionChange($event)"
    [valuePrimitive]="false"
    [textField]="'name'"
    [valueField]="'id'"
  >
    <ng-template kendoComboBoxItemTemplate let-dataItem>
      <span class="mr-1">{{ dataItem.name }}</span>
      <span [ngClass]="dataItem.locationType">({{ dataItem.locationType }})</span>
    </ng-template>
  </kendo-combobox>
  <button id="au-btn-price-job" class="btn btn-primary mt-3" [disabled]="!(selectedLocation$ | async)">Price Job</button>
</div>