@import 'common/common';
@import 'data-insights-variables';
@import 'data-insights-styles';

.top-bar {
  height: 60px;
  position: relative;
  margin-top: 1rem;

  .dashboards-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $dark-grey;

    .dashboard-view {
      float: right;
    }

    .dashboard-actions {
      position: relative;
      justify-content: center;

      .right-container {
        position: absolute;
        right: 0;
        padding-top: 5px;

        .new {
          margin-left: 1rem;
          .btn {
            width: 75px;
          }
        }
      }

      .shift-right {
        right: 77px !important;
      }
    }

    .view-selector{
      text-align: center;
    }
    
    .tag-dropdown {
      width: 150px;
      text-transform: none;
      background-color: white;

      &:hover{
        background: darken($grey, 5%);
      }
    }
    #tag-icon {
      color: #0883BE;
    }

    span {
      padding: 0.375rem 0.75rem;
    }
  }

  .error-message {
    position: absolute;
    left: 15px;
    top: 15px;
  }
}