<div class="top-bar">
  <div class="dashboards-title">
    <div class="ml-auto mr-auto">
      <div class="d-flex flex-nowrap dashboard-actions">
        <div class="view-selector">
          <span class="d-inline-block dashboard-view" *ngIf="!hasFavorites">{{title}}</span>
          <kendo-dropdownlist *ngIf="hasFavorites"
                              class="dashboard-view"
                              [attr.data-qa-id]="'ddm-dashboard-views'"
                              [data]="dashboardViews"
                              [ngModel]="selectedDashboardView"
                              [popupSettings]="{appendTo: 'component'}"
                              (valueChange)="handleViewChanged($event)">
          </kendo-dropdownlist>
        </div>

        <div class="d-flex flex-row right-container" [class.shift-right]="tagsEnabled">
          <div class="tag-container" *ngIf="tagsEnabled">
            <kendo-dropdownlist #tagsDropDownList
                                class="tag-dropdown"
                                [attr.data-qa-id]="'ddm-tags'"
                                [data]="distinctTagsByView$ | async"
                                [defaultItem]="'All'"
                                [value]="tagFilter$ | async"
                                [popupSettings]="{width: 200}"
                                (valueChange)="handleTagChanged($event)">
              <ng-template kendoDropDownListValueTemplate let-dataItem>
                <fa-icon icon="tags" id="tag-icon"></fa-icon>
                <span [title]="dataItem">{{ dataItem }}</span>
              </ng-template>
              <ng-template kendoDropDownListItemTemplate let-dataItem>
                <span [title]="dataItem">{{ dataItem }}</span>
              </ng-template>
            </kendo-dropdownlist>
          </div>

          <div *ngIf="reportBuilderSettingEnabled && (baseEntitiesAsync$ | async)?.obj?.length" class="new">
            <button type="button" class="btn light-blue-btn" [attr.data-qa-id]="'btn-new'" (click)="handleNewReportClicked()">New</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<pf-save-user-workbook-modal *ngIf="(baseEntitiesAsync$ | async)?.obj?.length"
  [baseEntities]="(baseEntitiesAsync$ | async)?.obj"
  [saving]="savingUserDataView$ | async"
  [saveNameConflict]="savingUserDataViewConflict$ | async"
  [saveError]="savingUserDataViewError$ | async"
  (saveClicked)="handleSaveUserDataViewClicked($event)">
</pf-save-user-workbook-modal>
