<ng-template #createFormulaFieldModal>
  <div class="modal-header">
    <h4>Create Formula Field</h4>
  </div>

  <div class="modal-body d-flex flex-column">
    <div class="instructions">
      Instructions
    </div>

    <form [formGroup]="createFormulaFieldForm">
      <div class="form-group">
        <label class="field-name-label">Custom Formula Field Name</label>
        <input type="text" class="form-control"
          [attr.data-qa-id]="'txt-fieldName'"
          [placeholder]="'Field Name...'"
          [value]="fieldName"
          ngbAutoFocus
          [maxlength]="maxFieldNameLength"
          formControlName="fieldName"
          name="fieldName" #formFieldName/>
        <div class="text-danger mt-2" *ngIf="formFieldName.value.length > maxFieldNameLength">
          Field name must be no longer than {{maxFieldNameLength}} characters.
        </div>
      </div>

      <div class="form-group">
        <textarea class="formula" [placeholder]="'Formula'"></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" [attr.data-qa-id]="'btn-cancel'" class="btn btn-secondary" (click)="close()">Cancel</button>
    <button type="button" [attr.data-qa-id]="'btn-save'" class="btn light-blue-btn"
      [disabled]="saveDisabled"
      (click)="handleSaveClicked()">
      <span *ngIf="!saving">Save</span>
      <span *ngIf="saving"><pf-loading-indicator></pf-loading-indicator> Saving...</span>
    </button>
  </div>
</ng-template>