.job-insights-container {
  height: calc(100% - 49px);
  overflow-y: auto;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.action-bar-container {
  height: 65px;
}

.font-weight-bold {
  font-weight: 600;
}

.link {
  color: #027BC5;
  cursor: pointer;
}

.job-details-container {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}

.graph-container {
  margin-bottom: 10px;
}
