.job-insights-container {
  height: calc(100% - 49px);
  overflow-y: auto;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.action-bar-container {
  height: 65px;
}

.font-weight-bold {
  font-weight: 600;
}

.link {
  color: #027BC5;
  cursor: pointer;
}

.graph-container {
  min-height: 100px;
  margin-top: 1rem;
}

$job-insights-button-color: #3D0FC8;

.btn-add-data {
  background-color: $job-insights-button-color;
  color: #fff;
  border-radius: 4px;
  border-color: $job-insights-button-color;
  &:hover, &:not(:disabled):not(.disabled):active{
    background-color: darken($job-insights-button-color, 5%);
  }
}
