<pf-async-container [loading]="(jobInsightsAsync$ | async)?.loading">
  <div class="p-3 job-insights-container">
    <div class="d-flex flex-column">
      <div class="d-flex pb-4 flex-wrap">
        <div class="d-flex flex-grow-1">
          <div>
            <kendo-dropdownlist
              [attr.data-qa-id]="'ddm-job-insights-paymarket'"
              [data]="payMarkets"
              [textField]="'PayMarket'"
              [valueField]="'CompanyPayMarketId'"
              [kendoDropDownFilter]="filterSettings"
              [valuePrimitive]="true"
              [ngModel]="selectedPayMarketId"
              [style.width.px]="250"
              class="k-dropdown-white"
              (valueChange)="handlePayMarketValueChanged($event)">
      
              <ng-template kendoDropDownListItemTemplate let-dataItem>
                <div pfEllipsisActive class="ellipsis-overflowing-text">
                  <span>{{ dataItem.PayMarket }}</span>
                </div>
              </ng-template>
            </kendo-dropdownlist>
          </div>
          <div class="d-flex flex-grow-1"></div>
        </div>
      </div>
      <ng-container *ngIf="jobInsights?.JobSummary?.length">
        <div class="card mb-3">
          <div class="card-body">
            <div class="title">Job Summary</div>
            <ng-container *ngIf="jobInsights.JobSummary !== multipleJobDescriptions; else multipleJobDescriptionsTemplate">
              <pf-ellipsis-view-more [copy]="true" [content]="jobInsights.JobSummary" [maxLength]="600"></pf-ellipsis-view-more>
            </ng-container>
          </div>
        </div>
      </ng-container>
  
      <ng-container *ngIf="jobInsights">
        <div class="card mb-3">
          <div class="card-body">
            <div class="title">Job Details</div>
            <ng-container [ngTemplateOutlet]="jobDetailsFields"
                          [ngTemplateOutletContext]="{fields: standardFields, subTitle: 'STANDARD FIELDS'}">
            </ng-container>
            <ng-container *ngIf="!!customFields?.length && isViewMore">
              <ng-container [ngTemplateOutlet]="jobDetailsFields"
                            [ngTemplateOutletContext]="{fields: customFields, subTitle: 'CUSTOM FIELDS'}">
              </ng-container>
            </ng-container>
            <div *ngIf="!!customFields?.length" class="d-flex justify-content-end">
              <div class="link" (click)="toggleViewMore()">
                <span *ngIf="!isViewMore">view more</span>
                <span *ngIf="isViewMore">view less</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</pf-async-container>

<ng-template #multipleJobDescriptionsTemplate>
  <span>{{multipleJobDescriptions}}</span>
</ng-template>

<ng-template #jobDetailsFields let-fields="fields" let-subTitle="subTitle">
  <div class="card-subtitle text-muted py-3">{{subTitle}}</div>
  <div class="row">
    <div class="col-6 px-3">
      <div *ngFor="let field of fields; let isOdd=odd;" class="pl-1">
        <div *ngIf="!isOdd" class="row">
          <label class="col-4">{{field.Key}}</label>
          <div class="col-8 font-weight-bold">{{field.Value | emptyPlaceholder}}</div>
        </div>
      </div>
    </div>
    <div class="col-6 px-3">
      <div *ngFor="let field of fields; let isOdd=odd;">
        <div *ngIf="isOdd" class="row">
          <label class="col-4">{{field.Key}}</label>
          <div class="col-8 font-weight-bold">{{field.Value | emptyPlaceholder}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
