<div class="w-100">
  <form [formGroup]="workdayRestForm" (ngSubmit)="onSubmit()" class="needs-validation">
    <div class="d-flex flex-row w-100">
      <div class="d-flex flex-column w-100">
        <div class="d-flex flex-row p-1 w-50">
          <div class="col-3">
            <label class="mr-2" for="username">
              Username*
            </label>
          </div>
          <div class="col-9">
            <div class="form-group pb-2 ml-auto w-100">
              <input id="username"
                    name="username"
                    type="text"
                    class="form-control mb-1 w-100"
                    [ngClass]="{ 'is-invalid': submitted && workdayRestForm.controls.username.errors }"
                    [pfDisableFormControl]="waitingForAuthentication"
                    formControlName="username">
              <div *ngIf="submitted && workdayRestForm.controls.username.errors" class="invalid-feedback">
                  <div *ngIf="workdayRestForm.controls.username.errors.required">Username is required</div>
                  <div *ngIf="workdayRestForm.controls.username.errors.pattern">Username is not in correct format</div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row p-1 w-50">
          <div class="col-3">
            <label class="mr-2" for="password">
              Password*
            </label>
          </div>
          <div class="col-9">
            <div class="form-group pb-2 ml-auto w-100">
              <input id="password"
                      name="password"
                      type="password"
                      class="form-control w-100"
                      [ngClass]="{ 'is-invalid': submitted && workdayRestForm.controls.password.errors }"
                      [pfDisableFormControl]="waitingForAuthentication"
                      formControlName="password">
              <div *ngIf="submitted && workdayRestForm.controls.password.errors" class="invalid-feedback">
                <div *ngIf="workdayRestForm.controls.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-light mt-4 mb-3 p-3" *ngIf="this.enabledControls.length > 0">
          <h6>Report URLs</h6>
          <ng-container *ngFor="let item of this.enabledControls; let i = index">
            <div class="d-flex flex-row">
              <div class="col-3">
                <label class="p-2 ml-4" [htmlFor]="item.FieldName" *ngIf="ctrlVisibility[item.FieldName]">
                  {{ item.FieldValue }}*
                </label>
              </div>
              <div class="col-9">
                <div class="form-group pb-2 ml-auto w-100" *ngIf="ctrlVisibility[item.FieldName]">
                  <input [id]="item.FieldName"
                        [name]="item.FieldName"
                        type="text"
                        class="form-control w-100"
                        [ngClass]="{ 'is-invalid': submitted && workdayRestForm.controls[item.FieldName].errors }"
                        [pfDisableFormControl]="waitingForAuthentication"
                        [formControlName]="item.FieldName">
                  <div *ngIf="submitted && workdayRestForm.controls[item.FieldName].errors" class="invalid-feedback">
                    <div *ngIf="workdayRestForm.controls[item.FieldName].errors.required">{{ item.FieldValue }} Report URL is required</div>
                    <div *ngIf="workdayRestForm.controls[item.FieldName].errors.pattern">Report URL is not in correct format</div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="pb-1 d-flex justify-content-end" *ngIf="!validated">
      <div class="p-2">
        <button id="cancel" type="button" class="btn btn-outline-danger px-4" (click)="cancelAuthenticationClick()">Cancel</button>
      </div>
      <div class="p-2">
        <button id="back" type="button" class="btn btn-secondary px-4" (click)="backBtnClick()">Back</button>
      </div>
      <div class="p-2">
        <button id="authenticate" [disabled]="waitingForAuthentication" class="btn btn-primary px-4">Next</button>
      </div>
    </div>
  </form>
</div>
