.alert {
  background-color: #FFFDD0;
  border-color: #FFFDD0;
  margin-left: 5px;
  width: auto;
}

.alert-link-wrapper {
  display: inline;
  margin-left: 250px;
}

.alert-link-wrapper a {
  cursor: pointer;
}

.metadata-wrapper {
  margin: 8px 5px 0 0;
}

h4 {
  margin: 5px 10px 0 0;
  padding: 0;
  display: inline-block;
}

.overflow {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
