@import "colors";
@import "tickets-page";

.file-name {
  font-size: 1.1em;
}

.break-word {
  word-break: break-all;
  word-wrap: normal;
}

.pf-secondary-color {
  color: $pf-brand-secondary-color;
}

.pf-secondary-background {
  background-color: $pf-brand-secondary-color;
  border-color: $pf-brand-secondary-color;
}

.pf-grey {
  color: #999999;
}

.pf-link-text {
  color: rgb(33, 37, 41);
}

.uppercase {
  text-transform: uppercase;
}

.actions-cell {
  vertical-align: middle;
}

.upload-complete {
  color: rgb(0, 153, 0) !important;
}
