<div class="detail-card mb-2"
     *ngIf="ticketAttachments && ticketId">
  <div class="uppercase ticket-header">Attachments
  </div>
  <div class="mx-3 pt-4 pb-2">
    <pf-attachment-upload [ticketId]="ticketId"
                          (addAttachments)="addUploadedAttachments($event)">
    </pf-attachment-upload>
    <div id="section-existin-attachments"
         class="row"
         *ngIf="ticketAttachments.length || uploadedAttachments.length">
      <div class="container  p-0">
        <hr class="w-100"
            *ngIf="ticketAttachments.length || uploadedAttachments.length" />
        <div id="existing-attachments"
             class="row"
             *ngFor="let attachment of uploadedAttachments.concat(ticketAttachments); let lastFile = last;">
          <div class="col col-12">
            <div class="row">
              <div class="col-6">
                <a class="pf-link-text {{attachment.FileState | getUploadProgressCssClass}}"
                   href="/odata/CloudFiles.DownloadUserTicketAttachment?AttachmentId={{attachment.AttachmentId}}&TicketID={{ticketId}}"
                   title="{{attachment.DisplayName}}">
                  <h5 class="file-name break-word">
                    <fa-icon icon="{{attachment.ExtensionCssClass}}"
                             size="lg"
                             class="pf-grey mr-1"></fa-icon>
                    {{attachment.DisplayName}}
                  </h5>
                </a>
                <div class="text-muted">
                  Date: {{attachment.CreateDate | date:'shortDate'}} Time: {{attachment.CreateDate | date:'shortTime'}}
                </div>
              </div>
              <div class="col-6 text-right actions-cell">
                <a href="/odata/CloudFiles.DownloadUserTicketAttachment?AttachmentId={{attachment.AttachmentId}}&TicketID={{ticketId}}"
                   title="download">
                  <fa-icon icon="download"
                           size="lg"
                           class="pf-secondary-color"></fa-icon>
                </a>
                &nbsp;
                <a href="javascript:void(0)"
                   title="remove"
                   (click)="openModal(attachment.AttachmentId)">
                  <fa-icon icon="times"
                           size="lg"
                           class="pf-secondary-color"></fa-icon>
                </a>
              </div>
            </div>
            <div class="col-12 mt-1 p-0">
              <hr *ngIf="!lastFile" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pf-attachment-delete-modal *ngIf="canModalOpen()"
                            [request]="this.deleteRequest"></pf-attachment-delete-modal>
