<pf-data-grid
  [pageViewId]="pageViewId"
  [showTitle]="false"
  [actionBarConfig]="actionBarConfig"
  [columnTemplates]="colTemplates"
  [inboundFilters]="filters"
  [defaultSort]="defaultSort"
  [selectionField]="hasEmployeeDetailsFlagEnabled ? 'CompanyEmployee_ID' : undefined"
  [expandedRowTemplate]="hasEmployeeDetailsFlagEnabled ? employeeDetails : undefined"
  [headerClassName]="'jobs-page-sub-grid-header'"
  [pageTheme]="pfThemeType.JobDetails"
  [borders]="false"
  [noRecordsFound]="'There are no employees in this Job.'"
  [gridConfig]="gridConfig"
  [pageable]="!gridConfig.EnableInfiniteScroll"
  [hasHeaderDividers]="true"
  [useReportingDB]="true"
  [fieldsExcludedFromExport] = fieldsExcludedFromExport>
</pf-data-grid>

<ng-template #employeeDetails let-dataRow="dataRow">
  <ng-template #closeButton>
    <div class="close-btn">
      <fa-icon
        [icon]="['far', 'times']" title="Close"
        [attr.data-qa-id]="'btn-employee-details-close'"
        [fixedWidth]="true"
        [size]="'lg'"
        (click)="closeExpandedRow('CompanyEmployees_CompanyEmployee_ID', dataRow['CompanyEmployees_CompanyEmployee_ID'])">
      </fa-icon>
    </div>
  </ng-template>

  <pf-employee-details
    [employeeDetails]="dataRow | employeeDetails"
    [theme]="pfThemeType.Default"
    [optionalCloseButton]="closeButton"
  >
  </pf-employee-details>
</ng-template>

<ng-template #employeeColumn let-dataRow="dataRow">
  <ng-container *ngIf="dataRow['CompanyEmployees_First_Name'] || dataRow['CompanyEmployees_Last_Name']; else noEmployeeName">
    {{dataRow['CompanyEmployees_First_Name']}} {{dataRow['CompanyEmployees_Last_Name']}}
    <small> <em class="text-muted">({{dataRow['CompanyEmployees_Employee_ID']}})</em></small>
  </ng-container>
  <ng-template #noEmployeeName>
    {{dataRow['CompanyEmployees_Employee_ID']}}
  </ng-template>
</ng-template>

<ng-template #currencyColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow[fieldName] | comp: dataRow['CompanyEmployees_Rate'] | emptyPlaceholder"></span>
  </div>
</ng-template>

<ng-template #percentMrpColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow[fieldName] | number: '1.1-1' | emptyPlaceholder"></span>
  </div>
</ng-template>

<ng-template #payMarketFilter>
  <kendo-dropdownlist
    style="width: 250px"
    [(ngModel)]="selectedPayMarket"
    [textField]="'Value'"
    [valueField]="'Id'"
    [defaultItem]="{Value:'All Pay Markets', Id: null}"
    [data]="filteredPayMarketOptions"
    (valueChange)="handlePayMarketFilterChanged($event)"
    [filterable]="true"
    (filterChange)="handleFilter($event)"
    [attr.data-qa-id]="'ddm-operator-'+payMarketField.SourceName"
    class="k-dropdown-white form-control"
  >
  </kendo-dropdownlist>
</ng-template>
