<div class="my-4 mx-3">
  <div class="float-right"><h5 style="opacity: 0.6;">STEP 1/5</h5></div>
  <div class="m-5">
    <div style="display:none;">
      <div class="col-4 mb-4 p-0">
        <pf-transfer-method-dropdown
          [transferMethods]="outboundTransferMethods$ | async"
          (transferMethodSelected)="setOutboundSelectedTransferMethod($event)">
        </pf-transfer-method-dropdown>
      </div>
    </div>
    <div>
      <div class="mb-4">
        <h5>Select vendor from the list below.</h5>
      </div>
      <div class="card-deck">
        <pf-provider-card *ngFor="let provider of outboundProviders$ | async"
          [provider]="provider"
          [selectedProvider]="outboundSelectedProvider?.ProviderId"
          (providerSelected)="setOutboundSelectedProvider($event)">
        </pf-provider-card>
      </div>
    </div>
    <div *ngIf="outboundProviders$ | async" class="d-flex justify-content-end">
        <div class="p-2">
          <button type="button" class="btn btn-outline-danger px-4" (click)="cancelTransferDataWorkflow()">Cancel</button>
        </div>
        <div class="p-2">
          <button type="button" class="btn btn-primary px-4" [disabled]="!outboundSelectedProvider" (click)="next(outboundSelectedProvider?.ProviderId)">Next</button>
        </div>
    </div>
  </div>
</div>

