<div class="svg-container" [class.show-overlay]="showOverlay">
  <svg viewBox="0 0 100 100" width="350" height="350" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern [attr.id]="workbook.WorkbookId" patternUnits="userSpaceOnUse" width="100" height="100">
        <image [attr.xlink:href]="workbook.Thumbnail" x="-25" width="150" height="100" />
      </pattern>
    </defs>
    <polygon class="hex-outer" points="25,8 75,8 100,50 75,92 25,92 0,50"/>
    <polygon class="hex-image" points="25,8 75,8 100,50 75,92 25,92 0,50" [attr.fill]="'url(#'+ workbook.WorkbookId+')'" transform="scale(0.95) translate(2.75,2.75)"/>
    <polygon class="hex-overlay" points="25,8 75,8 100,50 75,92 25,92 0,50" transform="scale(0.95) translate(2.75,2.75)"/>
  </svg>
</div>


