@import 'colors';
@import 'styles';

.post-avatar {
    width: $community-post-avatar-size;
    height: $community-post-avatar-size;
  }
  
.default-post-avatar
{
    width: $community-post-avatar-size;
    height: $community-post-avatar-size;
    background-color: $community-avatar-background;
    color: white;
    line-height: $community-post-avatar-size;
    text-align: center;
    font-size: 1.5rem;
}

.reply-avatar {
    width: $community-reply-avatar-size;
    height: $community-reply-avatar-size;
}

.default-reply-avatar
{
    width: $community-reply-avatar-size;
    height: $community-reply-avatar-size;
    background-color: $community-avatar-background;
    color: white;
    line-height: $community-reply-avatar-size;
    text-align: center;
    font-size: 1.2rem;
}
