@import 'colors';

$post-avatar-width: 50px;
$post-avatar-height: 50px;
$post-avatar-line-height: 50px;

$reply-avatar-width: 35px;
$reply-avatar-height: 35px;
$reply-avatar-line-height: 35px;

.post-avatar {
    width: $post-avatar-width;
    height: $post-avatar-height;
  }
  
.default-post-avatar
{
    width: $post-avatar-width;
    height: $post-avatar-height;
    background-color: $community-avatar-background;
    color: white;
    line-height: $post-avatar-line-height;
    text-align: center;
    font-size: 1.5rem;
}

.reply-avatar {
    width: $reply-avatar-width;
    height: $reply-avatar-height;
}

.default-reply-avatar
{
    width: $reply-avatar-width;
    height: $reply-avatar-width;
    background-color: $community-avatar-background;
    color: white;
    line-height: $reply-avatar-line-height;
    text-align: center;
    font-size: 1.2rem;
}
