<pf-async-container [loading]="(lookupsLoading$ | async) || !pfServicesReps.length"
                    [loadingError]="lookupsLoadingError$ | async"
                    [loadingErrorMessage]="'Error loading lookups'">
  <div class="row">
    <div class="col-sm-4">
      <div class="detail-label margin-bottom"> Assigned To</div>
      <pf-ticket-value-picker [data]="pfServicesReps"
                              [ticketId]="ticket.TicketId"
                              [textField]="'Name'"
                              [valueField]="'PfServicesRepId'"
                              [pickerType]="ticketFieldType.SERVICEUSER"
                              [selectedValue]="getSelectedServiceRep(ticket.ServicesUserId)">
      </pf-ticket-value-picker>
    </div>
    <div class="col-sm-4">
      <div class="detail-label margin-bottom">Status</div>
      <pf-ticket-value-picker [data]="userTicketStates"
                              [ticketId]="ticket.TicketId"
                              [textField]="'UserTicketState'"
                              [valueField]="'UserTicketState'"
                              [pickerType]="ticketFieldType.STATUS"
                              [selectedValue]="getSelectedUserState(ticket.TicketState)">
      </pf-ticket-value-picker>
    </div>
    <div class="col-sm-4">
      <div class="detail-label margin-bottom">Type</div>
      <pf-ticket-value-picker [data]="userTicketTypes"
                              [ticketId]="ticket.TicketId"
                              [textField]="'TicketTypeShortName'"
                              [valueField]="'TicketTypeDisplayName'"
                              [pickerType]="ticketFieldType.TYPE"
                              [selectedValue]="getSelectedUserType(ticket.UserTicketType.TicketTypeDisplayName)">
      </pf-ticket-value-picker>
    </div>
  </div>
</pf-async-container>
