@import 'kendo-grid';

:host ::ng-deep .k-grid {
  tr, tr.k-alt {
    &:hover {
      button {
         visibility: visible;
      }
    }
  }
}

.omni-box{
  width: 400px;
}

.delete-mapping-button {
  visibility: hidden;
}
