<aside class="settings-panel position-fixed" [class.expanded]="isOpen">
  <div class="m-2 d-flex">
    <h2 class="primary flex-grow-2 text-uppercase">Statement Settings</h2>
    <a (click)="onCloseClick()" class="close ml-4" aria-label="Close" [attr.tabindex]="isOpen ? 0 : -1"
       href="javascript:void(0)">
      <fa-icon [icon]="'times'" aria-hidden="true"></fa-icon>
    </a>
  </div>
  <div class="position-relative">
    <pf-async-container [loadingError]="isSavingError" [hideReloadButton]="true">
      <ul ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="true" [activeId]="focusedTab">
        <li [ngbNavItem]="'Style'" id="Style" title="Style" class="ml-4">
          <a ngbNavLink (click)="onHandleTabClick('Style')" [attr.tabindex]="isOpen ? null : -1">Style</a>
          <ng-template ngbNavContent>
            <div *ngIf="showFontFamilyMenu">
              <h3 class="my-2">Text</h3>
              <h5 class="mb-3">Font Family</h5>
              <div ngbDropdown class="font-family-container d-inline-block mb-4">
                <button ngbDropdownToggle class="btn btn-outline-primary" [attr.tabindex]="isOpen ? 0 : -1">
                  {{ fontFamily }}
                </button>
                <div ngbDropdownMenu class="w-auto">
                  <a ngbDropdownItem href="javascript:void(0)" (click)="onFontFamilyChange('Default')" class="default-font-family d-block p-2" [attr.tabindex]="isOpen ? 0 : -1">
                    Default
                  </a>
                  <a ngbDropdownItem href="javascript:void(0)" (click)="onFontFamilyChange('Arial')" class="arial-font-family d-block p-2" [attr.tabindex]="isOpen ? 0 : -1">
                    Arial
                  </a>
                  <a ngbDropdownItem href="javascript:void(0)" (click)="onFontFamilyChange('Georgia')" class="georgia-font-family d-block p-2" [attr.tabindex]="isOpen ? 0 : -1">
                    Georgia
                  </a>
                  <a ngbDropdownItem href="javascript:void(0)" (click)="onFontFamilyChange('Times New Roman')" class="times-new-roman-font-family d-block p-2" [attr.tabindex]="isOpen ? 0 : -1">
                    Times New Roman
                  </a>
                  <a ngbDropdownItem href="javascript:void(0)" (click)="onFontFamilyChange('Helvetica')" class="helvetica-font-family d-block p-2" [attr.tabindex]="isOpen ? 0 : -1">
                    Helvetica
                  </a>
                </div>
              </div>
            </div>
            <h5 class="mb-2">Font Size</h5>
            <div ngbDropdown class="font-size-container d-inline-block mb-3">
              <button ngbDropdownToggle class="btn btn-outline-primary" [attr.tabindex]="isOpen ? 0 : -1">
                {{ fontSize }}
              </button>
              <div ngbDropdownMenu class="w-auto">
                <a ngbDropdownItem href="javascript:void(0)" (click)="onFontSizeChange('Small')" class="small d-block p-2" [attr.tabindex]="isOpen ? 0 : -1">
                  Small
                </a>
                <a ngbDropdownItem href="javascript:void(0)" (click)="onFontSizeChange('Medium')" class="medium d-block p-2" [attr.tabindex]="isOpen ? 0 : -1">
                  Medium
                </a>
                <a ngbDropdownItem href="javascript:void(0)" (click)="onFontSizeChange('Large')" class="large d-block p-2" [attr.tabindex]="isOpen ? 0 : -1">
                  Large
                </a>
              </div>
            </div>
            <h5 class="my-2">Colors</h5>
            <div class="d-flex mb-2">
              <div *ngFor="let color of colors; let i = index;" class="color-picker-container mr-4">
                <input
                  [colorPicker]="color"
                  [cpOKButton]="true"
                  [cpUseRootViewContainer]="cpUseRootViewContainer"
                  (colorPickerSelect)="onColorChange($event, i)"
                  [cpPosition]="'top-left'"
                  [style.background]="color"
                  [style.caretColor]="color"
                  class="d-block w-100"
                  [attr.tabindex]="isOpen ? 0 : -1" />
                <label title="{{ color }}" class="w-100">{{ color }}</label>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'Content'" id="Content" title="Content">
          <a ngbNavLink (click)="onHandleTabClick('Content')" [attr.tabindex]="isOpen ? null : -1">Content</a>
          <ng-template ngbNavContent>
            <h5 class="my-2">Statement Header</h5>
            <div class="d-flex align-items-center mb-2">
              <input type="checkbox"
                     class="p-0 m-0"
                     id="enableEmployeeId"
                     [checked]="displaySettings?.ShowEmployeeId"
                     (change)="onDisplaySettingChange(displaySettingsEnum.ShowEmployeeId)"
                     [attr.tabindex]="isOpen ? 0 : -1">
              <label class="p-0 m-0 ml-1" for="enableEmployeeId">Employee ID</label>
            </div>
            <div class="d-flex mb-2">
              <input type="checkbox"
                     class="p-0 m-0"
                     id="enableInformationEffectiveDate"
                     [checked]="displaySettings?.ShowInformationEffectiveDate"
                     (change)="onDisplaySettingChange(displaySettingsEnum.ShowInformationEffectiveDate)"
                     [attr.tabindex]="isOpen ? 0 : -1">
              <label class="p-0 m-0 ml-1" for="enableInformationEffectiveDate">Information Effective Date</label>
            </div>
            <h5 class="my-2">Display Settings</h5>
            <div *ngIf="totalRewardsEmployeeContributionFeatureFlag.value" class="d-flex align-items-center mb-2">
              <input
                type="checkbox"
                class="p-0 m-0"
                id="enableEmployeeContribution"
                title="Display Employee Contributions"
                [checked]="displaySettings?.ShowEmployeeContributions"
                (change)="onDisplaySettingChange(displaySettingsEnum.ShowEmployeeContributions)"
                [attr.tabindex]="isOpen ? 0 : -1">
              <label class="p-0 m-0 ml-1" for="enableEmployeeContribution">Employee Contributions</label>
              <label
                class="info p-0 m-0 ml-1"
                [ngbTooltip]="'Display your employee’s contributions in addition to the company’s contributions.'"
                [attr.tabindex]="isOpen ? 0 : -1">
                <fa-icon [icon]="['fal', 'info-circle']" aria-hidden="true"></fa-icon>
              </label>
            </div>
            <div class="d-flex align-items-center mb-2">
              <input
                type="checkbox"
                class="p-0 m-0"
                id="enableDecimals"
                title="Display Decimals"
                [checked]="displaySettings?.ShowDecimals"
                (change)="onDisplaySettingChange(displaySettingsEnum.ShowDecimals)"
                [attr.tabindex]="isOpen ? 0 : -1">
              <label class="p-0 m-0 ml-1" for="enableDecimals">Decimals</label>
              <label
                class="info p-0 m-0 ml-1"
                [ngbTooltip]="'Display two decimal places for each of the benefits data values.'"
                [attr.tabindex]="isOpen ? 0 : -1">
                <fa-icon [icon]="['fal', 'info-circle']" aria-hidden="true"></fa-icon>
              </label>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <a href="javascript:void(0)" (click)="onResetSettings()" class="reset-settings mx-auto mb-4 d-table text-center"
         [attr.tabindex]="isOpen ? 0 : -1">
        Reset All Settings
      </a>
    </pf-async-container>
  </div>
</aside>
