@import 'common/common';
@import 'colors';

:host {
  position: relative;
}

.popover-content{
  max-height: 300px;
  overflow-y: auto;
  padding: .5rem 0;
}

.popover-footer{
  background-color: #f7f7f7;
  height: 40px;
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: flex-end;
}

.exchange-selection{
  cursor: pointer;
  border-bottom: 1px solid rgba($border-grey, .35);
  padding: .5rem .75rem;
}

.exchange-selection:hover{
  background: $selection-hover-background;
}

.exchange-selection.current-exchange{
  background-color: $selected-item-background-color;
}

.no-wrap{
  white-space: nowrap;
}

// Popover overrides
:host ::ng-deep .popover {
  max-width: 320px;
  width: 250px;
  top: 27px !important;
  left: 0px !important;
  transform: initial !important;
  font-size: 1rem;
}

:host ::ng-deep .popover-body {
  padding: 0;
}

:host ::ng-deep .arrow {
  display: none;
}
