<button type="button"
        class="btn btn-secondary"
        [attr.data-qa-id]="'btn-exchangeSelector'"
        [ngbPopover]="popContent"
        [autoClose]="'outside'"
        popoverTitle="My Current Exchanges"
        placement="bottom"
        #p="ngbPopover">

  <span class="text-muted">Exchange:</span>
  <strong>{{currentExchange?.ExchangeName}}</strong>
  <fa-icon icon="caret-down"></fa-icon>

</button>

<ng-template #popContent>
  <div class="d-flex flex-column h-100">
    <div class="popover-content">

      <div (click)="handleExchangeClicked(exchangeListItem)"
           *ngFor="let exchangeListItem of exchangeListItems$ | async"
           class="exchange-selection"
           [class.current-exchange]="currentExchange.ExchangeId === exchangeListItem.ExchangeId">

        <div class="d-flex justify-content-between">

          <div class="ellipsis-overflowing-text">
            {{exchangeListItem.ExchangeName}}
            <span class="text-muted" *ngIf="isInactive(exchangeListItem)">(Inactive)</span>
          </div>
        </div>

      </div>
    </div>

    <div class="popover-footer">
      <button *ngIf="showRequestAccessButton" type="button" class="btn btn-sm btn-primary" (click)="openRequestAccessModal()">Request Access</button>
    </div>
  </div>

</ng-template>
