:host ::ng-deep .jobs-page-sub-grid-header {
  background-color: rgb(247, 247, 249) !important;
  font-weight: 600 !important;
  border: none;
}


:host ::ng-deep .k-sort-order{
  display: none;
}