<div id="{{section.Id}}" class="card mb-3">
  <div class="card-header">
    <div class="section-title">
      {{section.Name}}
      <div class="btn-group float-right">
        <button class="btn btn-sm btn-secondary" (click)="toggleBody()">
          <span *ngIf="hideBody"><fa-icon [icon]="['fas','caret-down']"></fa-icon></span>
          <span *ngIf="!hideBody"><fa-icon [icon]="['fas','caret-up']"></fa-icon></span>
        </button>
      </div>
    </div>
    <div *ngIf="section.ShowSubheading" class="section-description">
      {{section.SubHeading}}
    </div>
  </div>
  <div class="card-block" [hidden]="hideBody">
    <div *ngFor="let control of section.Controls; trackBy: trackByFn">
      <pf-job-description-control
        [jobDescriptionControl]="control"
        [controlTypesLoaded]="controlTypesLoaded"
        [readOnly]="readOnly"
        [isCompare]="isCompare"
        [saveThrottle]="saveThrottle"
        (dataChangesDetected)="handleControlDataChangesDetected($event)"
        (bulkDataChangesDetected)="handleControlBulkDataChangesDetected($event)"
        (dataRowAdded)="handleControlDataRowAdded($event)"
        (dataRowDeleted)="handleControlDataRowDeleted($event)"
        (additionalPropertiesChangesDetected)="handleAdditionalPropertiesChangesDetected($event)">
      </pf-job-description-control>
    </div>
  </div>
</div>
