
<ng-container>
  <kendo-dropdownlist
    class="dropdown-list"
    [attr.data-qa-id]="'ddm-numeric-filter-operators'"
    [data]="operators"
    (selectionChange)="handleChangeOperator($event)"
    [ngModel]="selectedOperator ? selectedOperator : operators[0]"
    [textField]="'Name'"
    [valueField]="'Value'">
  </kendo-dropdownlist>

  <kendo-numerictextbox
    [autoCorrect]="true"
    [step]="step"
    [format]="format"
    (valueChange)="handleNumericValueChange($event)"
    [value]="numberValue">
  </kendo-numerictextbox>
</ng-container>
