@import 'assets/scss/_colors';
@import 'assets/scss/common/_common-variables';
@import 'apps/data-insights/assets/_data-insights-variables';

.standard-report {
  margin: 1rem 0 3rem 0;
  position: relative;
  height: 350px;

  pf-report-preview {
    flex-grow: 1;
    display: flex;
  }

  .type {
    @extend %label;
    border-bottom: 1px solid $border-grey;
  }

  .name {
    font-size: 1.25rem;
    @extend %ellipsis-overflowing-text;
  }
}

