@import 'colors';
@import 'common/common';
@import 'data-insights-variables';

.standard-report {
  margin: 1rem 0 3rem 0;
  position: relative;

  .preview {
    margin-bottom: 1rem;
    cursor: pointer;
    min-height: 1px;
    padding: 1rem 0;

    .img-fluid {
      width: 100%;
    }

    &:hover{
      .workbook-description {
        opacity: 1;
        display: block;
        position: absolute;
      }
    }
  }

  .type {
    @extend %label;
    border-bottom: 1px solid $border-grey;
  }

  .name {
    font-size: 1.25rem;
    @extend %ellipsis-overflowing-text;
  }

  .workbook-description {
    display: none;
    opacity: 0;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    width: 50%;
    height: 135px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.25s ease-in-out;
  }
  @media (min-width: 1600px) {
    .workbook-description {
      font-size: 1.2rem;
    }
  }
}

