$primary-blue: #1872ae;
$white: #ffffff;

.form-inline {
    width: 100%;
}

.alert-container {
    height: 50px;
    padding-top: 5px;
    text-align: center;
}

.alert {
    width: 100%;
}

.modal-header {
    background: $white;
}

.btn-primary {
    background-color: $primary-blue;
    border-color: $primary-blue;
}