<kendo-chart (seriesClick)="seriesClick($event)">
  <kendo-chart-legend position="bottom"></kendo-chart-legend>
  <kendo-chart-area background="none" height="250"></kendo-chart-area>
  <kendo-chart-tooltip>
    <ng-template kendoChartSeriesTooltipTemplate let-value="value" let-category="category">
      {{ category }} : {{ value | percent: '1.0-2' }}
    </ng-template>
  </kendo-chart-tooltip>
  <kendo-chart-category-axis>
    <kendo-chart-category-axis-item [labels]="{ rotation: getCategoryLabelRotation() }">
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-value-axis>
    <kendo-chart-value-axis-item [labels]="{  format: '{0:P}' }" [max]="getValueAxisMax()" >
    </kendo-chart-value-axis-item>
  </kendo-chart-value-axis>
  <kendo-chart-series>
    <kendo-chart-series-item type="column" [data]="jobFamilyChartItems" field="Value" categoryField="Category">
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>
