.field-container {
    max-height: 300px;
    overflow-y: scroll;
}

.footer {
    border-top: 1px solid #CCC;
    background: #f7f7f7
}

.form-check {
    border-bottom: 1px solid #eaecef;
}

:host /deep/ .popover {
    min-width: 200px;
    font-size: 1rem;
    top: 35px !important;
    right: 43px !important;
    left: auto !important;
}

:host /deep/ .popover::before {
    border-width: 10px;
    border-top-width: 0;
}

:host /deep/ .popover.popover-bottom::before, :host /deep/ .popover.popover-bottom::after {
    right: 21px;
    left: auto;
}