.field-container {
    min-width: 200px;
    font-size: 1rem;
    max-height: 300px;
    overflow-y: auto;
}

.footer {
    border-top: 1px solid #CCC;
    background: #f7f7f7
}

.form-check {
    border-bottom: 1px solid #eaecef;
}

::ng-deep .popover {
    left: -18px !important;
}
