@import 'kendo-grid';
@import 'common/common-variables';

.gray-text {
  color: #B6B6B6;
}

.dropup .dropdown-toggle::after, .dropdown-toggle::after {
  display: none !important;
}

.total-rewards-statements-grid ::ng-deep.clickable-row:hover {
  cursor: pointer;
}
