<div class="h-100">
  <pf-async-container class="h-100"
    [loading]="statementsLoading$ | async" [loadingError]="statementsLoadingError$ | async">
    <kendo-grid
      class="total-rewards-statements-grid"
      [data]="statementsGridData$ | async"
      [pageSize]="(statementsGridState$ | async)?.take"
      [skip]="(statementsGridState$ | async)?.skip"
      [sort]="(statementsGridState$ | async)?.sort"
      [filter]="(statementsGridState$ | async)?.filter"
      [resizable]="true"
      [sortable]="true"
      [pageable]="{ buttonCount: 5, info: true }"
      [rowClass]="getRowClass"
      (dataStateChange)="onDataStateChange($event)"
      (cellClick)="onCellClick($event)">
      <kendo-grid-column width="70" [title]="'Actions'">
        <ng-template kendoGridHeaderTemplate>
          <span>Actions</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          <div ngbDropdown container="body" #dropdown="ngbDropdown"
               (openChange)="handleSelectedRowAction(dropdown)">
            <fa-icon ngbDropdownToggle
                     icon="ellipsis-h"
                     id="total-rewards-actions-{{dataItem?.Id}}"
                     class="gray-text">
            </fa-icon>
            <div ngbDropdownMenu aria-labelledby="total-rewards-actions-{{dataItem?.Id}}">
              <button ngbDropdownItem (click)="navigateToStatementEdit(dataItem?.Id)">
                <fa-icon [icon]="'pencil'" class="mr-2"></fa-icon>
                <span>Edit</span>
              </button>
              <button ngbDropdownItem (click)="onActionMenuDeleteClick(dataItem)">
                <fa-icon [icon]="'trash'" class="mr-2 text-danger"></fa-icon>
                <span>Delete</span>
              </button>
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Name" title="Statement Name" width="300">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span class="ellipsis-overflowing-text" [title]="dataItem.Name">{{dataItem.Name}}</span>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="CreatedBy" title="Created By">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span class="ellipsis-overflowing-text" [title]="dataItem.CreatedBy">
            {{dataItem.CreatedBy}}
          </span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="CreatedDate" title="Created Date">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.CreatedDate | date: 'MM/dd/yyyy' }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="LastGeneratedDate" title="Last Generated">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span *ngIf="dataItem.LastGeneratedDate; else noGeneratedDate">
            {{ dataItem.LastGeneratedDate | date: 'MM/dd/yyyy' }}
          </span>
          <ng-template #noGeneratedDate>
            --
          </ng-template>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="LastGeneratedBy" title="Generated By">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span class="ellipsis-overflowing-text" [title]="dataItem.LastGeneratedBy" *ngIf="dataItem.LastGeneratedBy; else noGeneratedBy">
            {{dataItem.LastGeneratedBy}}
          </span>
          <ng-template #noGeneratedBy>--</ng-template>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Employees" title="Employees" class="text-right" headerClass="text-right" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span *ngIf="dataItem.Employees && dataItem.Employees > 0; else noEmployees">
            {{dataItem.Employees}}
          </span>
          <ng-template #noEmployees>--</ng-template>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </pf-async-container>
</div>
