<div class="h-100 k-tooltip-container"
  kendoTooltip
  [tooltipTemplate]="tooltipTemplate"
  filter=".k-grid td"
  showOn="none"
  (mouseover)="showGridTooltip($event)">
  <pf-async-container class="h-100"
    [loading]="statementsLoading$ | async" [loadingError]="statementsLoadingError$ | async">
    <kendo-grid
      class="total-rewards-statements-grid"
      [data]="statementsGridData$ | async"
      [pageSize]="(statementsGridState$ | async)?.take"
      [skip]="(statementsGridState$ | async)?.skip"
      [sort]="(statementsGridState$ | async)?.sort"
      [filter]="(statementsGridState$ | async)?.filter"
      [resizable]="true"
      [sortable]="true"
      [pageable]="{ buttonCount: 5, info: true }"
      [rowClass]="getRowClass"
      (dataStateChange)="onDataStateChange($event)"
      (cellClick)="onCellClick($event)">

      <kendo-grid-column width="70" [title]="'Actions'">
        <ng-template kendoGridHeaderTemplate>
          <span>Actions</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          <div ngbDropdown container="body" #dropdown="ngbDropdown"
               (openChange)="handleSelectedRowAction(dropdown)">
            <fa-icon ngbDropdownToggle
                     icon="ellipsis-h"
                     id="total-rewards-actions-{{dataItem?.Id}}"
                     class="gray-text">
            </fa-icon>
            <div ngbDropdownMenu aria-labelledby="total-rewards-actions-{{dataItem?.Id}}">
              <button ngbDropdownItem (click)="navigateToStatementEdit(dataItem?.Id)">
                <span>Edit</span>
              </button>
              <button ngbDropdownItem (click)="navigateToStatementAssign(dataItem?.Id)">
                <span>Assign</span>
              </button>
              <button ngbDropdownItem (click)="onActionMenuDeleteClick(dataItem)">
                <span>Delete</span>
              </button>
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        *ngFor="let field of gridFields"
        [field]="field.FieldName"
        [width]="field.Width"
        class="ellipsize {{field.CustomClass}}">

        <ng-template kendoGridHeaderTemplate let-column>
          <div class="ellipsis-overflowing-text-wrap show-tooltip {{field.CustomClass}}">
            <fa-icon *ngIf="(statementsGridState$ | async)?.sort[0]?.field === column.field && (statementsGridState$ | async)?.sort[0]?.dir ==='desc'"
                     class="sort-icon" [icon]="['far', 'long-arrow-down']">
            </fa-icon>
            <fa-icon *ngIf="(statementsGridState$ | async)?.sort[0]?.field === column.field && (statementsGridState$ | async)?.sort[0]?.dir ==='asc'"
                     class="sort-icon" [icon]="['far', 'long-arrow-up']">
            </fa-icon>
            {{field.DisplayName}}
          </div>
        </ng-template>

        <ng-template kendoGridCellTemplate let-dataItem>
          <div *ngIf="dataItem[field.FieldName] !== null; else blankCellTemplate"
                [ngSwitch]="true"
                class="ellipsis-overflowing-text show-tooltip">
            <ng-container *ngSwitchCase="field.DataType === 'date'">
              {{dataItem[field.FieldName] | date: 'MM/dd/yyyy'}}
            </ng-container>

            <ng-container *ngSwitchCase="field.FieldName === 'Employees'">
              <a href="javascript:void(0);" (click)="navigateToStatementAssign(dataItem?.Id)">
                {{dataItem[field.FieldName]}}
              </a>
            </ng-container>

            <ng-template ngSwitchDefault>
              {{dataItem[field.FieldName]}}
            </ng-template>
          </div>
        </ng-template>

        <ng-template #blankCellTemplate>--</ng-template>

      </kendo-grid-column>

      <ng-template kendoGridNoRecordsTemplate>
        <div *ngIf="displayNoStatementsCreatedImage; else noRecordsAvailable" class="text-center img-container">
          <img width="400" src="/client/total-rewards/assets/images/no-statements.png">
          <h2>No statements created yet.</h2>
          <span><a (click)="handleCreateStatementClicked()" class="text-info" href="#">Create a Total Rewards statement</a> to show your employees the full value of their rewards.</span>
        </div>
      </ng-template>
    </kendo-grid>
  </pf-async-container>
</div>

<ng-template #tooltipTemplate let-hoverElement>
  <span>{{ hoverElement.nativeElement.innerText }}</span>
</ng-template>

<ng-template #noRecordsAvailable>
  No records available.
</ng-template>
