<pf-modal-form
  [size]="'md'"
  [title]="getTitle()"
  [primaryButtonText]="'Save Poll'"
  [isOpen$]="communityPollModalOpen$"
  [formGroup]="addCommunityPollForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">
  <ng-container form-content>
    <div class="form-group">

      <div *ngIf="isEditMode">
        <label class="col-form-label" for="poll-status">Poll Status</label>
        <kendo-dropdownlist  id="poll-status" class="w-25 ml-2 border"
          formControlName="status"
          [data]="pollStatusOptions"
          [textField]="'text'"
          [valueField]="'value'"
          [valuePrimitive]="true">
        </kendo-dropdownlist>
      </div>

      <label class="col-form-label" for="poll-question">Poll Question</label>
      <input type="text" class="form-control" placeholder="Question" formControlName="content" id="poll-question" [pfValidatable]="attemptedSubmit" pfFocus [maxLength]="150">
      <ng-container *ngIf="content.errors && attemptedSubmit">
        <div *ngIf="content.errors.required" class="invalid-feedback">Question is required.</div>
        <div *ngIf="content.errors.error" class="invalid-feedback">{{content.errors.error}}</div>
      </ng-container>
      <span *ngIf="!attemptedSubmit || !content.errors" class="pf-placeholder"></span>

      <br>
      <label class="col-form-label" for="choices">Poll choices</label>

      <pf-community-poll-choices
        *ngFor="let item of choices.controls; let i=index"
        [index]="i"
        [item]="item"
        [isAdmin]="true"
        (removed)="choices.removeAt($event)">
      </pf-community-poll-choices>

      <div *ngIf="enableEditingResponseOptions">
        <button type="button" class="btn btn-secondary offset-sm-1" *ngIf="choices.length<10" (click)="addResponseOption()" >Add another response option</button> 
      </div>
    
    </div>
  </ng-container>
</pf-modal-form>