<div class="accordion">
  <div class="card-container">
    
    <pf-comphub-card
      *ngFor="let card of accordionCards; let i = index"
      [cardId]="card.Id"
      [cardTitle]="card.Title"
      [cardSubtitle]="card.Subtitle"
      [cardIconClass]="card.IconClass"
      [containerWidth]="cardContentContainerWidth"
      [selected]="(selectedPageIndex$ | async) === i"
      (cardHeaderClick)="handleCardChange(card.Id)">

      <ng-container card-content [ngSwitch]="card.Id">

        <pf-jobs-card *ngSwitchCase="comphubPages.Jobs"></pf-jobs-card>

        <pf-markets-card *ngSwitchCase="comphubPages.Markets"></pf-markets-card>

        <pf-data-card *ngSwitchCase="comphubPages.Data"></pf-data-card>

        <pf-summary-card *ngSwitchCase="comphubPages.Summary"></pf-summary-card>

      </ng-container>

    </pf-comphub-card>

  </div>
</div>
