@import "colors";

.pf-secondary-color {
  color: $pf-brand-secondary-color;
}

.pf-secondary-background {
  background-color: $pf-brand-secondary-color;
  border-color: $pf-brand-secondary-color;
}

.pf-grey {
  color: #999999;
}

.pf-comment {
  font-size: 14px;
}

.pf-link-text {
  color: rgb(33, 37, 41);
}

.uppercase {
  text-transform: uppercase;
}

.icon-cell {
  width: 50px;
  overflow-x: auto;
}

.actions-cell {
  vertical-align: middle;
}

.badge-client {
  background-color: #bebebe;
  font-size: 12px;
  color: #ffffff;
}

.user-name {
  font-weight: 500;
  margin-right: 0.5rem;
}

.comment-date {
  margin-top: 1rem;
  font-size: 13px;
}
