<pf-modal-form
  [title]="'Create New Exchange'"
  [primaryButtonText]="'Create'"
  [submitting]="creatingExchange$ | async"
  [isOpen$]="createExchangeModalOpen$"
  [formGroup]="createExchangeForm"
  (onSubmit)="handleFormSubmit($event)"
  (onDismiss)="handleModalDismissed($event)">
  <ng-container form-content>
    <div class="form-group">
      <label class="form-control-label" for="exchange-name">Please give the new exchange a name:</label>
      <input type="text" class="form-control" placeholder="Exchange Name" formControlName="name" id="exchange-name" [pfValidatable]="attemptedSubmit">
      <ng-container *ngIf="name.errors && attemptedSubmit">
        <div *ngIf="name.errors.required" class="invalid-feedback">Name is required.</div>
        <div *ngIf="name.errors.error" class="invalid-feedback">{{name.errors.error}}</div>
      </ng-container>
      <span *ngIf="!attemptedSubmit || !name.errors" class="pf-form-text text-muted">An exchange name is required and must be unique.</span>
    </div>
  </ng-container>
</pf-modal-form>
