.checkbox-label {
  margin-left: .5rem;
  margin-right: 1.5rem;
}

input[type=checkbox] {
  clear: none;
  margin: 2px 0 0 2px;
}

.mt-override {
  margin-top: .32rem !important;
}

.drop-down-width {
  width: 200px;
}

.radio-label {
  margin-left: .5rem;
  margin-bottom: 1.25rem;
  margin-right: 1.5rem;
}

input[type=radio] {
  clear: none;
  margin: 2px 0 0 2px;
}
