<ngb-tabset [destroyOnHide]="false">
  <ngb-tab *ngFor="let entity of selectedEntities"
            [id]="'tab-'+ entity.toLowerCase()">
    <ng-template ngbTabTitle>
        <h4 class="font-weight-lighter">{{entity | orgDataEntityTypeToDisplayName}}</h4>
    </ng-template>
    <ng-template ngbTabContent>
      <pf-entity-mapping
          [connectionId]="connectionId"
          [entityType]="entity"
          [entityGroupName]="entity.toLowerCase() + '-associated-bag'"
          [sourceName]="sourceName"
          [targetName]="targetName"
          [provider]="provider">
      </pf-entity-mapping>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
