<div class="result">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div class="job-title">
        {{job.Title}}
      </div>
      <div class="job-code">
        ({{job.Code}})
      </div>
    </div>
  </div>

  <div class="paymarket">
    {{job.Paymarket}}
  </div>

  <div class="d-flex mt-2">
    <ng-container *ngIf="(job.TotalDataCuts > 0)">
      <div class="link" (click)="toggleDataCutsDisplay()">
        {{toggleDataCutsLabel}}
      </div>
      <div class="link mx-2">
        |
      </div>
    </ng-container>
    <div class="link" (click)="toggleJobDetailDisplay()">
      {{toggleJobDetailLabel}}
    </div>
  </div>

  <div *ngIf="showJobDetail" class="job-detail">
    <table>
      <tbody>
        <tr>
          <th>Family:</th>
          <td>{{job.Family || '-'}}</td>
        </tr>
        <tr>
          <th>Level:</th>
          <td>{{job.Level || '-'}}</td>
        </tr>
        <tr>
          <th>Job Description:</th>
          <td>
            <ng-container *ngIf="job.Description; else noJobDescription">
              <pf-ellipsis-view-more [copy]="true" [content]="job.Description" [maxLength]="300"></pf-ellipsis-view-more>
          </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>


<ng-template #noJobDescription>
  <div class="no-job-description">
    No Job Description
  </div>
</ng-template>

