@import 'colors';
@import 'styles';

.search-results-container{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.footer-container
{
  color: $community-search-result-color;
}

.no-results-message-container
{
  color: $community-search-result-color;
}

.back-to-top-container
{
  position: fixed;
  right: 20px;
  bottom: 10px;
}

.results-count
{
  color: $community-search-result-color;
}

.sub-results
{
  font-size: 90%;
  line-height: 0.9rem;
}
