<div class="data-view-grid">
  <pf-async-container *ngIf="(dataAsync$ | async) as dataAsync"
    [loading]="dataAsync.loading"
    [loadingError]="dataAsync.loadingError"
    [loadingErrorMessage]="'Error loading data'"
    [hideReloadButton]="true">
  </pf-async-container>

  <kendo-grid
    [kendoGridBinding]="(dataAsync$ | async)?.obj"
    (scrollBottom)="handleScrollBottom()">
    <kendo-grid-column *ngFor="let field of (fields$ | async); trackBy: trackByFn"
      [field]="field.SourceName"
      [title]="field.DisplayName"
      [headerClass]="'grid-header'"
      width="150">
    </kendo-grid-column>
  </kendo-grid>
</div>