@import 'kendo-grid';

.data-view-grid {
  height: calc(100vh - 200px);
}

::ng-deep {
  .k-grid {
    tr {
      height: 41px;
    }
    .empty-row {
      font-style: italic;
      color: #999999;
    }
  }
}
