@import 'kendo-grid';
@import 'common/common-variables';

.data-view-grid {
  height: calc(100vh - 164px);
}

.grid-container {
  height: calc(100% - 37px);
}

.sort-icon {
  margin-right: 0.5rem;
}

.loading-message {
  padding: 0.8rem 1rem 0.5rem 1rem;
  height: 42px;
  font-size: 1rem;
  border-top: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef;
  font-weight: 500;
}

.loading-more-row {
  padding: 0.8rem 1rem 0.5rem 1rem;
}

#total-count {
  font-size: 14px;
  font-weight: 300;
}

.text-align-right {
  text-align: right;
}

.ellipsis-text {
  @extend %ellipsis-overflowing-text;
}

.highlight-format-action {
  cursor: pointer;
  padding-left: 1rem;
  &:hover {
    background-color: #e6e6e6;
  }
}
