<div class="data-view-grid" *ngIf="(dataAsync$ | async) as dataAsync">
  <div class="loading-message" *ngIf="dataAsync.loading">
    <pf-loading-indicator></pf-loading-indicator> Loading report. Please wait ...
  </div>
  <div class="loading-message loading-error" *ngIf="dataAsync.loadingError">
    <fa-icon icon="exclamation-triangle" class="icon"></fa-icon> There was an error generating the report. Please try again later.
  </div>
  <div class="grid-container">
    <kendo-grid
      *ngIf="!dataAsync.loading"
      [kendoGridBinding]="dataAsync.obj"
      [sortable]="sortableConfig"
      [columnMenu]="true"
      [sort]="sortDesc"
      [resizable]="true"
      (scrollBottom)="handleScrollBottom()"
      (sortChange)="handleSortChange($event)">
      <kendo-grid-column *ngFor="let field of (fields$ | async); trackBy: trackByFn"
                         [field]="field.KendoGridField"
                         [sortable]="field.IsSortable"
                         [title]="field.DisplayName"
                         [columnMenu]="columnMenuEnabled(field)"
                         [headerClass]="'grid-header'"
                         [headerStyle]="{'font-size': '14px', 'font-weight': '300'}"
                         width="150">

        <ng-template kendoGridColumnMenuTemplate let-service="service">
          <ng-container *ngIf="!isFormulaField(field); else formulaFieldColumnMenu">
            <span class="highlight-format-action" *ngIf="!field.Format" (click)="handleNumberFormatModalClicked(field)">Field Formatting</span>
            <ng-container *ngIf="field.Format">
              <span class="highlight-format-action" (click)="handleNumberFormatModalClicked(field, field.Format)">Edit Formatting</span>
              <span class="highlight-format-action" (click)="handleClearFormatClicked(field)">Clear Formatting</span>
            </ng-container>
          </ng-container>

          <ng-template #formulaFieldColumnMenu>
            <span class="highlight-format-action" (click)="handleEditFormulaClick(field)">
              <span *ngIf="field.IsEditable">Edit Formula</span>
              <span *ngIf="!field.IsEditable">View Formula</span>
            </span>
          </ng-template>
        </ng-template>

        <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
          <div [class.text-align-right]="isNumericDataType(field.DataType)" class="ellipsis-text">
            <fa-icon *ngIf="!!sortDesc?.length && sortDesc[0].field === column.field && sortDesc[0].dir === 'desc'"
              class="sort-icon" [icon]="['far', 'long-arrow-down']">
            </fa-icon>
            <fa-icon *ngIf="!!sortDesc?.length && sortDesc[0].field === column.field && sortDesc[0].dir === 'asc'"
                      class="sort-icon" [icon]="['far', 'long-arrow-up']">
            </fa-icon>
            <span class="k-link" [class.disabled]="!field.IsSortable">{{column.title}}</span>
          </div>
        </ng-template>

        <ng-template kendoGridCellTemplate let-dataItem>
          <div [class.text-align-right]="isNumericDataType(field.DataType)">
            <span *ngIf="dataItem[field.KendoGridField] !== null;else blankCellTemplate">
              <ng-container *ngIf="field.DataType === dataTypes.Date;else defaultFieldTemplate">
                {{dataItem[field.KendoGridField] | date: 'MM/dd/yyyy'}}
              </ng-container>
              <ng-template #defaultFieldTemplate>
                {{dataItem[field.KendoGridField]}}
              </ng-template>
            </span>
          </div>
        </ng-template>

        <ng-template #blankCellTemplate>
          <div class="empty-row">N/A</div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <div class="d-flex">
    <div class="loading-more-row" *ngIf="loadingMoreData$| async">
      <pf-loading-indicator></pf-loading-indicator> Loading more results...
    </div>
    <p class="ml-auto" id="total-count">Count: <span class="font-weight-bold">{{totalCount$ | async | number}}</span></p>
  </div>
</div>

<pf-numeric-field-formatting-modal
  #numericFieldFormattingModal
  (saveClicked)="handleSaveClicked($event)">
</pf-numeric-field-formatting-modal>

<pf-formula-field-modal
  #editFormulaModal
  [baseEntityId]="(dataView$ | async)?.obj?.BaseEntityId"
  [fieldSuggestions]="formulaFieldSuggestions$ | async"
  [modalData]="formulaFieldModalObj">
</pf-formula-field-modal>
