<div class="d-flex flex-column">
  <span class="title">Upload Pricing File</span>
  <div class="pricing-loader-content">
    <div class="row">
      <div class="col-12 col-lg-6 mb-3">
        <div class="upload-notes">
          <b>Note:</b> File must be in .xlsx, .xlsm, or .xlsb format and file name must begin with <b>pricings</b>. Once file is uploaded, map the tabs in your file to either Pricings or Pricing Notes.
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex flex-column">
        <pf-file-upload #fileUpload
          class="mb-3"
          (onFileDropped)="handleOnFileDropped($event)"
          (onFileRemoved)="handleOnFileRemoved()"
          [validFileExtensions]="validFileExtensions"
          [validFileStartsWith]="'pricings'"
          [autoGetColumnNames]="false">
        </pf-file-upload>
        <div class="form-group">
          <label>Pricings</label>
          <kendo-combobox
            [data]="(worksheetNames$ | async)?.obj"
            [ngModel]="pricingsSheetName"
            [placeholder]="worksheetNamePlaceholder"
            [style.width.px]="250"
            (valueChange)="updatePricingsSheetName($event)">
          </kendo-combobox>
        </div>
        <div class="form-group">
          <label>Pricing Notes</label>
          <kendo-combobox
            [data]="(worksheetNames$ | async)?.obj"
            [ngModel]="notesSheetName"
            [placeholder]="worksheetNamePlaceholder"
            [style.width.px]="250"
            (valueChange)="updateNotesSheetName($event)">
          </kendo-combobox>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end upload-pricings-footer">
      <span *ngIf="duplicateNameError" class="error-message text-danger pr-3">
        Pricings and Pricing Notes have the same tab name.
      </span>
      <div class="mr-3 pt-1">
        <div class="d-flex validation-only">
          <input
            type="checkbox" class="k-checkbox" id="validationOnlyCkeckbox"
            [checked]="validationOnly"
            (change)="updateValidationOnly()">
          <label class="k-checkbox-label" for="validationOnlyCkeckbox"></label>
          <div class="k-checkbox-title">Validation Only</div>
        </div>
      </div>
      <button type="button" class="btn pf-primary-btn"
        [disabled]="processDisabled"
        (click)="onProcessClicked()">
        Process
      </button>
    </div>
  </div>
</div>