@import '../node_modules/bootstrap/scss/bootstrap';


$fa-font-path: '~font-awesome/fonts/';
@import '../node_modules/font-awesome/scss/font-awesome';

//TODO: Find the appropriate place for these
html, body {
  height: 100%;
  font-size: 13px;
}

.pf-avatar{
  width: 33px;
  height: 33px;
  border-radius: 33px;
}



$test: red;
