<pf-page-with-title-bar>
  <ng-container page-title>
    Survey Library - {{publisher}}
  </ng-container>
  <ng-container page-content>
    <table border="0" cellpadding="0" id="survey-titles-table">
      <tr>
        <td valign="top" id="listform">
          <input type="text" size="30" class="searchText" [ngModel]="filter" (ngModelChange)="filterChanged($event)">
          <table border="0" cellspacing="0" cellpadding="5" class="whitetext">
            <tr>
              <td align="center">Survey Name</td>
            </tr>
            <tr *ngFor="let surveyTitle of surveyTitles">
              <td>
                <a href="/marketdata/admin/surveyyears.asp?surveytitle_id={{surveyTitle.SurveyTitleId}}">{{surveyTitle.SurveyName}}</a>
              </td>
            </tr>
          </table>
          <input type="button" class="button" value="Add" *ngIf="systemUserGroupsId === 1" (click)="openModal()">
          <input type="button" class="button" value="Back to Survey Publishers" onclick="document.location.href='/marketdata/admin/surveypublishers.asp';">
        </td>
      </tr>
    </table>
  </ng-container>
</pf-page-with-title-bar>
<pf-add-survey-title-modal [surveyPublisherId]="publisherId"></pf-add-survey-title-modal>

