<pf-page-with-title-bar [absoluteUrl]="'/client/pf-admin'">
  <ng-container page-title>
    Loader Dashboard
  </ng-container>
  <ng-container page-content>
    <div class="row">
      <div *ngIf="loaderDashboardSidebarAndModifiedRedropsFeatureFlag.value" class="col-2 my-5 text-center border-right">
        <pf-loader-dashboard-sidebar (onPageSelected)="selectPage($event)"></pf-loader-dashboard-sidebar>
      </div>
      <div class="col my-5">
          <div class="inner-content col " *ngIf="this.selectedPage == 'dataLoadSummary'">
            <div class="mb-4">
              <pf-loader-dashboard-filter></pf-loader-dashboard-filter>
            </div>
            <div class="mb-4">
              <pf-loader-dashboard-file-grid></pf-loader-dashboard-file-grid>
            </div>
            <div>
              <pf-loader-dashboard-grid></pf-loader-dashboard-grid>
            </div>
          </div>
          <div *ngIf="this.selectedPage == 'fileArchiveRedrop'">
            <pf-loader-dashboard-file-archive-redrop></pf-loader-dashboard-file-archive-redrop>
          </div>
      </div>
    </div>
  </ng-container>
</pf-page-with-title-bar>
