<table class="job-cuts-table">
  <tr *ngFor="let dataCut of dataCuts" (click)="toggleCutSelection(dataCut)" [ngClass]="{'selected-data-cut': dataCut.IsSelected }">
    <td class="data-cut-title">{{dataCut.Title}}</td>
    <td class="fixed-cell">{{dataCut.Country}}</td>
    <td class="fixed-cell">{{dataCut.Weight}}</td>
    <td class="fixed-cell">{{dataCut.Base50th ? (dataCut.Base50th | currency: currencyCode : 'symbol') : "-"}}</td>
    <td class="fixed-cell">{{dataCut.TCC50th ? (dataCut.TCC50th | currency: currencyCode : 'symbol') : "-"}}</td>
    <td class="fixed-cell"></td>
  </tr>
</table>
