@import 'legacy-variables';

tr{
  width: 100%;
}

tr:hover{
  background-color: $add-data-hover-background;
  cursor: pointer;
}
.selected-data-cut{
  background-color: $add-data-selected-background;
}
.data-cut-title{
  width: 422px;
}

.data-cut-matched {
  background-color: #f2f2f2;
}