@import "app-colors";

.canvas {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background: $trs-canvas-background-color;
  height: 11.2in;
}

.header-row {
  background-color: #434950;
  color: #D9DADC;
  padding: 12px 20px 5px 20px;
  display: flex;
}

.header-row-save-status {
  text-decoration: underline;
  color: white;
  font-size: 1.3em;
  font-weight: 400;
}

h3 {
  font-weight: initial;
}
