<pf-page-with-title-bar [returnUrl]="'/'">
  <ng-container page-title>
    <span>{{pageTitle}}</span>
  </ng-container>
  <ng-container page-content>
    <pf-async-container [loading]="(statementLoading$ | async) || (cloningFromTemplate$ | async)"
                        [loadingError]="(statementLoadingError$ | async) || 
                                        (cloningFromTemplateError$ | async) || 
                                        (statementSavingError$ | async) || 
                                        (settingsSavingError$ | async)"
                        (reload)="handleStatementReload()">
      <div class="canvas mx-auto pb-1">
        <div class="header-row d-flex">
          <h3 class="flex-fill">
            <pf-inline-string-editor
              [placeholder]="'New Statement Name'"
              [maxCharacters]="statementNameMaxLength"
              [value]="getStatementName()"
              [inEditMode]="(mode === modeEnum.Edit)"
              (valueChange)="onStatementNameValueChange($event)"
            ></pf-inline-string-editor>
          </h3>
          <span *ngIf="(mode === modeEnum.Preview)" class="font-italic flex-grow-1 pt-1">
            Canvas cannot be edited in preview mode
          </span>
          <div class="header-row-save-status pb-2 mr-3 font-italic">
            <span *ngIf="(statementSaving$ | async) || (settingsSaving$ | async)">Saving</span>
            <span 
              *ngIf="statement?.AuditRecord?.EditedDateTime || statement?.AuditRecord?.CreatedDateTime"
              [title]="'Statement last saved on ' + ((statement?.AuditRecord?.EditedDateTime || statement?.AuditRecord?.CreatedDateTime) | date: 'MMM dd yyyy hh:mm:ss a')">
              Saved {{ (statement?.AuditRecord?.EditedDateTime || statement?.AuditRecord?.CreatedDateTime) | TimeElapsedPipe }}
            </span>
          </div>
          <button ngbButton class="mode-button btn btn-outline-secondary position-relative mr-2"
                  data-toggle="button"
                  aria-pressed="false"
                  (click)="toggleStatementEditMode()">{{(mode === modeEnum.Edit) ? 'Preview' : 'Edit'}}</button>
          <span [title]="mode === modeEnum.Preview ? 'Settings disabled in preview mode' : 'Settings'">
            <a (click)="handleOpenSettingsClick()" href="javascript:void(0)"
               class="settings position-relative ml-2 pt-1"
               [ngClass]="{'preview-mode': mode === modeEnum.Preview}">
              <fa-icon [icon]="'cog'" aria-hidden="true"></fa-icon>
            </a>
          </span>
        </div>
        <pf-total-rewards-statement
          [statement]="statement"
          [mode]="mode"
          [employeeRewardsData]="employeeRewardsData"
          (onControlTitleChange)="handleOnControlTitleChange($event)"
          (onCalculationControlCompFieldTitleChange)="handleOnCalculationControlCompFieldTitleChange($event)"
          (onCalculationControlSummaryTitleChange)="handleOnCalculationControlSummaryTitleChange($event)"
          (onCalculationControlCompFieldRemoved)="handleOnCalculationControlCompFieldRemoved($event)"
          (onCalculationControlCompFieldAdded)="handleOnCalculationControlCompFieldAdded($event)"
          (onRichTextControlContentChange)="handleOnRichTextControlContentChange($event)"
        ></pf-total-rewards-statement>
      </div>
    </pf-async-container>
    <pf-settings-panel
      [isOpen]="isSettingsPanelOpen$ | async"
      [fontSize]="(statement$ | async)?.Settings.FontSize"
      [fontFamily]="(statement$ | async)?.Settings.FontFamily"
      [chartColors]="(statement$ | async)?.Settings.ChartColors"
      [isSavingError]="settingsSavingError$ | async"
      (fontSizeChange)="handleSettingsFontSizeChange($event)"
      (fontFamilyChange)="handleSettingsFontFamilyChange($event)"
      (chartColorChange)="handleSettingsChartColorChange($event)"
      (resetSettings)="handleResetSettings()"
      (close)="handleCloseSettingsClick()"
    ></pf-settings-panel>
  </ng-container>
</pf-page-with-title-bar>
