<div>
  <h5>Related {{ (job$ | async)?.family }} Jobs</h5>
  <div id="au-div-related-job-table-wrapper">
    <table>
      <thead>
        <th>Title</th>
        <th>Summary</th>
        <th>Base 25th</th>
        <th>Base 75th</th>
      </thead>
      <tbody>
        <tr *ngFor="let relatedJob of relatedJobs$ | async">
          <td>
            <strong>
              <a
                id="au-lnk-related-job-{{ relatedJob.id }}" 
                (click)="onRelatedJobClick(relatedJob, $event)" 
                routerLink="/job/{{ relatedJob.id }}">{{ relatedJob.title }}
              </a>
            </strong>
          </td>
          <td>{{ relatedJob.description }}</td>
          <td>${{ relatedJob.nationalBase25 | number:'1.0-0'}}</td>
          <td>${{ relatedJob.nationalBase75 | number:'1.0-0'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>