.preview-tile-icon, .preview-tile-icon-small {
  display: block;
  text-align: center;
  padding-top: 15px;
}

.preview-tile-icon-small {
  padding: 0;
  margin-top: -5px;
}

.preview-tile-icon-payload-dictionary {
  padding: 0 15px;
}

h2 {
  font-size: 26px;
  padding: 0;
  margin: -10px 0 0 0;
}

h3 {
  font-size: 10px;
  padding: 0 0 10px 0;
  margin: 0;
}
