@import 'colors';

.search-bar-container
{
  background-color: white;
  width: 50%;
}

:host ::ng-deep  .page-content{
  overflow: hidden !important;
}

.search-results-container-height
{
  height: calc(100vh - 270px);
}

.label-block
{
  display: inline-block;
  vertical-align: middle;
}

.options-block 
{
  display: inline-block;
}