<section *ngIf="exchangeJob">
  <div class="d-flex">
    <h5 class="mb-3 font-weight-bold">Exchange Job</h5>
    <div *ngIf="selectedCompanyJob.IsPendingPeerUserReview">
      <button class="approve mr-2" (click)="handleApproveClick()">
        <fa-icon icon="check"></fa-icon>Approve
      </button>
      <button class="reject" (click)="handleRejectClick()">
        <fa-icon icon="times"></fa-icon>Reject
      </button>
    </div>
  </div>
  <div class="position-relative">
    <pf-async-container 
      [loading]="exchangeJobLoading || savingAssociation" 
      [loadingError]="exchangeJobLoadingError || savingAssociationError"
      [loadingErrorMessage]="'Unexpected Error Occurred'"
      [hideReloadButton]="true">
      <div class="info-row">
        <label class="font-weight-bold w-25 mb-0">Title:</label>
        <span>{{ exchangeJob.ExchangeJobTitle }}</span>
      </div>
      <div class="info-row">
        <label class="font-weight-bold w-25 mb-0">Family:</label>
        <span>{{ exchangeJob.ExchangeJobFamily }}</span>
      </div>
      <div class="info-row">
        <label class="font-weight-bold w-25 mb-0">Level:</label>
        <span>{{ exchangeJob.ExchangeJobLevel }}</span>
      </div>
      <div class="info-row border-0">
        <label class="font-weight-bold w-25">Description:</label>
        <ng-container *ngIf="exchangeJob.ExchangeJobDescription && exchangeJob.ExchangeJobDescription !== '#N/A'; else noDescription">
          <p [innerHTML]="exchangeJob.ExchangeJobDescription | jobDescriptionParser" class="exchange-job-description"></p>
        </ng-container>
        <ng-template #noDescription>
          <p class="font-italic">
            No Job Description Available
          </p>
        </ng-template>
      </div>
    </pf-async-container>
  </div>
</section>