<pf-modal-form
  [size]="'md'"
  [title]="'New Poll'"
  [primaryButtonText]="'Save Poll'"
  [submitting]="addingCommunityPoll$ | async"
  [isOpen$]="addCommunityPollModalOpen$"
  [formGroup]="addCommunityPollForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">
  <ng-container form-content>
    <div class="form-group">
      <label class="col-form-label" for="poll-question">Poll Question</label>
      <input type="text" class="form-control" [readonly]="addingCommunityPoll$ | async" placeholder="Question" formControlName="question" id="poll-question" [pfValidatable]="attemptedSubmit" pfFocus>
      <ng-container *ngIf="question.errors && attemptedSubmit">
        <div *ngIf="question.errors.required" class="invalid-feedback">Question is required.</div>
        <div *ngIf="question.errors.error" class="invalid-feedback">{{question.errors.error}}</div>
      </ng-container>
      <span *ngIf="!attemptedSubmit || !question.errors" class="pf-placeholder"></span>

      <br>
      <label class="col-form-label" for="responses">Poll Responses</label>
      <fieldset formArrayName="responses">
        <pf-community-poll-response
          *ngFor="let item of responses.controls; let i=index"
          [index]="i"
          [item]="item"
          (removed)="responses.removeAt($event)">
        </pf-community-poll-response>
      </fieldset>

      <button type="button" class="btn btn-secondary offset-sm-1" *ngIf="responses.length<10" (click)="addItem()" >Add another response option</button> 
    </div>
  </ng-container>
</pf-modal-form>