@import 'structures-variables';

.page-header {
  font-size: 2.5rem;
  color: $structures-header-blue;
  position: relative;
  align-items: center;
}

.page-icon {
  margin-right: .5rem;
  color: white;
  background: $structures-header-blue;
}

.page-title {
  font-weight: $structures-bold-font-weight;
  cursor: pointer;
}

.alert-information {
  font-size: 1rem;
  align-items: center;
}
