<div class="d-flex flex-row page-header">
  <span class="page-title">
      <ng-container [ngTemplateOutlet]="inEditModelNameMode ? editModeModelName : readonlyModeModelName"></ng-container>
    </span>
  <div class="d-flex m-2 alert-information" *ngIf="isEditModelNameLoading">
    <pf-loading-indicator [spinnerType]="'GIF'"></pf-loading-indicator>
  </div>
  <div class="d-flex m-2 px-1 alert alert-danger alert-information" *ngIf="editModelNameError">
    <fa-icon icon="exclamation-triangle" class="m-2 icon"></fa-icon>
    <span class="pr-1">{{editModelNameError}}</span>
  </div>
</div>

<ng-template #readonlyModeModelName>
  <span class="ignore-click-elsewhere page-title" (click)="setEditModelNameMode(true)">{{currentModelName}}</span>
</ng-template>
<ng-template #editModeModelName>
  <div class="w-100">
    <pf-input-debounce [delay]="400"
                       [(ngModel)]="newModelName"
                       [placeholderText]="'Enter Model Name...'"
                       [attr.data-qa-id]="'au-txt-edit-model-name-input'"
                       pfClickElsewhere [whitelist]="['ignore-click-elsewhere']"
                       (clickElsewhere)="setEditModelNameMode(false)"
                       (clearClicked)="updateNewModelName(null)">
    </pf-input-debounce>
  </div>
</ng-template>
