<pf-modal-form
  [size]="'lg'"
  [title]="'Add Companies'"
  [primaryButtonText]="primaryButtonText"
  [primaryButtonTextSubmitting]="primaryButtonTextSubmitting"
  [submitting]="addingCompanies$ | async"
  [isOpen$]="addCompaniesModalOpen$"
  [formGroup]="addCompaniesForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">

  <ng-container form-content>

    <pf-async-container
      [loading]="availableCompaniesLoading$ | async"
      [loadingError]="availableCompaniesLoadingError$ | async"
      [loadingErrorMessage]="'Error loading exchange companies'"
      (reload)="loadAvailableCompanies()">

      <div class="form-group">
        <pf-input-debounce id="search-box"
                           [focus]="true"
                           [delay]="400"
                           [(ngModel)]="searchTerm"
                           [ngModelOptions]="{standalone: true}"
                           [placeholderText]="'Search for a Company Name...'"
                           (valueChanged)="updateSearchFilter($event)">
        </pf-input-debounce>
      </div>

      <kendo-grid
        class="row-click-selects no-wrap-ellipsis-values"
        [data]="view$ | async"
        [pageSize]="(gridState$ | async)?.take"
        [skip]="(gridState$ | async)?.skip"
        [resizable]="true"
        [pageable]="{
          buttonCount: 5,
          info: true
        }"
        [selectable]="{
          checkboxOnly: true
        }"
        [height]="400"
        [sortable]="true"
        [sort]="(gridState$ | async)?.sort"
        [kendoGridSelectBy]="selectionKey"
        [selectedKeys]="selections$ | async"
        [rowClass]="rowClass"
        (pageChange)="handlePageChange($event)"
        (sortChange)="handleSortChange($event)"
        (cellClick)="handleCellClick($event)"
      >

        <kendo-grid-column field="CompanyName" title="Company Name" [width]="200"></kendo-grid-column>

        <kendo-grid-column field="Industry" title="Industry" [width]="100"></kendo-grid-column>

        <kendo-grid-column field="Revenue" title="Revenue">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.Revenue | humanizeNumber}}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="FTEs" title="FTEs"></kendo-grid-column>

        <kendo-grid-column field="City" title="City"></kendo-grid-column>

        <kendo-grid-column field="State" title="State"></kendo-grid-column>

        <kendo-grid-column field="Zip" title="Zip"></kendo-grid-column>

      </kendo-grid>

    </pf-async-container>

    <div class="form-group hidden-form-control">
      <input type="hidden" class="form-control" name="hasSelections" formControlName="selections" [ngModel]="selections$ | async" [pfValidatable]="attemptedSubmit"/>
      <ng-container *ngIf="selectionsControl.errors && attemptedSubmit">
        <div *ngIf="selectionsControl.errors.error" class="invalid-feedback">{{selectionsControl.errors.error}}</div>
      </ng-container>
    </div>

  </ng-container>

</pf-modal-form>

