@import 'kendo-grid';
.form-group.hidden-form-control {
  margin-bottom: 0;
}
.mapped .badge{
  width: 100px;
}

.job-pricing-limit-text {
  width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
