<div class="form-group no-margin-bottom" [formGroup]="structuresFormulaForm">
    <div class="form-group row">
        <div class="input-group">
          <input type="text" class="form-control" [placeholder]="'Formula Name'" [value]="formulaFieldObj.FieldName" [maxlength]="maxFieldNameLength"
            (change)="handleFormulaNameChange()" [ngClass]="{ 'is-invalid': attemptedSubmit && formControls.FieldName.invalid }"
            [pfValidatable]="true" ngbAutoFocus formControlName="FieldName" name="FormulaName"/>
        </div>
        <span *ngIf="attemptedSubmit && (formControls.FieldName.hasError('required') || formControls.FieldName.hasError('minLength'))" class="text-danger">Formula name required.</span>
    </div>
    <div class="form-group no-margin-bottom row">
      <div class="input-group">
        <div class="formula-tooltip-wrapper">
          <div class="fa-icon-wrapper">
            <fa-icon placement="right" [ngbTooltip]="formulaTooltip" icon="info-circle" aria-hidden="true"></fa-icon>
          </div>
        </div>
        <pf-formula-editor
        [initialFormula]="formula"
        [fieldSuggestions]="fieldSuggestions"
        [functionSuggestions]="functionSuggestions"
        [validating]="validating"
        [isValid]="isValidFormula"
        [disabled]="!isEditable"
        [isWaitingForValidation]="isWaitingForValidation"
        (formulaChanged)="handleFormulaChanged($event)">
        </pf-formula-editor>
      </div>
      <div *ngIf="attemptedSubmit && !formulaFieldObj.Formula" class="formula-required-error">
        <span class="text-danger">Formula required.</span>
      </div>
      <div *ngIf="(saveFormulaFieldError$ | async)">
        <span class="text-danger">{{(savingErrorMessage$ | async)}}</span>
      </div>
    </div>
</div>
