:host ::ng-deep a {
  margin-left: 0.5rem;
}

:host ::ng-deep div.form-check {
  margin-bottom: 0.5rem;
}

:host ::ng-deep div.form-group {
  margin-left: 1.5rem;
}

:host h4 {
  padding-top: 1.5rem;
  padding-bottom: .75rem;
  font-weight: 400;
}

:host h5 {
  padding-bottom: 1.5rem;
  font-weight: 400;
}

:host ::ng-deep label.form-check-label {
  margin-left: .25rem;
  font-weight: 500;
}

:host ::ng-deep a.btn {
  min-width: 5rem;
}

:host ::ng-deep a.btn.btn-primary:not(.btn-disabled) {
  background-color: rgb(0, 170, 255);
  color: white;
  border: none;
}

:host ::ng-deep a.btn.btn-outline-danger {
  border: none;
}

:host ::ng-deep a.btn.btn-outline-danger:hover {
  background-color: rgb(0, 170, 255);
}

:host ::ng-deep .blue {
  color: rgb(0, 170, 255)
}

// Success modal alert
:host ::ng-deep.modal-header {
  display: none;
}

:host .setup-complete-modal-header {
  font-weight: 500;
}

:host div.alert-success {
  border-width: 0 0 0 1rem;
  color: #203A02;
  border-color: #6EAC27;
}
