<div class="py-2">
    <kendo-multiselect
      [data]="data"
      [(ngModel)]="selectedItems"
      [textField]="name"
      [valueField]="id"
      [autoClose]="false"
      [placeholder]="placeholder"
      (valueChange)="filterItems(filterType,placeholder)"
      [id]="filterType"
      [popupSettings]="{animate : false, appendTo: 'component'}">

      <ng-template kendoMultiSelectItemTemplate let-dataItem>
        <input type="checkbox" class="k-checkbox"
               [checked]="isItemSelected(dataItem[id])">
        <label class="k-checkbox-label">{{ dataItem[name] }}</label>
      </ng-template>
    </kendo-multiselect>
  </div>
