@import 'colors';

.card-header{
  background-color: $header-background-color;
  color: white;
}

.card-body{
  background-color: $grey;
}

/* fixes blue box in chrome that appears when clicking the carousel */
.slide, .slide *{ outline: none !important; }
