@import 'colors';

.card-header{
  background-color:$header-background-color;
  color: white;
}

.card-body{
  background-color: $grey;
}

.poll-response-option-button-container{
  height: 40px;
  line-height: 15px;
}

.submit-button-container{
  color: cornflowerblue;
}

.inner-element{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  cursor: default;
}

.response-option-text-container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.response-submitted-container{
  background-color: $grey;
}

.selected-option-indicator{
  width: 2%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.poll-response-option-button:hover{
  background-color: #f4f4f4;
  border-color: #adadad;
}

.outer-element{
  padding-left: 15%;
  padding-right: 15%;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.selected{
  background-color: #42f489;
}

.poll-response-container{
  position: relative;
  line-height: 15px;
  height: 45px;
  border-radius: 3px;
  color: lightgrey;
}

.poll-response-no{
  background:white;
}

.poll-response-yes{
  background:teal;
}

.poll-response-question{
  width: 70%;
  word-break: normal;
  left: 2%;
}

.poll-response-percent{
  right: 2%;
  font-weight: bold;
}

.dismiss-poll-button {
  font-size: 12px;
  border:none; 
  text-decoration: underline;
  cursor: pointer;
}

/* fixes blue box in chrome that appears when clicking the carousel */
.slide, .slide *{ outline: none !important; }
