<pf-modal-form
  [size]="'md'"
  [title]="modalTitle"
  [primaryButtonText]="'Approve'"
  [primaryButtonTextSubmitting]="'Approving'"
  [primaryButtonClass]="'btn-success'"
  [secondaryButtonText]="'Cancel'"
  [submitting]="submittingApproval$ | async"
  [isOpen$]="approveRequestModalOpen$"
  [formGroup]="approveForm"
  (onSubmit)="handleFormSubmit()"
  (onDismiss)="handleModalDismissed()">

  <ng-container form-content>

    <ng-container>
      <p [innerHTML]="modalText"> </p>
      <div class="flex-grow-1 d-flex flex-column form-group mb-0">
        <div class="d-flex flex-row">
          <div>
            <input type="radio" id="NoOne" value="NoOne" formControlName="peopleToNotify">
            <label for="NoOne" class="radio-label">No One</label>
          </div>
          <div>
            <input type="radio" id="RequestorOnly" value="RequestorOnly" formControlName="peopleToNotify">
            <label for="RequestorOnly" class="radio-label">Requestor Only</label>
          </div>
          <div>
            <input type="radio" id="AllExchangeParticipants" value="AllExchangeParticipants" formControlName="peopleToNotify">
            <label for="AllExchangeParticipants" class="radio-label">All Exchange Participants</label>
          </div>
        </div>
      <textarea
        maxlength="1000"
        id="approve-reason"
        class="form-control text-area-no-resize"
        rows="5"
        name="reason"
        formControlName="reason"
        [placeholder]="approvalPlaceholder"
      ></textarea>
      </div>

    </ng-container>

  </ng-container>

</pf-modal-form>
