<ng-template #popContent>
  <div class="export-status-container p-3 space-out-children">
    <h6>Status</h6>
    <input id="export-status-published" type="checkbox" value="Published" (change)="handleExportStatusClick($event)" checked="checked">
    <label for="export-status-published">Published</label>

    <input id="export-status-review" type="checkbox" value="In Review" (change)="handleExportStatusClick($event)">
    <label for="export-status-review">In Review</label>

    <input id="export-status-draft" type="checkbox" value="Draft" (change)="handleExportStatusClick($event)">
    <label for="export-status-draft">Draft</label>

    <br />

    <input type="checkbox" id="includeHtmlFormatting" name="includeHtmlFormatting" [(ngModel)]="includeHtmlFormatting">
    <label for="includeHtmlFormatting">Include Formatting</label>
  </div>
  <ng-container *ngIf="isUserDefinedViewsAvailable()">
    <kendo-dropdownlist class="view-dropdown p-3"
                        [defaultItem]="'Default'"
                        [data]="jobDescriptionListViews"
                        [popupSettings]="{appendTo: 'component'}"
                        (valueChange)="handleViewChanged($event)">
    </kendo-dropdownlist>
  </ng-container>
  <div class="control-label-container p-3">
    <pf-async-container [loading]="controlLabelsLoading || jobInformationFieldsLoading"></pf-async-container>

    <pf-job-information-fields
      (selectedJobInformationFieldsString)="selectedJobInformationFieldsString($event)"></pf-job-information-fields>

    <div *ngFor="let controlLabel of controlLabels" class="form-check pb-1">
      <label class="form-check-label w-100">
        <input class="form-check-input" type="checkbox" [attr.data-control-label]="stringify(controlLabel)" (change)="toggleControlLabel($event)" [checked]="viewSelected">
        {{ controlLabel.Label }}<br />
        <span *ngIf="controlLabel.TemplateName" class="control-label-template-name">Template: {{ controlLabel.TemplateName }}</span>
      </label>
    </div>

    <div class="d-flex justify-content-center">
      <h5 class="p-3" *ngIf="noPublishedJobDescriptions">No Published Job Descriptions</h5>
      <h5 class="p-3" *ngIf="!controlLabels?.length && !noPublishedJobDescriptions && !controlLabelsLoading">No Content to Export</h5>
    </div>
  </div>
  <div class="footer d-flex justify-content-end p-2">
    <button [disabled]="isExportButtonDisabled()"
            (click)="export()" class="btn btn-primary">
      Export
    </button>
  </div>
</ng-template>

<button type="button"
        title="Bulk Export"
        id="export-popover-btn"
        class="btn btn-secondary"
        placement="bottom-right"
        popoverTitle="Choose Content to Export"
        #p="ngbPopover"
        [ngbPopover]="popContent"
        (shown)="open.emit(); handlePopoverShown()"
        [autoClose]="'outside'">
  <fa-icon icon="download"></fa-icon>
</button>
