.job-info-heading {
  border-left: 1px solid #ddd;
}

.job-info table{
  border: 1px solid #ddd;
  margin-bottom: 0px;
}

img.company-logo-default {
  max-height: 150px;
  min-width: 1px;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}
