<div class="card mb-3">
  <div class="card-block job-info">
    <div class="row">
      <div class="col-4">
        <div class="h-100 p-3 d-flex align-items-center justify-content-center">
          <img alt="" *ngIf="(jobDescription?.CompanyLogo?.length || companyLogoPath?.length) && !imageError" class="company-logo-default img-fluid" [src]="jobDescription?.CompanyLogo?.length ? publicBaseUrl + jobDescription?.CompanyLogo : companyLogoPath" (error)="onImageError()" />
          <h3 *ngIf="!(jobDescription?.CompanyLogo?.length || companyLogoPath?.length) || imageError" >{{companyName}}</h3>
        </div>
      </div>
      <div [class.col-8]="jobDescription?.CompanyLogo?.length || companyLogoPath?.length || !showingLibrary" [class.col-12]="!companyLogoPath?.length && !jobDescription?.CompanyLogo?.length && showingLibrary">
        <table class="table">
          <tbody>
            <tr *ngIf="!isPublic">
            <th class="job-info-heading">Status:</th>
            <td>
              <pf-status-pill [status]="jobDescription?.JobDescriptionStatus"></pf-status-pill>
            </td>
            <th class="job-info-heading">Version:</th>
            <td>{{jobDescription?.JobDescriptionRevision}}</td>
          </tr>
          <tr *ngIf="!isPublic">
            <th class="job-info-heading">Created By:</th>
            <td>{{jobDescription?.CreatedBy}}</td>
            <th class="job-info-heading">Created Date:</th>
            <td>{{jobDescription?.CreatedDate | date:'MM/dd/yyyy, hh:mm aa'}}</td>
          </tr>
          <tr *ngFor="let jobInfoFieldRow of jobInfoFieldRows">
            <ng-template ngFor let-jobInformationField [ngForOf]="jobInfoFieldRow.fields">
              <th class="job-info-heading">{{jobInformationField.DisplayName}}{{jobInformationField.DisplayName.length ? ':' : ''}}</th>
              <td>{{jobInformationField?.DisplayName?.toString() === 'Last Updated Date' ? (jobInformationField.FieldValue | date:'MM/dd/yyyy, hh:mm aa') : jobInformationField.FieldValue}}</td>
            </ng-template>
          </tr>
          <tr *ngIf="!isPublic && (jobDescription?.AppliesToField || jobDescription?.JobDescriptionTitle)">
            <th class="job-info-heading">Job Description Title:</th>
            <td>{{jobDescription?.JobDescriptionTitle}}</td>
            <th class="job-info-heading">Applies To:</th>
            <td>
                            <span *ngFor="let appliesTo of jobDescriptionAppliesToItems | jobDescriptionAppliesToDisplayName:jobDescription?.AppliesToField">
                                {{ appliesTo.DisplayName }}
                            </span>

              <span *ngIf="jobDescription?.AppliesToField"> - </span>

              {{ jobDescription?.AppliesToValue }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
