<div [ngSwitch]="tile.PreviewType">
  <h1>{{ tile.TileName }}</h1>

  <!-- Tile Inner Content -->
  <pf-tile-preview-chart *ngSwitchCase="tileContentType.Chart"
                         [iconClass]="tile.IconClass">

  </pf-tile-preview-chart>

  <pf-tile-preview-icon *ngSwitchCase="tileContentType.Icon"
                        [iconClass]="tile.IconClass">
  </pf-tile-preview-icon>

  <pf-tile-preview-list *ngSwitchCase="tileContentType.List"
                        [iconClass]="tile.IconClass">
  </pf-tile-preview-list>
</div>
