<div class="tile m-0 p-1"
     [ngSwitch]="tile.PreviewType"
     [ngClass]="tile.CssClass"
     >

  <h4>{{ tile.Label }}</h4>

  <!-- Tile Inner Content -->
  <pf-tile-preview-chart *ngSwitchCase="tileContentType.Chart"
                         [iconClass]="tile.IconClass">
  </pf-tile-preview-chart>

  <pf-tile-preview-icon *ngSwitchCase="tileContentType.Icon"
                        [iconClass]="tile.IconClass">
  </pf-tile-preview-icon>

  <pf-tile-preview-list *ngSwitchCase="tileContentType.List"
                        [iconClass]="tile.IconClass">
  </pf-tile-preview-list>

</div>
