@import 'colors';
@import 'styles';

.user-voice-container{
  position: absolute;
  right: 5px;
  bottom: 20px;
  opacity: 0.75;
  background-color: transparent;
}

.user-voice-container:hover {
  opacity: 1.0;
}

.user-voice-icon-color {
  color: $user-voice-icon-color;
}

