<ul ngbNav #nav="ngbNav" [animation]="false" [destroyOnHide]="false" class="nav-tabs" [(activeId)]="activeId">
  <li [ngbNavItem]="entity.toLowerCase()" *ngFor="let entity of selectedEntities"
           [id]="'tab-'+ entity.toLowerCase()">
    <a ngbNavLink>
      <h4 class="font-weight-lighter">{{entity | orgDataEntityTypeToDisplayName}}</h4>
    </a>
    <ng-template ngbNavContent>
      <pf-entity-field-selection
        [entityType]="entity"
        [entityGroupName]="entity.toLowerCase() + '-associated-bag'"
        [sourceName]="sourceName"
        [targetName]="targetName">
      </pf-entity-field-selection>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
