<pf-comphub-page-layout
  pageTitle="Jobs"
  pageSubTitle="First, let's find a job to price"
  pageIconClass="fa-user-circle">

  <ng-container page-content>
    <div class="job-search-section">
    <div class="d-flex">
      <kendo-autocomplete
        class="flex-grow-1"
        placeholder="Search for a Job Title..."
        [data]="jobSearchOptions$ | async"
        [filterable]="true"
        [loading]="loadingJobSearchOptions$ | async"
        [popupSettings]="popupSettings"
        (valueChange)="handleJobSearchValueChanged($event)"
        (filterChange)="handleJobSearchFilterChange($event)">
        <ng-template kendoAutoCompleteNoDataTemplate>
          No matching job titles
        </ng-template>
      </kendo-autocomplete>
    </div>
    </div>

    <div class="trending-jobs-section">
      <div class="header">Trending Jobs</div>
      <p class="mb-5">Check out these recently priced jobs that are trending across the Payfactors' universe!</p>

      <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor="let trendingJobGroup of trendingJobGroups$ | async">
          <pf-trending-job-group
            [trendingJobGroup]="trendingJobGroup">
          </pf-trending-job-group>
        </div>
      </div>

    </div>
  </ng-container>

  <ng-container actions-section>
    <div class="actions-section">
      <button class="btn comphub-primary-btn"
              [attr.data-qa-id]="'btn-next'"
              (click)="nextButtonClicked()"
              [disabled]="!(selectedJob.length)">Next</button>
    </div>
  </ng-container>

</pf-comphub-page-layout>
