<pf-comphub-page-layout
  pageTitle="Jobs"
  pageSubTitle="First, let's find a job to price"
  pageIconClass="fa-user-circle">

  <ng-container page-content>

    <div class="row">
      <div class="col-12 col-lg-12 col-xl-9">
        <kendo-autocomplete
          class="w-100 mt-4"
          placeholder="Search for a Job Title..."
          [data]="jobSearchOptions$ | async"
          [filterable]="true"
          [loading]="loadingJobSearchOptions$ | async"
          [popupSettings]="popupSettings"
          (valueChange)="handleJobSearchValueChanged($event)"
          (filterChange)="handleJobSearchFilterChange($event)">
          <ng-template kendoAutoCompleteNoDataTemplate>
            No matching job titles
          </ng-template>
        </kendo-autocomplete>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-9">
        <div class="uppercase-header mt-5 mb-2">Trending Jobs</div>
        <p class="mb-4">Check out these recently priced jobs that are trending across the Payfactors' universe!</p>

        <div class="row">
          <div class="col-6" *ngFor="let trendingJobGroup of trendingJobGroups$ | async">
            <pf-trending-job-group
              [trendingJobGroup]="trendingJobGroup"
              (trendingJobClicked)="handleTrendingJobClicked($event)">
            </pf-trending-job-group>
          </div>
        </div>
      </div>
    </div>




  </ng-container>

  <ng-container actions-section>
    <div class="actions-section">
      <button class="btn comphub-primary-btn"
              [attr.data-qa-id]="'btn-next'"
              (click)="nextButtonClicked()"
              [disabled]="!(selectedJob.length)">Next</button>
    </div>
  </ng-container>

</pf-comphub-page-layout>
