<pf-comphub-page-layout
  pageTitle="Jobs"
  pageSubTitle="First, let's find a job to price"
  pageIconClass="fa-user-circle">

  <ng-container page-content>
    <div class="job-search-section">
    <div class="d-flex">
      <kendo-autocomplete
        #list
        class="flex-grow-1"
        placeholder="Search for a Job Title..."
        [data]="jobSearchOptions$ | async"
        [filterable]="true"
        [popupSettings]="popupSettings"
        [loading]="loadingJobSearchOptions$ | async">
        <ng-template kendoAutoCompleteNoDataTemplate>
          No matching job titles
        </ng-template>
      </kendo-autocomplete>
    </div>
    </div>

    <div class="trending-jobs-section">
      <div class="header">Trending Jobs</div>
      <p class="mb-5">Check out these recently priced jobs that are trending across the Payfactors' universe!</p>

      <pf-trending-job-group [groupName]="'Hot Jobs - Overall'" [trendingJobs]="trendingJobs$ | async"></pf-trending-job-group>
    </div>
  </ng-container>

  <ng-container actions-section>
    <div class="actions-section">
      <button class="btn comphub-primary-btn">Next</button>
    </div>
  </ng-container>

</pf-comphub-page-layout>
