@import 'app-colors';

.button-container {
  padding: .85rem .5rem .25rem .5rem;
}

.map-container {
  height: min-content;
}

.filters-container {
  width: 275px;
}

.btn-primary.btn-primary-legacy {
  background-color: $legacy-green;
  border-color: $legacy-green;
}

.btn-secondary {
  background-color: #DDDDDD;
  border-color: #666666;
  color: #000000;
}

.buttons .btn{
  margin-left: .35rem;
}

.alert-mustard {
  color: #1f2f3d;
  background-color: #fbb116;
  border-color: #1f2f3d;
  min-height: 135px;
  font-size: 13pt;
  border-radius: 0 !important;
}

.request-access-message {
  min-height: 78px;
}
