@import 'app-colors';

.button-container {
  padding: .85rem .5rem .25rem .5rem;
}

.map-container {
  height: min-content;
}

.filters-container {
  width: auto;
  height: 100%;
}

.btn-primary.btn-primary-legacy {
  background-color: $legacy-green;
  border-color: $legacy-green;
}

.btn-secondary {
  background-color: #DDDDDD;
  border-color: #666666;
  color: #000000;
}

.buttons .btn{
  margin-left: .35rem;
}
