.title {
  font-size: 16px;
}

.arrow-icon {
  padding-top: 0.3rem;
}

.field-group-title{
  font-size: 16px;
  font-weight: 500;
}

.field-container {
  padding-left: 3rem;
  padding-right: 5rem;
  flex-wrap: wrap;
}

.group {
  margin-right: 5rem;
}