<ng-container *ngIf="surveyJobFilter?.Values?.length">
  <pf-data-grid
    [pageViewId]="pageViewId + '_' + surveyJobFilter.Values[0]"
    [showTitle]="false"
    [allowSort]="false"
    [hasHeaderDividers]="true"
    [hasColDividers]="true"
    [defaultSort]="defaultSort"
    [actionBarConfig]="actionBarConfig"
    [headerClassName]="'surveys-page-sub-grid-header'"
    [gridConfig]="gridConfig"
    [useReportingDB]="true"
    [inboundFilters]="[surveyJobFilter, matchedFilter, countriesFilter]"
    [pageable]="!gridConfig.EnableInfiniteScroll"
    [borders]="false"
    [columnTemplates]="colTemplates"
    [fieldsExcludedFromCellClick]="fieldsExcludedFromCellClick">
  </pf-data-grid>
</ng-container>

<ng-template #weightingTypeColumn let-dataRow="dataRow">
  <span [innerHTML]="dataRow['SurveyData_WeightingType'] | weightingType | emptyPlaceholder"></span>
</ng-template>

<ng-template #currencyColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow[fieldName] | comp: 'Annual' | emptyPlaceholder"></span>
  </div>
</ng-template>

<ng-template #numericColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow[fieldName] | comp: 'Annual' : 'full' | emptyPlaceholder"></span>
  </div>
</ng-template>

<ng-template #matchesColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    <div class="d-inline-block" ngbDropdown #p="ngbDropdown" placement="left" container="body" >
      <p *ngIf="dataRow['SurveyData_SurveyDataMatchesCount'] > 0; else noLink" class="pf-link-hover" [id]="'surveyData' + dataRow['CompanySurveys_Survey_ID']" ngbDropdownAnchor
         (click)="handleMatchesClicked(jobType.SurveyCut, dataRow['SurveyData_Survey_Data_ID'], '', p)">
        {{dataRow[fieldName]}}
      </p>
      <div ngbDropdownMenu aria-labelledby="surveyDataMatches">
        <ul (scroll)="scroll($event)" class="list-unstyled overflow-auto matches-container">
          <li pfEllipsisActive *ngFor="let match of (surveyDataMatches$ | async)?.obj" class="ellipsis-overflowing-text" title="{{match}}" ngbDropdownItem>
            {{match}}
          </li>
        </ul>
      </div>
    </div>
    <ng-template #noLink>
      {{dataRow[fieldName]}}
    </ng-template>
  </div>
</ng-template>
