<ng-container *ngIf="surveyJobFilter?.Values?.length">
  <pf-data-grid
    [pageViewId]="pageViewId + '_' + surveyJobFilter.Values[0]"
    [showTitle]="false"
    [allowSort]="false"
    [hasHeaderDividers]="true"
    [hasColDividers]="true"
    [defaultSort]="defaultSort"
    [actionBarConfig]="actionBarConfig"
    [gridConfig]="gridConfig"
    [useReportingDB]="true"
    [inboundFilters]="[surveyJobFilter, matchedFilter]"
    [pageable]="!gridConfig.EnableInfiniteScroll"
    [borders]="false"
    [columnTemplates]="colTemplates">
  </pf-data-grid>
</ng-container>

<ng-template #scopeColumn let-dataRow="dataRow">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    {{dataRow['SurveyData_Scope1']}} / {{dataRow['SurveyData_Scope2']}} / {{dataRow['SurveyData_Scope3']}}
  </div>
</ng-template>

<ng-template #currencyColumn let-dataRow="dataRow" let-fieldName="fieldName">
  <div pfEllipsisActive class="ellipsis-overflowing-text">
    <span [innerHTML]="dataRow[fieldName] | comp: rate | emptyPlaceholder"></span>
  </div>
</ng-template>
