<div class="p-3 mb-3">
  <p>Enter the {{fieldValues?.length ? 'values' : 'value'}} that will get converted for {{fieldName}}</p>
  <p class="pb-2">
    The accepted {{fieldValues?.length > 1 ? 'values' : 'value'}} for the {{fieldName}} field {{fieldValues?.length ? 'are' : 'is'}} {{formatFieldValuesList()}}, if you are sending values other than {{fieldValues?.length ? 'those' : 'that'}} enter them in the appropriate field below and they will be converted to the accepted value.
    {{formatFieldValuesList()}} will always be accepted as valid {{fieldValues?.length > 1 ? 'values' : 'value'}} in this field.
  </p>
  <div class="container border">
    <div class="row border-bottom">
      <div class="col-8 col-sm-8 font-weight-bold border-right py-2">What I'll send</div>
      <div class="col-4 col-sm-4 font-weight-bold  py-2">Expected</div>    
    </div>
    <form #translateDataForm="ngForm">
      <div *ngFor="let value of fieldValues">
        <div class="row border">
          <div class="col-8 col-sm-8 p-2">
            <input type="text" 
                  class="form-control mb-1" 
                  [(ngModel)]=value.ClientValues
                  name="{{value.PayfactorsName}}"
                  placeholder="Enter provided values here (separate multiple values with a comma)" required>
          </div>
          <div class="col-4 col-sm-4 p-2 border-left">
            <div class="d-inline-flex p-2">{{value.PayfactorsName}}</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary px-3 float-right" (click)="saveClick()" [disabled]="!translateDataForm.valid">Save</button>
  <button class="btn btn-outline-primary px-3 float-right" (click)="cancelClick()">Cancel</button>
</div>
