<div class="form-container container">

  <h4 class="uppercase-header">ADD NEW PAY MARKET</h4>
  <form [formGroup]="addPayMarketForm">

    <div class="form-content row">

      <div class="col-12 col-lg-5">
        <label for="name">Name</label>
        <input type="text" class="form-control"
          [attr.data-qa-id]="'txt-payMarketName'"
          [class.is-invalid]="showErrorMessages && (savingConflict || savingError)"
          formControlName="name"
          [placeholder]="'Pay Market Name...'"
          [pfFocus]="true"
          [pfFocusElementShowing]="isOpen"
          (input)="showErrorMessages = false" />
      </div>

      <div class="col-12 col-lg-4">
        <label for="country">Country</label>
        <kendo-dropdownlist class="form-control border"
          [attr.data-qa-id]="'ddm-country'"
          formControlName="country"
          [data]="countryList"
          [textField]="'Name'"
          [valueField]="'Value'"
          [defaultItem]="defaultCountry">
        </kendo-dropdownlist>
      </div>

      <div class="col-12 col-lg-3">
        <label for="currency">Currency</label>
        <kendo-dropdownlist class="border form-control"
          [attr.data-qa-id]="'ddm-currency'"
          formControlName="currency"
          [data]="currencyList"
          [textField]="'Name'"
          [valueField]="'Value'"
          [defaultItem]="defaultCurrency">
        </kendo-dropdownlist>
      </div>

    </div>
    
    <div class="form-content row">
      <div class="col-12 col-lg-5">
        <label for="location">Location</label>
        <kendo-autocomplete
          [attr.data-qa-id]="'txt-location'"
          class="form-control"
          formControlName="location"
          [data]="locations"
          [placeholder]="'Search by City...'"
          [filterable]="true"
          [valueField]="'Value'"
          (filterChange)="handleLocationFilter($event)">
        </kendo-autocomplete>
      </div>

      <div class="col-12 col-lg-4">
        <label for="industry">Industry</label>
        <kendo-dropdownlist class="form-control border"
          [attr.data-qa-id]="'ddm-industry'"
          formControlName="industry"
          [listHeight]="100"
          [filterable]="true"
          [data]="scopeIndustryData"
          [textField]="'Name'"
          [valueField]="'Value'"
          (filterChange)="handleIndustryFilter($event)">
        </kendo-dropdownlist>
      </div>

      <div class="col-12 col-lg-3">
        <label for="size">Size</label>
        <kendo-dropdownlist class="form-control border"
          [attr.data-qa-id]="'ddm-size'"
          formControlName="size"
          [data]="sizes"
          [textField]="'Name'"
          [valueField]="'Value'">
        </kendo-dropdownlist>
      </div>

    </div>

    <div class="form-content row form-actions-section">
      <div class="col-12 d-flex justify-content-end">
        <ng-container *ngIf="showErrorMessages">
          <span class="text-danger" *ngIf="savingConflict">Name in use. Please choose a unique pay market name.</span>
          <span class="text-danger" *ngIf="savingError">Error Saving Pay Market.</span>
        </ng-container>
        <div class="button-container space-out-children">
          <button type="button" class="btn comphub-primary-btn"
            [attr.data-qa-id]="'btn-save'"
            [disabled]="submitDisabled"
            (click)="submit()">
            <span *ngIf="saving">
              <pf-loading-indicator></pf-loading-indicator> Saving
            </span>
            <span *ngIf="!saving">Save</span>
          </button>
          <button type="button" class="btn btn-secondary"
            [attr.data-qa-id]="'btn-skip'"
            (click)="dismiss()">Skip</button>
        </div>
      </div>
    </div>

  </form>

</div>
